<form action="#none" class="pure-form pure-form-stacked filter-panel" name="outputTemplateResultsFilterForm">
  <div class="panel bordered">
    <div>
      <h3 class="alt2" tabindex="0">{{labels.filterBy}}</h3>
    </div>
    <div id="outputTemplateResultsFilter">
      <div class="pure-g-r">
        <div class="pure-u-1-4 l-box">
          <label for="outputTemplateResultsFilter_name">{{labels.name}}</label>
          <input class="pure-input-1" id="outputTemplateResultsFilter_name" maxlength="255" name="name" type="text" value="{{modelData.name}}">
        </div>
        <div class="pure-u-1-4 l-box">
          <fieldset class="l-box">
            <legend>{{labels.status}}</legend>
            {{#each otherData.statusList}}
              <label class="pure-checkbox" for="outputTemplateResultsFilter_{{name}}">
                <input aria-label="{{name}}" id="outputTemplateResultsFilter_{{name}}" name="status" type="checkbox" value="{{code}}">
                {{name}}
              </label>
            {{/each}}
          </fieldset>
        </div>
        <div class="pure-u-1-2 l-box">
          <label for="outputTemplateResultsFilter_formDefinitionId">{{labels.formDefinitionId}}</label>
          <select class="pure-input-1" id="outputTemplateResultsFilter_formDefinitionId" multiple="multiple" name="formDefinitionId" size="3">
            <option value=""></option>
          </select>
          <label for="outputTemplateResultsFilter_category">{{labels.outputCategory}}</label>
          <select class="pure-input-1" id="outputTemplateResultsFilter_category"  multiple="multiple" name="category" size="3">
          </select>
        </div>
        <div class="pure-u-1 l-box">
          <div class="pure-button-group pull-right">
            <input type="button" data-reset="reset" class="pure-button pure-button-secondary" value="Reset" aria-label="Reset all filters">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>