<form action="#none" id="outputTemplateGenerateForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1 l-box">{{message}}</div>
    <div class="pure-u-1-2 l-box">		
      <label for="formDefinitionId-input">{{labels.formDefinitionId}}<span class="mandatory"> *</span></label>
      <select name="formDefinition" class="pure-input-1" id="formDefinitionId-input"></select>
    </div>
  </div>
</form>