<div class="pure-g-r">
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.outputName}}</div>
    <div class="value">{{modelData.outputName }}</div>
    <div class="name">{{labels.outputCategory}}</div>
    <div class="value">{{codedEntry modelData.category codedEntries.outputCategory}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.supportedFormats}}</div>
    <div class="record">
      <ul class="inline">
      {{#if modelData.supportedFormats}}
        {{#each modelData.supportedFormats}}
          <li>{{this}}</li>
        {{/each}}
      {{else}}
        <li>any</li>
      {{/if}}
      </ul>
    </div>
    <div class="name">{{labels.useForSubjectAccessRequest}}</div>
    <div class="value">
      {{#if modelData.useForSubjectAccessRequest}}Yes{{else}}No{{/if}}
    </div>
  </div>
  <div class="pure-u-1 l-box">
    <div class="name">{{labels.formDefinitionName}}</div>
    <div id="subTypes" class="record">
      <ul>
        {{#modelData.formDefinitions}}
            <li>{{name}} (Version: {{version}})</li>
        {{/modelData.formDefinitions}}
      </ul>
    </div>
  </div>
  <div class="pure-u-1 l-box">
    <div class="name">{{labels.description}}</div>
    <div class="value">{{textFormat  modelData.description}}</div>
  </div>
</div>