<div class="pure-g-r readonly">
	{{#otherData}}  
		{{#include parent=..}}  
			{{> outputTemplateNarrative}}
		{{/include}}
	{{/otherData}}
	<div class="pure-u-1 l-box">{{message}}</div>   			
</div>
