{{#if anyActive}}
    <span>{{labels.filter}}</span>
    
  {{#if activeFilter.name}}
    <span class="label">{{labels.name}}<a href="#name" aria-label="Remove name filter"> <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  {{#if activeFilter.status}}
    <span class="label">{{labels.status}}<a href="#status" aria-label="Remove status filter"> <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  {{#if activeFilter.category}}
    <span class="label">{{labels.outputCategory}}<a href="#category" aria-label="Remove category filter"> <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  <a href="#reset" class="small" aria-label="Reset all filters">Reset all</a>
{{/if}}
