<form action="#none" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    {{#modelData}}
    <div class="pure-u-1 l-box">
      <fieldset id="templateWrapper">
        <div>
          <label for="outputCategory">{{../labels.outputCategory}}</label>
          <select class="pure-input-1 optional" id="outputCategory" name="category"></select>
        </div>
        <div>
          <label for="availableTemplates">{{../labels.availableTemplates}} <span class="mandatory">*</span></label>
          <select class="pure-input-1" id="availableTemplates" name="availableTemplates"></select>
        </div>
        <div>
          <label for="outputFormat">{{../labels.outputFormat}} <span class="mandatory">*</span></label>
          <select class="pure-input-1" id="outputFormat" name="outputFormat"></select>
        </div>
        <div id="outputPersonListContainer" hidden>
          <label for="persons">{{../labels.personList}} <span class="mandatory">*</span></label>
          <select multiple class="pure-input-1" id="outputPersonList" name="outputPersonList" size="6"></select>
        </div>
      </fieldset>
    </div>
    {{/modelData}}
  </div>
</form>