<form action="#none" id="outputTemplateUpdateForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <label for="outputName-input">{{labels.outputName}}<span class="mandatory"> *</span></label>
      <input type="text" class="pure-input-1" id="outputName-input" name="outputName" maxlength="255" value="{{modelData.outputName}}" />
      <label for="outputName-category">{{labels.outputCategory}}</label>
      <select name="category" class="pure-input-1 optional" id="outputName-category">
        <option value=""></option>
      </select>
    </div>
    
    <div class="pure-u-1-2 l-box">
      <fieldset id="supportedFormats-input">
        <legend>{{labels.supportedFormats}}<span class="mandatory"> *</span></legend>
        <label class="pure-checkbox inline">
            <input type="checkbox" value="PDF" name="supportedFormats" {{#inArray "PDF" modelData.supportedFormats}}checked="checked"{{/inArray}} />
            <span>{{labels.formats.PDF}}</span>
        </label>
        <label class="pure-checkbox inline">
            <input type="checkbox" value="DOC" name="supportedFormats" {{#inArray "DOC" modelData.supportedFormats}}checked="checked"{{/inArray}} />
            <span>{{labels.formats.DOC}}</span>
        </label>
        <label class="pure-checkbox inline">
            <input type="checkbox" value="ODT" name="supportedFormats" {{#inArray "ODT" modelData.supportedFormats}}checked="checked"{{/inArray}} />
            <span>{{labels.formats.ODT}}</span>
        </label>
      </fieldset>
      <fieldset id="useForSubjectAccessRequest-input">
        <legend>{{labels.useForSubjectAccessRequest}}</legend>
        <label class="pure-radio">
          <input type="radio" value="true" name="useForSubjectAccessRequest" {{#if modelData.useForSubjectAccessRequest}}checked {{/if}}/>
          <span>Yes</span>
        </label>
        <label class="pure-radio">
          <input type="radio" value="false" name="useForSubjectAccessRequest" {{#unless modelData.useForSubjectAccessRequest}}checked {{/unless}}/>
          <span>No</span>
        </label>
      </fieldset>
    </div>
    <div class="pure-u-1 l-box">
      <label for="description-input">{{labels.description}}</label>
      <textarea name="description" class="pure-input-1" id="description-input" rows="5" maxlength="160" >{{modelData.description}}</textarea>
    </div>
  </div>
</form>