@import "../../message/less/message.less";

#filterContext {
    margin-bottom: 10px;
}
a span i {
    padding: 1px;
    color: #ffffff;
}

.label {
    padding: 0 3px;

    a {
        .closeButton {
            padding: 0 0 0 5px;
        }
    }
}

.resultsFilter {
    display: block;
}

.filterIcon {
    padding: 0 4px;

    i {
        color: #555555;
    } 
}

.usp-tabview {
    .usp-tabview-panel {
        background-color: #ffffff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: 1px solid #b9b9b9;
        border-right: 1px solid #b9b9b9;
        border-bottom: 1px solid #b9b9b9;
    }
}

