<form action="#none" class="pure-form pure-form-stacked filter-panel" id="filterForm">
  <div class="panel bordered">
    <div>
      <h3 class="alt2" tabindex="0">{{labels.filterBy}}</h3>
    </div>
    <div>
      <div class="pure-g-r">
        <div class="pure-u-1-5 r-box">
					<fieldset>
						<legend>{{labels.type}}</legend>
						{{#each otherData.fosterCareType}}
							<label for="matchingFilter_{{name}}" class="pure-checkbox"> 
								<input id="matchingFilter_{{name}}" type="checkbox" name="fosterCareType" value="{{code}}" aria-label="{{name}}" />
								{{name}}
							</label> 
						{{/each}}
					</fieldset>
				</div>
				<div class="pure-u-1-5 l-box">
					<fieldset class="l-box">
						<legend>{{labels.gender}}</legend>
						{{#each otherData.gender}}
							<label for="matchingFilter_{{name}}" class="pure-checkbox"> 
								<input id="matchingFilter_{{name}}" type="radio" name="gender" value="{{code}}" aria-label="{{name}}" />
								{{name}}
							</label> 
						{{/each}}
					</fieldset>
				</div>
				<div class="pure-u-1-5 l-box">
					<fieldset class="l-box">
						<legend>{{labels.disability}}</legend>
						{{#each otherData.supportsDisabled}}
							<label for="matchingFilter_{{name}}" class="pure-checkbox">
								<input id="matchingFilter_{{name}}" type="radio" name="supportsDisabled" value="{{code}}" aria-label="{{name}}" />
								{{name}}
							</label> 
						{{/each}}
					</fieldset>
				</div>
				<div class="pure-u-1-5 l-box">
					<fieldset class="l-box">
						<label style="margin-top:1px; padding-bottom:5px;">{{labels.age}}</label>
						<select name="supportsAge">
							<option value></option>
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
						</select>
					</fieldset>
				</div>
				<div class="pure-u-1 l-box">
          <div class="pure-button-group pull-right">
            <input type="button" id="matchingFilter_clearAll" class="pure-button pure-button-secondary" value="Reset" aria-label="Reset subject filters">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>