{{#if anyActive}}
  <span>{{labels.filter}}</span>
  {{#if activeFilter.fosterCareType}}
    <span class="label">{{labels.type}}<a href="#none" data-reset="fosterCareType" aria-label="">
      <i class="fa fa-times-circle"></i></a>
     </span>
  {{/if}}
  {{#if activeFilter.gender}}
    <span class="label">{{labels.gender}}<a href="#none" data-reset="gender" aria-label="">
      <i class="fa fa-times-circle"></i></a>
     </span>
  {{/if}}
  {{#if activeFilter.supportsAge}}
    <span class="label">{{labels.age}}<a href="#none" data-reset="supportsAge" aria-label="">
      <i class="fa fa-times-circle"></i></a>
     </span>
  {{/if}}
  {{#if activeFilter.supportsDisabled}}
    <span class="label">{{labels.disabled}}<a href="#none" data-reset="supportsDisabled" aria-label="">
      <i class="fa fa-times-circle"></i></a>
     </span>
  {{/if}}
   <a href="#none" id="reset-all" data-reset="reset" class="small" aria-label="{{labels.resetAllTitle}}">{{labels.resetAll}}</a>
{{/if}}