<form id="addLocationForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r" id="addLocation-wrapper">
        <div class="pure-u-1-2 l-box" id="primaryNameOrNumber-wrapper">
            <label for="location_primaryNameOrNumber">{{labels.primaryNameOrNumber}}<span class="mandatory"> *</span></label>
            <input type="text" class="pure-input-1" name="primaryNameOrNumber" id="location_primaryNameOrNumber"
                maxlength="35" />
        </div>

        <div class="pure-u-1-2 l-box" id="street-wrapper">
            <label for="location_street">{{labels.street}}<span class="mandatory"> *</span></label>
            <input type="text" class="pure-input-1" name="street" id="location_street" maxlength="60" />
        </div>

        <div class="pure-u-1-2 l-box" id="locality-wrapper">
            <label for="location_locality">{{labels.locality}}</label>
            <input type="text" class="pure-input-1" name="locality" id="location_locality" maxlength="255" />
        </div>

        <div class="pure-u-1-2 l-box" id="town-wrapper">
            <label for="location_town">{{labels.town}}<span class="mandatory"> *</span></label>
            <input type="text" class="pure-input-1" name="town" id="location_town" maxlength="60" />
        </div>

        <div class="pure-u-1-2 l-box" id="countyCode-wrapper">
            <label for="county-input" id="countyCode-label">County</label>
            <select type="text" class="pure-input-1" name="countyCode" id="county-input">
                <option value=""></option>
                <select />
        </div>

        <div class="pure-u-1-2 l-box" id="postcode-wrapper">
            <label for="address_postcode">{{labels.postcode}}<span class="mandatory"> *</span></label>
            <input type="text" class="pure-input-1" name="postcode" id="address_postcode" maxlength="8" />
        </div>

        <div class="pure-u-1-2 l-box" id="countryCode-wrapper">
            <label for="country-input" id="countryCode-label">Country</label>
            <select type="text" class="pure-input-1" name="countryCode" id="country-input">
                <option value=""></option>
                <select />
        </div>

        <div class="pure-u-1-2 l-box" id="countrySubdivisionCode-wrapper">
            <label for="subdivision-input" id="countrySubdivisionCode-label">Region</label>
            <select type="text" class="pure-input-1" name="countrySubdivisionCode" id="subdivision-input">
                <option value=""></option>
                <select />
        </div>
    </div>
</form>