<form class="pure-form pure-form-stacked">
<div class="pure-g-r">
    <div class="pure-u-1 l-box">
      <div class="pure-narrative" id="describedby">
       <span class="narrative-summary"> You're editing an appointment for</span><br />
       <span class="narrative-dewscription"> Mark Jones (PER779) - 28-May-2014 12:15pm</span>
      </div>
    </div>
  </div>
 
<div class="pure-g-r demo" id="yui_3_16_0_1_1411729668764_2198">
    <div class="pure-u-1-2 l-box">
      <label for="from-input">Name (<a href='#'>Patient details</a>)</label>
      <input id="from-input" type="text" class="pure-input-1" name="from" placeholder="Mark Jones" />
    </div>
    <div class="pure-u-1-3 l-box">
      <label for="state">Status</label>
      <select id="state" class="pure-input-1-2">
        <option>Seen</option>
          <option>Did not attend</option>
          <option>Could not attend</option>
          <option>Arrived</option>
          <option>Waiting</option>
          <option>Finished/Left</option>
      </select>
    </div>
    <div class="pure-u-1-6 l-box" >
      
    </div>
 </div>

<div class="pure-g-r demo" >
    <div class="pure-u-1-2 l-box">
      <label for="from-input">Date of birth</label>
      <input id="from-input" type="text" class="pure-input-1" name="from" placeholder="13/09/1974" />
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="from-input">NHS number</label>
      <input id="from-input" type="text" class="pure-input-1" name="from" placeholder="NHS 123-456-789" />
    </div>
 </div>

 <div class="pure-g-r demo" >
    <div class="pure-u-1-1 l-box">
      <label for="from-input">Address</label>
      <input id="from-input" type="text" class="pure-input-1" name="from" placeholder="20 Gibson Road, Pontypridd" />
    </div>
 </div>

<div class="pure-g-r demo" >
    <div class="pure-u-1-2 l-box">
      <label for="from-input">Contact number</label>
      <input id="from-input" type="text" class="pure-input-1" name="from" placeholder="07980 399887" />
    </div>
    <div class="pure-u-1-2 l-box">
      
    </div>
 </div>
 <div class="pure-g-r demo" >
    <div class="pure-u-1-1 l-box">
       <label for="state">Member of staff</label>
      <select id="state" class="pure-input-1">
          <option>Jo Graham</option>
          <option>Dr Harvey Richards</option>
          
      </select>
    </div>
 </div>

  <div class="pure-g-r demo" >
    <div class="pure-u-1-2 l-box">
       <label for="state">Appointment type</label>
      <select id="state" class="pure-input-1">
          <option>New</option>
          <option>Referral</option>
          
      </select>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="from-input">RTT status</label>
      <input id="from-input" type="text" class="pure-input-1" name="from" placeholder="RTT referral" />
    </div>

 </div>

 <div class="pure-g-r demo" >
    <div class="pure-u-1-1 l-box">
       <label for="state">Outcome</label>
      <select id="state" class="pure-input-1">
          <option>Follow on appointment required</option>
          <option>No further action</option>
          
      </select>
    </div>
 </div>

  <div class="pure-g-r demo">
      <div class="pure-u-1-1 l-box">
                 <label for="state">Outcome notes</label>
          <textarea name="outcome" class="pure-input-1" id="chronologyEntry_event" rowcount="5" maxchars="5000">

          </textarea>
      </div>
  </div>
   </form>

  