<form class="pure-form pure-form-stacked">
 
  <div class="pure-g-r demo">
      <div class="pure-u-3-4 l-box">
        <p>Select a template or <a id=newEvent href='#'>no thanks</a> , I'll create my event from
        scratch.</p> 
        
        <label for="mySelect">Template</label>
        <select id="mySelect" multiple="true" class='pure-input-2-3'>
          <option>
            Health Clinic
          </option>

          <option>
            Word Based Booking
          </option>

          <option>
            Special projects
          </option>

          <option>
            Other
          </option>

          <option>
            Projects
          </option>
        </select>
      </div>
   

 
</div>
  <div class="pure-g-r demo">
    <div class="pure-u-1-3 l-box">
      <label for="from-input">Start date</label>

      <div class="input-group input-append" id="yui_3_16_0_1_1409301152123_2236">
        <input id="from-input" type="text" class="pure-input-1" name="from" placeholder="DD-MM-YYYY" />
      </div>
    </div>

    <div class="pure-u-1-6 l-box">
    <label for="time">Time</label>
      <input id="time" type="text" class="pure-input-1" name="referralDate" placeholder="HH:MM" />
    </div>
      
      
  </div>
   </form>

  <div class="pure-g-r demo">
    <div class="pure-u-2-3 l-box">
      <fieldset>
        <legend>Is it a regular event?</legend> 
        <label class="pure-radio"><input type="radio" id="eg3a" name="entityType" checked="checked" aria-label="Yes" /> Yes</label>
        <label class="pure-radio"><input type="radio" id="eg3b" name="entityType" aria-label="No" /> No</label>
      </fieldset>
    </div>
  </div>