
<form class='pure-form'>
  {{#if add}}
  		<div class="pure-g-r appointment-add {{type}}" id="">
		    <div class="pure-u-1 l-box" >
		      <div class="pure-narrative" id="describedby">
		       	<span class="narrative-summary">You're adding an appointment for</span>
				<span class="narrative-description">Mark Jones (PER779)</span>
		     
		      </div>
		    </div>
		  </div>
  {{else}}
    <div class="pure-g-r appointment-change {{type}}" id="">
    <div class="pure-u-1 l-box" >
      <div class="pure-narrative" id="describedby">
        		<span class="narrative-summary">You're rescheduling an appointment for</span>
				<span class="narrative-description">Mark Jones (PER779)</span>
      </div>
    </div>
  </div>
  {{/if}}
    
<div class='l-box' id='event-calendar'"></div>

</form>
