 <div class="yui3-widget yui3-tabview">
    <div id="demo" class="yui3-tabview-content">
      <ul class="yui3-tabview-list">
        <li class="yui3-tab yui3-widget yui3-tab-selected"><a href="#details" class=
        "yui3-tab-label yui3-tab-content">Details</a></li>

        <li class="yui3-tab yui3-widget"><a href="#plan" class=
        "yui3-tab-label yui3-tab-content">Plan</a></li>
      </ul>

      <div class="yui3-tabview-panel">
        <div id="details" class="yui3-tab-panel">
          <form class="pure-form pure-form-stacked">
           

            <div class="pure-g-r demo">
              <div class="pure-u-1-4 l-box"><br />
                <label for="intakeEditForm_referralDate">Start time</label> <input id=
                "time" type="text" class="pure-input-1" name="referralDate" placeholder=
                "Time" />
              </div>

              <div class="pure-u-1-4 l-box"><br />
                <label for="intakeEditForm_referralDate">End time</label> <input id=
                "time" type="text" class="pure-input-1" name="referralDate" placeholder=
                "Time" />
              </div>

              <div class="pure-u-1-6 l-box">
                <label for="intakeEditForm_referralDate">All day event</label> <input id=
                "time" type="text" class="pure-input-1" name="referralDate" placeholder=
                "Time" />
              </div>
              <div class="pure-u-1-3 l-box">
                <label for="intakeEditForm_referralDate">Max number of patents/oppt.</label> <input id=
                "time" type="text" class="pure-input-1" name="referralDate" placeholder=
                "Time" />
              </div>
            </div>

            <div class="pure-g-r demo">
              <div class="pure-u-1-4 l-box">
                <label for="intakeEditForm_referralDate">Number of appointments</label> <input id=
                "time" type="text" class="pure-input-1" name="referralDate" placeholder=
                "Time" />
              </div>

              <div class="pure-u-1-4 l-box"><br />
                <label for="intakeEditForm_referralDate">Duration in(in mins)</label> <input id=
                "time" type="text" class="pure-input-1" name="referralDate" placeholder=
                "Time" />
              </div>

              <div class="pure-u-1-6 l-box">
                
              </div>
              <div class="pure-u-1-3 l-box">
                <br />
                <button class="yui3-button pure-button-primary clear" >Generate appointment plan</button>
              </div>
            </div>
           <div class="pure-g-r demo">
              <div class="pure-u-2-3 l-box"><br /> 
                <select id="mySelect" class='pure-u-1' multiple="true">
                
          <option>
            10 am Physio Clinic - appointment 1
          </option>

          <option>
            10 45 am Physio Clinic - appointment 2
          </option>

          <option>
            10 45 am Physio Clinic - appointment 3
          </option>
 
                </select>
              </div>
              <div class="pure-u-1-3 l-box"><br /> 
<button id='insert-appointment'  class="yui3-button pure-button-primary clear" >Insert appointment</button><br />
<button class="pure-button clear" >Delete appointment</button>
              </div>


            </div>       
          </form>
        </div>

        <div id="plan" class="yui3-tab-panel">
          Plan
        </div>
      </div>
    </div>
  </div>