<form action="#none" id="formWizard-form" class="pure-form pure-form-stacked">
	<div  id="formWizard-Dialog">
		<div class="pure-g-r test-formwizard">
			<div class="pure-u-1 l-box">
				<div class="pure-narrative"><span class="narrative-summary">{{labels.addEditPersonWarnignMessage}} </span>
				<span class="narrative-description">
					{{modelData.name}} ({{modelData.personIdentifier}})
				</span>
				</div>
				<div id='picklist'></div>
			</div>
		</div>
	</div>
</form>