 <form class="pure-form pure-form-stacked">
 <div class="yui3-widget yui3-tabview">
       <div class="pure-g-r demo">
                    <div class="pure-u-1 l-box">
                      <label for="intakeEditForm_referralDate">Name</label> <input id=
                      "time" type="text" class="pure-input-1" name="referralDate" value="Mark Jones" placeholder="Mark Jones" />
                    </div>



          </div>
         <div class="pure-g-r demo">
              <div class="pure-u-1-2 l-box">
                <label for="intakeEditForm_referralDate">Start time</label> <input id=
                "time" type="text" class="pure-input-1" name="referralDate" value="11:00"
                placeholder="10.30am" />
              </div>

              <div class="pure-u-1-2 l-box">
                <label for="intakeEditForm_referralDate">End time</label> <input id=
                "time" type="text" class="pure-input-1" name="referralDate" value="11:30" placeholder="10.45am" />
              </div>

          </div>
       
        
           
  </div>
  </form>