<form class='pure-form pure-form-stacked'>
<div class="pure-g-r demo">
    <div class="pure-u-1-2 l-box">
      
        
    </div>
    <div class="pure-u-1-2 l-box">
      <button class="pure-button pure-button-primary demo last" id="testButton">Search</button>
    </div>



    <div class="pure-u-1-2 l-box">
      <label for="eg1">Event name</label>
     <input id="templateName" type="text" class="pure-input-1" name="name" value="">
        
    </div>
    <div class="pure-u-1-2 l-box">
      
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="eg1">Type</label>
      <select id="mySelect" class='pure-input-1 ' multiple="true">
        <option>Health Clinic</option>
        <option>Word Based Booking</option>
        <option>Special projects</option>
        <option>Other</option>
        <option>Projects</option>
      </select>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="eg1">Sub type</label>
      <select id="mySelect"  class='pure-input-1'  multiple="true">
        <option>Health Clinic</option>
        <option>Word Based Booking</option>
        <option>Special projects</option>
        <option>Other</option>
        <option>Projects</option>
      </select>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="eg1">Staff</label>
      <select id="mySelect" class='pure-input-1'   multiple="true">
        <option>Health Clinic</option>
        <option>Word Based Booking</option>
        <option>Special projects</option>
        <option>Other</option>
        <option>Projects</option>
      </select>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="eg1">Teams</label>
      <select id="mySelect"  class='pure-input-1' multiple="true">
        <option>Health Clinic</option>
        <option>Word Based Booking</option>
        <option>Special projects</option>
        <option>Other</option>
        <option>Projects</option>
      </select>
    </div>

    <div class="pure-u-1-2 l-box">
      <label for="eg1">Resources</label>
      <select id="mySelect"  class='pure-input-1' multiple="true">
        <option>Health Clinic</option>
        <option>Word Based Booking</option>
        <option>Special projects</option>
        <option>Other</option>
        <option>Projects</option>
      </select>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="eg1">Location</label>
      <select id="mySelect" class='pure-input-1' multiple="true">
        <option>Health Clinic</option>
        <option>Word Based Booking</option>
        <option>Special projects</option>
        <option>Other</option>
        <option>Projects</option>
      </select>
    </div>
    <div class="pure-u-1-2 l-box" id="yui_3_16_0_1_1409301152123_2231">
    
        <div class="pure-g-r demo">
                    <div class="pure-u-1-2 l-box">  
                      <label for="intakeEditForm_referralDate">From Date
                      </label>
                        <div class="input-group input-append" id="yui_3_16_0_1_1409301152123_2236">
                          <input id="fromDate-input" type="text" class="pure-input-1"   name="fromDate" value="07-Aug-2014" />

                        </div>
                      </div>
                      <div class="pure-u-1-2 l-box" id="">
                        <label for="to-Date">To Date
                        </label>

                        <div class="input-group input-append" id="">
                          <input id="toDate-input" type="text"  class="pure-input-1" name=
                          "toDate" value="07-Aug-2014" />

                        </div>
                      </div>
          </div>
      </div>
      <div class="pure-u-1-2 l-box">
      
                            <button class="pure-button clear" >Clear</button>
                         
    </div>




  </div>
  
  </form>                       