@import (inline) 'node_modules/usp-simple-tree/css/main.css';

.top-level {content:'test';}
#classicationTreePage .togglable {
color:#000;
cursor:pointer;
}

#classicationTreePage .togglable-down::after,.togglable-up::after {
  /*+,- toggle handles*/
margin-left:.5em;
padding-top:.1em;
display:inline-block;
position:absolute;
/*border:1px solid #000;*/
line-height:1em;
height:1em;
width:1em;
text-align:center;
font-size:1em;
left:-.9em;
top:.4em;
background-color:#347ab7;
color:#fff;
border-radius:20%;
z-index: 60;
}

#classicationTreePage .togglable-down::before,.togglable-up::before { 
    /*background white border for toggle handles*/
    position: absolute;
    left: -.5em;
    top: .1em;
    border-radius: 20%;
    height: 1.3em;
    width: 1.3em;
    background-color: #fff;
    content: " ";
    z-index: 40;
}

#classicationTreePage .togglable-down::after {
content:"-";
}

#classicationTreePage .togglable-up::after {
content:"+";

}

#classicationTreePage li,#classicationTreePage ul {
position:relative;
}

#classicationTreePage>ul ul,#classicationTreePage>ul {
list-style-type:none;
margin:0;
padding:0;
}


#classicationTreePage>ul li {
line-height:2em;
color:#000;
font-weight:700;
margin:0;
padding:0 12px;
}

/* draw tree lines */
#classicationTreePage li.last-node .container:first-child::before {
content:' ';
position:absolute;
border-left:1px solid #347ab7;
border-bottom:0px solid #347ab7;
height:1.5em;
width:1.1em;
top:-1em;
left:0.9em;
z-index: 50;
}

#classicationTreePage ul.multiple-nodes>li.container:last-child::after {
  /*hack to hide extar length lines for last nodes */
    content: ' ';
    position: absolute;
    border-left: 1px solid #fff;
    border-bottom: 0px solid #347ab7;
    height: 90%;
    width: 1px;
    top: 30%;
    left: 0.9em;
    z-index: 50;

}

#classicationTreePage ul.multiple-nodes>li.container:last-child::before {
  /*descendant  level line seprator*/
    content: ' ';
    position: absolute;
    border-left: 1px solid #347ab7;
    border-bottom: 1px solid #347ab7;
    height: 2.3em;
    width: .4em;
    top: -1.71em;
    left: .9em;
    z-index: 50;


}

#classicationTreePage ul.multiple-nodes::before {
/*Draw vertical line for descendant nodes*/
content:'';
/*height:91%;*/
height:95%;
position:absolute;
list-style-type:none;
border-left:1px solid #347ab7;
left:.9em;
top: 0.3em;
z-index:50;
}


.multiple-nodes>li:before {
/*Draw lines for Child nodes*/
content:' ';
border-bottom:1px solid #347ab7;
position:absolute;
height:.1em;
width:.5em;
line-height:2em;
top:.6em;
left:.9em;
}



/* End draw tree lines */

#classicationTreePage h5 {
margin:0;
}

#classicationTreePage .providerDetails {
padding-right:2em;
}

#classicationTreePage h5 span {
position:relative;
top:-3px;
font: 14px/18px OpenSansRegular, Arial, Helvetica, sans-serif;
}

#classicationTreePage h5 span.classification-name-strike {
	text-decoration: line-through;
}

/*font */


.icon  {
    display:inline-block;
    line-height:0px;
    border-radius:100%;
    font-size:1.1em;
    position: relative;
    vertical-align: center;
    width: 20px;
    height: 20px;
    margin-right: 0.2em;
}

#classicationTreePage h5 .icon span.icon-label {
    display:inline-block;
    font-weight: bold;
    position: absolute;
    left: 7px;
    top: 1px;
}

.actions {
  padding-left:1em;
  margin-left: 2em;
  display: none;
}
.actions span {
  margin-right:1em;
}

.actions .show-action-item {
	display: inline-block;
}
.actions .hide-action-item {
	display: none;
} 
.icon.show-action-item {
	display: inline-block;
} 
.icon.hide-action-item {
	display: none;
} 

#classicationTreePage h5 span.icon  {
	top:2px;
}
.icon.showIconHeader {
	border : 1px solid #f940f9;
	background-color: #fcc9fc;
	color:#f940f9;
}
.icon.iconPersist {
	border: 1px solid #8d5bff;
	background-color: #f0e8ff;
	color: #8d5bff;
}
.icon.restrictMultipleInstance {
	border: 1px solid #e75243;
	background-color: #ffe1de;
	color:#e75243;
}
