<form method="post" action="#none" id="updateAddressLocationForm" class="pure-form pure-form-stacked">

    <fieldset>
        <div class="pure-g-r">
            <div class="pure-u-1 l-box">
                <div class="pure-narrative" id="narrative">
                    <span class="narrative-summary"></span>
                    <span class="narrative-description"></span>
                </div>
            </div>

            <div id="addAddressWrapper" class="pure-u-1-1"></div>

            <div id="successMsg-wrapper" class="dialog-header-message"></div>

            <div class="pure-u-1 l-box">
                <label>{{labels.currentLocation}}</label>
                <div class="value addressLocation-wrapper">
                    {{#if addressLocationDescription}}
                      {{#if modelData.doNotDisclose}}
                        <div class="pop-up-data" data-content="Do not disclose" data-align="bottom">
                          <span class="do-not-disclose">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                          </span>
                        </div>
                      {{/if}}
                      {{googleMapLink addressLocationDescription}}
                    {{else}}
                      {{codedEntry modelData.unknownLocationType codedEntries.unknownLocations}}
                    {{/if}}
                </div>
            </div>

            <div class="pure-u-1-2 l-box">
                <label>{{labels.type}}</label>
                <div class="value" id="type-dd">
                    {{codedEntry modelData.type codedEntries.type}}
                </div>
            </div>
            <div class="pure-u-1-2 l-box">
                <label>{{labels.usage}}</label>
                <div class="value" id="usage-dd">
                    {{codedEntry modelData.usage codedEntries.usage}}
                </div>
            </div>
            <div class="pure-u-1-2 l-box">
                <label>{{labels.roomDescription}}</label>
                <div class="value">
                    {{modelData.roomDescription}}
                </div>
            </div>
            <div class="pure-u-1-2 l-box">
                <label>{{labels.floorDescription}}</label>
                <div class="value">
                    {{modelData.floorDescription}}
                </div>
            </div>
            <div class="pure-u-1-2 l-box">
                <label>{{labels.addressStartDate}}</label>
                <div class="value">
                    {{fuzzyDateFormat modelData.startDate}}
                </div>
            </div>
            <div class="pure-u-1-2 l-box">
                <label>{{labels.addressEndDate}}</label>
                <div class="value">
                    {{fuzzyDateFormat modelData.endDate}}
                </div>
            </div>
            <div class="pure-u-1-2 l-box">
                <label for="endReason-input" id="endReason-label">{{labels.endReason}} </label>
                <div class="value">
                    {{codedEntry modelData.endReason codedEntries.endReason}}
                </div>
            </div>
        </div>
        <div class="pure-u-1 l-box">
            <div class="pure-alert pure-alert-block pure-alert-warning">
                <h4>{{labels.updateAddressLocationConfirm}}</h4>
            </div>
        </div>
    </fieldset>
</form>