


{{#if panelActive}}
  
  <div class="attributes-panel pure-u-1 l-box">
  <h4 class="alt2">Define any other features of this relationship</h4>
    <div class="attributes-panel-head pure-g">
      <div class="pure-u-1-3">{{../relatedEntity.name}} ({{#if ../relatedEntity.identifier}}{{../relatedEntity.identifier}}{{else}}{{../relatedEntity.personPersonId}}{{/if}})</div>
      <div class="pure-u-1-3"></div>
      <div class="pure-u-1-3">{{../targetEntity.name}} ({{../targetEntity.identifier}})</div>
    </div>
    {{#modelData}}     
      <div class="attributes-panel-row pure-g" {{#if this.hidden}}style="display:none"{{/if}}>
        <div class="pure-u-1-3 attributes-panel-col person">
          <label class="pure-checkbox">
            {{!-- related entity input--}}
            <input type="checkbox" id="{{name}}" 
              value="{{../relatedEntity.value}}" 
              data-target="relatedEntity"  data-target-id="{{../relatedEntity.id}}"
              {{{isAttributeChecked ../relatedEntity.checked this.name }}} 
              {{{isAttributeDisabled ../relatedEntity.disabled this.name }}} />
          </label>        
        </div>       
        <div class="pure-u-1-3 attributes-panel-col">
          <span class="attribute-icon {{code}}"></span>
          <label class="attribute-label">{{label}}</label>        
        </div>  
        <div class="pure-u-1-3 attributes-panel-col person">
          <label class="pure-checkbox">
            {{!-- targetEntity input--}}
            <input type="checkbox" id="{{name}}" 
              value="{{../targetEntity.value}}"
              data-target="targetEntity"  data-target-id="{{../targetEntity.id}}"
              {{{isAttributeChecked ../targetEntity.checked this.name }}} 
              {{{isAttributeDisabled ../targetEntity.disabled this.name }}} />          
          </label>
        </div>
      </div>
    {{/modelData}}
  </div>
{{/if}}

{{#unless panelActive}}
 
  <div class="attributes-panel attributes-panel-disabled pure-u-1 l-box"> 
   <h4 class="alt2">Define any other features of this relationship</h4>  
    <div class="attributes-panel-head pure-g">
      <div class="pure-u-1-3"></div>
      <div class="pure-u-1-3"></div>
      <div class="pure-u-1-3"></div>
    </div>
    {{#modelData}}
      <div class="attributes-panel-row pure-g" {{#if this.hidden}}style="display:none"{{/if}}>
        <div class="pure-u-1-3 attributes-panel-col person">
          <label class="pure-checkbox">
            <input type="checkbox" name="" value="" disabled="disabled" />
          </label>    
        </div>
        <div class="pure-u-1-3"><label class="label-disabled">{{label}}</label></div>
        <div class="pure-u-1-3 attributes-panel-col">
          <label class="pure-checkbox attributes-panel-col person">
            <input type="checkbox" name="" value="" disabled="disabled"/></label>
        </div>
      </div>
    {{/modelData}}
  </div>
{{/unless}}

