{{#modelData}}
      {{#if codedEntries}}
        <span>{{codedEntry relationship codedEntries}} </span>
      {{else}}
      	 <span>{{relationship}} </span>
      {{/if}}
      {{#multipleBirth}}
          {{#if hasSiblings}}
            <span class="label multiple-birth label-small pop-up-data" title="" data-content="{{label}}">
              {{total}} {{#if identicalSibling}}<span class="indicator">I</span>{{/if}}
            </span>
          {{/if}}
      {{/multipleBirth}}
      {{#if automated}}
      	<span class="automated" title="Automated"> <span class="hidden">Automated</span></span>
      {{/if}}
      <span class="attribute-icons">
      {{#each attributes}}
         <span class="attribute-icon {{this.iconCSS}} pop-up-data" title="" data-content="{{this.label}}" > <span class="hidden">{{this.label}}</span></span>
      {{/each}}
      </span>
      {{#if professionalTeamName}}
      	<div class="teamName"><strong>Team: </strong><span>{{professionalTeamName}}</span></div>
      {{/if}}
       
{{/modelData}}
 

