<div class="pure-g-r readonly">
  <div class="pure-u-1 l-box">
    <div class="pure-alert pure-alert-block pure-alert-success">
      <h4>{{labels.generateComplete}}</h4>
      <p>{{labels.downloadPrompt}}</p>
    </div>
    <div class="pure-u-1 l-box">
      <p><a href="{{{downloadURL}}}">{{labels.download}}</a></p>
    </div>
  </div>
</div>