<form action="#none" id="relationshipCloseForm" class="pure-form pure-form-stacked">

	<fieldset>
	<div class="pure-u-1 l-box">
		<div class="pure-narrative"><span class="narrative-summary" id="relationship_summary">{{labels.closeRelationshipMessage}}</span>
			<span class="narrative-description" id="relationship_description">
			{{#if modelData.relationship}}
				{{#if modelData.relationshipLiteralText}}
					{{modelData.relationshipLiteralText}}
				{{else}}
					{{modelData.personVO.name}}
					is {{modelData.relationshipRole}}
				 	{{modelData.nominatedPersonName}}
				{{/if}}	 
			{{else}}	
			 	{{modelData.personVO.name}}
			 	has a relationship with {{modelData.nominatedPersonName}}	 	
			 {{/if}}		
			</span>
		</div>
	</div>
		<div class="pure-g-r">
			<div class="pure-u-1 l-box">           
				<dl class="readonly">
				  <dt>{{labels.relatedPersonName}}</dt><dd>{{modelData.personVO.name}}</dd>
				</dl>
			</div>
			<div class="pure-u-1-1 l-box">
		  		<div class="name">{{labels.relationship}}</div><div class="value">
		  		{{#if modelData.automated}}	
					<span class="automated" title="Automated">
				{{/if}}
		  		{{modelData.relationship}}
		  		{{#if modelData.automated}}			
						<span class="hidden">Automated</span></span>
				{{/if}}
				</div>
		  	</div>	
		  	<div class="pure-u-1-2 l-box">
				<div class="name">{{labels.startDate}}</div>
				  <div class="value">
					
					{{#if modelData.startDateEstimated}}	
						<span class="estimated">
					{{/if}}							
					{{dateFormat modelData.startDate}}
					
					{{#if modelData.startDateEstimated}}			
						<span class="hidden">Estimated</span></span>
					{{/if}}
				</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="closeDate">{{labels.closeDate}} <span class="mandatory">*</span></label>
	            <input type="text" class="pure-input-1" name="closeDate" id="relationship_closeDate" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.closeDate}}" />
			</div>
			<div class="pure-u-1-2 l-box">   
				<label for="closeReason">{{labels.closeReason}} <span class="mandatory">*</span></label>
				<select name="closeReason" class="pure-input-1" id="relationship_closeReason" >						
					<option value=""></option>
				</select>
			</div>		
		</div>	
		<div class="pure-u-1 l-box">
			<div class="pure-alert pure-alert-block pure-alert-warning">
				<h4>{{labels.endConfirm}}</h4>
			</div>		
		</div>	
	</fieldset>
</form>