<form action="#none" id="editPersonOrganisationRelationshipForm" class="pure-form pure-form-stacked">
	<div  id="relationshipOrganisationDialog" class="pure-g-r readonly">
		<div class="pure-u-1 l-box">
			<div class="pure-narrative">
        <span class="narrative-summary">{{labels.editPerOrgRelationshipMessage}}</span>
				<span class="narrative-description">
					{{#if modelData.organisationVO}}
						{{#if modelData.organisationVO.name}}
							{{modelData.organisationVO.name}}
						{{/if}}
					{{/if}}
						and 
					{{#if modelData.personVO}}
						{{#if modelData.personVO.name}}
							{{modelData.personVO.name}}	
						{{/if}}
					 {{/if}}		
				</span>
			</div>
		</div>		
		 
		<div hidden id="employeeOrOther" class="pure-u-1 l-box"> 
      	<div class="name">{{labels.employeeOrOther}}</div>
      	<div class="value">
        	{{#if isEmployee}}
        		{{labels.employee}}
       		{{else}}
       			{{labels.other}}
        	{{/if}}	
      	</div>  		
  	</div>
    
		<div class="pure-u-1 l-box">
			<div class="name">{{labels.organisationName}}</div>
			<div class="value">{{modelData.organisationVO.name}}</div>
		</div>	
		<div class="pure-u-1-2 l-box">
			<div class="name">{{labels.organisationType}}</div>
			  <div class="value">
			  	{{#if teamView}}
						Team
				{{else}}
						{{#if modelData.organisationVO.type}}
							{{codedEntry modelData.organisationVO.type codedEntries.organisationType}}
						{{/if}}		
				{{/if}}											
			</div>
		</div>
		<div class="pure-u-1-2 l-box">		  
			<div class="name">{{labels.organistionSubtype}}</div>
		  <div class="value">
  			{{#if modelData.organisationVO.subType}}	
  					{{codedEntry modelData.organisationVO.subType codedEntries.organisationSubType}}	
  			{{/if}}
			</div>
		</div>
	</div>	
	<div class="pure-g-r" id="relationship_startDate_wrapper">	
		<div class="pure-u-1-2 l-box" >
			<label for="relationship_startDate" id="relationship_startDate_label">{{labels.startDate}} <span class="mandatory">*</span></label>
      <input type="text" class="pure-input-1" name="startDate" id="relationship_startDate" 
        maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.startDate}}" />
		</div>
		<div class="pure-u-1-1 l-box">
			<label for="relationship_startDateEstimated"  class="pure-checkbox">
        <input type="checkbox"  name="startDateEstimated" id="relationship_startDateEstimated" value="true" {{#if modelData.startDateEstimated}} checked {{/if}} />
     	  <span>{{labels.startDateEstimated}}</span>           
      </label>
		</div> 		       
  </div>
  <div id="attributes-panel-hook" class="organisation"></div>  
</form>