<form action="#none" class="pure-form pure-form-stacked filter-panel" id="filterForm">
  <div class="bordered panel">
    <div>
        <h3 class="alt2" tabindex="0">{{labels.filterBy}}</h3>
    </div>
    <div>
      <div class="pure-g-r">
        <div class="pure-u-1-3">
          <fieldset class="l-box">
            <legend>Type</legend>
            <label class="pure-checkbox">
              <input id="familial-filter" name="relationshipTypes" type="checkbox" value="FamilialRelationshipType"/>
              {{labels.relationshipTypes.familial}}
            </label>
            <label class="pure-checkbox">
              <input id="social-filter" name="relationshipTypes" type="checkbox" value="SocialRelationshipType"/>
              {{labels.relationshipTypes.social}}
            </label>
            <label class="pure-checkbox">
              <input id="professional-filter" name="relationshipTypes" type="checkbox" value="ProfessionalRelationshipType"/>
              {{labels.relationshipTypes.professional}}
            </label>
          </fieldset>
        </div>
        <div class="pure-u-1-3">
          <fieldset class="l-box">
            <legend>State</legend>
            <label class="pure-checkbox">
              <input id="current-filter" name="status" type="checkbox" value="ACTIVE"/>
              {{labels.state.active}}
            </label>
            <label class="pure-checkbox">
              <input id="ended-filter" name="status" type="checkbox" value="INACTIVE_HISTORIC"/>
              {{labels.state.inactiveHistoric}}
            </label>
            <label class="pure-checkbox">
              <input id="pending-filter" name="status" type="checkbox" value="INACTIVE_PENDING"/>
              {{labels.state.inactivePending}}
            </label>
          </fieldset>
        </div>        
        <div class="pure-u-1-3 l-box">
          <label for="relationshipResultsFilter_dateFrom">{{labels.dateFrom}}</label>
          <input type="text" name="dateFrom" class="pure-input-1" id="relationshipResultsFilter_dateFrom" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.dateFrom}}" />
          <label for="relationshipResultsFilter_dateTo">{{labels.dateTo}}</label>
          <input type="text" name="dateTo" class="pure-input-1" id="relationshipResultsFilter_dateTo" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.dateTo}}" />
        </div>
        <div class="pure-u-1 l-box">
          <div class="pure-button-group pull-right">
            <input class="pure-button pure-button-secondary" type="button" aria-label="{{labels.resetTitle}}" data-reset="relationshipTypes,status,dateFrom,dateTo" value="{{labels.reset}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>