<div class="pure-form pure-form-stacked" id="relationshipSuggestionsOverlay">

<div id='suggestionsOverlayAlertMessage' class='model-errors'></div>
	

	<div class='allsuggestions pure-g-r'>
	
	{{#each suggestions}}
	
			<div class="pure-u-1 l-box">
		      <div class="pure-narrative">
		        <span class="narrative-summary">{{../labels.suggestionsNarrative}}</span>
		        <span class="narrative-description">{{name}} ({{personid}})</span>
		      </div>
		    </div>
			
				{{#each personSuggestions}}
					<ul class='suggestions pure-u-1' data-clientId="{{clientId}}">
			      	 	<li id="li_{{clientId}}">
			
						{{#if unionRelationshipRoles}}
			           	 <div class="pure-g-r suggestion-hd">
			              	<div class="pure-u-1">
			                	<a href="#" class="toggle" aria-label="View suggestion details" title="View suggestion details">Is {{roleAName}} the partner of {{roleBName}}?</a>
			               	</div>  
			             </div>
			             {{else}}
			             <div class="pure-g-r suggestion-hd">
			               <div class="pure-u-1">
			                 {{#if professionalTeamName}}
			                   <a href="#" class="toggle" aria-label="View suggestion details" title="View suggestion details">Is {{roleAName}} {{relationship}} {{roleBName}} associated with {{professionalTeamName}}?</a>
			                 {{else}}
			                   <a href="#" class="toggle" aria-label="View suggestion details" title="View suggestion details">Is {{roleAName}} {{relationship}} {{roleBName}}?</a>
			                 {{/if}}
			               </div>
			             </div>
			             {{/if}}	
			
						 {{#if unionRelationshipRoles}}
						 	<div class="pure-g-r suggestion-bd usp-fx-maxheight">			             
								<form action="#none" id="{{clientId}}" class="pure-form pure-form-stacked"> 
								 	<div class="pure-u-3-5">
									 	<fieldset> 
											<legend class="pure-u-1-1 l-box">Choose any one <span class="mandatory">*</span></legend>
											<div class="pure-g-r">
												{{#each unionRelationshipRoles}}								 			
											      <div class="l-box pure-u-1-2 ">
											      	 <label class="pure-radio">
											      	 	
											      	 <input type="radio" id="unionRelationshipType" name="unionRelationshipType" {{#unless @index}}checked="checked"{{/unless}} value="{{personPersonRelationshipTypeId}}" />{{genderedRelationshipRole}}
											      	 											        	
											      	</label>
											      </div>									   								 	
									 			{{/each}}
											</div>
										</fieldset>
									</div>
									<div class="pure-u-2-5">
										<div class="pure-u-1-2">
						                  <div class="date_{{clientId}}">
										  <label for="startDate">{{../../../labels.startDate}} <span class="mandatory">*</span></label> 
										  <div class="input-group input-append"><input name="startDate" id="relationship_startDate" type="text" class="pure-input-1" maxlength="11" placeholder="DD-MMM-YYYY" value=""></div>
										  </div>	
						                </div>               
										<div class="pure-u-2-5">
						                  <input type="submit" id="{{clientId}}" class="pure-button pure-button-primary suggestions" value="accept" /> 
						                </div>
						                <div class="pure-u-1-1">
									        <label for="startDateEstimated" class="pure-checkbox">
									        	<input type="checkbox"  name="startDateEstimated" id="relationship_startDateEstimated" value="true" />
									            <span>{{../../../labels.startDateEstimated}}</span>
									        </label>
								        </div>
							        </div>
								</form>
							</div>						 
						 {{else}}	
						 	
						 	<div class="pure-g-r suggestion-bd usp-fx-maxheight">
			             
							<form action="#none" id="{{clientId}}" class="pure-form pure-form-stacked suggestions-basic-form">                
			                   
			                       <div class="pure-u-3-5">
					                    <fieldset class="inline-checkbox">
					                      {{#if hasAnyQualifiers}}
											  {{#if notContainsOnlyFullQualifier}}
													<legend>{{../../../../../labels.suggestionsChoose}}</legend>
							                        <div class="roleQualifiers">								                        
								                        {{#if isHalf}}
														<label for="half" class="pure-checkbox">
								                          <input type="checkbox" name="half" id="half" value="true"> <span>{{../../../../../../labels.half}}</span>
								                        </label>
														{{/if}}
														{{#if isStep}}
								                        <label for="step" class="pure-checkbox">
								                          <input type="checkbox" name="step" id="step" value="true"> <span> {{../../../../../../labels.step}} </span>
								                        </label>
														{{/if}}
														{{#if isAdoptive}}
														<label for="adoptive" class="pure-checkbox">
								                          <input type="checkbox" name="adoptive" id="adoptive" value="true"> <span> {{../../../../../../labels.adoptive}} </span>
								                        </label>
														{{/if}}
														{{#if isInLaw}}
														<label for="inLaw" class="pure-checkbox">
								                          <input type="checkbox" name="inLaw" id="inLaw" value="true"> <span> {{../../../../../../labels.inLaw}} </span>
								                        </label>
														{{/if}}														
													</div>	
											   {{else}}	
												  <legend>{{../../../../../labels.suggestionsNoQualifiers}}</legend>	
											   {{/if}}
										  {{else}}	
											<legend>{{../../../../labels.suggestionsNoQualifiers}}</legend>	
										  {{/if}}
					                    </fieldset>                 
					                </div>
					                
					                <div class="pure-u-2-5">
										<div class="pure-u-1-2">
						                  <div class="date_{{clientId}}">
										  <label for="startDate">{{../../../labels.startDate}} <span class="mandatory">*</span></label> 
										  <div class="input-group input-append"><input name="startDate" id="relationship_startDate" type="text" class="pure-input-1" maxlength="11" placeholder="DD-MMM-YYYY" value="{{relationshipStartDate}}"></div>
										  </div>	
						                </div>               
										<div class="pure-u-2-5">
						                  <input type="submit" id="{{clientId}}" class="pure-button pure-button-primary suggestions" value="accept" /> 
						                </div>
						                <div class="pure-u-1-1">
									        <label for="startDateEstimated" class="pure-checkbox">
									        	<input type="checkbox"  name="startDateEstimated" id="relationship_startDateEstimated" {{#if startDateEstimated}}checked="checked"{{/if}} value="true" />
									            <span>{{../../../labels.startDateEstimated}}</span>
									        </label>
								        </div>	
							        </div>	
						
									</form>
					
					         	</div>
						 	
						 {{/if}}			
						 
			
						</li>
						
						<div id="success_{{clientId}}" class="pure-g-r suggestion-hd" style="border-bottom:1px solid #eee;display:none;opacity:0;">
				            <div class="pure-u-3-5">
				              <span class="added"><div id="success_relationship_{{clientId}}"> </div></span>
				            </div>
				            <div class="pure-u-1-5 l-box added">
				              <i class="fa fa-check"></i> <span>Saved</span>
				            </div> 
			            </div>
					</ul>
				{{/each}}
		{{/each}}		
		
	</div>
	<div class="pure-u-1 l-box">
		<div class="pure-info">
			<p>{{labels.suggestionsfilterAlertMessage}}</p>
		</div>		
	</div>
</div>