<form action="#none" id="relationshipEditForm" class="pure-form pure-form-stacked">
	
	<fieldset>
		<div class="pure-u-1 l-box">
			<div class="pure-narrative"><span class="narrative-summary">{{labels.editRelationshipMessage}}</span>
				<span class="narrative-description">
				{{#if modelData.relationship}}
					{{#if modelData.relationshipLiteralText}}
						{{modelData.relationshipLiteralText}}
					{{else}}
						{{modelData.personVO.name}}
						is {{modelData.relationshipRole}} 
						 {{modelData.nominatedPersonName}}
					{{/if}}
				{{else}}	
				 	{{modelData.personVO.name}}
				 	has a relationship with {{modelData.nominatedPersonName}} 		 	
				 {{/if}}		
				</span>
			</div>
		</div>
		<div class="pure-g-r">			
			<div class="pure-u-1 l-box">           
		  		<div class="name">{{labels.relatedPersonName}}</div><div class="value">{{modelData.personVO.name}}</div>
			</div>
			<div class="pure-u-1-1 l-box">
		  		<div class="name">{{labels.relationship}}</div><div class="value">
		  		{{#if modelData.automated}}	
					<span class="automated" title="Automated">
				{{/if}}
		  		{{modelData.relationship}}
		  		{{#if modelData.automated}}			
						<span class="hidden">Automated</span></span>
				{{/if}}
		  	</div>
		  	</div>	
		 <div class="pure-g-r" id="relationship_startDate_wrapper"> 	
			<div class="pure-u-1-2 l-box">
				<label for="relationship_startDate">{{labels.startDate}} <span class="mandatory">*</span></label>
	            <input type="text"  class="pure-input-1" name="startDate" id="relationship_startDate" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.startDate}}" />
			</div>
			
			{{#if relationshipTypeProfessional}}
				<div class="pure-u-1-2 l-box" id="relatedProfessionalTeamSelect">
		  	 		<label id="relationship_relatedProfessionalTeamName_label" class="pure-hide"><span class='default_txt'>{{labels.relatedProfessionalTeamSelect}}</span></label>
		  	 		<div id="professional-teams-select" name="professionalTeamId"></div>
		 	 	</div>
			{{/if}}

			<div class="pure-u-1-1 l-box">
				<label for="relationship_startDateEstimated"  class="pure-checkbox">
	            	<input type="checkbox"  name="startDateEstimated" id="relationship_startDateEstimated" value="true" {{#if modelData.startDateEstimated}} checked {{/if}} />
	             <span>{{labels.startDateEstimated}}</span>
	            </label>
			</div> 
		</div>	
			<div id="attributes-panel-hook" class="person pure-u-1-1"></div> 
    	</div>
	</fieldset>    	
</form>