<form action="#none" id="newPersonOrganisationRelationshipForm" class="pure-form pure-form-stacked">
	<input type="hidden" id="personId" name="personId" value="{{modelData.id}}"/>
	
	<div class="pure-g-r">
		<div class="pure-u-1 organisation" id="narrative-panel"></div>
		<div hidden id="employeeOrOther" class="pure-u-1"> 
		<fieldset class="pure-u-1">
      <legend class="l-box">{{labels.employeeOrOther}}</legend>
      <div class="pure-g-r">
        <div class="pure-u-1-2 l-box">
          <label class="pure-radio">
             <input id="newPersonOrganisationRelationshipForm_employeeOrOther" type="radio" name="personOrganisationRelationshipType"  value="{{otherData.employerEmployeeRelationshipTypeId}}" />{{labels.employee}}
          </label>
        </div>
        <div class="pure-u-1-2 l-box">
          <label class="pure-radio">
             <input id="newPersonOrganisationRelationshipForm_employeeOrOther" type="radio" name="personOrganisationRelationshipType"  value="" checked="checked" />{{labels.other}}
          </label>
        </div>
      </div>
    </fieldset>
    </div>
		<div class="pure-u-1 l-box">
      <label for="relatedOrganisationSearch">{{labels.relatedOrganisationSearch}} <span class="mandatory">*</span></label>        	
    	{{#unless relatedOrganisation}}
        <input id="relationship_relatedOrganisationSearch" class="pure-input-1" name="relatedOrganisationSearch" 
          maxlength="100" type="text" placeholder='{{labels.placeholderRelatedSeach}}'/>
			{{/unless}} 
		</div>          
    <div class="pure-u-1 l-box">
      <div id="relatedOrganisationList">
        <div class="text">
          <ul class="related-organisation-list">
            {{#if relatedOrganisation}}
              <li class="data-item" id="relatedOrganisation{organisationId}">
                <span>{{relatedOrganisation.name}} ({{relatedOrganisation.organisationOrganisationId}})</span>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
      <div id="relationship_noSearchResults_wrapper" class="pure-info" style="display:none;">
    	 <p class="estimatedInfo">We have no results for you.</p>
      </div>
    </div>
  </div>
		
				
		<div class="pure-g-r" id="relationship_startDate_wrapper">
			
			<div class="pure-u-1-2 l-box">
				<label for="startDate" id="relationship_startDate_label" class="label-disabled">{{labels.addStartDateLabel}} <span class="mandatory">*</span></label>
	      <input type="text" class="pure-input-1" name="startDate" id="relationship_startDate" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.startDate}}" disabled/>
			</div>
			
			<div class="pure-u-1-1 l-box">
        <label for="relationship_startDateEstimated" class="pure-checkbox">
        <input type="checkbox"  name="startDateEstimated" id="relationship_startDateEstimated" value="true" {{#if modelData.startDateEstimated}} checked {{/if}} disabled />
           <span>{{labels.startDateEstimated}}</span>
        </label>
      </div>
      
		</div>
		
		
		{{!-- Attributes panel added here using getViews --}}
		<div id="attributes-panel-hook" class="organisation"></div>  
  
</form>
