<form action="#none" id="relationshipOrganisationCloseForm" class="pure-form pure-form-stacked">
<fieldset>
	<div class="pure-u-1 l-box">
		<div class="pure-narrative"><span class="narrative-summary">{{labels.endPerOrgRelationshipMessage}}</span>
			<span class="narrative-description">
			{{#if modelData.organisationVO}}
				{{#if modelData.organisationVO.name}}
					{{modelData.organisationVO.name}}
				{{/if}}
			{{/if}}
				and
			{{#if modelData.personVO}}
				{{#if modelData.personVO.name}}
					{{modelData.personVO.name}}	
				{{/if}}
			 {{/if}}		
			</span>
		</div>
		
	</div>
	<div hidden id="employeeOrOther" class="pure-u-1 l-box"> 
      	<div class="name">{{labels.employeeOrOther}}</div>
      	<div class="value">
        	{{#if isEmployee}}
        		{{labels.employee}}
       		{{else}}
       			{{labels.other}}
        	{{/if}}	
      	</div>  		
  	</div>
	<div class="pure-g-r">
		<div class="pure-u-1 l-box"> 
		<div class="name">{{labels.organisationName}}</div><div class="value">{{modelData.organisationVO.name}}</div>
	</div>	
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.organisationType}}</div>
			<div class="value">
				  	{{#if teamView}}
							Team
					{{else}}
							{{#if modelData.organisationVO.type}}
								{{codedEntry modelData.organisationVO.type codedEntries.organisationType}}
							{{/if}}		
					{{/if}}											
			</div>
	</div>
	<div class="pure-u-1-2 l-box">		  
		<div class="name">{{labels.organistionSubtype}}</div>
		  <div class="value">	
		  {{#if modelData.organisationVO.subType}}	
				{{codedEntry modelData.organisationVO.subType codedEntries.organisationSubType}}	
		  {{/if}}
		  </div>
	</div>  
		  	<div class="pure-u-1-2 l-box">
				<div class="name">{{labels.startDate}}</div>
				  <div class="value">
					
					{{#if modelData.startDateEstimated}}	
						<span class="estimated">
					{{/if}}							
					{{dateFormat modelData.startDate}}
					
					{{#if modelData.startDateEstimated}}			
						<span class="hidden">Estimated</span></span>
					{{/if}}
				</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="closeDate" id="relationship_startDate_label">{{labels.closeDate}} <span class="mandatory">*</span></label>
	            <input type="text" class="pure-input-1" name="closeDate" id="relationship_closeDate" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.closeDate}}" />
			</div>
			 <div class="pure-u-1-2 l-box">
			<label for="closeReason">{{labels.closeReason}}  <span class="mandatory">*</span></label>
			<select name="closeReason" class="pure-input-1" id="personOrganisationRelationship-input" value="">				
				<option value=""></option>
			</select>
		</div>			
		</div>	
		<div class="pure-u-1 l-box">
			<div class="pure-alert pure-alert-block pure-alert-warning">
				<h4>{{labels.endConfirm}}</h4>
			</div>		
		</div>	
		</formset>
</form>