{{#if anyActive}}
  {{#if activeFilter.status}}
    <div class="filter-message pure-alert pure-alert-block pure-alert-info">
      <a href="#" class="close" title="Close">Close</a>
        <h4 tabIndex="0">{{labels.stateActiveMessage}}</h4>
    </div>
  {{/if}}
  {{#or activeFilter.dateFrom activeFilter.dateTo}}
    <div class="filter-message pure-alert pure-alert-block pure-alert-info">
      <a href="#" class="close" title="Close">Close</a>
      <h4>{{labels.dateActiveMessage}}</h4>
    </div>
  {{/or}}
  
  <span>{{labels.filter}}</span>
  {{#if activeFilter.relationshipTypes}}
    <span class="label">{{labels.type}}<a href="#none" data-reset="relationshipTypes" aria-label="Remove type filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  {{#if activeFilter.status}}
    <span class="label">{{labels.state}}<a href="#none" data-reset="status" aria-label="Remove state filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  {{#or activeFilter.dateFrom activeFilter.dateTo}}
    <span class="label">{{labels.date}}<a href="#none" data-reset="dateFrom,dateTo" aria-label="Remove date filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/or}}
  <a href="#none" data-reset="reset" class="small" aria-label="{{labels.resetAllTitle}}">{{labels.resetAll}}</a>
{{/if}}
