<form action="#none" id="relationshipAddForm" class="pure-form pure-form-stacked">
	
  	{{!-- Add Person Success Message --}}
  	<div id="relationship_successMsg_wrapper" class="dialog-header-message"></div>

  	<div class="pure-g-r">
  		<div class="pure-u-1 l-box">
            	   
    	  
        <div class="pure-narrative">
          <span class="narrative-summary" id="relationship_summary">{{narrativeSummary}}</span>
          <span class="narrative-description" id="relationship_description">{{narrativeDescription}}</span>
        </div>
    	   
    	   
    	   {{#unless relatedPerson}}
    	   {{!-- 	Commenting out for now until the add person bits have been fixed
    	   			to include selection of person type
    	     
    	     	<a href="#" class="input-link-above small" id="relationship_toggleAddPerson">Add person</a> 
    	    
    	     	--}}
  	     {{/unless}}
    	   
        <label for="relatedPersonSearch">{{labels.relatedPersonSearch}} <span class="mandatory">*</span></label>
        
        
        	
        	{{!--  
            if relatedPerson exists, hide search field and - for now - radio buttons
            as they don't do anything for now.  In future we might wish to 
            disable them instead if relatedPerson passed in.
            Because these are minor dynamic adjustments to the dialog, we can
            add them here.  If there is a need for many more of these, we should
            probably create a new dialog.
          --}} 
        	
        	{{#unless relatedPerson}}
          		<input id="relationship_relatedPersonSearch" class="pure-input-1" name="relatedPersonSearch" maxlength="100" type="text" placeholder='{{labels.relatedPersonSearchPlaceholder}}'/>
  				{{/unless}}
  		</div>
          
      <div class="pure-u-1 l-box">
        <div id="relatedPersonList">
              <div class="text">
                  <ul class="related-person-list">
                 		{{#if relatedPerson}}
  					          <li class="data-item" id="relatedPerson{personId}"><span>{{relatedPerson.name}} ({{relatedPerson.personPersonId}})</span></li>
  				          {{/if}}
                  </ul>
              </div>
        </div>
        <div id="relationship_noSearchResults_wrapper" class="pure-info" style="display:none;">
        {{!-- 	Commenting out for now until the add person bits have been fixed
    	   			to include selection of person type
           <p class="estimatedInfo">We have no results for you - do you want to <a href="#" id="relationship_enableAddPerson">add a person?</a></p>
        --}}
        	<p class="estimatedInfo">We have no results for you.</p>
        </div>
      </div> 
  	</div>
		
		
		
		{{!-- Add Person wrapper: start --}}
		<div class="pure-g-r" id="relationship_addPerson_wrapper" style="display:none;">

	    <div class="pure-u-1-2 l-box">
        <label for="relationship_forename">{{labels.forename}}<span class="mandatory"> *</span></label>
        <input type="text" class="pure-input-1" name="forename" id="relationship_forename" maxlength="255" value="{{modelDate.forname}}" />
      </div>
  
      <div class="pure-u-1-2 l-box">
        <label for="relationship_surname">{{labels.surname}}<span class="mandatory"> *</span></label>
        <input type="text" class="pure-input-1" name="surname" id="relationship_surname" maxlength="255" value="{{textFormat modelDate.surname}}" />
      </div>
      
      <div class="pure-u-1-1 l-box">
        <label for="relationship_dateOfBirth">{{labels.dateOfBirth}}<span class="mandatory"> *</span>
          <a href="#" class="pop-up-data" data-title="{{labels.dobPopupMessageTitle}}" data-content="{{labels.dobPopupMessageContent}}">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-1x"></i>
              <i class="fa fa-question fa-inverse fa-stack-1x"></i>
            </span>
          </a>
        </label>
      </div>

      <div id="relationship_dateOfBirth_wrapper" class="pure-u-1-1 l-box inner-wrapper">
       	<div class="pure-u-4-5">
			<div id="relationship_dateOfBirth" class="fieldset-wrap"></div>
		</div>

		<div class="pure-u-1-8 l-box">
			<div class="age-input" class="fieldset-wrap">
       			<label for="relationship_age">{{labels.age}}</label>
				<input type="text" class="pure-input-1" name="age" id="relationship_age" maxlength="3" value="" />
			</div>
		</div>
      </div>
      
      <div class="pure-u-1 l-box">
        <div class="pure-info">
          <p id="relationship_estimatedInfo" class="estimatedInfo">{{labels.dobEstimateMessage}}</p>
          <div id="dateOfBirthEstimated" class="estimatedCheckbox">
            <label class="pure-checkbox" aria-label="{{labels.dobCheckboxMessage}}">
              <input type="checkbox" name="dateOfBirthEstimated" value=true id="relationship_dateOfBirthEstimated"> {{labels.dobCheckboxMessage}}</>
            </label>
          </div>
        </div>
      </div>
      
      <div class="pure-u-1 l-box">
        <fieldset id="gender">
          <legend>Gender<span class="mandatory"> *</span></legend>
          <div class="fieldset-wrap">
            <div class="pure-u-1-5">
              <label class="pure-radio"><input type="radio" name="gender" value="MALE" />Male</label>
            </div>
            <div class="pure-u-1-5">
              <label class="pure-radio"><input type="radio" name="gender" value="FEMALE" />Female</label>
            </div>
            <div class="pure-u-1-4">
              <label class="pure-radio"><input type="radio" name="gender" value="INDETERMINATE" />Indeterminate</label>
            </div>
            <div class="pure-u-1-5">
              <label class="pure-radio"><input type="radio" name="gender" value="UNKNOWN" />Unknown</label>
            </div>
          </div>
        </fieldset>
      </div>
      
      
      <div class="pure-u-1-2 l-box">
        <label for="relationship_ethnicity">{{labels.ethnicity}}<span class="mandatory"> *</span></label>
        <select type="text" class="pure-input-1" name="ethnicity" id="relationship_ethnicity" value="{{textFormat modelData.ethnicity}}">
        </select>
      </div>

      <div class="pure-u-1 l-box" style="margin-top:1em;">
        <button type="button" class="yui3-button pure-button-primary" id="confirmAddPerson" style="margin-left:225px;"><i class="fa fa-check"></i> Save and continue</button>
        <button type="button" class="yui3-button pure-button-secondary" id="cancelAddPerson" style="float:right;"><i class="fa fa-times"></i> Cancel</button>
      </div>

		</div>	{{!-- Add Person wrapper: end --}}
		
		
		<div id="relationship_relationshipRole_wrapper">
  		
  		<div class="pure-g-r" id="organisationRelationships" style="display:none;">
  			<div class="pure-u-1 l-box">
  				TODO: Inputs for Person to Organisation relationships will appear here
  			</div>
  		</div>
  		
  		<div class="pure-g-r" id="personRelationships">
  		 <div class="pure-u-1 l-box">
  				<div id="relationshipRole">
  					<label for="relationshipRole" id="relationship_relationshipRole_label" class="label-disabled "><span class='default_txt'>{{labels.role}} <span class="mandatory">*</span></span></label>
  					<select name="relationshipRole" class="pure-input-1-2" id="relationship_relationshipRole" disabled>						
  						<option value=""></option>
  					</select>
  				</div>
  		 </div>		
  		</div>
		
		</div>



		<div id="relationship_qualifiers_wrapper">
  		
  		{{!-- roleQualifiers: start --}}
  		<div class="pure-g-r" id="roleQualifiers">
  	    <div class="pure-u-1-1 l-box">
  		    <label for="roleQualifiers" id="relationship_roleQualifiers_label" class="label-disabled">{{labels.qualifier}}</label>
  	    </div>
  			
  			<div class="pure-u-1-4 l-box">
          <label class="pure-checkbox">
            <input id="relationship_adoptive" type="checkbox" name="adoptive" value="true" disabled="disabled"/> <span> {{labels.adoptive}} </span>
          </label>
        </div>
        
        <div class="pure-u-1-4 l-box">
          <label class="pure-checkbox">
            <input id="relationship_half" type="checkbox" name="half" value="true" disabled="disabled"/> <span> {{labels.half}} </span>
          </label>
        </div>
        
        <div class="pure-u-1-4 l-box">
          <label class="pure-checkbox">
            <input id="relationship_step" type="checkbox" name="step" value="true" disabled="disabled"/> <span> {{labels.step}} </span>
          </label>
        </div>
  					
  			<div class="pure-u-1-4 l-box">
  				<label class="pure-checkbox">
  					<input id="relationship_inLaw" type="checkbox" name="inLaw" value="true" disabled="disabled"/> <span> {{labels.inLaw}} </span>
  				</label>
  			</div>	
  			
  			<div class="pure-u-1-4 l-box">
  				<label class="pure-checkbox">
  					<input id="relationship_multipleBirth" type="checkbox" name="multipleBirth" value="true" disabled="disabled"/> <span> {{labels.multipleBirth}} </span>
  				</label>
  			</div>
  		</div>  {{!-- roleQualifiers: end --}}

  		
		
		  {{!-- unionQualifiers: start --}}
  		<div class="pure-g-r" id="unionQualifiers" style="display: none;">
  		    <div class="pure-u-1-1 l-box">
  		    	<label for="unionQualifiers" id="relationship_unionQualifiers_label" class="label-disabled">{{labels.unionqualifier}}<span class="mandatory">*</span></label>
  		    </div>
  		</div>  
  		<div id="unionRoles" class="pure-g-r"></div>
  		{{!-- unionQualifiers: end --}}
  		
		</div>
				
	
				
		<div class="pure-g-r" id="relationship_startDate_wrapper">
			
			<div class="pure-u-1-2 l-box" id="relationshipStartDate">
				<label for="startDate" id="relationship_startDate_label" class="label-disabled">{{labels.startDate}} <span class="mandatory">*</span></label>
	      <input type="text" class="pure-input-1" name="startDate" id="relationship_startDate" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.startDate}}" disabled/>
			</div>
			
	  	 <div class="pure-u-1-2 l-box" id="relatedProfessionalTeamSelect">
	  	 		<label id="relationship_relatedProfessionalTeamName_label" class="pure-hide"><span class='default_txt'>{{labels.relatedProfessionalTeamSelect}}</span></label>
	  	 		<div id="professional-teams-select" name="professionalTeamId"></div>
	 	 </div>
			
			<div class="pure-u-1-1 l-box">
        <label for="relationship_startDateEstimated" class="pure-checkbox">
        <input type="checkbox"  name="startDateEstimated" id="relationship_startDateEstimated" value="true" {{#if modelData.startDateEstimated}} checked {{/if}} disabled />
           <span>{{labels.startDateEstimated}}</span>
        </label>
      </div>
		</div>
		
		{{!-- Attributes panel added here getViews --}}
		<div id="attributes-panel-hook"></div>
		
		  <div id="attributes-panel-hook2"></div>

</form>
