<div class="readonly">
  <div class="pure-g-r">
    <div class="pure-u-1-3 l-box">
      <label class="pure-radio"><input type="radio" name="print" value="SVG" checked/> Print Image
        (svg)
      </label>
    </div>
    <div class="pure-u-1-3 l-box">
      <label class="pure-radio"><input type="radio" name="print" value="PNG" /> Print Image (png)</label>
    </div>
    <div class="pure-u-1-3 l-box">
      <label class="pure-radio"><input type="radio" name="print" value="JPEG" /> Print Image (jpeg)</label>
    </div>
  </div>
</div>