  <div class="pure-u-1-2 l-box">
        <label for="professional-teams-list">{{labels.teamId}}</label>
        <select id="professional-teams-list" name="professionalTeamId" class="pure-input-1">
        {{#each selectedProfessionalTeams}}
          <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
 </div>
