<div  id="relationshipDialog" class="pure-g-r readonly">
	
	<div class="pure-u-1 l-box">
		<div class="pure-narrative"><span class="narrative-summary">{{labels.viewRelationshipMessage}}</span>
			<span class="narrative-description">
			{{#if modelData.relationship}}
				{{#if modelData.relationshipLiteralText}}
					{{modelData.relationshipLiteralText}}
				{{else}}
					{{modelData.personVO.name}} 
					is {{modelData.relationshipRole}}
				 	{{modelData.nominatedPersonName}}
				{{/if}}
			{{else}}	
			 	{{modelData.personVO.name}} 
			 	has a relationship with {{modelData.nominatedPersonName}}	 	
			 {{/if}}		
			</span>
		</div>
	</div>
	
	<div class="pure-u-1 l-box">
		<div class="name">{{labels.relatedPersonName}}</div><div class="value">{{modelData.personVO.name}}</div>
	</div>	
	<div class="pure-u-1-1 l-box">
  		<div class="name">{{labels.relationship}}</div><div class="value">
  		{{#if modelData.automated}}	
			<span class="automated" title="Automated">
		{{/if}}
  		{{modelData.relationship}}
  		{{#if modelData.automated}}			
				<span class="hidden">Automated</span></span>
		{{/if}}
		</div>
  	</div>	
  	
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.startDate}}</div>
		  <div class="value">
			
			{{#if modelData.startDateEstimated}}	
				<span class="estimated">
			{{/if}}							
			{{dateFormat modelData.startDate}}
			
			{{#if modelData.startDateEstimated}}			
				<span class="hidden">Estimated</span></span>
			{{/if}}
		</div>
	</div>
	<div class="pure-u-1-2 l-box">		  
		<div class="name">{{labels.closeDate}}</div><div class="value">{{dateFormat modelData.closeDate}}</div>
	</div>
	{{#if modelData.closeDate}}
	<div class="pure-u-1 l-box">    
		<div class="name">{{labels.closeReason}}</div><div class="value">{{modelData.closeReason}}</div>
	</div>
	{{/if}}
</div>
