<div  id="relationshipOrganisationDialog" class="pure-g-r readonly">
	
	<div class="pure-u-1 l-box">
		<div class="pure-narrative"><span class="narrative-summary">{{#if deleteRelationship}}{{labels.deleteRelationshipMessage}}{{else}}{{labels.viewRelationshipMessage}}{{/if}}</span>
			<span class="narrative-description">
			{{#if modelData.organisationVO}}
				{{#if modelData.organisationVO.name}}
					{{modelData.organisationVO.name}}
				{{/if}}
			{{/if}}
				and 
			{{#if modelData.personVO}}
				{{#if modelData.personVO.name}}
					{{modelData.personVO.name}}	
				{{/if}}
			 {{/if}}		
			</span>
		</div>
	</div>
	
	<div hidden id="employeeOrOther" class="pure-u-1 l-box"> 
      	<div class="name">{{labels.employeeOrOther}}</div>
      	<div class="value">
        	{{#if isEmployee}}
        		{{labels.employee}}
       		{{else}}
       			{{labels.other}}
        	{{/if}}	
      	</div>  		
  	</div>	
	<div class="pure-u-1 l-box">
		<div class="name">{{labels.organisationName}}</div><div class="value">{{modelData.organisationVO.name}}</div>
	</div>	
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.organisationType}}</div>
		  <div class="value">
		  {{#if teamView}}
				Team
			{{else}}
				{{#if modelData.organisationVO.type}}	
					{{codedEntry modelData.organisationVO.type codedEntries.organisationType}}	
				{{/if}}	
			{{/if}}								
		</div>
	</div>
	<div class="pure-u-1-2 l-box">		  
		<div class="name">{{labels.organistionSubtype}}</div>
		  <div class="value">	
		  {{#if modelData.organisationVO.subType}}	
				{{codedEntry modelData.organisationVO.subType codedEntries.organisationSubType}}	
		  {{/if}}
		  </div>
	</div>  	
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.startDate}}</div>
		  <div class="value">
			
			{{#if modelData.startDateEstimated}}	
				<span class="estimated">
			{{/if}}							
			{{dateFormat modelData.startDate}}
			
			{{#if modelData.startDateEstimated}}			
				<span class="hidden">Estimated</span></span>
			{{/if}}
		</div>
	</div>
	<div class="pure-u-1-2 l-box">		  
		<div class="name">{{labels.closeDate}}</div><div class="value">{{dateFormat modelData.closeDate}}</div>
	</div>
	{{#if modelData.closeDate}}
	<div class="pure-u-1 l-box">    
		<div class="name">{{labels.closeReason}}</div>
		  <div class="value">	
				{{codedEntry modelData.closeReason codedEntries.closeReason}}	
		  </div>
	</div>
	{{/if}}
	
	{{#if deleteRelationship}}
	<div class="pure-u-1 l-box">
		<div class="pure-alert pure-alert-block pure-alert-warning">
			<h4>{{labels.deleteConfirm}}</h4> 
		</div>
	</div>	
	{{/if}}
	
</div>
