<form action="#none" id="relationshipAddRelationshipTypeForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
  
    <div class="pure-u-1 l-box">
      <div class="pure-narrative">
        <span class="narrative-summary">What type of relationship do you want to add?</span>
      </div>
    </div>
  
    <div class="pure-u-1-2 l-box" id="relationship_types">
      <label class="pure-radio">
        <input type="radio" id="relationship_typeFamilial" name="relationshipType" value="FamilialRelationshipType"  {{#isEqual modelData.relationshipType 'FamilialRelationshipType'}} checked {{/isEqual}}/><span class="mandatory">Familial</span>
      </label>
      <br />
      
      <label class="pure-radio">
        <input type="radio" id="relationship_typeSocial" name="relationshipType" value="SocialRelationshipType" {{#isEqual modelData.relationshipType 'SocialRelationshipType'}} checked {{/isEqual}}/><span class="mandatory">Social</span>
      </label>
      <br />
      
      <label class="pure-radio">
        <input type="radio" id="relationship_typeProfessional" name="relationshipType" value="ProfessionalRelationshipType" {{#isEqual modelData.relationshipType 'ProfessionalRelationshipType'}} checked {{/isEqual}}/><span class="mandatory">Professional</span>
      </label>
      <br />
      
      {{#unless relatedPerson}}
      <label class="pure-radio">
        <input type="radio" id="relationship_typeOrganisational" name="relationshipType" value="OrganisationRelationshipType" {{#isEqual modelData.relationshipType 'OrganisationRelationshipType'}} checked {{/isEqual}}/><span class="mandatory">Organisational</span>
      </label>
      <br />
      
      <label class="pure-radio">
        <input type="radio" id="relationship_typeTeam" name="relationshipType" value="ClientTeamRelationshipType" {{#isEqual modelData.relationshipType 'ClientTeamRelationshipType'}} checked {{/isEqual}}/><span class="mandatory">Team</span>
      </label>
      <br />
      {{/unless}}
      
    </div>
    
  </div>
</form>