<form action="#none" id="relationshipAddForm" class="pure-form pure-form-stacked">
<fieldset>	
	<div class="pure-g-r">		
		
		<div class="pure-u-1 l-box">
			<div class="pure-narrative">
			<span class="narrative-summary">You're saving a relationship suggestion between {{roleAPersonName}} ({{roleAPersonIdentifier}}) and {{roleBPersonName}} ({{roleBPersonIdentifier}})</span>
			<span class="narrative-description">{{roleBPersonName}} is {{relationshipLabel}} {{roleAPersonName}} </span>
			</div>
		</div>

		<div class="pure-u-1-2 l-box">
			<label for="startDate">{{labels.startDate}} <span class="mandatory">*</span></label>
            <input type="text" class="pure-input-1" name="startDate" id="relationship_startDate" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat relationshipStartDate}}" />
		</div>
		
		<div class="pure-u-1-1 l-box">
	        <label for="startDateEstimated" class="pure-checkbox">
	        	<input type="checkbox"  name="startDateEstimated" id="relationship_startDateEstimated" value="true" {{#if startDateEstimated}}checked="checked"{{/if}} />
	            <span>{{labels.startDateEstimated}}</span>
	        </label>
        </div>
	
	</div>
</fieldset>
</form>