<form action="#none" id="addAddressForm" class="pure-form pure-form-stacked">

  <div id="successMsg-wrapper" class="dialog-header-message"></div>

	<div class="pure-g-r">
     <div class="pure-u-1 l-box">
        <div class="pure-narrative" id="narrative">
            <span class="narrative-summary"></span>
            <span class="narrative-description"></span>
        </div>
      </div>
	</div>

  <div class="pure-g-r" id="addLocation-wrapper" style="display:none;">

      <div class="pure-u-1-2 l-box" id="primaryNameOrNumber-wrapper">
          <label for="location_primaryNameOrNumber">{{labels.primaryNameOrNumber}}<span class="mandatory"> *</span></label>
          <input type="text" class="pure-input-1" name="primaryNameOrNumber" id="address_primaryNameOrNumber" maxlength="35" />
      </div>

      <div class="pure-u-1-2 l-box" id="street-wrapper">
          <label for="location_street">{{labels.street}}<span class="mandatory"> *</span></label>
          <input type="text" class="pure-input-1" name="street" id="address_street" maxlength="60" />
      </div>

      <div class="pure-u-1-2 l-box" id="locality-wrapper">
          <label for="location_locality">{{labels.locality}}</label>
          <input type="text" class="pure-input-1" name="locality" id="address_locality" maxlength="255" />
      </div>

      <div class="pure-u-1-2 l-box" id="town-wrapper">
          <label for="location_town">{{labels.town}}<span class="mandatory"> *</span></label>
          <input type="text" class="pure-input-1" name="town" id="address_town" maxlength="60" />
      </div>

      <div class="pure-u-1-2 l-box" id="countyCode-wrapper">
          <label for="countyCode-input" id="countyCode-label">County</label>
          <select type="text" class="pure-input-1" name="countyCode" id="county-input">
              <option value=""></option>
          </select>
      </div>

      <div class="pure-u-1-2 l-box" id="postcode-wrapper">
          <label for="postcode-input">{{labels.postcode}}<span class="mandatory"> *</span></label>
          <input type="text" class="pure-input-1" name="postcode" id="address_postcode" maxlength="8" />
      </div>

      <div class="pure-u-1-2 l-box" id="countryCode-wrapper">
          <label for="country-input" id="countryCode-label">Country</label>
          <select type="text" class="pure-input-1" name="countryCode" id="country-input">
              <option value=""></option>
          </select>
      </div>

      <div class="pure-u-1-2 l-box" id="countrySubdivisionCode-wrapper">
          <label for="subdivision-input" id="countrySubdivisionCode-label">Region</label>
          <select type="text" class="pure-input-1" name="countrySubdivisionCode" id="subdivision-input">
              <option value=""></option>
          </select>
      </div>

      <div class="pure-u-1 l-box" style="margin-top:1em;">
          <span style="float:right">
              <button type="button" class="yui3-button pure-button-primary" id="confirmAddLocation"><i class="fa fa-check"></i> Save and continue</button>
              <button type="button" class="yui3-button pure-button-secondary" id="cancelAddLocation"><i class="fa fa-times"></i> Cancel</button>
          </span>
      </div>
  </div>

	<div class="pure-g-r">
      <div class="pure-u-1 l-box" id="location-wrapper">
          <label>Location <span class="mandatory">*</span><a href="#" class="input-link-above" id="location_toggleAddLocation">Add location</a></label>
      </div>

      <div class="pure-u-1-1 l-box">
    	 	  <div id="overMaxResults-wrapper" class="pure-info" style="display:none;">
    	  	    <p class="estimatedInfo">There were too many results to display in full, consider refining your search criteria.</p>
    	  	</div>
  	  </div>

      <div class="pure-u-1-2 l-box" id="postcodeSearch-wrapper">
          <label for="postcodeSearch-input" id="postcodeSearch-label">Postcode</label>
          <input id="postcodeSearch-input" class="pure-input-1" name="postcodeSearch" maxlength="100" type="text"/>
   	  </div>

      <div class="pure-u-1-2 l-box" id="houseSearch-wrapper">
          <label for="houseSearch-input" id="houseSearch-label">House name or number</label>
          <input id="houseSearch-input" class="pure-input-1" name="houseSearch" maxlength="100" type="text"/>
      </div>

      <div class="pure-u-1-1 l-box">
          <div id="address_search_note" class="pure-info">
              <p class="estimatedInfo">Enter EITHER a full, valid postcode, OR a partial postcode and house name/number.</p>
          </div>
      </div>

      <div class="pure-u-1-1 l-box">
          <div id="noSearchResults-wrapper" class="pure-info" style="display:none;">
              <p class="estimatedInfo">We have no results for you - do you want to <a href="#" id="location_toggleAddLocation">add a location?</a></p>
          </div>
      </div>

      <div class="pure-u-1 l-box">
          <div id="locations">
              <div class="text">
                  <ul class="ac-single-selection"></ul>
              </div>
          </div>
      </div>

      <div class="pure-u-1-2 l-box" id="type-wrapper">
          <label for="type-input" id="type-label">Type <span class="mandatory">*</span></label>
          <select type="text" class="pure-input-1" name="type" id="type-input">
              <option value=""></option>
          <select/>
      </div>

      <div class="pure-u-1-2 l-box" id="usage-wrapper">
          <label for="usage-input" id="usage-label">Usage <span class="mandatory">*</span></label>
          <select type="text" class="pure-input-1" name="usage" id="usage-input">
              <option value=""></option>
          <select/>
      </div>

      <div class="pure-u-1-2 l-box" id="roomDescription-wrapper">
          <label for="roomDescription-input" id="roomDescription-label">{{labels.roomDescription}}</label>
          <input id="roomDescription-input" class="pure-input-1" name="roomDescription" maxlength="255" type="text"/>
      </div>

      <div class="pure-u-1-2 l-box" id="floorDescription-wrapper">
          <label for="floorDescription-input" id="floorDescription-label">{{labels.floorDescription}}</label>
          <input id="floorDescription-input" class="pure-input-1" name="floorDescription" maxlength="255" type="text"/>
      </div>

      <div class="pure-u-1-2 l-box" id="startDate-wrapper">
          <br/>
          <label>Start date <span class="mandatory">*</span></label>
          <div class="pure-u-1 inner-wrapper" id="fuzzyStartDate-wrapper">
              <div id="fuzzyStartDate-input" class="fieldset-wrap"></div>
              <div>
                  <ul id="preSelectDateOptions" class="fuzzy-current-date-link">
                      <li><a class="currentDate small" href="#">Select current date</a></li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="pure-u-1-2 l-box" id="doNotDisclose-wrapper">
          <label class="pure-checkbox" for="doNotDisclose-input">
              <input id="doNotDisclose-input" name="doNotDisclose" type="checkbox" value="true"/>
              Do not disclose
          </label>
      </div>

  </div>
</form>
