<form action="#none" id="addOrganisationOwnershipForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">

    <div class="pure-u-1 l-box">
      <div class="pure-narrative">
        <span class="narrative-summary">{{labels.narrativeAddOrganisationOwnership}}</span>
      </div>
    </div>

    <div class="pure-u-1-2 l-box">
      <label for="parentOrganisationIdWrapper">{{labels.parentOrganisation}} <span class="mandatory">*</span></label>
      <div class="pure-u-1" id="parentOrganisationIdWrapper" class="pure-u-1 l-box"></div>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.startDate}}<span class="mandatory">*</span></div>
      <input id="startDate" type="text" name="startDate" class="pure-input-1" placeholder="DD-MMM-YYYY" />
    </div>
</form>