<form action="#none" id="changeOrganisationNameForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r" >
		<div class="pure-u-1 l-box">
			<div class="pure-narrative" id="describedby" aria-live="polite">
				<span class="narrative-summary">{{labels.changeNameSummaryBeginning}}</span>
				<span class="narrative-description">{{modelData.name}} (ORG{{modelData.id}})</span>
				<span class="narrative-summary">{{labels.changeNameSummaryEnding}}</span>
			</div>
		</div>
    
	      <div class="pure-u-1-1 l-box">      
	        <label for="organisation_name">{{labels.name}} <span class="mandatory">*</span></label>         
	        <input type="text" class="pure-input-1" name="name" id="organisation_name" maxlength="100" value="{{modelData.name}}" />
	      </div>
     </div>
</form>