<form action="#none" id="editOrganisationForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">     
      
      <div class="pure-u-1 l-box">
        <div class="pure-narrative">
          <span class="narrative-summary">{{labels.narrativeEditOrganisation}}</span>
          <span class="narrative-description">{{modelData.name}} (ORG{{modelData.id}})</span>
        </div>   
      </div>
    
      <div class="pure-u-1-1 l-box">      
        <label for="organisation_name">{{labels.name}} <span class="mandatory">*</span></label>         
        <input type="text" class="pure-input-1" name="name" id="organisation_name" maxlength="100" value="{{modelData.name}}" />
      </div>
    
    {{#unless teamView}}
      <div class="pure-u-1-2 l-box">
        <label for="mainTypeOrganisation-input">{{labels.type}}</label>
        <select name="type" class="pure-input-1" id="mainTypeOrganisation-input" value="">        
          <option value=""></option>
        </select>
      </div>  
    
      <div class="pure-u-1-2 l-box">
        <label for="subTypeOrganisation-input" id="classification_finalLevelClassification_label">{{labels.subType}} </label>
        <select name="subType" class="pure-input-1" id="subTypeOrganisation-input" value="" disabled>       
          <option value=""></option>
        </select>
      </div>  
       {{/unless}}
    </div>
</form>