<form action="#none" id="endOrganisationDialog" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
	    
			<div class="pure-u-1-2 l-box">
					<label for="endDate">{{labels.endDate}}<span class="mandatory"> *</span></label>
					<input id="endDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="endDate"/>
			</div>	
			<div class="pure-u-1-1 l-box">
				<div id="openRelationshipsWarning" class="pure-alert pure-alert-info">
					<p>{{labels.openRelationshipsWarning}}</p>
				</div>
			</div>
	</div>
</form>