<div class="pure-g-r readonly">
	<div class="pure-u-1-1 l-box">
		<div class="name">{{labels.name}}</div>
		<div class="value"> {{modelData.name }}
			<div class="linkRight" style="display:{{canChangeOrganisationName}}">
				<a href="#none" id="changeName" data-trigger="changeOrganisationName" class="small change-OrganisationName">{{labels.changeNameLink}}</a>
				<a href="#" class="pop-up-data" data-title="{{labels.changeNamePopupTitle}}" data-content="{{labels.changeNamePopupContent}}">Help</a>
			</div>		
		</div>
		{{#if previousNames}}		     
			<div class="name">{{labels.previousNames}}</div>
			{{#each previousNames}}
				<div class="value">{{this}}</div>
			{{/each}}
		
		{{/if}}	 	
	</div>
	
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.type}}</div>
		{{#if teamView}}
		<div class="value">Team</div>	
		{{else}}
		<div class="value"> {{codedEntry modelData.type codedEntries.organisationType}}</div>	
		{{/if}} 	
	</div>
	
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.subType}}</div>
		<div class="value"> {{codedEntry modelData.subType codedEntries.organisationSubType}}</div>	 	
	</div>
	
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.parentOrganisation}}</div>
		<div class="value"> {{modelData.parentOrganisation.name}}</div>	 	
	</div>

	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.parentOganisationOwnershipStartDate}}</div>
		<div class="value"> {{dateFormat modelData.parentOrganisationOwnershipStartDate}}</div>	 	
	</div>
	{{#if modelData.startDate}}
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.startDate}}</div>
		<div class="value"> {{dateFormat modelData.startDate}}</div>	 	
	</div>
	{{/if}} 
	{{#if modelData.endDate}}
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.endDate}}</div>
		<div class="value"> {{dateFormat modelData.endDate}}</div>	 	
	</div>
	{{/if}} 
	<div class="pure-u-1 l-box"> 
    	<div class="pure-button-group pull-right button-holder"></div>
	</div>

</div>