<form action="#none" id="referenceNumberAddForm" class="pure-form pure-form-stacked">
  <fieldset>  
    <div class="pure-g-r">
      
      <div class="pure-u-1 l-box">
        <div class="pure-narrative">
          <span class="narrative-summary">{{narrative.summary}}</span>
          <span class="narrative-description">{{narrative.description}}</span>
        </div>
      </div>
      
      <div class="pure-u-1-2 l-box">
        <label for="referenceNumberType-input">{{labels.referenceNumberType}} <span class="mandatory">*</span></label>
        <select name="type" class="pure-input-1" id="type-input"></select>
      </div>  
  
      <div class="pure-u-1-2 l-box">      
        <label for="number-input">{{labels.number}} <span class="mandatory">*</span></label>  
        <input type="text" class="pure-input-1" name="referenceNumber" id="referenceNumber-input" maxlength="30" value="{{modelData.referenceNumber}}"/>   
      </div>
      
      <br/>       
      
    </div>
  </fieldset>
</form>