<form action="#none" id="securityRecordTypeConfiguration" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <label for="securityRecordTypeConfiguration_name">{{labels.name}} <span class="mandatory">*</span></label>
      <input autofocus type="text" class="pure-input-1" name="name" id="securityRecordTypeConfiguration_name" maxlength="250" value="{{modelData.name}}" />
      <label for="securityRecordTypeConfiguration_description">{{labels.description}}</label>
      <textarea name="description" class="pure-input-1" id="securityRecordTypeConfiguration_description" rows="3">{{modelData.description}}</textarea>
    </div>

    <div class="pure-u-1-2 l-box">
      <fieldset id="securityRecordTypeConfiguration_defaultAccessLevel" class="record-access-level">
        <label for="securityRecordTypeConfiguration_defaultAccessLevel">{{labels.defaultAccessLevel}} <span class="mandatory">*</span></label>
        <div id="securityRecordTypeConfiguration_defaultAccessLevel_slider"><!-- slider control goes here --><input type="hidden" name="defaultAccessLevel" value="{{modelData.defaultAccessLevel}}"/></div>
      </fieldset>
    </div>
  </div>
</form>