<form action="#none" class="pure-form pure-form-stacked filter-panel">
  <div class="panel bordered">
    <div>
      <h3 class="alt2" tabindex="0">{{labels.filterBy}}</h3>
    </div>
    <div class="pure-g-r">
      <div class="pure-u-1-3 l-box">
        <label for="securityDomain_name">{{labels.name}}</label>
        <input type="text" class="pure-input-1" name="name" id="securityDomain_name" maxlength="255" value="{{modelData.name}}" />
      </div>
      <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
          <input type="button" data-reset="reset" class="pure-button pure-button-secondary" value="Reset" aria-label="Reset state filters">
        </div>
      </div>
    </div>
  </div>
</form>