<form action="#none" id="securityDomainForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1-1 l-box">
      <label for="securityDomain_name">{{labels.name}} <span class="mandatory">*</span></label>
      <input autofocus type="text" class="pure-input-1" name="name" id="securityDomain_name" maxlength="250" value="{{modelData.name}}" />
    </div>

    <div class="pure-u-1-1 l-box">
      <label for="securityDomain_description">{{labels.description}}</label>
      <textarea name="description" class="pure-input-1" id="securityDomain_description" rows="3">{{modelData.description}}</textarea>
    </div>
  </div>
</form>