<form action="#none" id="teamnResultsFilterForm" class="pure-form pure-form-stacked filter-panel">
	<div class="panel bordered">	
		<div>
			<h3 class="alt2" tabindex="0">{{labels.filterBy}}</h3>
		</div>	
		<div id="teamResultsFilter">
			<div class="pure-g-r">
				<div class="pure-u-1-3 l-box">
					<label for="teamFilter_nameOrOrgIdOrPrevName">{{labels.name}}</label>
					<input type="text" class="pure-input-1" name="nameOrOrgIdOrPrevName" id="teamFilter_nameOrOrgIdOrPrevName" maxlength="255" value="{{modelData.nameOrOrgIdOrPrevName}}" />  
				</div>	
				<div class="pure-u-1">
					<div class="l-box">
						<div class="pure-button-group pull-right">
							<input type="button" data-reset="reset"
								class="pure-button pure-button-secondary" value="Reset"
								aria-label="Reset state filters">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>