<div class="pure-g-r">
  <div class="pure-u-1 l-box">
  <h4 class="alt2">Members</h4>
  <div id="teams-tab-view-src" >
    <ul>
      {{#roles}}
         <li><a href="#{{hook}}">{{label}} </a></li>
      {{/roles}}
    </ul>
    <div>
      {{#roles}}
        <div id="{{hook}}" class="l-box">{{label}} content</div>
      {{/roles}}
    </div>
  </div>
  <div id="teams-tab-view"></div>
</div>
