{{#roleMembers}}
  {{#unless uiHidden}}
    <div class="pure-g-r record" data-index="{{@index}}">    
      <div class="pure-u-2-3">
        <span>{{name}}</span>
        <span>({{personIdentifier}})</span>
      </div>     
      <div class="pure-u-1-3">
        <a href="#" class="small pull-right" data-action="remove" data-id="{{id}}">{{../../labels.btns.remove}}</a>
      </div>
    </div>
    {{/unless}}
{{/roleMembers}}




