<div class="pure-g-r">
  {{#if isAdd}}
    <div class="pure-u-1 l-box">
      <label for="name-input">{{labels.name}} <span class="mandatory">*</span></label>
      <input type="text" name="name" class="pure-input-1" id="name-input" maxlength="100" value="{{modelData.name}}"/>
    </div>
  {{else}}
    <div class="pure-u-1 l-box">
      <div class="name">{{labels.name}}</div>
      <div class="value">{{modelData.name }}</div>
    </div>
  {{/if}}
  <div class="pure-u-1 l-box">
    <label for="description-input">{{labels.description}}</label>
    <textarea name="description" class="pure-input-1" id="description-input" rows="3" maxlength="160">{{textFormat modelData.description}}</textarea>
  </div>
  <div class="pure-u-1-2 l-box">
    <label for="securityRecordTypeConfigurationId">{{labels.securityProfile}} <span class="mandatory">*</span></label>
    <div id="securityProfileContent"></div>
  </div>
  <div class="pure-u-1-2 l-box">
    <label for="region-input">{{labels.region}}</label>
     <select class="pure-input-1" name="region" id="region-input">
       <option value=""></option>
    </select>    
  </div>
  <div class="pure-u-1-2 l-box">
    <label for="sector-input">{{labels.sector}}</label>
    <select class="pure-input-1" name="sector" id="sector-input">
      <option value=""></option>
    </select>
  </div>
  <div class="pure-u-1-2 l-box">
    <label for="sectorSubType-input">{{labels.sectorSubType}}</label>
     <select class="pure-input-1" name="sectorSubType" id="sectorSubType-input">
       <option value=""></option>
    </select>
  </div>
</div>