{{#if anyActive}}
	<span>{{labels.filter}}</span>
	
	{{#if activeFilter.nameOrOrgIdOrPrevName}}
		<span class="label">{{labels.name}}<a href="#none" data-reset="nameOrOrgIdOrPrevName" aria-label="Remove name filter"> <i class="fa fa-times-circle"></i></a></span>
	{{/if}}	
	
	 <a href="#none" data-reset="nameOrOrgIdOrPrevName" class="small" aria-label="Reset all filters">Reset all</a>
{{/if}}
