
<form class="pure-form">
  <div class="pure-g-r">
    <div class="pure-u-1">
      <input type="text" class="pure-input-1" name="search" placeholder="{{labels.placeholderFindByNameId}}" />
    </div>   
</div>