<form method="post" action="#none" id="updateOrganisationAddressDatesForm" class="pure-form pure-form-stacked">
  <fieldset>
    <div class="pure-g-r">
      <div class="pure-u-1 l-box">
        <div class="pure-narrative" id="narrative">
          <span class="narrative-summary"></span>
          <span class="narrative-description"></span>
        </div>
      </div>
      <div class="pure-u-1 l-box">
        <label>{{labels.location}}</label>
        <div class="value addressLocation-wrapper">
          {{#if addressLocationDescription}}
            {{#if modelData.doNotDisclose}}
              <div class="pop-up-data" data-content="Do not disclose" data-align="bottom">
                <span class="do-not-disclose">
                  <i class="fa fa-ban" aria-hidden="true"></i>
                </span>
              </div>
            {{/if}}
            {{googleMapLink addressLocationDescription}}
          {{else}}
            {{codedEntry modelData.unknownLocationType codedEntries.unknownLocations}}
          {{/if}}
        </div>
      </div>
      <div class="pure-u-1-2 l-box">
        <label>{{labels.type}}</label>
        <div class="value" id="type-dd">
          {{codedEntry modelData.type codedEntries.addressType}}
        </div>
      </div>
      <div class="pure-u-1-2 l-box">
        <label>{{labels.usage}}</label>
        <div class="value" id="usage-dd">
          {{codedEntry modelData.usage codedEntries.addressUsage}}
        </div>
      </div>
      <div class="pure-u-1-2 l-box">
        <label>{{labels.roomDescription}}</label>
        <div class="value">
          {{modelData.roomDescription}}
        </div>
      </div>
      <div class="pure-u-1-2 l-box">
        <label>{{labels.floorDescription}}</label>
        <div class="value">
          {{modelData.floorDescription}}
        </div>
      </div>

      <div class="pure-u-1 l-box" id="startDate-wrapper">
        <label>{{labels.addressStartDate}} <span class="mandatory">*</span></label>
        <div class="pure-u-1-2 inner-wrapper" id="fuzzyStartDate-wrapper">
          <div id="fuzzyStartDate" class="pure-u-1 fieldset-wrap"></div>
          <div class="pure-u-1 l-box">
            <ul id="preSelectStartDateOptions" class="fuzzy-current-date-link">
              <li><a class="currentDate small" href="#">Select current date</a></li>
            </ul>
          </div>
        </div>
      </div>

      {{#if modelData.endDate}}
      {{#if modelData.endDate.calculatedDate}}
      <div class="pure-u-1 l-box" id="endDate-wrapper">
        <label>{{labels.addressEndDate}} </label>
        <div class="pure-u-1-2 inner-wrapper" id="fuzzyEndDate-wrapper">
          <div id="fuzzyEndDate" class="pure-u-1 fieldset-wrap"></div>
          <div class="pure-u-1 l-box">
            <ul id="preSelectEndDateOptions" class="fuzzy-current-date-link">
              <li><a class="currentDate small" href="#">Select current date</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="pure-u-1-2 l-box">
        <label id="endReason-label">{{labels.endReason}} </label>
        <div class="value">
          {{codedEntry modelData.endReason codedEntries.addressEndReason}}
        </div>
      </div>
    </div>
    {{/if}}
    {{/if}}

    <div class="pure-u-1 l-box">
      <div class="pure-alert pure-alert-block pure-alert-warning">
        <h4>{{labels.updateAddressDatesConfirm}}</h4>
      </div>
    </div>
  </fieldset>
</form>