<div class="pure-g-r readonly">
  <div class="pure-u-1 l-box">
    <div class="name">{{labels.name}}</div>
    <div class="value">{{modelData.name }}</div>
  </div>
  <div class="pure-u-1 l-box">
    <div class="name">{{labels.description}}</div>
    <div class="value">{{{textFormat modelData.description}}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.securityProfile}}</div>
    <div class="value">{{modelData.securityConfigurationName }}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.region}}</div>
    <div class="value">{{codedEntry modelData.region codedEntries.region}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.sector}}</div>
    <div class="value">{{codedEntry modelData.sector codedEntries.sector}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.sectorSubType}}</div>
    <div class="value">{{codedEntry modelData.sectorSubType codedEntries.sectorSubType}}</div>
  </div>
</div>