<form action="#none" id="editWarningRelatedChecklistDefinitionDialog" class="pure-form pure-form-stacked">
	<div class="pure-g-r" >
		<div class="pure-u-1-2 l-box">
			<label for="title-input">{{labels.worklist}}</label>
			<div id="checklistDefinitionIdAutocomplete"></div>
		</div>
</form>