<div class="pure-g-r readonly">
	<div class="pure-u-1-2 l-box">
		<label for="warningRelatedChecklistDefinitionId">{{labels.worklist}}</label>
		<div id="warningRelatedChecklistDefinitionId" class="value">{{modelData.definitionId}}</div>
	</div>
	<div class="pure-u-1-2 l-box" id="buttonContainer">
		<br />
		<button class="yui3-button pure-button-active clear" id="editButton"><i class="fa fa-wrench"></i> {{labels.edit}}</button>
	</div>
</div>