@import (inline) "node_modules/usp-simple-tree/css/main.css";
.access-level-control{
  font-size: 12px;
  display:inline-block;

  &.declared{
    opacity:1;
  }

  &.inherited{
    opacity:0.6;
  }

  .access-level-value{
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    color: #555;
    background-color: #FFF;
    padding: 2px 2px;
    font-size: 12px;
    width: 14px;
    height: 16px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}
.access-level-key {
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 1.25em;
    ul{
      list-style-type: none;
      padding: 0.5em 0;
      margin: 0 1em;
      .key-value{
        display: inline-block;
        width:1.25em;
        text-align: center
      }
    }
}

.domains-view{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  .node-toggle{
    border-radius: 2px;
    cursor: pointer;
    &:focus{
      outline: #d1d1d1 thin dashed;
    }
  }

  .domain-tree{
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    max-width: 45%;
    min-width: 250px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 1em;
    padding: 0.25em 0.25em 1em;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
  }

  .draggable{
    cursor: -webkit-grab;
    cursor: grab;
    /* turn off browser touch handling */
    -ms-touch-action: none;
    touch-action: none;
    border-radius: 2px;
    &:focus{
      outline: #347ab7 medium dashed;
    }
  }

  .dropzone{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    position:relative;
    margin:0.5em;
    padding:0.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    
    &.over{
      background-color:#eff1f2;
      &:after{
        font-family: FontAwesome;
        content: "\f055";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: .2;
        font-size: 45px;
        color: #555;
        margin-left: -22.5px;
      }
    }
  }
}

.node-toggle{
  & > i{
    height: 1.1em;
    width: 1.1em;
    line-height: 1.2em;
    font-size: 1em;
    text-align: center;
  }
}

.overridden{
  & > .node-toggle{
    & > i{
      background-color: #727272;
      color: #efefef;
      -webkit-box-shadow: 0px 0px 4px #727272;
              box-shadow: 0px 0px 4px #727272;
      border-radius: 4px;
    }
  }
}
.record-type{
  display:inline-block;
  .fa-stack{
    color:#347ab7;
  }
}
