@sm-max: 480px;
@md-max: 768px;
@mobile: ~"only screen and (max-width: @{sm-max})";
@tablet: ~"only screen and (max-width: @{md-max})";
.pop-up-data {
    &.help-icon {
        display: inline-block;
        background-size: 18px;
    }
    .info-icon {
        color: #347ab7;
        padding-right: 0.5em;
    }
}

.input-prepend {
    &.calendar span {
        vertical-align: bottom;
        right: -1px;
        bottom: -0.5px;
    }
}

[class *="pure-u"], {
    &.input-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        &>.control-col, &>.label-col {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
}

.input-flex {
    &>.pure-u-1-24 {
        max-width: 4.1667%;
    }
    &>.pure-u-1-12, &>.pure-u-2-24 {
        max-width: 8.3333%;
    }
    &>.pure-u-1-8, &>.pure-u-3-24 {
        max-width: 12.5%;
    }
    &>.pure-u-1-6, &>.pure-u-4-24 {
        max-width: 16.6667%;
    }
    &>.pure-u-1-5 {
        max-width: 20%;
    }
    &>.pure-u-5-24 {
        max-width: 20.8333%;
    }
    &>.pure-u-1-4, &>.pure-u-6-24 {
        max-width: 25%;
    }
    &>.pure-u-7-24 {
        max-width: 29.1667%;
    }
    &>.pure-u-1-3, &>.pure-u-8-24 {
        max-width: 33.3333%;
    }
    &>.pure-u-3-8, &>.pure-u-9-24 {
        max-width: 37.5%;
    }
    &>.pure-u-2-5 {
        max-width: 40%;
    }
    &>.pure-u-5-12, &>.pure-u-10-24 {
        max-width: 41.6667%;
    }
    &>.pure-u-11-24 {
        max-width: 45.8333%;
    }
    &>.pure-u-1-2, &>.pure-u-12-24 {
        max-width: 50%;
    }
    &>.pure-u-13-24 {
        max-width: 54.1667%;
    }
    &>.pure-u-7-12, &>.pure-u-14-24 {
        max-width: 58.3333%;
    }
    &>.pure-u-3-5 {
        max-width: 60%;
    }
    &>.pure-u-5-8, &>.pure-u-15-24 {
        max-width: 62.5%;
    }
    &>.pure-u-2-3, &>.pure-u-16-24 {
        max-width: 66.6667%;
    }
    &>.pure-u-17-24 {
        max-width: 70.8333%;
    }
    &>.pure-u-3-4, &>.pure-u-18-24 {
        max-width: 75%;
    }
    &>.pure-u-19-24 {
        max-width: 79.1667%;
    }
    &>.pure-u-4-5 {
        max-width: 80%;
    }
    &>.pure-u-5-6, &>.pure-u-20-24 {
        max-width: 83.3333%;
    }
    &>.pure-u-7-8, &>.pure-u-21-24 {
        max-width: 87.5%;
    }
    &>.pure-u-11-12, &>.pure-u-22-24 {
        max-width: 91.6667%;
    }
    &>.pure-u-23-24 {
        max-width: 95.8333%;
    }
    &>.pure-u-1, &>.pure-u-1-1, &>.pure-u-5-5, &>.pure-u-24-24 {
        max-width: 100%
    }
}

.pure-form .pure-fieldset {
    margin: 0;
    input, select, textarea {
        margin-top: 0;
    }
}

.input-flex {
    &>.name {
        padding-left: 0;
        padding-right: 4px;
    }
    &.in-row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    &.in-column {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    &>.item-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin-right: 1em;
        .name {
            padding-left: 0;
            padding-right: 4px;
        }
    }
    &>.to-end {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
}

@media @mobile {
    .input-flex >[class *="pure-u-"] {
        min-width: 100%
    }
}

@media @tablet {
    .input-flex >[class *="pure-u-"] {
        min-width: 100%
    }
}