<form action="#none" id="educationEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        <div class="pure-u-1-2 l-box">
            <label for="nationalCurriculumOffset-input">{{labels.nationalCurriculumOffset}} <span class="mandatory">*</span></label>
            <select class="pure-input-1" id="nationalCurriculumOffset-input" name="nationalCurriculumOffset" value="">				
                <option value="" disabled selected>Select an offset</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>	
        <br/>				
    </div>
</form>