<form method="#none" id="careLeaverAddForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r">
		<div class="pure-u-1-2 l-box">
			<label for="careLeaverEligibility">{{labels.careLeaverEligibility}}<span class="mandatory"> *</span></label>
			<select id="careLeaverEligibility" name="careLeaverEligibility" class="pure-input-1"></select>
		</div>
		<div id="reasonQualifyingWrapper" class="pure-u-1-2 l-box">
			<label for="reasonQualifying" id="reasonQualifyingLabel">{{labels.reasonQualifying}}</label>
			<select id="reasonQualifying" name="reasonQualifying" class="pure-input-1"></select>
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="contactDate">{{labels.contactDate}}<span class="mandatory"> *</span></label>
			<input id="contactDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="contactDate"/>
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="inTouch">{{labels.inTouch}}<span class="mandatory"> *</span></label>
			<select id="inTouch" name="inTouch" class="pure-input-1"></select>
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="mainActivity" class="inTouchFieldLabel">{{labels.mainActivity}}</label>
			<select id="mainActivity" name="mainActivity" class="pure-input-1 inTouchField" disabled></select>
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="accommodation" class="inTouchFieldLabel">{{labels.accommodation}}</label>
			<select id="accommodation" name="accommodation" class="pure-input-1 inTouchField" disabled></select>
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="accommodationSuitability" class="inTouchFieldLabel">{{labels.accommodationSuitability}}</label>
			<select id="accommodationSuitability" name="accommodationSuitability" class="pure-input-1 inTouchField" disabled></select>
		</div>
		<div id="multipleOccupancyWrapper" class="pure-u-1-2 l-box">
			<fieldset id="multipleOccupancy">
				<legend for="multipleOccupancy" class="inTouchFieldLabel">{{labels.multipleOccupancy}}</legend>
				<div class="fieldset-wrap pure-g-r">
					<div class="pure-u-1-4 l-box">
						<label class="pure-radio" >
							<input class="inTouchField" id="multipleOccupancyYes" type="radio" name="multipleOccupancy" value="true" disabled/> Yes
						</label>
					</div>
					<div class="pure-u-1-4 l-box">
						<label class="pure-radio" >
							<input class="inTouchField" id="multipleOccupancyNo" type="radio" name="multipleOccupancy" value="false" disabled/> No
						</label>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</form>