<form method="#none" id="careLeaverAddForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r">
		<div class="pure-u-1-2 l-box">
			<label for="careLeaverEligibility">{{labels.careLeaverEligibility}}<span class="mandatory"> *</span></label>
			<div class="value" id="careLeaverEligibility" >{{codedEntry modelData.careLeaverEligibility codedEntries.careLeaverEligibility}}</div>			
		</div>
		<div id="reasonQualifyingWrapper" class="pure-u-1-2 l-box">
			<label for="reasonQualifying" id="reasonQualifyingLabel">{{labels.reasonQualifying}}</label>
			<div class="value" id="reasonQualifying" >{{codedEntry modelData.reasonQualifying codedEntries.reasonQualifying}}</div>
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="contactDate">{{labels.contactDate}}<span class="mandatory"> *</span></label>
			<div class="value" id="contactDate">{{dateFormat modelData.contactDate}}</div>			
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="inTouch">{{labels.inTouch}}<span class="mandatory"> *</span></label>
			<div class="value" id="inTouch" >{{codedEntry modelData.inTouch codedEntries.inTouch}}</div>			
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="mainActivity" class="inTouchFieldLabel">{{labels.mainActivity}}</label>
			<div class="value" id="mainActivity" >{{codedEntry modelData.mainActivity codedEntries.mainActivity}}</div>			
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="accommodation" class="inTouchFieldLabel">{{labels.accommodation}}</label>
			<div class="value" id="accommodation" >{{codedEntry modelData.accommodation codedEntries.accommodation}}</div>
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="accommodationSuitability" class="inTouchFieldLabel">{{labels.accommodationSuitability}}</label>
			<div class="value" id="accommodationSuitability" >{{codedEntry modelData.accommodationSuitability codedEntries.accommodationSuitability}}</div>			
		</div>
		<div id="multipleOccupancyWrapper" class="pure-u-1-2 l-box">
			<label for="multipleOccupancy" class="inTouchFieldLabel">{{labels.multipleOccupancy}}</label>
			<div class="value" id="multipleOccupancy">{{yesNo modelData.multipleOccupancy}}</div>
		</div>
	</div>
</form>