<form action="#none" id="ruleDefinitonResultsFilterForm" class="pure-form pure-form-stacked filter-panel">
	<div class="panel bordered">	
		<div>
			<h3 class="alt2" tabindex="0">{{labels.filterBy}}</h3>
		</div>	
		<div id="ruleDefinitonResultsFilter">
			<div class="pure-g-r">
				<div class="pure-u-1-3 l-box">
					<label for="ruleFilter_name">{{labels.name}}</label>
					<input type="text" class="pure-input-1" name="name" id="ruleFilter_name" maxlength="255" value="{{modelData.name}}" />  
				</div>	
				<div class="pure-u-1-3 l-box">
					<fieldset class="l-box">
						<legend>{{labels.status}}</legend>
						{{#each otherData.statusList}}
							<label for="ruleFilter_{{name}}" class="pure-checkbox"> 
								<input id="ruleFilter_{{name}}" type="checkbox" name="status" value="{{code}}" aria-label="{{name}}" />
								{{name}}
							</label> 
						{{/each}}
					</fieldset>
				</div>	
				
				
				<div class="pure-u-1-3 l-box">
				<fieldset class="l-box">
				<legend>{{labels.validationStatus}}</legend>
					{{#each otherData.validationList}}
							<label for="ruleFilter_validationStatus{{name}}" class="pure-checkbox"> 
								<input id="ruleFilter_validationStatus{{name}}" type="checkbox" name="validationStatus" value="{{code}}" aria-label="{{name}}" />
								{{name}}
							</label> 
						{{/each}}
				</div>
				
				
				<div class="pure-u-1">
					<div class="l-box">
						<div class="pure-button-group pull-right">
							<input type="button" id="ruleFilter_clearAll"
								class="pure-button pure-button-secondary" value="Reset"
								aria-label="Reset state filters">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>