<div class="pure-g-r readonly">
	{{#otherData}}  
	<div class="pure-u-1 l-box">
		<div class="pure-narrative" id="describedby" aria-live="polite"><span class="narrative-summary">{{template narrative otherData}}</span><span class="narrative-description"></span></div>
	</div>
	{{/otherData}}
	<div class="pure-u-1 l-box">{{message}}</div>   			
</div>
