<form action="#none" class="pure-form pure-form-stacked filter-panel">
  <div class="panel bordered">
    <div>
      <h3 class="alt2" tabindex="0">{{labels.filterBy}}</h3>
    </div>
    <div id="entryFilterTabs">
      <div class="ui-tabs" id="entryFilterTabsSrc">
        <ul>
          <li>
            <a href="#dateFilters">{{labels.dateFilter}} <span class="dateFilterSpan" style="display: none">&nbsp;<i class="fa fa-filter"></i></span></a>
          </li>
          <li>
            <a href="#peopleFilters">{{labels.peopleFilter}} <span class="peopleFilterSpan" style="display: none">&nbsp;<i class="fa fa-filter"></i></span></a>
          </li>
          <li>
            <a href="#typeFilters">{{labels.typeFilter}} <span class="typeFilterSpan" style="display: none">&nbsp;<i class="fa fa-filter"></i></span></a>
          </li>
          {{#if modelData.showGroupFilter}}
            <li>
              <a href="#groupFilters">{{labels.groupFilter}} <span class="groupFilterSpan" style="display: none">&nbsp;<i class="fa fa-filter"></i></span></a>
            </li>
          {{/if}}
          {{#if otherData.showAttachmentFilter}}
            <li>
              <a href="#attachmentFilters">{{labels.attachmentFilter}} <span class="attachmentFilterSpan" style="display: none">&nbsp;<i class="fa fa-filter"></i></span></a>
            </li>
          {{/if}}
        </ul>
        <div>
          <div id="dateFilters">
            <div class="pure-g-r">
              <div class="pure-u-1-3 l-box">
                <label for="entryFilter_startDate">{{labels.entryStartDate}}</label>
                <input class="pure-input-1" id="entryFilter_startDate" maxlength="11" name="startDate" placeholder="DD-MMM-YYYY" type="text" value="{{dateFormat modelData.startDate}}">
                <label for="entryFilter_endDate">{{labels.entryEndDate}}</label>
                <input class="pure-input-1" id="entryFilter_endDate" maxlength="11" name="endDate" placeholder="DD-MMM-YYYY" type="text" value="{{dateFormat modelData.endDate}}">
                
                <div>
                <label for="entryFilter_dateRangeLinks">{{labels.dateRangeLinks}}</label>
                <ul class="inline" id="dateRangeShortcuts">
                  <li>
                    <a class="lastWeek" href="#none">{{labels.dateRangeLastWeek}}</a>
                  </li>
                  <li>
                    <a class="lastMonth" href="#none">{{labels.dateRangeLastMonth}}</a>
                  </li>
                  <li>
                    <a class="lastYear" href="#none">{{labels.dateRangeLastYear}}</a>
                  </li>
                </ul>
              </div>
              </div>
              <div class="pure-u-1-3 l-box">
                <label for="entryFilter_recordedStartDate">{{labels.recordedStartDate}}</label>
                <input class="pure-input-1" id="entryFilter_recordedStartDate" maxlength="11" name="startRecordedDate" placeholder="DD-MMM-YYYY" type="text" value="{{dateFormat modelData.startRecordedDate}}">
                <label for="entryFilter_recordedEndDate">{{labels.recordedEndDate}}</label>
                <input class="pure-input-1" id="entryFilter_recordedEndDate" maxlength="11" name="endRecordedDate" placeholder="DD-MMM-YYYY" type="text" value="{{dateFormat modelData.endRecordedDate}}">
			  			</div>
			  			<div class="pure-u-1-3 l-box">
							<label for="entryFilter_editedStartDate">{{labels.editedStartDate}}</label>
                <input class="pure-input-1" id="entryFilter_editedStartDate" maxlength="11" name="startEditedDate" placeholder="DD-MMM-YYYY" type="text" value="{{dateFormat modelData.startEditedDate}}">                
                <label for="entryFilter_editedEndDate">{{labels.editedEndDate}}</label>
                <input class="pure-input-1" id="entryFilter_editedEndDate" maxlength="11" name="endEditedDate" placeholder="DD-MMM-YYYY" type="text" value="{{dateFormat modelData.endEditedDate}}">
                <input aria-label="Reset date filters" class="pure-button pure-button-secondary pull-right filter-reset-button" data-reset="startDate,endDate,startRecordedDate,endRecordedDate,startEditedDate,endEditedDate" type="button" value="Reset">
              </div>
              
            </div>
          </div>
          <div id="peopleFilters">
            <div class="pure-g-r">
              <div class="pure-u-1-2 l-box">
                <label for="entryFilter_pracList">{{labels.practitioner}}</label>
                <select class="pure-input-1" id="entryFilter_pracList" multiple="multiple" name="pracList" size="5">
                  <option value=""></option>
                </select>
              </div>
              <div class="pure-u-1-2 l-box">
                <label for="entryFilter_pracOrgList">{{labels.practitionerOrganisation}}</label>
                <select class="pure-input-1" id="entryFilter_pracOrgList" multiple="multiple" name="pracOrgList" size="5">
                  <option value=""></option>
                </select>
              </div>
              <div class="pure-u-1-2 l-box">
                <label for="entryFilter_sourceList">{{labels.source}}</label>
                <select class="pure-input-1" id="entryFilter_sourceList" multiple="multiple" name="sourceList" size="5">
                  <option value=""></option>
                </select>
                <label for="entryFilter_otherSource">{{labels.otherSource}}</label>
                <input class="pure-input-1" id="entryFilter_otherSource" maxlength="255" name="otherSource" type="text" />
              </div>
              <div class="pure-u-1-2 l-box">
                <label for="entryFilter_sourceOrgList">{{labels.sourceOrganisation}}</label>
                <select class="pure-input-1" id="entryFilter_sourceOrgList" multiple="multiple" name="sourceOrgList" size="5">
                  <option value=""></option>
                </select>
                <label for="entryFilter_otherSourceOrganisation">{{labels.otherSourceOrganisation}}</label>
                <input class="pure-input-1" id="entryFilter_otherSourceOrganisation" maxlength="255" name="otherSourceOrg" type="text" />
              </div>
              <div class="pure-u-1 l-box">
                <div class="pure-button-group pull-right">
                  <input aria-label="Reset people filters" class="pure-button pure-button-secondary" data-reset="pracList,pracOrgList,sourceList,otherSource,sourceOrgList,otherSourceOrg" type="button" value="Reset">
                </div>
              </div>
            </div>
          </div>
          <div id="typeFilters">
            <div class="pure-g-r">
              <div class="pure-u-1-2 l-box">
                <label for="entryFilter_entryTypeSubTypeList">{{labels.entryType}}</label>
                <select class="pure-input-1" id="entryFilter_entryTypeSubTypeList" multiple="multiple" name="entryTypeSubTypeList" size="5">
                  <option value=""></option>
                </select>
              </div>
              {{#if modelData.impactEnabled}}
              <div class="pure-u-1-4 l-box">
                <fieldset>
                  <legend>{{labels.impact}}</legend>
                  <label class="pure-checkbox" for="entryFilter_impactPositive">
                    <input aria-label="{{labels.impactPositive}}" id="entryFilter_impactPositive" name="impactList" type="checkbox" value="POSITIVE">
                    <i class="fa fa-check impact-positive"></i> {{labels.impactPositive}}
                  </label>
                  
                  <label class="pure-checkbox" for="entryFilter_impactNegative">
                    <input aria-label="{{labels.impactNegative}}" id="entryFilter_impactNegative" name="impactList" type="checkbox" value="NEGATIVE">
                    <i class="fa fa-minus impact-negative"></i> {{labels.impactNegative}}
                  </label>
                  
                  <label class="pure-checkbox" for="entryFilter_impactNeutral">
                    <input aria-label="{{labels.impactNeutral}}" id="entryFilter_impactNeutral" name="impactList" type="checkbox" value="NEUTRAL">
                    <i class="fa fa-times impact-neutral"></i> {{labels.impactNeutral}}
                  </label>
                  
                  <label class="pure-checkbox" for="entryFilter_impactUnknown">
                    <input aria-label="{{labels.impactUnknown}}" id="entryFilter_impactUnknown" name="impactList" type="checkbox" value="UNKNOWN">
                    <i class="fa fa-question impact-unknown"></i> {{labels.impactUnknown}}
                  </label>
                </fieldset>
              </div>
              {{/if}}
              <div class="pure-u-1-4 l-box">
                <fieldset>
                  <legend>{{labels.status}}</legend>
                  <label class="pure-checkbox" for="entryFilter_statusList_draft">
                    <input aria-label="{{labels.includeDraft}}" id="entryFilter_statusList_draft" name="statusList" type="checkbox" value="DRAFT">
                    {{labels.includeDraft}}
                  </label>
                  <label class="pure-checkbox" for="entryFilter_statusList_complete">
                    <input aria-label="{{labels.includeComplete}}" id="entryFilter_statusList_complete" name="statusList" type="checkbox" value="COMPLETE">
                    {{labels.includeComplete}}
                  </label>
                  
                  {{#if permissions.canDelete}}
                    <label class="pure-checkbox" for="entryFilter_statusList_deleted">
                      <input aria-label="{{labels.includeDeleted}}" id="entryFilter_statusList_deleted" name="statusList" type="checkbox" value="DELETED">
                      {{labels.includeDeleted}}
                    </label>
                  {{/if}}
                </fieldset>
              </div>
              {{#if modelData.subjectSeenIndicatorVisible }}
              <div class="pure-u-1-4 l-box">
                <fieldset>
                  <legend>{{labels.subjectSeen}}</legend>
                  <label class="pure-checkbox" for="entryFilter_subjectSeenIndicatorList_seen">
                    <input aria-label="{{labels.subjectSeenOption}}" id="entryFilter_subjectSeenIndicatorList_seen" name="subjectSeenIndicatorList" type="checkbox" value="SEEN">
                    {{labels.subjectSeenOption}}
                  </label>
                  <label class="pure-checkbox" for="entryFilter_subjectSeenIndicatorList_notSeen">
                    <input aria-label="{{labels.subjectNotSeenOption}}" id="entryFilter_subjectSeenIndicatorList_notSeen" name="subjectSeenIndicatorList" type="checkbox" value="NOTSEEN">
                    {{labels.subjectNotSeenOption}}
                  </label>
                  <label class="pure-checkbox" for="entryFilter_subjectSeenIndicatorList_seenAlone">
                    <input aria-label="{{labels.subjectSeenAloneOption}}" id="entryFilter_subjectSeenIndicatorList_seenAlone" name="subjectSeenIndicatorList" type="checkbox" value="ALONE">
                    {{labels.subjectSeenAloneOption}}
                  </label>
                </fieldset>
              </div>
              {{/if}}            
              <div class="pure-u-1 l-box">
                <div class="pure-button-group pull-right">
                  <input aria-label="Reset type and other filters" class="pure-button pure-button-secondary" data-reset="entryTypeSubTypeList,impactList,statusList,subjectSeenIndicatorList" type="button" value="Reset">
                </div>
              </div>
            </div>
          </div>
          {{#if modelData.showGroupFilter}}
            <div id="groupFilters">
              <div class="pure-g-r">
                <div class="pure-u-1-2 l-box">
                  <label for="entryFilter_groupIds">{{labels.groupFilter}}</label>
                  <select name="groupIds" class="pure-input-1" id="entryFilter_groupIds" multiple="multiple" size="5">
                    <option value=""></option>
                  </select>
                </div>
                <div class="pure-u-1-3 l-box">
                  <fieldset>
                    <label for="entryFilter_excludeGroupEntries" class="pure-checkbox">
                      <input  id="entryFilter_excludeGroupEntries" type="checkbox" name="excludeGroupEntries" value="true" aria-label="{{labels.excludeAllGroups}}" />
                      {{labels.excludeAllGroups}}
                    </label>
                  </fieldset>
                </div>
                <div class="pure-u-1 l-box">
                  <div class="pure-button-group pull-right">
                    <input aria-label="Reset group filters" class="pure-button pure-button-secondary" data-reset="groupIds,excludeGroupEntries" type="button" value="Reset">
                  </div>
                </div>
              </div>
            </div>
          {{/if}}
          {{#if otherData.showAttachmentFilter}}
            <div id="attachmentFilters">
              <div class="pure-g-r">
                <div class="pure-u-1-2 l-box">
                    <fieldset>
                      <legend>{{labels.hasAttachments.title}}</legend>
                      <label class="pure-radio"><input type="radio" name="hasAttachments" value="true" />{{labels.hasAttachments.withAttachments}}</label>
                      <label class="pure-radio"><input type="radio" name="hasAttachments" value="false" />{{labels.hasAttachments.withoutAttachment}}</label>
                    </fieldset>
                </div>
                <div class="pure-u-1-2 l-box">
                    <label for="entryFilter_attachmentTitle">{{labels.hasAttachments.attachmentTitle}}</label>
                    <input class="pure-input-1" id="entryFilter_attachmentTitle" maxlength="255" name="attachmentTitle" type="text" />
                </div>
                <div class="pure-u-1-2 l-box">
                    <label for="entryFilter_attachmentSource">{{labels.hasAttachments.attachmentSource}}</label>
                    <select name="attachmentSource" class="pure-input-1" id="entryFilter_attachmentSource" multiple="multiple" size="5">
                        <option value=""></option>
                    </select>
                    <label for="entryFilter_attachmentOtherSource">{{labels.hasAttachments.attachmentOtherSource}}</label>
                    <input class="pure-input-1" id="entryFilter_attachmentOtherSource" maxlength="255" name="attachmentOtherSource" type="text" />
                </div>
                <div class="pure-u-1-2 l-box">
                    <label for="entryFilter_attachmentSourceOrganisation">{{labels.hasAttachments.attachmentSourceOrganisation}}</label>
                    <select name="attachmentSourceOrganisation" class="pure-input-1" id="entryFilter_attachmentSourceOrganisation" multiple="multiple" size="5">
                        <option value=""></option>
                    </select>
                    <label for="entryFilter_attachmentOtherSourceOrganisation">{{labels.hasAttachments.attachmentOtherSourceOrganisation}}</label>
                    <input class="pure-input-1" id="entryFilter_attachmentOtherSourceOrganisation" maxlength="255" name="attachmentOtherSourceOrganisation" type="text" />
                </div>
                <div class="pure-u-1 l-box">
                  <div class="pure-button-group pull-right">
                    <input aria-label="Reset attachment filters" class="pure-button pure-button-secondary" data-reset="hasAttachments,attachmentSource,attachmentOtherSource,attachmentSourceOrganisation,attachmentOtherSourceOrganisation,attachmentTitle" type="button" value="Reset">
                  </div>
                </div>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</form>