{{#if anyActive}}
  <span>{{labels.filter}}</span>
  {{#or activeFilter.startDate activeFilter.endDate}}
    <span class="label">{{labels.date}}<a href="#none" data-reset="startDate,endDate" aria-label="Remove entry date filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/or}}
  {{#or activeFilter.startRecordedDate activeFilter.endRecordedDate}}
    <span class="label">{{labels.recordedDate}}<a href="#none" data-reset="startRecordedDate,endRecordedDate" aria-label="Remove recorded date filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/or}}
  {{#or activeFilter.startEditedDate activeFilter.endEditedDate}}
    <span class="label">{{labels.editedDate}}<a href="#none" data-reset="startEditedDate,endEditedDate" aria-label="Remove Last edited date filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/or}}
  {{#if activeFilter.pracList}}
    <span class="label">{{labels.practitioner}}<a href="#none" data-reset="pracList"  aria-label="Remove practitioner filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  {{#or activeFilter.sourceList activeFilter.otherSource}}
    <span class="label">{{labels.source}}<a href="#none" data-reset="sourceList,otherSource" aria-label="Remove source filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/or}}
  {{#if activeFilter.pracOrgList}}
    <span class="label">{{labels.practitionerOrganisation}}<a href="#none" data-reset="pracOrgList" aria-label="Remove practitioner organisation filter">
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  {{#or activeFilter.sourceOrgList activeFilter.otherSourceOrg}}
    <span class="label">{{labels.sourceOrganisation}}<a href="#none" data-reset="sourceOrgList,otherSourceOrg" aria-label="Remove source organisation filter">
    <i class="fa fa-times-circle"></i></a></span>
  {{/or}}
  {{#or activeFilter.entryTypeList activeFilter.entrySubTypeList}}
    <span class="label">{{labels.entryType}}<a href="#none" data-reset="entryTypeSubTypeList" aria-label="Remove entry type filter">
    <i class="fa fa-times-circle"></i></a></span>
  {{/or}}
  {{#if activeFilter.impactList}}
    <span class="label">{{labels.impact}}<a href="#none" data-reset="impactList" aria-label="Remove impact filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}	
  {{#if activeFilter.statusList}}
    <span class="label">{{labels.status}}<a href="#none" data-reset="statusList"  aria-label="Remove status filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  {{#if activeFilter.subjectSeenIndicatorList}}
    {{#if modelData.subjectSeenIndicatorVisible}}
      <span class="label">{{labels.subjectSeen}}<a href="#none" data-reset="subjectSeenIndicatorList" aria-label="Remove subject seen filter"> 
      <i class="fa fa-times-circle"></i></a></span>
    {{/if}}
  {{/if}}
  {{#or activeFilter.groupIds activeFilter.excludeGroupEntries}}
    <span class="label">{{labels.group}}<a href="#none" data-reset="groupIds,excludeGroupEntries"  aria-label="Remove group filter">
    <i class="fa fa-times-circle"></i></a></span>
  {{/or}}  
  {{#if activeFilter.hasAttachments}}
    <span class="label">{{labels.hasAttachments}}<a href="#none" data-reset="hasAttachments"  aria-label="Remove has attachments filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}  
  {{#or activeFilter.attachmentSource activeFilter.attachmentOtherSource}}
    <span class="label">{{labels.attachmentSource}}<a href="#none" data-reset="attachmentSource,attachmentOtherSource"  aria-label="Remove attachment source filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/or}}
  {{#or activeFilter.attachmentSourceOrganisation activeFilter.attachmentOtherSourceOrganisation}}
    <span class="label">{{labels.attachmentSourceOrganisation}}<a href="#none" data-reset="attachmentSourceOrganisation,attachmentOtherSourceOrganisation"  aria-label="Remove attachment source organisation filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/or}}
  {{#if activeFilter.attachmentTitle}}
    <span class="label">{{labels.attachmentTitle}}<a href="#none" data-reset="attachmentTitle"  aria-label="Remove attachment name filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}

	  <a href="#none" data-reset="reset" class="small" aria-label="{{labels.resetAllTitle}}">{{labels.resetAll}}</a>
{{/if}}

{{#if modelData.filterDisabled}}
	<div id="caseNoteFilterInfo" class="pure-alert pure-alert-block pure-alert-info">
  		<h4 tabindex="0">{{labels.filterDisabled}} </h4>
	</div>
{{/if}}