@import (inline) "node_modules/usp-inline-menu/css/main.css";
@import "../../table/less/table-actions.less";
@import "../../error/less/app.less";
@import "../../tabs/less/tabs.less";
@import "node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "node_modules/bootstrap/less/component-animations.less";
@import (inline) "node_modules/usp-accordion-panel/css/main.css";
@import "node_modules/usp-calendar/less/main.less";

@calendarImgPath: "node_modules/usp-calendar/img";
.members-list{
    height:250px;
}

.usp-accordion {
    margin: 10px 0;
    padding: 0;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    &:hover {
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none;
    }
    &:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none;
    }
  }
  
  .usp-accordion-head {
    border: 0;
    padding: 0;
    div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-right: 1em;
    }
  }
  
  .usp-accordion-toggle {
    padding: 14px 0 14px 14px;
    outline: none;
    &:before {
      font-size: 1.85em;
      line-height: 0.2;
      color: #867c7c;
      position: relative;
      left: 5px;
      top: 5px;
      margin-right: 0.5em;
    }
  }
