<div class="yui3-widget print-view">
	{{!-- Add print view inside here --}}
	<div class="pure-g-r">
		<div class="pure-u-1-2 l-box header">
			<div class="logo"><img src="../../../../img/header-resolve.png"></div>
		</div>
		<div class="pure-u-1-2 l-box header">
				<div class="context pull-right"><span>CPRA form</span><br />{{modelData.subject.name}}
					{{fuzzyDateFormat modelData.subject.dateOfBirth}}{{#if
					modelData.subject.dateOfBirthEstimated}}<span
					class="estimated summary" title="Estimated"></span><span
					class="hidden">Estimated</span>{{/if}}</div>
		</div>
	</div>
	<div class="pure-g-r">
		<div class="pure-u-1 l-box">
			<div class="pure-g-r readonly">
				{{!-- Introduction --}}
				<div class="pure-u-1 l-box">
					<p>
						<strong>Introduction</strong>
					</p>
					<p>&nbsp;</p>
					<p>This tool is used to draw together needs assessment, risk
						assessment, review and evaluation into a straight-forward,
						integrated approach.</p>
					<p>This tool is divided in to 4 main areas:</p>
					<ul>
						<li>Initial assessment of intervention/expectations,
							thereafter the tool becomes the on-going care planning and
							support document</li>
						<li>Risk assessment, this linked to each section of the
							care planning interventions.</li>
						<li>Service User agreement to the interventions or where
							they may be mental capacity issues an area for the Care Team to
							approve.</li>
						<li>Care plan review/progress part.</li>
					</ul>
					<p>&nbsp;</p>
					<p>The tool can be used for initial assessment and
						identification of care and support planning. It can also be used
						for reviewing placements that already have been made.</p>
					<p>&nbsp;</p>
					<p>The format allows for discussion and the involvement of
						the Service User in terms of agreeing to the proposed areas of
						support and the emerging risks and how they are to be
						managed.&nbsp;</p>
					<p>&nbsp;</p>
					<p>This tool is the dialogue and agreement with the Service
						User/Carer and Commissioner (where involved), concerning how
						identified care outcomes will be met, how interventions will be
						risk assessed and the progress made over time.</p>
					<p>&nbsp;</p>
					<p>
						<strong>Purpose of Care Plan </strong>
					</p>
					<p>The purpose of the care plan is to ensure that all
						{{modelData.subject.name}}&rsquo;s needs are met appropriately
						and safely. The needs include Health, Education, Social,
						Emotional and Identity needs. The Plan also considers the
						importance of maintaining and developing contact with family and
						friends. The care plan promotes a person centred approach that
						is to be adopted by all staff involved in
						{{modelData.subject.name}}&rsquo;s day to day care and support.</p>
					<p>&nbsp;</p>
					<p>
						<strong>Sources of Information </strong>
					</p>
					<ul>
						<li>{{modelData.subject.name}} has had the opportunity to
							share {{#if modelData.subjectIsFemale}}her{{else}}his{{/if}} views and to be involved in developing {{#if modelData.subjectIsFemale}}her{{else}}his{{/if}} own care
							plan.</li>
						<li>Information has been shared by Professionals involved
							in {{#if modelData.subjectIsFemale}}her{{else}}his{{/if}} care .</li>
						<li>Historical information from case recording and risk
							assessments from Hospital.</li>
						<li>Information from Allocated Social Worker, Community
							Learning Disabilities Team, Advocate &nbsp;</li>
					</ul>
					<p>&nbsp;</p>
					<p>
						<strong>Implementing the Care Plan </strong>
					</p>
					<p>
						The plan should be read by all staff involved in the care and
						support of {{modelData.subject.name}}. This plan is to be
						referred to by staff on a daily basis to ensure a consistent
						approach. Daily Recording Sheets should be completed by staff
						with regard to each need following each event as outlined in the
						care plan. The care plan should be implemented in conjunction
						with the risk assessments which are referred to within the care
						plan. The Risk Assessments <strong>must</strong> be adhered to
						at all times by staff to prevent possible harm to
						{{modelData.subject.name}} or others.
					</p>
					<p>&nbsp;</p>
					<p>
						<strong>Review of Care Plan </strong>
					</p>
					<p>The care plan will be evaluated by the Deputy Manager, as
						a minimum, on a three monthly basis or as required to meet
						{{modelData.subject.name}}&rsquo;s needs. The plan will also be
						reviewed with all involved professionals, as part of the Care
						Programme Approach, on a three/six monthly basis as a minimum or
						as required. A short three/six monthly report will be completed
						by Resolved and shared with professionals involved in
						{{modelData.subject.name}}&rsquo;s care at CPA Meetings.</p>
				</div>

				{{!-- Background --}}
				<div class="pure-u-1 l-box">
					<p><strong>{{labels.background.title}}</strong></p>
				</div>

				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.background.name}}</div>
					<div class="value">{{modelData.subject.name}}</div>
				</div>

				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.background.dateOfBirth}}</div>
					<div class="value">
						{{fuzzyDateFormat modelData.subject.dateOfBirth}}
						{{#if modelData.subject.dateOfBirthEstimated}}
							<span class="estimated summary" title="Estimated"></span>
							<span class="hidden">Estimated</span>
						{{/if}}
					</div>
				</div>

				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.background.gp}}</div>
					<div class="value">{{modelData.gp.name}}</div>
				</div>

				<div class="pure-u-1-2 l-box"></div>

				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.background.keyWorker}}</div>
					<div class="value">{{modelData.keyWorker.name}}</div>
				</div>

				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.background.dateStarted}}</div>
					<div class="value">{{dateFormat modelData.dateStarted}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.background.placementAddress}}</div>
					<div class="value">{{#if modelData.placementAddress}}{{modelData.placementAddress.location}}{{/if}}</div>
				</div>

				{{!-- History --}}
				<div class="pure-u-1 l-box">
					<p><strong>{{labels.history.title}}</strong></p>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.history.subjectAuthorisationDates}}</div>
					<div class="value">
						<ul>
							{{#each modelData.subjectAuthorisationDates}}
							<li>{{dateFormat this}}</li> 
							{{/each}}
						</ul>
					</div>
				</div>

				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.history.name}}</div>
					<div class="value">{{modelData.initiator.name}}</div>
				</div>

				{{!-- Specific communication and risks --}}
				<div class="pure-u-1 l-box">
					<p><strong>{{labels.risks.title}}</strong></p>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.risks.specificCommunicationNeeds}}</div>
					<div class="value">{{{modelData.specificCommunicationNeeds}}}</div>
				</div>

				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.risks.historyOfSpecificRisks}}</div>
					<div class="value">{{{modelData.historyOfSpecificRisks}}}</div>
				</div>

				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.risks.historicalRiskLevel}}</div>
					<div class="value">{{enumType modelData.historicalRiskLevel otherData.enumTypes.historicalRiskLevels}}</div>
				</div>


				{{!-- Care plans --}} 
				{{!-- Iterate round each care plan --}}
				{{#modelData.carePlans}}
					{{!-- Key areas --}}
					<div class="keyArea pure-u-1 l-box">
						{{#if planType}}
							<p><strong>{{../labels.supportPlan.title}} {{planType}}</strong></p>
						{{else}}
							<p><strong>Missing plan type!</strong></p>
						{{/if}}
					</div>
					{{!-- Iterate round each keyArea in the care plan --}} 
					{{#each keyAreas}}
						<div class="pure-u-1">
							<div class="pure-g-r inner-panel">
								<div class="pure-u-1-3 l-box">
									<div class="name">{{../../labels.supportPlan.keyAreaIdentifier}}</div>
									<div class="value embolden">{{name}}</div>
								</div>
								<div class="pure-u-1-3 l-box">
									<div class="name">{{../../labels.supportPlan.requiredPlanOfSupport}}</div>
									<div class="value">{{{requiredPlanOfSupport}}}</div>
								</div>
								<div class="pure-u-1-3 l-box">
									<div class="name">{{../../labels.supportPlan.progressOutcome}}</div>
									<div class="value">{{{progressOutcome}}}</div>
								</div>
							</div>
						</div>
					{{/each}}
				
					{{!-- Identified risks --}}
					<div class="pure-u-1 l-box">
						{{#if planType}}
							<p><strong>{{../labels.identifiedRisks.title}} {{planType}}</strong></p>
						{{else}}
							<p><strong>Missing plan type!</strong></p>
						{{/if}}
					</div>
					{{!-- Iterate round each identified risk type in the care plan --}}
					{{#each identifiedRisks}}
						<div class="pure-u-1 l-box">
							<h3 tabindex="0">{{title}}</h3>
						</div>
						{{!-- Iterate round each identified risk type in the risk type --}}
						{{#each risks}}
							<div class="pure-u-1">
								<div class="pure-g-r inner-panel">
									<div class="pure-u-5-8 l-box">
										<div class="pure-g-r">
											<div class="pure-u-1 l-box">
												<div class="name">{{../../../labels.identifiedRisks.risk}}</div>
												<div class="value">{{{risk}}}</div>
											</div>
											<div class="pure-u-1 l-box">
												<div class="name">{{../../../labels.identifiedRisks.riskManagementActivity}}</div>
												<div class="value">{{{riskManagementActivity}}}</div>
											</div>
											<div class="pure-u-1-3 l-box">
												<div class="name">{{../../../labels.identifiedRisks.date}}</div>
												<div class="value">{{dateFormat riskDate}}</div>
											</div>
										</div>
									</div>
									<div class="pure-u-3-8">
										<div class="pure-g-r">
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../../../labels.identifiedRisks.likelihood}}</div>
												<div class="value">{{enumType likelihood ../../../otherData.enumTypes.likelihood}}</div>
											</div>
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../../../labels.identifiedRisks.revisedLikelihood}}</div>
												<div class="value">{{enumType revisedLikelihood ../../../otherData.enumTypes.likelihood}}</div>
											</div>
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../../../labels.identifiedRisks.impact}}</div>
												<div class="value">{{enumType impact ../../../otherData.enumTypes.impact}}</div>
											</div>
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../../../labels.identifiedRisks.revisedImpact}}</div>
												<div class="value">{{enumType revisedImpact ../../../otherData.enumTypes.impact}}</div>
											</div>
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../../../labels.identifiedRisks.total}}</div>
												<div class="value">{{total}}</div>
											</div>
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../../../labels.identifiedRisks.revisedTotal}}</div>
												<div class="value">{{revisedTotal}}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{{/each}}
					{{/each}} 
				{{/modelData.carePlans}}
				 
				{{!-- Progress Report --}}
				<div class="pure-u-1 l-box">
					<p><strong>{{labels.progress.title}}</strong></p>
				</div>
				{{! Iterate round each progress report}}
				{{#modelData.orderedProgressReports}}
					<div class="pure-u-1">
						<div class="pure-g-r inner-panel">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.progress.planType}}</div>
								{{#if planType}}
									<div class="value embolden">{{enumType planType ../../otherData.enumTypes.planType}}</div>
								{{else}}
									<p><strong>Missing plan type!</strong></p>
								{{/if}}	
							</div>									
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.progress.reviewDate}}</div>
								<div class="value">{{dateFormat reviewDate}}</div>
							</div>
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.progress.minimalProgressSummary}}</div>
								<div class="value">{{{minimalProgressSummary}}}</div>
							</div>
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.progress.fairProgressSummary}}</div>
								<div class="value">{{{fairProgressSummary}}}</div>
							</div>
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.progress.goodProgressSummary}}</div>
								<div class="value">{{{goodProgressSummary}}}</div>
							</div>
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.progress.majorProgressSummary}}</div>
								<div class="value">{{{majorProgressSummary}}}</div>
							</div>
						</div>
					</div>
				{{/modelData.orderedProgressReports}}
				
				{{!-- Views --}}
				<div class="pure-u-1 l-box">
					<div class="name"><strong>{{labels.views.serviceUserComments}}</strong></div>
					<div class="value">{{{modelData.serviceUserComments}}}</div>
				</div>
				<div class="pure-u-1 l-box">
					<div class="name"><strong>{{labels.views.relativeAdvocateComments}}</strong></div>
					<div class="value">{{{modelData.relativeAdvocateComments}}}</div>
				</div>
				<div class="pure-u-1 l-box">
					<div class="name"><strong>{{labels.views.carersPerspective}}</strong></div>
					<div class="value">{{{modelData.carersPerspective}}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pure-g-r">
		<div class="pure-u-1-3 l-box">
			<div>CPRA form</div>
		</div>
		<div class="pure-u-1-3 l-box">
				<div>{{formStatePrint modelData}}</div>
		</div>
		<div class="pure-u-1-3 l-box">
				<div class="pull-right">Last updated: {{dateFormat modelData.lastUpdated}}</div>
		</div>
	</div>
</div>