
<div class="pure-g-r static-block">
  <div class="pure-u-1">    
    <h1 tabindex="0" class="iconic-title">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-1x"></i>
        <i class="{{icon}} fa-inverse fa-stack-1x"></i>
      </span>
      {{#modelData}}  
        <span class="{{cssNoContext}}"> 
          {{title}}
        </span>
      {{/modelData}}  
      <small class="alt2">  
      </small>
    </h1>
    <div id="backLinkContext" class="back-to visible">
      <span><a href="#" id="previousContext"><i class="fa fa-chevron-circle-left"></i> {{modelData.linkText}} {{modelData.name}} ({{modelData.identifier}})</a></span>
    </div>
  </div>
</div>
      