<span class="fa-stack">
	<i class="fa fa-circle fa-stack-1x"></i>
	<i class="{{icon}} fa-inverse fa-stack-1x"></i>
</span>
{{#modelData}}	
	<span class="{{cssNoContext}}"> 
		{{name}}
		{{#if identifier}} 
			({{identifier}})
		{{/if}}
	</span>
{{/modelData}}