@import "../../../dialog/less/dialog.less";
@import "../../../message/less/message.less";
@import "../../../webform/less/webform.less";
@import "node_modules/usp-autocomplete/less/main.less";

.undefined-tasks-container {
	margin-top: 10px;
}

.pure-skin-usp label {
	padding: 0 14px;
}