<span class="pure-menu pure-menu-open pure-menu-horizontal" role="menu">
  <ul class="pure-menu-children">
    <li class="pure-menu-can-have-children pure-menu-has-children ">
      <a href="#" class="pure-menu-label pure-button pure-button-secondary">{{labels.add}}</a>
      <ul class="pure-menu pure-menu-children">
        {{#each types}}
          <li class="pure-menu-item"><a href="#none" data-action="add" data-type="{{this.type}}"><i class="fa {{this.icon}}"></i>
          <span> </span>
          <span>{{this.label}}</span></a></li>
        {{/each}}
      </ul>
    </li>
  </ul>
</span>