<div class="pure-g-r">
  <div class="pure-u-1-2 l-box">
    <label>{{labels.recipients}}</label>
  </div>
  <div class="pure-u-1-2 l-box">
    <div id="addRecipientButton"></div>
  </div>
  <div class="pure-u-1-2 l-box" id="includeDirectTargets_container">
    <label class="pure-checkbox" for="includeDirectTargets">
      <input id="includeDirectTargets" name="includeDirectTargets" type="checkbox" {{#if notificationTargets.includeDirectTargets}}checked="checked"{{/if}} value="true">
      <span>{{labels.includeDirectTargets}}</span>
    </label>
  </div>
  
  <div class="pure-u-1-2 l-box">
    <div id="addRecipientAutocomplete"></div>
  </div>
  <div class="pure-u-1 l-box  m-height-sm">
    <ul class="recipientList inline">
    {{#each notificationTargets.targets}}
      <li>
        <span class="sticker">
          <span>
            <i class="fa {{this.icon}}"></i>
          </span>
          <span> </span>
          <span>
            {{this.name}} ({{this.identifier}})
          </span>
          <span> </span>
          <a href="#none" data-action="remove" data-idx="{{@index}}" aria-label="Remove recipient"> <i class="fa fa-times-circle"></i></a>
        </span>
      </li>
    {{/each}}
    </ul>
  </div>
</div>