<div class="pure-g-r">
  <div class="pure-u-1-2 l-box">  
    <label class="pure-checkbox" for="notify">
      <input id="notify" name="send-notifications" type="checkbox" value="true" {{#if enableNotification}}checked="checked"{{/if}}>
      <span>{{labels.enableNotification}}</span>
    </label>
  </div>
  <div id="recipientsView" class="pure-u-1">
    <!--  contents will be updated by the Y.View -->
  </div>
</div>