
@import "genogram-filter";
@import "controls";
@import "../../mask/less/app.less";

#genogram-graph {
  height: 600px;
  width: 100%;
  border: 1px solid #ccc;
  position: relative;
}

/*
crazy fix for IE11 to stop browser freezing when nodes are dragged. can only drag using the text in IE11.
https://stackoverflow.com/questions/29149174/click-events-stop-working-after-replacing-attribute-of-use-element-in-svg-w
*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  svg use {
    pointer-events: none;
  }
}
