@primary-colour: #1e90ff;

#genogram-controls {
  position: absolute;
  bottom: -48px;
  left: 0;
  z-index: 90;
  border: 1px solid #ccc;
  padding: 4px 2px 4px 4px;
  background-color: #fff;

  .button {
    background-color: #fff;
    color: @primary-colour;
    border: 1px solid #ccc;
    outline: none;
    width: 32px;
    height: 32px;
    top: 2px;
    margin: 0 2px 0 0;
  }

  .slider-input {
    position: relative;
    top: 3px;
    margin: 0 5px;
  }

  .slider-wrapper {
    background-color: #fff;
    color: @primary-colour;
    border: 1px solid #ccc;
    padding: 5.25px;
    margin: 0 2px 0 0;
  }

  .fa-rotate-45 {
    transform: rotate(45deg);
  }
}
