#genogram-filter {
  .greyedOut {
    color: #ccc;
  }
  .filter .panel {
    padding: 1em 1em 0.1em;
  }
  .pure-checkbox {
    span {
      margin-left: 4px;
    }
  }
  .tally {
    float:right;
    color:#999;
    .num-records {
      color:#000;
    }
  }
  .pagination-container {
    .pure-button {
      font-size:80%;
    }

    background: #f5f5f5;
    padding: 4px 0 0;
    border-top: 1px solid #e9e9e9;
    margin-top: 10px;
    text-align: right;
  }
  .pagination-more {
    font-size: 16px;
    color: #555;
    padding: 0 5px;
    position: relative;
    top: 1px;
    display:inline-block;
  }
  .pure-perpage {
    top: 2px;
    font-size:90%;
    margin-top:0;
    .paginator-select-rowsperpage {
      display:inline-block;
      margin: 0 0 0 5px;
    }
  }
}
