@import (inline) "node_modules/usp-accordion-panel/css/main.css";
@import (inline) "node_modules/usp-inline-menu/css/main.css";
@import "cla-accordion";
@import "periods-of-care";
@import "summary-of-care";
@import "table";
@import "table-actions";
@import "../../error/less/app.less";

.child-looked-after-content {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
