

.pure-table.cla-table {
  &.cla-child-table {
    width: 98%;
    float: right;

    .cla-table-data {
      td {
        background-color: #D4EEC3;
      }
      .cla-table-row-even > td {
        background-color: #C2DDB1;
      }
    }
  }
  table {
    width: 100%;
    font-size: 12px;
    margin: 5px 0 20px 0;
    button {
      margin-left: 5px;
      font-size: 14px;
    }
  }
  .cla-table-columns {
    th.cla-table-col-actions {
      text-align: center;
    }
  }
  .cla-table-col-actions {
    text-align: center;
  }
  .cla-table-header {
    font-size: 18px;
    font-weight: 300;
  }
  .cla-periodSummary-table {
    .cla-table-data {
      td {
        background-color: #CBE3F8;
      }
    }
  }
  .cla-table-episodesOfCare {
    .cla-table-columns th {
      .pure-button {
        padding: 0px 4px;
        margin-left: 3px;
        line-height: 15px;
        font-size: 10px;
      }
    }
    .cla-table-data {
      .details-row > .cla-table-col-absences {
        background-color: #FFE1E4;
      }
      .absences-row > td {
        padding: 0;
      }
    }
  }
  .cla-table-absencesInEpisode {
    margin: 0;
    border: 0;
    border-bottom: 3px solid #fff;
    .cla-table-data tr > td {
      background-color: #FFE1E4;
    }
    .cla-table-data tr:nth-child(2n) > td {
      background-color: #EDD0D2;
    }
    .cla-table-absences-details {
      text-align: left;
    }
  }
  .cla-absences-hidden {
    .absences-row-content {
      display: none;
    }
  }
  .cla-table-col-startDate {
    width: 10%;
  }
  .cla-table-col-endDate {
    width: 10%;
  }
  .cla-table-col-actions {
    width: 8%;
    min-width: 60px;
  }
  .cla-table-col-details {
    span {
      padding: 0 10px 0 2px;
    }
  }
}

.cla-toolbar {
  float: right;
  margin-bottom: 5px;
  button {
    margin: 5px 1px 10px 5px;
  }
}

#periodOfCareSummaryTable td {
  background-color: #CBE3F8;
}

@media only screen and (max-width : 768px) {
  .pure-skin-usp .cla-table.pure-table-responsive td {
    border-left: 0;
  }

  .pure-skin-usp .cla-table.pure-table-responsive td:before {
    font-size: inherit;
    text-transform: initial;
    border-top: 3px solid rgba(255, 255, 255, 0.5);
    border-bottom: 0;
    padding-top: 6px;
  }

  .pure-skin-usp .cla-table.pure-table-responsive td.no-data:before {
    border-top: 0;
  }

  .cla-table table {
    border: 0;
  }

  .cla-table table .cla-table-col-actions {
    width: inherit;
  }
}
