.after-care-records {
  padding-left: 1em;
  box-sizing: border-box;
  flex: 7;

  h2 {
    margin-top: 0;
    font-size: 19px;
    color: #343434;
    font-family: OpenSansRegular;
  }
}

@media only screen and (max-width : 768px) {
  .after-care-records {
    padding: 0 0 0 1em;
    box-sizing: border-box;
    flex: 5;

    h2 {
      margin-top: 0;
      font-size: 19px;
      color: #343434;
      font-family: OpenSansRegular;
    }
  }
}
