@import (inline) "node_modules/usp-accordion-panel/css/main.css";
@import (inline) "node_modules/usp-inline-menu/css/main.css";
@import "aftercare-accordion";
@import "aftercare";
@import "table";
@import "../../table/less/table-actions";
@import "../../error/less/app.less";

.after-care-content {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
