

.pure-table.aftercare-table {
  &.aftercare-child-table {
    width: 98%;
    float: right;

    .aftercare-table-data {
      td {
        background-color: #D4EEC3;
      }
      .aftercare-table-row-even > td {
        background-color: #C2DDB1;
      }
    }
  }
  table {
    width: 100%;
    font-size: 12px;
    margin: 5px 0 20px 0;
    button {
      margin-left: 5px;
      font-size: 14px;
    }
  }
  .aftercare-table-columns {
    th.aftercare-table-col-actions {
      text-align: center;
    }
  }
  .aftercare-table-col-actions {
    text-align: center;
  }
  .aftercare-table-header {
    font-size: 18px;
    font-weight: 300;
  }
  .aftercare-summary-table {
    .aftercare-table-data {
      td {
        background-color: #CBE3F8;
      }
    }
  }
  .aftercare-child-table {
    .aftercare-table-columns th {
      .pure-button {
        padding: 0px 4px;
        margin-left: 3px;
        line-height: 15px;
        font-size: 10px;
      }
    }
    .aftercare-table-data {
      .details-row  {
        background-color: #FFE1E4;
      }
    }
    .actions {
      width: 8%;
      min-width: 60px;
    }
  }
  .aftercare-table-col-contactDate {
    width: 10%;
  }
  .aftercare-table-col-details {
    span {
      padding: 0 10px 0 2px;
    }
  }
}

.aftercare-toolbar {
  float: right;
  margin-bottom: 5px;
  button {
    margin: 5px 1px 10px 5px;
  }
}

@media only screen and (max-width : 768px) {
  .pure-skin-usp .aftercare-table.pure-table-responsive td {
    border-left: 0;
  }

  .pure-skin-usp .aftercare-table.pure-table-responsive td:before {
    font-size: inherit;
    text-transform: initial;
    border-top: 3px solid rgba(255, 255, 255, 0.5);
    border-bottom: 0;
    padding-top: 6px;
  }

  .pure-skin-usp .aftercare-table.pure-table-responsive td.no-data:before {
    border-top: 0;
  }

  .aftercare-table table {
    border: 0;
  }

  .aftercare-table table .aftercare-table-col-actions {
    width: inherit;
  }
}
