<form action="#none" id="chronologyEntryAddForm" class="pure-form pure-form-stacked">
  <div class="pure-g">
      <div class="pure-u-1 l-box" id="chronologyTabs"></div>
  </div>
  <div id="tabSource">
  {{#if isGroup}}
    <ul class="yui3-tabview-list" role="tablist">
      <li class="yui3-tab yui3-widget yui3-tab-selected" role="presentation">
          <a class="yui3-tab-label yui3-tab-content" href="#chronologyEntryDraftAddTab" role="tab" tabindex="-1">{{labels.chronologyTabName}}</a>
      </li>
      <li class="yui3-tab yui3-widget" role="presentation">
          <a href="#groupEntryMembers" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="-1">{{labels.visibilityTabName}}</a>
      </li>
    </ul>
  {{/if}}
  <div class="yui3-tabview-panel">
    <!-- Chronology edit form section-->
    <div class="yui3-tab-panel yui3-tab-panel-selected" id="chronologyEntryDraftAddTab" role="tabpanel">
      <div id="chronologyEntryAddForm_fuzzyEventDate"></div>
      <div class="pure-g-r">
        <div class="l-box pure-u-1">
          <ul class="fuzzy-current-date-link" id="preSelectDateOptions">
            <li>
                <a class="currentDate small" href="#">Select current date</a>
            </li>
            <li>
                <a class="currentDateTime small" href="#">Select current date and time</a>
            </li>
          </ul>
        </div>
        <div id="chronologyEntryForm_entryType" class="pure-u-1-2 l-box">
          <label for="chronologyEntryAddForm_entryTypeSelect">{{labels.entryType}} <span class="mandatory">*</span></label>
          <select class="pure-input-1" id="chronologyEntryAddForm_entryTypeSelect" name="entryType">
            <option value=""></option>
          </select>
        </div>
        <div id="chronologyEntryAddForm_entrySubType" class="pure-u-1-2 l-box">
          <label for="chronologyEntryAddForm_entrySubTypeSelect">{{labels.entrySubType}}</label>
          <select class="pure-input-1" id="chronologyEntryAddForm_entrySubTypeSelect" name="entrySubType">
            <option value=""></option>
          </select>
        </div>
        <div class="pure-u-1 l-box">
          <label for="chronologyEntryAddForm_event">{{labels.event}} <span class="mandatory">*</span></label>
          <textarea name="event" class="pure-input-1" id="chronologyEntryAddForm_event" rows="4" maxlength="5000">{{modelData.event}}</textarea>
        </div>
        <div class="pure-u-1 l-box">
          <label for="chronologyEntryAddForm_action">{{labels.action}} </label>
          <textarea name="action" class="pure-input-1" id="chronologyEntryAddForm_action" rows="4" maxlength="5000">{{modelData.action}}</textarea>
        </div>
        <div id="chronologyEntry_source" class="pure-u-1"><!--  source form content will render in here --></div>
        <div class="pure-u-1-2 l-box">
            <div class="name">{{labels.practitioner}}</div>
            <div class="value">{{modelData.practitioner}}</div>
        </div>
        <div class="pure-u-1-2 l-box">
          <label for="chronologyEntryAddForm_practitionerOrganisation">{{labels.practitionerOrganisation}} <span class="mandatory">*</span></label> <input class="pure-input-1" id="chronologyEntryAddForm_practitionerOrganisation" maxlength="50" name="practitionerOrganisation" type="text" value="{{modelData.practitionerOrganisation}}">
        </div>
        {{#if impactEnabled}}
          <fieldset class="pure-u-1">
              <legend class="l-box">{{labels.impact}}</legend>
              <div class="pure-g-r">
                  <div class="pure-u-1-4 l-box">
                      <label class="pure-radio"><input name="impact" type="radio" {{#isEqual  modelData.impact 'POSITIVE'}}checked="checked"{{/isEqual}} value="POSITIVE">{{labels.impactPositive}}</label>
                  </div>
                  <div class="pure-u-1-4 l-box">
                      <label class="pure-radio"><input name="impact" type="radio" {{#isEqual  modelData.impact 'NEGATIVE'}}checked="checked"{{/isEqual}} value="NEGATIVE">{{labels.impactNegative}}</label>
                  </div>
                  <div class="pure-u-1-4 l-box">
                      <label class="pure-radio"><input name="impact" type="radio" {{#isEqual  modelData.impact 'NEUTRAL'}}checked="checked"{{/isEqual}} value="NEUTRAL">{{labels.impactNeutral}}</label>
                  </div>
                  <div class="pure-u-1-4 l-box">
                      <label class="pure-radio"><input name="impact" type="radio" {{#isEqual  modelData.impact 'UNKNOWN'}}checked="checked"{{/isEqual}} value="UNKNOWN">{{labels.impactUnknown}}</label>
                  </div>
              </div>
          </fieldset>
        {{/if}}
      </div>
    </div>
    <!-- End chronology add form tab section-->
    {{#if isGroup}}
      <!-- Start Group members tab section-->
      <div class="yui3-tab-panel" id="groupEntryMembers" role="tabpanel">
          <div class="pure-g-r">
              <div class="pure-u-1 l-box">
                  <label class="pure-checkbox" for="chronologyEntryAddForm_visibleToAll"><input id="chronologyEntryAddForm_visibleToAll" name="visibleToAll" type="checkbox" {{#if modelData.visibleToAll}}checked="checked"{{/if}} value="true"> <span>{{labels.visibleToAll}}</span> <a class="pop-up-data" data-content="{{labels.visibleToAllContent}}" data-title="{{labels.visibleToAllTitle}}" href="#">Help</a></label>
              </div>
              <div class="pure-u-1 l-box">
                  <label>{{labels.groupMembers}}:</label>
              </div>
              <div class="pure-u-1 l-box groupMembers">
                  {{#each otherData.activeGroupMembersList}}
                    <div class="groupMember">
                        <label class="pure-checkbox"><input class="active-member" name="personVisibility" value="{{this.[personVO!id]}}" type="checkbox" {{#inArray this.[personVO!id] modelData.personVisibility}}checked="checked"{{/inArray}}> {{this.[personVO!name]}} ({{this.[personVO!personIdentifier]}})</label>
                    </div>
                  {{/each}}
              </div>
              <div class="pure-u-1 l-box">
                  <label class="pure-checkbox" for="select-all-members-input"><input id="select-all-members-input" name="select-all-members" type="checkbox" value="true"> <span>{{labels.selectAllMembers}}</span></label>
              </div>
          </div>
      </div>
    {{/if}}
    </div>
  </div>
</form>  
