<div class="readonly" id="chronologyEntryDialog">
  <div class="pure-g">
      <div class="pure-u-1 l-box" id="chronologyTabs"></div>
  </div>
  <div id="tabSource">
    <ul class="yui3-tabview-list" role="tablist">
      {{#if isGroup}}
        <li class="yui3-tab yui3-widget yui3-tab-selected" role="presentation">
            <a class="yui3-tab-label yui3-tab-content" href="#chronologyNoteEntryViewTab" role="tab" tabindex="-1">{{labels.chronologyTabName}}</a>
        </li>
        <li class="yui3-tab yui3-widget" role="presentation">
          <a href="#chronologyEntryViewGroupMembers" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="-1">{{labels.visibilityTabName}}</a>
        </li>
      {{/if}}
    </ul>
    <div class="yui3-tabview-panel">
          <!-- Chronology view form section-->
          <div class="yui3-tab-panel yui3-tab-panel-selected" id="chronologyEntryViewTab" role="tabpanel">
              <div class="pure-g-r">
                  <div class="pure-u-1 l-box entryDate">
                      <div class="name eventDateLabel">
                          {{labels.eventDate}}
                      </div>
                      <div class="value eventDateValue">
                          {{fuzzyDateFormat modelData.eventDate}}
                      </div>
                  </div>
                  <div class="pure-u-1-2 l-box entryType">
                      <div class="name">
                          {{labels.entryType}}
                      </div>
                      <div class="value">
                          {{codedEntry modelData.entryType codedEntries.entryTypes}}
                      </div>
                  </div>
                  <div class="pure-u-1-2 l-box entrySubType">
                      <div class="name">
                          {{labels.entrySubType}}
                      </div>
                      <div class="value">
                          {{codedEntry modelData.entrySubType codedEntries.entrySubTypes}}
                      </div>
                  </div>
                  <div class="pure-u-1 l-box"> 
                    <div class="name">{{labels.event}}</div>
                    <div class="value">{{{textFormat modelData.event}}}</div>
                  </div>
                  <div class="pure-u-1 l-box"> 
                    <div class="name">{{labels.action}}</div>
                    <div class="value">{{{textFormat modelData.action}}}</div>
                  </div>
                  <div id="chronologyEntry_source" class="pure-u-1"><!--  source view content will render in here --></div>
                  <div class="pure-u-1-2 l-box">
                      <div class="name">{{labels.practitioner}}</div>
                      <div class="value">{{modelData.practitioner}}</div>
                  </div>
                  <div class="pure-u-1-2 l-box">
                      <div class="name">{{labels.practitionerOrganisation}}</div>
                      <div class="value">{{modelData.practitionerOrganisation}}</div>
                  </div>
                {{#if impactEnabled}}
                  <fieldset class="pure-u-1">
                      <legend class="l-box">{{labels.impact}}</legend>
                      <div class="pure-g-r">
                          <div class="pure-u-1-4 l-box">
                              <label class="pure-radio"><input disabled="disabled" name="impact" type="radio"  {{#isEqual  modelData.impact 'POSITIVE'}}checked="checked"{{/isEqual}} value="POSITIVE">{{labels.impactPositive}}</label>
                          </div>
                          <div class="pure-u-1-4 l-box">
                              <label class="pure-radio"><input disabled="disabled" name="impact" type="radio"  {{#isEqual  modelData.impact 'NEGATIVE'}}checked="checked"{{/isEqual}} value="NEGATIVE">{{labels.impactNegative}}</label>
                          </div>
                          <div class="pure-u-1-4 l-box">
                              <label class="pure-radio"><input disabled="disabled" name="impact" type="radio"  {{#isEqual  modelData.impact 'NEUTRAL'}}checked="checked"{{/isEqual}} value="NEUTRAL">{{labels.impactNeutral}}</label>
                          </div>
                          <div class="pure-u-1-4 l-box">
                              <label class="pure-radio"><input disabled="disabled" name="impact" type="radio"  {{#isEqual  modelData.impact 'UNKNOWN'}}checked="checked"{{/isEqual}} value="UNKNOWN">{{labels.impactUnknown}}</label>
                          </div>
                      </div>
                  </fieldset>
                {{/if}}
                <div class="pure-u-1-2 l-box">
                    <div class="name">{{labels.recordedDate}}</div>
                    <div class="value">{{dateTimeFormat modelData.createdStamp.auditDate}}</div>
                </div>
                <div class="pure-u-1-2 l-box">
                    <div class="name">{{labels.editedDate}}</div>
                    <div class="value">{{dateTimeFormat modelData.lastEditedStamp.auditDate}}</div>
                </div>
            </div>
          </div>
          <!-- End chronology view form tab section-->
          {{#if isGroup}}
            <!-- chronology active members list tab section-->
            <div id="chronologyEntryViewGroupMembers">
                <div class="pure-g-r">
                    <div class="pure-u-1 l-box">
                        <label>{{labels.groupMembers}}:</label>
                    </div>
                    <div class="pure-u-1 l-box groupMembers">
                        {{#each otherData.visibleMembersList}}
                        <div class="groupMember">
                            <label class="pure-checkbox">{{this.memberName}} ({{this.memberIdentifier}})</label>
                        </div>{{/each}}
                    </div>
                </div>
            </div>
          {{/if}}
        </div>
    </div>
</div>
	