<div class="pure-g-r readonly">
  <div class="pure-u-1 l-box">
    <div class="name">{{labels.eventDate}}</div><div class="value">{{fuzzyDateFormat modelData.eventDate}}</div>
    <div class="name">{{labels.event}}</div>
    <div class="value">{{{textFormat modelData.event}}}</div>
  </div>
</div>
<div class="pure-g-r">
  <div class="pure-u-1 l-box">
    <div class="pure-alert pure-alert-block pure-alert-warning">
      <h4>{{labels.completeConfirm}}</h4>
    </div>
  </div>
</div>
