<span class="fa-stack">
	<i class="fa fa-circle fa-stack-1x"></i>
	<i class="fa fa-user fa-inverse fa-stack-1x"></i>
</span><span> {{personModel.name}} ({{personModel.personIdentifier}})</span>
<small>
{{labels.formView}}
{{#if personModel.warningsCount}}
	<a href="#none" class="label warning WarningView" title="{{labels.warningTitle}}" aria-label="This person has {{personModel.warningsCount}} warnings"> <i class="fa fa-exclamation-triangle"></i>  {{personModel.warningsCount}}</a>
{{/if}}
</small>
<span class="form-context"> {{labels.formType}} <span class="form-context-detail"><span class="form-context-start-date-label">{{labels.startDate}}</span> {{dateFormat modelData.dateStarted}} {{formState modelData}}</span></span>
