{{#if modelData.showAnyFilter}}
	<span>{{labels.filter}}</span>
	
	{{#if modelData.showStatus}}
		<span class="label status">{{labels.status}}<a href="#none" class="remove-status-filter"> <i class="fa fa-times-circle"></i></a></span>
	{{/if}}		
	
	 <a href="#none" class="removeAll small" aria-label="Reset all filters">Reset all</a>
{{/if}}
