<form action="#none" id="rejectFormForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
    	{{#formData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/formData}}
    
        <div class="pure-u-1-1 l-box">
            <label for="rejectFormForm_rejectionReason">{{labels.rejectionReason}} <span class="mandatory">*</span></label>
            <div data-name="rejectionReason" class="formRichTextInput" id="rejectFormForm_rejectionReason" contenteditable="true">{{{modelData.rejectionReason}}}</div>
        </div>
    </div>
</form>