<div class="pure-g-r readonly">

    {{#if modelData.hasRejections}}
		<div class="pure-u-1-2 l-box">
			<div class="name">{{labels.rejectedBy}}</div>
			<div class="value">{{modelData.mostRecentRejection.rejector.name}}</div>	
		</div>
		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{labels.rejectionDate}}</div>
			<div class="value">{{dateFormat modelData.mostRecentRejection.rejectionDate}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{labels.rejectionReason}}</div>
			<div class="value">{{{modelData.mostRecentRejection.rejectionReason}}}</div>	
	   	</div>
	    		
	    <div class="pure-u-1 l-box">
	        <div class="pure-button-group pull-right">
	            {{#if modelData.canUpdateRejection}}
	                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
	            {{else}}
	                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
	            {{/if}}
	        </div>  
	    </div> 
    {{else}}
		<div class="pure-u-1-2 l-box">
			<div class="name">{{labels.noRejections}}</div>
		</div>
    {{/if}}
</div>