<form action="#none" id="formResultsFilterForm" class="pure-form pure-form-stacked filter-panel">
	<div class="bordered panel">
		<div class="pure-g-r">
			<div class="pure-u-1 l-box">  
				<h3 class="alt2" tabindex="0">{{labels.filterBy}}</h3>
			</div> 	
			<div class="pure-u-1-2 l-box">
				<label for="formFilter_status">{{labels.status}}</label>
				<select name="status" class="pure-input-1" id="formFilter_status" multiple="true" size="5" >						
					<option value=""></option>
				</select> 
			</div>	
			
			<div class="pure-u-1">
				<div class="l-box">
					<div class="pure-button-group pull-right">
						<input type="button" id="formFilter_clearAll" class="pure-button pure-button-secondary" value="Reset" aria-label="Reset all filters">
					</div>	
				</div>	
			</div>
									
		</div>
	</div>
</form>