<form action="#none" id="rejectFormForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/modelData}}

        <div class="pure-u-1-2 l-box">
            <div class="name">{{labels.rejectedBy}}</div>
            <div class="value">{{modelData.rejector.name}}</div>
        </div>

        <div class="pure-u-1-2 l-box">
            <div class="name">{{labels.rejectionDate}}</div>
            <div class="value">{{dateFormat modelData.rejectionDate}}</div>
        </div>

        <div class="pure-u-1-1 l-box">
            <label for="rejectFormForm_rejectionReason">{{labels.rejectionReason}} <span class="mandatory">*</span></label>
            <div data-name="rejectionReason" class="formRichTextInput" id="rejectFormForm_rejectionReason" contenteditable="true">{{{modelData.rejectionReason}}}</div>
        </div>
    </div>
</form>