<div class="pure-g-r">
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.sourceOrganisation}}</div>
    <div class="value">
      {{#if modelData.sourceOrganisation}}
        {{codedEntry modelData.sourceOrganisation codedEntries.sourceOrganisation}}
      {{else}}
        {{modelData.otherSourceOrganisation}}
      {{/if}}
    </div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.source}}</div>
    <div class="value">
      {{#if modelData.source}} 
        {{codedEntry modelData.source codedEntries.source}}
      {{else}}
        {{modelData.otherSource}}
      {{/if}}
    </div>
  </div>
</div>