<div class="pure-g-r">
  <div class="pure-u-1-2 l-box">
    <div id="sourceOrganisationSelectGroup">
      <div class="optionSelect">
        <label for="sourceOrganisation">{{labels.sourceOrganisation}} {{#if isMandatory}} <span class="mandatory">*</span>{{/if}}</label>
        <select id="sourceOrganisation" name="sourceOrganisation" class="{{#unless isMandatory}}optional{{/unless}} pure-input-1">
        </select>
      </div>
      <div class="otherInput">
        <label for="otherSourceOrganisation">{{labels.otherSourceOrganisation}}</label>
        <input id="otherSourceOrganisation" type="text" class="pure-input-1" name="otherSourceOrganisation" value="" maxlength="250" />
      </div>
    </div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div id="sourceSelectGroup">
      <div class="optionSelect">
        <label for="source">{{labels.source}} {{#if isMandatory}} <span class="mandatory">*</span>{{/if}}</label>
        <select id="source" name="source"  class="{{#unless isMandatory}}optional{{/unless}} pure-input-1">
        </select>
      </div>
      <div class="otherInput">
        <label for="otherSource">{{labels.otherSource}}</label>
        <input id="otherSource" type="text" class="pure-input-1" name="otherSource" value="" maxlength="250"/>
      </div>
    </div>
  </div>
</div>
