<form action="#none" id="updateBelongingsForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1 l-box">
      <div class="name">{{labels.description}}</div>
      <div class="value">{{textFormat modelData.description}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.currentLocation}}</div>
      <div class="value">{{codedEntry modelData.location codedEntries.locations}}</div>
    </div>
    {{#if modelData.dateMoved}}
      <div class="pure-u-1-2 l-box">
        <div class="name">{{labels.dateMoved}}</div>
        <div class="value">{{dateFormat modelData.dateMoved}}</div>
      </div>
    {{else}}
      <div class="pure-u-1-2 l-box">
        <div class="name">{{labels.dateReceived}}</div>
        <div class="value">{{dateFormat modelData.dateReceived}}</div>
      </div>
    {{/if}}
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.type}}</div>
      <div class="value">{{codedEntry modelData.type codedEntries.types}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="belongingsForm_dateMoved">{{labels.dateMoved}} <span class="mandatory">*</span></label>
      <input class="pure-input-1" id="belongingsForm_dateMoved" maxlength="11" name="dateMoved" placeholder="DD-MMM-YYYY" type="text" value="{{dateFormat modelData.dateReceived}}">
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="updateBelongingsForm_location">{{labels.location}} <span class="mandatory">*</span></label>
      <select class="pure-input-1" id="updateBelongingsForm_location" name="location">
        <option value=""></option>
      </select>
    </div>
    <div class="pure-u-1 l-box">
      <label for="updateBelongingsForm_notes">{{labels.note}}</label>
      <textarea class="pure-input-1" id="updateBelongingsForm_notes" maxlength="255" name="notes" rows="2">{{modelData.notes}}</textarea>
    </div>
  </div>
</form>