<form action="#none" id="updateBelongingsForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1 l-box">
      <div class="name">{{labels.description}}</div>
      <div class="value">{{textFormat modelData.description}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.currentLocation}}</div>
      <div class="value">{{codedEntry modelData.location codedEntries.locations}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.dateReceived}}</div>
      <div class="value">{{dateFormat modelData.dateReceived}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.type}}</div>
      <div class="value">{{codedEntry modelData.type codedEntries.types}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="belongingsForm_dateReturned">{{labels.dateReturned}} <span class="mandatory">*</span></label>
      <input class="pure-input-1" id="belongingsForm_dateReturned " maxlength="11" name="dateReturned" placeholder="DD-MMM-YYYY" type="text" value="{{dateFormat modelData.dateReturned}}">
    </div>
    
    <fieldset class="pure-u-1">
      <legend class="l-box">{{labels.receivingSubjectType}}</legend>
      <div class="pure-g-r">
        <div class="pure-u-1-2 l-box">
          <label class="pure-radio">
             <input id="updateBelongingsForm_receivingSubjectType" type="radio" name="receivingSubjectType" {{#isEqual modelData.receivingSubjectType 'ORGANISATION'}}checked="checked"{{/isEqual}} value="ORGANISATION" />{{labels.subjectType.organisation}}
          </label>
        </div>
        <div class="pure-u-1-2 l-box">
          <label class="pure-radio">
             <input id="updateBelongingsForm_receivingSubjectType" type="radio" name="receivingSubjectType" {{#isEqual modelData.receivingSubjectType 'PERSON'}}checked="checked"{{/isEqual}} value="PERSON" />{{labels.subjectType.person}}
          </label>
        </div>
      </div>
    </fieldset>
  
    <div class="pure-u-1">
      <div id="receivingSubjectContent"></div>
    </div>
    
    <div class="pure-u-1 l-box">
      <label for="belongingsForm_notes">{{labels.note}}</label> 
      <textarea class="pure-input-1" id="belongingsForm_notes" maxlength="255" name="notes" rows="2">{{modelData.notes}}</textarea>
    </div>
    
  </div>
</form>