<form action="#none" id="belongingsForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1 l-box">
      <label for="belongingsForm_description">{{labels.description}} <span class="mandatory">*</span></label> 
      <textarea class="pure-input-1" id="belongingsForm_description" maxlength="255" name="description" rows="2">{{modelData.description}}</textarea>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="belongingsForm_location">{{labels.location}} <span class="mandatory">*</span></label>
      <select class="pure-input-1" id="belongingsForm_location" name="location">
        <option value=""></option>
      </select>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="belongingsForm_dateReceived">{{labels.dateReceived}} <span class="mandatory">*</span></label>
      <input class="pure-input-1" id="belongingsForm_dateReceived" maxlength="11" name="dateReceived" placeholder="DD-MMM-YYYY" type="text" value="{{dateFormat modelData.dateReceived}}">
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="belongingsForm_type">{{labels.type}}</label>
      <select class="pure-input-1" id="belongingsForm_type" name="type">
        <option value="">
        </option>
      </select>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="belongingsForm_reference">{{labels.reference}}</label>
      <input class="pure-input-1" id="belongingsForm_reference" maxlength="30" name="reference" type="text" value="{{modelData.reference}}">
    </div>
    <div class="pure-u-1 l-box">
      <label for="belongingsForm_notes">{{labels.note}}</label> 
      <textarea class="pure-input-1" id="belongingsForm_notes" maxlength="255" name="notes" rows="2">{{modelData.notes}}</textarea>
    </div>
  </div>
</form>