<div class="pure-g-r">
  <div class="pure-u-3-4 l-box">
    <div class="name">{{labels.description}}</div>
    <div class="value">{{textFormat modelData.description}}</div>
  </div>
  <div class="pure-u-1-4 l-box">
    <div class="name">{{labels.dateReceived}}</div>
    <div class="value">{{dateFormat modelData.dateReceived}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.type}}</div>
    <div class="value">{{codedEntry modelData.type codedEntries.types}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.reference}}</div>
    <div class="value">{{modelData.reference}}</div>
  </div>
</div>

<div class="pure-table pure-table-striped pure-table-hover results-count-hide" id="historyResultsView"></div>

<div class="pure-g-r">
  <div class="pure-u-1 l-box">
    <div class="name">{{labels.note}}</div>
    <div class="value">{{textFormat modelData.notes}}</div>
  </div>
</div>