<form action="#none" id="updateBelongingsForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1 l-box">
      <div class="name">{{labels.description}}</div>
      <div class="value">{{textFormat modelData.description}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.location}}</div>
      <div class="value">{{codedEntry modelData.location codedEntries.locations}}</div>
    </div>
    {{#if modelData.dateMoved}}
      <div class="pure-u-1-2 l-box">
        <div class="name">{{labels.dateMoved}}</div>
        <div class="value">{{dateFormat modelData.dateMoved}}</div>
      </div>
    {{else}}
      <div class="pure-u-1-2 l-box">
        <div class="name">{{labels.dateReceived}}</div>
        <div class="value">{{dateFormat modelData.dateReceived}}</div>
      </div>
    {{/if}}
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.type}}</div>
      <div class="value">{{codedEntry modelData.type codedEntries.types}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="belongingsForm_reference">{{labels.reference}}</label>
      <input class="pure-input-1" id="belongingsForm_reference" maxlength="30" name="reference" type="text" value="{{modelData.reference}}">
    </div>
    <div class="pure-u-1 l-box">
      <label for="belongingsForm_notes">{{labels.note}}</label> 
      <textarea class="pure-input-1" id="belongingsForm_notes" maxlength="255" name="notes" rows="2">{{modelData.notes}}</textarea>
    </div>
  </div>
</form>