<div class="pure-g-r">
  <div class="pure-u-1 l-box">
    <label for="updateBelongingsForm_receivingSubjectId">{{labels.receivingSubjectId}} <span class="mandatory">*</span></label>
    <div id="updateBelongingsForm_receivingSubject"></div>
  </div>
</div>