<div class="pure-g-r readonly">
  <div class="pure-u-1 l-box">
    <div class="name">{{labels.description}}</div>
    <div class="value">{{textFormat modelData.description}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.type}}</div>
    <div class="value">{{codedEntry modelData.type codedEntries.types}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.reference}}</div>
    <div class="value">{{modelData.reference}}</div>
   </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.status}}</div>
    <div class="value">{{enumType modelData.status codedEntries.statusTypes true}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.location}}</div>
    <div class="value">{{codedEntry modelData.location codedEntries.locations}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.dateReceived}}</div>
    <div class="value">{{dateFormat modelData.dateReceived}}</div>
  </div>  
  {{#if modelData.dateMoved}}
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.dateMoved}}</div>
    <div class="value">{{dateFormat modelData.dateMoved}}</div>
  </div>
  {{/if}}
  {{#isEqual  modelData.status 'DESTROYED'}}
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.destructionDate}}</div>
    <div class="value">{{dateFormat modelData.destructionDate}}</div>
  </div>
  {{/isEqual}}
  {{#isEqual  modelData.status 'RETURNED'}}
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.dateReturned}}</div>
    <div class="value">{{dateFormat modelData.dateReturned}}</div>
  </div>
    {{#modelData.receiver}}
    <div class="pure-u-1-2 l-box">
      <div class="name">{{../labels.receiverType}}</div>
      <div class="value">
        {{#isEqual type 'ORGANISATION'}}
          {{../../labels.receiverTypeOrganisation}}
        {{/isEqual}}
        {{#isEqual type 'PERSON'}}
          {{../../labels.receiverTypePerson}}
        {{/isEqual}}
      </div>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{../labels.receiverName}}</div>
      <div class="value">{{name}} ({{identifier}})</div>
    </div>
    {{/modelData.receiver}}
  {{/isEqual}}
    <div class="pure-u-1 l-box">
      <div class="name">{{labels.note}}</div>
      <div class="value">{{textFormat modelData.notes}}</div>
    </div>
</div>