.usp-graph .outline{
	z-index:5;
	position:absolute;
	overflow:hidden;
	top:0px;
	right:0px;
	width:140px;
	height:120px;
	background:#fff;
	border-style:solid;
	border-color:lightgray;
}

#diagram .node {
  background: none;
  border: none;
  text-align: left;
}



#diagram .diagram >div{
	pointer-events:none;
}


#diagram .automatedLabel {
  margin-right:20px;
}

#diagram .isAutomated {
  text-align: center;
  padding-right: 0.1em;
}


#diagram .isAutomated:before {
  content: url(../img/ico-automated.svg);
  vertical-align: top;
  white-space: nowrap;
  display: inline-block;
  margin-right: 0.3em;
}

#diagram > div.graph-menu,
#genogram > div.genogram-menu {
	position: absolute;
	top:0;
	left:0;
	z-index: 99;
	background-color:#FFF;
	-webkit-transition: top 0.2s ease-out 0.25s;
	-moz-transition: top 0.2s ease-out 0.25s;
	-ms-transition: top 0.2s ease-out 0.25s;
	-o-transition: top 0.2s ease-out 0.25s;
	transition: top 0.2s ease-out 0.25s;
	-webkit-transition: left 0.2s ease-out;
  -moz-transition: left 0.2s ease-out;
  -ms-transition: left 0.2s ease-out;
  -o-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out;
}


div.graph-menu {
  -webkit-transition: left 0.2s ease-out;
  -moz-transition: left 0.2s ease-out;
  -ms-transition: left 0.2s ease-out;
  -o-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out;
}

#diagram .node-secondary .label {
	position: static;
}

#diagram .node-secondary .label-small {
	font-size: 7px;
}

#diagram .hide-warnings {
	display:none!important;
}

#diagram .show-warnings {
	margin-left: 8px;
}



.filter-visible #diagram > div.graph-menu {
	top: 400px;
}


.filter-visible.key-visible #diagram > div.graph-menu {
  top: 540px;
}

#graphToolbar .pure-button-group {
	width: auto;
	list-style: none;
	margin: 0;
	padding: 2px 2px 1px;
	background: #667B90;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}


#graphToolbar .pure-button-group > li
  { border: none; width: auto; background: none; }

#graphToolbar .pure-button-group > li > .pure-button {
	box-sizing: border-box;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 5px;
	color: #FFFFFF;
	background: #34495E;
	text-align: center;
	margin: 0 0 2px;
	border: none;
}

#graphToolbar .pure-button i {
  margin-right: 0;
}

#graphToolbar .pure-button-group > li > .pure-button:hover {
	background:#2e4153;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#graphToolbar .pure-button-group > li > .pure-button:active {
	background:#527395;
}

#graphToolbar .pure-button-group > li > .toggleKey.active
  { background: #2A3949; }

#graphToolbar .pure-button-group > li > .toggleSecondary.active   { background: #FAE095; color: #222222; }
#graphToolbar .pure-button-group > li > .toggleSuggestions.active { background: #FF6600;  }





.graph-disabled-mask{
	background: #fff url(../img/loading/loading-main-32.gif) no-repeat scroll center;
	filter: alpha(opacity =   60);
	opacity: 0.6;
	z-index: 99;

}

.graph-edge-label{
	padding-right:14px;
}

.graph-key,
.genogram-key {
	position:fixed;
	top:2px;
	left:0;
	bottom:0;
	overflow:auto;
	background-color:#2A3949;
	padding:1em 0;
	width:175px;
	z-index:103;
}

.graph-key h3,
.genogram-key h3 {
	margin-top:0;
	color:#efefef;
	border-bottom:1px solid #3e556d;
	padding-bottom:.5em;
}

.graph-key h3 span,
.genogram-key h3 span {
	display:block;
	font-size:13px;
}

.graph-key-content ul {
	margin:0;
	padding:0;
	list-style-type:none;
}

.graph-key-content ul:last-child {
	margin-bottom:0;
}

.graph-key li.key-type-heading {
	text-transform:uppercase;
	font-size:11px;
	font-family:opensanssemibold;
	color:#ddd;
	margin-bottom:0.5em;
	display:inline-block;
	width:100% !important;
	white-space:nowrap;
}

.graph-key-content ul li {
	margin-bottom:10px;
}

.graph-key-content ul .key-connector, .graph-key-content ul .key-node-border {
	background:transparent;
	display:block;
	border:0;
	border-top-width:2px;
	border-top-style:solid;
}


.graph-key-content ul .key-connector {
	float:left;
	width:100%;
}


.graph-key-content ul .key-connector.personal, .graph-key-content ul .key-node-border.male {
	border-color:#2278d0;
}

.graph-key-content ul .key-node-border.female {
	border-color:#E29CCD;
}

.graph-key-content ul .key-connector.social {
	border-color:#48850E;
}

.graph-key-content ul .key-connector.secondary {
	border-color:#FAE095;
}

.graph-key-content ul .key-connector.automated {
	border-color:#D03722;
}

.graph-key-content ul .key-connector.suggested {
	border-color:#ff6600;
	border-style:dashed;
}

.graph-key-content ul .icon {
	border:0;
	margin-top:-5px;
	display:inline;
	float:left;
	margin-right:1em;
}

.graph-key-content ul .icon+.key-descriptor {
	margin-top:-3px;
}

.graph-key-content ul .key-connector.professional, .graph-key-content ul .key-node-border.other {
	border-color:#727272;
}

.graph-key-content ul .key-node-border.focus {
	border-color:#34495e;
	border-top-width:3px;
}

.graph-key-content ul .key-descriptor {
	display:block;
	font-size:11px;
	color:#ddd;
	font-style:italic;
	font-family:georgia, serif;
}

.graph-key-content ul .key-node-icon-gender, .graph-key-content ul .key-node-icon-other {
	background:url(../img/sprite-key-node-icon.png) no-repeat;
	width:48px;
	height:46px;
	display:inline-block;
}

.graph-key-content ul.key-node-icon li {
	display:inline-block;
	width:50%;
	vertical-align:top;
}

.graph-key-content ul .key-node-icon-gender.male {
	background-position:-14px 0;
}

.graph-key-content ul .key-node-icon-gender.female {
	background-position:-14px -45px;
}

.graph-key-content ul .key-node-icon-gender.indeterminate {
	background-position:-14px -90px;
}

.graph-key-content ul .key-node-icon-gender.unknown {
	background-position:-14px -182px;
}

.graph-key-content ul .key-node-icon-other.adopted {
	background-position:-14px -227px;
}

.graph-key-content ul .key-node-icon-other.allocated {
	background-position:-14px -273px;
}

.graph-key-content ul .key-node-icon-other.professional {
	background-position:-14px -319px;
}

.graph-key-content ul .key-node-icon-other.not-carried {
	background-position:-14px -137px;
}

.graph-key-content ul .key-node-icon-other.unborn {
	background-position:-1px -620px;
	width:61px;
	height:57px;
}


.graph-key-content ul.key-node-icon li.full {
	width:100%;
}


#diagram {
  	position: relative;
  	overflow: hidden;
  	border: 1px solid #ccc;
}

#diagram .diagram {
  	min-width: 600px;
  	min-height: 800px;
  	overflow: hidden;
}

#diagram .node-header h3 {
  	margin: 12px 0 0;
  	line-height: 20px;
  	font-size: inherit;
  	padding:0;
  	font-family:OpenSansRegular;
  	letter-spacing:-0.03em;
}

#diagram .node .node-header h3 {
  	margin-left: 0.85em;
  	padding-left: 0.25em;
}

#diagram .node-header,
#diagram .node-secondary {
	padding-top: 0!important;
}

#diagram .node-icon {
	padding: 0;
	margin-left: -0.36em;
}

#diagram .node .node-secondary {
	font-size: 85%;
	color:#595857;
	padding-left:0.4em;
	margin-left: 0.85em;
}

#diagram .fa-circle {
	font-size: 3em;
}

#diagram .fa-user {
  	font-size: 1.65em;
	margin-left: -1.15em;
	display: inline-block;
	padding-top: 0.3em;
	vertical-align: top;
}

#diagram .gender-male .fa-circle {
	color: #0D47FF;
}

#diagram .gender-female .fa-circle {
	color: #FF0DB2;
}

ul.key-node-icon span.unborn:after {
	content:'';
	margin-left:0;
}

span.graph:after {
	vertical-align:sub;
}

.graph-key-content ul .genogram-gender {
  width: 70px;
  height: 70px;
  display: inline-block;
}

.graph-key-content ul .genogram-gender-male {
  background: url(../img/genogram-male.png) no-repeat;
}

.graph-key-content ul .genogram-gender-female {
  background: url(../img/genogram-female.png) no-repeat;
}

.graph-key-content ul .genogram-gender-unknown {
  background: url(../img/genogram-unknown.png) no-repeat;
}

.graph-key-content ul .genogram-line {
  width: 120px;
  height: 50px;
  display: inline-block;
}

.graph-key-content ul .genogram-line-marriage {
  background: url(../img/genogram-marriage.png) no-repeat;
  background-position: -12px;
}

.graph-key-content ul .genogram-line-separated {
  background: url(../img/genogram-separated.png) no-repeat;
}

.graph-key-content ul .genogram-line-divorced {
  background: url(../img/genogram-divorced.png) no-repeat;
}

.graph-key-content ul .genogram-deceased {
  width: 65px;
  height: 65px;
  display: inline-block;
  background: url(../img/genogram-deceased.png) no-repeat;
}
