.pure-skin-usp .r-box {
    padding-right: 1em;
}

.pure-skin-usp .inline-input.r-box {
    padding-right: 0.5em;
}

.pure-form .inline-input input[type=text],
.pure-form .inline-input input[type=number],
.pure-form .inline-input > select {
    margin: 0;
}

.pure-form .inline-input input,
.pure-form .inline-input select {
    background-color: transparent;    
    z-index: 1;
}

.inline-input,
.inline-input > input,
.inline-input > select,
.inline-input > textarea,
.inline-input > .input-group > input {
    position: relative;
}

.inline-input > .input-group > label,
.inline-input > select + label,
.inline-input > input + label {
    position: absolute;
    top: 2px;
    z-index: 0;
    padding-left: 6px;
    color:#555;
}

.inline-input > .input-group > label {
    left: 32px;
}


.inline-input select[data-empty=false] + label,
.inline-input input[data-empty=false] + label,
.inline-input input[type=number]:focus + label {
    display: none;
}

.inline-input-fx > select[data-empty=false] + label,
.inline-input-fx > input[data-empty=false] + label,
.inline-input-fx > input[type=number]:focus + label {
   /** TODO **/
}

.inline-input-fx.end-below select[data-empty=false] + label,
.inline-input-fx.end-below input[data-empty=false] + label,
.inline-input-fx.end-below input[type=number]:focus + label {
    display: block;
}


.inline-input input[type=text][disabled], 
.inline-input input[type=password][disabled], 
.inline-input input[type=email][disabled], 
.inline-input input[type=url][disabled], 
.inline-input input[type=date][disabled], 
.inline-input input[type=month][disabled], 
.inline-input input[type=time][disabled], 
.inline-input input[type=datetime][disabled], 
.inline-input input[type=datetime-local][disabled], 
.inline-input input[type=week][disabled], 
.inline-input input[type=number][disabled], 
.inline-input input[type=search][disabled], 
.inline-input input[type=tel][disabled], 
.inline-input input[type=color][disabled], 
.inline-input select[disabled], 
.inline-input textarea[disabled] {
    background-color: #eaeded;
}

.inline-input input[type=text][disabled] + label, 
.inline-input input[type=password][disabled] + label, 
.inline-input input[type=email][disabled] + label, 
.inline-input input[type=url][disabled] + label, 
.inline-input input[type=date][disabled] + label, 
.inline-input input[type=month][disabled] + label, 
.inline-input input[type=time][disabled] + label, 
.inline-input input[type=datetime][disabled] + label, 
.inline-input input[type=datetime-local][disabled] + label, 
.inline-input input[type=week][disabled] + label, 
.inline-input input[type=number][disabled] + label, 
.inline-input input[type=search][disabled] + label, 
.inline-input input[type=tel][disabled] + label, 
.inline-input input[type=color][disabled] + label, 
.inline-input select[disabled] + label, 
.inline-input textarea[disabled] + label,
.inline-input input[disabled] + label {
    color: #BABABA;   
    cursor: not-allowed;
    display: block;
    z-index: 2;
}

