
 /** 
  * USP Pure App Accent
  * ===================
  * wip - add .nav-relationships or nav-chronology to html element to add color accent to all pages 
  * and relevant login screen imagery.
  */ 


    .nav-relationships #login         { /* Mobile first  */
    	background: url('../img/bg-login-md.jpg') no-repeat center center fixed;
  	   -webkit-background-size: cover;
    	 -moz-background-size: cover;
    	 -o-background-size: cover;
    	 background-size: cover;
    }



    @media only screen and (min-width: 768px){
      /* tablets  */
      .nav-relationships #login         { 
        background: url('../img/bg-login-md.jpg') no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;              

      }
    }

    @media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2){
      /* Ipad retina  */
      .nav-relationships #login         { 
        background: url('../img/bg-login-retina.jpg') no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;

      }
    }

    @media only screen and (min-width: 1025px){
      /* large screen  */
      .nav-relationships #login         { 
        background: url('../img/bg-login-lg.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    }




  .nav-relationships #login form    { 
  	background:#555; 
  	background: rgba(255,255,255,0.7); 
  	border-radius:4px;
  	-webkit-border-radius:4px;
  	-moz-border-radius:4px;
   }
   
   .nav-relationships #login form h1 {
  	background: url('../img/eclipse-login-olmcm-centre.png') center no-repeat;
  	height:150px;
  	text-indent:-9999px;
  	margin-bottom:30px;
  }
  
  .nav-relationships .pure-skin-usp { border-color: #FF9928; }
  
  .nav-chronology .pure-skin-usp    { border-color: #ABC111; }
  .nav-chronology #login            { background: url('../img/bgChronology.jpg') no-repeat right bottom #FFFFFF; }
  .nav-chronology #login form    	{ background: url('../img/bgChronology-login-form.png') no-repeat; }
 
	
	.nav-accent { border-top: 2px solid transparent;position:absolute;top:0;width:100% }
	
	.pure-skin-usp .nav-home				{ border-color: #ff9928; }
	.pure-skin-usp .nav-person				{ border-color:#1d7d44; }
	.pure-skin-usp .nav-relationships		{ border-color: #913D88; }
	.pure-skin-usp .nav-colleagues			{ border-color: #2dc80f; }
	.pure-skin-usp .nav-groups				{ border-color: #4183D7; }
	.pure-skin-usp .nav-chronology			{ border-color: #ce5043; }
	.pure-skin-usp .nav-casenote			{ border-color: #1E824C; }
	.pure-skin-usp .nav-casehistory			{ border-color: #c49e07; }
	.pure-skin-usp .nav-review				{ border-color: #16a085; }
	.pure-skin-usp .nav-forms				{ border-color: #95a5a6; }
	.pure-skin-usp .nav-classifications		{ border-color: #D35400; }
	.pure-skin-usp .nav-services			{ border-color: #26A65B; }
	.pure-skin-usp .nav-calendar			{ border-color: #D35400; }
	.pure-skin-usp .nav-document			{ border-color: #1F3A93; }
	.pure-skin-usp .nav-checklists  		{ border-color: #AEA8D3; }
	.pure-skin-usp .nav-organisation  		{ border-color: #701e14; }
	.pure-skin-usp .nav-classificationsadmin, .pure-skin-usp .nav-team, .pure-skin-usp .nav-settings, .pure-skin-usp .nav-calendarmanagement, .pure-skin-usp .nav-groupofrightsrmanagement, .pure-skin-usp .nav-rolemanagement, .pure-skin-usp .nav-rulemanagement, .pure-skin-usp .nav-checklistmanagement, .pure-skin-usp .nav-formmanagement, .pure-skin-usp .nav-usermanagement, .pure-skin-usp .nav-systemconfig, .pure-skin-usp .nav-outputs, .pure-skin-usp .nav-customMenu, .pure-skin-usp .nav-personsummaryadministration, .pure-skin-usp .nav-duplicaterecordsadmin, .pure-skin-usp .nav-audit, .pure-skin-usp .nav-demo { border-color: #673AB7; }
	
	
	
	
	
		
		
  #home .nav-accent 			{ border-color: #ff9928; }
  #person .nav-accent 			{ border-color:#1d7d44; }
  #relationships .nav-accent 	{ border-color: #913D88; }
  #colleagues .nav-accent 		{ border-color: #2dc80f; }
  #groups .nav-accent, #groupCaseNote .nav-accent 			{ border-color: #4183D7; }
  #chronology .nav-accent 		{ border-color: #ce5043; }
  #caseNote .nav-accent 		{ border-color: #1E824C; }
  #casehistory .nav-accent		{ border-color: #c49e07; }
  #teamAdministration .nav-accent, #settings .nav-accent, #checklistadministration .nav-accent, #formadministration .nav-accent, #usermanagement .nav-accent, #roleadministrator .nav-accent, #ruleadministration .nav-accent, #securityGroupOfRights .nav-accent, #systemConfiguration .nav-accent, #personsummaryadministration .nav-accent, #classificationsadministration .nav-accent, #outputadministration .nav-accent, #duplicaterecordsadministration .nav-accent { border-color: #673AB7; }
  
  #review .nav-accent 			{ border-color: #16a085; }
  #forms .nav-accent, #resolve .nav-accent 			{ border-color: #95a5a6; }
  #classifications .nav-accent      { border-color: #D35400; }
  #checklist .nav-accent      { border-color: #AEA8D3; }
  #service .nav-accent      { border-color: #26A65B; }
  #calendar .nav-accent, #locations .nav-accent      { border-color: #D35400; }
  #organisation .nav-accent 			{ border-color: #701e14; }
  
  
  @media (max-width: 768px) { 
    .nav-relationships #login form h1   {
    	background:url('../img/h1-login-mob-new.png') center no-repeat;
    	height: 120px;
    	margin-top:15px;
    	margin-bottom:15px;
   	}

} 	
  
	
  
  