@import "../../error/less/app.less";
@import "../../table/less/table.less";
@import "../../table/less/table-actions";

.approvals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 1em;
    padding-right: 1em;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    .usp-model-errors {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .missing-demographic {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: end;
        align-self: flex-end;

        i {
            font-size: 16px;
            color: #347ab7;
            padding-right: 0.5em;
        }
    }

    .registration-add-button, .registration-remove-button {
        margin-bottom: 0.5em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: end;
        align-self: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}


//nested table inside summary row - so override padding
//of summary row
.results-table-summary-row-enabled {
    tr.summary-row {
        .approvals-sub-table {
            -webkit-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
            border: 1px solid rgba(0, 0, 0, .125);
            border-radius: 4px;
            padding: 1em;

            h3 {
                margin-top: 0;
                font-family: OpenSansRegular;
            }

            .pure-table {
                tr {
                    td {
                        padding: .8em .6em;
                    }
                }

                tr.summary-row {
                    td {
                        padding: 0;
                    }
                }
            }
        }
    }
}