.usp-tabview {
    position: relative;
    padding: .2em;
    .usp-tabview-panel {
        display: block;
        border-width: 0;
        padding: 0.35em 0 1em 0;
        background: none;
    }
    .usp-tabview-list {
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 100%;
            bottom: 0;
            left: 0;
            border-bottom: 1px solid #c5c5c5;
            z-index: 1;
        }
    }
    .usp-tab {
        list-style: none;
        float: left;
        position: relative;
        top: 0;
        margin: 1px .2em 0 0;
        padding: 0;
        white-space: nowrap;
        border: 1px solid #d1d1d1;
        border-radius: 2px 2px 0 0;
        z-index: 0;
        background: #eaeaea;
        cursor: pointer;
        &.usp-tab-active {
            background: #fff;
            border: 1px solid #c5c5c5;
            border-bottom: 1px solid #fff;
            z-index: 2;
            color: #000!important;
            .usp-tab-label {
                &:hover {
                    background: #fff;
                }
            }
        }
        .usp-tab-label {
            float: left;
            padding: .5em 0.85em;
            text-decoration: none;
            color: #555;
            font-family: OpenSansLight;
            &:hover {
                background: #d1d1d1;
            }
        }
    }
}