@import (inline) 'node_modules/usp-simple-tree/css/main.css';

.clickable {
    cursor: pointer;
}

.draggable {
    cursor: move;
    display: inline-block;
    padding: 2px;
}

.over {
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

.controlTree {
    position: relative;
    overflow: auto;
    max-height: 24em;
    min-height: 12em;
    padding: 0.75em;
    background-color: #fbfbfb;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.control-label {
    margin-left: 2px;
}

.tree .source-control {
    display: inline;
    padding: .2em .6em .3em .2em;
    font-size: 75%;
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #5BC0DE;
    margin-left: 0.5em;
}

.show-previous {
    text-align: right;
}

.collapse-enter, .collapse-exit {
    overflow-y: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.collapse-enter {
    max-height: 0px
}

.collapse-enter.collapse-enter-active {
    max-height: 249px
}

.collapse-exit {
    max-height: 249px
}

.collapse-exit.collapse-exit-active {
    max-height: 0;
}

.source-graph {
    background-color: #fbfbfb;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 0.75em;
    overflow-y: auto;
    max-height: 250px;
}
