<form action="#none" id="classification-add-form" class="pure-form pure-form-stacked">
      
    <div class="pure-g-r">
  
	    <div class="pure-u-1 l-box">
	      <div class="pure-narrative">
	        <span class="narrative-summary" id="classification-add-narrative">{{labels.addClassificationNarrativeMessage}}</span>
	      </div>
	    </div>
	    <div class="pure-u-1 l-box">
	    		<div class="name">{{labels.hierarachyPath}}</div>
				<div class="value">{{hierarchyPath}}</div>
       </div>
	    <div class="pure-u-1-2 l-box">
                <label for="classificationName-input">{{labels.name}}<span class="mandatory"> *</span></label>
                <input type="text" class="pure-input-1" name="name" id="classificationName-input" maxlength="255" value="{{modelData.name}}" />
       </div>
       <div class="pure-u-1-2 l-box">
                <label for="classificationCode-input">{{labels.code}}<span class="mandatory"> *</span></label>
                <input type="text" class="pure-input-1" name="code" id="classificationCode-input" maxlength="255" value="{{modelData.code}}" />
       </div>
       <div class="pure-u-1-2 l-box">
           <label for="significantWhenCurrent-input" class="pure-checkbox">
				      <input type="checkbox" name="significantWhenCurrent" id="significantWhenCurrent-input" value="true"/>
				          &nbsp;{{labels.showIconOnHeader}}
				   </label>
       </div>
       <div class="pure-u-1-2 l-box">
           <label for="significantWhenHistoric-input" class="pure-checkbox">
				      <input type="checkbox" name="significantWhenHistoric" id="significantWhenHistoric-input" value="true"/>
				          &nbsp;{{labels.iconPersist}} <a href="#" class="pop-up-data" data-title="{{labels.iconPersistPopupMessageTitle}}" data-content="{{labels.iconPersistPopupMessageContent}}">Help</a>
				   </label>
       </div>
       <div class="pure-u-1-2 l-box">
           <label for="keyInformation-input" class="pure-checkbox">
				      <input type="checkbox" name="keyInformation" id="keyInformation-input" value="true"/>
				          &nbsp;{{labels.addToHeaderList}}
				   </label>
       </div>
       <div class="pure-u-1-2 l-box">
           <label for="notManuallyAssignable-input" class="pure-checkbox">
				      <input type="checkbox" name="notManuallyAssignable" id="notManuallyAssignable-input" value="true"/>
				          &nbsp;{{labels.notManuallyAdded}}
				   </label>
       </div>
       <div class="pure-u-1-2 l-box">
           <label for="endReasonMandatory-input" class="pure-checkbox">
				      <input type="checkbox" name="endReasonMandatory" id="endReasonMandatory-input" value="true"/>
				          &nbsp;{{labels.endReasonMandatory}}
				   </label>
       </div>
    </div>
</form>