<form action="#none" id="classification-group-add-form" class="pure-form pure-form-stacked">
      
    <div class="pure-g-r">
  
	    <div class="pure-u-1 l-box">
	      <div class="pure-narrative">
	        <span class="narrative-summary" id="classification-group-add-narrative">{{labels.addClassificationGroupNarrativeMessage}}</span>
	      </div>
	    </div>
	    <div class="pure-u-1 l-box">
	    		<div class="name">{{labels.hierarachyPath}}</div>
				<div class="value">{{hierarchyPath}}</div>
       </div>
	    <div class="pure-u-1-2 l-box">
                <label for="classificationGroupName-input">{{labels.name}}<span class="mandatory"> *</span></label>
                <input type="text" class="pure-input-1" name="name" id="classificationGroupName-input" maxlength="255" value="{{modelData.name}}" />
       </div>
       <div class="pure-u-1-2 l-box">
                <label for="classificationGroupCode-input">{{labels.code}}<span class="mandatory"> *</span></label>
                <input type="text" class="pure-input-1" name="code" id="classificationGroupCode-input" maxlength="255" value="{{modelData.code}}" />
       </div>
       <div class="pure-u-1-2 l-box">
                <label for="classificationGroupAcronym-input">{{labels.acronym}}</label>
                <input type="text" class="pure-input-1" name="acronym" id="classificationGroupAcronym-input" maxlength="3" value="{{modelData.acronym}}" />
       </div>
       <div class="pure-u-1-2 l-box">
           <label for="mutuallyExclusive-input" class="pure-checkbox">
				      <input type="checkbox" name="mutuallyExclusive" id="mutuallyExclusive-input" value="true"/>
				          &nbsp;{{labels.restrictMultipleInstances}}
				   </label>
       </div>
	    
    </div>
</form>