<form action="#none" id="classification-add-proceed-form" class="pure-form pure-form-stacked classification-add-proceed-form">
      
    <div class="pure-g-r">
  
	    <div class="pure-u-1 l-box">
	      <div class="pure-narrative">
	        <span class="narrative-summary" id="classification-proceed-narrative">{{labels.proceedClassificationNarrativeMessage}}</span>
	      </div>
	    </div>
	    <div class="pure-u-1-2 l-box" id="classfication_types">
		      <label class="pure-radio">
		        <input type="radio" id="classfication_group_type" name="classfication_types" value="CLASSIFICATIONGROUP" {{#if disableGroupOption}} disabled {{else}} checked{{/if}} /><span class="mandatory">{{labels.classificationGroup}}</span></label>
		      <br />
		      <label class="pure-radio">
		        <input type="radio" id="classfication_type" name="classfication_types" value="CLASSIFICATION" {{#if disableGroupOption}} checked{{/if}} /><span class="mandatory">{{labels.classification}}</span></label> 
		      <br />
    </div>
    
    </div>
</form>