<form action="#none" id="classification-delete-form" class="pure-form pure-form-stacked">
      
    <div class="pure-g-r">
  
	    <div class="pure-u-1 l-box">
	      <div class="pure-narrative">
	        <span class="narrative-summary" id="classification-add-narrative">{{labels.deleteClassificationNarrativeMessage}}</span>
	      </div>
	    </div>
	    
	    <div class="pure-u-1 l-box">
	    		<div class="name">{{labels.hierarachyPath}}</div>
				<div class="value">{{hierarchyPath}}</div>
      </div>
       
	    <div class="pure-u-1-2 l-box">   
				<div class="name">{{labels.name}}</div>
				<div class="value">{{modelData.name}}</div>
				
			</div>
			<div class="pure-u-1-2 l-box">   
				<div class="name">{{labels.code}}</div>
				<div class="value">{{modelData.code}}</div>
			</div>
			<div class="pure-u-1-2 l-box">   
				<div class="name">{{labels.showIconOnHeader}}</div>
				<div class="value">{{#if modelData.significantWhenCurrent }}Yes{{else}}No{{/if}}</div>
			</div>
			<div class="pure-u-1-2 l-box">   
				<div class="name">{{labels.iconPersist}}</div>
				<div class="value">{{#if modelData.significantWhenHistoric}}Yes{{else}}No{{/if}}</div>
			</div>
			<div class="pure-u-1-2 l-box">   
				<div class="name">{{labels.addToHeaderList}}</div>
				<div class="value">{{#if modelData.keyInformation}}Yes{{else}}No{{/if}}</div>
			</div>
			<div class="pure-u-1-2 l-box">   
				<div class="name">{{labels.notManuallyAdded}}</div>
				<div class="value">{{#if modelData.notManuallyAssignable}}Yes{{else}}No{{/if}}</div>
			</div>
	    <div class="pure-u-1 l-box">
				<div class="pure-alert pure-alert-block pure-alert-warning">
					<h4>{{labels.deleteClassificationConfirm}}</h4>
				</div>		
		  </div>
    </div>
</form>