<form action="#none" id="classification-view-form" class="pure-form pure-form-stacked">
    <div class="pure-g-r">

	    <div class="pure-u-1 l-box">
	      <div class="pure-narrative">
	        <span class="narrative-summary" id="classification-view-narrative">{{labels.viewClassificationNarrativeMessage}}</span>
	      </div>
	    </div>
	    <div class="pure-u-1 l-box">
	    		<div class="name">{{labels.hierarachyPath}}</div>
				<div class="value">{{hierarchyPath}}</div>
      </div>
	    <div class="pure-u-1-2 l-box">
				<div class="name">{{labels.name}}</div>
				<div class="value">{{modelData.name}}</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<div class="name">{{labels.code}}</div>
				<div class="value">{{modelData.code}}</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<div class="name">{{labels.showIconOnHeader}}</div>
				<div class="value">{{yesNo modelData.significantWhenCurrent }}</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<div class="name">{{labels.iconPersist}}</div>
				<div class="value">{{yesNo modelData.significantWhenHistoric}}</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<div class="name">{{labels.addToHeaderList}}</div>
				<div class="value">{{yesNo modelData.keyInformation}}</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<div class="name">{{labels.notManuallyAdded}}</div>
				<div class="value">{{yesNo modelData.notManuallyAssignable}}</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<div class="name">{{labels.system}}</div>
				<div class="value">{{yesNo modelData.system}}</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<div class="name">{{labels.statusLocked}}</div>
				<div class="value">{{#if modelData.isStatusModifiable}}No{{else}}Yes{{/if}}</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<div class="name">{{labels.endReasonMandatory}}</div>
				<div class="value">{{yesNo modelData.endReasonMandatory}}</div>
			</div>

    </div>
</form>