<form action="#none" id="calendarNWDaysAddForm" class="pure-form pure-form-stacked">
  <fieldset>
    <div class="pure-g-r">
	  {{#labels}}  
	    {{> calendarAdminNarrative}}
	  {{/labels}}

      <div class="pure-u-1 l-box">
        <label for="addCalendarNonWorkingDay_eventBundle">
          {{labels.eventBundle}}
          <span class="mandatory">*</span>
        </label>
        <select
          id="addCalendarNonWorkingDay_eventBundle"
          class="pure-input-1"
          name="calendarEventBundleId"
          required
        >
        </select>
      </div>
      
    </div>
  </fieldset>
</form>
