<form action="#none" id="calendarDaysEditForm" class="pure-form pure-form-stacked">
  <fieldset>
    <div class="pure-g-r">
	  {{#labels}}  
	    {{> calendarAdminNarrative}}
	  {{/labels}}
	  
      <div class="pure-u-1 l-box">
        <label for="editCalendarWorkingDay_day">
          {{labels.day}}
          <span class="mandatory">*</span>
        </label>
        <select
          id="editCalendarWorkingDay_day"
          class="pure-input-1"
          name="day"
          required
        >
        </select>
      </div>
      
      <div class="pure-u-1-2 l-box">
        <label for="editCalendarWorkingDay_startTime">
          {{labels.startTime}}
          <span class="mandatory">*</span>
        </label>
        <select
          id="editCalendarWorkingDay_startTime"
          class="pure-input-1"
          name="startTime"
          required
        >
        </select>
      </div>
      
      <div class="pure-u-1-2 l-box">
        <label for="editCalendarWorkingDay_endTime">
          {{labels.endTime}}
          <span class="mandatory">*</span>
        </label>
        <select
          id="editCalendarWorkingDay_endTime"
          class="pure-input-1"
          name="endTime"
          required
        >
        </select>
      </div>

    </div>
  </fieldset>
</form>
