<form action="#none" id="calendarEditForm" class="pure-form pure-form-stacked">
  <fieldset>
    <div class="pure-g-r">
	  {{#labels}}  
	    {{> calendarAdminNarrative}}
	  {{/labels}}
	  
      <div class="pure-u-1-2 l-box">
        <label for="editCalendar_name">
          {{labels.name}}
          <span class="mandatory">*</span>
        </label>
        <input
          id="editCalendar_name"
          type="text" 
          class="pure-input-1"
          name="name"
          value="{{modelData.name}}"
          required
          autofocus
        />
      </div>

      <div class="pure-u-1-2 l-box">
        <label for="editCalendar_firstDayOfWeek">
          {{labels.firstDayOfWeek}}
          <span class="mandatory">*</span>
        </label>
        <select
          id="editCalendar_firstDayOfWeek"
          class="pure-input-1"
          name="firstDayOfWeek"
          required
        >
        </select>
      </div>

      <div class="pure-u-1-2 l-box">
        <label for="editCalendar_description">
          {{labels.description}}
        </label>
        <textarea
          id="editCalendar_description"
          class="pure-input-1"
          name="description"
        >{{modelData.description}}</textarea>
      </div>

    </div>
  </fieldset>
</form>
