<form action="#none" id="holidayEventEditForm" class="pure-form pure-form-stacked">
  <fieldset>
    <div class="pure-g-r">
      <div class="pure-u-1 l-box">
        <label for="holidayEventEditForm_name">{{labels.name}} <span class="mandatory">*</span></label>
        <input id="holidayEventEditForm_name" type="text" class="pure-input-1" name="name" value="{{modelData.name}}" required autofocus/>
      </div>
      
      <div class="pure-u-1 l-box">
        <label for="holidayEventEditForm_date">{{labels.startDate}} <span class="mandatory">*</span></label>
        <input id="holidayEventEditForm_date" type="text" class="pure-input-1" name="date" value="{{dateFormat modelData.date}}" required/>
      </div>
      
      <div class="pure-u-1 l-box">
        <label for="holidayEventEditForm_description">
          {{labels.description}}
        </label>
        <textarea id="holidayEventEditForm_description" class="pure-input-1" rows="3" name="description">{{modelData.description}}</textarea>
      </div>
    </div>
  </fieldset>
</form>
