<form action="#none" id="holidayEditForm" class="pure-form pure-form-stacked">
  <fieldset>
    <div class="pure-g-r">
      <div class="pure-u-1 l-box">
        <label for="holidayEditForm_name">{{labels.name}} <span class="mandatory">*</span></label>
        <input id="holidayEditForm_name" type="text"  class="pure-input-1" name="name" value="{{modelData.name}}" required autofocus/>
      </div>

      <div class="pure-u-1 l-box">
        <label for="holidayEditForm_description">
          {{labels.description}}
        </label>
        <textarea id="holidayEditForm_description" class="pure-input-1" name="description" rows="3">{{modelData.description}}</textarea>
      </div>
    </div>
  </fieldset>
</form>
