<form action="#none" id="holidayAddForm" class="pure-form pure-form-stacked">
  <fieldset>
    <div class="pure-g-r">
      <div class="pure-u-1 l-box">
        <label for="holidayAddForm_name">{{labels.name}} <span class="mandatory">*</span></label>
        <input id="holidayAddForm_name" type="text"  class="pure-input-1" name="name" value="{{modelData.name}}" required autofocus/>
      </div>

      <div class="pure-u-1 l-box">
        <label for="holidayAddForm_description">
          {{labels.description}}
        </label>
        <textarea id="holidayAddForm_description" class="pure-input-1" rows="3" name="description">{{modelData.description}}</textarea>
      </div>
    </div>
  </fieldset>
</form>
