<form action="#none" id="holidayEventAddForm" class="pure-form pure-form-stacked">
  <fieldset>
    <div class="pure-g-r">
      <div class="pure-u-1 l-box">
        <label for="holidayEventAddForm_name">{{labels.name}} <span class="mandatory">*</span></label>
        <input id="holidayEventAddForm_name" type="text"  class="pure-input-1" name="name" value="{{modelData.name}}" required autofocus/>
      </div>
      
      <div class="pure-u-1 l-box">
        <label for="holidayEventAddForm_date">{{labels.startDate}} <span class="mandatory">*</span></label>
        <input id="holidayEventAddForm_date" type="text" class="pure-input-1" name="date" value="{{dateFormat modelData.date}}" required/>
      </div>
      
      <div class="pure-u-1 l-box">
        <label for="holidayEventAddForm_description">{{labels.description}}</label>
        <textarea id="holidayEventAddForm_description" class="pure-input-1" rows="3" name="description">{{modelData.description}}</textarea>
      </div>
    </div>
  </fieldset>
</form>
