@import (inline) "node_modules/usp-progress/css/main.css";
@import (inline) "node_modules/usp-card/css/main.css";
@import (inline) "node_modules/usp-inline-menu/css/main.css";
@import "node_modules/bootstrap/less/variables.less";
@import "node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "node_modules/bootstrap/less/component-animations.less";
@import "node_modules/bootstrap/less/badges.less";
@import "../../../error/less/app.less";

/** Variables **/

@progress-bar-height: 9px;

/** End of Variables **/

/** Override Card styling **/

.card-list .card {
  min-height: 55px;
  z-index: auto;
}

/** End of Override Card styling **/

/** Progress bar styling **/

.card-content{
  .checklist-indicator{
    position: relative;
    right: 0.25em;
    margin:0;
  }
  .checklist-status-indicator{
    width:14px;
    height:14px;

    @media screen and (max-width:768px){
      position: relative;
  		float: none;
      margin:0;
  	}
  }

  .value{
    color: #6a6a6a;
  }

  .name {
    float: left;
    padding: 2px 0;
    width: 5em;
    text-align: center;
  }
}
/** End of progress bar styling **/

.card {
  /** Checklist priority styling **/
  &.checklist-not-started {
    border-left-color: #d9d9d9;
  }

  &.checklist-low-priority {
    border-left-color: #008000;
  }

  &.checklist-medium-priority {
    border-left-color: #ff9400;
  }

  &.checklist-high-priority {
    border-left-color: #bb0000;
  }

  &.checklist-deleted {
    border-left-color: #999;
  }

  &.checklist-complete {
    border-left-color: #913d88;
  }
  /** End of Checklist priority styling **/
}


/** Checklist card menu styling **/
.card-header{
	position:relative;
}
.card-header-menu{
	position:absolute;
  right: -0.75em;
  top: -.25em;
}

.card-header-menu .pure-menu-item a {
    text-align: left
}
.card-header-menu .pure-menu> ul {
    position: absolute;
}

.card-header .card-header-menu span.pure-menu:hover{
  background-color:#fff;
}

.card-header-menu .inline-menu span.pure-menu-open{
  margin:0;
  border:0;
}

.card-header-menu .pure-menu-open .pure-menu-children{
    right: 0;
    left: auto;
    top: 2em;
}

.card-header-menu .pure-menu-children{
  background-color:#fff;
  padding:0.25em;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
          box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

.card-header-menu .pure-menu-open  .pure-menu-children  .pure-menu-item{
  opacity:1;
}
.card-header-menu .pure-menu-children .pure-menu-item{
    display: block;
    border: none;
    color: rgba(0,0,0,.87);
    background-color: transparent;
    margin: 0;
    padding: 0 16px;
    outline-color: #bdbdbd;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    height: 2em;
    line-height: 2em;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: opacity .2s cubic-bezier(.4,0,.2,1);
    -o-transition: opacity .2s cubic-bezier(.4,0,.2,1);
    transition: opacity .2s cubic-bezier(.4,0,.2,1);
}

.card-header-menu .pure-menu-children .pure-button{
  background-color:#fff;
}

.card-header-menu .pure-menu-children .pure-button:hover,
.card-header-menu .pure-menu-children .pure-button:focus{
  background-color: #d9d9d9;
}


/** End of Checklist card menu styling **/

/** List header styling **/
.list-header{
  font-size:1.2em;
}

.load-more-btn {
  margin-top: 8px;
  
  span {
    color: #347ab7;
    font-weight: 300;
    padding: 5px 8px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,.24);
    cursor: pointer;

    &:hover {
      color: #04325a;
      border: 1px solid rgba(2, 54, 133, 0.24);
      -webkit-box-shadow: 0px 3px 10px -3px rgba(173,170,173,1);
      -moz-box-shadow: 0px 3px 10px -3px rgba(173,170,173,1);
      box-shadow: 0px 3px 10px -3px rgba(173,170,173,1);
    }

    i {
      margin-right: 8px;
      font-weight: 100;
    }
  }
}

.more, .loading{
  text-align: center;
  color:#727483;
}

/** End of list header styling **/
/** Checklist card styling **/
.card-title{
	margin-right:1.5em;
}
.card-title h4{
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    word-break: break-word;
    margin-top: 2px;
    margin-bottom: 5px;
    a{
        color: #222222;
        text-decoration: none;
        &:focus,&:hover {
            text-decoration: underline;
        }
    }
    .name {
      float: left;
      padding: 0;
      margin-top: 0;
      @media (max-width: 767px) {
        margin-top: 5px;
      }
    }
    .value {
      background: none;
      padding: 0 4px;
      margin-bottom: 0;
      color: #6a6a6a;
      @media (max-width: 767px) {
        margin-top: 5px;
      }
    }
}

/** End of Checklist card stying **/

/** State icons **/
.checklist-title, .task-title{
  position: relative;
  color: #636363;
  margin-bottom: 0.5em;
  max-height: 2.6em;
  line-height: 1.2em;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.type-indicator{
  width:5em;
  border-radius: 3px;
  margin-right: 0.5em;
  font-size:70%;
  float:left;
  display:block;
  &.checklist{
    &.badge{
        background-color: #CE4072;
    }
  }
  &.task{
    &.badge{
      background-color: #347ab7;
    }
  }
}
i.checklist-indicator{
  left:0;
}
.checklist-indicator-container {
  text-align: right;
}

/** End of state icons **/