{{#modelData}}
    {{#if count}}
        <strong>{{count}} {{teamTitle}} - </strong>
    {{#if securedGroup}}
        <span>{{securedGroupTitle}} </span>
    {{/if}}
        <span>{{teamDetails}} </span>
    {{#if moreTeams}}
        <span> and </span>
        <span class="pop-up-data" title="" data-title="{{title}}" data-content="{{#teamsOnHover}}<div>{{this}}</div>{{/teamsOnHover}}">
            <a href="#" class="" style="display:inline-block">{{moreTeamsCount}} {{otherTitle}} </a>
        </span>
    {{/if}}
    {{else}}
        <span>{{noTeamsLabel}} </span>
    {{/if}}

{{/modelData}}