<form action="#none" id="updateCaseNoteConfigurableTypeReferenceForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r">
		<div class="pure-u-1 l-box">
			<div class="pure-narrative" id="describedby" aria-live="polite">
				<span class="narrative-summary">
					{{labels.narrative}}
				</span>
			</div>
		</div>
		
		<div class="pure-u-1-2 l-box">
			<label for="identifier">{{labels.identifier}}<span class="mandatory"> *</span></label>
			<input value="{{modelData.identifier}}" type="text" class="pure-input-1" name="identifier" id="identifier"></input>
		</div>
		
		<div class="pure-u-1-2 l-box">
       <label for="caseNoteEntryType">{{labels.caseNote}}<span class="mandatory"> *</span></label>
       <select type="text" class="pure-input-1" name="caseNoteEntryType" id="caseNoteEntryType">
         <option value=""></option>
       </select>
    </div>
    
	</div>
</form>