<form action="#none" id="updateFormConfigurableTypeReferenceForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r">		
		<div class="pure-u-1-2 l-box">
			<label for="identifier">{{labels.identifier}}<span class="mandatory"> *</span></label>
			<input value="{{modelData.identifier}}" type="text" class="pure-input-1" name="identifier" id="identifier"></input>
		</div>
			
		<div class="pure-u-1-2 l-box">
      <label for="formDefinitionId">{{labels.form}}<span class="mandatory"> *</span></label>
      <select type="text" class="pure-input-1" name="formDefinitionId" id="formDefinitionId">
        <option value=""></option>
      </select>
    </div>

		<div class="pure-u-1 l-box">
			<label for="teamSelect">{{labels.associatedTeams}}</label>
				<div class="pure-u-1" id="associatedTeams"></div>
		</div>
      
	</div>
</form>