<form class="pure-form pure-form-stacked">
<div class="pure-g-r">
    <div class="pure-u-1 l-box">
      <div class="pure-narrative" id="describedby">
        <p><span class="narrative-summary">Creating an event from scratch, <a id='createFromtemplate' href='#'>click here </a> to use a template
        use</span></p>
      </div>
    </div>
  </div>
 
  <div class="pure-g-r demo">
      <div class="pure-u-3-4 l-box">
        <label for="eg1">Select a template or no thanks, I'll create my event from
        scratch</label> <select id="mySelect" multiple="true">
          <option>
            Health Clinic
          </option>

          <option>
            Word Based Booking
          </option>

          <option>
            Special projects
          </option>

          <option>
            Other
          </option>

          <option>
            Projects
          </option>
        </select>
      </div>
   

 
</div>
  <div class="pure-g-r demo">
    <div class="pure-u-1-3 l-box">
      <label for="intakeEditForm_referralDate">Starting Date and time<span class=
      "mandatory">*</span></label>

      <div class="input-group input-append" id="yui_3_16_0_1_1409301152123_2236">
        <input id="from-input" type="text" class="pure-input-1" name="from" placeholder="Start Date" />
      </div>
    </div>

    <div class="pure-u-1-6 l-box">
    <label for="intakeEditForm_referralDate"> &nbsp;</label>
      <input id="time" type="text" class="pure-input-1" name="referralDate" placeholder="Time" />
    </div>
      
      
  </div>
   </form>

  <div class="pure-g-r demo">
    <div class="pure-u-2-3 l-box">
      <fieldset>
        <legend>Is it a reqular event?</legend> <label class="pure-radio"><input type=
        "radio" id="eg3a" name="entityType" checked="checked" aria-label="Yes" /> Yes
        <input type="radio" id="eg3b" name="entityType" aria-label="No" /> No</label>
      </fieldset>
    </div>
  </div>