<form class="pure-form pure-form-stacked demo">
    <div class="pure-g-r">
      <div class="pure-u-1 l-box">
			<div class="pure-narrative" id="describedby">
        		<span class="narrative-summary">You're creating an event from scratch<br />
				<a id=
          'createFromtemplate' href='#' name="createFromtemplate">Click here</a> to create an event from a template</span>
        	</div>
      </div>
    </div>



    <div class="pure-g-r">
    	<div class="pure-u-1 l-box">
    		<label for="location">Where is your event being held?</label>
	     	<input id="location" type="text" class="pure-input-1-2" />
      	</div>
    </div>

    <div class="pure-g-r demo">
      <div class="pure-u-1-3 l-box">
        <label for="fromDate-input">Start date <span class=
        "mandatory">*</span></label>

        <div class="input-group input-append" >
          <input id="fromDate-input" type="text" class="pure-input-1" name="fromDate"
          placeholder="DD-MMM-YYYY" />
        </div>

      </div>

      <div class="pure-u-1-6 l-box">
        <label for="time">Time</label> <input id="time" type=
        "text" class="pure-input-1" name="referralDate" placeholder="HH:MM" />
      </div>
    </div>

    <div class="pure-g-r demo">
      <div class="pure-u-1 l-box">
        <fieldset class='radio-horizontal'>
         	<legend>When</legend> 
				<label class="pure-radio">
            		<input type="radio" id="eg3a" name="entityType" checked="checked" aria-label="Daily" />Daily
				</label> 
            	<label class="pure-radio">
					<input type= "radio" id="eg3b" name="entityType" aria-label="Weekly" />Weekly
				</label>
            	<label class="pure-radio">
					<input type= "radio" id="eg3b" name="entityType" aria-label="Monthly" />Monthly
				</label>
            	<label class="pure-radio">
					<input type="radio" id="eg3b" name="entityType" aria-label= "Yearly" />Yearly
				</label>
        </fieldset>
      </div>
    </div>
    <div class="pure-g-r demo">
     <div class="pure-u-1 l-box">

       <label for="eg3b">Every</label> <input type="text" id="eg3b" name="entityType"  class='pure-u-1-6' style='display:inline-block;'/> <span style="display:inline-block;margin-top:0.5em;">week(s) on</span>
      </div>

    </div>
 <div class="pure-u-1 l-box">
  <fieldset class="inline-block">
   	<label ><input id="" type="checkbox" name="impact" value="monday" aria-label="Monday" /> Monday</label>
      			<label ><input id="" type="checkbox" name="impact" value="tuesday" aria-label="Tuesday" />Tuesday</label> 
      			<label><input id="" type="checkbox" name="impact" value="Wednesday" aria-label="Wednesday" /> Wednesday</label>
      			<label><input id="" type="checkbox" name="impact" value="Thursday" aria-label="Thursday" /> Thursday</label>
      			<label><input id="" type="checkbox" name="impact" vFridayalue="Friday"aria-label="Friday" /> Friday</label>
      			<label><input id="" type="checkbox" name="impact" value="Saturday" aria-label="Saturday" /> Saturday</label>
      			<label><input id="" type="checkbox" name="impact" value="Sunday" aria-label="Sunday" /> Sunday</label>
    </fieldset>
</div>
<div class="pure-g-r demo">
<div class="pure-u-1 l-box">
<h4>Range </h4>
</div>


  <div class="pure-u-1-3 l-box">
    
	<label for="startRange-input">Start date</label>
      
       <div class="input-group input-append" ><input id="startRange-input" type="text" class="pure-input-1" name="startRange" placeholder=
          "DD-MMM-YYYY" /></div>
          
          
      
  </div>
  <div class="pure-u-1-2 l-box">
    <fieldset class="l-box">
          <label class='pure-checkbox'><input id="" type="radio" name="impact" value="No end date" aria-label="Positive" /> No end date</label>
          <label class='pure-checkbox'><input id="" type="radio" name="impact" value="End after" aria-label="Negative" /> End after <input id="location" type="text" class="pure-input-1-8 inlineblock" name="from" placeholder=
          "" />occurences</label> 
          <label class='pure-checkbox'><input id="" type="radio" name="impact" value="End by"
          aria-label="Neutral" /> End by<input id="endBy" type="text" class="pure-input-1-6 inlineblock" name="endBy"
          placeholder="DD-MM-YYYY" /></label>
         
        </fieldset>
  </div>
  </div>
</div>
 
  </form>