<form class="pure-form pure-form-stacked">
<div class="pure-g-r">
    <div class="pure-u-1 l-box">
      <div class="pure-narrative" id="describedby">
        <p><span class="narrative-summary"> Event location: Wolverhamton Civic Hall scratch</span><br /><span>Date: 25/12/2014</span></p>
      </div>
    </div>
  </div>
 
  <div class="pure-g-r demo">
      <div class="pure-u-1-2 l-box">
      <label for="intakeEditForm_referralDate">Who is taffing the event</label>

            <input id="from-input" type="text" class="pure-input-1" name="from" placeholder="Type their name to select" />

      </div>
      <div class="pure-u-1-2 l-box">
          <br />
          <select id="mySelect" class='pure-u-1' multiple="true">
          <option>
            Samuel James
          </option>

          <option>
            Bill Smith
          </option>
        </select>
      </div>

  </div>
  <div class="pure-g-r demo">
    <div class="pure-u-1-2 l-box">
      <fieldset>
              <legend>Does this event require a team/group of staff?</legend> <label class="pure-radio"><input type=
              "radio" id="eg3a" name="entityType" checked="checked" aria-label="Yes" /> Yes
              <input type="radio" id="eg3b" name="entityType" aria-label="No" /> No</label>
          </fieldset>
    </div>
  </div>
    <div class="pure-g-r demo">
    <div class="pure-u-1-2 l-box">
      <fieldset>
              <legend>Is this event an appointment or group based</legend> <label class="pure-radio"><input type=
              "radio" id="eg3a" name="entityType" checked="checked" aria-label="Yes" /> Yes
              <input type="radio" id="eg3b" name="entityType" aria-label="No" /> No</label>
          </fieldset>
    </div>
  </div>
  
  <div class="pure-g-r demo">
    <div class="pure-u-1-3 l-box">
      <label for="intakeEditForm_referralDate">Start time</label>    
        <input id="from-input" type="text" class="pure-input-1" name="from" placeholder="Start Date" />
      
    </div>

    <div class="pure-u-1-3 l-box">
            <label for="intakeEditForm_referralDate">End time</label>    
        <input id="from-input" type="text" class="pure-input-1" name="from" placeholder="Start Date" />
    </div>    

    <div class="pure-u-1-3 l-box">

      <label ><input id="" type="checkbox" name="impact" value="monday" aria-label="Positive" /> All day event</label>
      

    </div>
  </div>


  <div class="pure-g-r demo">
    <div class="pure-u-1-3 l-box">
      <label for="intakeEditForm_referralDate">Number of sessions</label>
        <input id="from-input" type="text" class="pure-input-1" name="from" placeholder="Start Date" />
    </div>

    <div class="pure-u-1-3 l-box">
    <label for="intakeEditForm_referralDate"> Duration</label>
      <input id="time" type="text" class="pure-input-1" name="referralDate" placeholder="Time" />
    </div>
      
      
  </div>
   </form>

  