<form class="pure-form pure-form-stacked">
<div class="pure-g-r">
    <div class="pure-u-1 l-box">
      <div class="pure-narrative" id="describedby">
       <span class="narrative-summary"> You're adding an event at</span>
       <span class="narrative-description"> Royal Glamorgan Hospital</span>
       <span class="narrative-summary">on 11-Jun-2014</span>
      </div>
    </div>
  </div>
 
  <div class="pure-g-r demo">
      <div class="pure-u-1-2 l-box">
      <label for="from-input">Who is staffing the event?</label>

            <input id="from-input" type="text" class="pure-input-1" name="from" placeholder="Type their name to select" />

      </div>
      <div class="pure-u-1-2 l-box">
          <br />
          <select id="mySelect" class='pure-u-1' multiple="true">
          <option>
            Samuel James
          </option>

          <option>
            Bill Smith
          </option>
          
          <option>
            Jo Graham
          </option>
        </select>
      </div>

  </div>
  <div class="pure-g-r demo">
    <div class="pure-u-1 l-box">
      	<fieldset>
              <legend>Does this event require a team/group of staff?</legend> 
              <div class="pure-u-1-6">
              	<label class="pure-radio"><input type="radio" id="teamA" name="team" aria-label="Yes" />Yes</label>
              </div>
              <div class="pure-u-1-6">	
              	<label class="pure-radio"><input type="radio" id="teamB" checked="checked" name="team" aria-label="No" /> No</label>
              </div>	
          </fieldset>
    </div>
  </div>
    <div class="pure-g-r demo">
    <div class="pure-u-1 l-box">
      	<fieldset>
              <legend>Is this event appointment or group based?</legend> 
              <div class="pure-u-1-4">
              	<label class="pure-radio"><input type="radio" id="eg3c" name="apptA" checked="checked" aria-label="Appointment" /> Appointment</label>
              </div>	 
              <div class="pure-u-1-4">
              	<label class="pure-radio"><input type="radio" id="apptB" name="apptA" aria-label="Group based" /> Group based</label>
              </div>	
          </fieldset>
    </div>
  </div>
  
  <div class="pure-g-r demo">
    <div class="pure-u-1-3 l-box">
      <label for="intakeEditForm_referralDate">Start time</label>    
        <input id="from-input" type="text" class="pure-input-1" name="from" placeholder=" HH:MM" />
      
    </div>

    <div class="pure-u-1-3 l-box">
            <label for="intakeEditForm_referralDate">End time</label>    
        <input id="from-input" type="text" class="pure-input-1" name="from" placeholder=" HH:MM" />
    </div>    

    <div class="pure-u-1-3 l-box">
		
      <label style="margin-top:2.2em;"><input id="" type="checkbox" /> All day event</label>
      

    </div>
  </div>


  <div class="pure-g-r demo">
    <div class="pure-u-1-3 l-box">
      <label for="intakeEditForm_referralDate">Number of sessions</label>
        <input id="from-input" type="text" class="pure-input-1" name="from" />
    </div>

    <div class="pure-u-1-3 l-box">
    <label for="intakeEditForm_referralDate"> Duration</label>
      <input id="time" type="text" class="pure-input-1" name="referralDate" />
    </div>
      
      
  </div>
   </form>

  