
<div class="pure-skin-usp" style='height:3.3em;padding-top:0.5em'>
	<button class="pure-button pure-button-primary demo last" id="searchButton">Search</button>
	<button class="pure-button pure-button-primary demo" id="createButton">New Template</button>	
</div>





<div id='event-calendar'"></div>