 <form class="pure-form pure-form-stacked">
 <div class="pure-g-r">
    <div class="pure-u-1 l-box">
      <div class="pure-narrative" id="describedby">
       <span class="narrative-summary"> You're booking an appointment for</span><br />
       <span class="narrative-dewscription"> Mark Jones (PER779) for  26-June-2014 at 10:30am</span>
      </div>
    </div>
  </div>
 <div class="yui3-widget yui3-tabview">
       <div class="pure-g-r demo">
                   <div class="pure-u-1 l-box">
                      <label for="intakeEditForm_referralDate">Name</label> <input id=
                      "time" type="text" class="pure-input-1" name="referralDate" value="Mark Jones" placeholder="Mark Jones" />
                    </div>




          </div>
         <div class="pure-g-r demo">
              <div class="pure-u-1-2 l-box">
                <label for="intakeEditForm_referralDate">Start time</label> <input id=
                "time" type="text" class="pure-input-1" name="referralDate" value="10:30am"
                placeholder="10.30am" />
              </div>

              <div class="pure-u-1-2 l-box">
                <label for="intakeEditForm_referralDate">End time</label> <input id=
                "time" type="text" class="pure-input-1" name="referralDate" value="10:45am" placeholder="10.45am" />
              </div>

          </div>
          
         
           
  </div>
  </form>