<fieldset class="fieldset4">
      <table>
         <tr><td class="left_opt" align="center">
              Palette Available:<br/>
              {OPTIONS_CONTAINER}
            </td>
            <td class="center_btns" align="center">
              {ACTION_ALL}<br/>
              {ACTION_ONE}<br/>
              {ACTION_BACK}<br/>
              {ACTION_ALLBACK}
            </td>
            <td class="right_opt" align="center">
              Color Choices<br/>
              {SELECTIONS_CONTAINER}
            </td>
         </tr>
         <tr><td colspan="3" align="right"> </td></tr>
         <tr><td colspan="3" align="right"><button id="btnProcess">Process Results</button></td></tr>
</table>
	</fieldset>