// Core variables and mixins
@import "./node_modules/bootstrap/less/variables.less";
@import "node_modules/bootstrap/less/mixins.less";
@modal-backdrop-bg: #555;
@modal-backdrop-opacity: .8;
@zindex-modal-background: 999;
@zindex-modal: 999;
@import "./node_modules/bootstrap/less/modals.less";
@import (inline) "./node_modules/usp-dialog/css/main.css";
.modal-title {
    font-family: OpenSansRegular;
    .yui3-button-close {
        line-height: 15px;
    }
}

.modal-body {
    .pure-narrative {
        margin-bottom: 0;
    }
}

.modal-content .dialog-loading-mask{
    background: #fff url(/eclipse/img/loading/loading-main-32.gif) no-repeat scroll center;
}
