  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
    	<div class="name">{{labels.adoptionType}}</div>
      <div class="value">{{enumType modelData.adoptionType enumTypes.adoptionType}}</div>
    </div>

    {{#isEqual modelData.adoptionType 'INTER'}}
	    <div class="pure-u-1 l-box">
	      <h4>{{labels.interCountryAdoptionSubheading}}</h4>
	   	</div>
	   	<div class="pure-u-1-2 l-box">
        <div class="name">{{labels.dateMatched}}</div>
        <div class="value">{{dateFormat modelData.dateMatched}}</div>
	    </div>
	    <div class="pure-u-1-2 l-box">
	      <div class="name">{{labels.dateChildPlaced}}</div>
        <div class="value">{{dateFormat modelData.dateChildPlaced}}</div>
	    </div>
	    <div class="pure-u-1-2 l-box">
          <div class="name">{{labels.dateOrderGranted}}</div>
          <div class="value">{{dateFormat modelData.dateOrderGranted}}</div>
      </div>
    {{/isEqual}}

  </div>