<form action="#none" id="carerExemptionDeleteForm" class="pure-form pure-form-stacked">
	
  <fieldset>  
    <input type="hidden" name="personId" value="{{otherData.subject.subjectId}}" />
    <div class="pure-g-r">
      <div class="pure-u-1-2 l-box">
        <label for="startDate">{{labels.startDate}}</label>
        <div id="startDate" class="value" >{{dateFormat modelData.startDate}}</div>
      </div>
      <div class="pure-u-1-2 l-box">
        <label for="endDate">{{labels.endDate}}</label>
        <div id="endDate" class="value">{{dateFormat modelData.endDate}}</div>
      </div>
      <div class="pure-u-1-2 l-box">
		<label for="type">{{labels.type}}</label>
		<div id="type"class="value">{{enumType modelData.type enumTypes.exemptionType}}</div>
	   </div>
      
      <div class="pure-u-1-1 l-box">
          <label for="details">{{labels.details}}</label>
          <div id="details" class="value">{{modelData.details}}</div>
      </div>
      
      <div class="pure-u-1 l-box">
				<div class="pure-alert pure-alert-block pure-alert-warning">
					<h4>{{labels.deleteExemptionConfirm}}</h4>
				</div>
			</div>
    </div>
  </fieldset>
  
</form>