<form action="#none" id="carerDetailsAddForm" class="pure-form pure-form-stacked">
  <input type="hidden" name="personId" value="{{otherData.subject.subjectId}}" />
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <label for="startDate">{{labels.startDate}} <span class="mandatory">*</span></label>
      <input id="startDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="startDate" />
      <label for="typeOfCareId">Types of care <span class="mandatory">*</span></label>
      <select class="pure-input-1" name="typeOfCareId" id="typeOfCareId-input">
        <option value=""></option>
      </select>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="startDate">{{labels.organisation}} <span class="mandatory">*</span></label>
      {{#if otherData.organisation}}
      <div>
        <input type="hidden" name="organisationId" value="{{otherData.organisation.id}}" />
        <div class="value">{{otherData.organisation.name}} ({{otherData.organisation.organisationIdentifier}})</div>
        {{#if otherData.organisation.address}}
        <div class="value">{{otherData.organisation.address.location.location}}</div>
        {{/if}}
      </div>
      {{else}}
      <div id="organisationSubjectSearchWrapper"></div>
      {{/if}}
    </div>
    {{#unless otherData.currentFosterCarerRegistrationId}}
    <div class="pure-u-1-2 l-box">
      <label for="maxAvailablePlaces">{{labels.maxAvailablePlaces}}<span class="mandatory">*</span></label>
      <input id="maxAvailablePlaces" type="text" class="pure-input-1" name="maxAvailablePlaces" maxlength="3"
        value="1" />
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="maxAvailableRooms">{{labels.maxAvailableRooms}}<span class="mandatory">*</span></label>
      <input id="maxAvailableRooms" type="text" class="pure-input-1" name="maxAvailableRooms" maxlength="3" value="1" />
    </div>
    {{/unless}}

    <div class="pure-u-1-1 l-box" id="isTemporaryApproval-wrapper" style="display:none">
      <label for="isTemporaryApproval">{{labels.isTempApproval}}</label>
      <label class="pure-checkbox"><input type="checkbox" id="isTemporaryApproval" name="isTemporaryApproval"
          value="true" /> {{labels.isTempApprovalYes}}</label>
    </div>

    <div class="pure-u-1-5 l-box">
      <label for="lowerAgePermitted">{{labels.ageRangeMin}}<span class="mandatory">*</span></label>
      <input id="lowerAgePermitted" type="text" class="pure-input-1" name="lowerAgePermitted" maxlength="3" value="0" />
    </div>
    <div class="pure-u-1-5 l-box">
      <label for="upperAgePermitted">{{labels.ageRangeMax}}<span class="mandatory">*</span></label>
      <input id="upperAgePermitted" type="text" class="pure-input-1" name="upperAgePermitted" maxlength="3" value="1" />
    </div>
    <div class="pure-u-1-5 l-box">
      <label for="maxRelatedPlacements">{{labels.maxRelated}}<span class="mandatory">*</span></label>
      <input id="maxRelatedPlacements" type="text" class="pure-input-1" name="maxRelatedPlacements" value="0" />
    </div>
    <div class="pure-u-1-5 l-box">
      <label for="maxUnrelatedPlacements">{{labels.maxUnrelated}}<span class="mandatory">*</span></label>
      <input id="maxUnrelatedPlacements" type="text" class="pure-input-1" name="maxUnrelatedPlacements" value="1" />
    </div>
    <div class="pure-u-1-5 l-box">
      <label for="numberOfRooms">{{labels.numberOfRooms}}<span class="mandatory">*</span></label>
      <input id="numberOfRooms" type="text" class="pure-input-1" name="numberOfRooms" value="1" />
    </div>
    <div class="pure-u-1-2 l-box">
      <fieldset id="genderPermitted">
        <legend>{{labels.genderOfChildren}} <span class="mandatory">*</span></legend>
        <div class="fieldset-wrap pure-g-r">
          <div class="pure-u-1-4">
            <label class="pure-radio"><input id="male-input" name="genderPermitted" type="radio"
                value="MALE" />Male</label>
          </div>
          <div class="pure-u-1-4">
            <label class="pure-radio"><input id="female-input" name="genderPermitted" type="radio"
                value="FEMALE" />Female</label>
          </div>
          <div class="pure-u-1-4">
            <label class="pure-radio"><input id="both-input" name="genderPermitted" type="radio"
                value="BOTH" />Both</label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="pure-u-1-2 l-box">
      <fieldset id="disabilityPermitted">
        <legend>{{labels.disabilityPermitted}}<span class="mandatory">*</span></legend>
        <div class="fieldset-wrap pure-g-r">
          <div class="pure-u-1-4">
            <label class="pure-radio"><input type="radio" name="disabilityPermitted" value="true" />Yes</label>
          </div>
          <div class="pure-u-1-4">
            <label class="pure-radio"><input type="radio" name="disabilityPermitted" value="false" />No</label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="pure-u-1-2 l-box">
    <fieldset id="primaryCarer">
        <legend>{{labels.primaryCarer}} <span class="mandatory">*</span></legend>
 		{{#if otherData.currentFosterCarerRegistrationId}}
    		<div class="value">
      			{{yesNo otherData.fosterCarerRegistrationPrimaryCarer}}
   			 </div>
 		{{else}}
        <div class="fieldset-wrap pure-g-r">
          <div class="pure-u-1-4">
            <label class="pure-radio"><input id="primaryCarerYes" type="radio" name="primaryCarer"
                value="true" />{{labels.primaryCarerYes}}</label>
          </div>
          <div class="pure-u-1-4">
            <label class="pure-radio"><input id="primaryCarerNo" type="radio" name="primaryCarer"
                value="false" />{{labels.primaryCarerNo}}</label>
          </div>
        </div>
      {{/if}}
       </fieldset>
    </div>
    <div class="pure-u-1-2 l-box" id="typeOfDisability-wrapper" style="display:none;">
      <label for="typeOfDisability-input">{{labels.typeOfDisability}} <span class="mandatory">*</span></label>
      <select multiple class="pure-input-1" name="disabilityTypes" id="typeOfDisability-input">
      </select>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="synchroniseWithPartner" class="pure-checkbox">{{labels.synchroniseWithPartner}}
        {{#if otherData.subject.hasActivePartner}} - {{otherData.subject.activePartnerName}}
        ({{otherData.subject.activePartnerIdentifier}}) {{/if}}</label>
      <input class="pure-checkbox" type="checkbox" id="synchroniseWithPartner" name="synchroniseWithPartner">
    </div>
    <div class="pure-u-1 l-box">
      <label for="notes">{{labels.notes}}</label>
      <textarea class="pure-input-1" id="notes" name="notes" rows="3"></textarea>
    </div>
  </div>
</form>