<form action="#none" id="carerTrainingAddForm" class="pure-form pure-form-stacked">
  <input type="hidden" name="personId" value="{{otherData.subject.subjectId}}" />
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <label for="startDate">{{labels.startDate}}<span class="mandatory"> *</span></label>
      <input id="startDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="startDate"/>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="endDate">{{labels.endDate}}<span class="mandatory"> *</span></label>
      <input id="endDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="endDate"/>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="courseCode">Course <span class="mandatory">*</span></label>
      <select class="pure-input-1" name="courseCode" id="courseCode">
          <option value=""></option>
       </select>
    </div>
    {{#if otherData.subject.hasActivePartner}}
      <div class="pure-u-1-2 l-box">
        <label class="pure-checkbox" for="applyToPartner">
          <input id="applyToPartner" name="applyToPartner" type="checkbox" checked="checked" value="true">
          <span>{{labels.applyToPartner}}</span>
        </label>
      </div>
    {{/if}}
    <div class="pure-u-1" id="applyToPartnerOptions">
      <div class="pure-g-r">
        <div class="pure-u-1-2 l-box">
           <label for="partnerTrainingStartDate">{{labels.startDatePartner}}<span class="mandatory"> *</span></label>
           <input id="partnerTrainingStartDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="partnerTrainingStartDate"/>
        </div>
        <div class="pure-u-1-2 l-box">
           <label for="partnerTrainingEndDate">{{labels.endDatePartner}}<span class="mandatory"> *</span></label>
           <input id="partnerTrainingEndDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="partnerTrainingEndDate"/>
        </div>
      </div>
    </div>
  </div>
</form>
