<form action="#none" id="carerUnderInvestigationAddForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <label for="startDate">{{labels.startDate}}<span class="mandatory"> *</span></label>
      <input id="startDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="startDate" maxlength="11" value="{{dateFormat modelData.startDate}}"/>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="allegedAbuse">{{labels.allegedAbuse}}<span class="mandatory"> *</span></label>
      <select id="allegedAbuse" class="pure-input-1" name="allegedAbuse"></select>
    </div>
    <div class="pure-u-1 l-box">
        <label for="notes">{{labels.notes}}</label>
        <textarea id="notes" name="notes" class="pure-input-1" rows="3"></textarea>
    </div>
    <div class="pure-u-1 l-box">
      <fieldset id="allegationMadeBy">
        <legend>{{labels.allegationMadeBy}}<span class="mandatory"> *</span></legend>
        <div class="fieldset-wrap pure-g-r">
          <div class="pure-u-1-4">
            <label class="pure-radio" >
              <input id="allegationMadeByType" type="radio" name="allegationMadeByType" value="FOSTER_CHILD" /> Foster child
            </label>
          </div>
          <div class="pure-u-1-4">
            <label class="pure-radio" >
              <input id="allegationMadeByType" type="radio" name="allegationMadeByType" value="OTHER" /> Other
            </label>
          </div>
          <div class="pure-u-1" id="fosterChildDetails" style="display:none;">
            <select id="allegationMadeByAssociations" class="pure-input-1" name="allegationMadeByAssociationsValue" multiple></select>
          </div>
          <div class="pure-u-1" id="otherDetails" style="display:none;">
            <input id="allegationMadeByOther" type="text" class="pure-input-1" name="allegationMadeByOtherValue" />
          </div>
        </div>
      </fieldset>
    </div>
    </div>
    <div class="pure-g-r">
      <div class="pure-u-1-2 l-box">
        <label for="endDate">{{labels.endDate}}</label>
        <input id="endDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="endDate" maxlength="11"  value="{{dateFormat modelData.endDate}}"/>
      </div>
      <div class="pure-u-1-2 l-box">
        <label for="outcome">{{labels.outcome}}</label>
        <select id="outcome" class="pure-input-1" name="outcome"></select>
      </div>
    </div>
    <div id="monitoringFields" class="pure-g-r" style="display:none;">
      <div class="pure-u-1-2 l-box">
        <label for="monitoringStartDate">{{labels.monitoringStartDate}}<span class="mandatory"> *</span></label>
        <input id="monitoringStartDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="monitoringStartDate" maxlength="11" value="{{dateFormat modelData.monitoringStartDate}}"/>
      </div>
      <div class="pure-u-1-2 l-box">
        <label for="monitoringEndDate">{{labels.monitoringEndDate}}<span class="mandatory"> *</span></label>
        <input id="monitoringEndDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="monitoringEndDate" maxlength="11" value="{{dateFormat modelData.monitoringEndDate}}"/>
      </div>
    </div>
</form>