<div class="pure-g-r">
  <div class="pure-u-1 l-box">
    <fieldset id="adoptionType">
      <legend>{{labels.adoptionType}} <span class="mandatory">*</span></legend>
      <div class="fieldset-wrap pure-g-r">
        <div class="pure-u-1-4">
          <label class="pure-radio"><input type="radio" name="adoptionType" value="INTER" />{{labels.adoptionTypeInterCountry}}</label>
        </div>
        <div class="pure-u-1-4">
          <label class="pure-radio"><input type="radio" name="adoptionType" value="DOM" checked />{{labels.adoptionTypeDomestic}}</label>
        </div>
      </div>
    </fieldset>
  </div>
</div>