<form action="#none" id="carerUnderInvestigationEndForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <label for="endDate">{{labels.endDate}}<span class="mandatory"> *</span></label>
      <input id="endDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="endDate" maxlength="11" value="{{dateFormat modelData.endDate}}"/>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="outcome">{{labels.outcome}}<span class="mandatory"> *</span></label>
      <select id="outcome" class="pure-input-1" name="outcome"></select>
    </div>
  </div>
  <div id="monitoringFields" class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <label for="monitoringStartDate">{{labels.monitoringStartDate}}<span class="mandatory"> *</span></label>
      <input id="monitoringStartDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="monitoringStartDate" maxlength="11" value="{{dateFormat modelData.monitoringStartDate}}"/>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="monitoringEndDate">{{labels.monitoringEndDate}}<span class="mandatory"> *</span></label>
      <input id="monitoringEndDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="monitoringEndDate" maxlength="11" value="{{dateFormat modelData.monitoringEndDate}}"/>
    </div>
  </div>
</form>
