<div class="pure-g-r readonly">
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.startDate}}</div>
    <div class="value">{{dateFormat modelData.startDate}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.endDate}}</div>
    <div class="value">{{dateFormat modelData.endDate}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.reason}}</div>
    <div class="value">{{codedEntry modelData.reason codedEntries.suspensionReason}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.placesUnavailable}}</div>
    <div class="value">{{modelData.placesUnavailable}}</div>
  </div>
</div>
