<form action="#none" id="carerDetailsAddAdoptiveCarerForm" class="pure-form pure-form-stacked">
  <input type="hidden" name="personId" value="{{otherData.subject.subjectId}}" />
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <label for="startDate">{{labels.startDate}} <span class="mandatory">*</span></label>
      <input id="startDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="startDate" value="{{dateFormat startDate}}"/>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="organisationSubjectSearchWrapper">{{labels.organisation}} <span class="mandatory">*</span></label>
      <div id="organisationSubjectSearchWrapper"></div>
    </div>
    <div class="pure-u-1 l-box">
		<h4>{{labels.preferences}}</h4>
    </div>    
    <div class="pure-u-1-3 l-box">
      <label for="lowerAgePermitted">{{labels.ageRangeMin}}</label>
      <input id="lowerAgePermitted" type="text" class="pure-input-1" name="lowerAgePermitted" maxlength="3"/>
    </div>
    <div class="pure-u-1-3 l-box">
      <label for="upperAgePermitted">{{labels.ageRangeMax}}</label>
      <input id="upperAgePermitted" type="text" class="pure-input-1" name="upperAgePermitted" maxlength="3"/>
    </div>
    <div class="pure-u-1-2 l-box">
      <fieldset id="genderPermitted">
        <legend>{{labels.genderOfChildren}}</legend>
        <div class="fieldset-wrap pure-g-r">
          <div class="pure-u-1-4">
            <label class="pure-radio"><input id="male-input" name="genderPermitted" type="radio" value="MALE" />Male</label>
          </div>
          <div class="pure-u-1-4">
            <label class="pure-radio"><input id="female-input" name="genderPermitted" type="radio" value="FEMALE" />Female</label>
          </div>
          <div class="pure-u-1-4">
            <label class="pure-radio"><input id="both-input" name="genderPermitted" type="radio" value="BOTH" />Both</label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="pure-u-1-2 l-box">
      <fieldset id="disabilityPermitted">
        <legend>{{labels.disabilityPermitted}}</legend>
        <div class="fieldset-wrap pure-g-r">
          <div class="pure-u-1-4">
            <label class="pure-radio"><input type="radio" name="disabilityPermitted" value="true" />Yes</label>
          </div>
          <div class="pure-u-1-4">
            <label class="pure-radio"><input type="radio" name="disabilityPermitted" value="false"/>No</label>
          </div>
        </div>
      </fieldset>
    </div>
    <div id="contextualSubviewWrapper" class="pure-u-1"></div>
    <div id="adoptiveChildView" class="pure-u-1">
      <!--  contents will be updated by the Y.View -->
    </div>
	  <div class="pure-u-1 l-box" >
	    <label for="notes">{{labels.notes}}</label> 
	    <textarea class="pure-input-1" id="notes" name="notes" rows="3"></textarea>
	  </div>
  </div>
</form>