<form action="#none" id="carerSuspensionEditForm" class="pure-form pure-form-stacked">
  <input type="hidden" name="personId" value="{{otherData.subject.subjectId}}" />
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.startDate}}</div>
      <div class="value">{{dateFormat modelData.startDate}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="endDate">{{labels.endDate}}<span class="mandatory"> *</span></label>
      <input id="endDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="endDate" maxlength="11"/>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.reason}}</div>
      <div class="value">{{codedEntry modelData.reason codedEntries.suspensionReason}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
    	<div class="name">{{labels.placesUnavailable}}</div>
    	<div class="value">{{modelData.placesUnavailable}}</div>
  </div>
  </div>
</form>