<form action="#none" id="carerExemptionsAddForm" class="pure-form pure-form-stacked">
  <input type="hidden" name="personId" value="{{otherData.subject.subjectId}}" />
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <label for="startDate">{{labels.startDate}}<span class="mandatory"> *</span></label>
      <input id="startDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="startDate"/>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="endDate">{{labels.endDate}}</label>
      <input id="endDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="endDate"/>
    </div>
    <div class="pure-u-1-2 l-box">
      <fieldset id="type">
        <legend>{{labels.type}} <span class="mandatory">*</span></legend>
        <div class="fieldset-wrap pure-g-r">
          <div class="pure-u-1-2">
            <label class="pure-radio"><input type="radio" name="type" value="EMERGENCY" />Emergency</label>
          </div>
          <div class="pure-u-1-2">
            <label class="pure-radio"><input type="radio" name="type" value="PLANNED" />Planned</label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="pure-u-1 l-box details-text">
        <label for="details">{{labels.details}}<span class="mandatory"> *</span></label>
        <textarea name="details" class="pure-input-1" id="details" rows="5" maxlength="1000"></textarea>
    </div>
  </div>
</form>
