<form action="#none" id="childCarerTrainingDeleteForm" class="pure-form pure-form-stacked">
  <fieldset>  
    <div class="pure-g-r">
      <div class="pure-u-1-2 l-box">
        <label for="startDate">{{labels.startDate}}</label>
        <div id="startDate" class="value" >{{dateFormat modelData.startDate}}</div>
      </div>
      <div class="pure-u-1-2 l-box">
        <label for="endDate">{{labels.endDate}}</label>
        <div id="endDate" class="value">{{dateFormat modelData.endDate}}</div>
      </div>
      <div class="pure-u-1-2 l-box">
		<label for="type">{{labels.course}}</label>
		<div id="type"class="value">{{codedEntry modelData.courseCode codedEntries.courseCode}}</div>
	  </div>
      <div class="pure-u-1 l-box">
	    <div class="pure-alert pure-alert-block pure-alert-warning">
		  <h4>{{labels.deleteConfirmation}}</h4>
		</div>
	  </div>
    </div>
  </fieldset>
</form>