<form action="#none" id="carerDetailsEditAdoptiveCarerForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1-3 l-box">
      <div class="name">{{labels.startDate}}</div>
      <div class="value">{{dateFormat modelData.startDate}}</div>
    </div>
    <div class="pure-u-1-3 l-box">
      <label for="endDate">{{labels.endDate}}</label>
      <input id="endDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="endDate" value="{{dateFormat modelData.endDate}}"/>
    </div>
    <div class="pure-u-1-3 l-box">
        <label for="endReason">{{labels.endReason}}</label>
        <select id="endReason" class="pure-input-1" name="endReason">
           
        </select>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.organisation}}</div>
      <div class="value" >{{modelData.organisation.name}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.organisationAddress}}</div>
      <div class="value">{{modelData.organisation.address.location.location}}</div>
    </div>
    <div class="pure-u-1 l-box">
		<h4>{{labels.preferences}}</h4>
    </div>
    <div class="pure-u-1-3 l-box">
      <div class="name">{{labels.ageRangeMin}}</div>
      <div class="value">{{modelData.lowerAgePermitted}}</div>
    </div>
    <div class="pure-u-1-3 l-box">
      <div class="name">{{labels.ageRangeMax}}</div>
      <div class="value">{{modelData.upperAgePermitted}}</div>
    </div>
    <div class="pure-u-1-3 l-box">
      <label for="childrenPlaced">{{labels.childrenPlaced}}</label>
      <input id="childrenPlaced" type="text" class="pure-input-1" name="childrenPlaced" maxlength="3" value={{modelData.childrenPlaced}}>
    </div>
    <div class="pure-u-1-3 l-box">
      <div class="name">{{labels.genderOfChildren}}</div>
      <div class="value">{{enumType modelData.genderPermitted enumTypes.gender}}</div>
    </div>
    <div class="pure-u-1-3 l-box">
      <div class="name">{{labels.disabilityPermitted}}</div>
      <div class="value">{{yesNo modelData.disabilityPermitted}}</div>
    </div>
    <div class="pure-u-1-1 l-box childBeenPlacedWrapper">
      <fieldset id="childPlaced">
        <legend>{{labels.childBeenPlaced}} <span class="mandatory">*</span></legend>
        <div class="fieldset-wrap pure-g-r">
          <div class="pure-u-1-4">
            <label class="pure-radio"><input type="radio" name="childPlaced" value="true" />Yes</label>
          </div>
          <div class="pure-u-1-4">
            <label class="pure-radio"><input type="radio" name="childPlaced" value="false"/>No</label>
          </div>
        </div>
      </fieldset>
    </div>
    <div id="contextualSubviewWrapper" class="pure-u-1"></div>
    <div id="adoptiveChildView" class="pure-u-1">
      <!--  contents will be updated by the Y.View -->
    </div>
    <div class="pure-u-1 l-box" >
      <label for="notes">{{labels.notes}}</label> 
      <textarea class="pure-input-1" id="notes" name="notes" rows="3">{{modelData.notes}}</textarea>
    </div>
  </div>
</form> 