<form action="#none" id="carerUnderInvestigationEditForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.startDate}}</div>
      <div class="value">{{dateFormat modelData.startDate}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="allegedAbuse">{{labels.allegedAbuse}}<span class="mandatory"> *</span></label>
      <select id="allegedAbuse" class="pure-input-1" name="allegedAbuse"></select>
    </div>
    <div class="pure-u-1 l-box">
      <label for="notes">{{labels.notes}}</label>
      <textarea id="notes" name="notes" class="pure-input-1">{{modelData.notes}}</textarea>
    </div>
    <div class="pure-u-1 l-box" id="peopleDetails" style="display:none;">
      <label>{{labels.allegationMadeBy}}</label>
      <div class="pure-u-1" id="children-picklist"></div>
    </div>
    <div class="pure-u-1 l-box" id="otherDetails" style="display:none;">
      <label>{{labels.allegationMadeBy}}</label>
      <input id="allegationMadeByOther" type="text" class="pure-input-1" name="allegationMadeByOtherValue" value="{{modelData.allegationMadeByOther}}" />
    </div>
  </div>
</form>
