<div class="pure-g-r readonly">
  <div class="pure-u-1-5 l-box">
    <div class="name">{{labels.disabilityPermitted}}</div>
    <div class="value">{{yesNo modelData.disabilityPermitted}}</div>
  </div> 
  <div class="pure-u-1-5 l-box">
    <div class="name">{{labels.numberOfRooms}}</div>
    <div class="value">{{modelData.numberOfRooms}}</div>
  </div>
  <div class="pure-u-1-5 l-box">
    <div class="name">{{labels.ageRangePermitted}}</div>
    <div class="value" >{{modelData.lowerAgePermitted}} - {{modelData.upperAgePermitted}}</div>
  </div>
  <div class="pure-u-1-5 l-box">
    <div class="name">{{labels.maxRelatedPlacement}}</div>
    <div class="value">{{modelData.maxRelatedPlacements}}</div>
  </div>
  <div class="pure-u-1-5 l-box">
    <div class="name">{{labels.maxUnrelatedPlacement}}</div>
    <div class="value">{{modelData.maxUnrelatedPlacements}}</div>
  </div>
</div>