<form action="#none" id="carerSuspensionAddForm" class="pure-form pure-form-stacked">
  <input type="hidden" name="personId" value="{{otherData.subject.subjectId}}" />
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <label for="startDate">{{labels.startDate}} <span class="mandatory">*</span></label>
      <input id="startDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="startDate" value="{{dateFormat modelData.startDate}}">
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="endDate">{{labels.endDate}}</label>
      <input id="endDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="endDate" value="{{dateFormat modelData.endDate}}">
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="reason-input">{{labels.reason}}</label>
      <select class="pure-input-1" name="reason" id="reason-input">
        <option value=""></option>
      </select>
    </div>
        <div class="pure-u-1-2 l-box">
      <label for="placesUnavailable">{{labels.placesUnavailable}}<span class="mandatory">*</span></label>
      <input id="placesUnavailable" type="text" class="pure-input-1" name="placesUnavailable" maxlength="2" value="1" />
    </div>
  </div>
</form>