<div class="pure-g-r readonly">
  <div class="pure-u-1-3 l-box">
    <div class="name">{{labels.startDate}}</div>
    <div class="value">{{dateFormat modelData.startDate}}</div>
  </div>
  <div class="pure-u-1-3 l-box">
    <div class="name">{{labels.endDate}} </div>
    <div class="value">{{dateFormat modelData.endDate}}</div>
  </div>
  <div class="pure-u-1-3 l-box">
    <div class="name">{{labels.endReason}} </div>
    <div class="value">{{codedEntry modelData.endReason codedEntries.endReason}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.organisation}}</div>
    <div class="value">{{modelData.organisation.name}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.organisationAddress}}</div>
    <div class="value">{{modelData.organisation.address.location.location}}</div>
  </div>
  <div class="pure-u-1 l-box">
	<h4>{{labels.preferences}}</h4>
  </div>
  <div class="pure-u-1-3 l-box">
    <div class="name">{{labels.ageRangeMin}}</div>
    <div class="value">{{modelData.lowerAgePermitted}}</div>
  </div>
  <div class="pure-u-1-3 l-box">
    <div class="name">{{labels.ageRangeMax}}</div>
    <div class="value">{{modelData.upperAgePermitted}}</div>
  </div>
  <div class="pure-u-1-3 l-box">
    <div class="name">{{labels.childrenPlaced}}</div>
    <div class="value">{{modelData.childrenPlaced}}</div>
  </div>
  <div class="pure-u-1-3 l-box">
    <div class="name">{{labels.genderOfChildren}}</div>
    <div class="value">{{enumType modelData.genderPermitted enumTypes.gender}}</div>
  </div>
  <div class="pure-u-1-3 l-box">
    <div class="name">{{labels.disabilityPermitted}}</div>
    <div class="value">{{yesNo modelData.disabilityPermitted}}</div>
  </div>
   <div class="pure-u-1-3 l-box">
    <div class="name">{{labels.childBeenPlaced}}</div>
    <div class="value">{{yesNo modelData.childPlaced}}</div>
  </div>
  <div id="contextualSubviewWrapper" class="pure-u-1"></div>
  <div id="adoptiveChildView" class="pure-u-1">
    <!--  contents will be updated by the Y.View -->
  </div>
  <div class="pure-u-1 l-box" >
    <div class="name">{{labels.notes}}</div> 
    <div class="value">{{textFormat modelData.notes}}</div>
  </div>
</div>