<form action="#none" id="carerUnderInvestigationViewForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.startDate}}</div>
      <div class="value">{{dateFormat modelData.startDate}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.allegedAbuse}}</div>
      <div class="value">{{codedEntry modelData.allegedAbuse codedEntries.allegedAbuse}}</div>
    </div>
    <div class="pure-u-1 l-box">
      <div class="name">{{labels.notes}}</div>
      <div class="value">{{textFormat modelData.notes}}</div>
    </div>
    <div class="pure-u-1 l-box">
      <div class="name">{{labels.allegationMadeBy}}</div>
      <div class="value">{{modelData.allegationMadeByOther}}</div>
    </div> 
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.endDate}}</div>
      <div class="value">{{dateFormat modelData.endDate}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.outcome}}</div>
      <div class="value">{{codedEntry modelData.outcome codedEntries.outcome}}</div>
    </div>
  </div>
  {{#isEqual modelData.outcome 'MONITORING'}}
  <div class="pure-g-r" id="monitoringFields">
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.monitoringStartDate}}</div>
      <div class="value">{{dateFormat modelData.monitoringStartDate}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.monitoringEndDate}}</div>
      <div class="value">{{dateFormat modelData.monitoringEndDate}}</div>
    </div>
  </div>
  {{/isEqual}}
</form>