<div class="pure-g-r readonly">
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.startDate}}</div>
    <div class="value">{{dateFormat modelData.startDate}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.endDate}}</div>
    <div class="value">{{dateFormat modelData.endDate}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.typesOfCare}}</div>
    <div class="value">{{modelData.typeOfCareAssignmentVO.codedEntryVO.name}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.organisation}}</div>
    <div class="value">{{modelData.organisation.name}}</div>
  </div>
  {{#isEqual otherData.fosterCarerApprovalContext "DEFAULT"}}
  <div class="pure-u-1-1 l-box" id="isTemporaryApproval-wrapper">
    <div class="name">{{labels.isTempApproval}}</div>
    <div class="value">{{yesNo modelData.isTemporaryApproval}}</div>
  </div>
  {{/isEqual}}
  <div class="pure-u-1-1 l-box">
    <div class="name">{{labels.organisationAddress}}</div>
    <div class="value">{{modelData.organisation.address.location.location}}</div>
  </div>
  <div class="pure-u-1-3 l-box">
    <div class="name">{{labels.ageRange}}</div>
    <div class="value">{{modelData.lowerAgePermitted}} - {{modelData.upperAgePermitted}}</div>
  </div>
  <div class="pure-u-1-3 l-box">
    <div class="name">{{labels.disabilityPermitted}}</div>
    <div class="value">{{yesNo modelData.disabilityPermitted}}</div>
  </div>
  <div class="pure-u-1-3 l-box">
    <div class="name">{{labels.genderOfChildren}}</div>
    <div class="value">{{enumType modelData.genderPermitted enumTypes.gender}}</div>
  </div>
  <div class="pure-u-1-3 l-box">
    <div class="name">{{labels.maxRelated}}</div>
    <div class="value">{{modelData.maxRelatedPlacements}}</div>
  </div>
  <div class="pure-u-1-3 l-box">
    <div class="name">{{labels.maxUnrelated}}</div>
    <div class="value">{{modelData.maxUnrelatedPlacements}}</div>
  </div>
  <div class="pure-u-1-3 l-box">
    <div class="name">{{labels.numberOfRooms}}</div>
    <div class="value">{{modelData.numberOfRooms}}</div>
  </div>
  <div class="pure-u-1-1 l-box">
    <div class="name">{{labels.typeOfDisability}}</div>
    <div class="value">
      {{#each modelData.disabilityTypes}}{{#if @index}}<br>{{/if}}{{codedEntry this ../codedEntries.typeOfDisability}}{{/each}}
    </div>
  </div>
  <div class="pure-u-1 l-box">
    <div class="name">{{labels.primaryCarer}}</div>
    <div class="value">
      {{yesNo modelData.primaryCarer}}
    </div>
  </div>
  {{#if modelData.synchronisedPartner}}
  <div class="pure-u-1 l-box">
    <div class="name">{{labels.partner}}</div>
    <div class="value">{{modelData.synchronisedPartner.name}} ({{modelData.synchronisedPartner.personIdentifier}})</div>
  </div>
  {{/if}}
  <div class="pure-u-1-1 l-box">
    <div class="name">{{labels.notes}}</div>
    <div class="value">{{textFormat modelData.notes}}</div>
  </div>
</div>