<form action="#none" id="carerExemptionsEditForm" class="pure-form pure-form-stacked">
  <input type="hidden" name="personId" value="{{otherData.subject.subjectId}}" />
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.startDate}}</div>
      <div class="value">{{dateFormat modelData.startDate}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="endDate">{{labels.endDate}} <span class="mandatory">*</span></label>
      <input id="endDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="endDate" value="{{dateFormat modelData.endDate}}"/>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="type">{{labels.type}}</label>
      <div id="type" class="value">{{enumType modelData.type enumTypes.exemptionType}}</div>
   </div>
    <div class="pure-u-1-1 l-box">
      <label for="details">{{labels.details}}</label>
      <div id="details" class="value">{{textFormat modelData.details}}</div>
    </div>
  </div>
</form>
