  <div class="pure-g-r">
    <div class="pure-u-1 l-box">
      <fieldset id="adoptionType">
        <legend>{{labels.adoptionType}} <span class="mandatory">*</span></legend>
        <div class="fieldset-wrap pure-g-r">
          <div class="pure-u-1-4">
            <label class="pure-radio"><input type="radio" id="adoptionTypeInterCountry" name="adoptionType" value="INTER" />{{labels.adoptionTypeInterCountry}}</label>
          </div>
          <div class="pure-u-1-4">
            <label class="pure-radio"><input type="radio" id="adoptionTypeDomestic" name="adoptionType" value="DOM" />{{labels.adoptionTypeDomestic}}</label>
          </div>
        </div>
      </fieldset>
    </div>
    <div id="adoptionSubHeading" class="pure-u-1 l-box interCountryAdoptionFields">
    		<h4>{{labels.domesticAdoptionSubheading}}</h4>
    </div>


    <div class="pure-u-1-2 l-box interCountryAdoptionFields">
	    <label for="dateMatched">{{labels.dateMatched}} <span class="mandatory adoptionTypeMandatoryField" style="display:none;">*</span></label>
	    <input id="dateMatched" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="dateMatched" value="{{dateFormat modelData.dateMatched}}"/>
	  </div>
	  <div class="pure-u-1-2 l-box interCountryAdoptionFields">
	    <label for="dateChildPlaced">{{labels.dateChildPlaced}} <span class="mandatory adoptionTypeMandatoryField" style="display:none;">*</span></label>
	    <input id="dateChildPlaced" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="dateChildPlaced" value="{{dateFormat modelData.dateChildPlaced}}"/>
	  </div>
	  
    
    <div class="pure-u-1-2 l-box interCountryAdoptionFields">
      <label for="dateOrderGranted">{{labels.dateOrderGranted}} <span class="mandatory adoptionTypeMandatoryField" style="display:none;">*</span></label>
      <input id="dateOrderGranted" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="dateOrderGranted" value="{{dateFormat modelData.dateOrderGranted}}"/>
    </div>
    
  </div>