<div class="pure-g-r">
  <div  class="pure-u-1-2 l-box">
    <label>{{labels.addChild}}</label>
    {{#if isAutocompleteDisplayed}}<div id="addAdoptiveChildAutocomplete"></div>{{/if}}
  </div>

  <div class="pure-u-1 l-box">
    <ul class="childList inline">
    {{#each adoptiveChildAssociations}}
      <li>
        <span class="sticker">
          <span>
            <i class="fa fa-person"></i>
          </span>
          <span> </span>
          <span>
            {{this.name}} ({{this.personIdentifier}})
          </span>
          {{#if ../isAutocompleteDisplayed}}
            <span> </span>
            <a href="#none" data-action="remove" data-idx="{{@index}}" aria-label="Remove child"> <i class="fa fa-times-circle"></i></a>
          {{/if}}
        </span>
      </li>
    {{/each}}
    </ul>
  </div>
</div>
