<div class="pure-g-r">
    <div class="pure-u-1 l-box model-errors">
        <div class="message message-block message-error">
            <h4>{{ labels.message }}</h4>
            <ul>
              {{#each modelData.errors}}
                  <li>{{ error }}</li>
              {{/each}}
            </ul>
        </div>
    </div>
</div>
