<div class="pure-g-r readonly">
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.statusDate}}</div>
    <div class="value">{{dateFormat modelData.statusDate}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.statusCode}} </div>
    <div class="value">{{codedEntry modelData.statusCode codedEntries.statusCode}}</div>
  </div>
</div>