<form action="#none" id="fosterCarerRegistrationEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        <div class="pure-u-1-2 l-box">
            <label for="startDate">{{ labels.startDate }} <span class="mandatory">*</span></label>
            <input id="startDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="startDate" maxlength="11" value="{{dateFormat modelData.startDate}}" />
        </div>
        <div class="pure-u-1-2 l-box">
            <label for="maxAvailablePlaces">{{labels.maxAvailablePlaces}} <span class="mandatory">*</span></label>
            <input id="maxAvailablePlaces" type="text" class="pure-input-1" name="maxAvailablePlaces" maxlength="3" value="{{modelData.maxAvailablePlaces}}" />
        </div>
        <div class="pure-u-1-2 l-box">
            <label for="maxAvailableRooms">{{labels.maxAvailableRooms}} <span class="mandatory">*</span></label>
            <input id="maxAvailableRooms" type="text" class="pure-input-1" name="maxAvailableRooms" maxlength="3" value="{{modelData.maxAvailableRooms}}" />
        </div>
    	
    	<div class="pure-u-1-2 l-box">
    		<fieldset id="primaryCarer">
	      	<legend>{{labels.primaryCarer}} <span class="mandatory">*</span></legend>
	      	<div class="fieldset-wrap pure-g-r">
		        <div class="pure-u-1-4">
		          <label class="pure-radio"><input id="primaryCarerYes" type="radio" name="primaryCarer" 
		          {{#if modelData.primaryCarer}}
		          checked
		          {{/if}}
		          value="true"/>{{labels.primaryCarerYes}}</label>
		        </div>
		        <div class="pure-u-1-4">
		          <label class="pure-radio"><input id="primaryCarerNo" type="radio" name="primaryCarer" 
		          {{#unless modelData.primaryCarer}}
		          	checked  
		          {{/unless}}
		          value="false" />{{labels.primaryCarerNo}}</label>
		        </div>
	      	</div>
    		</fieldset>
    	</div>
    	
    </div>
</form>
