<form action="#none" id="fosterCarerRegistrationEndForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        <div class="pure-u-1-2 l-box">
            <label for="endDate">{{ labels.endDate }} <span class="mandatory">*</span></label>
            <input id="endDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="endDate" maxlength="11" value="{{dateFormat modelData.endDate}}" />
        </div>
        <div class="pure-u-1-2 l-box">
            <label for="endReason">{{ labels.endReason }} <span class="mandatory">*</span></label>
            <select id="endReason" class="pure-input-1" name="endReason"></select>
        </div>
    </div>
</form>
