<form action="#none" id="fosterCarerTSDAddForm" class="pure-form pure-form-stacked">
  <input type="hidden" name="personId" value="{{otherData.subject.subjectId}}" />
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <label for="statusDate">{{labels.statusDate}}<span class="mandatory"> *</span></label>
      <input id="statusDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="statusDate"/>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="statusCode">{{labels.statusCode}}<span class="mandatory">*</span></label>
      <select class="pure-input-1" name="statusCode" id="statusCode">
          <option value=""></option>
       </select>
    </div>
  </div>
</form>
