  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
    	<div class="name">{{labels.adoptionType}}</div>
      <div class="value">{{enumType modelData.adoptionType enumTypes.adoptionType}}</div>
    </div>
    
    {{#isEqual modelData.adoptionType 'DOM'}}
	    <div id="adoptionSubHeading" class="pure-u-1 l-box">
	    		<h4>{{labels.domesticAdoptionSubheading}}</h4>
	    </div>
	    <div class="pure-u-1-2 l-box">
        <div class="name">{{labels.dateMatched}}</div>
        <div class="value">{{dateFormat modelData.dateMatched}}</div>
	    </div>
	    <div class="pure-u-1-2 l-box">
	      <div class="name">{{labels.dateChildPlaced}}</div>
        <div class="value">{{dateFormat modelData.dateChildPlaced}}</div>
	    </div>
		  <div class="pure-u-1-2 l-box">
		  	<div class="name">{{labels.originallyFosteringChild}}</div>
      	<div class="value">{{yesNo modelData.originallyFosteringChild}}</div>
		  </div>
		  <div class="pure-u-1-2 l-box">
		  	<div class="name">{{labels.fosteringForAdoption}}</div>
      	<div class="value">{{yesNo modelData.fosteringForAdoption}}</div>
		  </div>
		  <div class="pure-u-1-2 l-box">
		  	<div class="name">{{labels.childLocalAuthority}}</div>
      	<div class="value">{{modelData.childLocalAuthority.name}} ({{modelData.childLocalAuthority.organisationIdentifier}})</div>
		  </div>
    {{else}}
	    <div class="pure-u-1 l-box">
	      <h4>{{labels.interCountryAdoptionSubheading}}</h4>
	   	</div>
	   	<div class="pure-u-1-2 l-box">
        <div class="name">{{labels.dateMatched}}</div>
        <div class="value">{{dateFormat modelData.dateMatched}}</div>
	    </div>
	    <div class="pure-u-1-2 l-box">
	      <div class="name">{{labels.dateChildPlaced}}</div>
        <div class="value">{{dateFormat modelData.dateChildPlaced}}</div>
	    </div>
    {{/isEqual}}

      <div class="pure-u-1-2 l-box">
          <div class="name">{{labels.dateOrderGranted}}</div>
          <div class="value">{{dateFormat modelData.dateOrderGranted}}</div>
      </div>
  </div>