<form action="#none" id="specificChildApprovalAddForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box m-height-md">
      <label for="personSearchWrapper">{{labels.personSearch}}<span class="mandatory"> *</span></label>
      <div id="personSearchWrapper"></div>
    </div>
  </div>
</form>