<form action="#none" id="specificChildApprovalDeleteForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1 l-box">
      <div class="pure-alert pure-alert-block pure-alert-warning">
        <h4>{{labels.deleteConfirmation}}</h4>
      </div>
    </div>
  </div>
</form>