<form action="#none" id="fosterCarerApprovalDataForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <label for="lowerAgePermitted">{{labels.lowerAgePermitted}} <span class="mandatory">*</span></label>
      <input id="lowerAgePermitted" type="text" class="pure-input-1" name="lowerAgePermitted" maxlength="3"
        value="{{modelData.lowerAgePermitted}}" />
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="upperAgePermitted">{{labels.upperAgePermitted}} <span class="mandatory">*</span></label>
      <input id="upperAgePermitted" type="text" class="pure-input-1" name="upperAgePermitted" maxlength="3"
        value="{{modelData.upperAgePermitted}}" />
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="maxRelatedPlacements">{{labels.maxRelatedPlacements}} <span class="mandatory">*</span></label>
      <input id="maxRelatedPlacements" type="text" class="pure-input-1" name="maxRelatedPlacements"
        value="{{modelData.maxRelatedPlacements}}" />
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="maxUnrelatedPlacements">{{labels.maxUnrelatedPlacements}} <span class="mandatory">*</span></label>
      <input id="maxUnrelatedPlacements" type="text" class="pure-input-1" name="maxUnrelatedPlacements"
        value="{{modelData.maxUnrelatedPlacements}}" />
    </div>
  </div>
  <div class="pure-u-1-2 l-box">
    <fieldset id="genderPermitted">
      <legend>{{labels.genderPermitted}} <span class="mandatory">*</span></legend>
      <div class="fieldset-wrap pure-g-r">
        <div class="pure-u-1-4">
          <label class="pure-radio"><input id="male-input" name="genderPermitted" type="radio"
              {{#isEqual  modelData.genderPermitted 'MALE'}}checked="checked" {{/isEqual}} value="MALE" />Male</label>
        </div>
        <div class="pure-u-1-4">
          <label class="pure-radio"><input id="female-input" name="genderPermitted" type="radio"
              {{#isEqual  modelData.genderPermitted 'FEMALE'}}checked="checked" {{/isEqual}}
              value="FEMALE" />Female</label>
        </div>
        <div class="pure-u-1-4">
          <label class="pure-radio"><input id="both-input" name="genderPermitted" type="radio"
              {{#isEqual  modelData.genderPermitted 'BOTH'}}checked="checked" {{/isEqual}} value="BOTH" />Both</label>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="pure-u-1-2 l-box">
      <fieldset id="disabilityPermitted">
        <legend>{{labels.disabilityPermitted}} <span class="mandatory">*</span></legend>
        <div class="fieldset-wrap pure-g-r">
          <div class="pure-u-1-4">
            <label class="pure-radio"><input id="disabilityTrue-input" type="radio" name="disabilityPermitted" value="true"
              {{#if  modelData.disabilityPermitted}}checked="checked" {{/if}}/>Yes</label>
          </div>
          <div class="pure-u-1-4">
            <label class="pure-radio"><input id="disabilityFalse-input" type="radio" name="disabilityPermitted" value="false"
              {{#unless modelData.disabilityPermitted}}checked="checked" {{/unless}}/>No</label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="pure-u-1-2 l-box" id="typeOfDisability-wrap"{{#unless modelData.disabilityPermitted}} style="display:none;"{{/unless}}>
      <label for="typeOfDisability-input">{{labels.typeOfDisability}} <span class="mandatory">*</span></label>
      <select multiple class="pure-input-1" name="disabilityTypes" id="typeOfDisability-input">
      </select>
    </div>
  </div>
  </form>
