<div class="progress">
	<div class="progress-bar" style="width: {{percentComplete}}%;">
	<div class="progress-bar-label">{{numberFormat percentComplete undefined 0 undefined undefined "%" }}<span class="hidden">complete</span></div>	
</div>
