{{#if anyActive}}
  <span>{{labels.filter}}</span>

  {{#if activeFilter.name}}
    <span class="label">{{labels.name}}<a href="#none" data-reset="name" aria-label="Remove name filter">
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}

  <a href="#none" data-reset="reset" class="small" aria-label="{{labels.resetAllTitle}}">{{labels.resetAll}}</a>
{{/if}}
