<form action="#none" id="newFormMappingForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r">
		{{#otherData}}
	        {{#include parent=..}}
	            {{> formTypeNarrative}}
	        {{/include}}
	    {{/otherData}}
	    <div class="pure-u-1 l-box">
	    	<label for="newFormMappingForm_name">{{labels.name}} <span class="mandatory">*</span></label>
           	<input id="newFormMappingForm_name" type="text" class="pure-input-1" name="name" value="{{modelData.name}}" maxlength="255"/>
	    </div>
	</div>
	<div id="formMappingComponent">Loading...</div>
</form>