<form action="#none" id="newFormInstance" method="post" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1 l-box">
      <label for="newFormInstance_subTypeId">{{labels.subTypeId}}</label>
      <select id="newFormInstance_subTypeId" class="pure-input-1" name="subTypeId">
        <option value=""></option>
      </select>
    </div>
    <div class="pure-u-1 l-box">
      <div class="pure-alert pure-alert-block pure-alert-info">
        <h4>{{labels.message}}</h4>
      </div>
    </div>
  </div>
</form>