<form action="#none" id="viewFormMappingForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r">
		{{#otherData}}
	        {{#include parent=..}}
	            {{> formTypeNarrative}}
	        {{/include}}
	    {{/otherData}}
	    {{#modelData}}	
			<div class="pure-u-1 l-box">
				<div class="name">{{../labels.name}}</div>
				<div class="value">{{name}}</div>	
			</div>
		{{/modelData}} 
	</div>
	<div id="formMappingComponent">Loading...</div>
</form>