<form action="#none" id="editFormDefinitionForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    {{#modelData}}
        <div class="pure-u-1 l-box">
          <label for="editFormDefinitionForm_name">{{../labels.name}}</label>
          <input id="editFormDefinitionForm_name" type="text" class="pure-input-1" name="name" value="{{name}}" maxlength="255"/>
        </div>
        <div class="pure-u-1 l-box">
          <label for="subType">{{../labels.subTypes}}</label>
          <div id="subTypes"></div>
        </div>
        <div class="pure-u-1 l-box">
          <label for="editFormDefinitionForm_checklistDefinitionId">{{../labels.relatedChecklistDefinitionId}}</label>
          <div id="checklistDefinitionIdAutocomplete"></div>
        </div>
        <div class="pure-u-1-2 l-box">
            <label for="editFormDefinitionForm_securityDomain">{{../labels.securityDomain}} <span class="mandatory">*</span></label>
          <select class="pure-input-1" id="editFormDefinitionForm_securityDomain" name="securityDomain">
          <option value=""></option>
        </select>
        </div>
        <div class="pure-u-1-2 l-box">
          <fieldset class="inline-checkbox">
            <legend>{{../labels.preferAutomatedAdd}} <span class="mandatory">*</span></legend>
            {{radioBi 'editFormDefinitionForm' 'preferAutomatedAdd' preferAutomatedAdd}}
          </fieldset>
        </div>
        <div class="pure-u-1-2 l-box">
          <fieldset class="inline-checkbox">
            <legend>{{../labels.cardinality}} <span class="mandatory"> *</span></legend>
            <label class="pure-radio" for="editFormDefinitionForm_cardinality_yes"><input type="radio" id="editFormDefinitionForm_cardinality_yes" name="cardinality" value="UNCONSTRAINED" {{#if isCardinalityYes}}checked="checked"{{/if}}> Yes</label>
            <label class="pure-radio" for="editFormDefinitionForm_cardinality_no"><input type="radio" id="editFormDefinitionForm_cardinality_no" name="cardinality" value="UNIQUE_PER_SUBJECT" {{#unless isCardinalityYes}}checked="checked"{{/unless}}> No</label>
          </fieldset>
        </div>
        <div class="pure-u-1-2 l-box">
            <fieldset class="inline-checkbox">
              <legend>{{../labels.instancesRequireAuthorisation}} <span class="mandatory">*</span></legend>
              {{radioBi 'editFormDefinitionForm' 'instancesRequireAuthorisation' instancesRequireAuthorisation}}
            </fieldset>
        </div>
        <div class="pure-u-1-2 l-box">
            <fieldset class="inline-checkbox">
              <legend>{{../labels.reviewGeneratesCaseNote}} <span class="mandatory">*</span></legend>
              {{radioBi 'editFormDefinitionForm' 'reviewGeneratesCaseNote' reviewGeneratesCaseNote}}
            </fieldset>
        </div>
        <div class="pure-u-1-2 l-box">
          <label for="editFormDefinitionForm_reviewCaseNoteEntryType">{{../labels.reviewCaseNoteEntryType}} <span id="editFormDefinitionForm_reviewCaseNoteEntryType_mandatory" class="hidden mandatory">*</span></label>
          <select class="pure-input-1" id="editFormDefinitionForm_reviewCaseNoteEntryType" name="reviewCaseNoteEntryType">
            <option value=""></option>
          </select>
        </div>
        <div class="pure-u-1-2 l-box">
          <label for="activityDateControlLocalId">{{../labels.activityDateControl}} </label>
          <select class="pure-input-1" id="activityDateControlLocalId" name="activityDateControlLocalId">
            <option value=""></option>
          </select>
        </div>
      {{/modelData}}
    </div>
</form>