<div class="pure-g-r readonly">
	{{#otherData}}
        {{#include parent=..}}
            {{> formTypeNarrative}}
        {{/include}}
    {{/otherData}}
	<div class="pure-u-1 l-box">
		<div class="pure-alert pure-alert-block pure-alert-warning">
			<h4>{{message}}</h4>
		</div>
	</div>		
</div>
