{{#if anyActive}}
  <span>{{labels.filter}}</span>

  {{#if activeFilter.status}}
    <span class="label">{{labels.status}}<a href="#none" data-reset="status" aria-label="Remove status filter">
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  {{#if activeFilter.formDefinitionId}}
    <span class="label">{{labels.type}}<a href="#none" data-reset="formDefinitionId" aria-label="Remove type filter">
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  {{#if activeFilter.mostRecentOnly}}
    <span class="label">{{labels.mostRecentOnly}}<a href="#none" data-reset="mostRecentOnly" aria-label="Remove most recent only filter">
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  {{#or activeFilter.startDateFrom activeFilter.startDateTo}}
    <span class="label">{{labels.startDate}}<a href="#none" data-reset="startDateFrom,startDateTo">
    <i class="fa fa-times-circle"></i></a></span>
  {{/or}}
  {{#or activeFilter.submittedDateFrom activeFilter.submittedDateTo}}
    <span class="label">{{labels.submittedDate}}<a href="#none" data-reset="submittedDateFrom,submittedDateTo">
    <i class="fa fa-times-circle"></i></a></span>
  {{/or}}
  {{#or activeFilter.completionDateFrom activeFilter.completionDateTo}}
    <span class="label">{{labels.completionDate}}<a href="#none" data-reset="completionDateFrom,completionDateTo">
    <i class="fa fa-times-circle"></i></a></span>
  {{/or}}
  {{#if activeFilter.hasAttachments}}
    <span class="label">{{labels.hasAttachments}}<a href="#none" data-reset="hasAttachments"  aria-label="Remove has attachments filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}  
  {{#or activeFilter.attachmentSource activeFilter.attachmentOtherSource}}
    <span class="label">{{labels.attachmentSource}}<a href="#none" data-reset="attachmentSource,attachmentOtherSource"  aria-label="Remove attachment source filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/or}}
  {{#or activeFilter.attachmentSourceOrganisation activeFilter.attachmentOtherSourceOrganisation}}
    <span class="label">{{labels.attachmentSourceOrganisation}}<a href="#none" data-reset="attachmentSourceOrganisation,attachmentOtherSourceOrganisation"  aria-label="Remove attachment source organisation filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/or}}
  {{#if activeFilter.attachmentTitle}}
    <span class="label">{{labels.attachmentTitle}}<a href="#none" data-reset="attachmentTitle"  aria-label="Remove attachment name filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  <a href="#none" data-reset="reset" class="small" aria-label="{{labels.resetAllTitle}}">{{labels.resetAll}}</a>
{{/if}}
