<form action="#none" id="reviewForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        <div class="pure-u-1-1 l-box">
            <label for="reviewForm_comments">{{labels.comments}} <span class="mandatory">*</span></label>
            <div data-name="comments" class="formRichTextInput" id="reviewForm_comments" contenteditable="true">{{{modelData.comments}}}</div>
        </div>
    </div>
</form>