<div class="pure-g-r readonly">
	<div class="pure-u-1 l-box">{{labels.message}}</div> 
	{{#if outputTemplates}}
		<div class="pure-u-1-1 l-box">
			<div class="name">{{labels.previousAttachedTemplates}}</div>
			<div class="record inner-panel">
				<ul class="no-style">
					{{#each outputTemplates}}
						<li><div class="value">{{outputName}}</div></li>
					{{/each}}
				</ul>
			</div>
		</div>	
	{{/if}}  			
</div>
