<div class="pure-g-r readonly">
  <div class="pure-u-1 l-box">
    {{template message otherData MicroSyntax}}
  </div>
  {{#if infoMessage}}
    <div class="pure-u-1 l-box">
      <div class="pure-alert pure-alert-block pure-alert-warning">
        <h4>{{template infoMessage otherData MicroSyntax}}</h4>
      </div>
    </div>
  {{/if}}
</div>