<form action="#none" id="newFormInstance" method="post" class="pure-form pure-form-stacked">
  <div class="pure-g-r readonly">
    <div class="pure-u-1 l-box">
      <label for="formMappingId">{{labels.formMappingId}} <span class="mandatory">*</span></label>
      <select name="formMappingId" class="pure-input-1" id="formMappingId"></select>
    </div>
  </div>
</form>