<div class="quick-filters-content">
  <span>{{labels.title}}</span>
  <label id="mostRecentOnly"
    {{#if isActive.mostRecentOnly}}
      class="active"
    {{/if}}
  >
    {{labels.filters.mostRecentOnly}}
  </label>
</div>
