<form action="#none" id="newFormInstance" method="post" class="pure-form pure-form-stacked">
  <div class="pure-g-r readonly">
    <div class="pure-u-1 l-box">
       {{template message otherData MicroSyntax}}
  </div>
</form>