<div class="panel bordered yui3-widget form-context">
	<div class="pure-g-r">
		<div class="pure-u-2-3 l-box">
			<label>{{labels.form}}:</label>
			<span class="value">{{modelData.formDefinitionName}}</span>
		</div>
		<div class="pure-u-1-3 l-box">
			<label>{{labels.startDate}}:</label>
			<span class="value">{{dateFormat modelData.dateStarted}}</span>
		</div>
	</div>	
</div>
