<form action="#none" id="editFormMappingForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    {{#otherData}}
        {{#include parent=..}}
            {{> formTypeNarrative}}
        {{/include}}
    {{/otherData}}
    <div class="pure-u-1 l-box">
      <label for="editFormMappingForm_name">{{labels.name}} <span class="mandatory">*</span></label>
      <input id="editFormMappingForm_name" type="text" class="pure-input-1" name="name" value="{{modelData.name}}" maxlength="255"/>
    </div>
  </div>
  <div id="formMappingComponent">Loading...</div>
</form>