<form action="#none" class="pure-form pure-form-stacked filter-panel" id="formResultsFilterForm">
  <div class="panel bordered">	
    <div>
      <h3 class="alt2" tabindex="0">{{labels.filterBy}}</h3>
    </div>
    <div id="formFilterTabs">
      <div class="ui-tabs" id="formFilterTabsSrc">
        <ul>
          <li>
            <a href="#typeFilters">{{labels.typeFilter}}<span class="typeFilterSpan" style="display: none">&nbsp;<i class="fa fa-filter"></i></span></a>
          </li>
          <li>
            <a href="#startDateFilters">{{labels.startDateFilter}}<span class="startDateFilterSpan" style="display: none">&nbsp;<i class="fa fa-filter"></i></span></a>
          </li>
          <li>
            <a href="#submittedDateFilters">{{labels.submittedDateFilter}}<span class="submittedDateFilterSpan" style="display: none">&nbsp;<i class="fa fa-filter"></i></span></a>
          </li>
          <li>
            <a href="#completionDateFilters">{{labels.completionDateFilter}}<span class="completionDateFilterSpan" style="display: none">&nbsp;<i class="fa fa-filter"></i></span></a>
          </li>
          {{#if otherData.showAttachmentFilter}}
            <li>
              <a href="#attachmentFilters">{{labels.attachmentFilter}} <span class="attachmentFilterSpan" style="display: none">&nbsp;<i class="fa fa-filter"></i></span></a>
            </li>
          {{/if}}
        </ul>
        <div>
          <div id="typeFilters">
            <div class="pure-g-r">
              <div class="pure-u-1-3 l-box">
                <fieldset>
                  <legend>{{labels.status}} </legend>
                  <label class="pure-checkbox" for="formResultsFilterForm_DRAFT">
                    <input aria-label="Draft" id="formResultsFilterForm_DRAFT" name="status" type="checkbox" value="DRAFT">
                    Draft
                  </label>
                  
                  <label class="pure-checkbox" for="formResultsFilterForm_SUBMITTED">
                    <input aria-label="Submitted" id="formResultsFilterForm_SUBMITTED" name="status" type="checkbox" value="SUBMITTED">
                    Submitted
                  </label>
                  
                  <label class="pure-checkbox" for="formResultsFilterForm_COMPLETE">
                    <input aria-label="Submitted" id="formResultsFilterForm_COMPLETE" name="status" type="checkbox" value="COMPLETE">
                    Complete
                  </label>
                  {{#if permissions.canViewArchived}}
                    <label class="pure-checkbox" for="formResultsFilterForm_ARCHIVED">
                      <input aria-label="Deleted" id="formResultsFilterForm_ARCHIVED" name="status" type="checkbox" value="ARCHIVED">
                      Deleted
                    </label>
                  {{/if}}
                </fieldset>
              </div>
              <div class="pure-u-1-3 l-box">
                <label for="formResultsFilterForm_type">{{labels.type}}</label>
                <select name="formDefinitionId" class="pure-input-1" id="formResultsFilterForm_type" multiple="multiple" size="5" >
                  <option value=""></option>
                </select> 
              </div>
              <div class="pure-u-1-3 l-box">
                <fieldset>
                  <label class="pure-checkbox" for="formResultsFilterForm_mostRecentOnly">
                    <input aria-label="mostRecentOnly" id="formResultsFilterForm_mostRecentOnly" name="mostRecentOnly" type="checkbox" value="true">
                    {{labels.mostRecentOnly}} 
                  </label>
                </fieldset>
              </div>
              <div class="pure-u-1 l-box">
                <div class="pure-button-group pull-right">
                  <input aria-label="Reset type and other filters" class="pure-button pure-button-secondary" data-reset="status,formDefinitionId,mostRecentOnly" type="button" value="Reset">
                </div>
              </div>
            </div>
          </div>
          <div id="startDateFilters">
            <div class="pure-g-r">
              <div class="pure-u-1-2 l-box">
                <label for="formResultsFilterForm_startDateFrom">{{labels.dateFrom}}</label>
                <input type="text" name="startDateFrom" class="pure-input-1" id="formResultsFilterForm_startDateFrom" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.startDateFrom}}" /> 
              </div>
              <div class="pure-u-1-2 l-box">
                {{labels.dateRangeLinks}}
                <ul id="startDateRangeShortcuts" class="inline">
                  <li><a href="#none" class="lastWeek">{{labels.dateRangeLastWeek}}</a></li>
                  <li><a href="#none" class="lastMonth">{{labels.dateRangeLastMonth}}</a></li>
                  <li><a href="#none" class="lastYear">{{labels.dateRangeLastYear}}</a></li>
                </ul>
              </div>
              <div class="pure-u-1-2 l-box">
                <label for="formResultsFilterForm_startDateTo">{{labels.dateTo}}</label>
                <input type="text" name="startDateTo" class="pure-input-1" id="formResultsFilterForm_startDateTo" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.startDateTo}}" />
              </div>
              <div class="pure-u-1 l-box">
                <div class="pure-button-group pull-right">
                  <input aria-label="Reset date filters" class="pure-button pure-button-secondary" data-reset="startDateFrom,startDateTo" type="button" value="Reset">
                </div>
              </div>
            </div>
          </div>
          <div id="submittedDateFilters">
            <div class="pure-g-r">
              <div class="pure-u-1-2 l-box">
                <label for="formResultsFilterForm_submittedDateFrom">{{labels.dateFrom}}</label> 
                <input type="text" name="submittedDateFrom" class="pure-input-1" id="formResultsFilterForm_submittedDateFrom" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.submittedDateFrom}}" /> 
              </div>
              <div class="pure-u-1-2 l-box">
                {{labels.dateRangeLinks}}
                <ul id="submittedDateRangeShortcuts" class="inline">
                  <li><a href="#none" class="lastWeek">{{labels.dateRangeLastWeek}}</a></li>
                  <li><a href="#none" class="lastMonth">{{labels.dateRangeLastMonth}}</a></li>
                  <li><a href="#none" class="lastYear">{{labels.dateRangeLastYear}}</a></li>
                </ul>
              </div>
              <div class="pure-u-1-2 l-box">
                <label for="formResultsFilterForm_submittedDateTo">{{labels.dateTo}}</label>
                <input type="text" name="submittedDateTo" class="pure-input-1" id="formResultsFilterForm_submittedDateTo" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.submittedDateTo}}" />
              </div>
              <div class="pure-u-1 l-box">
                <div class="pure-button-group pull-right">
                  <input aria-label="Reset date filters" class="pure-button pure-button-secondary" data-reset="submittedDateFrom,submittedDateTo" type="button" value="Reset">
                </div>
              </div>
            </div>
          </div>
          <div id="completionDateFilters">
            <div class="pure-g-r">
              <div class="pure-u-1-2 l-box">
                <label for="formResultsFilterForm_completionDateFrom">{{labels.dateFrom}}</label> 
                <input type="text" name="completionDateFrom" class="pure-input-1" id="formResultsFilterForm_completionDateFrom" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.completionDateFrom}}" /> 
              </div>
              <div class="pure-u-1-2 l-box">
                {{labels.dateRangeLinks}}
                <ul id="completionDateRangeShortcuts" class="inline">
                  <li><a href="#none" class="lastWeek">{{labels.dateRangeLastWeek}}</a></li>
                  <li><a href="#none" class="lastMonth">{{labels.dateRangeLastMonth}}</a></li>
                  <li><a href="#none" class="lastYear">{{labels.dateRangeLastYear}}</a></li>
                </ul>
              </div>
              <div class="pure-u-1-2 l-box">
                <label for="formResultsFilterForm_completionDateTo">{{labels.dateTo}}</label>
                <input type="text" name="completionDateTo" class="pure-input-1" id="formResultsFilterForm_completionDateTo" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.completionDateTo}}" />
              </div>
              <div class="pure-u-1 l-box">
                <div class="pure-button-group pull-right">
                  <input aria-label="Reset date filters" class="pure-button pure-button-secondary" data-reset="completionDateFrom,completionDateTo" type="button" value="Reset">
                </div>
              </div>
            </div>
          </div>
          {{#if otherData.showAttachmentFilter}}
            <div id="attachmentFilters">
              <div class="pure-g-r">
                <div class="pure-u-1-2 l-box">
                    <fieldset>
                      <legend>{{labels.hasAttachments.title}}</legend>
                      <label class="pure-radio"><input type="radio" name="hasAttachments" value="true" />{{labels.hasAttachments.withAttachments}}</label>
                      <label class="pure-radio"><input type="radio" name="hasAttachments" value="false" />{{labels.hasAttachments.withoutAttachment}}</label>
                    </fieldset>
                </div>
                <div class="pure-u-1-2 l-box">
                    <label for="entryFilter_attachmentTitle">{{labels.hasAttachments.attachmentTitle}}</label>
                    <input class="pure-input-1" id="entryFilter_attachmentTitle" maxlength="255" name="attachmentTitle" type="text" />
                </div>
                <div class="pure-u-1-2 l-box">
                    <label for="entryFilter_attachmentSource">{{labels.hasAttachments.attachmentSource}}</label>
                    <select name="attachmentSource" class="pure-input-1" id="entryFilter_attachmentSource" multiple="multiple" size="5">
                        <option value=""></option>
                    </select>
                    <label for="entryFilter_attachmentOtherSource">{{labels.hasAttachments.attachmentOtherSource}}</label>
                    <input class="pure-input-1" id="entryFilter_attachmentOtherSource" maxlength="255" name="attachmentOtherSource" type="text" />
                </div>
                <div class="pure-u-1-2 l-box">
                    <label for="entryFilter_attachmentSourceOrganisation">{{labels.hasAttachments.attachmentSourceOrganisation}}</label>
                    <select name="attachmentSourceOrganisation" class="pure-input-1" id="entryFilter_attachmentSourceOrganisation" multiple="multiple" size="5">
                        <option value=""></option>
                    </select>
                    <label for="entryFilter_attachmentOtherSourceOrganisation">{{labels.hasAttachments.attachmentOtherSourceOrganisation}}</label>
                    <input class="pure-input-1" id="entryFilter_attachmentOtherSourceOrganisation" maxlength="255" name="attachmentOtherSourceOrganisation" type="text" />
                </div>
                <div class="pure-u-1 l-box">
                  <div class="pure-button-group pull-right">
                    <input aria-label="Reset attachment filters" class="pure-button pure-button-secondary" data-reset="hasAttachments,attachmentSource,attachmentOtherSource,attachmentSourceOrganisation,attachmentOtherSourceOrganisation,attachmentTitle" type="button" value="Reset">
                  </div>
                </div>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</form>