<div class="pure-g-r readonly">
  {{#modelData}}	
  <div class="pure-u-1 l-box">
    <div class="name">{{../labels.name}}</div>
    <div class="value">{{name}}</div>	
  </div>
  <div class="pure-u-1 l-box">
    <div class="name">{{../labels.subTypes}}</div>
    <div id="subTypes" class="inner-panel">
      <ul class="no-style">
        {{#each subTypes}}
        <li><div class="value">{{this.name}}</div></li>
        {{/each}}
        </ul>
      </div>
    </div>
    <div class="pure-u-1 l-box">
      <div class="name">{{../labels.relatedChecklistDefinitionId}}</div>
      <div class="value">{{relatedChecklistDefinition.name}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{../labels.securityDomain}}</div>
      <div class="value">{{codedEntry securityDomain ../codedEntries.securityDomains}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{../labels.preferAutomatedAdd}}</div>
      <div class="value">{{yesNo preferAutomatedAdd}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{../labels.cardinality}}</div>
      <div class="value">{{yesNo isCardinalityYes}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{../labels.instancesRequireAuthorisation}}</div>
      <div class="value">{{yesNo instancesRequireAuthorisation}}</div>	
    </div>

    <div class="pure-u-1-2 l-box">
      <div class="name">{{../labels.reviewGeneratesCaseNote}}</div>
      <div class="value">{{yesNo reviewGeneratesCaseNote}}</div>	
    </div>

    <div class="pure-u-1-2 l-box">
      <div class="name">{{../labels.reviewCaseNoteEntryType}}</div>
      <div class="value">{{codedEntry reviewCaseNoteEntryType ../codedEntries.entryTypes}}</div>	
    </div>

    <div class="pure-u-1-2 l-box">
      <div class="name">{{../labels.activityDateControl}}</div>
      <div class="value">{{activityDateControlName}}</div>
    </div>

    {{#if outputTemplates}}
    <div class="pure-u-1-1 l-box">
      <div class="name">{{../../labels.outputTemplates}}</div>
      <div class="record inner-panel">
      <ul class="no-style">
        {{#each outputTemplates}}
        <li><div class="value">{{outputName}}</div></li>
        {{/each}}
        </ul>
      </div>
    </div>	
    {{/if}}  
  {{/modelData}}
</div>