<form action="#none" id="statusChangeForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    {{#if subTypes}}
      <div class="pure-u-1 l-box">
      <label for="statusChangeForm_subTypeId">{{../labels.subTypeId}} <span class="mandatory">*</span></label>
      <select id="statusChangeForm_subTypeId" class="pure-input-1" name="subTypeId">
      </select>
      </div>
    {{/if}}
    
    <div class="pure-u-1 l-box">
      <div class="pure-alert pure-alert-block pure-alert-warning">
        <h4>{{labels.message}}</h4>
      </div>
    </div>
  </div>
</form>