{{#if anyActive}}
  <span>{{labels.filter}}</span>

  {{#if activeFilter.submitterIds}}
    <span class="label">{{labels.submitterIds}}<a href="#none" data-reset="submitterIds" aria-label="{{labels.removeSubmitterIds}}">
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  {{#if activeFilter.formDefinitionUIDs}}
    <span class="label">{{labels.formNames}}<a href="#none" data-reset="formDefinitionUIDs" aria-label="{{labels.removeFormNames}}">
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  {{#or activeFilter.submittedDateFrom activeFilter.submittedDateTo}}
    <span class="label">{{labels.submittedDate}}<a href="#none" data-reset="submittedDateFrom,submittedDateTo" aria-label="{{labels.removeSubmittedDate}}">
    <i class="fa fa-times-circle"></i></a></span>
  {{/or}}
  
  <a href="#none" data-reset="reset" class="small" aria-label="{{labels.resetAllTitle}}">{{labels.resetAll}}</a>
{{/if}}
