<form action="#none" class="pure-form pure-form-stacked filter-panel">
  <div class="panel bordered">
    <div>
      <h3 class="alt2" tabindex="0">{{labels.filterBy}}</h3>
    </div>
    <div class="pure-g-r">
      <div class="pure-u-1-2 l-box">
          <label for="formResultsFilterForm_submittedDateFrom">{{labels.submittedDateFrom}}</label> 
          <input type="text" name="submittedDateFrom" class="pure-input-1" id="formResultsFilterForm_submittedDateFrom" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.submittedDateFrom}}" />
          <label for="formResultsFilterForm_submittedDateTo">{{labels.submittedDateTo}}</label>
          <input type="text" name="submittedDateTo" class="pure-input-1" id="formResultsFilterForm_submittedDateTo" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.submittedDateTo}}" />
        <div>
          {{labels.dateRangeLinks}}
          <ul id="submittedDateRangeShortcuts" class="inline">
            <li><a href="#none" class="lastWeek">{{labels.dateRangeLastWeek}}</a></li>
            <li><a href="#none" class="lastMonth">{{labels.dateRangeLastMonth}}</a></li>
            <li><a href="#none" class="lastYear">{{labels.dateRangeLastYear}}</a></li>
          </ul>
        </div>
      </div>
      <div class="pure-u-1-2 l-box">
        <label for="formResultsFilterForm_submitterIds">{{labels.submitterIds}}</label>
        <select name="submitterIds" class="pure-input-1" id="formResultsFilterForm_submitterIds" multiple="multiple" size="5" >
        </select>
      </div>
      <div class="pure-u-1-2 l-box">
        <label for="formDefinitionUIDs">{{labels.formNames}}</label>
        <select name="formDefinitionUIDs" class="pure-input-1" id="formDefinitionUIDs" multiple="multiple" size="5" >
        </select>
      </div>
      <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
          <input type="button" data-reset="reset" class="pure-button pure-button-secondary" value="{{labels.reset}}">
        </div>
      </div>
    </div>
  </div>
</form>