
<form id="formUploadAttachment" action="#none" method="post" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <label for="formUploadAttachment_file">{{labels.file}} <span class="mandatory">*</span></label>
      <input type="file" name="file" accept=".xlsx, .pptx, .docx, application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf, image/*, video/*, audio/*" class="pure-input-1"/>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="formUploadAttachment_title">{{labels.title}} <span class="mandatory">*</span></label> 	
      <input id="formUploadAttachment_title" type="text" class="pure-input-1" name="title" value="{{modelData.title}}" maxlength="250"/>
    </div>
    <div class="pure-u-1 l-box">
      <label for="formUploadAttachment_description">{{labels.description}}</label>
      <input id="formUploadAttachment_description" type="text" class="pure-input-1" name="description" value="{{modelData.description}}" maxlength="250"/>
    </div>
  </div>
</form>
