<form action="#none" id="childProtectionEnquiryAddForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1 l-box">
        <label for="enquiryRequestDate">{{labels.enquiryRequestDate}} <span class="mandatory">*</span></label>
        <input id="enquiryRequestDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="enquiryRequestDate" />
    </div>
    <fieldset id="enquirerSubjectType" class="pure-u-1 l-box">
        <label>{{labels.subjectName}} <span class="mandatory">*</span></label>
        <div class="pure-g-r">
            <div class="pure-u-1-2">
                <label class="pure-radio">
                    <input type="radio" name="enquirerSubjectType" {{#isEqual modelData.enquirerSubjectType 'PERSON'}}checked="checked"{{/isEqual}} value="PERSON" />{{labels.subjectType.person}}
                </label>
            </div>
            <div class="pure-u-1-2">
                <label class="pure-radio">
                    <input type="radio" name="enquirerSubjectType" {{#isEqual modelData.enquirerSubjectType 'ORGANISATION'}}checked="checked"{{/isEqual}} value="ORGANISATION" />{{labels.subjectType.organisation}}
                </label>
            </div>
        </div>
    </fieldset>
    <div class="pure-u-1 l-box">
        <div id="enquirerSubjectContent"></div>
    </div>
    <div class="pure-u-1 l-box" hidden="hidden" id="enquirerTeamWrapper">
        <label for="enquirerTeamId">{{labels.enquirerTeam}} </label>
        <select class="pure-input-1" name="enquirerTeamId" id="enquirerTeamId" type="hidden">
            <option value=""></option>
        </select>
    </div>
    <div id="enquirerTeamAddressWrapper" class="pure-u-1 l-box" hidden="hidden">
        <label>{{labels.enquirerAddress}}</label>
        <div class="value" id="enquirerTeamAddress"></div>
    </div>  
    <div class="pure-u-1 l-box">
        <label for="enquiryReason">{{labels.enquiryReason}} <span class="mandatory">*</span></label>
        <select class="pure-input-1" name="enquiryReason" id="enquiryReason">
            <option value=""></option>
        </select>
    </div>
  </div>
</form>