<div class="pure-g-r readonly">
    <div class="pure-u-1 l-box">
      <div class="pure-alert pure-alert-block pure-alert-warning">
        <h4>{{labels.deleteConfirmation}}</h4>
      </div>
    </div>
</div>