<div class="pure-g-r readonly">
    <div class="pure-u-1-2 l-box">
        <div class="name">{{labels.enquiryRequestDate}}</div>
        <div class="value">{{dateFormat modelData.enquiryRequestDate}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
        <div class="name">{{labels.subjectName}}</div>
        <div class="value">{{modelData.enquirerSubject.name}} ({{modelData.enquirerSubject.identifier}})</div>
    </div>
    <div class="pure-u-1-2 l-box">
        <div class="name">{{labels.enquiryReason}}</div>
        <div class="value">{{codedEntry modelData.enquiryReason codedEntries.enquiryReason}}</div>
    </div>
    {{#if otherData.subjectIsPerson}}
    <div class="pure-u-1-2 l-box">
        <div class="name">{{labels.enquirerTeam}}</div>
        <div class="value">{{modelData.enquirerTeam.name}}</div>
    </div>
    <div class="pure-u-1 l-box">
        <div class="name">{{labels.enquirerAddress}}</div>
        <div class="value">{{otherData.enquirerAddress}}</div>
    </div>
    {{/if}}
</div>