<form action="#none" id="customMenuItemEditForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r">
		<div class="pure-u-1 l-box">
			<div class="pure-narrative" id="describedby" aria-live="polite"><span class="narrative-summary">{{labels.editCustomMenuItemNarrativeSummary}}</span></div>
		</div>
		
		<div class="pure-u-1-2 l-box">
			<label for="label-input">{{labels.customMenuLinkLabel}}<span class="mandatory"> *</span></label>
			<input type="text" class="pure-input-1" name="label" id="label-input" maxlength="255" value="{{modelData.label}}" />
		</div>

		<div class="pure-u-1-4 l-box">
		    <label for="menuContext-input" class="pure-checkbox menuItem-checkbox">
		    <input type="checkbox" name="showInPersonContext" id="menuContext-input" {{#if modelData.showInPersonContext }}checked{{/if}} value=true>
		    {{labels.customMenuItemContextLabel}}</label>
		</div>
		
		<div class="pure-u-1-4 l-box">
			<label for="menuActive-input" class="pure-checkbox menuItem-checkbox">
			<input type="checkbox" name="active" id="menuActive-input" {{#if modelData.active }}checked{{/if}} value=true>
			{{labels.customMenuItemActiveLabel}}</label>
		</div>

		<div class="pure-u-1-1 l-box">
			<label for="menuUrl-input">{{labels.customMenuLinkUrl}}<span class="mandatory"> *</span></label>
			<input type="text" class="pure-input-1" name="menuUrl" id="menuUrl-input" maxlength="255" value="{{modelData.menuUrl}}" />
		</div>

        <div class="pure-u-1-1 yui3-skin-sam" id="menuUrlParameters"></div>
		
		<div class="pure-u-1-1 l-box">
			<label for="description-input">{{labels.customMenuLinkTooltip}}<span class="mandatory"> *</span></label>
			<textarea class="pure-input-1" name="description" id="description-input" maxlength="255">{{modelData.description}}</textarea>
		</div>

	</div>
</form>