<div class="pure-g-r">
  <div class="pure-u-1-2 l-box">
    <input type="text"  name="name" class="pure-input-1" maxlength="255" value="{{this.name}}" />
  </div>
  
  <div class="pure-u-1-2 l-box">
    <input type="text" name="type" class="pure-input-1" maxlength="255" value="{{this.type}}" />
  </div>
</div>