<form action="#none" id="systemCongufirationPropertiesDisplayForm" class="pure-form">
	<div class="pure-g-r systemConfigurationPropertiesDisplayRow">
	
	<div class="pure-u-1 l-box">
			<div class="pure-g-r inner-panel customMenuItemInnerPanel">
				<div class="pure-u-1 l-box sectionLabel">{{labels.smsConfiguration}}</div>
				
					<div class="pure-u-1-2 l-box">
							<div class="name">{{labels.isEnabled}}</div>
							<div class="value" >{{smsConfigProperties.isEnabled}}</div>
					</div>
					
					<div class="pure-u-1-2 l-box">
							<div class="name">{{labels.smsProvider}}</div>
							<div class="value" >{{smsConfigProperties.smsProvider}}</div>
					</div>
					
					<div class="pure-u-1-2 l-box">
							<div class="name">{{labels.defaultFromNumber}}</div>
							<div class="value" >{{smsConfigProperties.defaultFromNumber}}</div>
					</div>
					
					
					<div class="pure-u-1-2 l-box">
							<div class="name">{{labels.connectiontimeout}}</div>  
							<div class="value" >{{smsConfigProperties.connectionTimeout}}</div>
					</div>
					
					<div class="pure-u-1-2 l-box">
						 <div class="name">{{labels.accountCredentails}}</div>
							{{#if smsConfigProperties.accountCredentails}}
									<div class="value" >{{smsConfigProperties.accountCredentails}}</div>
							{{else}}
									<div class="value" >None</div>
							{{/if}}
					</div>
					
					<div class="pure-u-1-2 l-box">
						 <div class="name">{{labels.accountSid}}</div>
						 {{#if smsConfigProperties.accountSid}}
									<div class="value" >{{smsConfigProperties.accountSid}}</div>
							{{else}}
									<div class="value" >None</div>
							{{/if}}
					</div>
				
			</div>
		</div>
		
		
		<div class="pure-u-1 l-box">
			<div class="pure-g-r inner-panel customMenuItemInnerPanel">
				<div class="pure-u-1 l-box sectionLabel">{{labels.smtpConfiguration}}</div>
				
					<div class="pure-u-1-2 l-box">
							<div class="name">{{labels.isEnabled}}</div>
							<div class="value" >{{smtpConfigProperties.isEnabled}}</div>
					</div>
					
					<div class="pure-u-1-2 l-box">
							<div class="name">{{labels.host}}</div>
							<div class="value" >{{smtpConfigProperties.host}}</div>
					</div>
					
					<div class="pure-u-1-2 l-box"> 
							<div class="name">{{labels.port}}</div>
							<div class="value" >{{smtpConfigProperties.port}}</div>
					</div>
					
					<div class="pure-u-1-2 l-box">
							<div class="name">{{labels.username}}</div>
							<div class="value" >{{smtpConfigProperties.username}}</div>
					</div>
					
					
					<div class="pure-u-1-2 l-box">
							<div class="name">{{labels.auth}}</div>
							<div class="value" >{{smtpConfigProperties.auth}}</div>
					</div>
					
					<div class="pure-u-1-2 l-box">
						 <div class="name">{{labels.connectiontimeout}}</div>
								<div class="value" >{{smtpConfigProperties.connectiontimeout}}</div>
					</div>
					
					<div class="pure-u-1-2 l-box">
						 <div class="name">{{labels.starttlsEnable}}</div>
								<div class="value" >{{smtpConfigProperties.starttlsEnable}}</div>
					</div>
					
					<div class="pure-u-1-2 l-box">
						 <div class="name">{{labels.sslTrust}}</div>
								<div class="value" >{{smtpConfigProperties.sslTrust}}</div>
					</div>
				
			</div>
		</div>
	
		<div class="pure-u-1 l-box">
			<div class="pure-g-r inner-panel customMenuItemInnerPanel">
				<div class="pure-u-1 l-box sectionLabel">{{labels.ldapConfiguration}}</div>
				
					<div class="pure-u-1-2 l-box">
							<div class="name">{{labels.isEnabled}}</div>
							<div class="value" >{{ldapConfigProperties.isEnabled}}</div>
					</div>
					
					<div class="pure-u-1-2 l-box">
							<div class="name">{{labels.url}}</div>
							<div class="value" >{{ldapConfigProperties.url}}</div>
					</div>
					
					<div class="pure-u-1-2 l-box">
							<div class="name">{{labels.rootDN}}</div>
							<div class="value" >{{ldapConfigProperties.rootDN}}</div>
					</div>
					
					<div class="pure-u-1-2 l-box">
							<div class="name">{{labels.principalDN}}</div>
							<div class="value" >{{ldapConfigProperties.principalDN}}</div>
					</div>
					
					
					<div class="pure-u-1-2 l-box">
							<div class="name">{{labels.userBase}}</div>
							<div class="value" >{{ldapConfigProperties.userBase}}</div>
					</div>
					
					<div class="pure-u-1-2 l-box">
						 <div class="name">{{labels.userFilter}}</div>
								<div class="value" >{{ldapConfigProperties.userFilter}}</div>
					</div>
					
					<div class="pure-u-1-2 l-box">
						 <div class="name">{{labels.groupBase}}</div>
								<div class="value" >{{ldapConfigProperties.groupBase}}</div>
					</div>
					
					<div class="pure-u-1-2 l-box">
						 <div class="name">{{labels.groupFilter}}</div>
								<div class="value">{{ldapConfigProperties.groupFilter}}</div>
					</div>
				
			</div>
		</div>
		
		
</form>