<div class="pure-g-r readonly">
  <div class="pure-u-1-2 l-box">
    <label for="environment" id="environment">{{labels.environment}}</label>
    <div class="value" id="environment" >{{environmentProperties.environment}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <label for="version" id="version">{{labels.version}}</label>
    <div class="value" id="version" >{{environmentProperties.version}}</div>
  </div>
</div>
