<div id="systemCustomMenuLinksConfigView" class="pure-g-r readonly">
	{{#each customMenuLinks}}
		<div class="pure-u-1 l-box">
			<div class="pure-g-r inner-panel customMenuItemInnerPanel">
				<div class="pure-u-1 l-box sectionLabel">{{../labels.customMenuItemSectionTitle}}</div>
				
					<div class="pure-u-1-2 l-box">
							<div class="name">{{../labels.customMenuLinkLabel}}</div>
							{{#if this.label}}
								<div class="value" id="customMenuLinkLabel">{{this.label}}</div>
							{{else}}
								<div class="value" id="customMenuLinkLabel">None</div>
							{{/if}}
						
					</div>
					<div class="pure-u-1-4 l-box">
					    <div class="name">{{../labels.customMenuItemContextLabel}}</div>
					    {{#if this.showInPersonContext}}
					        <div class="value" id="customMenuContextLabel">Yes</div>
					    {{else}}
					        <div class="value" id="customMenuContextLabel">No</div>
					    {{/if}}
					</div>
					<div class="pure-u-1-4 l-box">
						 <div class="name">{{../labels.customMenuItemActiveLabel}}</div>
							{{#if this.active}}
								<div class="value" id="customMenuActiveLabel">Yes</div>
							{{else}}
								<div class="value" id="customMenuActiveLabel">No</div>
							{{/if}}
					</div>
					<div class="pure-u-1 l-box">
						 <div class="name">{{../labels.customMenuLinkUrl}}</div>
							{{#if this.menuUrl}}
								<div class="value" id="customMenuLinkUrl">{{this.menuUrl}}</div>
							{{else}}
								<div class="value" id="customMenuLinkUrl">None</div>
							{{/if}}
						
					</div>
					
					<div class="pure-u-1-2 l-box">
						 <div class="name">{{../labels.customMenuLinkTooltip}}</div>
							{{#if this.description}}
								<div class="value" id="customMenuLinkTooltip">{{this.description}}</div>
							{{else}}
								<div class="value" id="customMenuLinkTooltip">None</div>
							{{/if}}
					</div>
					
					<div class="pure-u-1-2 l-box">
						 <div class="name">{{../labels.customMenuLinkRightLabel}}</div>
							{{#if this.customMenuPermission}}
								<div class="value" id="customMenuLinkRightLabel">{{this.customMenuPermission}}</div>
							{{else}}
								<div class="value" id="customMenuLinkRightLabel">None</div>
							{{/if}}
					</div>
				
					<div class="pure-u-1 l-box">
						<div class="pure-button-group pull-right">
							<button type="button" id="systemCustomMenuLinkEdit"  data-item-id={{this.id}} class="pure-button pure-button-active"><i class="fa fa-pencil-square-o"></i>{{../labels.editCustomMenuLinkLabel}}</button>
						</div>
					</div>
				
			</div>
		</div>
	{{/each}}
</div>