<form action="#none" id="systemTermsAndConditionsConfigForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r termsAndConditionsConfigDetailsRow">
		<div class="pure-u-1">
			<div class="pure-g-r">			
				<div class="pure-u-1 l-box">
					<label for="url-input">{{labels.url}}</label>
					<input type="text" class="pure-u-1" name="url" id="url-input" maxlength="255" value="{{modelData.url}}" />
				</div>
				
			</div>
		</div>
		
		<div class="pure-u-1">
			<div class="pure-button-group pull-right">
				<button type="button" id="saveTermsAndConditionsConfig" class="yui3-button pure-button pure-button-primary pure-button-disabled" style="display:{{canEdit}}"><i class="fa fa-check icon-ok"></i>Save</button>
				<button type="button" id="cancelTermsAndConditionsConfig" class="yui3-button pure-button pure-button-secondary pure-button-disabled" style="display:{{canEdit}}"><i class="fa fa-times icon-remove"></i>Cancel</button>
			</div>
		</div>
	</div>
</form>