<form action="#none" id="systemLoginDetailsEmailsForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r systemLoginDetailsRow1">
		<div class="pure-u-1">
			<div class="pure-g-r">			
				<div class="pure-u-1-3 l-box">
					<label for="fromAddress-input">{{labels.fromAddress}}</label>
					<input type="email" class="pure-input-1" name="fromAddress" id="fromAddress-input" maxlength="255" value="{{textFormat modelData.fromAddress}}" />
				</div>
			</div>
		</div>
		<div class="yui3-widget yui3-tabview l-box pure-u-1 systemLoginDetailsEmailsTabs">
			<div id="systemLoginDetailsEmailsTabView" class="yui3-tabview-content">
			
			  <ul class="yui3-tabview-list" role="tablist">
			    <li class="yui3-tab yui3-widget yui3-tab-selected" role="presentation"><a href="#emailWithUsername" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="-1">{{labels.emailWithUsername}}</a></li>  
			    <li class="yui3-tab yui3-widget" role="presentation"><a href="#emailWithPassword" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="-1">{{labels.emailWithPassword}}</a></li>
			  </ul>
			  
			  <div class="yui3-tabview-panel">
			    <div id="emailWithUsername" class="yui3-tab-panel yui3-tab-panel-selected" role="tabpanel">
			    	<div class="pure-u-1">
						<div class="pure-g-r">
							<div class="pure-u-1-3 l-box">
								<label for="userSubject-input">{{labels.userSubject}}</label>
								<input type="text" class="pure-input-1" name="userSubject" id="userSubject-input" maxlength="255" value="{{textFormat modelData.userSubject}}" />
							</div>
						</div>
					</div>
					<div class="l-box userContentRow">
							<label for="userContent-textarea">{{labels.userContent}}</label>
							<textarea class="pure-u-1 loginDetailsEmailsUserContent" rows="10" name="userContent" id="userContent-textarea">{{modelData.userContent}}</textarea>
					</div>
					
			    </div>
			    <div id="emailWithPassword" class="yui3-tab-panel" role="tabpanel">
			    	<div class="pure-u-1">
						<div class="pure-g-r">
							<div class="pure-u-1-3 l-box">
								<label for="passwordSubject-input">{{labels.passwordSubject}}</label>
								<input type="text" class="pure-input-1" name="passwordSubject" id="passwordSubject-input" maxlength="255" value="{{textFormat modelData.passwordSubject}}" />
							</div>
						</div>
					</div>
					<div class="l-box passwordContentRow">
							<label for="passwordContent-textarea">{{labels.passwordContent}}</label>
							<textarea class="pure-u-1 loginDetailsEmailsPasswordContent" rows="10" name="passwordContent" id="passwordContent-textarea">{{modelData.passwordContent}}</textarea>
					</div>
			    </div>
			  </div>
			    
			</div>
    	</div>
		<div class="pure-u-1">
			<div class="pure-button-group pull-right">
				<button type="button" id="saveSystemLoginDetailsEmails" class="yui3-button pure-button pure-button-primary pure-button-disabled" style="display:{{canEdit}}"><i class="fa fa-check icon-ok"></i>Save</button>
				<button type="button" id="cancelSystemLoginDetailsEmails" class="yui3-button pure-button pure-button-secondary pure-button-disabled" style="display:{{canEdit}}"><i class="fa fa-times icon-remove"></i>Cancel</button>
			</div>
		</div>
	</div>
</form>