<form action="#none" id="systemSmsConfigurationForm" class="pure-form">
	<div class="pure-g-r smsConfigDetailsRow">
		<div class="pure-u-1">
			<div class="pure-g-r">
				<div class="pure-u-1-4 l-box">
					<label for="timeToLive-input">{{labels.timeToLive}}</label>
	                <input type="text" class="pure-u-1-4 pull-right" name="ttl" id="timeToLive-input" maxlength="255" value="{{modelData.ttl}}" />
				</div>
			</div>
		</div>
		<div class="pure-u-1 l-box smsContentRow">
				<label for="smsContent-textarea">{{labels.smsContent}}</label>
				<textarea class="pure-u-1 smsContent" rows="1" name="smsContent" id="smsContent-textarea">{{modelData.smsContent}}</textarea>
		</div>
		<div class="pure-u-1">
			<div class="pure-button-group pull-right">
				<button type="button" id="saveSmsConfiguration" class="yui3-button pure-button pure-button-primary pure-button-disabled" style="display:{{canEdit}}"><i class="fa fa-check icon-ok"></i>Save</button>
				<button type="button" id="cancelSmsConfiguration" class="yui3-button pure-button pure-button-secondary pure-button-disabled" style="display:{{canEdit}}"><i class="fa fa-times icon-remove"></i>Cancel</button>
			</div>
		</div>
	</div>
</form>