<form action="#none" id="systemForgottenPswdForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r systemForgottenPswdRow1">
		<div class="pure-u-1">
			<div class="pure-g-r">			
				<div class="pure-u-1-3 l-box">
					<label for="fromAddress-input">{{labels.fromAddress}}</label>
					<input type="email" class="pure-input-1" name="fromAddress" id="fromAddress-input" maxlength="255" value="{{textFormat modelData.fromAddress}}" />
				</div>
				<div class="pure-u-1-3 l-box">
					<label for="subjectLine-input">{{labels.subjectLine}}</label>
					<input type="text" class="pure-input-1" name="subject" id="subjectLine-input" maxlength="255" value="{{textFormat modelData.subject}}" />
				</div>
				<div class="pure-u-1-3 l-box">
					<label for="timeToLive-input">{{labels.timeToLive}}</label>
	                <select class="pure-input-1-4 no-message" name="ttl" id="timeToLive-input" value="{{modelData.ttl}}"></select>
				</div>
			</div>
		</div>
		<div class="pure-u-1 l-box forgottenPasswordEmailContentRow">
				<label for="content-textarea">{{labels.content}}</label>
				<textarea class="pure-u-1 forgottenPasswordEmailContent" rows="10" name="content" id="content-textarea">{{modelData.content}}</textarea>
		</div>
		<div class="pure-u-1">
			<div class="pure-button-group pull-right">
				<button type="button" id="saveSystemForgottenPswdEmail" class="yui3-button pure-button pure-button-primary pure-button-disabled" style="display:{{canEdit}}"><i class="fa fa-check icon-ok"></i>Save</button>
				<button type="button" id="cancelSystemForgottenPswdEmail" class="yui3-button pure-button pure-button-secondary pure-button-disabled" style="display:{{canEdit}}"><i class="fa fa-times icon-remove"></i>Cancel</button>
			</div>
		</div>
	</div>
</form>