<form action="#none" id="generalConfigForm" class="pure-form">
	<div class="pure-g-r generalConfigRow1">
		<div class="pure-u-1 sectionLabel">
			 <label class="label-underline">{{labels.accLockOutSectionLabel}}</label>
		</div>
		<div class="pure-u-1">
			<div class="pure-g-r">			
				<div class="pure-u-1-3">
					<label for="enable_accountLockOut-input" class="pure-checkbox">
						<input type="checkbox" name="accountLockOutEnabledCheckbox" id="enable_accountLockOut-input" value="true"/>
					    <span>{{labels.enableAccountLockOutCheckboxLabel}}</span>
				    </label>
				</div>
				<div class="pure-u-1-3">
					<label for="failedLoginAttemptsLimit-input">{{labels.failedLoginAttemptsLimit}}</label>
	                <select class="pure-input-1-4 no-message" name="failedLoginAttemptsLimit" id="failedLoginAttemptsLimit-input" value="{{modelData.failedLoginAttemptsLimit}}">
	                <select/>
				</div>
				<div class="pure-u-1-3">
					<div class="fieldset-wrap">
                    	<label for="timeOutForAccountUnlock-input">{{labels.timeToUnlock}}</label>
                    	<input type="text" class="pure-input-1-4" name="timeOutForAccountUnlock" id="timeOutForAccountUnlock-input" maxlength="5" value="{{modelData.timeOutForAccountUnlock}}" />
                    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="pure-g-r generalConfigRow2">
		<div class="pure-u-1">
			<div class="pure-g-r">			
				<div class="pure-u-1-3">
					<fieldset id="authenticationFactor">
						<legend>{{labels.authenticationFactor}}</legend>
						<div class="fieldset-wrap pure-g-r">
							<div class="pure-u-1-5">
								<label class="pure-checkbox"><input type="checkbox" id="oneAndAHalfFactorAuthenication" name="secondaryPasswordEnabled" {{#if modelData.secondaryPasswordEnabled}}checked{{/if}} value=true />1.5</label>
							</div>
							<div class="pure-u-1-5">
								<label class="pure-checkbox"><input type="checkbox" id="twoFactorAuthenication" name="twoFactorSmsEnabled" {{#if modelData.twoFactorSmsEnabled}}checked{{/if}} value=true />2</label>
							</div>
						</div>
						<span class="legendBottom">{{labels.legendAuthenticationFactor}}</span>
					</fieldset>
				</div>
				<div class="pure-u-1-3">
					<fieldset id="ssprEnabled">
						<legend>{{labels.selfServicePasswordReset}}</legend>
						<div class="fieldset-wrap pure-g-r">
							<div class="pure-u-1-5">
								<label class="pure-radio"><input type="radio" name="ssprEnabled" value="false" {{#unless modelData.ssprEnabled}}checked{{/unless}}/>{{labels.selfServicePasswordResetOff}}</label>
							</div>
							<div class="pure-u-1-5">
								<label class="pure-radio"><input type="radio" name="ssprEnabled" value="true" {{#if modelData.ssprEnabled}}checked{{/if}}/>{{labels.selfServicePasswordResetOn}}</label>
							</div>
						</div>
						<span class="legendBottom">{{labels.legendSelfServicePasswordReset}}</span>
					</fieldset>
				</div>
				<div class="pure-u-1-3">
					<fieldset id="autoSendLoginDetails">
						<legend>{{labels.autoSendLoginDetails}}</legend>
						<div class="fieldset-wrap pure-g-r">
							<div class="pure-u-1-5">
								<label class="pure-radio"><input type="radio" name="emailLoginDetailsEnabled" value="false" {{#unless modelData.emailLoginDetailsEnabled}}checked{{/unless}}/>{{labels.autoSendLoginDetailsOff}}</label>
							</div>
							<div class="pure-u-1-5">
								<label class="pure-radio"><input type="radio" name="emailLoginDetailsEnabled" value="true"  {{#if modelData.emailLoginDetailsEnabled}}checked{{/if}}/>{{labels.autoSendLoginDetailsOn}}</label>
							</div>
						</div>
						<span class="legendBottom">{{labels.legendAutoSendLoginDetails}}</span>
					</fieldset>
				</div>
				<div class="pure-u-1">
					<fieldset id="multipleLoginPeriod-input">					
						<legend>{{labels.legendMultipleLoginTimeout}}</legend>
						<div class="fieldset-wrap pure-g-r">						
							<div class="pure-u-1-4 l-box">
								<label for="multipleLoginPeriod-input">{{labels.multipleLoginTimeout}}</label>
								<input type="text" class="pure-u-1-4" name="multipleLoginTimeoutUserInput" maxlength="255" value="{{modelData.multipleLoginTimeoutUserInput}}" />
							</div>
						</div>
						<span class="legendBottom">{{labels.legendBottomMultipleLoginTimeout}}</span>
					</fieldset>					
				</div>				
			</div>
		</div>
	</div>		
	<div class="pure-g-r generalConfigRow3">
		<div class="pure-u-1">
			<div class="pure-g-r">
				<div class="pure-u-1-3">
					<fieldset id="termsAndConditions">
						<legend>{{labels.termsAndConditions}}</legend>
						<div class="fieldset-wrap pure-g-r">
							<div class="pure-u-1">
								<label for="termsAndConditionsEnabled" class="pure-checkbox">
									<input type="checkbox" id="termsAndConditionsEnabled" name="termsAndConditionsEnabled" {{#if modelData.termsAndConditionsEnabled}}checked{{/if}} value="true"/>
								    <span>{{labels.termsAndConditionsEnabled}}</span>
							    </label>
							</div>
						</div>
					</fieldset>
				</div>
			
			</div>
		</div>
		<div class="pure-u-1">
			<div class="pure-button-group pull-right">
				<button type="button" id="saveSystemConfig" class="pure-button pure-button-primary pure-button-disabled" style="display:{{canEdit}}"><i class="fa fa-check icon-ok"></i>{{labels.generalConfigFormSave}}</button>
				<button type="button" id="cancelSystemConfig" class="pure-button pure-button-secondary pure-button-disabled" style="display:{{canEdit}}"><i class="fa fa-times icon-remove"></i>{{labels.generalConfigFormCancel}}</button>
			</div>
		</div>
	</div>
</form>