<form action="#none" id="groupOfRightsAddForm" class="pure-form pure-form-stacked">
	<fieldset>	
		<div class="pure-g-r">
			<div class="pure-u-1 l-box">
				<div class="pure-narrative" id="describedby" aria-live="polite">
					<span class="narrative-summary">{{labels.addGroupOfRightsSummary}}</span>
				</div>
			</div>
		</div>
		<div class="pure-g-r" id="addGroupOfRights_wrapper">
			<div class="pure-u-1-1 l-box">
				<label for="addGroupOfRights_code">
					{{labels.code}}
					<span class="mandatory">*</span>
				</label>
				<input id="addGroupOfRights_code" type="text" class="pure-input-1" name="code" maxlength="50" />
			</div>
			
			<div class="pure-u-1-1 l-box">
				<label for="addGroupOfRights_name">
					{{labels.name}}
					<span class="mandatory">*</span>
				</label>
				<input id="addGroupOfRights_name" type="text" class="pure-input-1" name="name" maxlength="50" />
			</div>
			
			<div class="pure-u-1-1 l-box">
				<label for="addGroupOfRights_description">
					{{labels.description}}
				</label>
				<input id="addGroupOfRights_description" type="text" class="pure-input-1" name="description" maxlength="250" />
			</div>
		
		</div>	  
		<div class="pure-u-1-1 l-box">
			<label for="rightsPicklist">{{labels.rights}}<span class="mandatory"> *</span></label>
		</div>
		<div id="rightsPicklist"></div>
	</fieldset>
</form>