<form action="#none" id="groupOfRightsEditForm" class="pure-form pure-form-stacked">
	<fieldset>
		<div class="pure-g-r">
			<div class="pure-u-1 l-box">
				<div class="pure-narrative" id="describedby" aria-live="polite">
					<span class="narrative-summary">{{labels.editGroupOfRightsSummary}}</span>
					<span class="narrative-description">
						{{modelData.name}} ({{modelData.code}})
					</span>
				</div>
			</div>
			<div class="pure-u-1-1 l-box">
				<label for="editGroupOfRights_code">{{labels.code}}
				<span class="mandatory">*</span></label>
				<input id="editGroupOfRights_code" type="text" class="pure-input-1" name="code" value="{{modelData.code}}" maxlength="50" />
			</div>
			<div class="pure-u-1-1 l-box">
				<label for="editGroupOfRights_name">{{labels.name}}
				<span class="mandatory">*</span></label>
				<input id="editGroupOfRights_name" type="text" class="pure-input-1" name="name" value="{{modelData.name}}" maxlength="50" />
			</div>
			<div class="pure-u-1-1 l-box">
				<label for="editGroupOfRights_description">{{labels.description}}</label>
				<input id="editGroupOfRights_description" type="text" class="pure-input-1" name="description" value="{{modelData.description}}" maxlength="250" />
			</div>
			
		</div>
		<div class="pure-u-1-1 l-box">
			<label for="rightsPicklist">{{labels.rights}}<span class="mandatory"> *</span></label>
		</div>
		<div id="rightsPicklist"></div>
	</fieldset>
</form>