@import (inline) "node_modules/usp-accordion-panel/css/main.css";
@import (inline) "node_modules/usp-simple-tree/css/main.css";
@import "../../../error/less/app.less";

.usp-accordion {
  margin: 10px 0;
  padding: 0;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  &:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }
}

.usp-accordion-head {
  border: 0;
  padding: 0;
  div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 1em;
  }
}

.usp-accordion-toggle {
  padding: 14px 0 14px 14px;
  outline: none;
  &:before {
    font-size: 1.85em;
    line-height: 0.2;
    color: #867c7c;
    position: relative;
    left: 5px;
    top: 5px;
    margin-right: 0.5em;
  }
}

.organisation-tree {
  overflow: auto;
  max-height: 480px;
  .org-node {
    border: none;
    display: inline-block;
    padding: 3px 16px 3px 3px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 2px;
    cursor: default;
    &:focus {
      background-color: #dedede;
    }
    &.selected-node {
      &:focus {
        background-color: #26a69a;
        color: #fff;
      }
      background-color: #26a69a;
      color: #fff;
    }
  }
  .org-type {
    padding-right: 0.45em;
    line-height: 22px;
  }
  .tree li span.node-toggle {
    padding: 0 0.25em 0 0;
  }
  .node-toggle {
    .icon-collapse-alt, .icon-expand-alt {
      cursor: pointer;
    }
    height:20px;
    &:focus {
      background-color: #dedede;
    }
  }
  .tree-actions {
    margin-left: 1em;
    cursor: pointer;
    height: 20px;
    border: 0;
    border-radius: 10px;
    background-color: #dedede;
    display: inline-block;
    color: #fff;
    white-space: nowrap;
    .action-icon {
      height: 20px;
      width: 20px;
      border-radius: 10px;
      margin-right: 6px;
      font-size: 12px;
      line-height: 20px;
      background-color: rgba(0, 0, 0, .87);
      opacity: .54;
      display: inline-block;
      &:hover{
        color: #fff;
      }
    }
    .action-label {
      font-size: 13px;
      display: inline-block;
      padding-right: 1em;
      letter-spacing: normal;
      color: rgba(0, 0, 0, .87);
      &:hover{
        color: rgba(0, 0, 0, .87);
        text-decoration: underline
      }
    }
  }
}