<div class="pure-u-1 l-box">
  <label for="checklist_owner">{{labels.owner}} <span class="mandatory">*</span></label>
  <div id="ownerDisplay" class="text">
    <ul class="ac-single-selection">
      <li class="data-item">
        <span>{{modelData.ownerName}}</span>
        <a href="#none" class="remove small changeOwner">{{labels.ownerChange}}</a>
      </li>
    </ul>
  </div>
  <div id="ownerSelect" style="display: none; min-height: 5em;"
    class="yui3-skin-sam">
    <input name="ownerId" class="pure-input-1" id="checklist_owner" placeholder="{{labels.ownerPlaceholder}}" />
    <div id="noSearchResults" class="pure-info" style="display: none;">
      <p class="estimatedInfo">{{labels.noResults}}</p>
    </div>
  </div>
</div>