<div class="pure-g-r readonly">
  <div class="pure-u-1 l-box">
    <div class="pure-alert pure-alert-block pure-alert-warning">
      <h4>{{template message otherData}}</h4>
    </div>
  </div>
  <div class="pure-u-1 l-box">
    {{#modelData}}
      <ul>
        {{#each warnings}}
          <li>{{.}}</li>
        {{/each}}
      </ul>
    {{/modelData}}
  </div>
</div>