<div class="pure-g-r readonly">
  {{#modelData}}
    <div class="pure-u-1 l-box">
      <div class="name">{{../labels.name}}</div>
      <div class="value">{{name}}</div>
    </div>
    <div class="pure-u-1 l-box">
      <label for="securityDomain">{{../labels.securityDomain}}</label>
      <div class="value">{{codedEntry securityDomain ../codedEntries.securityDomains}}</div>
    </div>
    <div class="pure-u-1 l-box">
      <div class="name">{{../labels.calculationMode}}</div>
      <div class="value">
          {{#isEqual calculationMode 'FROM_START'}}
            {{../../labels.calculationModeOptions.fromStart}}
          {{/isEqual}}
          {{#isEqual calculationMode 'TO_END'}}
            {{../../labels.calculationModeOptions.toEnd}}
          {{/isEqual}}
      </div>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{../labels.canPause}}</div>
      <div class="value">{{yesNo canPause}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{../labels.canBackdate}}</div>
      <div class="value">{{yesNo canBackdate}}</div>
    </div>
      <div class="pure-u-1-2 l-box">
          <div class="name">{{../labels.cardinality}}</div>
          <div class="value">{{yesNo isCardinalityYes}}</div>
      </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{../labels.preferAutomatedAdd}}</div>
      <div class="value">{{yesNo preferAutomatedAdd}}</div>
    </div>
  {{/modelData}}
</div>