{{#if anyActive}}
	<span>{{labels.filter}}</span>
	
	{{#or activeFilter.dueDateFrom activeFilter.dueDateTo}}
		<span class="label">Due date<a href="#dueDateFrom,dueDateTo" aria-label="Remove due date filter"> 
		<i class="fa fa-times-circle"></i></a></span>
	{{/or}}
	{{#or activeFilter.startDateFrom activeFilter.startDateTo}}
		<span class="label">Start date<a href="#startDateFrom,startDateTo" aria-label="Remove start date filter"> 
		<i class="fa fa-times-circle"></i></a></span>
	{{/or}}
	{{#or activeFilter.memberId activeFilter.subjectId}}
		<span class="label">{{labels.subject}}<a href="#memberId,subjectId" aria-label="Remove subject filter"> <i class="fa fa-times-circle"></i></a></span>
	{{/or}}	
	{{#if activeFilter.checklistDefinitionId}}
		<span class="label">{{labels.checklistDefinitionId}}<a href="#checklistDefinitionId" aria-label="Remove work list type filter"> <i class="fa fa-times-circle"></i></a></span>
	{{/if}}	
	{{#if activeFilter.status}}
		<span class="label">{{labels.status}}<a href="#status" aria-label="Remove status filter"> <i class="fa fa-times-circle"></i></a></span>
	{{/if}}
	{{#if activeFilter.priority}}
		<span class="label">{{labels.priority}}<a href="#priority" aria-label="Remove priority filter"> <i class="fa fa-times-circle"></i></a></span>
	{{/if}}	
  {{#orThreeOperands activeFilter.selectedOwnerPersonIds activeFilter.selectedTeamIds activeFilter.includeNoOwningTeam}}
    <span class="label">{{labels.ownership}}<a href="#selectedOwnerPersonIds,selectedTeamIds,includeNoOwningTeam" aria-label="Remove ownership filter"> <i class="fa fa-times-circle"></i></a></span>
  {{/orThreeOperands}}
	 <a href="#reset" class="small" aria-label="Reset all filters">Reset all</a>
{{/if}}
