<div class="pure-g-r">
  <div class="pure-u-1 l-box">
    <label for="newChecklistInstance_endDate">{{labels.endDate}}
      <span class="mandatory">*</span>
    </label> <input type="text" name="endDate" class="pure-input-1" id="newChecklistInstance_endDate" maxlength="17" placeholder="DD-MMM-YYYY HH:MM" value="{{dateTimeFormat modelData.endDate}}" />
  </div>
</div>
