<div>
	{{dateTimeFormat modelData.dateDue}}	 	
</div>
{{#if expanded}}
	<div class="expanded">
		{{#if  modelData.dateStarted}}
		  <strong>{{labels.dateStarted}}:</strong>	
			{{dateTimeFormat modelData.dateStarted}}
		{{else}}
		  <strong>{{labels.dateStartScheduled}}:</strong>	
		  {{#if  modelData.dateStartScheduled}}
			  {{dateTimeFormat modelData.dateStartScheduled}}
		  {{else}}
			  n/a
		  {{/if}}
		{{/if}}		 	
	</div>
{{/if}}