<div class="pure-g-r">
  <div class="pure-u-1 l-box">
    <label for="organisationReassignContent">{{labels.ownerId}} <span class="mandatory">*</span></label>
    <div class="pure-g-r">
      {{#lengthGreaterThan teams 0}}
        <div class="pure-u-1-3 l-box">
          <label class="pure-radio">
             <input id="checklistReassignForm_assignToSelect" type="radio" name="assignToSelect" {{#unless assignToSelect}}checked="checked"{{/unless}} value="false" />{{labels.assignToOwnTeam}}
          </label>
        </div>
        <div class="pure-u-2-3 l-box">
        {{#unless assignToSelect}}
          {{#lengthGreaterThan teams 0}}
            {{#lengthEqual teams 1}}
              <input name="ownerId" type="hidden" value="{{teams.0.id}}"/>
            {{/lengthEqual}}
            {{#lengthGreaterThan teams 1}}
              <select id="organisation-teams-list" name="ownerId" class="pure-input-1">
                <option class="blank" value="">Please choose</option>
                {{#each teams}}
                  <option value="{{this.id}}">{{this.name}} ({{this.organisationIdentifier}})</option>
                {{/each}}
              </select>
            {{/lengthGreaterThan}}
          {{/lengthGreaterThan}}
        {{/unless}}
        </div>
        <div class="pure-u-1-3 l-box">
          <label class="pure-radio">
             <input id="checklistReassignForm_assignToSelect" type="radio" name="assignToSelect" {{#if assignToSelect}}checked="checked"{{/if}} value="true" />{{labels.assignToOtherTeam}}
          </label>
        </div>
      {{/lengthGreaterThan}}
      {{#if assignToSelect}}
        <div class="pure-u-2-3 l-box">
          <div id="organisationReassignContent"></div>
        </div>
      {{/if}}
      </div>
  </div>
</div>