<form action="#none" id="checklistReassignForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    {{#if modelData.subject.subjectGroupId}}
      <fieldset class="pure-u-1 l-box">      
        <legend>{{labels.isGroupWorklist}}</legend>
        <div class="pure-g-r">
            <div class="pure-u-1 l-box">
                <div class="pure-info">
                    {{labels.reassignBatchInfo}}
                </div>
            </div>
            <div class="pure-u-1 l-box">
              <label class="pure-checkbox inline">
                 <input id="checklistReassignForm_reassignBatch" type="checkbox" name="reassignBatch" {{#if reassignBatch}}checked="checked"{{/if}} value="true" />{{labels.reassignBatch}}
              </label>
            </div>
          </div>
      </fieldset>
    {{/if}}
    <fieldset class="pure-u-1 l-box">
      <legend>{{labels.ownerSubjectType}}</legend>
      <div class="pure-g-r">
        <div class="pure-u-1-2 l-box">
          <label class="pure-radio inline">
             <input id="checklistReassignForm_ownerSubjectType" type="radio" name="ownerSubjectType" {{#isEqual modelData.ownerSubjectType 'PERSON'}}checked="checked"{{/isEqual}} value="PERSON" />{{labels.ownerType.person}}
          </label>
        </div>
        <div class="pure-u-1-2 l-box">
          <label class="pure-radio inline">
             <input id="checklistReassignForm_ownerSubjectType" type="radio" name="ownerSubjectType" {{#isEqual modelData.ownerSubjectType 'ORGANISATION'}}checked="checked"{{/isEqual}} value="ORGANISATION" />{{labels.ownerType.organisation}}
          </label>
        </div>
      </div>
    </fieldset>
    <div class="pure-u-1">
        <div id="reassignContent"></div>
    </div>
  </div>
</form>
