<div class="pure-g-r">
  <div class="pure-u-1 m-height-sm t-margin-lg">
    <div class="m-width-md">
      <div class="pure-g-r mob-hidden">
        <div class="pure-u-3-8"><div class="list-header">{{labels.addingTeamId}}</div></div>
        <div class="pure-u-3-8 resp-l-box"><div class="list-header">{{labels.owningTeamId}}</div></div>
        <div class="pure-u-1-4"><div class="list-header">{{labels.teamRelationshipTypeId}}</div></div>
      </div>
      {{#each teamOwnershipConfigurations}}
        <div class="pure-g-r t-margin-sm">
          <div class="pure-u-3-8">
            <div class="desktop-hidden label">{{../labels.addingTeamId}}</div>
            <div>
              {{#unless this.teamAddingId}}
                  Any team
               {{/unless}}
               {{#if this.teamAddingId}}
                  {{this.teamAddingName}}
               {{/if}}
            </div>
          </div>
          <div class="pure-u-3-8 resp-l-box">
            <div class="desktop-hidden label">{{../labels.owningTeamId}}</div>
            <div>{{this.teamOwningName}}</div>
          </div>
          <div class="pure-u-1-4">
            <div class="desktop-hidden label">{{../labels.teamRelationshipTypeId}}</div>
            <div class="input-group input-append">
              <div class="pure-u-1">
               {{#unless this.teamRelationshipTypeId}}
                  All
               {{/unless}}
               {{#if this.teamRelationshipTypeId}}
                {{this.teamRelationshipTypeName}}
               {{/if}}
              </div>
              <span><a data-id="{{this.id}}" class="pure-button pure-button-secondary remove" title="remove" aria-label="Remove row"><i class="fa fa-minus-circle"></i></a></span>
            </div>
          </div>
        </div>
      {{/each}}
      {{#unless teamOwnershipConfigurations}}
        <div class="pure-g-r t-margin-sm">
          <div class="pure-u-1">No items found</div>
        </div>
      {{/unless}}
    </div>
  </div>
</div>
