<div class="l-box hiddenWarning" id="multipleInstancesWarning">
    <div class="pure-alert pure-alert-block pure-alert-warning">
        <h4>{{labels.multipleInstancesWarning}}</h4>
    </div>
</div>
<form action="#none" class="pure-form pure-form-stacked" id="editChecklistDefinitionForm" name="editChecklistDefinitionForm">
    <div class="pure-g-r">
        {{#modelData}}
          <div class="pure-u-1 l-box">
              <fieldset>
                  <legend>{{../labels.calculationMode}}</legend>
                  <label class="pure-radio">
                    <input id="editChecklistDefinitionForm_calculationModeFromStart" name="calculationMode" type="radio" value="FROM_START" {{#isEqual calculationMode 'FROM_START'}}checked="checked"{{/isEqual}} />
                    {{../labels.calculationModeOptions.fromStart}}
                  </label>
                  <label class="pure-radio">
                    <input id="editChecklistDefinitionForm_calculationModeToEnd" name="calculationMode" type="radio" value="TO_END" {{#isEqual calculationMode 'TO_END'}}checked="checked"{{/isEqual}} />
                    {{../labels.calculationModeOptions.toEnd}}
                  </label>
              </fieldset>
          </div>
          <div class="constrainedRadio pure-u-1">
            <div class="pure-g-r">
              <div class="pure-u-1-2 l-box">
                  <fieldset class="inline-checkbox">
                      <legend>{{../labels.canPause}}</legend>
                      {{radioBi 'editChecklistDefinitionForm' 'canPause' canPause}}
                  </fieldset>
              </div>
              <div class="pure-u-1-2 l-box">
                  <fieldset class="inline-checkbox">
                      <legend>{{../labels.canBackdate}}</legend>
                      {{radioBi 'editChecklistDefinitionForm' 'canBackdate' canBackdate}}
                  </fieldset>
              </div>
            </div>
          </div>
          <div class="pure-u-1">
            <div class="pure-g-r">
              <div class="pure-u-1-2 l-box">
                  <fieldset class="inline-checkbox">
                      <legend>{{../labels.cardinality}}</legend>
                      <label class="pure-radio" for="editChecklistDefinitionForm_cardinality_yes"><input type="radio" id="editChecklistDefinitionForm_cardinality_yes" name="cardinality" value="UNCONSTRAINED" {{#if isCardinalityYes}}checked="checked"{{/if}}> Yes</label>
                      <label class="pure-radio" for="editChecklistDefinitionForm_cardinality_no"><input type="radio" id="editChecklistDefinitionForm_cardinality_no" name="cardinality" value="UNIQUE_PER_SUBJECT" {{#unless isCardinalityYes}}checked="checked"{{/unless}}> No</label>
                  </fieldset>
              </div>
                <div class="pure-u-1-2 l-box">
                    <label for="editChecklistDefinitionForm_securityDomain">{{../labels.securityDomain}} <span class="mandatory">*</span></label>
                    <select class="pure-input-1" id="editChecklistDefinitionForm_securityDomain" name="securityDomain">
                        <option value=""></option>
                    </select>
                </div>
                
                <div class="pure-u-1-2 l-box">
                  <fieldset class="inline-checkbox">
                     <legend>{{../labels.preferAutomatedAdd}} </legend>
                  {{radioBi 'editChecklistDefinitionForm' 'preferAutomatedAdd' preferAutomatedAdd}}
                </fieldset>
               </div>
                
          </div>
        </div>
        {{/modelData}}
    </div>
</form>