<div class="pure-g-r">
  <div class="pure-u-1 l-box">
    <label for="personReassignContent">{{labels.ownerId}} <span class="mandatory">*</span></label>
    <div class="pure-g-r">
      <div class="pure-u-1-3 l-box">
        <label class="pure-radio">
           <input id="checklistReassignForm_assignToSelect" type="radio" name="assignToSelect" {{#unless assignToSelect}}checked="checked"{{/unless}} value="false" />{{labels.assignToSelf}}
        </label>
      </div>
      <div class="pure-u-2-3 l-box">
      {{#unless assignToSelect}}
        {{#lengthEqual teams 1}}
          <input name="owningTeamId" type="hidden" value="{{teams.0.id}}"/>
        {{/lengthEqual}}
        {{#lengthGreaterThan teams 1}}
          <select id="my-teams-list" name="owningTeamId" class="pure-input-1">
            {{#each teams}}
              <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
          </select>
        {{/lengthGreaterThan}}
      {{/unless}}
      </div>
      <div class="pure-u-1-3 l-box">
        <label class="pure-radio">
           <input id="checklistReassignForm_assignToSelect" type="radio" name="assignToSelect" {{#if assignToSelect}}checked="checked"{{/if}} value="true" />{{labels.assignToOther}}
        </label>
      </div>
      {{#if assignToSelect}}
        <div class="pure-u-2-3 l-box">
          <div id="personReassignContent"></div>
        </div>
        <div class="pure-u-1">
          <div id="person-teams-select"></div>
        </div>
      {{/if}}
  </div>
</div>
