{{#if anyActive}}
	<span>{{labels.filter}}</span>
	
	{{#if activeFilter.name}}
		<span class="label">{{labels.name}}<a href="#none" data-reset="name" aria-label="Remove name filter"> <i class="fa fa-times-circle"></i></a></span>
	{{/if}}	
	{{#if activeFilter.status}}
		<span class="label">{{labels.status}}<a href="#none" data-reset="status" aria-label="Remove status filter"> <i class="fa fa-times-circle"></i></a></span>
	{{/if}}	
	  {{#if activeFilter.securityDomain}}
    <span class="label">{{labels.securityDomain}}<a href="#none" data-reset="securityDomain" aria-label="Remove security domain filter">
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}} 
  
	 <a href="#none" data-reset="reset" class="small" aria-label="{{labels.resetAllTitle}}">{{labels.resetAll}}</a>
{{/if}}
