<form action="#none" id="checklistPauseForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">	
    <div class="pure-u-1 l-box">
      <label for="checklistPauseForm_pauseReason">{{labels.pauseReason}} <span class="mandatory">*</span></label>
      <select name="pauseReason" class="pure-input-1" id="checklistPauseForm_pauseReason">
        <option value=""></option>
      </select>
    </div>
  </div>
</form>
