<div class="pure-g-r">
  {{#if ownerTypeSwitch}}   
    <fieldset class="pure-u-1">
      <legend class="l-box">{{labels.ownerSubjectType}}</legend>
      <div class="pure-g-r">
        <div class="pure-u-1-2 l-box">
          <label class="pure-radio">
             <input id="newChecklistInstance_ownerSubjectType" type="radio" name="ownerSubjectType" {{#isEqual modelData.ownerSubjectType 'ORGANISATION'}}checked="checked"{{/isEqual}} value="ORGANISATION" />{{labels.ownerType.organisation}}
          </label>
        </div>
        <div class="pure-u-1-2 l-box">
          <label class="pure-radio">
             <input id="newChecklistInstance_ownerSubjectType" type="radio" name="ownerSubjectType" {{#isEqual modelData.ownerSubjectType 'PERSON'}}checked="checked"{{/isEqual}} value="PERSON" />{{labels.ownerType.person}}
          </label>
        </div>
      </div>
    </fieldset>
  {{/if}}

  <div class="pure-u-1 l-box">
      <label for="newChecklistInstance_ownerId">{{labels.ownerId}} <span class="mandatory">*</span></label>      
      {{#isEqual modelData.ownerSubjectType 'PERSON'}}
        <select id="newChecklistInstance_ownerId" class="pure-input-1" name="ownership">
          <option class="blank" value="">Please choose</option>
          {{#each individualCandidates}}
            <optgroup label="{{this.owningTeamDetails.name}} ({{this.owningTeamDetails.identifier}})">
              {{#each this.potentialOwners}}
                <option value="{{this.ownerDetails.id}},{{this.owningTeamDetails.id}}">{{this.ownerDetails.name}} ({{this.ownerDetails.identifier}})</option>
              {{/each}}
            </optgroup>
          {{/each}}
        </select>
      {{/isEqual}}
      {{#isEqual modelData.ownerSubjectType 'ORGANISATION'}}
        <select id="newChecklistInstance_ownerId" class="pure-input-1" name="ownership">
          <option class="blank" value="">Please choose</option>
          {{#each teamCandidates}}
            <option value="{{this.owningTeamDetails.id}}">{{this.owningTeamDetails.name}} ({{this.owningTeamDetails.identifier}})</option>
          {{/each}}
        </select>
      {{/isEqual}}
  </div>

  {{#unless warningMessage}}
    {{#unless modelData.ownerSubjectType}}
        <div class="pure-u-1 l-box">
          <div class='pure-alert pure-alert-info'>
            <span>{{labels.ownerType.select}}</span>
          </div>
        </div>      
    {{/unless}}
  {{/unless}}


  {{#if warningMessage}}
    <div class="pure-u-1 l-box">
      <div class='pure-alert pure-alert-warning'>
        <span>{{warningMessage}}</span>
      </div>
    </div>
  {{/if}}
</div>