<div class="pure-g-r">
  <div class="pure-u-1 l-box">
   <ul class="error-list">
    {{#modelData.errors}}
       <li class="error-list-item">{{this.error}}</li>
       {{#if this.canIgnore}}
          <li class="error-info">{{labels.canIgnore}}</li>
       {{/if}}
       {{#if this.canRetry}}
          <li class="error-info">{{labels.canRetry}}</li>
       {{/if}}
    {{/modelData.errors}}
    </ul>
  </div>
</div>
