<form action="#none" id="editChecklistDefinitionOwnershipForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1 l-box">
      <div id="ownershipAddRow"></div>
    </div>
    <div class="pure-u-1 l-box">
      <div id="ownershipConfiguration"></div>
    </div>
  </div>
</form>