<div>
	{{#if permissions.canView}}
		<a href="#none" title="{{labels.viewChecklist}}" data-menu-action="view" class="viewChecklist">{{modelData.checklistDefinitionName}}</a>
	{{else}}
		{{modelData.checklistDefinitionName}}
	{{/if}}
</div>
{{#if expanded}}
	<div class="expanded">
		<div style="max-height:400px; overflow-y:auto">
			<strong>{{labels.description}}:</strong>
			{{#if  modelData.description}}
				{{{modelData.description}}}
			{{else}}
				n/a
			{{/if}}
		</div>
	</div>
{{/if}}
