<form action="#none" id="checklistInstanceResetEndDateForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1 l-box">
      <label for="checklistInstanceResetEndDateForm_endDate">{{labels.endDate}} <span class="mandatory">*</span></label>
      <input type="text" name="endDate" class="pure-input-1" id="checklistInstanceResetEndDateForm_endDate" maxlength="17" placeholder="DD-MMM-YYYY HH:MM" value="{{dateTimeFormat modelData.dateDue}}" /> 
    </div>
  </div>
</form>