<form action="#none"  class="pure-form pure-form-stacked filter-panel">
  <div class="panel bordered">	
    <div>
      <h3 class="alt2" tabindex="0">{{labels.filterBy}}</h3>
    </div>
    <div class="pure-g-r">
      <div class="pure-u-1-3 l-box">
        <label for="checklistFilter_name">{{labels.name}}</label>
        <input type="text" class="pure-input-1" name="name" id="checklistFilter_name" maxlength="255" value="{{modelData.name}}" />  
      </div>
      <div class="pure-u-1-3 l-box">
        <label for="checklistFilter_securityDomain">{{labels.securityDomain}}</label>
        <select name="securityDomain" class="pure-input-1" id="checklistFilter_securityDomain" multiple="multiple" size="5" >
        </select>
      </div>      
      <div class="pure-u-1-3 l-box">
        <fieldset class="l-box">
        <legend>{{labels.status}}</legend>
        {{#each otherData.statusList}}
          <label for="checklistFilter_{{name}}" class="pure-checkbox">
            <input id="checklistFilter_{{name}}" type="checkbox" name="status" value="{{code}}" aria-label="{{name}}" />
            {{name}}
          </label> 
        {{/each}}
        </fieldset>
      </div>
      <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
          <input type="button" data-reset="reset" class="pure-button pure-button-secondary" value="Reset" aria-label="Reset state filters">
        </div>
      </div>
    </div>
  </div>
</form>
