<div class="pure-g-r">
  <div class="pure-u-1 l-box">
    <label for="newChecklistInstance_startDate">{{labels.startDate}}
      <span class="mandatory">*</span>
    </label> 
    <input type="text" name="startDate" class="pure-input-1" id="newChecklistInstance_startDate" maxlength="17" placeholder="DD-MMM-YYYY HH:MM" value="{{dateTimeFormat modelData.startDate}}" />
  </div>
</div>
