<div>
	{{> checklistProgress modelData}}
</div>
{{#if expanded}}
	<div class="expanded">
		<strong>{{labels.dateCompleted}}:</strong>
		{{#if  modelData.dateCompleted}}
			{{dateTimeFormat modelData.dateCompleted}}
		{{else}}
			n/a
		{{/if}}	 	
	</div>
{{/if}}
