<div class="pure-g-r">
  <div class="pure-u-1-3 l-box"></div>
  <div class="pure-u-2-3 l-box">
    {{#lengthEqual selectedPersonTeams 1}}
      <input name="owningTeamId" type="hidden" value="{{selectedPersonTeams.0.id}}"/>
    {{/lengthEqual}}
    {{#lengthGreaterThan selectedPersonTeams 1}}
      <label for="person-teams-list">{{label}}</label>
      <select id="person-teams-list" name="owningTeamId" class="pure-input-1">
        {{#each selectedPersonTeams}}
          <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    {{/lengthGreaterThan}}
  </div>
</div>
