<div class="pure-g-r">
  <fieldset class="pure-u-1 inline-checkbox">
    <legend>{{labels.addingTeam.type}}</legend>
    <label class="pure-radio"> <input id="editChecklistDefinitionOwnershipForm_addingTeamAll" type="radio" name="addingTeamType" {{#isEqual addingTeamType 'ANY'}}checked="checked" {{/isEqual}} value="ANY" />{{labels.addingTeam.any}}</label>
    <label class="pure-radio"> <input id="editChecklistDefinitionOwnershipForm_addingTeamSpecific" type="radio" name="addingTeamType" {{#isEqual addingTeamType 'SPECIFIC'}}checked="checked" {{/isEqual}} value="SPECIFIC" />{{labels.addingTeam.specific}}</label>
  </fieldset>
  <div class="pure-u-3-8">
    <label for="editChecklistDefinitionOwnershipForm_addingTeam">{{labels.addingTeamId}}</label>  
    <div class="yui3-skin-sam">
      <input id="editChecklistDefinitionOwnershipForm_addingTeam" class="pure-input-1" name="addingTeam" maxlength="100" type="text" placeholder='{{labels.addingTeamSearchPlaceholder}}' />
    </div>
    <div id="editChecklistDefinitionOwnershipForm_anyAddingTeam" {{#isEqual addingTeamType 'SPECIFIC'}}style="display:none"{{/isEqual}}>
      <ul class="ac-single-selection">
        <li class="data-item">
          <span>{{labels.addingTeam.any}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="pure-u-3-8 resp-l-box">
    <label for="editChecklistDefinitionOwnershipForm_owningTeam">{{labels.owningTeamId}}</label>
    <div class="yui3-skin-sam">
      <input id="editChecklistDefinitionOwnershipForm_owningTeam" class="pure-input-1" name="owningTeam" maxlength="100" type="text" placeholder='{{labels.owningTeamSearchPlaceholder}}' />
    </div>
  </div>
  <div class="pure-u-1-4">
    <label for="editChecklistDefinitionOwnershipForm_teamRelationshipType">{{labels.teamRelationshipTypeId}}</label>
    <div class="input-group input-append">
      <select name="teamRelationshipType" class="pure-input-1" id="editChecklistDefinitionOwnershipForm_teamRelationshipType">
        <option value=""></option>
      </select>
      <span><a class="pure-button pure-button-active add" title="Add" aria-label="Add owning team"><i class="fa fa-plus-circle"></i></a></span>
    </div>
  </div>
</div>
