<form action="#none" id="checklistResultsFilterForm" class="pure-form pure-form-stacked filter-panel">
  <div class="panel bordered">
    <div>
      <h3 class="alt2" tabindex="0">{{labels.filterBy}}</h3>
    </div>
    <div id="checklistResultsFilter">
      <div id="checklistResultsTabbedFilters" class="ui-tabs">
        <ul>
          <li>
            <a href="#dateFilters">{{labels.dateFilter}} <span class="dateFilterSpan" hidden style="display: none">&nbsp;<i class="fa fa-filter"></i></span></a>
          </li>
          <li>
            <a href="#checklistDefinitionIdFilters">{{labels.typeStatusPriorityFilter}} <span class="typeStatusPriorityFilterSpan" hidden style="display: none">&nbsp;<i class="fa fa-filter"></i></span></a>
          </li>
        </ul>
        <div>
          <div id="dateFilters">
            <div class="pure-g-r">
              <div class="pure-u-1-3 l-box">
                <label for="checklistResultsFilter_dueDateFrom">{{labels.dueDateFrom}}</label>
                <input type="text" name="dueDateFrom" class="pure-input-1" id="checklistResultsFilter_dueDateFrom" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.dueDateFrom}}" />
                <label for="checklistResultsFilter_dueDateTo">{{labels.dueDateTo}}</label>
                <input type="text" name="dueDateTo" class="pure-input-1" id="checklistResultsFilter_dueDateTo" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.dueDateTo}}" />
              </div>
              <div class="pure-u-2-3 l-box">
                {{labels.dateRangeLinks}}
                <ul id="checklistResultsFilter_dateDueShortcuts_week" class="inline pure-button-group">
                  <li><a href="#none" data-occasion="last" data-period="week" class="pure-button pure-button-active">{{labels.dateRangeLastWeek}}</a></li>
                  <li><a href="#none" data-occasion="this" data-period="week" class="pure-button pure-button-active">{{labels.dateRangeThisWeek}}</a></li>
                  <li><a href="#none" data-occasion="next" data-period="week" class="pure-button pure-button-active">{{labels.dateRangeNextWeek}}</a></li>
                </ul>
                <ul id="checklistResultsFilter_dateDueShortcuts_month" class="inline pure-button-group">
                  <li><a href="#none" data-occasion="last" data-period="month" class="pure-button pure-button-active">{{labels.dateRangeLastMonth}}</a></li>
                  <li><a href="#none" data-occasion="this" data-period="month" class="pure-button pure-button-active">{{labels.dateRangeThisMonth}}</a></li>
                  <li><a href="#none" data-occasion="next" data-period="month" class="pure-button pure-button-active">{{labels.dateRangeNextMonth}}</a></li>
                </ul>
              </div>
              <div class="pure-u-1 l-box">
                <div class="pure-button-group pull-right">
                  <input type="button" id="checklistResultsFilter_clearDate" class="pure-button pure-button-secondary" value="Reset" aria-label="Reset date filters">
                </div>
              </div>
            </div>
          </div>
          <div id="checklistDefinitionIdFilters">
            <div class="pure-g-r">
              <div class="pure-u-1-2 l-box">
                <label for="checklistResultsFilter_checklistDefinitionId">{{labels.checklistDefinitionId}}</label>
                <select name="checklistDefinitionId" class="pure-input-1" id="checklistResultsFilter_checklistDefinitionId" multiple="true" size="5">
                  <option value=""></option>
                </select>
              </div>
              <div class="pure-u-1-4 l-box">
                <fieldset class="pure-u-1">
                  <legend>{{labels.status}}</legend>
                  <label for="checklistResultsFilter_NOT_STARTED" class="pure-checkbox">
                    <input id="checklistResultsFilter_NOT_STARTED" type="checkbox" name="status" value="NOT_STARTED" aria-label="{{labels.notStarted}}" /> <i class="checklist-status-indicator not-started"></i> {{labels.notStarted}}
                  </label>
                  <label for="checklistResultsFilter_ON_TIME" class="pure-checkbox">
                    <input id="checklistResultsFilter_ON_TIME" type="checkbox" name="status" value="ON_TIME" aria-label="{{labels.onTime}}" /> <i class="checklist-status-indicator on-time"></i> {{labels.onTime}}
                  </label>
                  <label for="checklistResultsFilter_LAST_REMINDER" class="pure-checkbox">
                    <input id="checklistResultsFilter_LAST_REMINDER" type="checkbox" name="status" value="LAST_REMINDER" aria-label="{{labels.lastReminder}}" /> <i class="checklist-status-indicator at-risk"></i> {{labels.lastReminder}}
                  </label>
                  <label for="checklistResultsFilter_OVERDUE" class="pure-checkbox">
                    <input id="checklistResultsFilter_OVERDUE" type="checkbox" name="status" value="OVERDUE" aria-label="{{labels.overdue}}" /> <i class="checklist-status-indicator late"></i> {{labels.overdue}}
                  </label>
                  {{#if permissions.canViewCompleted}}
                    <label for="checklistResultsFilter_COMPLETE" class="pure-checkbox">
                      <input id="checklistResultsFilter_COMPLETE" type="checkbox" name="status" value="COMPLETE" aria-label="{{labels.complete}}" /> <i class="fa fa-check-square checklist-indicator checklist-complete"></i> {{labels.complete}}
                    </label>
                  {{/if}}
                  <label for="checklistResultsFilter_PAUSED" class="pure-checkbox">
                    <input id="checklistResultsFilter_PAUSED" type="checkbox" name="status" value="PAUSED" aria-label="{{labels.paused}}" /> <i class="fa fa-pause checklist-indicator checklist-paused"></i> {{labels.paused}}
                  </label>
                  {{#if permissions.canViewArchived}}
                    <label for="checklistResultsFilter_ARCHIVED" class="pure-checkbox">
                      <input id="checklistResultsFilter_ARCHIVED" type="checkbox" name="status" value="ARCHIVED" aria-label="{{labels.archived}}" /> <i class="fa fa-trash checklist-indicator checklist-deleted"></i> {{labels.archived}}
                    </label>
                  {{/if}}
                  <label for="checklistResultsFilter_IN_ERROR" class="pure-checkbox">
                    <input id="checklistResultsFilter_IN_ERROR" type="checkbox" name="status" value="IN_ERROR" aria-label="{{labels.inError}}" /> <i class="fa fa-stop-circle checklist-indicator checklist-error"></i> {{labels.inError}}
                  </label>
                </fieldset>
              </div>
              <div class="pure-u-1-4 l-box">
                <fieldset class="pure-u-1">
                  <legend>{{labels.priority}}</legend>
                  <label for="checklistResultsFilter_NONE" class="pure-checkbox">
                    <input id="checklistResultsFilter_NONE" type="checkbox" name="priority" value="NONE" aria-label="{{labels.none}}" /> <i class="checklist-priority-indicator none"></i> {{labels.none}}
                  </label>
                  <label for="checklistResultsFilter_LOW" class="pure-checkbox">
                    <input id="checklistResultsFilter_LOW" type="checkbox" name="priority" value="LOW" aria-label="{{labels.low}}" /> <i class="checklist-priority-indicator low"></i> {{labels.low}}
                  </label>
                  <label for="checklistResultsFilter_MEDIUM" class="pure-checkbox">
                    <input id="checklistResultsFilter_MEDIUM" type="checkbox" name="priority" value="MEDIUM" aria-label="{{labels.medium}}" /> <i class="checklist-priority-indicator medium"></i> {{labels.medium}}
                  </label>
                  <label for="checklistResultsFilter_HIGH" class="pure-checkbox">
                    <input id="checklistResultsFilter_HIGH" type="checkbox" name="priority" value="HIGH" aria-label="{{labels.high}}" /> <i class="checklist-priority-indicator high"></i> {{labels.high}}
                  </label>
                </fieldset>
              </div>
              <div class="pure-u-1 l-box">
                <div class="pure-button-group pull-right">
                 <input type="button" id="checklistResultsFilter_typeStatusPriority" class="pure-button pure-button-secondary" value="Reset" aria-label="Reset type, status and priority filters">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>