<div class="pure-g-r readonly">
  <div class="pure-u-1 l-box">{{message}}</div>
  <div class="pure-u-1 l-box">
    {{#modelData}}
      <ul>
        {{#each warnings}}
          <li>{{.}}</li>
        {{/each}}
      </ul>
    {{/modelData}}
  </div>
</div>
