<form action="#none" id="checklistResultsFilterForm" class="pure-form pure-form-stacked filter-panel">
  <div class="panel bordered">
    <div>
      <h3 class="alt2" tabindex="0">{{labels.filterBy}}</h3>
    </div>
    <div id="checklistResultsFilter">
      <div id="checklistResultsTabbedFilters" class="ui-tabs">
        <ul>
          <li>
            <a href="#dateFilters">{{labels.dateFilter}} <span class="dateFilterSpan" hidden style="display: none">&nbsp;<i class="fa fa-filter"></i></span></a>
          </li>
          <li>
            <a href="#checklistDefinitionIdFilters">{{labels.typeStatusPriorityFilter}} <span class="typeStatusPriorityFilterSpan" hidden style="display: none">&nbsp;<i class="fa fa-filter"></i></span></a>
          </li>
          <li>
            <a href="#subjectFilters">{{labels.subjectFilter}} <span class="subjectFilterSpan" hidden style="display: none">&nbsp;<i class="fa fa-filter"></i></span></a>
          </li>
          <li>
            <a href="#ownerFilters">{{labels.ownerFilter}} <span class="ownerFilterSpan" hidden style="display: none">&nbsp;<i class="fa fa-filter"></i></span></a>
          </li>
        </ul>
        <div>
          <div id="dateFilters">
            <div class="pure-g-r">
              <div class="pure-u-1-3 l-box">
                  <label for="checklistResultsFilter_dueDateFrom">{{labels.dueDateFrom}}</label>
                  <input type="text" name="dueDateFrom" class="pure-input-1" id="checklistResultsFilter_dueDateFrom" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.dueDateFrom}}" />
                  <span id="dueDateFromAnd" style="display:none;font-weight: bold;"> {{labels.and}}</span>
                  <label for="checklistResultsFilter_dueDateTo">{{labels.dueDateTo}}</label>
                  <input type="text" name="dueDateTo" class="pure-input-1" id="checklistResultsFilter_dueDateTo" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.dueDateTo}}" />
                  <span id="dueDateToAnd" style="display:none;font-weight: bold;"> {{labels.and}}</span>
              </div>
              <div class="pure-u-2-3 l-box">
                {{labels.dateRangeQuickDue}}
                <select name="checklistResultsFilter_dateDueShortcuts" class="pure-input-1" id="checklistResultsFilter_dateDueShortcuts"
                  value="">
                  <option value="" class="blank">Please choose</option>
                  <option value="last,week">{{labels.dateRangeLastWeek}}</option>
                  <option value="this,week">{{labels.dateRangeThisWeek}}</option>
                  <option value="next,week">{{labels.dateRangeNextWeek}}</option>
                  <option value="last,month">{{labels.dateRangeLastMonth}}</option>
                  <option value="this,month">{{labels.dateRangeThisMonth}}</option>
                  <option value="next,month">{{labels.dateRangeNextMonth}}</option>
                </select>
              </div>
              <br/>
              <div class="pure-u-1-3 l-box">
                <label for="checklistResultsFilter_startDateFrom">{{labels.startDateFrom}}</label>
                <input type="text" name="startDateFrom" class="pure-input-1" id="checklistResultsFilter_startDateFrom" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.startDateFrom}}" />
                <span  id="startDateFromAnd" style="display:none;font-weight: bold;">{{labels.and}}</span>
                <label for="checklistResultsFilter_startDateTo">{{labels.startDateTo}}</label>
                <input type="text" name="startDateTo" class="pure-input-1" id="checklistResultsFilter_startDateTo" maxlength="11" placeholder="DD-MMM-YYYY"  max="{{dateFormat modelData.startDateTo}}" value="{{dateFormat modelData.startDateTo}}" />
              </div>
              <div class="pure-u-2-3 l-box">
                {{labels.dateRangeQuickStart}}
                <select name="checklistResultsFilter_dateStartShortcuts" class="pure-input-1"
                  id="checklistResultsFilter_dateStartShortcuts" value="">
                  <option value="" class="blank">Please choose</option>
                  <option value="last,day">{{labels.dateRangeLastDay}}</option>
                  <option value="last,week">{{labels.dateRangeLastWeek}}</option>
                  <option value="this,week">{{labels.dateRangeThisWeek}}</option>
                  <option value="last,month">{{labels.dateRangeLastMonth}}</option>
                  <option value="this,month">{{labels.dateRangeThisMonth}}</option>
                </select>
              </div>
              <div class="pure-u-1 l-box">
                <div class="pure-button-group pull-right">
                  <input type="button" id="checklistResultsFilter_clearDate" data-reset="dueDateFrom,dueDateTo,startDateFrom,startDateTo" class="pure-button pure-button-secondary" value="Reset" aria-label="Reset date filters">
                </div>
              </div>
            </div>
          </div>
          <div id="checklistDefinitionIdFilters">
            <div class="pure-g-r">
              <div class="pure-u-1-2 l-box">
                  <label for="checklistResultsFilter_checklistDefinitionId">{{labels.checklistDefinitionId}}</label>
                  <select name="checklistDefinitionId" class="pure-input-1" id="checklistResultsFilter_checklistDefinitionId" multiple="true" size="5">
                    <option value=""></option>
                  </select>
              </div>
              <div class="pure-u-1-4 l-box">
                <fieldset class="pure-u-1">
                  <legend>{{labels.status}} </legend>
                  <label for="checklistResultsFilter_ON_TIME" class="pure-checkbox">
                    <input id="checklistResultsFilter_ON_TIME" type="checkbox" name="status" value="ON_TIME" aria-label="{{labels.onTime}}" /> <i class="checklist-status-indicator on-time"></i> {{labels.onTime}}
                  </label>
                  <label for="checklistResultsFilter_LAST_REMINDER" class="pure-checkbox">
                    <input id="checklistResultsFilter_LAST_REMINDER" type="checkbox" name="status" value="LAST_REMINDER" aria-label="{{labels.lastReminder}}" /> <i class="checklist-status-indicator at-risk"></i> {{labels.lastReminder}}
                  </label>
                  <label for="checklistResultsFilter_OVERDUE" class="pure-checkbox">
                    <input id="checklistResultsFilter_OVERDUE" type="checkbox" name="status" value="OVERDUE" aria-label="{{labels.overdue}}" /> <i class="checklist-status-indicator late"></i> {{labels.overdue}}
                  </label>
                  <label for="checklistResultsFilter_PAUSED" class="pure-checkbox">
                    <input id="checklistResultsFilter_PAUSED" type="checkbox" name="status" value="PAUSED" aria-label="{{labels.paused}}" /> <i class="fa fa-pause checklist-indicator checklist-paused"></i> {{labels.paused}}
                  </label>
                  <label for="checklistResultsFilter_IN_ERROR" class="pure-checkbox">
                    <input id="checklistResultsFilter_IN_ERROR" type="checkbox" name="status" value="IN_ERROR" aria-label="{{labels.inError}}" /> <i class="fa fa-stop-circle checklist-indicator checklist-error"></i> {{labels.inError}}
                  </label>
                </fieldset>
              </div>
              <div class="pure-u-1-4 l-box">
                <fieldset class="pure-u-1">
                  <legend>{{labels.priority}}</legend>
                  <label for="checklistResultsFilter_NONE" class="pure-checkbox">
                    <input id="checklistResultsFilter_NONE" type="checkbox" name="priority" value="NONE" aria-label="{{labels.none}}" /> <i class="checklist-priority-indicator none"></i> {{labels.none}}
                  </label>
                  <label for="checklistResultsFilter_LOW" class="pure-checkbox">
                    <input id="checklistResultsFilter_LOW" type="checkbox" name="priority" value="LOW" aria-label="{{labels.low}}" /> <i class="checklist-priority-indicator low"></i> {{labels.low}}
                  </label>
                  <label for="checklistResultsFilter_MEDIUM" class="pure-checkbox">
                    <input id="checklistResultsFilter_MEDIUM" type="checkbox" name="priority" value="MEDIUM" aria-label="{{labels.medium}}" /> <i class="checklist-priority-indicator medium"></i> {{labels.medium}}
                  </label>
                  <label for="checklistResultsFilter_HIGH" class="pure-checkbox">
                    <input id="checklistResultsFilter_HIGH" type="checkbox" name="priority" value="HIGH" aria-label="{{labels.high}}" /> <i class="checklist-priority-indicator high"></i> {{labels.high}}
                  </label>
                </fieldset>
              </div>
              <div class="pure-u-1 l-box">
                <div class="pure-button-group pull-right">
                  <input type="button" data-reset="checklistDefinitionId,status,priority" class="pure-button pure-button-secondary" value="Reset" aria-label="Reset type, status and priority filters">
                </div>
              </div>
            </div>
          </div>
          <div id="subjectFilters">
            <div class="pure-g-r">
              <div class="pure-u-2-3 l-box">
                <label for="checklistResultsFilter_subjectId">{{labels.subjectId}}</label>
                <select name="subjectId" class="pure-input-1" id="checklistResultsFilter_subjectId" multiple="true" size="5">
                  <option value=""></option>
                </select>
              </div>
              <div class="pure-u-1 l-box">
                <div class="pure-button-group pull-right">
                  <input type="button" data-reset="subjectId" class="pure-button pure-button-secondary" value="Reset" aria-label="Reset subject filters">
                </div>
              </div>
            </div>
          </div>
          <div id="ownerFilters">
            <div class="pure-g-r">
              <div class="pure-u-1-2 l-box">
                 <label for="checklistResultsFilter_owningTeamsIds">{{labels.owner.team}}</label>
                 <select name="selectedTeamIds" class="pure-input-1" id="checklistResultsFilter_owningTeamsIds" multiple="true" size="5">
                  <option value=""></option>
                </select>
              </div>
              <div class="pure-u-1-2 l-box">
                {{#if modelData.includeTeamMembers}}
                <label for="checklistResultsFilter_teamMemberIds">{{labels.ownerId}}</label>
                <select name="selectedOwnerPersonIds" class="pure-input-1" id="checklistResultsFilter_teamMemberIds" multiple="true" size="5">
                  <option value=""></option>
                </select>
                {{/if}}
              </div>
              <div class="pure-u-1 l-box">
                {{#if modelData.owningTeamsForPersonOwners}}
                <fieldset class="pure-u-1">
                  <label for="checklistResultsFilter_NO_OWNING_TEAM" class="pure-checkbox">
                    <input id="checklistResultsFilter_NO_OWNING_TEAM" type="checkbox" name="includeNoOwningTeam" value="true" aria-label="{{labels.noOwningTeam}}" /> {{labels.noOwningTeam}}
                  </label>
                </fieldset>
                {{/if}}
              </div>
              <div class="pure-u-1 l-box">
                <div class="pure-button-group pull-right">
                  <input type="button" data-reset="selectedTeamIds,selectedOwnerPersonIds,includeNoOwningTeam" class="pure-button pure-button-secondary" value="Reset" aria-label="Reset owner filters">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>