<div class="yui3-widget print-view">
	{{!-- Add print view inside here --}}
	<div class="pure-g-r">
		<div class="pure-u-1-2 l-box header">
			<div class="logo"><img src="../../../../img/header-resolve.png"></div>
		</div>
		<div class="pure-u-1-2 l-box header">
				<div class="context pull-right"><span>Intake form</span><br />{{modelData.subject.name}}
					{{fuzzyDateFormat modelData.subject.dateOfBirth}}{{#if
					modelData.subject.dateOfBirthEstimated}}<span
					class="estimated summary" title="Estimated"></span><span
					class="hidden">Estimated</span>{{/if}}</div>
		</div>
	</div>
	<div class="pure-g-r">
		<div class="pure-u-1 l-box">
			<div class="pure-g-r readonly">
				
				{{!-- Client Information --}}
				<div class="pure-u-1 l-box">
					<p><strong>{{labels.client.information.title}}</strong></p>
				</div>
				
				<div class="pure-u-1-3 l-box">
					<div class="name">{{labels.client.information.name}}</div>
					<div class="value">{{modelData.subject.name}}</div>	
				</div>
				<div class="pure-u-1-3 l-box">
					<div class="name">{{labels.client.information.dateOfBirth}}</div>
					<div class="value">{{fuzzyDateFormat modelData.subject.dateOfBirth}}{{#if modelData.subject.dateOfBirthEstimated}}<span class="estimated summary" title="Estimated"></span><span class="hidden">Estimated</span>{{/if}}</div>	
				</div>
				<div class="pure-u-1-3 l-box">
					<div class="name">{{labels.client.information.nhsNumber}}</div>
					<div class="value">{{modelData.subject.nhsNumber}}</div>	
				</div>
				<div class="pure-u-1-1 l-box">
					<div class="name">{{labels.client.information.address}}</div>
					<div class="value">{{modelData.placementAddress.location}}</div>	
				</div>
				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.client.information.contact}}</div>
					<div class="value">{{modelData.subjectTelephoneNumber}}</div>	
				</div>	
				
				{{!-- Next of Kin --}}						
				<div class="pure-u-1 l-box">
					<p><strong>{{labels.client.nextOfKin.title}}</strong></p>
				</div>						
				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.referencedPerson.name}}</div>
					<div class="value">{{modelData.nextOfKin.name}}</div>	
				</div>						
				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.referencedPerson.relationship}}</div>
					<div class="value">{{modelData.nextOfKin.relationship}}</div>	
				</div>						
				<div class="pure-u-1-1 l-box">
					<div class="name">{{labels.referencedPerson.address}}</div>
					<div class="value">{{modelData.nextOfKin.address}}</div>	
				</div>						
				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.referencedPerson.contact}}</div>
					<div class="value">{{modelData.nextOfKin.contact}}</div>	
				</div>
				
				{{!-- Main Carer --}}						
				<div class="pure-u-1 l-box">
					<p><strong>{{labels.client.mainCarer.title}}</strong></p>
				</div>						
				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.referencedPerson.name}}</div>
					<div class="value">{{modelData.mainCarer.name}}</div>	
				</div>						
				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.referencedPerson.relationship}}</div>
					<div class="value">{{modelData.mainCarer.relationship}}</div>	
				</div>						
				<div class="pure-u-1-1 l-box">
					<div class="name">{{labels.referencedPerson.address}}</div>
					<div class="value">{{modelData.mainCarer.address}}</div>	
				</div>						
				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.referencedPerson.contact}}</div>
					<div class="value">{{modelData.mainCarer.contact}}</div>	
				</div>
				
				{{!-- Client Consent --}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{labels.client.consent.title}}</strong></p>
						</div>
						<div class="pure-u-1-2 l-box">
							<div class="name">{{labels.client.consent.consentToShare}}</div>							
							<div class="value">{{yesNo modelData.consent.consentToShare}}</div>	
						</div>							
						<div class="pure-u-1-1 l-box">
							<div class="name">{{labels.client.consent.consentToShareDetails}}</div>
							<div class="value">{{{modelData.consent.consentToShareDetails}}}</div>	
						</div>
					</div>
				</div>
										
				{{!-- People not to be Contacted --}}
				{{#if modelData.peopleNotToBeContacted}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{labels.client.peopleNotToBeContacted.title}}</strong></p>
						</div>
	
						{{#each modelData.peopleNotToBeContacted}}
						<div class="pure-u-1 l-box">
							<div class="inner-panel">
								<div class="pure-g-r">
									<div class="pure-u-1 l-box">
										<div class="pure-g-r">
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../labels.referencedPerson.name}}</div>
												<div class="value">{{name}}</div>	
											</div>						
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../labels.referencedPerson.relationship}}</div>
												<div class="value">{{relationship}}</div>	
											</div>						
											<div class="pure-u-1-1 l-box">
												<div class="name">{{../labels.referencedPerson.address}}</div>
												<div class="value">{{address}}</div>	
											</div>						
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../labels.referencedPerson.contact}}</div>
												<div class="value">{{contact}}</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/each}}	
					</div>
				</div>
				{{/if}}
				
				{{!-- Brief History --}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{labels.placement.briefHistory.title}}</strong></p>
						</div>
						<div class="pure-u-1 l-box">
							<div class="name">{{labels.placement.briefHistory.description}}</div>
							<div class="value">{{{modelData.history.briefHistory}}}</div>	
						</div>
					</div>
				</div>
										
				{{!-- History --}}
				{{#if modelData.previousPlacements}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{labels.placement.history.title}}</strong></p>
						</div>
	
						{{#each modelData.previousPlacements}}
						<div class="pure-u-1 l-box">
							<div class="inner-panel">
								<div class="pure-g-r">
									<div class="pure-u-1 l-box">
										<div class="pure-g-r">
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../labels.placement.history.startDate}}</div>
												<div class="value">{{dateFormat startDate}}</div>	
											</div>
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../labels.placement.history.endDate}}</div>
												<div class="value">{{dateFormat endDate}}</div>	
											</div>
											<div class="pure-u-1 l-box">
												<div class="name">{{../labels.placement.history.location}}</div>
												<div class="value">{{location}}</div>	
											</div>
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../labels.placement.history.type}}</div>
												<div class="value">{{type}}</div>	
											</div>					
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../labels.placement.history.contact}}</div>
												<div class="value">{{contact}}</div>	
											</div>
											<div class="pure-u-1 l-box">
												<div class="name">{{../labels.placement.history.endReason}}</div>
												<div class="value">{{endReason}}</div>	
											</div>																	
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/each}}	
					</div>
				</div>
				{{/if}}
				
	
				{{!-- Current Placement --}}
				{{#modelData.currentPlacement}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{../labels.placement.currentPlacement.title}}</strong></p>
						</div>
						<div class="pure-u-1-2 l-box">
							<div class="name">{{../labels.placement.currentPlacement.startDate}}</div>
							<div class="value">{{dateFormat currentPlacementStartDate}}</div>	
						</div>
						<div class="pure-u-1-2 l-box">
							<div class="name">{{../labels.placement.currentPlacement.endDate}}</div>
							<div class="value">{{dateFormat currentPlacementEndDate}}</div>	
						</div>
					
						<div class="pure-u-1 l-box">
							<div class="name">{{../labels.placement.currentPlacement.location}}</div>
							<div class="value">{{currentPlacementLocation}}</div>	
						</div>
						
						<div class="pure-u-1-2 l-box">
							<div class="name">{{../labels.placement.currentPlacement.type}}</div>
							<div class="value">{{currentPlacementType}}</div>	
						</div>
						<div class="pure-u-1-2 l-box">
							<div class="name">{{../labels.placement.currentPlacement.contact}}</div>
							<div class="value">{{currentPlacementContact}}</div>	
						</div>
					
						<div class="pure-u-1 l-box">
							<div class="name">{{../labels.placement.currentPlacement.challenges}}</div>
							<div class="value">{{{currentPlacementChallenges}}}</div>	
						</div>
					
						<div class="pure-u-1 l-box">
							<div class="name">{{../labels.placement.currentPlacement.clientViews}}</div>
							<div class="value">{{{currentPlacementClientViews}}}</div>	
						</div>
					
						<div class="pure-u-1 l-box">
							<div class="name">{{../labels.placement.currentPlacement.assessmentPresentation}}</div>
							<div class="value">{{{currentPlacementAssessmentPresentation}}}</div>	
						</div>								
					</div>
				</div>
				{{/modelData.currentPlacement}}
				
				{{!-- Identified Risks --}}
				{{#if modelData.riskAssessments}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{labels.placement.identifiedRisks.title}}</strong></p>
						</div>
	
						{{#each modelData.riskAssessments}}
						<div class="pure-u-1 l-box">
							<div class="inner-panel">
								<div class="pure-g-r">
									<div class="pure-u-1 l-box">
										<div class="pure-g-r">
											<div class="pure-u-5-8 l-box">
												<div class="pure-g-r">
													<div class="pure-u-1 l-box">
														<div class="name">{{../labels.placement.identifiedRisks.risk}}</div>
														<div class="value">{{{risk}}}</div>	
													</div>
													<div class="pure-u-1 l-box">
														<div class="name">{{../labels.placement.identifiedRisks.riskManagementActivity}}</div>
														<div class="value">{{{riskManagementActivity}}}</div>
													</div>
													<div class="pure-u-1-3 l-box">
														<div class="name">{{../labels.placement.identifiedRisks.date}}</div>
														<div class="value">{{dateFormat riskDate}}</div>
													</div>		
												</div>
											</div>
											<div class="pure-u-3-8">
												<div class="pure-g-r">
													<div class="pure-u-1-2 l-box">
														<div class="name">{{../labels.placement.identifiedRisks.likelihood}}</div>
														<div class="value">{{enumType likelihood ../otherData.enumTypes.likelihood}}</div>				
													</div>
													<div class="pure-u-1-2 l-box">
														<div class="name">{{../labels.placement.identifiedRisks.revisedLikelihood}}</div>
														<div class="value">{{enumType revisedLikelihood ../otherData.enumTypes.likelihood}}</div>				
													</div>
													<div class="pure-u-1-2 l-box">
														<div class="name">{{../labels.placement.identifiedRisks.impact}}</div>
														<div class="value">{{enumType impact ../otherData.enumTypes.impact}}</div>				
													</div>
													<div class="pure-u-1-2 l-box">
														<div class="name">{{../labels.placement.identifiedRisks.revisedImpact}}</div>
														<div class="value">{{enumType revisedImpact ../otherData.enumTypes.impact}}</div>				
													</div>
													<div class="pure-u-1-2 l-box">
														<div class="name">{{../labels.placement.identifiedRisks.total}}</div>
														<div class="value">{{total}}</div>				
													</div>		
													<div class="pure-u-1-2 l-box">
														<div class="name">{{../labels.placement.identifiedRisks.revisedTotal}}</div>
														<div class="value">{{revisedTotal}}</div>				
													</div>										
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/each}}	
					</div>
				</div>		
				{{/if}}
										
				{{!-- Referrer --}}
				{{#modelData.referral}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{../labels.referral.referrer.title}}</strong></p>
						</div>
						<div class="pure-u-1-2 l-box">
							<div class="name">{{../labels.referral.referrer.referrerName}}</div>
							<div class="value">{{referrerName}}</div>	
						</div>
						
						<div class="pure-u-1-2 l-box">
							<div class="name">{{../labels.referral.referrer.referrerRole}}</div>
							<div class="value">{{referrerRole}}</div>	
						</div>
						
						<div class="pure-u-1-2 l-box">
							<div class="name">{{../labels.referral.referrer.referralReason}}</div>
							<div class="value">{{{referralReason}}}</div>	
						</div>
						
						<div class="pure-u-1-2 l-box">
							<div class="name">{{../labels.referral.referrer.referralDate}}</div>
							<div class="value">{{dateFormat referralDate}}</div>	
						</div>
					</div>
				</div>
				{{/modelData.referral}}
	
				{{!-- Future --}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{labels.referral.future.title}}</strong></p>
						</div>
						<div class="pure-u-1 l-box">
							<div class="name">{{labels.referral.future.clientPlan}}</div>
							<div class="value">{{{modelData.future.futurePlanOfClient}}}</div>	
						</div>		
					</div>
				</div>
	
				{{!-- Intervention and Support Plans --}}
				{{#if modelData.supportPlans}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{labels.referral.interventionAndSupportPlans.title}}</strong></p>
						</div>
	
						{{#each modelData.supportPlans}}
						<div class="pure-u-1 l-box">
							<div class="inner-panel">
								<div class="pure-g-r">
									<div class="pure-u-1 l-box">
										<div class="pure-g-r">
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../labels.referral.interventionAndSupportPlans.action}}</div>
												<div class="value">{{{interventionAndSupport}}}</div>	
											</div>
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../labels.referral.interventionAndSupportPlans.desiredOutcome}}</div>
												<div class="value">{{{desiredOutcome}}}</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/each}}	
					</div>
				</div>
				{{/if}}
										
				{{!-- Health --}}
				{{#modelData.health}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{../labels.health.health.title}}</strong></p>
						</div>								
						<div class="pure-u-1-3 l-box">
							<div class="name">{{../labels.health.health.height}}</div>
							<div class="value">{{height}}</div>	
						</div>
						<div class="pure-u-1-3 l-box">
							<div class="name">{{../labels.health.health.weight}}</div>
							<div class="value">{{weight}}</div>	
						</div>
						<div class="pure-u-1-3 l-box">
							<div class="name">{{../labels.health.health.lastAnnualHealthCheck}}</div>
							<div class="value">{{dateFormat lastAnnualHealthCheck}}</div>	
						</div>
						
						<div class="pure-u-1 l-box">
							<div class="name">{{../labels.health.health.medicalHistory}}</div>
							<div class="value">{{{medicalHistory}}}</div>	
						</div>
					</div>
				</div>
				{{/modelData.health}}
	
	
				{{!-- GP --}}
				{{#if modelData.health.gp}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{labels.health.gp.title}}</strong></p>
						</div>								
						<div class="pure-u-1-2 l-box">
							<div class="name">{{labels.health.gp.name}}</div>
							<div class="value">{{modelData.health.gp.name}}</div>	
						</div>
						
						<div class="pure-u-1 l-box">
							<div class="name">{{labels.health.gp.address}}</div>
							<div class="value">{{modelData.health.gpAddress.location}}</div>	
						</div>
						
						<div class="pure-u-1-2 l-box">
							<div class="name">{{labels.health.gp.contact}}</div>
							<div class="value">{{modelData.health.gpTelephoneNumber}}</div>
						</div>		
					</div>
				</div>
				{{/if}}
	
				{{!-- Professionals --}}
				{{#if modelData.professionals}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{labels.health.professionals.title}}</strong></p>
						</div>
	
						{{#each modelData.professionals}}
						<div class="pure-u-1 l-box">
							<div class="inner-panel">
								<div class="pure-g-r">
									<div class="pure-u-1 l-box">
										<div class="pure-g-r">
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../labels.referencedPerson.name}}</div>
												<div class="value">{{name}}</div>	
											</div>						
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../labels.referencedPerson.relationship}}</div>
												<div class="value">{{relationship}}</div>	
											</div>						
											<div class="pure-u-1-1 l-box">
												<div class="name">{{../labels.referencedPerson.address}}</div>
												<div class="value">{{address}}</div>	
											</div>						
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../labels.referencedPerson.contact}}</div>
												<div class="value">{{contact}}</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/each}}	
					</div>
				</div>
				{{/if}}
	
				{{!-- Medications --}}
				{{#if modelData.medications}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{labels.health.medications.title}}</strong></p>
						</div>
	
						{{#each modelData.medications}}
						<div class="pure-u-1 l-box">
							<div class="inner-panel">
								<div class="pure-g-r">
									<div class="pure-u-1 l-box">
										<div class="pure-g-r">
											<div class="pure-u-1 l-box">
												<div class="name">{{../labels.health.medications.name}}</div>
												<div class="value">{{{name}}}</div>	
											</div>
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../labels.health.medications.dosage}}</div>
												<div class="value">{{{dosage}}}</div>	
											</div>
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../labels.health.medications.form}}</div>
												<div class="value">{{{form}}}</div>	
											</div>
											<div class="pure-u-1 l-box">
												<div class="name">{{../labels.health.medications.prescribedBy}}</div>
												<div class="value">{{{prescribedBy}}}</div>	
											</div>
											<div class="pure-u-1 l-box">
												<div class="name">{{../labels.health.medications.usedFor}}</div>
												<div class="value">{{{usedFor}}}</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/each}}	
					</div>
				</div>
				{{/if}}
	
				{{!-- Health Action Plan --}}
				{{#modelData.medication}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{../labels.health.healthActionPlan.title}}</strong></p>
						</div>															
						<div class="pure-u-1-3 l-box">
							<div class="name">{{../labels.health.healthActionPlan.healthActionPlan}}</div>
							<div class="value">{{yesNo medicationHealthActionPlan}}</div>	
						</div>
						<div class="pure-u-1-3 l-box">
							<div class="name">{{../labels.health.healthActionPlan.recentChanges}}</div>
							<div class="value">{{yesNo medicationRecentChanges}}</div>	
						</div>
						<div class="pure-u-1-3 l-box">
							<div class="name">{{../labels.health.healthActionPlan.compliance}}</div>
							<div class="value">{{yesNo medicationCompliance}}</div>	
						</div>
						
						<div class="pure-u-1 l-box">
							<div class="name">{{../labels.health.healthActionPlan.supportRequired}}</div>
							<div class="value">{{{medicationSupportRequired}}}</div>	
						</div>
					</div>
				</div>
				{{/modelData.medication}}
	
				{{!-- Lifestyle --}}
				{{#modelData.lifestyle}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{../labels.health.lifestyle.title}}</strong></p>
						</div>															
						<div class="pure-u-1-2 l-box">
							<div class="name">{{../labels.health.lifestyle.alcoholConsumption}}</div>
							<div class="value">{{yesNo lifestyleAlcoholConsumption}}</div>	
						</div>
						
						<div class="pure-u-1 l-box">
							<div class="name">{{../labels.health.lifestyle.alcoholDetails}}</div>
							<div class="value">{{{lifestyleAlcoholDetails}}}</div>	
						</div>
						
						<div class="pure-u-1-2 l-box">
							<div class="name">{{../labels.health.lifestyle.smoking}}</div>
							<div class="value">{{yesNo lifestyleSmoking}}</div>
						</div>		
						<div class="pure-u-1 l-box">
							<div class="name">{{../labels.health.lifestyle.smokingDetails}}</div>
							<div class="value">{{{lifestyleSmokingDetails}}}</div>
						</div>
						<div class="pure-u-1-2 l-box">
							<div class="name">{{../labels.health.lifestyle.drugs}}</div>
							<div class="value">{{yesNo lifestyleDrugs}}</div>
						</div>
						<div class="pure-u-1 l-box">
							<div class="name">{{../labels.health.lifestyle.drugsDetails}}</div>
							<div class="value">{{{lifestyleDrugsDetails}}}</div>
						</div>
						<div class="pure-u-1 l-box">
							<div class="name">{{../labels.health.lifestyle.supportRequired}}</div>
							<div class="value">{{{lifestyleSupportRequired}}}</div>
						</div>
					</div>
				</div>
				{{/modelData.lifestyle}}
	
				{{!-- Mental Health --}}
				{{#modelData.mentalHealth}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{../labels.mentalHealth.mentalHealth.title}}</strong></p>
						</div>															
						<div class="pure-u-1-1 l-box">
							<div class="name">{{../labels.mentalHealth.mentalHealth.description}}</div>
							<div class="value">{{{mentalHealthDescription}}}</div>	
						</div>
						
						<div class="pure-u-1-1 l-box">
							<div class="name">{{../labels.mentalHealth.mentalHealth.sleepPattern}}</div>
							<div class="value">{{{mentalHealthSleepPattern}}}</div>	
						</div>
						
						<div class="pure-u-1-1 l-box">
							<div class="name">{{../labels.mentalHealth.mentalHealth.appetite}}</div>
							<div class="value">{{{mentalHealthAppetite}}}</div>	
						</div>
						
						<div class="pure-u-1-1 l-box">
							<div class="name">{{../labels.mentalHealth.mentalHealth.behaviour}}</div>
							<div class="value">{{{behaviourDescription}}}</div>	
						</div>
					</div>
				</div>
				{{/modelData.mentalHealth}}
	
				{{!-- Psychology --}}
				{{#modelData.psychology}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{../labels.mentalHealth.psychology.title}}</strong></p>
						</div>															
						<div class="pure-u-1-3 l-box">
							<div class="name">{{../labels.mentalHealth.psychology.previousInput}}</div>
							<div class="value">{{yesNo psychologyPreviousInput}}</div>	
						</div>
						
						<div class="pure-u-1-3 l-box">
							<div class="name">{{../labels.mentalHealth.psychology.benefitFromTherapy}}</div>
							<div class="value">{{yesNo psychologyBenefitFromTherapy}}</div>	
						</div>
						
						<div class="pure-u-1-3 l-box">
							<div class="name">{{../labels.mentalHealth.psychology.unresolvedAbuseIssues}}</div>
							<div class="value">{{yesNo psychologyUnresolvedAbuseIssues}}</div>	
						</div>
						
						<div class="pure-u-1-1 l-box">
							<div class="name">{{../labels.mentalHealth.psychology.details}}</div>
							<div class="value">{{{psychologyDetails}}}</div>	
						</div>
					</div>
				</div>
				{{/modelData.psychology}}
				
				
				{{!-- Physiotherapy --}}						
				<div class="pure-u-1 l-box">
					<p><strong>{{labels.physio.physiotherapy.title}}</strong></p>
				</div>						
				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.physio.physiotherapy.active}}</div>
					<div class="value">{{yesNo modelData.physiotherapy.physiotherapist.active}}</div>	
				</div>						
				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.referencedPerson.name}}</div>
					<div class="value">{{modelData.physiotherapy.physiotherapist.name}}</div>	
				</div>						
				<div class="pure-u-1-1 l-box">
					<div class="name">{{labels.referencedPerson.address}}</div>
					<div class="value">{{modelData.physiotherapy.physiotherapist.address}}</div>	
				</div>						
				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.referencedPerson.contact}}</div>
					<div class="value">{{modelData.physiotherapy.physiotherapist.contact}}</div>	
				</div>
				
										
				{{!-- Mobility --}}						
				{{#modelData.physiotherapy}}
				<div class="pure-u-1 l-box">
					<p><strong>{{../labels.physio.mobility.title}}</strong></p>
				</div>						
				<div class="pure-u-1-1 l-box">
					<div class="name">{{../labels.physio.mobility.recentIssues}}</div>
					<div class="value">{{yesNo mobilityRecentIssues}}</div>	
				</div>
			
				<div class="pure-u-1-1 l-box">
					<div class="name">{{../labels.physio.mobility.recentTripsOrFalls}}</div>
					<div class="value">{{yesNo mobilityRecentTripsOrFalls}}</div>	
				</div>
					
				<div class="pure-u-1-1 l-box">
					<div class="name">{{../labels.physio.mobility.tripsOrFallsMoreRegular}}</div>
					<div class="value">{{{mobilityTripsMoreRegular}}}</div>	
				</div>
			
				<div class="pure-u-1-1 l-box">
					<div class="name">{{../labels.physio.mobility.slipsAssessment}}</div>
					<div class="value">{{yesNo mobilitySlipsAssessment}}</div>	
				</div>	
				{{/modelData.physiotherapy}}
				
	
				{{!-- Occupational Therapist --}}						
				<div class="pure-u-1 l-box">
					<p><strong>{{labels.physio.occupationalTherapist.title}}</strong></p>
				</div>						
				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.physio.occupationalTherapist.active}}</div>
					<div class="value">{{yesNo modelData.occupationalTherapy.occupationalTherapist.active}}</div>	
				</div>						
				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.referencedPerson.name}}</div>
					<div class="value">{{modelData.occupationalTherapy.occupationalTherapist.name}}</div>	
				</div>						
				<div class="pure-u-1-1 l-box">
					<div class="name">{{labels.referencedPerson.address}}</div>
					<div class="value">{{modelData.occupationalTherapy.occupationalTherapist.address}}</div>	
				</div>						
				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.referencedPerson.contact}}</div>
					<div class="value">{{modelData.occupationalTherapy.occupationalTherapist.contact}}</div>	
				</div>
				
	
				{{!-- Occupational Therapy --}}						
				{{#modelData.occupationalTherapy}}
				<div class="pure-u-1 l-box">
					<p><strong>{{../labels.physio.occupationalIssues.title}}</strong></p>
				</div>						
				<div class="pure-u-1-2 l-box">
					<div class="name">{{../labels.physio.occupationalIssues.mobilityProblems}}</div>
					<div class="value">{{yesNo otMobilityProblems}}</div>	
				</div>
			
				<div class="pure-u-1-2 l-box">
					<div class="name">{{../labels.physio.occupationalIssues.utilityApplicationIssues}}</div>
					<div class="value">{{yesNo otUtilityApplicationIssues}}</div>	
				</div>	
			
				<div class="pure-u-1-2 l-box">
					<div class="name">{{../labels.physio.occupationalIssues.aidsAndAdaptations}}</div>
					<div class="value">{{yesNo otAidsAndAdaptations}}</div>	
				</div>
			
				<div class="pure-u-1-2 l-box">
					<div class="name">{{../labels.physio.occupationalIssues.recentProblems}}</div>
					<div class="value">{{yesNo otRecentProblems}}</div>	
				</div>
				{{/modelData.occupationalTherapy}}
	
	
				{{!-- Speech Therapy --}}						
				<div class="pure-u-1 l-box">
					<p><strong>{{labels.speech.therapy.title}}</strong></p>
				</div>						
				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.speech.therapy.active}}</div>
					<div class="value">{{yesNo modelData.speechTherapist.active}}</div>	
				</div>						
				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.referencedPerson.name}}</div>
					<div class="value">{{modelData.speechTherapist.name}}</div>	
				</div>						
				<div class="pure-u-1-1 l-box">
					<div class="name">{{labels.referencedPerson.address}}</div>
					<div class="value">{{modelData.speechTherapist.address}}</div>	
				</div>						
				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.referencedPerson.contact}}</div>
					<div class="value">{{modelData.speechTherapist.contact}}</div>	
				</div>
				
				
				{{!-- Communication Issues --}}						
				<div class="pure-u-1 l-box">
					<p><strong>{{labels.speech.issues.title}}</strong></p>
				</div>						
				<div class="pure-u-1 l-box">
					<div class="name">{{labels.speech.issues.speechCommunicationIssues}}</div>
					<div class="value">{{{modelData.speechAndLanguage.speechCommunicationIssues}}}</div>	
				</div>
				
										
				{{!-- Eating --}}						
				<div class="pure-u-1 l-box">
					<p><strong>{{labels.speech.eating.title}}</strong></p>
				</div>						
				{{#modelData.speechAndLanguage}}
				<div class="pure-u-1 l-box">
					<div class="name">{{../labels.speech.eating.specialDiet}}</div>
					<div class="value">{{{speechSpecialDiet}}}</div>	
				</div>	
				<div class="pure-u-1 l-box">
					<div class="name">{{../labels.speech.eating.problemsEating}}</div>
					<div class="value">{{{speechProblemsEating}}}</div>	
				</div>
				<div class="pure-u-1 l-box">
					<div class="name">{{../labels.speech.eating.mealtimeIssues}}</div>
					<div class="value">{{{speechMealtimeIssues}}}</div>	
				</div>
				{{/modelData.speechAndLanguage}}
									
	
				{{!-- Personal Care Needs --}}
				{{#if modelData.personalCareNeeds}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{labels.needs.personalCare.title}}</strong></p>
						</div>
	
						{{#each modelData.personalCareNeeds}}
						<div class="pure-u-1 l-box">
							<div class="inner-panel">
								<div class="pure-g-r">
									<div class="pure-u-1 l-box">
										<div class="pure-g-r">
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../labels.needs.personalCare.need}}</div>
												<div class="value">{{codedEntry need ../codedEntries.needTypes}}</div>
											</div>
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../labels.needs.personalCare.helpRequired}}</div>
												<div class="value">{{{helpRequired}}}</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/each}}	
					</div>
				</div>
				{{/if}}
	
	
				{{!-- Spiritual Needs --}}						
				<div class="pure-u-1 l-box">
					<p><strong>{{labels.needs.spiritualNeeds.title}}</strong></p>
				</div>						
				{{#modelData.spiritual}}
				<div class="pure-u-1 l-box">
					<div class="name">{{../labels.needs.spiritualNeeds.needs}}</div>
					<div class="value">{{{spiritualNeeds}}}</div>	
				</div>
			
				<div class="pure-u-1 l-box">
					<div class="name">{{../labels.needs.spiritualNeeds.needsBeingMet}}</div>
					<div class="value">{{{spiritualNeedsBeingMet}}}</div>	
				</div>
			
				<div class="pure-u-1 l-box">
					<div class="name">{{../labels.needs.spiritualNeeds.needsSupportRequired}}</div>
					<div class="value">{{{spiritualNeedsSupportRequired}}}</div>	
				</div>
				{{/modelData.spiritual}}
	
				{{!-- Social --}}						
				<div class="pure-u-1 l-box">
					<p><strong>{{labels.needs.social.title}}</strong></p>
				</div>						
				<div class="pure-u-1-4 l-box">		
					<div class="name"></div>
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="name">{{labels.needs.social.morning}}</div>
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="name">{{labels.needs.social.afternoon}}</div>
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="name">{{labels.needs.social.evening}}</div>
				</div>
				
				<div class="pure-u-1-4 l-box">	
					<div class="name">{{labels.needs.social.monday}}</div>
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="value">{{{modelData.timetableEvents.0.event}}}</div>
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="value">{{{modelData.timetableEvents.1.event}}}</div>	
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="value">{{{modelData.timetableEvents.2.event}}}</div>
				</div>
				
				<div class="pure-u-1-4 l-box">	
					<div class="name">{{labels.needs.social.tuesday}}</div>
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="value">{{{modelData.timetableEvents.3.event}}}</div>
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="value">{{{modelData.timetableEvents.4.event}}}</div>	
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="value">{{{modelData.timetableEvents.5.event}}}</div>	
				</div>
				
				<div class="pure-u-1-4 l-box">	
					<div class="name">{{labels.needs.social.wednesday}}</div>
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="value">{{{modelData.timetableEvents.6.event}}}</div>	
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="value">{{{modelData.timetableEvents.7.event}}}</div>	
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="value">{{{modelData.timetableEvents.8.event}}}</div>	
				</div>
				
				<div class="pure-u-1-4 l-box">	
					<div class="name">{{labels.needs.social.thursday}}</div>
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="value">{{{modelData.timetableEvents.9.event}}}</div>	
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="value">{{{modelData.timetableEvents.10.event}}}</div>	
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="value">{{{modelData.timetableEvents.11.event}}}</div>	
				</div>
				
				<div class="pure-u-1-4 l-box">	
					<div class="name">{{labels.needs.social.friday}}</div>
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="value">{{{modelData.timetableEvents.12.event}}}</div>	
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="value">{{{modelData.timetableEvents.13.event}}}</div>	
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="value">{{{modelData.timetableEvents.14.event}}}</div>	
				</div>
				
				<div class="pure-u-1-4 l-box">	
					<div class="name">{{labels.needs.social.saturday}}</div>
				</div>
				<div class="pure-u-1-4 l-box">	
					<div class="value">{{{modelData.timetableEvents.15.event}}}</div>
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="value">{{{modelData.timetableEvents.16.event}}}</div>	
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="value">{{{modelData.timetableEvents.17.event}}}</div>	
				</div>
				
				<div class="pure-u-1-4 l-box">	
					<div class="name">{{labels.needs.social.sunday}}</div>
				</div>
				<div class="pure-u-1-4 l-box">	
					<div class="value">{{{modelData.timetableEvents.18.event}}}</div>	
				</div>
				<div class="pure-u-1-4 l-box">
					<div class="value">{{{modelData.timetableEvents.19.event}}}</div>	
				</div>
				<div class="pure-u-1-4 l-box">	
					<div class="value">{{{modelData.timetableEvents.20.event}}}</div>	
				</div>
				{{#modelData.social}}
				<div class="pure-u-1 l-box">
					<div class="name">{{../labels.needs.social.currentArrangementsIssues}}</div>
					<div class="value">{{{socialCurrentArrangementsIssues}}}</div>	
				</div>
			
				<div class="pure-u-1 l-box">
					<div class="name">{{../labels.needs.social.supportRequired}}</div>
					<div class="value">{{{socialSupportRequired}}}</div>	
				</div>
				{{/modelData.social}}
	
	
				{{!-- Social Support --}}
				{{#if modelData.supports}}
				<div class="pure-u-1 l-box">
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<p><strong>{{labels.needs.socialSupport.title}}</strong></p>
						</div>
	
						{{#each modelData.supports}}
						<div class="pure-u-1 l-box">
							<div class="inner-panel">
								<div class="pure-g-r">
									<div class="pure-u-1 l-box">
										<div class="pure-g-r">
											<div class="pure-u-1 l-box">
												<div class="name">{{../labels.needs.socialSupport.supportType}}</div>
												<div class="value">{{codedEntry support ../codedEntries.supportTypes}}</div>	
											</div>
											<div class="pure-u-1-2 l-box">
												<div class="name">{{../labels.needs.socialSupport.details}}</div>
												<div class="value">{{{details}}}</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/each}}	
					</div>
				</div>
				{{/if}}
				
				{{!-- Appendix 1--}}
				<div class="pure-u-1 l-box">
					<p><strong>{{labels.app1Comms.title}}</strong></p>
					{{!-- Communication --}}
					{{#modelData.appendixOne.communication}}
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app1Comms.healthCommunication.title}}</strong></p>
							</div>		
						</div>			
						<div class="pure-g-r">					
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthCommunication.communicationVerbal}}</div>
								<div class="value">{{yesNo communicationVerbal}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthCommunication.communicationSignsAndPictures}}</div>
								<div class="value">{{yesNo communicationSignsAndPictures}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthCommunication.communicationGesturesAndNoises}}</div>
								<div class="value">{{yesNo communicationGesturesAndNoises}}</div>
							</div>
						</div>			
						<div class="pure-g-r">			
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthCommunication.communicationEyePointing}}</div>
								<div class="value">{{yesNo communicationEyePointing}}</div>
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthCommunication.communicationOtherMethods}}</div>
								<div class="value">{{{communicationOtherMethods}}}</div>
							</div>						
						</div>						
					{{/modelData.appendixOne.communication}}
			
					{{!-- Family 1 --}}
					{{#modelData.appendixOne.familyHistory}}
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app1Comms.healthFamily1.title}}</strong></p>
							</div>		
						</div>			
						<div class="pure-g-r">					
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthFamily1.familyHistoryHeartProblems}}</div>
								<div class="value">{{{familyHistoryHeartProblems}}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthFamily1.familyHistoryDiabetes}}</div>
								<div class="value">{{{familyHistoryDiabetes}}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthFamily1.familyHistoryAsthma}}</div>
								<div class="value">{{{familyHistoryAsthma}}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">		
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthFamily1.familyHistoryCancer}}</div>
								<div class="value">{{{familyHistoryCancer}}}</div>
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthFamily1.familyHistoryGlaucoma}}</div>
								<div class="value">{{{familyHistoryGlaucoma}}}</div>
							</div>						
						</div>					
					{{/modelData.appendixOne.familyHistory}}	
				
					{{!-- Family 2 --}}
					{{#modelData.appendixOne.familyHistory}}
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app1Comms.healthFamily2.title}}</strong></p>
							</div>		
						</div>			
						<div class="pure-g-r">				
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthFamily2.familyHistoryEpilepsy}}</div>
								<div class="value">{{{familyHistoryEpilepsy}}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthFamily2.familyHistoryMentalHealth}}</div>
								<div class="value">{{{familyHistoryMentalHealth}}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthFamily2.familyHistoryHighBloodPressure}}</div>
								<div class="value">{{{familyHistoryHighBloodPressure}}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthFamily2.familyHistoryOther}}</div>
								<div class="value">{{{familyHistoryOther}}}</div>
							</div>						
						</div>				
					{{/modelData.appendixOne.familyHistory}}		
				
					{{!-- Reviews --}}
					{{#modelData.appendixOne.review}}
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app1Comms.healthReviews.title}}</strong></p>
							</div>	
						</div>			
						<div class="pure-g-r">			
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthReviews.lastMedicalReviewDate}}</div>
								<div class="value">{{dateFormat lastMedicalReviewDate}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthReviews.lastMedicationReviewCheck}}</div>
								<div class="value">{{dateFormat lastMedicationReviewCheck}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthReviews.requireBloodTests}}</div>
								<div class="value">{{yesNo requireBloodTests}}</div>
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthReviews.lastBloodTestDate}}</div>
								<div class="value">{{dateFormat lastBloodTestDate}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthReviews.bloodTestDetails}}</div>
								<div class="value">{{{bloodTestDetails}}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthReviews.bloodTestSupportRequired}}</div>
								<div class="value">{{yesNo bloodTestSupportRequired}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthReviews.bloodTestSupportDescription}}</div>
								<div class="value">{{{bloodTestSupportDescription}}}</div>
							</div>								
						</div>			
					{{/modelData.appendixOne.review}}				
				
					{{!-- Vision --}}
					{{#modelData.appendixOne.problems}}
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app1Comms.healthVision.title}}</strong></p>
							</div>	
						</div>			
						<div class="pure-g-r">						
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthVision.eyesightProblems}}</div>
								<div class="value">{{yesNo eyesightProblems}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthVision.wearsGlassesOrLenses}}</div>
								<div class="value">{{yesNo wearsGlassesOrLenses}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">		
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthVision.lastEyeTestDate}}</div>
								<div class="value">{{dateFormat lastEyeTestDate}}</div>	
							</div>		
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthVision.glassesLensesSupportRequired}}</div>
								<div class="value">{{yesNo glassesLensesSupportRequired}}</div>
							</div>		
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthVision.glassesLensesSupportDescription}}</div>
								<div class="value">{{{glassesLensesSupportDescription}}}</div>
							</div>							
						</div>						
					{{/modelData.appendixOne.problems}}
				
					{{!-- Hearing --}}
					{{#modelData.appendixOne.problems}}
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app1Comms.healthHearing.title}}</strong></p>
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthHearing.hearingProblems}}</div>
								<div class="value">{{yesNo hearingProblems}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthHearing.hearingAidWorn}}</div>
								<div class="value">{{yesNo hearingAidWorn}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">			
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthHearing.lastHearingAssessmentDate}}</div>
								<div class="value">{{dateFormat lastHearingAssessmentDate}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">		
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthHearing.hearingSupportRequired}}</div>
								<div class="value">{{yesNo hearingSupportRequired}}</div>
							</div>		
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthHearing.hearingSupportDescription}}</div>
								<div class="value">{{{hearingSupportDescription}}}</div>
							</div>								
						</div>											
					{{/modelData.appendixOne.problems}}
				
					{{!-- Dental --}}
					{{#modelData.appendixOne.problems}}
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app1Comms.healthDental.title}}</strong></p>
							</div>	
						</div>			
						<div class="pure-g-r">					
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthDental.dentalProblems}}</div>
								<div class="value">{{yesNo dentalProblems}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthDental.visitsDentist}}</div>
								<div class="value">{{yesNo visitsDentist}}</div>	
							</div>		
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthDental.lastDentalAppointmentDate}}</div>
								<div class="value">{{dateFormat lastDentalAppointmentDate}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthDental.hasDentures}}</div>
								<div class="value">{{yesNo hasDentures}}</div>
							</div>
						</div>			
						<div class="pure-g-r">		
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthDental.denturesWorn}}</div>
								<div class="value">{{yesNo denturesWorn}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthDental.reasonsDenturesNotWorn}}</div>
								<div class="value">{{{reasonsDenturesNotWorn}}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">				
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthDental.dentalSupportRequired}}</div>
								<div class="value">{{yesNo dentalSupportRequired}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthDental.dentalSupportDescription}}</div>
								<div class="value">{{{dentalSupportDescription}}}</div>
							</div>	
						</div>					
					{{/modelData.appendixOne.problems}}	
				
					{{!-- Footcare --}}
					{{#modelData.appendixOne.footCare}}
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app1Comms.healthFootcare.title}}</strong></p>
							</div>	
						</div>			
						<div class="pure-g-r">						
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthFootcare.footProblems}}</div>
								<div class="value">{{yesNo footProblems}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthFootcare.footProblemsDescription}}</div>
								<div class="value">{{{footProblemsDescription}}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthFootcare.seesChiropodist}}</div>
								<div class="value">{{yesNo seesChiropodist}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">		
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthFootcare.lastChiropodyAppointmentDate}}</div>
								<div class="value">{{dateFormat lastChiropodyAppointmentDate}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthFootcare.chiropodistName}}</div>
								<div class="value">{{chiropodistName}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">		
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthFootcare.chiropodistContactNumber}}</div>
								<div class="value">{{chiropodistContactNumber}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthFootcare.chiropodistAddress}}</div>
								<div class="value">{{chiropodistAddress}}</div>
							</div>
						</div>			
						<div class="pure-g-r">						
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthFootcare.feetSupportRequired}}</div>
								<div class="value">{{yesNo feetSupportRequired}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">		
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthFootcare.feetSupportDescription}}</div>
								<div class="value">{{{feetSupportDescription}}}</div>
							</div>	
						</div>						
					{{/modelData.appendixOne.footCare}}
				
					{{!-- Continence --}}
					{{#modelData.appendixOne.continence}}
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app1Comms.healthContinence.title}}</strong></p>
							</div>	
						</div>			
						<div class="pure-g-r">						
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthContinence.continenceProblems}}</div>
								<div class="value">{{yesNo continenceProblems}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthContinence.continenceProblemsDescription}}</div>
								<div class="value">{{{continenceProblemsDescription}}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthContinence.seenByContinenceAdvisor}}</div>
								<div class="value">{{yesNo seenByContinenceAdvisor}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">		
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthContinence.lastContinenceAppointmentDate}}</div>
								<div class="value">{{dateFormat lastContinenceAppointmentDate}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthContinence.continenceAdvisorName}}</div>
								<div class="value">{{continenceAdvisorName}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">		
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthContinence.continenceAdvisorContactNumber}}</div>
								<div class="value">{{continenceAdvisorContactNumber}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthContinence.continenceAdvisorAddress}}</div>
								<div class="value">{{continenceAdvisorAddress}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">					
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthContinence.suffersFromUrineInfections}}</div>
								<div class="value">{{yesNo suffersFromUrineInfections}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">		
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthContinence.urineInfectionDescription}}</div>
								<div class="value">{{{urineInfectionDescription}}}</div>
							</div>							
						</div>				
					{{/modelData.appendixOne.continence}}		
				
					{{!-- Epilepsy --}}
					{{#modelData.appendixOne.epilepsy}}
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app1Comms.healthEpilepsy.title}}</strong></p>
							</div>	
						</div>			
						<div class="pure-g-r">						
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthEpilepsy.suffersFromEpilepsy}}</div>
								<div class="value">{{yesNo suffersFromEpilepsy}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthEpilepsy.seizureDescription}}</div>
								<div class="value">{{{seizureDescription}}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1-3 l-box">
								<div class="name">{{../labels.app1Comms.healthEpilepsy.epilepsyMonitored}}</div>
								<div class="value">{{yesNo epilepsyMonitored}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">		
							<div class="pure-u-1-3 l-box">
								<div class="name">{{../labels.app1Comms.healthEpilepsy.howOftenEpilepsyMonitored}}</div>
								<div class="value">{{howOftenEpilepsyMonitored}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1-3 l-box">
								<div class="name">{{../labels.app1Comms.healthEpilepsy.dateLastEpilepsyAppointment}}</div>
								<div class="value">{{dateFormat dateLastEpilepsyAppointment}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">			
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthEpilepsy.epilepsySpecialistName}}</div>
								<div class="value">{{epilepsySpecialistName}}</div>
							</div>
						</div>			
						<div class="pure-g-r">			
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthEpilepsy.epilepsySpecialistContactNumber}}</div>
								<div class="value">{{epilepsySpecialistContactNumber}}</div>
							</div>
						</div>			
						<div class="pure-g-r">		
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthEpilepsy.epilepsySpecialistAddress}}</div>
								<div class="value">{{epilepsySpecialistAddress}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">		
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthEpilepsy.emergencyMedProtocol}}</div>
								<div class="value">{{yesNo emergencyMedProtocol}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">						
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthEpilepsy.emergencyMedProtocolDescription}}</div>
								<div class="value">{{{emergencyMedProtocolDescription}}}</div>
							</div>	
						</div>						
					{{/modelData.appendixOne.epilepsy}}
				
					{{!-- Skin --}}
					{{#modelData.appendixOne.skin}}
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app1Comms.healthSkin.title}}</strong></p>
							</div>	
						</div>			
						<div class="pure-g-r">					
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthSkin.skinProblems}}</div>
								<div class="value">{{yesNo skinProblems}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1-2">
								&nbsp;
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthSkin.seenBySkinSpecialist}}</div>
								<div class="value">{{yesNo seenBySkinSpecialist}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthSkin.dateLastSkinAppointment}}</div>
								<div class="value">{{dateFormat dateLastSkinAppointment}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthSkin.skinSpecialistName}}</div>
								<div class="value">{{skinSpecialistName}}</div>
							</div>		
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthSkin.skinSpecialistContactNumber}}</div>
								<div class="value">{{skinSpecialistContactNumber}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthSkin.skinSpecialistAddress}}</div>
								<div class="value">{{skinSpecialistAddress}}</div>
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthSkin.skinTreatmentDescription}}</div>
								<div class="value">{{{skinTreatmentDescription}}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">							
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthSkin.skinSupportRequired}}</div>
								<div class="value">{{yesNo skinSupportRequired}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthSkin.skinSupportDescription}}</div>
								<div class="value">{{{skinSupportDescription}}}</div>
							</div>	
						</div>						
					{{/modelData.appendixOne.skin}}
				
					{{!-- Breathing Circulation --}}
					{{#modelData.appendixOne.breathingCirculation}}
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app1Comms.healthBreathingCirculation.title}}</strong></p>
							</div>	
						</div>			
						<div class="pure-g-r">					
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthBreathingCirculation.suffersFromBreathlessness}}</div>
								<div class="value">{{yesNo suffersFromBreathlessness}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthBreathingCirculation.breathlessnessDescription}}</div>
								<div class="value">{{{breathlessnessDescription}}}</div>
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthBreathingCirculation.respiratoryHeartProblems}}</div>
								<div class="value">{{yesNo respiratoryHeartProblems}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthBreathingCirculation.respiratoryHeartProblemsDescription}}</div>
								<div class="value">{{{respiratoryHeartProblemsDescription}}}</div>
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthBreathingCirculation.circulationProblems}}</div>
								<div class="value">{{yesNo circulationProblems}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthBreathingCirculation.circulationProblemsDescription}}</div>
								<div class="value">{{{circulationProblemsDescription}}}</div>
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthBreathingCirculation.breathingCirculationChecked}}</div>
								<div class="value">{{yesNo breathingCirculationChecked}}</div>	
							</div>		
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthBreathingCirculation.dateLastCirculationAppointment}}</div>
								<div class="value">{{dateFormat dateLastCirculationAppointment}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthBreathingCirculation.circulationSpecialistName}}</div>
								<div class="value">{{circulationSpecialistName}}</div>
							</div>		
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthBreathingCirculation.circulationSpecialistContactNumber}}</div>
								<div class="value">{{circulationSpecialistContactNumber}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthBreathingCirculation.circulationSpecialistAddress}}</div>
								<div class="value">{{circulationSpecialistAddress}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">				
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthBreathingCirculation.circulationSupportRequired}}</div>
								<div class="value">{{yesNo circulationSupportRequired}}</div>
							</div>		
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthBreathingCirculation.circulationSupportDescription}}</div>
								<div class="value">{{{circulationSupportDescription}}}</div>
							</div>	
						</div>						
					{{/modelData.appendixOne.breathingCirculation}}
				
					{{!-- Mens Health --}}
					{{#modelData.appendixOne.mensHealth}}
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app1Comms.healthMensHealth.title}}</strong></p>
							</div>	
						</div>			
						<div class="pure-g-r">					
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthMensHealth.attendsWellManClinic}}</div>
								<div class="value">{{yesNo attendsWellManClinic}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthMensHealth.attendsWellManClinicFrequency}}</div>
								<div class="value">{{attendsWellManClinicFrequency}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthMensHealth.mensHealthSpecialistName}}</div>
								<div class="value">{{mensHealthSpecialistName}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthMensHealth.mensHealthSpecialistContactNumber}}</div>
								<div class="value">{{mensHealthSpecialistContactNumber}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthMensHealth.mensHealthSpecialistAddress}}</div>
								<div class="value">{{mensHealthSpecialistAddress}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">				
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthMensHealth.carriesOutTesticularExaminations}}</div>
								<div class="value">{{yesNo carriesOutTesticularExaminations}}</div>
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app1Comms.healthMensHealth.lastDateTesticularExamination}}</div>
								<div class="value">{{dateFormat lastDateTesticularExamination}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthMensHealth.otherMensHealthIssues}}</div>
								<div class="value">{{yesNo otherMensHealthIssues}}</div>
							</div>		
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app1Comms.healthMensHealth.otherMensHealthIssuesDescription}}</div>
								<div class="value">{{{otherMensHealthIssuesDescription}}}</div>
							</div>	
						</div>	
					{{/modelData.appendixOne.mensHealth}}
				</div>		
	
				{{!-- Appendix 2--}}
				<div class="pure-u-1 l-box">
					{{!-- Context --}}
					{{#modelData.appendixTwo.context}}
						<p><strong>{{labels.app2MentalHealth.title}}</strong></p>
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app2MentalHealth.context.title}}</strong></p>
							</div>	
						</div>			
						<div class="pure-g-r">					
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app2MentalHealth.context.dateTimeAssessment}}</div>
								<div class="value">{{dateTimeFormat dateAndTimeOfAssessment}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app2MentalHealth.context.assessedBy}}</div>
								<div class="value">{{assessor}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.context.assessedWhere}}</div>
								<div class="value">{{assessmentLocation}}</div>	
							</div>
						</div>				
					{{/modelData.appendixTwo.context}}		
				
					{{!-- Mental State 1 --}}
					{{#modelData.appendixTwo.mentalState}}
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app2MentalHealth.mentalState1.title}}</strong></p>
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.mentalState1.mood}}</div>
								<div class="value">{{{mentalStateMood}}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{{../labels.app2MentalHealth.mentalState1.medication}}}</div>
								<div class="value">{{{mentalStateMedication}}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.mentalState1.moodWorseWhen}}</div>
								<div class="value">{{{mentalStateTimeWorse}}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{{../labels.app2MentalHealth.mentalState1.avoidingPeople}}}</div>
								<div class="value">{{{mentalStateAvoidingPeople}}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{{../labels.app2MentalHealth.mentalState1.futureSelf}}}</div>
								<div class="value">{{{mentalStateFuture}}}</div>	
							</div>									
						</div>					
					{{/modelData.appendixTwo.mentalState}}				
				
					{{!-- Mental State 2 --}}
					{{#modelData.appendixTwo.mentalState}}
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app2MentalHealth.mentalState2.title}}</strong></p>
							</div>	
						</div>			
						<div class="pure-g-r">						
							<div class="pure-u-1 l-box">
								<div class="name">{{{../labels.app2MentalHealth.mentalState2.thinkingOfHarming}}}</div>
								<div class="value">{{{mentalStateHarm}}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{{../labels.app2MentalHealth.mentalState2.worries}}}</div>
								<div class="value">{{{mentalStateWorries}}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.mentalState2.feelingUseful}}</div>
								<div class="value">{{{mentalStateUseful}}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.mentalState2.bodyControl}}</div>
								<div class="value">{{{mentalStateControl}}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{{../labels.app2MentalHealth.mentalState2.hearingVoices}}}</div>
								<div class="value">{{{mentalStateVoices}}}</div>	
							</div>
						</div>				
					{{/modelData.appendixTwo.mentalState}}		
				
					{{!-- Mental State 3 --}}
					{{#modelData.appendixTwo.mentalState}}
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app2MentalHealth.mentalState3.title}}</strong></p>
							</div>		
						</div>			
						<div class="pure-g-r">				
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.mentalState3.talkingTV}}</div>
								<div class="value">{{{mentalStateTalkingTV}}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.mentalState3.thoughtControl}}</div>
								<div class="value">{{{mentalStateThoughts}}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{{../labels.app2MentalHealth.mentalState3.seeingThings}}}</div>
								<div class="value">{{{mentalStateVisions}}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{{../labels.app2MentalHealth.mentalState3.touch}}}</div>
								<div class="value">{{{mentalStateSensations}}}</div>	
							</div>	
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{{../labels.app2MentalHealth.mentalState3.specialPurpose}}}</div>
								<div class="value">{{{mentalStateSpecialReason}}}</div>	
							</div>							
						</div>				
					{{/modelData.appendixTwo.mentalState}}		
				
					{{!-- Place Orientation --}}
					{{#modelData.appendixTwo.orientation}}
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app2MentalHealth.placeOrientation.title}}</strong></p>
							</div>			
						</div>			
						<div class="pure-g-r">				
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.placeOrientation.whereAmI}}</div>
								<div class="value">{{placeWhere}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.placeOrientation.whichCountry}}</div>
								<div class="value">{{placeCountry}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.placeOrientation.whereInCountry}}</div>
								<div class="value">{{placePartOfCountry}}</div>	
							</div>						
						</div>						
					{{/modelData.appendixTwo.orientation}}
						
					{{!-- Time Orientation --}}
					{{#modelData.appendixTwo.orientation}}
						<div class="pure-g-r">			
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app2MentalHealth.timeOrientation.title}}</strong></p>
							</div>		
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.timeOrientation.whichDay}}</div>
								<div class="value">{{timeDay}}</div>	
							</div>		
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.timeOrientation.whichMonth}}</div>
								<div class="value">{{timeMonth}}</div>	
							</div>		
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.timeOrientation.whichYear}}</div>
								<div class="value">{{timeYear}}</div>	
							</div>		
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.timeOrientation.whatTime}}</div>
								<div class="value">{{timeTime}}</div>	
							</div>		
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.timeOrientation.whichPartOfDay}}</div>
								<div class="value">{{enumType timePartOfDay ../otherData.enumTypes.dayPart}}</div>	
							</div>									
						</div>									
					{{/modelData.appendixTwo.orientation}}
				
					{{!-- Sleep Pattern --}}
					{{#modelData.appendixTwo.wellbeing}}
						<div class="pure-g-r">		
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app2MentalHealth.sleepPattern.title}}</strong></p>
							</div>				
						</div>			
						<div class="pure-g-r">				
							<div class="pure-u-1 l-box">
								<div class="name">{{{../labels.app2MentalHealth.sleepPattern.sleepPattern}}}</div>
								<div class="value">{{{sleepPattern}}}</div>	
							</div>
						</div>						
					{{/modelData.appendixTwo.wellbeing}}
				
					{{!-- Appetite --}}
					{{#modelData.appendixTwo.wellbeing}}
						<div class="pure-g-r">		
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app2MentalHealth.appetite.title}}</strong></p>
							</div>					
						</div>			
						<div class="pure-g-r">		
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.appetite.appetiteLike}}</div>
								<div class="value">{{{appetiteDescription}}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.appetite.whenAreYouEating}}</div>
								{{#each appetite}}
									<div class="value">
										{{enumType this ../../otherData.enumTypes.appetite}}
									</div>	 
								{{/each}}
							</div>
						</div>						
					{{/modelData.appendixTwo.wellbeing}}
				
					{{!-- Feelings --}}
					{{#modelData.appendixTwo.wellbeing}}
						<div class="pure-g-r">		
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app2MentalHealth.feelings.title}}</strong></p>
							</div>	
						</div>			
						<div class="pure-g-r">					
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.feelings.achesPains}}</div>
								<div class="value">{{{feelingsAchesAndPains}}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{{../labels.app2MentalHealth.feelings.enjoyingLife}}}</div>
								<div class="value">{{{feelingsEnjoyingLife}}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{{../labels.app2MentalHealth.feelings.forgetful}}}</div>
								<div class="value">{{{feelingsConcentration}}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.feelings.energy}}</div>
								<div class="value">{{{feelingsEnergy}}}</div>	
							</div>
						</div>						
					{{/modelData.appendixTwo.wellbeing}}
					
					{{!-- Other --}}
					{{#modelData.appendixTwo.wellbeing}}
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app2MentalHealth.other.title}}</strong></p>
							</div>		
						</div>			
						<div class="pure-g-r">				
							<div class="pure-u-1 l-box">
								<div class="name">{{{../labels.app2MentalHealth.other.generalHealth}}}</div>
								<div class="value">{{{otherGeneralHealth}}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{{../labels.app2MentalHealth.other.emotions}}}</div>
								<div class="value">{{{otherFeelings}}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.other.anxiety}}</div>
								{{#each anxiety}}
									<div class="value">
										{{enumType this ../../otherData.enumTypes.anxiety}}
									</div>	
								{{/each}}
							</div>
						</div>						
					{{/modelData.appendixTwo.wellbeing}}
				
					{{!-- Outcome --}}
					{{#modelData.appendixTwo.outcome}}
						<div class="pure-g-r">					
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app2MentalHealth.outcome.title}}</strong></p>
							</div>			
						</div>			
						<div class="pure-g-r">				
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app2MentalHealth.outcome.outcomes}}</div>
								<div class="value">{{{outcomes}}}</div>	
							</div>						
						</div>		
					{{/modelData.appendixTwo.outcome}}				
				</div>
	
				{{!-- Appendix 3--}}
				<div class="pure-u-1 l-box">
					<p><strong>{{labels.app3Behaviour.title}}</strong></p>
					{{!-- Context --}}						
					{{#modelData.appendixThree.context}}
						<div class="pure-g-r">			
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app3Behaviour.context.title}}</strong></p>
							</div>			
						</div>			
						<div class="pure-g-r">				
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app3Behaviour.context.assessmentDateTime}}</div>
								<div class="value">{{dateTimeFormat dateAndTimeOfAssessment}}</div>	
							</div>
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.app3Behaviour.context.assessedBy}}</div>
								<div class="value">{{assessor}}</div>	
							</div>
						</div>						
					{{/modelData.appendixThree.context}}
				
					{{!-- Behaviour 1 --}}						
					{{#modelData.appendixThree.behaviour}}
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app3Behaviour.behaviour1.title}}</strong></p>
							</div>		
						</div>			
						<div class="pure-g-r">						
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app3Behaviour.behaviour1.what}}</div>
								<div class="value">{{{behaviourWhat}}}</div>
							</div>		
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app3Behaviour.behaviour1.where}}</div>
								<div class="value">{{{behaviourWhere}}}</div>
							</div>		
						</div>			
						<div class="pure-g-r">					
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app3Behaviour.behaviour1.frequency}}</div>
								<div class="value">{{{behaviourFrequency}}}</div>
							</div>		
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app3Behaviour.behaviour1.duration}}</div>
								<div class="value">{{{behaviourDuration}}}</div>
							</div>		
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app3Behaviour.behaviour1.triggers}}</div>
								<div class="value">{{{behaviourTriggers}}}</div>
							</div>							
						</div>						
					{{/modelData.appendixThree.behaviour}}	
				
					{{!-- Behaviour 2 --}}						
					{{#modelData.appendixThree.behaviour}}
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<p><strong>{{../labels.app3Behaviour.behaviour2.title}}</strong></p>
							</div>					
						</div>			
						<div class="pure-g-r">		
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app3Behaviour.behaviour2.consequencesImpact}}</div>
								<div class="value">{{{behaviourConsequences}}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app3Behaviour.behaviour2.responseToBehaviour}}</div>
								<div class="value">{{{behaviourResponse}}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app3Behaviour.behaviour2.howLongBehaviourPresent}}</div>
								<div class="value">{{{behaviourHowLongPresent}}}</div>
							</div>	
						</div>			
						<div class="pure-g-r">	
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.app3Behaviour.behaviour2.desiredAlternatives}}</div>
								<div class="value">{{{behaviourAspirations}}}</div>
							</div>	
						</div>	
					{{/modelData.appendixThree.behaviour}}
				</div>
			</div>					
		</div>
	</div>
	<div class="pure-g-r">
		<div class="pure-u-1-3 l-box">
			<div>Intake form</div>
		</div>
		<div class="pure-u-1-3 l-box">
				<div>{{formStatePrint modelData}}</div>
		</div>
		<div class="pure-u-1-3 l-box">
				<div class="pull-right">Last updated: {{dateFormat modelData.lastUpdated}}</div>
		</div>
	</div>
</div>