<div class="pure-g-r readonly">
	<div class="pure-u-1 l-box">
		<p><strong>Introduction</strong></p> 
		<p>&nbsp;</p> 
		<p>This tool is used to draw together needs assessment, risk assessment, review and evaluation into a straight-forward, integrated approach.</p> 
		<p>This tool is divided in to 4 main areas:</p> 
		<ul>  
		<li>Initial assessment of intervention/expectations, thereafter the tool becomes the on-going care planning and support document</li>  
		<li>Risk assessment, this linked to each section of the care planning interventions.</li>  
		<li>Service User agreement to the interventions or where they may be mental capacity issues an area for the Care Team to approve.</li>  
		<li>Care plan review/progress part.</li> 
		</ul> 
		<p>&nbsp;</p> 
		<p>The tool can be used for initial assessment and identification of care and support planning. It can also be used for reviewing placements that already have been made.</p> 
		<p>&nbsp;</p> 
		<p>The format allows for discussion and the involvement of the Service User in terms of agreeing to the proposed areas of support and the emerging risks and how they are to be managed.&nbsp;</p> 
		<p>&nbsp;</p> 
		<p>This tool is the dialogue and agreement with the Service User/Carer and Commissioner (where involved), concerning how identified care outcomes will be met, how interventions will be risk assessed and the progress made over time.</p> 
		<p>&nbsp;</p> 
		<p><strong>Purpose of Care Plan </strong></p> 
		<p>The purpose of the care plan is to ensure that all {{modelData.subject.name}}&rsquo;s needs are met appropriately and safely. The needs include Health, Education, Social, Emotional and Identity needs. The Plan also considers the importance of maintaining and developing contact with family and friends. The care plan promotes a person centred approach that is to be adopted by all staff involved in {{modelData.subject.name}}&rsquo;s day to day care and support.</p> 
		<p>&nbsp;</p> 
		<p><strong>Sources of Information </strong></p> 
		<ul>  
		<li>{{modelData.subject.name}} has had the opportunity to share {{#if modelData.subjectIsFemale}}her{{else}}his{{/if}} views and to be involved in developing {{#if modelData.subjectIsFemale}}her{{else}}his{{/if}} own care plan.</li>  
		<li>Information has been shared by Professionals involved in {{#if modelData.subjectIsFemale}}her{{else}}his{{/if}} care .</li>  <li>Historical information from case recording and risk assessments from Hospital.</li>  
		<li>Information from Allocated Social Worker, Community Learning Disabilities Team, Advocate &nbsp;</li> 
		</ul> 
		<p>&nbsp;</p> 
		<p><strong>Implementing the Care Plan </strong></p> 
		<p>The plan should be read by all staff involved in the care and support of {{modelData.subject.name}}. This plan is to be referred to by staff on a daily basis to ensure a consistent approach. Daily Recording Sheets should be completed by staff with regard to each need following each event as outlined in the care plan. The care plan should be implemented in conjunction with the risk assessments which are referred to within the care plan. The Risk Assessments <strong>must</strong> be adhered to at all times by staff to prevent possible harm to {{modelData.subject.name}} or others.</p> 
		<p>&nbsp;</p> 
		<p><strong>Review of Care Plan </strong></p> 
		<p>The care plan will be evaluated by the Deputy Manager, as a minimum, on a three monthly basis or as required to meet {{modelData.subject.name}}&rsquo;s needs. The plan will also be reviewed with all involved professionals, as part of the Care Programme Approach, on a three/six monthly basis as a minimum or as required. A short three/six monthly report will be completed by Resolved and shared with professionals involved in {{modelData.subject.name}}&rsquo;s care at CPA Meetings.</p>
   	</div>  		
</div>		
