<form action="#none" id="editProgressReportForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        <div class="pure-u-1-2 l-box">
            <div class="name">{{labels.planType}}</div>
            <div class="value">{{enumType modelData.planType codedEntries.planType}}</div>
        </div>
        <div class="pure-u-1-2 l-box">
            <label for="editProgressReportForm_reviewDate">{{labels.reviewDate}}</label>
            <input id="editProgressReportForm_reviewDate" type="text" class="pure-input-1" name="reviewDate" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.reviewDate}}" maxlength="11" />
        </div>
        <div class="pure-u-1-1 l-box">
            <label for="editProgressReportForm_minimalProgressSummary">{{labels.minimalProgressSummary}}</label>
            <div data-name="minimalProgressSummary" class="formRichTextInput" id="cpraEditForm_minimalProgressSummary" contenteditable="true">{{{modelData.minimalProgressSummary}}}</div>
        </div>
        <div class="pure-u-1-1 l-box">
            <label for="editProgressReportForm_fairProgressSummary">{{labels.fairProgressSummary}}</label>
            <div data-name="fairProgressSummary" class="formRichTextInput" id="cpraEditForm_fairProgressSummary" contenteditable="true">{{{modelData.fairProgressSummary}}}</div>
        </div>
        <div class="pure-u-1-1 l-box">
            <label for="editProgressReportForm_goodProgressSummary">{{labels.goodProgressSummary}}</label>
            <div data-name="goodProgressSummary" class="formRichTextInput" id="cpraEditForm_goodProgressSummary" contenteditable="true">{{{modelData.goodProgressSummary}}}</div>
        </div>
        <div class="pure-u-1-1 l-box">
            <label for="editProgressReportForm_majorProgressSummary">{{labels.majorProgressSummary}}</label>
            <div data-name="majorProgressSummary" class="formRichTextInput" id="cpraEditForm_majorProgressSummary" contenteditable="true">{{{modelData.majorProgressSummary}}}</div>
        </div>
    </div>
</form>
