<div class="pure-g-r readonly">

	<div class="pure-u-1 l-box">
		<div class="name">{{labels.subjectAuthorisationDates}}</div>
		<div class="value">
			<ul>
			{{#each modelData.subjectAuthorisationDates}}
				<li>{{dateFormat this}}</li>
			{{/each}}
			</ul>
		</div>
	</div>

	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.name}}</div>
		<div class="value">{{modelData.initiator.name}}</div>	
   	</div>
    		
</div>