<div class="pure-g-r readonly">

	<div class="pure-u-1 l-box">
		<div class="name">{{labels.specificCommunicationNeeds}}</div>
		<div class="value">{{{modelData.specificCommunicationNeeds}}}</div>	
	</div>

	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.historyOfSpecificRisks}}</div>
		<div class="value">{{{modelData.historyOfSpecificRisks}}}</div>	
   	</div>
    		
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.historicalRiskLevel}}</div>
		<div class="value">{{enumType modelData.historicalRiskLevel codedEntries.historicalRiskLevels}}</div>	
   	</div>

    <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if modelData.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>