<form action="#none" id="cpraEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/modelData}}
        <div class="pure-u-1-1 l-box">
            <label for="cpraEditForm_carersPerspective">{{labels.carersPerspective}}</label>
            <div data-name="carersPerspective" class="formRichTextInput" id="cpraEditForm_carersPerspective" contenteditable="true">{{{modelData.carersPerspective}}}</div>
        </div>
    </div>
</form>
