{{! Iterate round each item in the model list}}
{{#modelList}}
	<div class="pure-g-r progressReport">
		<div class="pure-u-1 l-box">
			<div class="inner-panel">
				<div class="pure-g-r">
					<div class="pure-u-1-2 l-box">
						<div class="name">{{../labels.planType}}</div>
						<div class="value embolden">{{enumType planType ../enumTypes.planType}}</div>	
					</div>
					<div class="pure-u-1-2 l-box">
						<div class="name">{{../labels.reviewDate}}</div>
						<div class="value">{{dateFormat reviewDate}}</div>	
					</div>
					<div class="pure-u-1-2 l-box">
						<div class="name">{{../labels.minimalProgressSummary}}</div>
						<div class="value">{{{minimalProgressSummary}}}</div>	
					</div>
					<div class="pure-u-1-2 l-box">
						<div class="name">{{../labels.fairProgressSummary}}</div>
						<div class="value">{{{fairProgressSummary}}}</div>	
					</div>
					<div class="pure-u-1-2 l-box">
						<div class="name">{{../labels.goodProgressSummary}}</div>
						<div class="value">{{{goodProgressSummary}}}</div>	
					</div>					
					<div class="pure-u-1-2 l-box">
						<div class="name">{{../labels.majorProgressSummary}}</div>
						<div class="value">{{{majorProgressSummary}}}</div>	
					</div>					
										
					<div class="pure-u-1 l-box">
				        <div class="pure-button-group pull-right">
            				{{#if ../formModel.canUpdate}}
				                <button type="button" data-id="{{id}}" class="pure-button pure-button-active edit"><i class="fa fa-pencil-square-o"></i>{{../../labels.edit}}</button>
				            {{else}}
				                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{../../labels.edit}}</button>
				            {{/if}}
				        </div>  
			    	</div>					
				</div>					
			</div>
		</div> 
	</div>
{{/modelList}}