<form action="#none" id="cpraEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/modelData}}
        <div class="pure-u-1-1 l-box">
            <label for="cpraEditForm_relativeAdvocateComments">{{labels.relativeAdvocateComments}}</label>
            <div data-name="relativeAdvocateComments" class="formRichTextInput" id="cpraEditForm_relativeAdvocateComments" contenteditable="true">{{{modelData.relativeAdvocateComments}}}</div>
        </div>
    </div>
</form>
