<form action="#none" id="cpraEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/modelData}}
        <div class="pure-u-1-1 l-box">
            <label for="cpraEditForm_specificCommunicationNeeds">{{labels.specificCommunicationNeeds}}</label>
            <div data-name="specificCommunicationNeeds" class="formRichTextInput" id="cpraEditForm_specificCommunicationNeeds" contenteditable="true">{{{modelData.specificCommunicationNeeds}}}</div>
        </div>
        <div class="pure-u-1-2 l-box">
            <label for="cpraEditForm_historyOfSpecificRisks">{{labels.historyOfSpecificRisks}}</label>
            <div data-name="historyOfSpecificRisks" class="formRichTextInput" id="cpraEditForm_historyOfSpecificRisks" contenteditable="true">{{{modelData.historyOfSpecificRisks}}}</div>
        </div>

        <div class="pure-u-1-2 l-box">
            <label for="cpraEditForm_historicalRiskLevel">{{labels.historicalRiskLevel}}</span></label>
            <select id="cpraEditForm_historicalRiskLevel" class="pure-input-1" name="historicalRiskLevel"></select>
        </div>
    </div>
</form>
