{{! Iterate round each item in the model list}}
{{#modelList}}
	<div class="pure-g-r keyArea">
		<div class="pure-u-1 l-box">
			<div class="inner-panel">
				<div class="pure-g-r">
					<div class="pure-u-1 l-box">
						<div class="name">{{../labels.keyAreaIdentifier}}</div>
						<div class="value embolden">{{name}}</div>	
					</div>
					<div class="pure-u-1-2 l-box">
						<div class="name">{{../labels.requiredPlanOfSupport}}</div>
						<div class="value">{{{requiredPlanOfSupport}}}</div>				
					</div>
					<div class="pure-u-1-2 l-box">
						<div class="name">{{../labels.progressOutcome}}</div>
						<div class="value">{{{progressOutcome}}}</div>				
					</div>
					<div class="pure-u-1 l-box">
				        <div class="pure-button-group pull-right">
				            {{#if ../formModel.canUpdate}}
				                <button type="button" data-id="{{id}}" class="pure-button pure-button-active edit"><i class="fa fa-pencil-square-o"></i>{{../../labels.edit}}</button>
				            {{else}}
				                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{../../labels.edit}}</button>
				            {{/if}}
				        </div>  
			    	</div>					
				</div>					
			</div>
		</div> 
	</div>
{{/modelList}}