<form action="#none" id="addRiskForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        <div class="pure-u-1-1 l-box">
            <label for="addRiskForm_risk">{{labels.risk}} <span class="mandatory">*</span></label>
            <div data-name="risk" class="formRichTextInput" id="addRiskForm_risk" contenteditable="true">{{{modelData.risk}}}</div>
        </div>
        <div class="pure-u-1-3 l-box">
            <label for="addRiskForm_likelihood">{{labels.likelihood}} <span class="mandatory">*</span></label>
            <select id="addRiskForm_likelihood" class="pure-input-1" name="likelihood"></select>
        </div>
        <div class="pure-u-1-3 l-box">
            <label for="addRiskForm_impact">{{labels.impact}} <span class="mandatory">*</span></label>
            <select id="addRiskForm_impact" class="pure-input-1" name="impact"></select>
        </div>
        <div class="pure-u-1-3 l-box">
            <div class="name">{{labels.total}} <span class="mandatory">*</span></div>
            <div class="value" id="addRiskForm_total"></div>
        </div>
        <div class="pure-u-1-1 l-box">
            <label for="addRiskForm_riskManagementActivity">{{labels.riskManagementActivity}}</label>
            <div data-name="riskManagementActivity" class="formRichTextInput" id="addRiskForm_riskManagementActivity" contenteditable="true">{{{modelData.riskManagementActivity}}}</div>
        </div>
        <div class="pure-u-1-3 l-box">
            <label for="addRiskForm_revisedLikelihood">{{labels.revisedLikelihood}}</label>
            <select id="addRiskForm_revisedLikelihood" class="pure-input-1" name="revisedLikelihood"></select>
        </div>
        <div class="pure-u-1-3 l-box">
            <label for="addRiskForm_revisedImpact">{{labels.revisedImpact}}</label>
            <select id="addRiskForm_revisedImpact" class="pure-input-1" name="revisedImpact"></select>
        </div>
        <div class="pure-u-1-3 l-box">
            <div class="name">{{labels.revisedTotal}}</div>
            <div class="value" id="addRiskForm_revisedTotal"></div>
        </div>
        <div class="pure-u-1-3 l-box">
            <label for="addRiskForm_riskDate">{{labels.date}}</label>
            <input id="addRiskForm_riskDate" type="text" class="pure-input-1" name="riskDate" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.date}}" maxlength="11" />
        </div>
    </div>
</form>
