<form action="#none" id="cpraEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/modelData}}
        <div class="pure-u-1-1 l-box">
            <label for="cpraEditForm_serviceUserComments">{{labels.serviceUserComments}}</label>
            <div data-name="serviceUserComments" class="formRichTextInput" id="cpraEditForm_serviceUserComments" contenteditable="true">{{{modelData.serviceUserComments}}}</div>
        </div>
    </div>
</form>
