<form action="#none" id="editKeyAreaForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        <div class="pure-u-1-1 l-box">
            <div class="name">{{labels.keyAreaIdentifier}}</div>
            <div class="value">{{modelData.name}}</div>
        </div>
        <div class="pure-u-1-1 l-box">
            <label for="editKeyAreaForm_requiredPlanOfSupport">{{labels.requiredPlanOfSupport}}</label>
            <div data-name="requiredPlanOfSupport" class="formRichTextInput" id="editKeyAreaForm_requiredPlanOfSupport" contenteditable="true">{{{modelData.requiredPlanOfSupport}}}</div>
        </div>
        <div class="pure-u-1-1 l-box">
            <label for="editKeyAreaForm_progressOutcome">{{labels.progressOutcome}}</label>
            <div data-name="progressOutcome" class="formRichTextInput" id="editKeyAreaForm_progressOutcome" contenteditable="true">{{{modelData.progressOutcome}}}</div>
        </div>
    </div>
</form>
