<form method="#none" id="aftercareProvisionAddForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
            <div class="pure-u-1-2 l-box">
                <label for="provisionType">{{labels.provisionType}}<span class="mandatory"> *</span></label>
                <select id="provisionType" name="provisionType" class="pure-input-1"></select>
            </div>
            <div class="pure-u-1-2"></div>
	            <div class="pure-u-1-2 l-box">
	                <label for="startDate">{{labels.startDate}}<span class="mandatory"> *</span></label>
	                <input id="startDate" type="text" name="startDate" class="pure-input-1" placeholder="DD-MMM-YYYY" />
	            </div>
	            <div class="pure-u-1-2 l-box">
	                <label for="endDate">{{labels.endDate}}</label>
	                <input id="endDate" type="text" name="endDate" class="pure-input-1" placeholder="DD-MMM-YYYY"/>
	            </div>
	            <div class="pure-u-1-2 l-box" id="carerWrapper">
	            	<label for="continuingCareSubjectSearchWrapper">{{labels.carer}}<span class="mandatory"> *</span></label>
								<div id="supportedLodgingsCarerSubjectTypeWrapper" style="display:none;">
									<fieldset id="supportedLodgingsCarerSubjectType">
										<div class="fieldset-wrap pure-g-r">
											<div class="pure-u-1-4 l-box">
												<label class="pure-radio" >
													<input id="supportedLodgingsCarerSubjectTypePerson" type="radio" name="supportedLodgingsCarerSubjectType" value="PERSON" checked/> Per.
												</label>
											</div>
											<div class="pure-u-1-4 l-box">
												<label class="pure-radio" >
													<input id="supportedLodgingsCarerSubjectTypeOrganisation" type="radio" name="supportedLodgingsCarerSubjectType" value="ORGANISATION" /> Org.
												</label>
											</div>
										</div>
									</fieldset>
								</div>
								<div id="carerSubjectSearchWrapper"></div>
							</div>
        </div>
    </div>
</form>