<div class="pure-g-r readonly">
	<div class="pure-u-1-2 l-box">
    <div class="name">{{labels.provisionType}} </div>
    <div class="value">{{enumType modelData.provisionType enumTypes.afterCareProvisionType}}</div>
  </div>
  <div class="pure-u-1-2"></div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.startDate}}</div>
    <div class="value">{{dateFormat modelData.startDate}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.endDate}} </div>
    <div class="value">{{dateFormat modelData.endDate}}</div>
  </div>
  <div class="pure-u-1-2 l-box">
    <div class="name">{{labels.carer}}</div>
    <div class="value">{{modelData.carer.name}}</div>
  </div>
</div>