<form method="#none" id="aftercareAddForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
            <fieldset id="receivingAfterCare">
                <legend for="receivingAfterCare" class="receivingAfterCareFieldLabel">{{labels.receivingAfterCare}}</legend>
                <div class="fieldset-wrap pure-g-r">
                    <div class="pure-u-1-4 l-box">
                        <label class="pure-radio" for="receivingAfterCareYes">
                            <input class="pure-input-1" id="receivingAfterCareYes" type="radio" name="receivingAfterCare" value="true" checked="true" /> Yes
                        </label>
                    </div>
                    <div class="pure-u-1-4 l-box">
                        <label class="pure-radio" for="receivingAfterCareNo">
                            <input class="pure-input-1" id="receivingAfterCareNo" type="radio" name="receivingAfterCare" value="false"/> No
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="pure-u-1-2 l-box">

        </div>

        <div class="pure-u-1-2 l-box">
            <label for="aftercareEligibility">{{labels.eligibility}}</label>
            <div id="aftercareEligibility" class="pure-input-1"></div>
        </div>
        <div class="pure-u-1-2 l-box">
            <label for="contactDate">{{labels.contactDate}}<span class="mandatory"> *</span></label>
            <input id="contactDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="contactDate"/>
        </div>
        <div id="servicesWrapper" class="pure-u-1-1 l-box">
            <div>
                <label for="economicActivity">{{labels.economicActivity}}<span class="mandatory"> *</span></label>
                <select id="economicActivity" name="economicActivity" class="pure-input-1" disabled></select>
            </div>
            <div>
                <label for="accommodation">{{labels.accommodation}}<span class="mandatory"> *</span></label>
                <select id="accommodation" name="accommodation" class="pure-input-1" disabled></select>
            </div>
        </div>
        <div class="pure-u-1-1 l-box hidden-nav" id="endReason">
            <div>
                <label for="servicesEndReason">{{labels.servicesEndReason}}</label>
                <select id="servicesEndReason" name="servicesEndReason" class="pure-input-1"></select>
            </div>
        </div>
        
    </div>
</form>