<form method="#none" id="aftercareAddContactForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        <div class="pure-u-1-2 l-box">
            <label for="contactDate">{{labels.contactDate}}<span class="mandatory"> *</span></label>
            <input id="contactDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="contactDate"/>
        </div>
        <div id="servicesWrapper" class="pure-u-1-1 l-box">
            <div>
                <label for="economicActivity">{{labels.economicActivity}}<span class="mandatory"> *</span></label>
                <select id="economicActivity" name="economicActivity" class="pure-input-1"></select>
            </div>
            <div>
                <label for="accommodationType">{{labels.accommodation}}<span class="mandatory"> *</span></label>
                <select id="accommodationType" name="accommodationType" class="pure-input-1"></select>
            </div>
        </div>
    </div>
</form>