<form action="#none" id="afterCareEndForm" class="pure-form pure-form-stacked">
		<div class="pure-g-r">
			<div class="pure-u-1-2 l-box">
					<label for="endDate">{{labels.endDate}}<span class="mandatory"> *</span></label>
					<input id="endDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="endDate"/>
			</div>
			<div class="pure-u-1-2 l-box">
					<label for="endReason">{{labels.endReason}}</label>
					<select id="endReason" class="pure-input-1" name="endReason"></select>
			</div>
			<div class="pure-u-1 l-box">
					<div class="pure-alert pure-alert-block pure-alert-warning">
						<h4>{{labels.endAftercareWarning}}</h4>
					</div>
			</div>
		</div>
</form>  
