<form method="#none" id="aftercareProvisionEditForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.provisionType}} </div>
      <div class="value">{{enumType modelData.provisionType enumTypes.afterCareProvisionType}}</div>
    </div>
    <div class="pure-u-1-2"></div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.startDate}}</div>
      <div class="value">{{dateFormat modelData.startDate}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="endDate">{{labels.endDate}}  <span class="mandatory">*</span></label>
      <input id="endDate" type="text" name="endDate" class="pure-input-1" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.endDate}}"/>
    </div>
    <div class="pure-u-1-2 l-box">
      <div class="name">{{labels.carer}}</div>
      <div class="value">{{modelData.carer.name}}</div>
    </div>
  </div>
</form>