 
      <form class='pure-form pure-form-stacked'>
      <div class="pure-g-r">
        <div class="pure-u-1 l-box">
          <div class="pure-narrative"><span class="narrative-summary">You're adding a service for</span><br/><span class="narrative-description">Fred Jones (PER21)</span></div>
        </div>
        <div class="pure-u-1 l-box">          
          <label for="service-type">Service type <span class="mandatory">*</span></label>  
            <select name="service-type" class="pure-input-1" id="service-type">           
            	<option value="" selected="selected">Please choose</option>
            	<option value="">Residential care</option>
          </select>    
        </div>
        <div class="pure-u-1 l-box">          
          <label for="service-type">Service sub-type <span class="mandatory">*</span></label>  
                <select name="service-type" class="pure-input-1" id="service-type">   
                	<option value="" selected="selected">Please choose</option>        
            		<option value="">Long-term or permanent</option>
            		<option value="">Nursing care</option>
            		<option value="">Respite and short breaks</option>
          </select>    
        </div>
        <div class="pure-u-1-1 l-box">          
          <fieldset class="pure-u-1">
            <legend>Frequency</legend>
            <div class="pure-g-r">
              <div class="pure-u-1-4">
                <label class="pure-radio">
                      <input id="Ongoing" type="radio" name="Frequency" value="Ongoing">On-going
                      </label>
              </div>
              <div class="pure-u-1-4 l-box">
                <label class="pure-radio">
                <input id="Oneoff" type="radio" name="Frequency" value="Oneoff">One-off
                </label>
              </div>
            </div>  
          </fieldset> 
         </div>   

        </form>
      </div>
      

  