     
    <form class="pure-form pure-form-stacked">
      <div class="pure-g-r">
        <div class="pure-u-1 l-box">
          <div class="pure-narrative"><span class="narrative-summary">You're adding a service for</span><br/><span class="narrative-description"> Fred Jones (PER21)</span><span class="narrative-summary">for Residential care/Longterm or permanent</span></div>
        </div>
     <div class='pure-form-stacked'>   
      <div class="pure-g-r">
        <div class="pure-u-1-1 l-box">          
          <fieldset class="pure-u-1">
            <legend>Who benefits most from the service?</legend>
            <div class="pure-g-r">
              <div class="pure-u-1-4">
                <label class="pure-radio">
                      <input id="Client" type="radio" name="Beneficiary" value="Client">Client
                      </label>
              </div>
              <div class="pure-u-1-4 l-box">
                <label class="pure-radio">
                <input id="Carer" type="radio" name="Beneficiary" value="Carer">Carer
                </label>
              </div>
            </div>  
          </fieldset>   
        </div>
        </div>
        <div class="pure-g-r">
        <div class="pure-u-1-2 l-box">
          <label for="service-start-date">Service start date</label>  
                <div class="input-group input-append">
                  <input type="text" class="pure-input-1" name="startDate" id="service-start-date" maxlength="11" value="11-SEP-2014">
                  <span><a class="pure-button pure-button-active pure-button-cal" title="Display calendar"><i class="fa fa-calendar"></i></a></span>
                </div>  
        </div>
     
        <div class="pure-u-1-2 l-box">
          <label for="service-end-date">Service end date</label>  
                <div class="input-group input-append">
                  <input type="text" class="pure-input-1" name="startDate" id="service-end-date" maxlength="11" placeholder="DD-MMM-YYYY">
                  <span><a class="pure-button pure-button-active pure-button-cal" title="Display calendar"><i class="fa fa-calendar"></i></a></span>
                </div>  
          </div>
          </div>
          <div class="pure-g-r">
        <div class="pure-u-1-2 l-box">          
            <label for="service-delivery-frequency">How often is the service delivered?</label>  
              <select name="service-delivery-frequency" class="pure-input-1" id="service-delivery-frequency">           
             <option value="" selected="selected">Please choose</option>
             <option value="">Every week</option>
             <option value="">Every fortnight</option>
             <option value="">Every month</option>
            </select>    
        </div>
           <div class="pure-u-1-2 l-box">          
          <label for="provision-basis">Provision basis</label>  
                <select name="provision-basis" class="pure-input-1" id="provision-basis">  
<option value="" selected="selected">Please choose</option>	        
            <option value="">Long term support</option>
            <option value="">Short term support</option>
            <option value="">End of life</option>
          </select>    
        </div>
        </div>
        <div class="pure-g-r">
        <div class="pure-u-1-2 l-box">
          <label for="responsible-worker">Responsible worker</label>
          <input id="responsible-worker" class="pure-input-1 yui3-aclist-input" name="responsible-worker" maxlength="100" type="text" placeholder="Enter person name or ID">
        </div>
        <div class="pure-u-1-2 l-box">
          <label for="responsible-team">Responsible team</label>
          <input id="responsible-team" class="pure-input-1" name="responsible-team" maxlength="100" type="text" value="Newtown Adults Team" readonly="readonly">
        </div>
        <div class="pure-u-1-2 l-box">          
          <label for="originating-assessment">Originating assessment or support plan</label>  
                <select name="originating-assessment" class="pure-input-1" id="originating-assessment">           
            <option value="">Needs assessment, 02-SEP-2014</option>
          </select>    
        </div>
        <div class="pure-u-1-2 l-box">          
          <label for="personal-budget">Personal budget</label>  
                <select name="personal-budget" class="pure-input-1" id="personal-budget">           
            <option value="">Please choose</option>
          </select>    
        </div>
     
        </div>
        
      </div>
    </div>
    </form>
  