

<div class="pure-g-r"> 
  
  <div class="pure-u-1 l-box">
    <div class="pure-narrative">
      <span class="narrative-summary">You're editing the service for</span><br />
      <span class="narrative-description">Fred Jones (PER21)</span> for<br />
      <span class="narrative-summary">Residential care/Longterm or permanent</span>
    </div>
  </div>

  <div class="pure-u-1 l-box">
    <div class="pure-info">
      <p class="estimatedInfo">Cost information is missing. This service cannot be
      completed for authorisation.</p>
    </div>
  </div>
  
</div>


<div class="yui3-widget yui3-tabview l-box">
    <div id="demo" class="yui3-tabview-content">
        
        <ul class="yui3-tabview-list">
            <li class="yui3-tab yui3-widget yui3-tab-selected"><a href="#service" class="yui3-tab-label yui3-tab-content">Service details</a></li>
            <li class="yui3-tab yui3-widget"><a href="#costs" class="yui3-tab-label yui3-tab-content">Costs</a></li>
            <li class="yui3-tab yui3-widget"><a href="#charges" class="yui3-tab-label yui3-tab-content">Charges</a></li>           
        </ul>
        
        <div class="yui3-tabview-panel" >
            <div id="service" class="yui3-tab-panel">
                <form class="pure-form pure-form-stacked">
                    
                    <div class="pure-g-r">

                        <div class="pure-u-1 l-box">
                          <label for="provider">Provider</label>
                
                          <div class="value">
                            Cheshunt Care Home (ORG10039)
                
                            <div class="linkRight">
                              <a href="#none" id="changeName" class="small edit-PersonName" title=
                              "Change provider" name="changeName">Change</a>
                            </div>
                          </div>
                        </div>
                    </div> 

    
  <div class="pure-g-r">
    <div class="pure-u-1-4 l-box">
      <label for="service-start-date">Service start date</label>  
              <div class="input-group input-append">
                <input type="text" class="pure-input-1 smallInput" name="startDate" id="service-start-date" maxlength="11" value="11-JAN-2013">
                <span><a class="pure-button pure-button-active pure-button-cal" title="Display calendar"><i class="fa fa-calendar"></i></a></span>
              </div>  
    </div>

    <div class="pure-u-1-4 l-box">
      <div class="label">
        Authorisation status
      </div>

      <div class="value">
        Not ready
      </div>
    </div>

      
    <div class="pure-u-1-2 l-box">
      <label for="cost-of-planned-care">Cost of planned care in an active week</label>
      <input id="cost-of-planned-care" class="pure-input-1" name="cost-of-planned-care"
      type="text" value="" disabled="disabled" />
    </div>

    </div>
    <div class="pure-g-r">
    <div class="pure-u-1-4 l-box">
              <label for="service-end-date">Service end date</label>  
              <div class="input-group input-append">
                <input type="text" class="pure-input-1" name="service-end-date" id="service-end-date" maxlength="11" placeholder="DD-MMM-YYYY">
                <span><a class="pure-button pure-button-active pure-button-cal" title="Display calendar"><i class="fa fa-calendar"></i></a></span>
              </div>
    </div>

    <div class="pure-u-1-4 l-box">
      <div class="label"></div>

      <div class="value">
        Not applicable
      </div>
    </div>

    <div class="pure-u-1-2 l-box">
      <label for="end-reason">End reason</label> <input id="end-reason" class=
      "pure-input-1" name="end-reason" type="text" value="" disabled="disabled" />
    </div>

    <div class="pure-u-1-4 l-box">
        <label for="revised-end-date">Revised end date</label>  
        <div class="input-group input-append">
          <input type="text" class="pure-input-1" name="revised-end-date" id="revised-end-date" maxlength="11">
          <span><a class="pure-button pure-button-active pure-button-cal" title="Display calendar"><i class="fa fa-calendar"></i></a></span>
        </div>
    </div>

    <div class="pure-u-1-4 l-box">
      <div class="label"></div>

      <div class="value">
        Not applicable
      </div>
    </div>

    <div class="pure-u-1-2 l-box">
      <label for="revised-end-reason">Revised end reason</label> <input id=
      "revised-end-reason" class="pure-input-1" name="revised-end-reason" type="text"
      value="" disabled="disabled" />
    </div>

    <div class="pure-u-1-4 l-box">
        <label for="cancelled-date">Cancelled date</label>  
          <div class="input-group input-append">
            <input type="text" class="pure-input-1" name="cancelled-date" id="cancelled-date" maxlength="11">
            <span><a class="pure-button pure-button-active pure-button-cal" title="Display calendar"><i class="fa fa-calendar"></i></a></span>
          </div>
    </div>

    <div class="pure-u-1-4 l-box">
      <div class="label"></div>

      <div class="value">
        Not applicable
      </div>
    </div>

    <div class="pure-u-1-2 l-box">
      <label for="cancelled-reason">Cancelled reason</label> <input id="cancelled-reason"
      class="pure-input-1" name="cancelled-reason" type="text" value="" disabled=
      "disabled" />
    </div>

    <div class="pure-u-3-5 l-box">
      <label for="responsible-worker">Responsible worker</label> <input id=
      "responsible-worker" class="pure-input-1" name="responsible-worker" type="text"
      value="Annie Wallace" />
    </div>

    <div class="pure-u-1 l-box">
      <label>Responsible worker</label>

      <div class="value">
        Annie Wallace

        <div class="linkRight">
          <a href="#none" id="changeName" class="small edit-PersonName" title=
          "Change responsible worker" name="changeName">Change</a>
        </div>
      </div>
    </div>

    <div class="pure-u-1 l-box">
      <label>Responsible team</label>

      <div class="value">
        Newtown Adults team

        <div class="linkRight">
          <a href="#none" id="changeName" class="small edit-PersonName" title=
          "Change responsible team" name="changeName">Change</a>
        </div>
      </div>
    </div>

    <div class="pure-u-1-1 l-box">
      <label for="originating-assessment">Originating assessment/support plan</label>
      <select name="originating-assessment" class="pure-input-1" id=
      "originating-assessment">
        <option value="">
          Needs assessment, 09-SEP-2012
        </option>
      </select>
    </div>

    <div class="pure-u-1-1 l-box">
      <label for="personal-budget">Personal budget</label> <select name="personal-budget"
      class="pure-input-1" id="personal-budget">
        <option value="">
          Please choose
        </option>
      </select>
    </div>

    <div class="pure-u-1-1 l-box">
      <label for="notes">Notes</label> 
      <textarea class="pure-input-1">
</textarea>
    </div>
  </div>
</form></div>
            <div id="costs" class="yui3-tab-panel">Costs</div>
            <div id="charges" class="yui3-tab-panel">Charges</div>

        </div>
    </div>
</div>







