<div class="pure-g-r pure-form-stacked">
  <div class="pure-u-1 l-box">
    <div class="pure-narrative">
      <span class="narrative-summary">You're adding a service for</span><br /><span class="narrative-description">Fred Jones (PER21)</span>
      <span class="narrative-summary">for Residential care/Longterm or permanent starting Thursday 11 September 2014</span>
    </div>
  </div>
</div>
<form class="pure-form pure-form-stacked">
<div class="pure-g-r">
   <div class="pure-u-1-1 l-box">
      <label for="provider-org">Provider organisation or person</label> 
      <input id=
      "provider-org" class="pure-input-1 yui3-aclist-input" name="provider-org" maxlength=
      "100" type="text" placeholder="Enter person/organisation name or ID" />
    </div>
</div>
</form>
 
      
      

  