<div class="pure-u-1 l-box">
        <h3>Review service</h3>
      </div>  
       
      <div class="pure-g-r">
      <div class="pure-u-1 l-box">
        <div class="pure-narrative"><span class="narrative-summary">You're adding a service for </span><br/><span class="narrative-description">Fred Jones (PER21)</span><span class="narrative-summary"> for Residential care/Longterm or permanent provided every week by Cheshunt Care Home (ORG10039) starting Thursday 11 September 2014<br />Cost is &pound;714.00 weekly pro rata</span></div>
      </div>
      <div class="pure-u-1 l-box">
        <div class="pure-info">
          <p class="estimatedInfo">All required information has been entered. The record can be completed for authorisation.</p>
        </div>
      </div>
    </div>
      