
  <form action="#none" class="pure-form pure-form-stacked pure-form-services">
    <div class="pure-g-r readonly"> 
      <div class="pure-u-1 l-box">
        <div class="pure-narrative">
          <span class="narrative-summary">{{narrative.action}}</span><br />
          <span class="narrative-description">{{narrative.target}}</span>
          <span class="narrative-summary">{{narrative.summary}}</span>
        </div>
      </div>    
    </div>
    
    <div class="yui3-widget yui3-tabview l-box">
      <div id="demo" class="yui3-tabview-content">
      
        <ul class="yui3-tabview-list" role="tablist">
          <li class="yui3-tab yui3-widget" role="presentation"><a href="#service-details" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="-1">Service details</a></li>  
          <li class="yui3-tab yui3-widget yui3-tab-selected" role="presentation"><a href="#timetable" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="-1">Timetable</a></li>   
          <li class="yui3-tab yui3-widget" role="presentation"><a href="#cost-rates" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="0">Cost rates</a></li>
          <li class="yui3-tab yui3-widget" role="presentation"><a href="#charges" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="-1">Charges</a></li>
          <li class="yui3-tab yui3-widget" role="presentation"><a href="#budgets" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="-1">Budgets</a></li>
          <li class="yui3-tab yui3-widget" role="presentation"><a href="#dh" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="-1">DH reporting</a></li>
        </ul>
        
        <div class="yui3-tabview-panel">
          
                 
          <div id="service-details" class="yui3-tab-panel yui3-tab-panel-selected" role="tabpanel">Service Details</div>
          <div id="timetable" class="yui3-tab-panel yui3-tab-panel-selected" role="tabpanel">
  
            {{#if isDaycare}}
            
              <div class="pure-g-r">
                
                <div class="pure-u-4-24 l-box-small">
                  <label for="unitsPerDay-input">Units per day</label>
                  <input type="text" id="unitsPerDay-input" size="5" value="03.00">
                </div>  
                
                <div class="pure-u-1-24 l-box services-checkbox">
                  <label for="all">ALL</label>
                  <input type="checkbox" id="all">
                </div>  
                <div class="pure-u-1-24 l-box services-checkbox">
                  <label for="mon">M</label>
                  <input type="checkbox" id="mon" class="day">
                </div>  
                <div class="pure-u-1-24 l-box services-checkbox">
                  <label for="tues">T</label>
                  <input type="checkbox" id="tues" class="day">
                </div>  
                <div class="pure-u-1-24 l-box services-checkbox">
                  <label for="weds">W</label>
                  <input type="checkbox" id="weds" class="day">
                </div>  
                <div class="pure-u-1-24 l-box services-checkbox">
                  <label for="thurs">T</label>
                  <input type="checkbox" id="thurs" class="day">
                </div>  
                <div class="pure-u-1-24 l-box services-checkbox">
                  <label for="fri">F</label>
                  <input type="checkbox" id="fri" class="day" checked="checked">
                </div>  
                <div class="pure-u-1-24 l-box services-checkbox">
                  <label for="sat">S</label>
                  <input type="checkbox" id="sat" class="day">
                </div>  
                <div class="pure-u-1-24 l-box services-checkbox">
                  <label for="sun">S</label>
                  <input type="checkbox" id="sun" class="day">
                </div>  
                <div class="pure-u-1-24 l-box services-checkbox">
                  <label for="any">ANY</label>
                  <input type="checkbox" value="true" id="any">
                </div>  
                <div class="pure-u-4-24 l-box">
                  <label for="total-units">Total units</label>
                  <input type="text" id="totalUnits-input" class="pure-u-1" readonly="readonly" value="03:00">
                </div>  
                <div class="pure-u-4-24 l-box">
                  <label for="band-rate">Band rate</label>
                  <select id="band-rate" class="pure-u-1">
                    <option>Hour</option>
                  </select>
                </div>
                <div class="pure-u-3-24 l-box" style="text-align:center;">
                  <label for="">Actions</label>
                  <a href="#" class="pure-menu-label" style="display:none;">select style button needed</a>
                </div>
                
                <div class="pure-u-1 l-box">               
                  <button type="button" class="pure-button pure-button-active pull-right"><i class="fa fa-plus-circle"></i> Add row</button>
                </div>      
              </div>
            {{/if}}
            
            
            {{#if isDomcareCurrent}}
              
              <div class="pure-g-r">
              <div class="pure-u-2-24 l-box-small">
                <label for="length-of-visit">Length of visit</label>
                <input type="text" id="length-of-visit" value="04:00" size="5" readonly="readonly">
              </div>  
              <div class="pure-u-2-24 l-box-small">
                <label for="visits-per-day">Visits per day</label>
                <input type="text" id="visits-per-day" size="3" value="1" readonly="readonly">
              </div>  
              <div class="pure-u-2-24 l-box-small">
                <label for="workers-per-visit">Workers per visit</label>
                <input type="text" id="workers-per-visit" size="3" value="1" readonly="readonly">
              </div>  
              
              <div class="pure-u-6-24" style="margin-top: 18px;">
                <div class="pure-u-1">
                  <div class="pure-u-1-8 services-checkbox">
                    <label for="all">ALL</label>
                    <input type="checkbox" id="all">
                  </div>  
                  <div class="pure-u-1-8 services-checkbox">
                    <label for="mon">M</label>
                    <input type="checkbox" id="mon" class="day">
                  </div>  
                  <div class="pure-u-1-8 services-checkbox">
                    <label for="tues">T</label>
                    <input type="checkbox" id="tues" class="day">
                  </div>  
                  <div class="pure-u-1-8 services-checkbox">
                    <label for="weds">W</label>
                    <input type="checkbox" id="weds" class="day">
                  </div>  
                  <div class="pure-u-1-8 services-checkbox">
                    <label for="thurs">T</label>
                    <input type="checkbox" id="thurs" class="day">
                  </div>  
                  <div class="pure-u-1-8 services-checkbox">
                    <label for="fri">F</label>
                    <input type="checkbox" id="fri" class="day">
                  </div>  
                  <div class="pure-u-1-8 services-checkbox">
                    <label for="sat">S</label>
                    <input type="checkbox" id="sat" class="day">
                  </div>  
                  <div class="pure-u-1-8 services-checkbox">
                    <label for="sun">S</label>
                    <input type="checkbox" id="sun" class="day">
                  </div>  
                  <div class="pure-u-1-8 services-checkbox">
                    <label for="any">ANY</label>
                    <input type="checkbox" value="true" id="any"  checked="checked">
                  </div>
                </div>
              </div>
              
                
              <div class="pure-u-2-24 l-box-small">
                <label for="total-provider-hours">Provider hours</label>
                <input type="text" id="total-provider-hours" class="pure-u-1" value="28:00">
              </div>  
              <div class="pure-u-3-24 l-box-small" style=" width: 10%; ">
                <label for="band-rate" style="margin-top: 21px;">Band rate</label>
                <input type="text" id="length-of-visit" value="Hour" size="6" readonly="readonly">
              </div>
              <div class="pure-u-2-24 l-box-small" style=" width: 10%; ">
                <label for="start-time" style="margin-top: 21px;">Start time</label>
                <select id="start-time">
                  <option></option>
                  <option>08:00</option>
                  <option>08:15</option>
                  <option>08:30</option>
                  <option>08:45</option>
                  <option>09:00</option>
                </select>
              </div>
              <div class="pure-u-2-24 l-box-small" style=" width: 10%; ">
                <label for="end-time" style="margin-top: 21px;">End time</label>
                <select id="end-time">
                  <option></option>                 
                  <option>08:00</option>
                  <option>08:15</option>
                  <option>08:30</option>
                  <option>08:45</option>
                  <option>09:00</option>
                  <option>09:30</option>
                  
                </select>
              </div>  
              <div class="pure-u-2-24 l-box-small">
                <label style="margin-top: 21px;">Actions</label>
                <div>
                  <span class="pure-menu pure-menu-open pure-menu-horizontal panel-actions" role="menu">
                    <ul class="pure-menu-children" >
                      <li class="pure-menu-can-have-children pure-menu-has-children">
                        <a href="#" class="pure-menu-label">select</a>
                                                <ul class="pure-menu pure-menu-children">
                                                                <li class="pure-menu-item">
                                                                                <a href="#none" class=" " title=" ">sub menu items</a>
                                                                </li>
                                                                
                                                </ul>
                                </li>
                </ul>
</span>
                
                </div>
        

              </div>  
              <div class="pure-u-1 l-box">
                <button class="pure-button pure-button-active pull-right"><i class="fa fa-plus-circle"></i> Add row</button>
              </div>      
            </div>
              
            {{/if}}
            
            
            
            
            
            
            {{#if isDomcare}}
              
              <div class="pure-g-r">
              <div class="pure-u-2-24 l-box-small">
                <label for="length-of-visit">Length of visit</label>
                <input type="text" id="length-of-visit" value="01:30" size="5" readonly="readonly">
              </div>  
              <div class="pure-u-2-24 l-box-small">
                <label for="visits-per-day">Visits per day</label>
                <input type="text" id="visits-per-day" size="3" value="1" readonly="readonly">
              </div>  
              <div class="pure-u-2-24 l-box-small">
                <label for="workers-per-visit">Workers per visit</label>
                <input type="text" id="workers-per-visit" size="3" value="1" readonly="readonly">
              </div>  
              
              <div class="pure-u-6-24" style="margin-top: 18px;">
                <div class="pure-u-1">
                  <div class="pure-u-1-8 services-checkbox">
                    <label for="all">ALL</label>
                    <input type="checkbox" id="all">
                  </div>  
                  <div class="pure-u-1-8 services-checkbox">
                    <label for="mon">M</label>
                    <input type="checkbox" id="mon" class="day">
                  </div>  
                  <div class="pure-u-1-8 services-checkbox">
                    <label for="tues">T</label>
                    <input type="checkbox" id="tues" class="day" checked="checked">
                  </div>  
                  <div class="pure-u-1-8 services-checkbox">
                    <label for="weds">W</label>
                    <input type="checkbox" id="weds" class="day">
                  </div>  
                  <div class="pure-u-1-8 services-checkbox">
                    <label for="thurs">T</label>
                    <input type="checkbox" id="thurs" class="day">
                  </div>  
                  <div class="pure-u-1-8 services-checkbox">
                    <label for="fri">F</label>
                    <input type="checkbox" id="fri" class="day">
                  </div>  
                  <div class="pure-u-1-8 services-checkbox">
                    <label for="sat">S</label>
                    <input type="checkbox" id="sat" class="day">
                  </div>  
                  <div class="pure-u-1-8 services-checkbox">
                    <label for="sun">S</label>
                    <input type="checkbox" id="sun" class="day">
                  </div>  
                  <div class="pure-u-1-8 services-checkbox">
                    <label for="any">ANY</label>
                    <input type="checkbox" value="true" id="any">
                  </div>
                </div>
              </div>
              
                
              <div class="pure-u-2-24 l-box-small">
                <label for="total-provider-hours">Provider hours</label>
                <input type="text" id="total-provider-hours" class="pure-u-1" readonly="readonly" value="1:30">
              </div>  
              <div class="pure-u-3-24 l-box-small" style=" width: 10%; ">
                <label for="band-rate" style="margin-top: 21px;">Band rate</label>
                <input type="text" id="length-of-visit" value="Hour" size="6" readonly="readonly">
              </div>
              <div class="pure-u-2-24 l-box-small" style=" width: 10%; ">
                <label for="start-time" style="margin-top: 21px;">Start time</label>
                <select id="start-time">
                  <option>08:00</option>
                  <option>08:15</option>
                  <option>08:30</option>
                  <option>08:45</option>
                  <option>09:00</option>
                </select>
              </div>
              <div class="pure-u-2-24 l-box-small" style=" width: 10%; ">
                <label for="end-time" style="margin-top: 21px;">End time</label>
                <select id="end-time">                 
                  <option>08:00</option>
                  <option>08:15</option>
                  <option>08:30</option>
                  <option>08:45</option>
                  <option>09:00</option>
                  <option selected>09:30</option>
                  
                </select>
              </div>  
              <div class="pure-u-2-24 l-box-small">
                <label style="margin-top: 21px;">Actions</label>
                <div>
                  <span class="pure-menu pure-menu-open pure-menu-horizontal panel-actions" role="menu">
                    <ul class="pure-menu-children" >
                      <li class="pure-menu-can-have-children pure-menu-has-children">
                        <a href="#" class="pure-menu-label">select</a>
                                                <ul class="pure-menu pure-menu-children">
                                                                <li class="pure-menu-item">
                                                                                <a href="#none" class=" " title=" ">sub menu items</a>
                                                                </li>
                                                                
                                                </ul>
                                </li>
                </ul>
</span>
                
                </div>
        

              </div>  
              <div class="pure-u-1 l-box">
                <button class="pure-button pure-button-active pull-right"><i class="fa fa-plus-circle"></i> Add row</button>
              </div>      
            </div>
              
            {{/if}}
            
            
            
            
            
            
            
            
            
            
            
            
            
            
  
          </div>         
         
         
          <div id="cost-rates" class="yui3-tab-panel yui3-tab-panel-selected" role="tabpanel">
          
                   <div class="pure-g-r">
              <div class="pure-u-5-24 l-box first"> 
                <div class="name">Cost rate type</div>
                <div class="value">{{agreement.costRateType}}</div>
              </div>
              <div class="pure-u-7-24 l-box"> 
                <div class="name">Rate start date</div>
                <div class="value">01-Apr-2014</div>
              </div>
              <div class="pure-u-12-24 l-box">  
                <div class="name">GL code</div>
                <div class="value">{{agreement.gl}}</div>
              </div>
            </div>

            <table class="service-provision" style="width:100%;">
              <thead>
                </thead><colgroup>
                  <col class="" style="width: 10%;">
                  <col class="" style="width: 10%;">
                  <col class="" style="width: 10%;">
                  <col class="" style="width: 10%;">
                  <col class="" style="width: 10%;">
                  <col class="" style="width: 10%;">
                  <col class="" style="width: 10%;">
                  <col class="" style="width: 10%;">
                  <col class="" style="width: 10%;">
                  <col class="" style="width: 10%;">
                </colgroup>
                <tbody><tr><th>Band rate</th>
                <th>Cost rate</th>
                <th class="day">Standard</th>
                <th class="day">Mon</th>
                <th class="day">Tues</th>
                <th class="day">Weds</th>
                <th class="day">Thurs</th>
                <th class="day">Fri</th>
                <th class="day wend">Sat</th>
                <th class="day wend">Sun</th>
                
              
              </tr></tbody><tbody>
                <tr><td><div class="value">Hour rate</div></td>
                <td><div class="value">Per hour</div></td>
                <td><div class="value">{{agreement.wdRate}}</div></td>
                <td><div class="value">{{agreement.wdRate}}</div></td>
                <td><div class="value">{{agreement.wdRate}}</div></td>
                <td><div class="value">{{agreement.wdRate}}</div></td>
                <td><div class="value">{{agreement.wdRate}}</div></td>
                <td><div class="value">{{agreement.wdRate}}</div></td>
                <td><div class="value">{{agreement.weRate}}</div></td>
                <td><div class="value">{{agreement.weRate}}</div></td>
              </tr></tbody>
            </table>
          </div>
          
          
          
          <div id="charges" class="yui3-tab-panel yui3-tab-panel-selected" role="tabpanel">Charges</div>
          <div id="budgets" class="yui3-tab-panel yui3-tab-panel-selected" role="tabpanel">Budgets</div>
          <div id="dh" class="yui3-tab-panel yui3-tab-panel-selected" role="tabpanel">DH reporting</div>
          
        </div>
        
      </div>
    </div>
  </form>