<div class="pure-u-1 l-box">
    <h3>Add costs</h3>
  </div>

  <div class="pure-g-r">
    <div class="pure-u-1 l-box">
      <div class="pure-narrative">
        <span class="narrative-summary">You're adding a service for </span><br/><span class="narrative-description">Fred Jones (PER21)</span>
        <span class="narrative-summary">for Residential care/Longterm or permanent provided every week by Cheshunt Care Home (ORG10039) starting Thursday 11 September 2014</span>
      </div>
    </div>
  </div>

  <div class='pure-form pure-form-stacked'>
    <div class="pure-g-r">
      <div class="pure-u-1-3 l-box">
        <label for="agreed-cost-rate">Agreed cost rate</label> <input id=
        "agreed-cost-rate" class="pure-input-1 yui3-aclist-input" name="agreed-cost-rate"
        type="text" value="&pound;714.00" />
      </div>

      <div class="pure-u-1-3 l-box">
        <label for="cost-unit">Cost unit</label> 
        <select>
        	<option selected="selected">Per day</option>
        	<option selected="selected">Weekly</option>
        	<option selected="selected">Weekly pro rata</option>
        </select>
      </div>

      <div class="pure-u-1-3 l-box">
        <label for="agreed-la-rate">Agreed LA usual rate</label> <input id=
        "agreed-la-rate" class="pure-input-1 yui3-aclist-input" name="agreed-la-rate"
        type="text" value="&pound;700.00" />
      </div>
    </div>
  </div>