

  
  <div class="pure-g-r readonly"> 
    <div class="pure-u-1 l-box">
      <div class="pure-narrative">
        <span class="narrative-summary">{{narrative.action}}</span><br />
        <span class="narrative-description">{{narrative.target}}</span>
        <span class="narrative-summary">{{narrative.summary}}</span>
      </div>
    </div>    
  </div>
  
  
  <div class="yui3-widget yui3-tabview l-box">
    <div id="demo" class="yui3-tabview-content">
    
      <ul class="yui3-tabview-list" role="tablist">  
        <li class="yui3-tab yui3-widget" role="presentation"><a href="#service-details" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="-1">Service details</a></li>  
        <li class="yui3-tab yui3-widget yui3-tab-selected" role="presentation"><a href="#timetable" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="-1">Timetable</a></li> 
        <li class="yui3-tab yui3-widget" role="presentation"><a href="#cost-rates" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="0">Cost rates</a></li>      
        <li class="yui3-tab yui3-widget" role="presentation"><a href="#charges" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="-1">Charges</a></li>
        <li class="yui3-tab yui3-widget" role="presentation"><a href="#budgets" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="-1">Budgets</a></li>
        <li class="yui3-tab yui3-widget" role="presentation"><a href="#dh" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="-1">DH reporting</a></li>
      </ul>
      
      <div class="yui3-tabview-panel">
        <div id="service-details" class="yui3-tab-panel yui3-tab-panel-selected" role="tabpanel">Service Details</div>
        
        <div id="timetable" class="yui3-tab-panel yui3-tab-panel-selected" role="tabpanel">
        
        
          {{#if isDaycare}}
            <table class="service-provision" style="width:100%;">
              <thead>
                </thead><colgroup>
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                </colgroup>
                <tbody><tr><th>No. units/day</th>
                <th class="day">Any day</th>
                <th class="day">Mon</th>
                <th class="day">Tues</th>
                <th class="day">Weds</th>
                <th class="day">Thurs</th>
                <th class="day">Fri</th>
                <th class="day wend">Sat</th>
                <th class="day wend">Sun</th>
                <th>Band
                 rate</th>
              
              </tr></tbody><tbody>
                <tr><td><div class="value">3.00</div></td>
                <td><div class="value"></div></td>
                <td><div class="value">00:00</div></td>
                <td><div class="value">00:00</div></td>
                <td><div class="value">00:00</div></td>
                <td><div class="value">00:00</div></td>
                <td><div class="value">03:00</div></td>
                <td><div class="value">00:00</div></td>
                <td><div class="value">00:00</div></td>
                <td><div class="value">Hour</div></td>
              </tr></tbody>
            </table>
            <br/>
            <table class="service-provision" style="width:100%;">
              <colgroup>
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                </colgroup>
                <tbody>
                  <tr> 
                      <td></td>
                      <th class="day">Any day</th>
                      <th class="day">Monday</th>
                      <th class="day">Tuesday</th>
                      <th class="day">Wednesday</th>
                      <th class="day">Thursday</th>
                      <th class="day">Friday</th>
                      <th class="day wend">Saturday</th>
                      <th class="day wend">Sunday</th>
                      <th>Totals for week</th>
                  </tr>
                  <tr> 
                      <th>Total units</th>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">03:00</div></td>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">03:00</div></td>
                  </tr>
                  <tr> 
                      <th>Total cost (&#163;)</th>
                      <td><div class="value">00.00</div></td>
                      <td><div class="value">00.00</div></td>
                      <td><div class="value">00.00</div></td>
                      <td><div class="value">00.00</div></td>
                      <td><div class="value">00.00</div></td>
                      <td><div class="value">30.00</div></td>
                      <td><div class="value">00.00</div></td>
                      <td><div class="value">00.00</div></td>
                      <td><div class="value">30.00</div></td>
                  </tr>
                </tbody>
              </table>
            
          {{/if}}
          
          
          
          {{#if isDomcare}}
            <table class="service-provision" style="width:100%;">
                <thead>
                  </thead><colgroup>
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 8%;">
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 6%;">
                  </colgroup>
                  <tbody><tr>
                  <th>Length of visit</th>
                  <th>No. visits/day</th>
                  <th>No. workers/visit</th>
                  <th class="day">Any day</th>
                  <th class="day">Mon</th>
                  <th class="day">Tues</th>
                  <th class="day">Weds</th>
                  <th class="day">Thurs</th>
                  <th class="day">Fri</th>
                  <th class="day wend">Sat</th>
                  <th class="day wend">Sun</th>
                  <th>Band
                   rate</th>
                  <th>Start time</th>
                  <th>End time</th>
                
                </tr></tbody><tbody>
                  <tr>
                  <td><div class="value">01:30</div></td>
                  <td><div class="value">1</div></td>
                  <td><div class="value">1</div></td>                
                  <td><div class="value"></div></td>
                  <td><div class="value"></div></td>
                  <td><div class="value">01:30</div></td>
                  <td><div class="value"></div></td>
                  <td><div class="value"></div></td>
                  <td><div class="value"></div></td>
                  <td><div class="value"></div></td>
                  <td><div class="value"></div></td>
                  <td><div class="value">Hour</div></td>
                  <td><div class="value">08:00</div></td>
                  <td><div class="value">09:30</div></td>
                </tr></tbody>
              </table>
              <br/>
              <table class="service-provision" style="width:100%;">
              <colgroup>
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 8%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                </colgroup>
                <tbody>
                  <tr> 
                      <td></td>
                      <th class="day">Any day</th>
                      <th class="day">Monday</th>
                      <th class="day">Tuesday</th>
                      <th class="day">Wednesday</th>
                      <th class="day">Thursday</th>
                      <th class="day">Friday</th>
                      <th class="day wend">Saturday</th>
                      <th class="day wend">Sunday</th>
                      <th>Totals for week</th>
                  </tr>
                  <tr> 
                      <th>Totals hours from provider</th>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">01:30</div></td>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">01:30</div></td>
                  </tr>
                  <tr> 
                      <th>Totals hours with client</th>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">01:30</div></td>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">01:30</div></td>
                  </tr>
                  <tr> 
                      <th>Total cost (&#163;)</th>
                      <td><div class="value">00.00</div></td>
                      <td><div class="value">00.00</div></td>
                      <td><div class="value">22.50</div></td>
                      <td><div class="value">00.00</div></td>
                      <td><div class="value">00.00</div></td>
                      <td><div class="value">00.00</div></td>
                      <td><div class="value">00.00</div></td>
                      <td><div class="value">00.00</div></td>
                      <td><div class="value">22.50</div></td>
                  </tr>
                </tbody>
              </table>
          {{/if}}
          
          
          
          
          {{#if isDomcareCurrent}}
            <table class="service-provision" style="width:100%;">
                <thead>
                  </thead><colgroup>
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 8%;">
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 6%;">
                    <col class="" style="width: 6%;">
                  </colgroup>
                  <tbody><tr>
                  <th>Length of visit</th>
                  <th>No. visits/day</th>
                  <th>No. workers/visit</th>
                  <th class="day">Any day</th>
                  <th class="day">Mon</th>
                  <th class="day">Tues</th>
                  <th class="day">Weds</th>
                  <th class="day">Thurs</th>
                  <th class="day">Fri</th>
                  <th class="day wend">Sat</th>
                  <th class="day wend">Sun</th>
                  <th>Band
                   rate</th>
                  <th>Start time</th>
                  <th>End time</th>
                
                </tr></tbody><tbody>
                  <tr>
                  <td><div class="value">04:00</div></td>
                  <td><div class="value">1</div></td>
                  <td><div class="value">1</div></td>                
                  <td><div class="value"></div></td>
                  <td><div class="value">04:00</div></td>
                  <td><div class="value">04:00</div></td>
                  <td><div class="value">04:00</div></td>
                  <td><div class="value">04:00</div></td>
                  <td><div class="value">04:00</div></td>
                  <td><div class="value">04:00</div></td>
                  <td><div class="value">04:00</div></td>
                  <td><div class="value">Hour</div></td>
                  <td><div class="value">08:00</div></td>
                  <td><div class="value">09:30</div></td>
                </tr></tbody>
              </table>
              <br/>
              <table class="service-provision" style="width:100%;">
              <colgroup>
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 8%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                  <col class="" style="width: 6%;">
                </colgroup>
                <tbody>
                  <tr> 
                      <td></td>
                      <th class="day">Any day</th>
                      <th class="day">Monday</th>
                      <th class="day">Tuesday</th>
                      <th class="day">Wednesday</th>
                      <th class="day">Thursday</th>
                      <th class="day">Friday</th>
                      <th class="day wend">Saturday</th>
                      <th class="day wend">Sunday</th>
                      <th>Totals for week</th>
                  </tr>
                  <tr> 
                      <th>Totals hours from provider</th>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">04:00</div></td>
                      <td><div class="value">04:00</div></td>
                      <td><div class="value">04:00</div></td>
                      <td><div class="value">04:00</div></td>
                      <td><div class="value">04:00</div></td>
                      <td><div class="value">04:00</div></td>
                      <td><div class="value">04:00</div></td>
                      <td><div class="value">28:00</div></td>
                  </tr>
                  <tr> 
                      <th>Totals hours with client</th>
                      <td><div class="value">00:00</div></td>
                      <td><div class="value">04:00</div></td>
                      <td><div class="value">04:00</div></td>
                      <td><div class="value">04:00</div></td>
                      <td><div class="value">04:00</div></td>
                      <td><div class="value">04:00</div></td>
                      <td><div class="value">04:00</div></td>
                      <td><div class="value">04:00</div></td>
                      <td><div class="value">28:00</div></td>
                  </tr>
                  <tr> 
                      <th>Total cost (&#163;)</th>
                      <td><div class="value">00.00</div></td>
                      <td><div class="value">60.00</div></td>
                      <td><div class="value">60.00</div></td>
                      <td><div class="value">60.00</div></td>
                      <td><div class="value">60.00</div></td>
                      <td><div class="value">60.00</div></td>
                      <td><div class="value">60.00</div></td>
                      <td><div class="value">60.00</div></td>
                      <td><div class="value">420.00</div></td>
                  </tr>
                </tbody>
              </table>
          {{/if}}
        
        </div>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <div id="cost-rates" class="yui3-tab-panel yui3-tab-panel-selected" role="tabpanel"><div id="timetable" class="yui3-tab-panel yui3-tab-panel-selected" role="tabpanel">
            <div class="pure-g-r">
              <div class="pure-u-5-24 l-box first"> 
                <div class="name">Cost rate type</div>
                <div class="value">{{agreement.costRateType}}</div>
              </div>
              <div class="pure-u-7-24 l-box"> 
                <div class="name">Rate start date</div>
                <div class="value">01-Apr-2014</div>
              </div>
              <div class="pure-u-12-24 l-box">  
                <div class="name">GL code</div>
                <div class="value">{{agreement.gl}}</div>
              </div>
            </div>

            <table class="service-provision" style="width:100%;">
              <thead>
                </thead><colgroup>
                  <col class="" style="width: 10%;">
                  <col class="" style="width: 10%;">
                  <col class="" style="width: 10%;">
                  <col class="" style="width: 10%;">
                  <col class="" style="width: 10%;">
                  <col class="" style="width: 10%;">
                  <col class="" style="width: 10%;">
                  <col class="" style="width: 10%;">
                  <col class="" style="width: 10%;">
                  <col class="" style="width: 10%;">
                </colgroup>
                <tbody><tr><th>Band rate</th>
                <th>Cost rate</th>
                <th class="day">Standard</th>
                <th class="day">Mon</th>
                <th class="day">Tues</th>
                <th class="day">Weds</th>
                <th class="day">Thurs</th>
                <th class="day">Fri</th>            
                <th class="day wend">Sat</th>
                <th class="day wend">Sun</th>
                
              
              </tr></tbody><tbody>
                <tr><td><div class="value">Hour rate</div></td>
                <td><div class="value">Per hour</div></td>
                <td><div class="value">{{agreement.wdRate}}</div></td>
                <td><div class="value">{{agreement.wdRate}}</div></td>
                <td><div class="value">{{agreement.wdRate}}</div></td>
                <td><div class="value">{{agreement.wdRate}}</div></td>
                <td><div class="value">{{agreement.wdRate}}</div></td>
                <td><div class="value">{{agreement.wdRate}}</div></td>
                <td><div class="value">{{agreement.weRate}}</div></td>
                <td><div class="value">{{agreement.weRate}}</div></td>
              </tr></tbody>
            </table>
            
            <br>

            
          </div>
        </div>
        
        
        
        
        
        
        
        
       
        <div id="charges" class="yui3-tab-panel yui3-tab-panel-selected" role="tabpanel">Charges</div>
        <div id="budgets" class="yui3-tab-panel yui3-tab-panel-selected" role="tabpanel">Budgets</div>
        <div id="dh" class="yui3-tab-panel yui3-tab-panel-selected" role="tabpanel">DH reporting</div>
      </div>
    
 
    </div>
  </div>
  
  
  

  
  