@import "node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "node_modules/bootstrap/less/component-animations.less";
@info-bar-left-indent: 12px;
.loading {
    &.header-person {
        height: 78px;
    }
    &.header-organisation {
        height: 50px;
    }
    &.header-group {
        height: 78px;
    }
}

.header-bar {
    height: auto;
    .header-picture {
        border-radius: 50%;
    }
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
    .loading {
        font-size: 12px;
    }
    .deceased, .deceased-estimated, .estimated, .estimated, .placement, .temporary, .unborn, .do-not-disclose {
        margin: 0 2px;
    }
    .pop-up-data {
        display: inline-block;
        &:focus {
            outline: thin dotted;
        }
    }
}

.info-overlay {
    position: absolute;
    margin-top: 3px;
}

.info-overlay-content {
    padding: 5px;
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    opacity: 0.8;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    max-width: 30em;
    min-width: 20em;
    overflow: hidden;
    border: 0;
    background-color: #1a3c5a;
    background-clip: padding-box;
    color: #fff;
    .loading {
        white-space: nowrap;
    }
}

.subject-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 7px 8px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    .property-value {
        @media only screen and (max-width: 481px) {
            border-left: 1px solid #666;
            padding-left: 4px;
        }
    }
    .property-label {
        @media only screen and (max-width: 481px) {
            display: none;
        }
    }
    .warning, .alert, .duplicateStatus {
        color: #fff;
        line-height: 1;
        text-align: center;
        min-width: 10px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding: 3px 6px;
        border-radius: 10px;
        position: relative;
        cursor: pointer;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 2px;
        i {
            padding-right: 0.25em;
        }
    }
    .warning {
        background: #bb0000;
    }
    .multiple-birth {
        background: #347ab7;
    }
    .alert {
        background: #ebb100;
    }
    .duplicateStatus {
        background: #1a3c5a;
    }
    .title-icon {
        font-size: 18px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 0.25em;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
        .subject-icon {
            font-size: 18px;
            color: #347ab7;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            &.header-picture {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .fa-circle {
                font-size: 200%;
            }
        }
        h2 {
            margin-left: 4px;
            font-size: 16px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    }
    .not-clickable {
        cursor: default;
        &:hover {
            text-decoration: none;
        }
    }
    .subject-identifier {
        @media only screen and (max-width: 481px) {
            display: none;
        }
    }
    .locked {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        border: 1px solid #bfbfbf;
        background-color: #fff;
        color: #747474;
        padding: 0 2px;
        border-radius: 3px;
        margin: 0 2px;
        i {
            padding: 0 0.25em;
            &.expander {
                color: #bfbfbf;
            }
        }
    }
}

.lock-info {
    z-index: 1;
}

ul.warnings-list {
    list-style: none;
    margin: 0.5em 0;
    padding-left: 0;
    >li {
        margin-left: 0;
        margin-bottom: 0.5em;
        &:before {
            content: "–";
            padding-right: 3px;
        }
    }
}

.warnings-popup {
    max-width: 300px;
    .click-text {
        border-top: 1px solid #d5d5d5;
        font-size: 75%;
    }
}

.subject {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    .subject-name {
        margin-right: 0.125em;
    }
}

.subject-flags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.subject-properties {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    .birth-date {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.property-label {
    color: #5c5c5c;
    font-size: 0.8em;
    margin: 0 1px 0 2px;
    display: inline-block;
}

.property-value {
    font-size: 0.9em;
    margin: 0 2px 0 1px;
    color: #222222;
    display: inline;
}

.classification-icon {
    text-align: center;
    text-decoration: none;
    padding: 1px;
    min-width: 1.2rem;
    font-size: 0.6rem;
    color: #ffffff;
    background-color: #314f6a;
    border-radius: 50%;
    font-family: OpenSansSemiBold;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 2px;
    &:focus, &:hover {
        background-color: #213547;
    }
    &.historic {
        background-color: #d4d5d5;
        color: #757575;
        &:focus, &:hover {
            background-color: #c4c5c5;
            color: #666;
        }
        &:before {
            border-top: 3px solid #adadad;
            content: "";
            position: absolute;
            top: 8px;
            z-index: 1;
            display: inline-block;
            right: 0;
            left: 0;
            -webkit-transform: rotate(-50deg);
            -moz-transform: rotate(-50deg);
            -ms-transform: rotate(-50deg);
            -o-transform: rotate(-50deg);
            opacity: 0.8;
        }
    }
}

a.member-link {
    color: #222222;
    text-decoration: none;
    &:active, &:hover, &:visited {
        color: #222222;
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
    &.future, &.historic {
        text-decoration: line-through;
    }
}

.classification-info-list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 4rem;
    flex: 1 1 4rem;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.classification-info, .alert-info, .popup-info {
    margin: 0.25em 0;
    border-bottom: 1px solid #666;
    font-size: 0.98em;
    &:last-of-type {
        border-bottom: none;
    }
}

.popup-info {
    .list-item {
        margin: 0.25em 0 0.25em 14px;
    }
}

.alert-info {
    padding-bottom: 0.25em;
    &>div {
        display: inline-block;
    }
}

.lock-details {
    .access-allowed {
        i {
            color: #5cb469;
        }
    }
    .access-denied {
        i {
            color: #f15e5e;
        }
    }
    .contact {
        margin-left: 14px;
        font-size: 85%;
        a {
            color: #fff;
            text-decoration: none;
            &:active, &:hover, &:visited {
                color: #fff;
                text-decoration: none;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.subject-info-toggle {
    position: absolute;
    color: #6a6a6a;
    padding: 3px 0;
    left: 6px;
    a, a:active, a:hover, a:visited {
        text-decoration: none;
        color: #6a6a6a;
    }
}

.subject-info-bar {
    background-color: #dfe1e3;
    border-top: 1px solid #d5d5d5;
    color: #6a6a6a;
    min-height: 1.2em;
    .slimline-info {
        margin-left: @info-bar-left-indent;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding: 3px 0;
        -ms-flex-pack: distribute;
        font-size: 0.98em;
        .slimline-info-group {
            -webkit-box-flex: 1;
            -ms-flex: 1 0 50%;
            flex: 1 0 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            border-left: 1px solid #c9c9c9;
            font-size: 95%;
            width: 50%;
            min-width: 0;
            &:first-of-type {
                border-left: none;
            }
            @media only screen and (max-width: 978px) {
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
                border-left: none;
                border-top: 2px solid #c9c9c9;
                &:first-of-type {
                    border-top: none;
                }
            }
            &.col-3-group {
                .slimline-col {
                    -ms-flex-preferred-size: 33.3333333%;
                    flex-basis: 33.3333333%
                }
            }
        }
    }
    .slimline-col {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        border-left: 1px solid #c9c9c9;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 0 3px;
        &:first-of-type {
            border-left: none;
            /* shuffle over to allow slimline expander */
            .property-label {
                padding-left: 3px;
            }
        }
        &, & > * {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &.allocated-worker-slimline, &.named-person-slimline, &.classifications-slimline {
            @media only screen and (max-width: 978px) {
                display: none;
            }
        }
        @media only screen and (max-width: 978px) {
            -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        }
        &.telephone-slimline {
            @media only screen and (max-width: 480px) {
                display: none;
            }
        }
        @media only screen and (max-width: 480px) {
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        }
    }
}

.placement-address {
    margin-right: 2px;
}

.info-bar-expander {
    overflow: hidden;
}

.expander-scroller {
    background-color: #fff;
    overflow: hidden;
    border-bottom: 1px solid #d5d5d5;
}

.full-info {
    margin-left: @info-bar-left-indent;
    min-height: 8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .property-value {
        display: block;
        padding-bottom: 0.25em;
    }
    @media only screen and (max-width: 978px) {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .full-info-group {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-left: 1px solid #c9c9c9;
        padding: 3px 0;
        font-size: 95%;
        width: 50%;
        min-width: 0;
        &:first-of-type {
            border-left: none;
        }
        @media only screen and (max-width: 978px) {
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
            border-left: none;
            border-top: 2px solid #c9c9c9;
            &:first-of-type {
                border-top: none;
            }
        }
        &.col-3-group {
            .full-col {
                -ms-flex-preferred-size: 33.3333333%;
                flex-basis: 33.3333333%
            }
        }
    }
    .full-col {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        border-left: 1px solid #c9c9c9;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 3px;
        &:first-of-type {
            border-left: none;
        }
        .block-info {
            display: block;
        }
        /** IE 10 bug where contents bust out of flex container **/
        & > div {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
        }
        .small-info {
            font-size: 90%;
        }
    }
}