<div class="yui3-widget print-view">
	{{!-- Add print view inside here --}}
	<div class="pure-g-r">
		<div class="pure-u-1-2 l-box header">
			<div class="logo"><img src="../../../../img/header-resolve.png"></div>
		</div>
		<div class="pure-u-1-2 l-box header">
				<div class="context pull-right"><span>PLACE form</span><br />{{modelData.subject.name}}
					{{fuzzyDateFormat modelData.subject.dateOfBirth}}{{#if
					modelData.subject.dateOfBirthEstimated}}<span
					class="estimated summary" title="Estimated"></span><span
					class="hidden">Estimated</span>{{/if}}</div>
		</div>
	</div>
	<div class="pure-g-r">
		<div class="pure-u-1 l-box">
			<div class="pure-g-r readonly">
				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.background.dateStarted}}</div>
					<div class="value">{{dateFormat modelData.dateStarted}}</div>
				</div>

				<div class="pure-u-1-2 l-box"></div>

				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.background.name}}</div>
					<div class="value">{{modelData.subject.name}}</div>
				</div>

				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.background.dateOfBirth}}</div>
					<div class="value">
						{{fuzzyDateFormat modelData.subject.dateOfBirth}}{{#if
						modelData.subject.dateOfBirthEstimated}}<span
							class="estimated summary" title="Estimated"></span><span
							class="hidden">Estimated</span>{{/if}}
					</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.background.placementAddress}}</div>
					<div class="value">{{#if
						modelData.placementAddress}}{{modelData.placementAddress.location}}{{/if}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.background.background}}</div>
					<div class="value">{{{modelData.background}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.health.health}}</div>
					<div class="value">{{{modelData.health}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.health.dietAndPhysicalHealth}}</div>
					<div class="value">{{{modelData.dietAndPhysicalHealth}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.health.mentalHealth}}</div>
					<div class="value">{{{modelData.mentalHealth}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.medication.medication}}</div>
					<div class="value">{{{modelData.medication}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.medication.optician}}</div>
					<div class="value">{{{modelData.optician}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.medication.dental}}</div>
					<div class="value">{{{modelData.dental}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.gp.healthPromotion}}</div>
					<div class="value">{{{modelData.healthPromotion}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.gp.gpAppointmentsAndTelephoneContact}}</div>
					<div class="value">{{{modelData.gpAppointmentsAndTelephoneContact}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.educationEmployment.education}}</div>
					<div class="value">{{{modelData.education}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.educationEmployment.employment}}</div>
					<div class="value">{{{modelData.employment}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.social.socialPresentationAndBehaviour}}</div>
					<div class="value">{{{modelData.socialPresentationAndBehaviour}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.skills.selfCareSkills}}</div>
					<div class="value">{{{modelData.selfCareSkills}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.skills.independentLivingSkills}}</div>
					<div class="value">{{{modelData.independentLivingSkills}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.identity.identityAndContactWithFamily}}</div>
					<div class="value">{{{modelData.identityAndContactWithFamily}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.identity.safeguarding}}</div>
					<div class="value">{{{modelData.safeguarding}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.leisure.leisureActivitiesCommunityAccess}}</div>
					<div class="value">{{{modelData.leisureActivitiesCommunityAccess}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.leisure.finance}}</div>
					<div class="value">{{{modelData.finance}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.contacts.forensicCommunityNurseContact}}</div>
					<div class="value">{{{modelData.forensicCommunityNurseContact}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.contacts.socialWorkerContact}}</div>
					<div class="value">{{{modelData.socialWorkerContact}}}</div>
				</div>

				<div class="pure-u-1 l-box">
					<div class="name">{{labels.summary.summaryAndAnalysis}}</div>
					<div class="value">{{{modelData.summaryAndAnalysis}}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pure-g-r">
		<div class="pure-u-1-3 l-box">
			<div>PLACE form</div>
		</div>
		<div class="pure-u-1-3 l-box">
				<div>{{formStatePrint modelData}}</div>
		</div>
		<div class="pure-u-1-3 l-box">
				<div class="pull-right">Last updated: {{dateFormat modelData.lastUpdated}}</div>
		</div>
	</div>
</div>