<form action="#none" id="personLockAddForm" class="pure-form pure-form-stacked">
  <fieldset>
    <div class="pure-g-r" id="addPersonLock_wrapper">
    {{#if permissions.canAddSecurityAccessAllowedRecord}}
      <div class="pure-u-1 l-box" id="accessAllowedList_wrapper">
        <label class="pure-radio">
          <input id="accessAllowedList" type="radio" name="personLockType" value="ALLOWED_LIST" />{{labels.accessAllowedList}}
        </label>
      </div>
    {{/if}}
    {{#if permissions.canAddSecurityAccessDeniedRecord}}
      <div class="pure-u-1 l-box" id="accessDeniedList_wrapper">
        <label class="pure-radio">
        <input id="accessDeniedList" type="radio" name="personLockType" value="DENIED_LIST" />{{labels.accessDeniedList}}
        </label>
      </div>
    {{/if}}
    </div>
  </fieldset>
</form>