<div class="pure-g-r readonly">
	{{#modelData.mentalState}}
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.mood}}</div>
			<div class="value">{{{mentalStateMood}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{{../labels.medication}}}</div>
			<div class="value">{{{mentalStateMedication}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.moodWorseWhen}}</div>
			<div class="value">{{{mentalStateTimeWorse}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{{../labels.avoidingPeople}}}</div>
			<div class="value">{{{mentalStateAvoidingPeople}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{{../labels.futureSelf}}}</div>
			<div class="value">{{{mentalStateFuture}}}</div>	
		</div>
	{{/modelData.mentalState}}
		
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>