<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
           	<div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.hearingProblems}}</legend>
	            	{{radioTri 'intakeEditForm' 'hearingProblems' hearingProblems}}
	            </fieldset>
	        </div>
	        <div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.hearingAidWorn}}</legend>
	            	{{radioTri 'intakeEditForm' 'hearingAidWorn' hearingAidWorn}}
	            </fieldset>
	        </div>
	        <div class="pure-u-1-3 l-box">
	            <label for="intakeEditForm_appendixOneLastHearingAssessmentDate">{{../labels.lastHearingAssessmentDate}}</label>
	           	<input id="intakeEditForm_appendixOneLastHearingAssessmentDate" type="text" class="pure-input-1" name="lastHearingAssessmentDate" placeholder="DD-MMM-YYYY" value="{{dateFormat lastHearingAssessmentDate}}" maxlength="11" />
	        </div>
           	<div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.hearingSupportRequired}}</legend>
	            	{{radioTri 'intakeEditForm' 'hearingSupportRequired' hearingSupportRequired}}
	            </fieldset>
	        </div>	
	       	<div class="pure-u-2-3 l-box">
	            <label for="intakeEditForm_appendixOneHearingSupportDescription">{{{../labels.hearingSupportDescription}}}</label>
	            <div data-name="hearingSupportDescription" class="formRichTextInput" id="intakeEditForm_appendixOneHearingSupportDescription" contenteditable="true">{{{hearingSupportDescription}}}</div>
	        </div> 	
        {{/modelData}}
    </div>
</form>