<div class="pure-g-r readonly">
	{{#modelData.referral}}
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.referrerName}}</div>
			<div class="value">{{referrerName}}</div>	
		</div>
		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.referrerRole}}</div>
			<div class="value">{{referrerRole}}</div>	
		</div>
		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.referralReason}}</div>
			<div class="value">{{{referralReason}}}</div>	
		</div>
		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.referralDate}}</div>
			<div class="value">{{dateFormat referralDate}}</div>	
		</div>
	{{/modelData.referral}}
	
    <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if modelData.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>