<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoFeelingsAchesAndPains">{{{../labels.feelingsAchesAndPains}}}</label>
	            <div data-name="feelingsAchesAndPains" class="formRichTextInput" id="intakeEditForm_appendixTwoFeelingsAchesAndPains" contenteditable="true">{{{feelingsAchesAndPains}}}</div>
	        </div> 
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoFeelingsEnjoyingLife">{{{../labels.feelingsEnjoyingLife}}}</label>
	            <div data-name="feelingsEnjoyingLife" class="formRichTextInput" id="intakeEditForm_appendixTwoFeelingsEnjoyingLife" contenteditable="true">{{{feelingsEnjoyingLife}}}</div>
	        </div>  
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoFeelingsConcentration">{{{../labels.feelingsConcentration}}}</label>
	            <div data-name="feelingsConcentration" class="formRichTextInput" id="intakeEditForm_appendixTwoFeelingsConcentration" contenteditable="true">{{{feelingsConcentration}}}</div>
	        </div> 
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoFeelingsEnergy">{{{../labels.feelingsEnergy}}}</label>
	            <div data-name="feelingsEnergy" class="formRichTextInput" id="intakeEditForm_appendixTwoFeelingsEnergy" contenteditable="true">{{{feelingsEnergy}}}</div>
	        </div>    	        	        	        
        {{/modelData}}
    </div>
</form>

	        
		