<div class="pure-g-r readonly">
	{{#modelData.mentalHealth}}
		<div class="pure-u-1-1 l-box">
			<div class="name">{{../labels.description}}</div>
			<div class="value">{{{mentalHealthDescription}}}</div>	
		</div>
		
		<div class="pure-u-1-1 l-box">
			<div class="name">{{../labels.sleepPattern}}</div>
			<div class="value">{{{mentalHealthSleepPattern}}}</div>	
		</div>
		
		<div class="pure-u-1-1 l-box">
			<div class="name">{{../labels.appetite}}</div>
			<div class="value">{{{mentalHealthAppetite}}}</div>	
		</div>
		
		<div class="pure-u-1-1 l-box">
			<div class="name">{{../labels.behaviour}}</div>
			<div class="value">{{{behaviourDescription}}}</div>	
		</div>
	{{/modelData.mentalHealth}}
	
    <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if modelData.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>