<div class="pure-g-r readonly">
	{{#modelData.footCare}}	
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.footProblems}}</div>
			<div class="value">{{yesNo footProblems}}</div>	
		</div>
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.footProblemsDescription}}</div>
			<div class="value">{{{footProblemsDescription}}}</div>
		</div>	
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.seesChiropodist}}</div>
			<div class="value">{{yesNo seesChiropodist}}</div>	
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.lastChiropodyAppointmentDate}}</div>
			<div class="value">{{dateFormat lastChiropodyAppointmentDate}}</div>	
		</div>	
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.chiropodistName}}</div>
			<div class="value">{{chiropodistName}}</div>
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.chiropodistContactNumber}}</div>
			<div class="value">{{chiropodistContactNumber}}</div>
		</div>	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.chiropodistAddress}}</div>
			<div class="value">{{chiropodistAddress}}</div>
		</div>					
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.feetSupportRequired}}</div>
			<div class="value">{{yesNo feetSupportRequired}}</div>
		</div>		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.feetSupportDescription}}</div>
			<div class="value">{{{feetSupportDescription}}}</div>
		</div>	
	{{/modelData.footCare}}			
		
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>