<div class="pure-g-r readonly">
	{{#modelData.breathingCirculation}}
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.suffersFromBreathlessness}}</div>
			<div class="value">{{yesNo suffersFromBreathlessness}}</div>	
		</div>
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.breathlessnessDescription}}</div>
			<div class="value">{{{breathlessnessDescription}}}</div>
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.respiratoryHeartProblems}}</div>
			<div class="value">{{yesNo respiratoryHeartProblems}}</div>	
		</div>
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.respiratoryHeartProblemsDescription}}</div>
			<div class="value">{{{respiratoryHeartProblemsDescription}}}</div>
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.circulationProblems}}</div>
			<div class="value">{{yesNo circulationProblems}}</div>	
		</div>
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.circulationProblemsDescription}}</div>
			<div class="value">{{{circulationProblemsDescription}}}</div>
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.breathingCirculationChecked}}</div>
			<div class="value">{{yesNo breathingCirculationChecked}}</div>	
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.dateLastCirculationAppointment}}</div>
			<div class="value">{{dateFormat dateLastCirculationAppointment}}</div>	
		</div>	
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.circulationSpecialistName}}</div>
			<div class="value">{{circulationSpecialistName}}</div>
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.circulationSpecialistContactNumber}}</div>
			<div class="value">{{circulationSpecialistContactNumber}}</div>
		</div>	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.circulationSpecialistAddress}}</div>
			<div class="value">{{circulationSpecialistAddress}}</div>
		</div>					
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.circulationSupportRequired}}</div>
			<div class="value">{{yesNo circulationSupportRequired}}</div>
		</div>		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.circulationSupportDescription}}</div>
			<div class="value">{{{circulationSupportDescription}}}</div>
		</div>	
	{{/modelData.breathingCirculation}}
				
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>