<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
           	<div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.suffersFromEpilepsy}}</legend>
	            	{{radioTri 'intakeEditForm' 'suffersFromEpilepsy' suffersFromEpilepsy}}
	            </fieldset>
	        </div>
	        <div class="pure-u-2-3 l-box">
	            <label for="intakeEditForm_appendixOneSeizureDescription">{{{../labels.seizureDescription}}}</label>
	            <div data-name="seizureDescription" class="formRichTextInput" id="intakeEditForm_appendixOneSeizureDescription" contenteditable="true">{{{seizureDescription}}}</div>
	        </div> 
	        <div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.epilepsyMonitored}}</legend>
	            	{{radioTri 'intakeEditForm' 'epilepsyMonitored' epilepsyMonitored}}
	            </fieldset>
	        </div>
	        <div class="pure-u-2-3 l-box">
	            <label for="intakeEditForm_appendixOneHowOftenEpilepsyMonitored">{{../labels.howOftenEpilepsyMonitored}}</label>
	           	<input id="intakeEditForm_appendixOneHowOftenEpilepsyMonitored" type="text" class="pure-input-1" name="howOftenEpilepsyMonitored" value="{{howOftenEpilepsyMonitored}}" maxlength="255" />
	           	
	            <label for="intakeEditForm_appendixOneDateLastEpilepsyAppointment">{{../labels.dateLastEpilepsyAppointment}}</label>
	           	<input id="intakeEditForm_appendixOneDateLastEpilepsyAppointment" type="text" class="pure-input-1" name="dateLastEpilepsyAppointment" placeholder="DD-MMM-YYYY" value="{{dateFormat dateLastEpilepsyAppointment}}" maxlength="11" />	           	
	        </div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneEpilepsySpecialistName">{{../labels.epilepsySpecialistName}}</label>
	           	<input id="intakeEditForm_appendixOneEpilepsySpecialistName" type="text" class="pure-input-1" name="epilepsySpecialistName" value="{{epilepsySpecialistName}}" maxlength="255" />
			</div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneEpilepsySpecialistContactNumber">{{../labels.epilepsySpecialistContactNumber}}</label>
	           	<input id="intakeEditForm_appendixOneEpilepsySpecialistContactNumber" type="text" class="pure-input-1" name="epilepsySpecialistContactNumber" value="{{epilepsySpecialistContactNumber}}" maxlength="255" />
			</div>
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixOneEpilepsySpecialistAddress">{{../labels.epilepsySpecialistAddress}}</label>
	           	<input id="intakeEditForm_appendixOneEpilepsySpecialistAddress" type="text" class="pure-input-1" name="epilepsySpecialistAddress" value="{{epilepsySpecialistAddress}}" maxlength="255" />
			</div>
           	<div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.emergencyMedProtocol}}</legend>
	            	{{radioTri 'intakeEditForm' 'emergencyMedProtocol' emergencyMedProtocol}}
	            </fieldset>
	        </div>	
	        <div class="pure-u-2-3 l-box">
	            <label for="intakeEditForm_appendixOneEmergencyMedProtocolDescription">{{{../labels.emergencyMedProtocolDescription}}}</label>
	            <div data-name="emergencyMedProtocolDescription" class="formRichTextInput" id="intakeEditForm_appendixOneEmergencyMedProtocolDescription" contenteditable="true">{{{emergencyMedProtocolDescription}}}</div>
	        </div> 		        
        {{/modelData}}
    </div>
</form>