<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
		
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_speechCommunicationIssues">{{../labels.speechCommunicationIssues}}</label>
	            <div data-name="speechCommunicationIssues" class="formRichTextInput" id="intakeEditForm_speechCommunicationIssues" contenteditable="true">{{{speechCommunicationIssues}}}</div>
	        </div>
        {{/modelData}}
    </div>
</form>