<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
		
	        <div class="pure-u-1-2 l-box">
	            <fieldset>
	            	<legend>{{../labels.consentToShare}} <span class="mandatory">*</span></legend>
	            	{{radioBi 'intakeEditForm' 'consentToShare' consentToShare}}
	            </fieldset>
	        </div>
	
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_consentToShareDetails">{{../labels.consentToShareDetails}} <span class="mandatory">*</span></label>
	            <div data-name="consentToShareDetails" class="formRichTextInput" id="intakeEditForm_consentToShareDetails" required contenteditable="true">{{{consentToShareDetails}}}</div>
	        </div>
        {{/modelData}}
    </div>
</form>