<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
		
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_referrerName">{{../labels.referrerName}}  <span class="mandatory">*</span></label>
	            <input id="intakeEditForm_referrerName" type="text" class="pure-input-1" name="referrerName" value="{{referrerName}}"/>
	        </div>
	        
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_referrerRole">{{../labels.referrerRole}}  <span class="mandatory">*</span></label>
	            <input id="intakeEditForm_referrerRole" type="text"  class="pure-input-1" name="referrerRole" value="{{referrerRole}}"/>
	        </div>
	        
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_referralDate">{{../labels.referralReason}}  <span class="mandatory">*</span></label>
	            <div data-name="referralReason" class="formRichTextInput" id="intakeEditForm_referralReason" contenteditable="true">{{{referralReason}}}</div>
	        </div>
	        
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_referralDate">{{../labels.referralDate}}  <span class="mandatory">*</span></label>
	            <input id="intakeEditForm_referralDate" type="text"  class="pure-input-1" name="referralDate" value="{{dateFormat referralDate}}"/> 
	        </div>	        
        {{/modelData}}
    </div>
</form>