<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
           	<div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.footProblems}}</legend>
	            	{{radioTri 'intakeEditForm' 'footProblems' footProblems}}
	            </fieldset>
	        </div>
	        <div class="pure-u-2-3 l-box">
	            <label for="intakeEditForm_appendixOneFootProblemsDescription">{{{../labels.footProblemsDescription}}}</label>
	            <div data-name="footProblemsDescription" class="formRichTextInput" id="intakeEditForm_appendixOneFootProblemsDescription" contenteditable="true">{{{footProblemsDescription}}}</div>
	        </div> 
	        <div class="pure-u-1-2 l-box">
	            <fieldset class="inline-checkbox">
	            	<legend>{{../labels.seesChiropodist}}</legend>
	            	{{radioTri 'intakeEditForm' 'seesChiropodist' seesChiropodist}}
	            </fieldset>
	        </div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneLastChiropodyAppointmentDate">{{../labels.lastChiropodyAppointmentDate}}</label>
	           	<input id="intakeEditForm_appendixOneLastChiropodyAppointmentDate" type="text" class="pure-input-1" name="lastChiropodyAppointmentDate" placeholder="DD-MMM-YYYY" value="{{dateFormat lastChiropodyAppointmentDate}}" maxlength="11" />
	        </div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneChiropodistName">{{../labels.chiropodistName}}</label>
	           	<input id="intakeEditForm_appendixOneChiropodistName" type="text" class="pure-input-1" name="chiropodistName" value="{{chiropodistName}}" maxlength="255" />
			</div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneChiropodistContactNumber">{{../labels.chiropodistContactNumber}}</label>
	           	<input id="intakeEditForm_appendixOneChiropodistContactNumber" type="text" class="pure-input-1" name="chiropodistContactNumber" value="{{chiropodistContactNumber}}" maxlength="255" />
			</div>
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixOneChiropodistAddress">{{../labels.chiropodistAddress}}</label>
	           	<input id="intakeEditForm_appendixOneChiropodistAddress" type="text" class="pure-input-1" name="chiropodistAddress" value="{{chiropodistAddress}}" maxlength="255" />
			</div>
           	<div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.feetSupportRequired}}</legend>
	            	{{radioTri 'intakeEditForm' 'feetSupportRequired' feetSupportRequired}}
	            </fieldset>
	        </div>	
	        <div class="pure-u-2-3 l-box">
	            <label for="intakeEditForm_appendixOneFeetSupportDescription">{{{../labels.feetSupportDescription}}}</label>
	            <div data-name="feetSupportDescription" class="formRichTextInput" id="intakeEditForm_appendixOneFeetSupportDescription" contenteditable="true">{{{feetSupportDescription}}}</div>
	        </div> 		        
        {{/modelData}}
    </div>
</form>