<div class="pure-g-r readonly">
	{{#modelData.familyHistory}}	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.familyHistoryHeartProblems}}</div>
			<div class="value">{{{familyHistoryHeartProblems}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.familyHistoryDiabetes}}</div>
			<div class="value">{{{familyHistoryDiabetes}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.familyHistoryAsthma}}</div>
			<div class="value">{{{familyHistoryAsthma}}}</div>
		</div>		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.familyHistoryCancer}}</div>
			<div class="value">{{{familyHistoryCancer}}}</div>
		</div>
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.familyHistoryGlaucoma}}</div>
			<div class="value">{{{familyHistoryGlaucoma}}}</div>
		</div>
	{{/modelData.familyHistory}}
	
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>