<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixThreeBehaviourWhat">{{{../labels.behaviourWhat}}}</label>
	            <div data-name="behaviourWhat" class="formRichTextInput" id="intakeEditForm_appendixThreeBehaviourWhat" contenteditable="true">{{{behaviourWhat}}}</div>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixThreeBehaviourWhere">{{{../labels.behaviourWhere}}}</label>
	            <div data-name="behaviourWhere" class="formRichTextInput" id="intakeEditForm_appendixThreeBehaviourWhere" contenteditable="true">{{{behaviourWhere}}}</div>
	        </div>
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixThreeBehaviourFrequency">{{{../labels.behaviourFrequency}}}</label>
	            <div data-name="behaviourFrequency" class="formRichTextInput" id="intakeEditForm_appendixThreeBehaviourFrequency" contenteditable="true">{{{behaviourFrequency}}}</div>
	        </div>
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixThreeBehaviourDuration">{{{../labels.behaviourDuration}}}</label>
	            <div data-name="behaviourDuration" class="formRichTextInput" id="intakeEditForm_appendixThreeBehaviourDuration" contenteditable="true">{{{behaviourDuration}}}</div>
	        </div>
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixThreeBehaviourTriggers">{{{../labels.behaviourTriggers}}}</label>
	            <div data-name="behaviourTriggers" class="formRichTextInput" id="intakeEditForm_appendixThreeBehaviourTriggers" contenteditable="true">{{{behaviourTriggers}}}</div>
	        </div>
        {{/modelData}}
    </div>
</form>