<div class="pure-g-r readonly">
	{{#modelData.future}}
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.clientPlan}}</div>
			<div class="value">{{{futurePlanOfClient}}}</div>	
		</div>		
	{{/modelData.future}}
	
    <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if modelData.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>