<div class="pure-g-r readonly">
	{{#modelData.medication}}
		<div class="pure-u-1-3 l-box">
			<div class="name">{{../labels.healthActionPlan}}</div>
			<div class="value">{{yesNo medicationHealthActionPlan}}</div>	
		</div>
		<div class="pure-u-1-3 l-box">
			<div class="name">{{../labels.recentChanges}}</div>
			<div class="value">{{yesNo medicationRecentChanges}}</div>	
		</div>
		<div class="pure-u-1-3 l-box">
			<div class="name">{{../labels.compliance}}</div>
			<div class="value">{{yesNo medicationCompliance}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.supportRequired}}</div>
			<div class="value">{{{medicationSupportRequired}}}</div>	
		</div>
	{{/modelData.medication}}
	  
    <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if modelData.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 	
</div>