<div class="pure-g-r readonly">
	{{#modelData.communication}}
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.communicationVerbal}}</div>
			<div class="value">{{yesNo communicationVerbal}}</div>	
		</div>
		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.communicationSignsAndPictures}}</div>
			<div class="value">{{yesNo communicationSignsAndPictures}}</div>	
		</div>
		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.communicationGesturesAndNoises}}</div>
			<div class="value">{{yesNo communicationGesturesAndNoises}}</div>
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.communicationEyePointing}}</div>
			<div class="value">{{yesNo communicationEyePointing}}</div>
		</div>
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.communicationOtherMethods}}</div>
			<div class="value">{{{communicationOtherMethods}}}</div>
		</div>
	{{/modelData.communication}}  
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>