<div class="pure-g-r readonly">
	{{#modelData.consent}}
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.consentToShare}}</div>
			<div class="value">{{yesNo consentToShare}}</div>	
		</div>
		
		<div class="pure-u-1-1 l-box">
			<div class="name">{{../labels.consentToShareDetails}}</div>
			<div class="value">{{{consentToShareDetails}}}</div>	
		</div>
	{{/modelData.consent}}
	
    <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if modelData.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>