<div class="pure-g-r readonly">

	<div class="pure-u-1-4 l-box">		
		<div class="name"></div>
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="name">{{labels.morning}}</div>
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="name">{{labels.afternoon}}</div>
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="name">{{labels.evening}}</div>
	</div>
	
	<div class="pure-u-1-4 l-box">	
		<div class="name">{{labels.monday}}</div>
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="value">{{{timetableModelList.0.event}}}</div>
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="value">{{{timetableModelList.1.event}}}</div>	
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="value">{{{timetableModelList.2.event}}}</div>
	</div>
	
	<div class="pure-u-1-4 l-box">	
		<div class="name">{{labels.tuesday}}</div>
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="value">{{{timetableModelList.3.event}}}</div>
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="value">{{{timetableModelList.4.event}}}</div>	
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="value">{{{timetableModelList.5.event}}}</div>	
	</div>
	
	<div class="pure-u-1-4 l-box">	
		<div class="name">{{labels.wednesday}}</div>
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="value">{{{timetableModelList.6.event}}}</div>	
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="value">{{{timetableModelList.7.event}}}</div>	
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="value">{{{timetableModelList.8.event}}}</div>	
	</div>
	
	<div class="pure-u-1-4 l-box">	
		<div class="name">{{labels.thursday}}</div>
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="value">{{{timetableModelList.9.event}}}</div>	
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="value">{{{timetableModelList.10.event}}}</div>	
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="value">{{{timetableModelList.11.event}}}</div>	
	</div>
	
	<div class="pure-u-1-4 l-box">	
		<div class="name">{{labels.friday}}</div>
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="value">{{{timetableModelList.12.event}}}</div>	
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="value">{{{timetableModelList.13.event}}}</div>	
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="value">{{{timetableModelList.14.event}}}</div>	
	</div>
	
	<div class="pure-u-1-4 l-box">	
		<div class="name">{{labels.saturday}}</div>
	</div>
	<div class="pure-u-1-4 l-box">	
		<div class="value">{{{timetableModelList.15.event}}}</div>
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="value">{{{timetableModelList.16.event}}}</div>	
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="value">{{{timetableModelList.17.event}}}</div>	
	</div>
	
	<div class="pure-u-1-4 l-box">	
		<div class="name">{{labels.sunday}}</div>
	</div>
	<div class="pure-u-1-4 l-box">	
		<div class="value">{{{timetableModelList.18.event}}}</div>	
	</div>
	<div class="pure-u-1-4 l-box">
		<div class="value">{{{timetableModelList.19.event}}}</div>	
	</div>
	<div class="pure-u-1-4 l-box">	
		<div class="value">{{{timetableModelList.20.event}}}</div>	
	</div>
		
	{{#modelData.social}}
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.currentArrangementsIssues}}</div>
			<div class="value">{{{socialCurrentArrangementsIssues}}}</div>	
		</div>
	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.supportRequired}}</div>
			<div class="value">{{{socialSupportRequired}}}</div>	
		</div>
	{{/modelData.social}}
	
    <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if modelData.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>