<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
		
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_speechSpecialDiet">{{../labels.specialDiet}}</label>
	            <div data-name="speechSpecialDiet" class="formRichTextInput" id="intakeEditForm_speechSpecialDiet" contenteditable="true">{{{speechSpecialDiet}}}</div>
	        </div>
	        
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_speechProblemsEating">{{../labels.problemsEating}}</label>
	            <div data-name="speechProblemsEating" class="formRichTextInput" id="intakeEditForm_speechProblemsEating" contenteditable="true">{{{speechProblemsEating}}}</div>
	        </div>
	        
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_speechMealtimeIssues">{{../labels.mealtimeIssues}}</label>
	            <div data-name="speechMealtimeIssues" class="formRichTextInput" id="intakeEditForm_speechMealtimeIssues" contenteditable="true">{{{speechMealtimeIssues}}}</div>
	        </div>
        {{/modelData}}
    </div>
</form>