<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
        	<div class="pure-u-1-2 l-box">
	            <fieldset>
	            	<legend>{{../labels.communicationVerbal}}</legend>
	            	{{radioTri 'intakeEditForm' 'communicationVerbal' communicationVerbal}}
	            </fieldset>
	        </div>
        	<div class="pure-u-1-2 l-box">
	            <fieldset>
	            	<legend>{{../labels.communicationSignsAndPictures}}</legend>
	            	{{radioTri 'intakeEditForm' 'communicationSignsAndPictures' communicationSignsAndPictures}}
	            </fieldset>
	        </div>
        	<div class="pure-u-1-2 l-box">
	            <fieldset>
	            	<legend>{{../labels.communicationGesturesAndNoises}}</legend>
	            	{{radioTri 'intakeEditForm' 'communicationGesturesAndNoises' communicationGesturesAndNoises}}
	            </fieldset>
	        </div>
        	<div class="pure-u-1-2 l-box">
	            <fieldset>
	            	<legend>{{../labels.communicationEyePointing}}</legend>
	            	{{radioTri 'intakeEditForm' 'communicationEyePointing' communicationEyePointing}}
	            </fieldset>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixOneCommunicationOtherMethods">{{{../labels.communicationOtherMethods}}}</label>
	            <div data-name="communicationOtherMethods" class="formRichTextInput" id="intakeEditForm_appendixOneCommunicationOtherMethods" contenteditable="true">{{{communicationOtherMethods}}}</div>
	        </div>       	        	        	        
        {{/modelData}}
    </div>
</form>
