<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoMentalStateTalkingTV">{{{../labels.mentalStateTalkingTV}}}</label>
	            <div data-name="mentalStateTalkingTV" class="formRichTextInput" id="intakeEditForm_appendixTwoMentalStateTalkingTV" contenteditable="true">{{{mentalStateTalkingTV}}}</div>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoMentalStateThoughts">{{{../labels.mentalStateThoughts}}}</label>
	            <div data-name="mentalStateThoughts" class="formRichTextInput" id="intakeEditForm_appendixTwoMentalStateThoughts" contenteditable="true">{{{mentalStateThoughts}}}</div>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoMentalStateVisions">{{{../labels.mentalStateVisions}}}</label>
	            <div data-name="mentalStateVisions" class="formRichTextInput" id="intakeEditForm_appendixTwoMentalStateVisions" contenteditable="true">{{{mentalStateVisions}}}</div>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoMentalStateSensations">{{{../labels.mentalStateSensations}}}</label>
	            <div data-name="mentalStateSensations" class="formRichTextInput" id="intakeEditForm_appendixTwoMentalStateSensations" contenteditable="true">{{{mentalStateSensations}}}</div>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoMentalStateSpecialReason">{{{../labels.mentalStateSpecialReason}}}</label>
	            <div data-name="mentalStateSpecialReason" class="formRichTextInput" id="intakeEditForm_appendixTwoMentalStateSpecialReason" contenteditable="true">{{{mentalStateSpecialReason}}}</div>
	        </div>	        	        	        	        
        {{/modelData}}
    </div>
</form>
