{{! Iterate round each item in the model list}}
{{#modelList}}
	<div class="pure-g-r identifiedRisk">
		<div class="pure-u-1 l-box">
			<div class="inner-panel">
				<div class="pure-g-r">
					<div class="pure-u-5-8 l-box">
						<div class="pure-g-r">
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.risk}}</div>
								<div class="value">{{{risk}}}</div>	
							</div>
							<div class="pure-u-1 l-box">
								<div class="name">{{../labels.riskManagementActivity}}</div>
								<div class="value">{{{riskManagementActivity}}}</div>
							</div>
							<div class="pure-u-1-3 l-box">
								<div class="name">{{../labels.date}}</div>
								<div class="value">{{dateFormat riskDate}}</div>
							</div>		
						</div>
					</div>
					<div class="pure-u-3-8">
						<div class="pure-g-r">
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.likelihood}}</div>
								<div class="value">{{enumType likelihood ../enumTypes.likelihood}}</div>				
							</div>
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.revisedLikelihood}}</div>
								<div class="value">{{enumType revisedLikelihood ../enumTypes.likelihood}}</div>				
							</div>
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.impact}}</div>
								<div class="value">{{enumType impact ../enumTypes.impact}}</div>				
							</div>
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.revisedImpact}}</div>
								<div class="value">{{enumType revisedImpact ../enumTypes.impact}}</div>				
							</div>
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.total}}</div>
								<div class="value">{{total}}</div>				
							</div>		
							<div class="pure-u-1-2 l-box">
								<div class="name">{{../labels.revisedTotal}}</div>
								<div class="value">{{revisedTotal}}</div>				
							</div>										
						</div>
					</div>
					<div class="pure-u-1 l-box">
				        <div class="pure-button-group pull-right">
				            {{#if ../formModel.canUpdate}}
				                <button type="button" data-id="{{id}}" class="pure-button pure-button-active edit"><i class="fa fa-pencil-square-o"></i>{{../../labels.edit}}</button>
				                <button type="button" data-id="{{id}}" class="pure-button pure-button-active remove"><i class="fa fa-trash"></i>{{../../labels.remove}}</button>
				            {{else}}
				                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{../../labels.edit}}</button>
				                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-trash"></i>{{../../labels.remove}}</button>
				            {{/if}}
				        </div>  
			    	</div>					
				</div>					
			</div>
		</div> 
	</div>
{{/modelList}}