<div class="pure-g-r readonly">
	{{#modelData.orientation}}
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.whichDay}}</div>
			<div class="value">{{timeDay}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.whichMonth}}</div>
			<div class="value">{{timeMonth}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.whichYear}}</div>
			<div class="value">{{timeYear}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.whatTime}}</div>
			<div class="value">{{timeTime}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.whichPartOfDay}}</div>
			<div class="value">{{enumType timePartOfDay ../enumTypes.dayPart}}</div>	
		</div>
	{{/modelData.orientation}}
		
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>