<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}

        <div class="pure-u-1 l-box">
            <label for="intakeEditForm_timeDay">{{labels.timeDay}}</label>
           	<input id="intakeEditForm_timeDay" type="text" class="pure-input-1" name="timeDay" value="{{modelData.timeDay}}" maxlength="255"/>
        </div>
	        
        <div class="pure-u-1 l-box">
            <label for="intakeEditForm_timeMonth">{{labels.timeMonth}}</label>
           	<input id="intakeEditForm_timeMonth" type="text" class="pure-input-1" name="timeMonth" value="{{modelData.timeMonth}}" maxlength="255" />
        </div>
	        
		<div class="pure-u-1 l-box">
            <label for="intakeEditForm_timeYear">{{labels.timeYear}}</label>
           	<input id="intakeEditForm_timeYear" type="text" class="pure-input-1" name="timeYear" value="{{modelData.timeYear}}" maxlength="255" />
		</div>

		<div class="pure-u-1 l-box">
            <label for="intakeEditForm_timeTime">{{labels.timeTime}}</label>
           	<input id="intakeEditForm_timeTime" type="text" class="pure-input-1" name="timeTime" value="{{modelData.timeTime}}" maxlength="255" />
		</div>

		<div class="pure-u-1 l-box">
            <label for="intakeEditForm_timePartOfDay">{{labels.timePartOfDay}}</label>
           	<select id="intakeEditForm_timePartOfDay" class="pure-input-1" name="timePartOfDay"></select>
		</div>
    </div>
</form>
	        
		