<div class="pure-g-r readonly">
	{{#modelData.behaviour}}
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.consequencesImpact}}</div>
			<div class="value">{{{behaviourConsequences}}}</div>
		</div>	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.responseToBehaviour}}</div>
			<div class="value">{{{behaviourResponse}}}</div>
		</div>	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.howLongBehaviourPresent}}</div>
			<div class="value">{{{behaviourHowLongPresent}}}</div>
		</div>	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.desiredAlternatives}}</div>
			<div class="value">{{{behaviourAspirations}}}</div>
		</div>	
	{{/modelData.behaviour}}

	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>