<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
			<div class="pure-u-1 l-box">
				<label for="editAppendixTwoPlaceOrientation_placeWhere">{{{../labels.placeWhere}}}</label>
				<input id="editAppendixTwoPlaceOrientation_placeWhere" type="text" class="pure-input-1" name="placeWhere" value="{{placeWhere}}"/>
			</div>	
			<div class="pure-u-1 l-box">
				<label for="editAppendixTwoPlaceOrientation_placeCountry">{{{../labels.placeCountry}}}</label>
				<input id="editAppendixTwoPlaceOrientation_placeCountry" type="text" class="pure-input-1" name="placeCountry" value="{{placeCountry}}"/>
			</div>
			<div class="pure-u-1 l-box">
				<label for="editAppendixTwoPlaceOrientation_placePartOfCountry">{{{../labels.placePartOfCountry}}}</label>
				<input id="editAppendixTwoPlaceOrientation_placePartOfCountry" type="text" class="pure-input-1" name="placePartOfCountry" value="{{placePartOfCountry}}"/>
			</div>					        	        	        	        
        {{/modelData}}
    </div>
</form>
