<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
		
	        <div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.alcoholConsumption}}</legend>
	            	{{radioTri 'intakeEditForm' 'lifestyleAlcoholConsumption' lifestyleAlcoholConsumption}}
	            </fieldset>
	        </div>
	        <div class="pure-u-2-3 l-box">
	            <label for="intakeEditForm_lifestyleAlcoholDetails">{{../labels.alcoholDetails}}</label>
	            <div data-name="lifestyleAlcoholDetails" class="formRichTextInput" id="intakeEditForm_lifestyleAlcoholDetails" contenteditable="true">{{{lifestyleAlcoholDetails}}}</div>
	        </div>
	        
	        <div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.smoking}}</legend>
	            	{{radioTri 'intakeEditForm' 'lifestyleSmoking' lifestyleSmoking}}
	            </fieldset>
	        </div>
	        <div class="pure-u-2-3 l-box">
	            <label for="intakeEditForm_lifestyleSmokingDetails">{{../labels.smokingDetails}}</label>
	            <div data-name="lifestyleSmokingDetails" class="formRichTextInput" id="intakeEditForm_lifestyleSmokingDetails" contenteditable="true">{{{lifestyleSmokingDetails}}}</div>
	        </div>
	        
	        <div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.drugs}}</legend>
	            	{{radioTri 'intakeEditForm' 'lifestyleDrugs' lifestyleDrugs}}
	            </fieldset>		        
	        </div>
	        <div class="pure-u-2-3 l-box">
	            <label for="intakeEditForm_lifestyleDrugsDetails">{{../labels.drugsDetails}}</label>
	            <div data-name="lifestyleDrugsDetails" class="formRichTextInput" id="intakeEditForm_lifestyleDrugsDetails" contenteditable="true">{{{lifestyleDrugsDetails}}}</div>
	        </div>
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_lifestyleSupportRequired">{{../labels.supportRequired}}</label>
	            <div data-name="lifestyleSupportRequired" class="formRichTextInput" id="intakeEditForm_lifestyleSupportRequired" contenteditable="true">{{{lifestyleSupportRequired}}}</div>
	        </div>
        {{/modelData}}
    </div>
</form>