<div class="pure-g-r readonly">
	{{#modelData.wellbeing}}
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.achesPains}}</div>
			<div class="value">{{{feelingsAchesAndPains}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{{../labels.enjoyingLife}}}</div>
			<div class="value">{{{feelingsEnjoyingLife}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{{../labels.forgetful}}}</div>
			<div class="value">{{{feelingsConcentration}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.energy}}</div>
			<div class="value">{{{feelingsEnergy}}}</div>	
		</div>
	{{/modelData.wellbeing}}
		
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>