<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=../..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}

        {{#modelData}}
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_dateAndTimeOfAssessment">{{../labels.dateAndTimeOfAssessment}}</label>
		        <input id="intakeEditForm_dateAndTimeOfAssessment" type="text" class="pure-input-1" name="dateAndTimeOfAssessment" placeholder="DD-MMM-YYYY HH:MM" value="{{dateTimeFormat dateAndTimeOfAssessment}}" maxlength="17" />
	        </div>
		        
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_assessor">{{../labels.assessor}}</label>
	           	<input id="intakeEditForm_assessor" type="text" class="pure-input-1" name="assessor" value="{{assessor}}" />
	        </div>
		        
			<div class="pure-u-1 l-box">
	            <label for="intakeEditForm_assessmentLocation">{{../labels.assessmentLocation}}</label>
	           	<input id="intakeEditForm_assessmentLocation" type="text" class="pure-input-1" name="assessmentLocation" value="{{assessmentLocation}}" />
			</div>
        {{/modelData}}
    </div>
</form>
	        
		