<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneLastMedicalReviewDate">{{../labels.lastMedicalReviewDate}}</label>
	           	<input id="intakeEditForm_appendixOneLastMedicalReviewDate" type="text" class="pure-input-1" name=lastMedicalReviewDate placeholder="DD-MMM-YYYY" value="{{dateFormat lastMedicalReviewDate}}" maxlength="11" />
	        </div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneLastMedicationReviewCheck">{{../labels.lastMedicationReviewCheck}}</label>
	           	<input id="intakeEditForm_appendixOneLastMedicationReviewCheck" type="text" class="pure-input-1" name=lastMedicationReviewCheck placeholder="DD-MMM-YYYY" value="{{dateFormat lastMedicationReviewCheck}}" maxlength="11" />
	        </div>
			<div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneLastBloodTestDate">{{../labels.lastBloodTestDate}}</label>
	           	<input id="intakeEditForm_appendixOneLastBloodTestDate" type="text" class="pure-input-1" name=lastBloodTestDate placeholder="DD-MMM-YYYY" value="{{dateFormat lastBloodTestDate}}" maxlength="11" />
	        </div>
	        <div class="pure-u-1-2 l-box"></div>
        	<div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.requireBloodTests}}</legend>
	            	{{radioTri 'intakeEditForm' 'requireBloodTests' requireBloodTests}}
	            </fieldset>
	        </div>       
	
	        <div class="pure-u-2-3 l-box">
	            <label for="intakeEditForm_appendixOneBloodTestDetails">{{{../labels.bloodTestDetails}}}</label>
	            <div data-name="bloodTestDetails" class="formRichTextInput" id="intakeEditForm_appendixOneBloodTestDetails" contenteditable="true">{{{bloodTestDetails}}}</div>
	        </div>  			
        	<div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.bloodTestSupportRequired}}</legend>
	            	{{radioTri 'intakeEditForm' 'bloodTestSupportRequired' bloodTestSupportRequired}}
	            </fieldset>
	        </div>	
	        <div class="pure-u-2-3 l-box">
	            <label for="intakeEditForm_appendixOneBloodTestSupportDescription">{{{../labels.bloodTestSupportDescription}}}</label>
	            <div data-name="bloodTestSupportDescription" class="formRichTextInput" id="intakeEditForm_appendixOneBloodTestSupportDescription" contenteditable="true">{{{bloodTestSupportDescription}}}</div>
	        </div> 		
        {{/modelData}}
    </div>
</form>