<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
           	<div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.continenceProblems}}</legend>
	            	{{radioTri 'intakeEditForm' 'continenceProblems' continenceProblems}}
	            </fieldset>
	        </div>
	        <div class="pure-u-2-3 l-box">
	            <label for="intakeEditForm_appendixOneContinenceProblemsDescription">{{{../labels.continenceProblemsDescription}}}</label>
	            <div data-name="continenceProblemsDescription" class="formRichTextInput" id="intakeEditForm_appendixOneContinenceProblemsDescription" contenteditable="true">{{{continenceProblemsDescription}}}</div>
	        </div> 
	        <div class="pure-u-1-2 l-box">
	            <fieldset class="inline-checkbox">
	            	<legend>{{../labels.seenByContinenceAdvisor}}</legend>
	            	{{radioTri 'intakeEditForm' 'seenByContinenceAdvisor' seenByContinenceAdvisor}}
	            </fieldset>
	        </div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneLastContinenceAppointmentDate">{{../labels.lastContinenceAppointmentDate}}</label>
	           	<input id="intakeEditForm_appendixOneLastContinenceAppointmentDate" type="text" class="pure-input-1" name="lastContinenceAppointmentDate" placeholder="DD-MMM-YYYY" value="{{dateFormat lastContinenceAppointmentDate}}" maxlength="11" />
	        </div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneContinenceAdvisorName">{{../labels.continenceAdvisorName}}</label>
	           	<input id="intakeEditForm_appendixOneContinenceAdvisorName" type="text" class="pure-input-1" name="continenceAdvisorName" value="{{continenceAdvisorName}}" maxlength="255" />
			</div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneContinenceAdvisorContactNumber">{{../labels.continenceAdvisorContactNumber}}</label>
	           	<input id="intakeEditForm_appendixOneContinenceAdvisorContactNumber" type="text" class="pure-input-1" name="continenceAdvisorContactNumber" value="{{continenceAdvisorContactNumber}}" maxlength="255" />
			</div>
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixOneContinenceAdvisorAddress">{{../labels.continenceAdvisorAddress}}</label>
	           	<input id="intakeEditForm_appendixOneContinenceAdvisorAddress" type="text" class="pure-input-1" name="continenceAdvisorAddress" value="{{continenceAdvisorAddress}}" maxlength="255" />
			</div>
           	<div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.suffersFromUrineInfections}}</legend>
	            	{{radioTri 'intakeEditForm' 'suffersFromUrineInfections' suffersFromUrineInfections}}
	            </fieldset>
	        </div>	
	        <div class="pure-u-2-3 l-box">
	            <label for="intakeEditForm_appendixOneUrineInfectionDescription">{{{../labels.urineInfectionDescription}}}</label>
	            <div data-name="urineInfectionDescription" class="formRichTextInput" id="intakeEditForm_appendixOneUrineInfectionDescription" contenteditable="true">{{{urineInfectionDescription}}}</div>
	        </div> 		        
        {{/modelData}}
    </div>
</form>