<form action="#none" id="addEditSupportPlanForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
		<div class="pure-u-1-2 l-box">
			<label for="addEditSupportPlanForm_interventionAndSupport">{{labels.action}} <span class="mandatory">*</span></label>
            <div data-name="interventionAndSupport" class="formRichTextInput" id="addEditSupportPlanForm_interventionAndSupport" contenteditable="true">{{{modelData.interventionAndSupport}}}</div>
		</div>	
		<div class="pure-u-1-2 l-box">
            <label for="addEditSupportPlanForm_desiredOutcome">{{labels.desiredOutcome}} <span class="mandatory">*</span></label>
            <div data-name="desiredOutcome" class="formRichTextInput" id="addEditSupportPlanForm_desiredOutcome" contenteditable="true">{{{modelData.desiredOutcome}}}</div>
		</div>	
    </div>
</form>
