<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
           	<div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.dentalProblems}}</legend>
	            	{{radioTri 'intakeEditForm' 'dentalProblems' dentalProblems}}
	            </fieldset>
	        </div>
	        <div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.visitsDentist}}</legend>
	            	{{radioTri 'intakeEditForm' 'visitsDentist' visitsDentist}}
	            </fieldset>	        
	        </div>
	        <div class="pure-u-1-3 l-box">
	            <label for="intakeEditForm_appendixOneLastDentalAppointmentDate">{{../labels.lastDentalAppointmentDate}}</label>
	           	<input id="intakeEditForm_appendixOneLastDentalAppointmentDate" type="text" class="pure-input-1" name="lastDentalAppointmentDate" placeholder="DD-MMM-YYYY" value="{{dateFormat lastDentalAppointmentDate}}" maxlength="11" />
	        </div>
           	<div class="pure-u-1 l-box">
	            <fieldset class="inline-checkbox">
	            	<legend>{{../labels.hasDentures}}</legend>
	            	{{radioTri 'intakeEditForm' 'hasDentures' hasDentures}}
	            </fieldset>
	        </div>
           	<div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.denturesWorn}}</legend>
	            	{{radioTri 'intakeEditForm' 'denturesWorn' denturesWorn}}
	            </fieldset>
	        </div>	
	       	<div class="pure-u-2-3 l-box">
	            <label for="intakeEditForm_appendixOneReasonsDenturesNotWorn">{{{../labels.reasonsDenturesNotWorn}}}</label>
	            <div data-name="reasonsDenturesNotWorn" class="formRichTextInput" id="intakeEditForm_appendixOneReasonsDenturesNotWorn" contenteditable="true">{{{reasonsDenturesNotWorn}}}</div>
	        </div> 		        
           	<div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.dentalSupportRequired}}</legend>
	            	{{radioTri 'intakeEditForm' 'dentalSupportRequired' dentalSupportRequired}}
	            </fieldset>           	
	        </div>	
	       	<div class="pure-u-2-3 l-box">
	            <label for="intakeEditForm_appendixOneDentalSupportDescription">{{{../labels.dentalSupportDescription}}}</label>
	            <div data-name="dentalSupportDescription" class="formRichTextInput" id="intakeEditForm_appendixOneDentalSupportDescription" contenteditable="true">{{{dentalSupportDescription}}}</div>
	        </div> 		
        {{/modelData}}
    </div>
</form>