<div class="pure-g-r readonly">
	{{#modelData.wellbeing}}
		<div class="pure-u-1 l-box">
			<div class="name">{{{../labels.generalHealth}}}</div>
			<div class="value">{{{otherGeneralHealth}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{{../labels.emotions}}}</div>
			<div class="value">{{{otherFeelings}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.anxiety}}</div>
			{{#each anxiety}}
				<div class="value">
					{{enumType this ../../enumTypes.anxiety}}
				</div>	
			{{/each}}
		</div>
	{{/modelData.wellbeing}}
		
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>