<div class="pure-g-r readonly">
	{{#modelData.lifestyle}}
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.alcoholConsumption}}</div>
			<div class="value">{{yesNo lifestyleAlcoholConsumption}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.alcoholDetails}}</div>
			<div class="value">{{{lifestyleAlcoholDetails}}}</div>	
		</div>
		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.smoking}}</div>
			<div class="value">{{yesNo lifestyleSmoking}}</div>
		</div>		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.smokingDetails}}</div>
			<div class="value">{{{lifestyleSmokingDetails}}}</div>
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.drugs}}</div>
			<div class="value">{{yesNo lifestyleDrugs}}</div>
		</div>
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.drugsDetails}}</div>
			<div class="value">{{{lifestyleDrugsDetails}}}</div>
		</div>
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.supportRequired}}</div>
			<div class="value">{{{lifestyleSupportRequired}}}</div>
		</div>
	{{/modelData.lifestyle}}  
	
    <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if modelData.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>