<div class="pure-g-r readonly">
	{{#modelData.occupationalTherapy}}
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.mobilityProblems}}</div>
			<div class="value">{{yesNo otMobilityProblems}}</div>	
		</div>
	
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.utilityApplicationIssues}}</div>
			<div class="value">{{yesNo otUtilityApplicationIssues}}</div>	
		</div>	
	
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.aidsAndAdaptations}}</div>
			<div class="value">{{yesNo otAidsAndAdaptations}}</div>	
		</div>
	
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.recentProblems}}</div>
			<div class="value">{{yesNo otRecentProblems}}</div>	
		</div>
	{{/modelData.occupationalTherapy}}
    <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if modelData.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>