<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
		
	        <div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.healthActionPlan}}</legend>
	            	{{radioTri 'intakeEditForm' 'medicationHealthActionPlan' medicationHealthActionPlan}}
	            </fieldset>
	        </div>
	        <div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.recentChanges}}</legend>
	            	{{radioTri 'intakeEditForm' 'medicationRecentChanges' medicationRecentChanges}}
	            </fieldset>
	        </div>
	        <div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.compliance}}</legend>
	            	{{radioTri 'intakeEditForm' 'medicationCompliance' medicationCompliance}}
	            </fieldset>	        
	        </div>	        	        
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_supportRequired">{{../labels.supportRequired}}</label>
	            <div data-name="medicationSupportRequired" class="formRichTextInput" id="intakeEditForm_supportRequired" contenteditable="true">{{{medicationSupportRequired}}}</div>
	        </div>
        {{/modelData}}
    </div>
</form>