<form action="#none" id="addEditPreviousPlacementForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
		<div class="pure-u-1-2 l-box">
			<label for="addEditPreviousPlacementForm_startDate">{{labels.startDate}}  <span class="mandatory">*</span></label>
			<input id="addEditPreviousPlacementForm_startDate" type="text" class="pure-input-1" name="startDate" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.startDate}}" maxlength="11" required/>				
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="addEditPreviousPlacementForm_endDate">{{labels.endDate}}  <span class="mandatory">*</span></label>
			<input id="addEditPreviousPlacementForm_endDate" type="text" class="pure-input-1" name="endDate" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.endDate}}" maxlength="11" required/>				
		</div>
		<div class="pure-u-1 l-box">
			<label for="addEditPreviousPlacementForm_location">{{labels.location}}  <span class="mandatory">*</span></label>
			<input id="addEditPreviousPlacementForm_location" type="text" class="pure-input-1" name="location" required value="{{modelData.location}}"/>	
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="addEditPreviousPlacementForm_type">{{labels.type}}  <span class="mandatory">*</span></label>
			<input id="addEditPreviousPlacementForm_type" type="text" class="pure-input-1" name="type" required value="{{modelData.type}}"/>	
		</div>					
		<div class="pure-u-1-2 l-box">
			<label for="addEditPreviousPlacementForm_contact">{{labels.contact}}  <span class="mandatory">*</span></label>
			<input id="addEditPreviousPlacementForm_contact" type="text" class="pure-input-1" name="contact" required value="{{modelData.contact}}"/>
		</div>
		<div class="pure-u-1 l-box">
			<label for="addEditPreviousPlacementForm_endReason">{{labels.endReason}}  <span class="mandatory">*</span></label>
			<input id="addEditPreviousPlacementForm_endReason" type="text" class="pure-input-1" name="endReason" required value="{{modelData.endReason}}"/>		
		</div>
    </div>
</form>
