<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
           	<div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.eyesightProblems}}</legend>
	            	{{radioTri 'intakeEditForm' 'eyesightProblems' eyesightProblems}}
	            </fieldset>
	        </div>	        
	        <div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.wearsGlassesOrLenses}}</legend>
	            	{{radioTri 'intakeEditForm' 'wearsGlassesOrLenses' wearsGlassesOrLenses}}
	            </fieldset>
	        </div>
	        <div class="pure-u-1-3 l-box">
	            <label for="intakeEditForm_appendixOneLastEyeTestDate">{{../labels.lastEyeTestDate}}</label>
	           	<input id="intakeEditForm_appendixOneLastEyeTestDate" type="text" class="pure-input-1" name="lastEyeTestDate" placeholder="DD-MMM-YYYY" value="{{dateFormat lastEyeTestDate}}" maxlength="11" />
	        </div>	        
           	<div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.glassesLensesSupportRequired}}</legend>
	            	{{radioTri 'intakeEditForm' 'glassesLensesSupportRequired' glassesLensesSupportRequired}}
	            </fieldset>
	        </div>	
	        <div class="pure-u-2-3 l-box">
	            <label for="intakeEditForm_appendixOneGlassesLensesSupportDescription">{{{../labels.glassesLensesSupportDescription}}}</label>
	            <div data-name="glassesLensesSupportDescription" class="formRichTextInput" id="intakeEditForm_appendixOneGlassesLensesSupportDescription" contenteditable="true">{{{glassesLensesSupportDescription}}}</div>
	        </div> 		        
        {{/modelData}}
    </div>
</form>