<form action="#none" id="editReferencedPersonForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
		{{#modelData}}
	        <div class="pure-u-2-3 l-box">
	            <label for="editReferencedPersonForm_name">{{../labels.name}} {{#if ../otherData.mandatoryInputs}}<span class="mandatory">*</span>{{/if}}</label>
	            <input id="editReferencedPersonForm_name" type="text" class="pure-input-1" name="name" value="{{name}}" />	            
	        </div>
	        <div class="pure-u-1-3 l-box">
	            <label for="editReferencedPersonForm_relationshipTypeId">{{../labels.relationshipTypeId}} {{#if ../otherData.mandatoryInputs}}<span class="mandatory">*</span>{{/if}}</label>
	            <select id="editReferencedPersonForm_relationshipTypeId" class="pure-input-1" name="relationshipType"></select>	        
	        </div>
	        
	        <div class="pure-u-1 l-box">
	            <label for="editReferencedPersonForm_address">{{../labels.address}} {{#if ../otherData.mandatoryInputs}}<span class="mandatory">*</span>{{/if}}</label>
	            <input id="editReferencedPersonForm_address" type="text" class="pure-input-1" name="address" value="{{address}}" />
	        </div>
	        
	        <div class="pure-u-1 l-box">
	            <label for="editReferencedPersonForm_contact">{{../labels.contact}} {{#if ../otherData.mandatoryInputs}}<span class="mandatory">*</span>{{/if}}</label>
	            <input id="editReferencedPersonForm_contact" type="text" class="pure-input-1" name="contact" value="{{contact}}" />	            
	        </div>
        {{/modelData}}
    </div>
</form>