<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
           	<div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.skinProblems}}</legend>
	            	{{radioTri 'intakeEditForm' 'skinProblems' skinProblems}}
	            </fieldset>
	        </div>
           	<div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.seenBySkinSpecialist}}</legend>
	            	{{radioTri 'intakeEditForm' 'seenBySkinSpecialist' seenBySkinSpecialist}}
	            </fieldset>           	
	        </div>
	        <div class="pure-u-1-3 l-box">
	            <label for="intakeEditForm_appendixOneDateLastSkinAppointment">{{../labels.dateLastSkinAppointment}}</label>
	           	<input id="intakeEditForm_appendixOneDateLastSkinAppointment" type="text" class="pure-input-1" name="dateLastSkinAppointment" placeholder="DD-MMM-YYYY" value="{{dateFormat dateLastSkinAppointment}}" maxlength="11" />
	        </div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneSkinSpecialistName">{{../labels.skinSpecialistName}}</label>
	           	<input id="intakeEditForm_appendixOneSkinSpecialistName" type="text" class="pure-input-1" name="skinSpecialistName" value="{{skinSpecialistName}}" maxlength="255" />
			</div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneSkinSpecialistContactNumber">{{../labels.skinSpecialistContactNumber}}</label>
	           	<input id="intakeEditForm_appendixOneSkinSpecialistContactNumber" type="text" class="pure-input-1" name="skinSpecialistContactNumber" value="{{skinSpecialistContactNumber}}" maxlength="255" />
			</div>
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixOneSkinSpecialistAddress">{{../labels.skinSpecialistAddress}}</label>
	           	<input id="intakeEditForm_appendixOneSkinSpecialistAddress" type="text" class="pure-input-1" name="skinSpecialistAddress" value="{{skinSpecialistAddress}}" maxlength="255" />
			</div>
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixOneSkinTreatmentDescription">{{{../labels.skinTreatmentDescription}}}</label>
	            <div data-name="skinTreatmentDescription" class="formRichTextInput" id="intakeEditForm_appendixOneSkinTreatmentDescription" contenteditable="true">{{{skinTreatmentDescription}}}</div>
	        </div> 	
           	<div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.skinSupportRequired}}</legend>
	            	{{radioTri 'intakeEditForm' 'skinSupportRequired' skinSupportRequired}}
	            </fieldset>
	        </div>	
	        <div class="pure-u-2-3 l-box">
	            <label for="intakeEditForm_appendixOneSkinSupportDescription">{{{../labels.skinSupportDescription}}}</label>
	            <div data-name="skinSupportDescription" class="formRichTextInput" id="intakeEditForm_appendixOneSkinSupportDescription" contenteditable="true">{{{skinSupportDescription}}}</div>
	        </div> 		        
        {{/modelData}}
    </div>
</form>