<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixThreeBehaviourConsequences">{{{../labels.behaviourConsequences}}}</label>
	            <div data-name="behaviourConsequences" class="formRichTextInput" id="intakeEditForm_appendixThreeBehaviourConsequences" contenteditable="true">{{{behaviourConsequences}}}</div>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixThreeBehaviourResponse">{{{../labels.behaviourResponse}}}</label>
	            <div data-name="behaviourResponse" class="formRichTextInput" id="intakeEditForm_appendixThreeBehaviourResponse" contenteditable="true">{{{behaviourResponse}}}</div>
	        </div>
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixThreeBehaviourHowLongPresent">{{{../labels.behaviourHowLongPresent}}}</label>
	            <div data-name="behaviourHowLongPresent" class="formRichTextInput" id="intakeEditForm_appendixThreeBehaviourHowLongPresent" contenteditable="true">{{{behaviourHowLongPresent}}}</div>
	        </div>
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixThreeBehaviourAspirations">{{{../labels.behaviourAspirations}}}</label>
	            <div data-name="behaviourAspirations" class="formRichTextInput" id="intakeEditForm_appendixThreeBehaviourAspirations" contenteditable="true">{{{behaviourAspirations}}}</div>
	        </div>
        {{/modelData}}
    </div>
</form>