<div class="pure-g-r readonly">
	{{#modelData.mentalState}}
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.talkingTV}}</div>
			<div class="value">{{{mentalStateTalkingTV}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.thoughtControl}}</div>
			<div class="value">{{{mentalStateThoughts}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{{../labels.seeingThings}}}</div>
			<div class="value">{{{mentalStateVisions}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{{../labels.touch}}}</div>
			<div class="value">{{{mentalStateSensations}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{{../labels.specialPurpose}}}</div>
			<div class="value">{{{mentalStateSpecialReason}}}</div>	
		</div>
	{{/modelData.mentalState}}
		
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>