<div class="pure-g-r readonly">
	{{#modelData.currentPlacement}}
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.startDate}}</div>
			<div class="value">{{dateFormat currentPlacementStartDate}}</div>	
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.endDate}}</div>
			<div class="value">{{dateFormat currentPlacementEndDate}}</div>	
		</div>
	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.location}}</div>
			<div class="value">{{googleMapLink currentPlacementLocation}}</div>	
		</div>
		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.type}}</div>
			<div class="value">{{currentPlacementType}}</div>	
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.contact}}</div>
			<div class="value">{{currentPlacementContact}}</div>	
		</div>
	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.challenges}}</div>
			<div class="value">{{{currentPlacementChallenges}}}</div>	
		</div>
	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.clientViews}}</div>
			<div class="value">{{{currentPlacementClientViews}}}</div>	
		</div>
	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.assessmentPresentation}}</div>
			<div class="value">{{{currentPlacementAssessmentPresentation}}}</div>	
		</div>
	{{/modelData.currentPlacement}}
	
    <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if modelData.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>