<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoMentalStateMood">{{{../labels.mentalStateMood}}}</label>
	            <div data-name="mentalStateMood" class="formRichTextInput" id="intakeEditForm_appendixTwoMentalStateMood" contenteditable="true">{{{mentalStateMood}}}</div>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoMentalStateMedication">{{{../labels.mentalStateMedication}}}</label>
	            <div data-name="mentalStateMedication" class="formRichTextInput" id="intakeEditForm_appendixTwoMentalStateMedication" contenteditable="true">{{{mentalStateMedication}}}</div>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoMentalStateTimeWorse">{{{../labels.mentalStateTimeWorse}}}</label>
	            <div data-name="mentalStateTimeWorse" class="formRichTextInput" id="intakeEditForm_appendixTwoMentalStateTimeWorse" contenteditable="true">{{{mentalStateTimeWorse}}}</div>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoMentalStateAvoidingPeople">{{{../labels.mentalStateAvoidingPeople}}}</label>
	            <div data-name="mentalStateAvoidingPeople" class="formRichTextInput" id="intakeEditForm_appendixTwoMentalStateAvoidingPeople" contenteditable="true">{{{mentalStateAvoidingPeople}}}</div>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoMentalStateFuture">{{{../labels.mentalStateFuture}}}</label>
	            <div data-name="mentalStateFuture" class="formRichTextInput" id="intakeEditForm_appendixTwoMentalStateFuture" contenteditable="true">{{{mentalStateFuture}}}</div>
	        </div>	        	        	        	        
        {{/modelData}}
    </div>
</form>
