<form action="#none" id="editSupportForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
		<div class="pure-u-1 l-box">
			<div class="name">{{labels.support}}</div>
			<div class="value">{{codedEntry modelData.support codedEntries.supportTypes}}</div>	
		</div>        
		<div class="pure-u-1 l-box">
            <label for="addSupportForm_details">{{labels.details}}</label>
            <div data-name="details" class="formRichTextInput" id="addSupportForm_details" contenteditable="true">{{{modelData.details}}}</div>
		</div>	
    </div>
</form>
