<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
           	<div class="pure-u-1-2 l-box">
	            <fieldset class="inline-checkbox">
	            	<legend>{{../labels.attendsWellManClinic}}</legend>
	            	{{radioTri 'intakeEditForm' 'attendsWellManClinic' attendsWellManClinic}}
	            </fieldset>
	        </div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneAttendsWellManClinicFrequency">{{../labels.attendsWellManClinicFrequency}}</label>
	           	<input id="intakeEditForm_appendixOneAttendsWellManClinicFrequency" type="text" class="pure-input-1" name="attendsWellManClinicFrequency" value="{{attendsWellManClinicFrequency}}" maxlength="255" />
			</div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneMensHealthSpecialistName">{{../labels.mensHealthSpecialistName}}</label>
	           	<input id="intakeEditForm_appendixOneMensHealthSpecialistName" type="text" class="pure-input-1" name="mensHealthSpecialistName" value="{{mensHealthSpecialistName}}" maxlength="255" />
			</div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneMensHealthSpecialistContactNumber">{{../labels.mensHealthSpecialistContactNumber}}</label>
	           	<input id="intakeEditForm_appendixOneMensHealthSpecialistContactNumber" type="text" class="pure-input-1" name="mensHealthSpecialistContactNumber" value="{{mensHealthSpecialistContactNumber}}" maxlength="255" />
			</div>
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixOneMensHealthSpecialistAddress">{{../labels.mensHealthSpecialistAddress}}</label>
	           	<input id="intakeEditForm_appendixOneMensHealthSpecialistAddress" type="text" class="pure-input-1" name="mensHealthSpecialistAddress" value="{{mensHealthSpecialistAddress}}" maxlength="255" />
			</div>
           	<div class="pure-u-1-2 l-box">
	            <fieldset class="inline-checkbox">
	            	<legend>{{../labels.carriesOutTesticularExaminations}}</legend>
	            	{{radioTri 'intakeEditForm' 'carriesOutTesticularExaminations' carriesOutTesticularExaminations}}
	            </fieldset>
	        </div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneLastDateTesticularExamination">{{../labels.lastDateTesticularExamination}}</label>
	           	<input id="intakeEditForm_appendixOneLastDateTesticularExamination" type="text" class="pure-input-1" name="lastDateTesticularExamination" placeholder="DD-MMM-YYYY" value="{{dateFormat lastDateTesticularExamination}}" maxlength="11" />
	        </div>
           	<div class="pure-u-1-2 l-box">
	            <fieldset>
	            	<legend>{{../labels.otherMensHealthIssues}}</legend>
	            	{{radioTri 'intakeEditForm' 'otherMensHealthIssues' otherMensHealthIssues}}
	            </fieldset>           	
	        </div>	
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneOtherMensHealthIssuesDescription">{{{../labels.otherMensHealthIssuesDescription}}}</label>
	            <div data-name="otherMensHealthIssuesDescription" class="formRichTextInput" id="intakeEditForm_appendixOneOtherMensHealthIssuesDescription" contenteditable="true">{{{otherMensHealthIssuesDescription}}}</div>
	        </div> 		        
        {{/modelData}}
    </div>
</form>