<div class="pure-g-r readonly">
	{{#modelData}}
		{{#if gp}}
			<div class="pure-u-1-2 l-box">
				<div class="name">{{../../labels.name}}</div>
				<div class="value">{{gp.name}}</div>	
			</div>
			
			<div class="pure-u-1 l-box">
				<div class="name">{{../../labels.address}}</div>
				<div class="value">{{googleMapLink gpAddress.location}}</div>	
			</div>
			
			<div class="pure-u-1-2 l-box">
				<div class="name">{{../../labels.contact}}</div>
				<div class="value">{{gpTelephoneNumber}}</div>
			</div>
		{{else}}
			<div class="pure-u-1-2 l-box">
				No GP data found.
			</div>	
		{{/if}}
	{{/modelData}}
</div>