{{! Iterate round each item in the model list}}
{{#modelList}}
	<div class="pure-g-r medication">
		<div class="pure-u-1 l-box">
			<div class="inner-panel">
				<div class="pure-g-r">
					<div class="pure-u-1 l-box">
						<div class="name">{{../labels.name}}</div>
						<div class="value">{{{name}}}</div>	
					</div>
					<div class="pure-u-1-2 l-box">
						<div class="name">{{../labels.dosage}}</div>
						<div class="value">{{{dosage}}}</div>	
					</div>
					<div class="pure-u-1-2 l-box">
						<div class="name">{{../labels.form}}</div>
						<div class="value">{{{form}}}</div>	
					</div>
					<div class="pure-u-1 l-box">
						<div class="name">{{../labels.prescribedBy}}</div>
						<div class="value">{{{prescribedBy}}}</div>	
					</div>
					<div class="pure-u-1 l-box">
						<div class="name">{{../labels.usedFor}}</div>
						<div class="value">{{{usedFor}}}</div>	
					</div>
					<div class="pure-u-1 l-box">
				        <div class="pure-button-group pull-right">
				            {{#if ../formModel.canUpdate}}
				                <button type="button" data-id="{{id}}" class="pure-button pure-button-active edit"><i class="fa fa-pencil-square-o"></i>{{../../labels.edit}}</button>
				                <button type="button" data-id="{{id}}" class="pure-button pure-button-active remove"><i class="fa fa-trash"></i>{{../../labels.remove}}</button>
				            {{else}}
				                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{../../labels.edit}}</button>
				                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-trash"></i>{{../../labels.remove}}</button>
				            {{/if}}
				        </div>  
			    	</div>					
				</div>					
			</div>
		</div> 
	</div>
{{/modelList}}