<div class="pure-g-r readonly">
	{{#modelData.psychology}}
		<div class="pure-u-1-3 l-box">
			<div class="name">{{../labels.previousInput}}</div>
			<div class="value">{{yesNo psychologyPreviousInput}}</div>	
		</div>
		
		<div class="pure-u-1-3 l-box">
			<div class="name">{{../labels.benefitFromTherapy}}</div>
			<div class="value">{{yesNo psychologyBenefitFromTherapy}}</div>	
		</div>
		
		<div class="pure-u-1-3 l-box">
			<div class="name">{{../labels.unresolvedAbuseIssues}}</div>
			<div class="value">{{yesNo psychologyUnresolvedAbuseIssues}}</div>	
		</div>
		
		<div class="pure-u-1-1 l-box">
			<div class="name">{{../labels.details}}</div>
			<div class="value">{{{psychologyDetails}}}</div>	
		</div>
	{{/modelData.psychology}}
	
    <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if modelData.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>