{{! Iterate round each item in the model list}}
{{#modelList}}
	<div class="pure-g-r referencedPerson">
		<div class="pure-u-1 l-box">
			<div class="inner-panel">
				<div class="pure-g-r readonly">
					<div class="pure-u-1-2 l-box">
						<div class="name">{{../labels.name}}</div>
						<div class="value">{{name}}</div>	
					</div>
					
					<div class="pure-u-1-2 l-box">
						<div class="name">{{../labels.relationship}}</div>
						<div class="value">{{relationship}}</div>	
					</div>
					
					<div class="pure-u-1-1 l-box">
						<div class="name">{{../labels.address}}</div>
						<div class="value">{{googleMapLink address}}</div>	
					</div>
					
					<div class="pure-u-1-2 l-box">
						<div class="name">{{../labels.contact}}</div>
						<div class="value">{{contact}}</div>	
					</div>

					<div class="pure-u-1 l-box">
				        <div class="pure-button-group pull-right">
				            {{#if ../formModel.canUpdate}}
				                <button type="button" data-id="{{id}}" class="pure-button pure-button-active edit"><i class="fa fa-pencil-square-o"></i>{{../../labels.edit}}</button>
				                <button type="button" data-id="{{id}}" class="pure-button pure-button-active remove"><i class="fa fa-trash"></i>{{../../labels.remove}}</button>
				            {{else}}
				                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{../../labels.edit}}</button>
				                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-trash"></i>{{../../labels.remove}}</button>
				            {{/if}}
				        </div>  
			    	</div>
			    </div>
			</div>
		</div>				
	</div>
{{/modelList}}