<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
		
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_spiritualNeeds">{{../labels.needs}} <span class="mandatory">*</span></label>
	            <div data-name="spiritualNeeds" class="formRichTextInput" id="intakeEditForm_spiritualNeeds" contenteditable="true">{{{spiritualNeeds}}}</div>
	        </div>
	        
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_spiritualNeedsBeingMet">{{../labels.needsBeingMet}}</label>
	            <div data-name="spiritualNeedsBeingMet" class="formRichTextInput" id="intakeEditForm_spiritualNeedsBeingMet" contenteditable="true">{{{spiritualNeedsBeingMet}}}</div>
	        </div>
	        
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_spiritualNeedsSupportRequired">{{../labels.needsSupportRequired}}</label>
	            <div data-name="spiritualNeedsSupportRequired" class="formRichTextInput" id="intakeEditForm_spiritualNeedsSupportRequired" contenteditable="true">{{{spiritualNeedsSupportRequired}}}</div>
	        </div>
        {{/modelData}}
    </div>
</form>