<form action="#none" id="addSupportForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
		<div class="pure-u-1 l-box">
			<label for="addSupportForm_support">{{labels.support}}  <span class="mandatory">*</span></label>
			<select class="pure-input-1" name="support" id="addSupportForm_support"></select>
		</div>	
		<div class="pure-u-1 l-box">
            <label for="addSupportForm_details">{{labels.details}}</label>
            <div data-name="details" class="formRichTextInput" id="addSupportForm_details" contenteditable="true">{{{modelData.details}}}</div>
		</div>	
    </div>
</form>
