<form action="#none" id="editReferencedPersonForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
		{{#modelData}}
			<div class="pure-u-1-2 l-box">
	            <fieldset class="inline-checkbox">
	            	<legend>{{../otherData.activeInvolvementName}} {{../labels.active}}</legend>
	            	{{radioBi 'editReferencedPersonForm' 'active' active}}
	            </fieldset>
			</div>
			
	        <div class="pure-u-1-2 l-box">
	            <label for="editReferencedPersonForm_name">{{../labels.name}} <span class="mandatory">*</span></label>
	            <input id="editReferencedPersonForm_name" type="text" class="pure-input-1" name="name" value="{{name}}" {{#unless active}}disabled="disabled"{{/unless}} />	            
	        </div>
	        
	        <div class="pure-u-1 l-box">
	            <label for="editReferencedPersonForm_address">{{../labels.address}} <span class="mandatory">*</span></label>
	            <input id="editReferencedPersonForm_address" type="text" class="pure-input-1" name="address" value="{{address}}" {{#unless active}}disabled="disabled"{{/unless}} />
	        </div>
	        
	        <div class="pure-u-1 l-box">
	            <label for="editReferencedPersonForm_contact">{{../labels.contact}} <span class="mandatory">*</span></label>
	            <input id="editReferencedPersonForm_contact" type="text" class="pure-input-1" name="contact" value="{{contact}}" {{#unless active}}disabled="disabled"{{/unless}} />
	        </div>
        {{/modelData}}
    </div>
</form>