<div class="pure-g-r readonly">
	{{#modelData.epilepsy}}	
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.suffersFromEpilepsy}}</div>
			<div class="value">{{yesNo suffersFromEpilepsy}}</div>	
		</div>
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.seizureDescription}}</div>
			<div class="value">{{{seizureDescription}}}</div>
		</div>	
		<div class="pure-u-1-3 l-box">
			<div class="name">{{../labels.epilepsyMonitored}}</div>
			<div class="value">{{yesNo epilepsyMonitored}}</div>	
		</div>		
		<div class="pure-u-1-3 l-box">
			<div class="name">{{../labels.howOftenEpilepsyMonitored}}</div>
			<div class="value">{{howOftenEpilepsyMonitored}}</div>	
		</div>	
		<div class="pure-u-1-3 l-box">
			<div class="name">{{../labels.dateLastEpilepsyAppointment}}</div>
			<div class="value">{{dateFormat dateLastEpilepsyAppointment}}</div>
		</div>			
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.epilepsySpecialistName}}</div>
			<div class="value">{{epilepsySpecialistName}}</div>
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.epilepsySpecialistContactNumber}}</div>
			<div class="value">{{epilepsySpecialistContactNumber}}</div>
		</div>	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.epilepsySpecialistAddress}}</div>
			<div class="value">{{epilepsySpecialistAddress}}</div>
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.emergencyMedProtocol}}</div>
			<div class="value">{{yesNo emergencyMedProtocol}}</div>
		</div>						
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.emergencyMedProtocolDescription}}</div>
			<div class="value">{{{emergencyMedProtocolDescription}}}</div>
		</div>	
	{{/modelData.epilepsy}}
					
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>