<form action="#none" id="addEditMedicationForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
		<div class="pure-u-1 l-box">
			<label for="addEditMedicationForm_name">{{labels.name}} <span class="mandatory">*</span></label>
			<input id="addEditMedicationForm_name" type="text" class="pure-input-1" name="name" required value="{{modelData.name}}"/>
		</div>	
		<div class="pure-u-1-2 l-box">
            <label for="addEditMedicationForm_dosage">{{labels.dosage}} <span class="mandatory">*</span></label>
			<input id="addEditMedicationForm_dosage" type="text" class="pure-input-1" name="dosage" required value="{{modelData.dosage}}"/>
		</div>	
		<div class="pure-u-1-2 l-box">
            <label for="addEditMedicationForm_dosage">{{labels.form}} <span class="mandatory">*</span></label>
            <select id="addEditMedicationForm_form" class="pure-input-1" name="form" required></select>
		</div>	
		<div class="pure-u-1 l-box">
			<label for="addEditMedicationForm_prescribedBy">{{labels.prescribedBy}} <span class="mandatory">*</span></label>
			<input id="addEditMedicationForm_prescribedBy" type="text" class="pure-input-1" name="prescribedBy" required value="{{modelData.prescribedBy}}"/>
		</div>	
		<div class="pure-u-1 l-box">
			<label for="addEditMedicationForm_usedFor">{{labels.usedFor}} <span class="mandatory">*</span></label>
			<input id="addEditMedicationForm_usedFor" type="text" class="pure-input-1" name="usedFor" required value="{{modelData.usedFor}}"/>
		</div>	
    </div>
</form>
