<div class="pure-g-r readonly">
	{{#modelData.mensHealth}}	
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.attendsWellManClinic}}</div>
			<div class="value">{{yesNo attendsWellManClinic}}</div>	
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.attendsWellManClinicFrequency}}</div>
			<div class="value">{{attendsWellManClinicFrequency}}</div>	
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.mensHealthSpecialistName}}</div>
			<div class="value">{{mensHealthSpecialistName}}</div>
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.mensHealthSpecialistContactNumber}}</div>
			<div class="value">{{mensHealthSpecialistContactNumber}}</div>
		</div>	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.mensHealthSpecialistAddress}}</div>
			<div class="value">{{mensHealthSpecialistAddress}}</div>
		</div>					
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.carriesOutTesticularExaminations}}</div>
			<div class="value">{{yesNo carriesOutTesticularExaminations}}</div>
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.lastDateTesticularExamination}}</div>
			<div class="value">{{dateFormat lastDateTesticularExamination}}</div>	
		</div>
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.otherMensHealthIssues}}</div>
			<div class="value">{{yesNo otherMensHealthIssues}}</div>
		</div>		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.otherMensHealthIssuesDescription}}</div>
			<div class="value">{{{otherMensHealthIssuesDescription}}}</div>
		</div>	
	{{/modelData.mensHealth}}	
					
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>