<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=../..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}

		<div class="pure-u-1 l-box">
            <label for="intakeEditForm_otherGeneralHealth">{{{labels.otherGeneralHealth}}}</label>
            <div data-name="otherGeneralHealth" class="formRichTextInput" id="intakeEditForm_otherGeneralHealth" contenteditable="true">{{{modelData.otherGeneralHealth}}}</div>
		</div>	

		<div class="pure-u-1 l-box">
            <label for="intakeEditForm_otherFeelings">{{{labels.otherFeelings}}}</label>
            <div data-name="otherFeelings" class="formRichTextInput" id="intakeEditForm_otherFeelings" contenteditable="true">{{{modelData.otherFeelings}}}</div>
		</div>	

        <div class="pure-u-1 l-box">
            <label for="intakeEditForm_anxiety">{{labels.anxiety}}</label>
        </div>
        {{#enumTypes.anxiety}}
        <div class="pure-u-1-4 l-box">
          	<label for="intakeEditForm_anxiety{{enumValue}}Input" class="pure-checkbox"> 
          		<input id="intakeEditForm_anxiety{{enumValue}}Input" type="checkbox" name="anxiety" value="{{enumName}}" aria-label="{{name}}" /> {{name}}
          	</label>
      	</div>
        {{/enumTypes.anxiety}}

    </div>
</form>
