<div class="pure-g-r readonly">
	{{#modelData.continence}}	
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.continenceProblems}}</div>
			<div class="value">{{yesNo continenceProblems}}</div>	
		</div>
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.continenceProblemsDescription}}</div>
			<div class="value">{{{continenceProblemsDescription}}}</div>
		</div>	
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.seenByContinenceAdvisor}}</div>
			<div class="value">{{yesNo seenByContinenceAdvisor}}</div>	
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.lastContinenceAppointmentDate}}</div>
			<div class="value">{{dateFormat lastContinenceAppointmentDate}}</div>	
		</div>	
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.continenceAdvisorName}}</div>
			<div class="value">{{continenceAdvisorName}}</div>
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.continenceAdvisorContactNumber}}</div>
			<div class="value">{{continenceAdvisorContactNumber}}</div>
		</div>	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.continenceAdvisorAddress}}</div>
			<div class="value">{{continenceAdvisorAddress}}</div>
		</div>					
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.suffersFromUrineInfections}}</div>
			<div class="value">{{yesNo suffersFromUrineInfections}}</div>
		</div>		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.urineInfectionDescription}}</div>
			<div class="value">{{{urineInfectionDescription}}}</div>
		</div>	
	{{/modelData.continence}}
			
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>