<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
		
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_briefHistory">{{../labels.description}}</label>
	            <div data-name="briefHistory" class="formRichTextInput" id="intakeEditForm_briefHistory" contenteditable="true">{{{briefHistory}}}</div>
	        </div>
        {{/modelData}}
    </div>
</form>