<div class="pure-g-r readonly">
	{{#modelData}}
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.active}}</div>
			<div class="value">{{yesNo active}}</div>			
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.name}}</div>
			<div class="value">{{name}}</div>	
		</div>
		
		<div class="pure-u-1-1 l-box">
			<div class="name">{{../labels.address}}</div>
			<div class="value">{{googleMapLink address}}</div>	
		</div>
		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.contact}}</div>
			<div class="value">{{contact}}</div>	
		</div>
	{{/modelData}}

    <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>