<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
            <div class="pure-u-1-2 l-box">
	            <fieldset>
	            	<legend>{{../labels.otMobilityProblems}}</legend>
	            	{{radioTri 'intakeEditForm' 'otMobilityProblems' otMobilityProblems}}
	            </fieldset>
	        </div>
            <div class="pure-u-1-2 l-box">
	            <fieldset>
	            	<legend>{{../labels.otUtilityApplicationIssues}}</legend>
	            	{{radioTri 'intakeEditForm' 'otUtilityApplicationIssues' otUtilityApplicationIssues}}
	            </fieldset>
	        </div>	        
            <div class="pure-u-1-2 l-box">
	            <fieldset>
	            	<legend>{{../labels.otAidsAndAdaptations}}</legend>
	            	{{radioTri 'intakeEditForm' 'otAidsAndAdaptations' otAidsAndAdaptations}}
	            </fieldset>
	        </div>	 
            <div class="pure-u-1-2 l-box">
	            <fieldset>
	            	<legend>{{../labels.otRecentProblems}}</legend>
	            	{{radioTri 'intakeEditForm' 'otRecentProblems' otRecentProblems}}
	            </fieldset>
	        </div>		              		
        {{/modelData}}
    </div>
</form>