<form action="#none" id="addEditPersonalCareNeedForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        {{#if modelData.need}}
			<div class="pure-u-1-2 l-box">
				<div class="name">{{../labels.need}}</div>
				<div class="value">{{codedEntry modelData.need ../codedEntries.needTypes}}</div>
			</div>
        {{else}}
			<div class="pure-u-1-2 l-box">
				<label for="addEditPersonalCareNeedForm_need">{{labels.need}}  <span class="mandatory">*</span></label>
				<select class="pure-input-1" name="need" id="addEditPersonalCareNeedForm_need"></select>
			</div>	
        {{/if}}
		<div class="pure-u-1-2 l-box">
            <label for="addEditPersonalCareNeedForm_helpRequired">{{labels.helpRequired}}</label>
            <div data-name="helpRequired" class="formRichTextInput" id="addEditPersonalCareNeedForm_helpRequired" contenteditable="true">{{{modelData.helpRequired}}}</div>
		</div>	
    </div>
</form>
