<div class="pure-g-r readonly">
	{{#modelData.physiotherapy}}
		<div class="pure-u-1-1 l-box">
			<div class="name">{{../labels.recentIssues}}</div>
			<div class="value">{{yesNo mobilityRecentIssues}}</div>	
		</div>
	
		<div class="pure-u-1-1 l-box">
			<div class="name">{{../labels.recentTripsOrFalls}}</div>
			<div class="value">{{yesNo mobilityRecentTripsOrFalls}}</div>	
		</div>
			
		<div class="pure-u-1-1 l-box">
			<div class="name">{{../labels.tripsOrFallsMoreRegular}}</div>
			<div class="value">{{{mobilityTripsMoreRegular}}}</div>	
		</div>
	
		<div class="pure-u-1-1 l-box">
			<div class="name">{{../labels.slipsAssessment}}</div>
			<div class="value">{{yesNo mobilitySlipsAssessment}}</div>	
		</div>	
	{{/modelData.physiotherapy}}
    <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if modelData.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>