<div class="pure-g-r readonly">
	{{#modelData.problems}}		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.hearingProblems}}</div>
			<div class="value">{{yesNo hearingProblems}}</div>	
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.hearingAidWorn}}</div>
			<div class="value">{{yesNo hearingAidWorn}}</div>	
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.lastHearingAssessmentDate}}</div>
			<div class="value">{{dateFormat lastHearingAssessmentDate}}</div>	
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.hearingSupportRequired}}</div>
			<div class="value">{{yesNo hearingSupportRequired}}</div>
		</div>		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.hearingSupportDescription}}</div>
			<div class="value">{{{hearingSupportDescription}}}</div>
		</div>	
	{{/modelData.problems}}	
				
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>