<div class="pure-g-r">
	{{#otherData.formModel}}  
		{{#include parent=..}}   
			{{> narrative}}
		{{/include}}
	{{/otherData.formModel}}
	
	<div class="pure-u-1 l-box">
		<div class="pure-alert pure-alert-block pure-alert-warning"><h4>{{otherData.message}}</h4></div>
	</div>        
</div>	