<div class="pure-g-r readonly">
	{{#modelData.mentalState}}
		<div class="pure-u-1 l-box">
			<div class="name">{{{../labels.thinkingOfHarming}}}</div>
			<div class="value">{{{mentalStateHarm}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{{../labels.worries}}}</div>
			<div class="value">{{{mentalStateWorries}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.feelingUseful}}</div>
			<div class="value">{{{mentalStateUseful}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.bodyControl}}</div>
			<div class="value">{{{mentalStateControl}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{{../labels.hearingVoices}}}</div>
			<div class="value">{{{mentalStateVoices}}}</div>	
		</div>
	{{/modelData.mentalState}}
		
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>