<div class="pure-g-r readonly">
	{{#modelData.problems}}	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.dentalProblems}}</div>
			<div class="value">{{yesNo dentalProblems}}</div>	
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.visitsDentist}}</div>
			<div class="value">{{yesNo visitsDentist}}</div>	
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.lastDentalAppointmentDate}}</div>
			<div class="value">{{dateFormat lastDentalAppointmentDate}}</div>	
		</div>	
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.hasDentures}}</div>
			<div class="value">{{yesNo hasDentures}}</div>
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.denturesWorn}}</div>
			<div class="value">{{yesNo denturesWorn}}</div>
		</div>	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.reasonsDenturesNotWorn}}</div>
			<div class="value">{{{reasonsDenturesNotWorn}}}</div>
		</div>					
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.dentalSupportRequired}}</div>
			<div class="value">{{yesNo dentalSupportRequired}}</div>
		</div>		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.dentalSupportDescription}}</div>
			<div class="value">{{{dentalSupportDescription}}}</div>
		</div>	
	{{/modelData.problems}}	
			
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>