<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoMentalStateHarm">{{{../labels.mentalStateHarm}}}</label>
	            <div data-name="mentalStateHarm" class="formRichTextInput" id="intakeEditForm_appendixTwoMentalStateHarm" contenteditable="true">{{{mentalStateHarm}}}</div>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoMentalStateWorries">{{{../labels.mentalStateWorries}}}</label>
	            <div data-name="mentalStateWorries" class="formRichTextInput" id="intakeEditForm_appendixTwoMentalStateWorries" contenteditable="true">{{{mentalStateWorries}}}</div>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoMentalStateUseful">{{{../labels.mentalStateUseful}}}</label>
	            <div data-name="mentalStateUseful" class="formRichTextInput" id="intakeEditForm_appendixTwoMentalStateUseful" contenteditable="true">{{{mentalStateUseful}}}</div>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoMentalStateControl">{{{../labels.mentalStateControl}}}</label>
	            <div data-name="mentalStateControl" class="formRichTextInput" id="intakeEditForm_appendixTwoMentalStateControl" contenteditable="true">{{{mentalStateControl}}}</div>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoMentalStateVoices">{{{../labels.mentalStateVoices}}}</label>
	            <div data-name="mentalStateVoices" class="formRichTextInput" id="intakeEditForm_appendixTwoMentalStateVoices" contenteditable="true">{{{mentalStateVoices}}}</div>
	        </div>	        	        	        	        
        {{/modelData}}
    </div>
</form>
