<div class="pure-g-r readonly">
	{{#modelData.wellbeing}}
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.appetiteLike}}</div>
			<div class="value">{{{appetiteDescription}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.whenAreYouEating}}</div>
			{{#each appetite}}
				<div class="value">
					{{enumType this ../../enumTypes.appetite}}
				</div>	 
			{{/each}}
			{{#unless appetite}}
				<div class="value">
				</div>	 
			{{/unless}}
		</div>
	{{/modelData.wellbeing}}
		
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>