<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixThreeContextDate">{{../labels.dateAndTimeOfAssessment}}</label>
	           	<input id="intakeEditForm_appendixThreeContextDate" type="text" class="pure-input-1" name="dateAndTimeOfAssessment" placeholder="DD-MMM-YYYY HH:MM" value="{{dateTimeFormat dateAndTimeOfAssessment}}" maxlength="17" />
	        </div>
	        
			<div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixThreeAssessor">{{../labels.assessor}}</label>
	           	<input id="intakeEditForm_appendixThreeAssessor" type="text" class="pure-input-1" name="assessor" value="{{assessor}}" maxlength="255" />
			</div>
        {{/modelData}}
    </div>
</form>