<div class="pure-g-r readonly">
	{{#modelData.health}}
		<div class="pure-u-1-3 l-box">
			<div class="name">{{../labels.height}}</div>
			<div class="value">{{height}}</div>	
		</div>
		<div class="pure-u-1-3 l-box">
			<div class="name">{{../labels.weight}}</div>
			<div class="value">{{weight}}</div>	
		</div>
		<div class="pure-u-1-3 l-box">
			<div class="name">{{../labels.lastAnnualHealthCheck}}</div>
			<div class="value">{{dateFormat lastAnnualHealthCheck}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.medicalHistory}}</div>
			<div class="value">{{{medicalHistory}}}</div>	
		</div>
	{{/modelData.health}}
	  
    <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if modelData.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 	
</div>