<div class="pure-g-r readonly">
	{{#modelData.context}}
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.dateTimeAssessment}}</div>
			<div class="value">{{dateTimeFormat dateAndTimeOfAssessment}}</div>	
		</div>
		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.assessedBy}}</div>
			<div class="value">{{assessor}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.assessedWhere}}</div>
			<div class="value">{{assessmentLocation}}</div>	
		</div>
	{{/modelData.context}}
		
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>