<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
		
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_currentPlacementStartDate">{{../labels.startDate}} <span class="mandatory">*</span></label>
	           	<input id="intakeEditForm_currentPlacementStartDate" type="text" class="pure-input-1" name="currentPlacementStartDate" placeholder="DD-MMM-YYYY" value="{{dateFormat currentPlacementStartDate}}" maxlength="11" required />
	        </div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_currentPlacementEndDate">{{../labels.endDate}}</span></label>
	           	<input id="intakeEditForm_currentPlacementEndDate" type="text" class="pure-input-1" name="currentPlacementEndDate" placeholder="DD-MMM-YYYY" value="{{dateFormat currentPlacementEndDate}}" maxlength="11" required />
	        </div>
	        
			<div class="pure-u-1 l-box">
	            <label for="intakeEditForm_currentPlacementLocation">{{../labels.location}} <span class="mandatory">*</span></label>
	           	<input id="intakeEditForm_currentPlacementLocation" type="text" class="pure-input-1" name="currentPlacementLocation" value="{{{currentPlacementLocation}}}" maxlength="255" required />
			</div>
			
			<div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_currentPlacementType">{{../labels.type}} <span class="mandatory">*</span></label>
	           	<input id="intakeEditForm_currentPlacementType" type="text" class="pure-input-1" name="currentPlacementType" value="{{{currentPlacementType}}}" maxlength="255" required />
			</div>
			<div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_currentPlacementContact">{{../labels.contact}} <span class="mandatory">*</span></label>
	           	<input id="intakeEditForm_currentPlacementContact" type="text" class="pure-input-1" name="currentPlacementContact" value="{{{currentPlacementContact}}}" maxlength="255" required />
			</div>
		
			<div class="pure-u-1 l-box">
	            <label for="intakeEditForm_currentPlacementChallenges">{{../labels.challenges}} <span class="mandatory">*</span></label>
	            <div data-name="currentPlacementChallenges" class="formRichTextInput" id="intakeEditForm_currentPlacementChallenges" contenteditable="true" required>{{{currentPlacementChallenges}}}</div>
			</div>
		
			<div class="pure-u-1 l-box">
	            <label for="intakeEditForm_currentPlacementClientViews">{{../labels.clientViews}} <span class="mandatory">*</span></label>
	            <div data-name="currentPlacementClientViews" class="formRichTextInput" id="intakeEditForm_currentPlacementClientViews" contenteditable="true" required>{{{currentPlacementClientViews}}}</div>
			</div>
		
			<div class="pure-u-1 l-box">
	            <label for="intakeEditForm_currentPlacementAssessmentPresentation">{{../labels.assessmentPresentation}} <span class="mandatory">*</span></label>
	            <div data-name="currentPlacementAssessmentPresentation" class="formRichTextInput" id="intakeEditForm_currentPlacementAssessmentPresentation" contenteditable="true" required >{{{currentPlacementAssessmentPresentation}}}</div>
			</div>
        {{/modelData}}
    </div>
</form>