<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}

            <div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.psychologyPreviousInput}}</legend>
	            	{{radioTri 'intakeEditForm' 'psychologyPreviousInput' psychologyPreviousInput}}
	            </fieldset>
	        </div>
	        
            <div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.psychologyBenefitFromTherapy}}</legend>
	            	{{radioTri 'intakeEditForm' 'psychologyBenefitFromTherapy' psychologyBenefitFromTherapy}}
	            </fieldset>
	        </div>

            <div class="pure-u-1-3 l-box">
	            <fieldset>
	            	<legend>{{../labels.psychologyUnresolvedAbuseIssues}}</legend>
	            	{{radioTri 'intakeEditForm' 'psychologyUnresolvedAbuseIssues' psychologyUnresolvedAbuseIssues}}
	            </fieldset>
	        </div>

	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_psychologyDetails">{{../labels.psychologyDetails}}</label>
	            <div data-name="psychologyDetails" class="formRichTextInput" id="intakeEditForm_psychologyDetails" contenteditable="true">{{{psychologyDetails}}}</div>
	        </div>
        {{/modelData}}
    </div>
</form>