<div class="pure-g-r readonly">
	<div class="pure-u-1-3 l-box">
		<div class="name">{{labels.name}}</div>
		<div class="value">{{modelData.subject.name}}</div>	
	</div>
	
	<div class="pure-u-1-3 l-box">
		<div class="name">{{labels.dateOfBirth}}</div>
		<div class="value">{{fuzzyDateFormat modelData.subject.dateOfBirth}}{{#if modelData.subject.dateOfBirthEstimated}}<span class="estimated summary" title="Estimated"></span><span class="hidden">Estimated</span>{{/if}}</div>	
	</div>

	<div class="pure-u-1-3 l-box">
		<div class="name">{{labels.nhsNumber}}</div>
		<div class="value">{{nhsNumber modelData.subject.nhsNumber}}</div>	
	</div>
	
	<div class="pure-u-1-1 l-box">
		<div class="name">{{labels.address}}</div>
		<div class="value">{{googleMapLink modelData.placementAddress.location}}</div>	
	</div>
	
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.contact}}</div>
		<div class="value">{{modelData.subjectTelephoneNumber}}</div>	
	</div>
</div>