<div class="pure-g-r readonly">
	{{#modelData.familyHistory}}	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.familyHistoryEpilepsy}}</div>
			<div class="value">{{{familyHistoryEpilepsy}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.familyHistoryMentalHealth}}</div>
			<div class="value">{{{familyHistoryMentalHealth}}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.familyHistoryHighBloodPressure}}</div>
			<div class="value">{{{familyHistoryHighBloodPressure}}}</div>
		</div>		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.familyHistoryOther}}</div>
			<div class="value">{{{familyHistoryOther}}}</div>
		</div>
	{{/modelData.familyHistory}}
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>