{{! Iterate round each item in the model list}}
{{#modelList}}
	<div class="pure-g-r socialSupport">
		<div class="pure-u-1 l-box">
			<div class="inner-panel">
				<div class="pure-g-r">
					<div class="pure-u-1 l-box">
						<div class="name">{{../labels.support}}</div>
						<div class="value">{{codedEntry support ../codedEntries.supportTypes}}</div>	
					</div>
					<div class="pure-u-1 l-box">
						<div class="name">{{../labels.details}}</div>
						<div class="value">{{{details}}}</div>	
					</div>
					<div class="pure-u-1 l-box">
				        <div class="pure-button-group pull-right">
				            {{#if ../formModel.canUpdate}}
				                <button type="button" data-id="{{id}}" class="pure-button pure-button-active edit"><i class="fa fa-pencil-square-o"></i>{{../../labels.edit}}</button>
				                <button type="button" data-id="{{id}}" class="pure-button pure-button-active remove"><i class="fa fa-trash"></i>{{../../labels.remove}}</button>
				            {{else}}
				                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{../../labels.edit}}</button>
				                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-trash"></i>{{../../labels.remove}}</button>
				            {{/if}}
				        </div>  
			    	</div>					
				</div>					
			</div>
		</div> 
	</div>
{{/modelList}}