<div class="pure-g-r readonly">
	{{#modelData.review}}		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.lastMedicalReviewDate}}</div>
			<div class="value">{{dateFormat lastMedicalReviewDate}}</div>	
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.lastMedicationReviewCheck}}</div>
			<div class="value">{{dateFormat lastMedicationReviewCheck}}</div>	
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.requireBloodTests}}</div>
			<div class="value">{{yesNo requireBloodTests}}</div>
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.lastBloodTestDate}}</div>
			<div class="value">{{dateFormat lastBloodTestDate}}</div>	
		</div>	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.bloodTestDetails}}</div>
			<div class="value">{{{bloodTestDetails}}}</div>
		</div>	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.bloodTestSupportRequired}}</div>
			<div class="value">{{yesNo bloodTestSupportRequired}}</div>
		</div>	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.bloodTestSupportDescription}}</div>
			<div class="value">{{{bloodTestSupportDescription}}}</div>
		</div>	
	{{/modelData.review}}
					
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>