<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
            <div class="pure-u-1-2 l-box">
	            <fieldset>
	            	<legend>{{../labels.mobilityRecentIssues}}</legend>
	            	{{radioTri 'intakeEditForm' 'mobilityRecentIssues' mobilityRecentIssues}}
	            </fieldset>
	        </div>
            <div class="pure-u-1-2 l-box">
	            <fieldset>
	            	<legend>{{../labels.mobilityRecentTripsOrFalls}}</legend>
	            	{{radioTri 'intakeEditForm' 'mobilityRecentTripsOrFalls' mobilityRecentTripsOrFalls}}
	            </fieldset>
	        </div>	        		                    
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_mobilityTripsMoreRegular">{{../labels.mobilityTripsMoreRegular}}</label>
	            <div data-name="mobilityTripsMoreRegular" class="formRichTextInput" id="intakeEditForm_mobilityTripsMoreRegular" contenteditable="true">{{{mobilityTripsMoreRegular}}}</div>
	        </div>
	        <div class="pure-u-1-2 l-box">
	            <fieldset class="inline-checkbox">
	            	<legend>{{../labels.mobilitySlipsAssessment}}</legend>
	            	{{radioTri 'intakeEditForm' 'mobilitySlipsAssessment' mobilitySlipsAssessment}}
	            </fieldset>
	        </div>	        
        {{/modelData}}
    </div>
</form>