<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_mentalHealthDescription">{{../labels.mentalHealthDescription}}</label>
	            <div data-name="mentalHealthDescription" class="formRichTextInput" id="intakeEditForm_mentalHealthDescription" contenteditable="true">{{{mentalHealthDescription}}}</div>
	        </div>            
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_mentalHealthSleepPattern">{{../labels.mentalHealthSleepPattern}}</label>
	            <div data-name="mentalHealthSleepPattern" class="formRichTextInput" id="intakeEditForm_mentalHealthSleepPattern" contenteditable="true">{{{mentalHealthSleepPattern}}}</div>
	        </div>
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_mentalHealthAppetite">{{../labels.mentalHealthAppetite}}</label>
	            <div data-name="mentalHealthAppetite" class="formRichTextInput" id="intakeEditForm_mentalHealthAppetite" contenteditable="true">{{{mentalHealthAppetite}}}</div>
	        </div>
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_behaviourDescription">{{../labels.behaviourDescription}}</label>
	            <div data-name="behaviourDescription" class="formRichTextInput" id="intakeEditForm_behaviourDescription" contenteditable="true">{{{behaviourDescription}}}</div>
	        </div>
        {{/modelData}}
    </div>
</form>