<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
		
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_futurePlanOfClient">{{../labels.futurePlanOfClient}}</label>
	            <div data-name="futurePlanOfClient" class="formRichTextInput" id="intakeEditForm_futurePlanOfClient" contenteditable="true">{{{futurePlanOfClient}}}</div>
	        </div>
        {{/modelData}}
    </div>
</form>