<form action="#none" id="addReferencedPersonForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        <div class="pure-u-2-3 l-box">
            <label for="addReferencedPersonForm_name">{{labels.name}} <span class="mandatory">*</span></label>
            <input id="addReferencedPersonForm_name" type="text" class="pure-input-1" name="name" value="{{modelData.name}}" />	            
        </div>
        <div class="pure-u-1-3 l-box">
            <label for="addReferencedPersonForm_relationshipTypeId">{{labels.relationshipTypeId}} <span class="mandatory">*</span></label>
            <select id="addReferencedPersonForm_relationshipTypeId" class="pure-input-1" name="relationshipType"></select>	        
        </div>
        
        <div class="pure-u-1 l-box">
            <label for="addReferencedPersonForm_address">{{labels.address}} <span class="mandatory">*</span></label>
            <input id="addReferencedPersonForm_address" type="text" class="pure-input-1" name="address" value="{{modelData.address}}" />
        </div>
        
        <div class="pure-u-1 l-box">
            <label for="addReferencedPersonForm_contact">{{labels.contact}} <span class="mandatory">*</span></label>
            <input id="addReferencedPersonForm_contact" type="text" class="pure-input-1" name="contact" value="{{modelData.contact}}" />	            
        </div>
    </div>
</form>