<div class="pure-g-r readonly">
	{{#modelData.problems}}	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.eyesightProblems}}</div>
			<div class="value">{{yesNo eyesightProblems}}</div>	
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.wearsGlassesOrLenses}}</div>
			<div class="value">{{yesNo wearsGlassesOrLenses}}</div>	
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.lastEyeTestDate}}</div>
			<div class="value">{{dateFormat lastEyeTestDate}}</div>	
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.glassesLensesSupportRequired}}</div>
			<div class="value">{{yesNo glassesLensesSupportRequired}}</div>
		</div>		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.glassesLensesSupportDescription}}</div>
			<div class="value">{{{glassesLensesSupportDescription}}}</div>
		</div>	
	{{/modelData.problems}}
						
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>