<div class="pure-g-r readonly">
	{{#modelData.orientation}}
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.whereAmI}}</div>
			<div class="value">{{placeWhere}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.whichCountry}}</div>
			<div class="value">{{placeCountry}}</div>	
		</div>
		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.whereInCountry}}</div>
			<div class="value">{{placePartOfCountry}}</div>	
		</div>
	{{/modelData.orientation}}
		
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>