<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}

			<div class="pure-u-1-4 l-box">		
				<div class="name"></div>
			</div>
			<div class="pure-u-1-4 l-box">
				<div class="name">{{../labels.morning}}</div>
			</div>
			<div class="pure-u-1-4 l-box">
				<div class="name">{{../labels.afternoon}}</div>
			</div>
			<div class="pure-u-1-4 l-box">
				<div class="name">{{../labels.evening}}</div>
			</div>
	
			<div class="pure-u-1-4 l-box">	
				<div class="name">{{../labels.monday}}</div>
			</div>
			<div class="pure-u-1-4 l-box">
				<input id="intakeEditForm_event0" type="text" class="pure-input-1" name="event0" value="{{socialEvents.0.event}}"/>
			</div>
			<div class="pure-u-1-4 l-box">
				<input id="intakeEditForm_event1" type="text" class="pure-input-1" name="event1" value="{{socialEvents.1.event}}"/>
			</div>
			<div class="pure-u-1-4 l-box">
				<input id="intakeEditForm_event2" type="text" class="pure-input-1" name="event2" value="{{socialEvents.2.event}}"/>
			</div>
			
			<div class="pure-u-1-4 l-box">	
				<div class="name">{{../labels.tuesday}}</div>
			</div>
			<div class="pure-u-1-4 l-box">
				<input id="intakeEditForm_event3" type="text" class="pure-input-1" name="event3" value="{{socialEvents.3.event}}"/>
			</div>
			<div class="pure-u-1-4 l-box">
				<input id="intakeEditForm_event4" type="text" class="pure-input-1" name="event4" value="{{socialEvents.4.event}}"/>
			</div>
			<div class="pure-u-1-4 l-box">
				<input id="intakeEditForm_event5" type="text" class="pure-input-1" name="event5" value="{{socialEvents.5.event}}"/>
			</div>
			
			<div class="pure-u-1-4 l-box">	
				<div class="name">{{../labels.wednesday}}</div>
			</div>
			<div class="pure-u-1-4 l-box">
				<input id="intakeEditForm_event6" type="text" class="pure-input-1" name="event6" value="{{socialEvents.6.event}}"/>
			</div>
			<div class="pure-u-1-4 l-box">
				<input id="intakeEditForm_event7" type="text" class="pure-input-1" name="event7" value="{{socialEvents.7.event}}"/>
			</div>
			<div class="pure-u-1-4 l-box">
				<input id="intakeEditForm_event8" type="text" class="pure-input-1" name="event8" value="{{socialEvents.8.event}}"/>
			</div>
			
			<div class="pure-u-1-4 l-box">	
				<div class="name">{{../labels.thursday}}</div>
			</div>
			<div class="pure-u-1-4 l-box">
				<input id="intakeEditForm_event9" type="text" class="pure-input-1" name="event9" value="{{socialEvents.9.event}}"/>
			</div>
			<div class="pure-u-1-4 l-box">
				<input id="intakeEditForm_event10" type="text" class="pure-input-1" name="event10" value="{{socialEvents.10.event}}"/>
			</div>
			<div class="pure-u-1-4 l-box">
				<input id="intakeEditForm_event11" type="text" class="pure-input-1" name="event11" value="{{socialEvents.11.event}}"/>
			</div>
			
			<div class="pure-u-1-4 l-box">	
				<div class="name">{{../labels.friday}}</div>
			</div>
			<div class="pure-u-1-4 l-box">
				<input id="intakeEditForm_event12" type="text" class="pure-input-1" name="event12" value="{{socialEvents.12.event}}"/>	
			</div>
			<div class="pure-u-1-4 l-box">
				<input id="intakeEditForm_event13" type="text" class="pure-input-1" name="event13" value="{{socialEvents.13.event}}"/>
			</div>
			<div class="pure-u-1-4 l-box">
				<input id="intakeEditForm_event14" type="text" class="pure-input-1" name="event14" value="{{socialEvents.14.event}}"/>
			</div>
			
			<div class="pure-u-1-4 l-box">	
				<div class="name">{{../labels.saturday}}</div>
			</div>
			<div class="pure-u-1-4 l-box">	
				<input id="intakeEditForm_event15" type="text" class="pure-input-1" name="event15" value="{{socialEvents.15.event}}"/>
			</div>
			<div class="pure-u-1-4 l-box">
				<input id="intakeEditForm_event16" type="text" class="pure-input-1" name="event16" value="{{socialEvents.16.event}}"/>
			</div>
			<div class="pure-u-1-4 l-box">
				<input id="intakeEditForm_event17" type="text" class="pure-input-1" name="event17" value="{{socialEvents.17.event}}"/>
			</div>
			
			<div class="pure-u-1-4 l-box">	
				<div class="name">{{../labels.sunday}}</div>
			</div>
			<div class="pure-u-1-4 l-box">	
				<input id="intakeEditForm_event18" type="text" class="pure-input-1" name="event18" value="{{socialEvents.18.event}}"/>
			</div>
			<div class="pure-u-1-4 l-box">
				<input id="intakeEditForm_event19" type="text" class="pure-input-1" name="event19" value="{{socialEvents.19.event}}"/>	
			</div>
			<div class="pure-u-1-4 l-box">	
				<input id="intakeEditForm_event20" type="text" class="pure-input-1" name="event20" value="{{socialEvents.20.event}}"/>	
			</div>
				
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_socialCurrentArrangementsIssues">{{../labels.currentArrangementsIssues}}</label>
	            <div data-name="socialCurrentArrangementsIssues" class="formRichTextInput" id="intakeEditForm_socialCurrentArrangementsIssues" contenteditable="true">{{{socialCurrentArrangementsIssues}}}</div>
	        </div>
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_socialSupportRequired">{{../labels.supportRequired}}</label>
	            <div data-name="socialSupportRequired" class="formRichTextInput" id="intakeEditForm_socialSupportRequired" contenteditable="true">{{{socialSupportRequired}}}</div>
	        </div>
        {{/modelData}}
    </div>
</form>