<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixOneFamilyHistoryHeartProblems">{{{../labels.familyHistoryHeartProblems}}}</label>
	            <div data-name="familyHistoryHeartProblems" class="formRichTextInput" id="intakeEditForm_appendixOneFamilyHistoryHeartProblems" contenteditable="true">{{{familyHistoryHeartProblems}}}</div>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixOneFamilyHistoryDiabetes">{{{../labels.familyHistoryDiabetes}}}</label>
	            <div data-name="familyHistoryDiabetes" class="formRichTextInput" id="intakeEditForm_appendixOneFamilyHistoryDiabetes" contenteditable="true">{{{familyHistoryDiabetes}}}</div>
	        </div>  
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixOneFamilyHistoryAsthma">{{{../labels.familyHistoryAsthma}}}</label>
	            <div data-name="familyHistoryAsthma" class="formRichTextInput" id="intakeEditForm_appendixOneFamilyHistoryAsthma" contenteditable="true">{{{familyHistoryAsthma}}}</div>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixOneFamilyHistoryCancer">{{{../labels.familyHistoryCancer}}}</label>
	            <div data-name="familyHistoryCancer" class="formRichTextInput" id="intakeEditForm_appendixOneFamilyHistoryCancer" contenteditable="true">{{{familyHistoryCancer}}}</div>
	        </div> 
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixOneFamilyHistoryGlaucoma">{{{../labels.familyHistoryGlaucoma}}}</label>
	            <div data-name="familyHistoryGlaucoma" class="formRichTextInput" id="intakeEditForm_appendixOneFamilyHistoryGlaucoma" contenteditable="true">{{{familyHistoryGlaucoma}}}</div>
	        </div>              	        	        	        
        {{/modelData}}
    </div>
</form>
