<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixOneFamilyHistoryEpilepsy">{{{../labels.familyHistoryEpilepsy}}}</label>
	            <div data-name="familyHistoryEpilepsy" class="formRichTextInput" id="intakeEditForm_appendixOneFamilyHistoryEpilepsy" contenteditable="true">{{{familyHistoryEpilepsy}}}</div>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixOneFamilyHistoryMentalHealth">{{{../labels.familyHistoryMentalHealth}}}</label>
	            <div data-name="familyHistoryMentalHealth" class="formRichTextInput" id="intakeEditForm_appendixOneFamilyHistoryMentalHealth" contenteditable="true">{{{familyHistoryMentalHealth}}}</div>
	        </div>  
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixOneFamilyHistoryHighBloodPressure">{{{../labels.familyHistoryHighBloodPressure}}}</label>
	            <div data-name="familyHistoryHighBloodPressure" class="formRichTextInput" id="intakeEditForm_appendixOneFamilyHistoryHighBloodPressure" contenteditable="true">{{{familyHistoryHighBloodPressure}}}</div>
	        </div>
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixOneFamilyHistoryOther">{{{../labels.familyHistoryOther}}}</label>
	            <div data-name="familyHistoryOther" class="formRichTextInput" id="intakeEditForm_appendixOneFamilyHistoryOther" contenteditable="true">{{{familyHistoryOther}}}</div>
	        </div>              	        	        	        
        {{/modelData}}
    </div>
</form>
