<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
           	<div class="pure-u-1-2 l-box">
	            <fieldset class="inline-checkbox">
	            	<legend>{{../labels.suffersFromBreathlessness}}</legend>
	            	{{radioTri 'intakeEditForm' 'suffersFromBreathlessness' suffersFromBreathlessness}}
	            </fieldset>
	        </div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneBreathlessnessDescription">{{{../labels.breathlessnessDescription}}}</label>
	            <div data-name="breathlessnessDescription" class="formRichTextInput" id="intakeEditForm_appendixOneBreathlessnessDescription" contenteditable="true">{{{breathlessnessDescription}}}</div>
	        </div> 
           	<div class="pure-u-1-2 l-box">
	            <fieldset class="inline-checkbox">
	            	<legend>{{../labels.respiratoryHeartProblems}}</legend>
	            	{{radioTri 'intakeEditForm' 'respiratoryHeartProblems' respiratoryHeartProblems}}
	            </fieldset>
	        </div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneRespiratoryHeartProblemsDescription">{{{../labels.respiratoryHeartProblemsDescription}}}</label>
	            <div data-name="respiratoryHeartProblemsDescription" class="formRichTextInput" id="intakeEditForm_appendixOneRespiratoryHeartProblemsDescription" contenteditable="true">{{{respiratoryHeartProblemsDescription}}}</div>
	        </div> 	
           	<div class="pure-u-1-2 l-box">
	            <fieldset class="inline-checkbox">
	            	<legend>{{../labels.circulationProblems}}</legend>
	            	{{radioTri 'intakeEditForm' 'circulationProblems' circulationProblems}}
	            </fieldset>           	
	        </div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneCirculationProblemsDescription">{{{../labels.circulationProblemsDescription}}}</label>
	            <div data-name="circulationProblemsDescription" class="formRichTextInput" id="intakeEditForm_appendixOneCirculationProblemsDescription" contenteditable="true">{{{circulationProblemsDescription}}}</div>
	        </div> 		
           	<div class="pure-u-1-2 l-box">
	            <fieldset class="inline-checkbox">
	            	<legend>{{../labels.breathingCirculationChecked}}</legend>
	            	{{radioTri 'intakeEditForm' 'breathingCirculationChecked' breathingCirculationChecked}}
	            </fieldset>
	        </div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneDateLastCirculationAppointment">{{../labels.dateLastCirculationAppointment}}</label>
	           	<input id="intakeEditForm_appendixOneDateLastCirculationAppointment" type="text" class="pure-input-1" name="dateLastCirculationAppointment" placeholder="DD-MMM-YYYY" value="{{dateFormat dateLastCirculationAppointment}}" maxlength="11" />
	        </div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneCirculationSpecialistName">{{../labels.circulationSpecialistName}}</label>
	           	<input id="intakeEditForm_appendixOneCirculationSpecialistName" type="text" class="pure-input-1" name="circulationSpecialistName" value="{{circulationSpecialistName}}" maxlength="255" />
			</div>
	        <div class="pure-u-1-2 l-box">
	            <label for="intakeEditForm_appendixOneCirculationSpecialistContactNumber">{{../labels.circulationSpecialistContactNumber}}</label>
	           	<input id="intakeEditForm_appendixOneCirculationSpecialistContactNumber" type="text" class="pure-input-1" name="circulationSpecialistContactNumber" value="{{circulationSpecialistContactNumber}}" maxlength="255" />
			</div>
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixOneCirculationSpecialistAddress">{{../labels.circulationSpecialistAddress}}</label>
	           	<input id="intakeEditForm_appendixOneCirculationSpecialistAddress" type="text" class="pure-input-1" name="circulationSpecialistAddress" value="{{circulationSpecialistAddress}}" maxlength="255" />
			</div>
           	<div class="pure-u-1 l-box">
	            <fieldset class="inline-checkbox">
	            	<legend>{{../labels.circulationSupportRequired}}</legend>
	            	{{radioTri 'intakeEditForm' 'circulationSupportRequired' circulationSupportRequired}}
	            </fieldset>
	        </div>	
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixOneCirculationSupportDescription">{{{../labels.circulationSupportDescription}}}</label>
	            <div data-name="circulationSupportDescription" class="formRichTextInput" id="intakeEditForm_appendixOneCirculationSupportDescription" contenteditable="true">{{{circulationSupportDescription}}}</div>
	        </div> 		        
        {{/modelData}}
    </div>
</form>