<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}
        
        {{#modelData}}
            <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_appendixTwoSleepPattern">{{{../labels.sleepPattern}}}</label>
	            <div data-name="sleepPattern" class="formRichTextInput" id="intakeEditForm_appendixTwoSleepPattern" contenteditable="true">{{{sleepPattern}}}</div>
	        </div>    	        	        	        
        {{/modelData}}
    </div>
</form>

	        
		