<div class="pure-g-r readonly">
	{{#modelData.behaviour}}
	<div class="pure-u-1 l-box">
		<div class="name">{{../labels.what}}</div>
		<div class="value">{{{behaviourWhat}}}</div>
	</div>	

	<div class="pure-u-1 l-box">
		<div class="name">{{../labels.where}}</div>
		<div class="value">{{{behaviourWhere}}}</div>
	</div>	

	<div class="pure-u-1 l-box">
		<div class="name">{{../labels.frequency}}</div>
		<div class="value">{{{behaviourFrequency}}}</div>
	</div>	

	<div class="pure-u-1 l-box">
		<div class="name">{{../labels.duration}}</div>
		<div class="value">{{{behaviourDuration}}}</div>
	</div>	

	<div class="pure-u-1 l-box">
		<div class="name">{{../labels.triggers}}</div>
		<div class="value">{{{behaviourTriggers}}}</div>
	</div>	
	{{/modelData.behaviour}}

	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>