<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#otherData.formModel}}
            {{#include parent=../..}}
                {{> narrative}}
            {{/include}}
        {{/otherData.formModel}}

        <div class="pure-u-1 l-box">
            <label for="intakeEditForm_appetiteDescription">{{labels.appetiteDescription}}</label>
	        <div data-name="appetiteDescription" class="formRichTextInput" id="intakeEditForm_appetiteDescription" contenteditable="true">{{{modelData.appetiteDescription}}}</div>
        </div>
	        
        <div class="pure-u-1 l-box">
            <label for="intakeEditForm_appetite">{{labels.appetite}}</label>
        </div>
        {{#enumTypes.appetite}}
        <div class="pure-u-1-4 l-box">
          	<label for="intakeEditForm_{{name}}Input" class="pure-checkbox"> 
          		<input id="intakeEditForm_{{name}}Input" type="checkbox" name="appetite" value="{{enumName}}" aria-label="{{name}}" /> {{name}}
          	</label>
      	</div>
        {{/enumTypes.appetite}}
	        
    </div>
</form>
	        
		