<form action="#none" id="intakeEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
			<div class="pure-u-1-3 l-box">
	            <label for="intakeEditForm_height">{{../labels.height}}</label>
	           	<input id="intakeEditForm_height" type="text" class="pure-input-1" name="height" value="{{{height}}}" maxlength="60" />
			</div>	
			<div class="pure-u-1-3 l-box">
	            <label for="intakeEditForm_weight">{{../labels.weight}}</label>
	           	<input id="intakeEditForm_weight" type="text" class="pure-input-1" name="weight" value="{{{weight}}}" maxlength="60" />
			</div>
	        <div class="pure-u-1-3 l-box">
	            <label for="intakeEditForm_lastAnnualHealthCheck">{{../labels.lastAnnualHealthCheck}}</label>
	           	<input id="intakeEditForm_lastAnnualHealthCheck" type="text" class="pure-input-1" name="lastAnnualHealthCheck" placeholder="DD-MMM-YYYY" value="{{dateFormat lastAnnualHealthCheck}}" maxlength="11" />
	        </div>	
	        <div class="pure-u-1 l-box">
	            <label for="intakeEditForm_medicalHistory">{{../labels.medicalHistory}}</label>
	            <div data-name="medicalHistory" class="formRichTextInput" id="intakeEditForm_medicalHistory" contenteditable="true">{{{medicalHistory}}}</div>
	        </div>
        {{/modelData}}
    </div>
</form>