<div class="pure-g-r readonly">
	{{#modelData.skin}}	
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.skinProblems}}</div>
			<div class="value">{{yesNo skinProblems}}</div>	
		</div>	
		<div class="pure-u-1-2">
			&nbsp;
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.seenBySkinSpecialist}}</div>
			<div class="value">{{yesNo seenBySkinSpecialist}}</div>	
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.dateLastSkinAppointment}}</div>
			<div class="value">{{dateFormat dateLastSkinAppointment}}</div>	
		</div>	
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.skinSpecialistName}}</div>
			<div class="value">{{skinSpecialistName}}</div>
		</div>		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.skinSpecialistContactNumber}}</div>
			<div class="value">{{skinSpecialistContactNumber}}</div>
		</div>	
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.skinSpecialistAddress}}</div>
			<div class="value">{{skinSpecialistAddress}}</div>
		</div>
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.skinTreatmentDescription}}</div>
			<div class="value">{{{skinTreatmentDescription}}}</div>
		</div>								
		<div class="pure-u-1-2 l-box">
			<div class="name">{{../labels.skinSupportRequired}}</div>
			<div class="value">{{yesNo skinSupportRequired}}</div>
		</div>		
		<div class="pure-u-1 l-box">
			<div class="name">{{../labels.skinSupportDescription}}</div>
			<div class="value">{{{skinSupportDescription}}}</div>
		</div>	
	{{/modelData.skin}}
					
	<div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if formModel.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>