
@font-face {
  font-family: "eclipse";
  src:url("eclipse.eot");
  src:url("eclipse.eot?#iefix") format("embedded-opentype"),
    url("eclipse.woff") format("woff"),
    url("eclipse.ttf") format("truetype"),
    url("eclipse.svg#eclipse") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "eclipse" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="eclipse-"]:before,
[class*=" eclipse-"]:before {
  font-family: "eclipse" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eclipse-caseNotes:before, 
.eclipse-casenote:before {
  content: "a";
}
.eclipse-chronology:before,
.eclipse-childlookedafter:before {
  content: "b";
}
.eclipse-contact:before {
  content: "c";
}
.eclipse-forms:before,
.eclipse-form:before {
  content: "d";
}

.eclipse-historic:before {
  content: "e";
}

.eclipse-team:before {
  content: "f";
}

.eclipse-classification:before{
  font-family: FontAwesome !important;
  content: "\f02c";
}

.eclipse-checklist:before, .eclipse-worklist:before{
  font-family: FontAwesome !important;
  content: "\f046";
}
 
 .eclipse-relationship:before,.eclipse-relationship-type:before{
  font-family: FontAwesome !important;
  content: "\f0e8";
 }
 
.fa-stack > [class^="eclipse-"]:before, .fa-stack > [class*=" eclipse-"]:before {
  line-height: inherit;
}
