<div class="pure-menu pure-menu-open pure-menu-horizontal" style="display:inline">
    <ul role="menu" class="pure-menu-children">
        <li role="menuitem" class="pure-menu-can-have-children pure-menu-has-children">
            <a href="#none" id="selected-team">
              <i class="switch-team-icon"></i>
              <span class="team pure-menu-label">{{selectedProfileDescription}}</span>
              <i class="fa fa-caret-down"></i>
            </a>
            <ul role="menu" class="pure-menu pure-menu-children">
              {{#each teams}}
                <li role="menuitem" class="pure-menu-item">
                  <a href="#none" data-id={{profileId}}>{{profileDescription}}</a>
                </li>
              {{/each}}
            </ul>
        </li>
    </ul>
</div>
