<form action="#none" id="changeUserPasswordForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r" >
		<div class="pure-u-1-2 l-box">
			<label for="password">
				{{labels.password}}<span class="mandatory">*</span>
				<a href="#" class="pop-up-data" data-title="{{labels.passwordPopupMessageTitle}}" data-content="{{labels.passwordPopupMessageContent}}">Help</a>
			</label>
			<input id="password" type="password" class="pure-input-1" name="password" autofocus autocomplete=off />
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="confirmPassword">
				{{labels.confirmPassword}}<span class="mandatory">*</span>
				<a href="#" class="pop-up-data" data-title="{{labels.confirmPasswordPopupMessageTitle}}" data-content="{{labels.confirmPasswordPopupMessageContent}}">Help</a>
			</label>
			<input id="confirmPassword" type="password" class="pure-input-1" name="confirmPassword" autocomplete=off />
		</div>
	</div>
</form>