<div class="pure-g-r">
	<!-- <h4 class="alt2">Roles</h4> -->
	
	<div id="teams-tab-view" class="pure-u-1 l-box">
		<ul>
			<li><a href="#noteam-content">No Team</a></li>
			{{#teams}}
				<li><a href="#{{name}}-content">{{label}}</a></li>
			{{/teams}}
		</ul>
		
		<div>
			<div class="pure-u-1" id="noteam-content"></div>
			{{#teams}}
				<div class="pure-u-1" id="{{name}}-content"></div>
			{{/teams}}
		</div>
	</div> <!-- teams-tab-view -->
</div>
