<form action="#none" id="userResultsFilterForm" class="pure-form pure-form-stacked filter-panel">
  <div class="panel bordered">
    <div>
      <h3 class="alt2" tabindex="0">{{labels.filterBy}}</h3>
    </div>
    <div id="userResultsFilter">
      <div class="pure-g-r">
          <div class="pure-u-1-4 l-box">
            <label for="userResultsFilter_nameOrUserName">{{labels.name}} / {{labels.username}}</label>
            <input class="pure-input-1" name="nameOrUserName" id="userResultsFilter_nameOrUserName" maxlength="255" value="{{modelData.nameOrUserName}}" />
          </div>
      </div>
      <div class="pure-g-r">
        <fieldset id="userResultsFilter_roleIds">
          <div class="pure-u-1-1 l-box">
            <label for="userResultsFilter_roleIds">{{labels.roles}}</label>
            <div class="fieldset-wrap pure-g-r">
              {{#each otherData.roles}}
              <div class="l-box pure-u-1-4">
                <label for="{{id}}" class="pure-checkbox"> <input type="checkbox" id="{{id}}" name="roleIds" {{#if checked}} checked {{/if}} value="{{id}}" aria-label="{{description}}{{#unless active}} - deactivated{{/unless}}"> {{description}}{{#unless active}} - deactivated{{/unless}}</label>
              </div>
              {{/each}}
            </div>
          </div>
        </fieldset>
      </div>
      <div class="pure-u-1">
        <div class="l-box">
          <div class="pure-button-group pull-right">
            <input type="button" id="userResultsFilter_clearFilters" class="pure-button pure-button-secondary" data-reset="reset" value="Reset" aria-label="Reset all filters">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
