<div class="pure-g-r">
	<div class="pure-u-1 model-errors">
		    <div class="message contacts-warning-section user-contacts-warning-visibility message-warning">
		    		<span class="contacts-warning-summary"></span>
		    </div>
	</div>
</div>
<div class="pure-g-r readonly">
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.name}}</div>
		<div class="value">{{modelData.name}}</div>
	</div>
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.expiryDate}}</div>
		<div class="value">{{dateTimeFormat modelData.expiryDate}}</div>
	</div>
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.userName}}</div>
		<div class="value">{{modelData.userName}}</div>	
	</div>
		<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.ldapUserName}}</div>
		<div class="value">{{modelData.ldapUserName}}</div>	
	</div>
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.passwordExpiryDate}}</div>
		<div class="value">{{dateTimeFormat modelData.passwordExpiryDate}}</div>
	</div>
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.passwordReset}}</div>
		<div class="value">{{yesNo modelData.passwordReset}}</div>
	</div>
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.enabled}}</div>
		<div class="value">{{yesNo modelData.enabled}}</div>
	</div>
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.locked}}</div>
		<div class="value">{{yesNo modelData.locked}}</div>
	</div>
	<div class="pure-u-1-2 l-box authenticationFactorValue">
		<div class="name">{{labels.authenticationFactor}}</div>
		<div class="value">
		</div>
	</div>
	<div class="pure-u-1-2 l-box userTypeValue">
		<div class="name">{{labels.userType}}</div>
		<div class="value">{{modelData.userType}}</div>
	</div>
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.trusted}}</div>
		<div class="value">{{yesNo modelData.trusted}}</div>
	</div>
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.person}}</div>
		{{#if modelData.person}}
  		<div class="value">{{modelData.person.name}} ({{modelData.person.personIdentifier}})</div>
  	{{else}}
  		<div class="value">No Associated Person</div>
  	{{/if}}
	</div>
	<div class="pure-u-1-2 l-box workMobileContact">
				<div class="name">{{labels.workMobileContactLabel}}</div>
				<div class="value"></div>
	</div>
	<div class="pure-u-1-2 l-box workEmailContact">
				<div class="name">{{labels.workEmailContactLabel}}</div>
				<div class="value"></div>
	</div>
	<div class="pure-u-1-1 l-box">
		<div class="name">{{labels.roles}}</div>
		<div id="rolesContainer" class="value"></div>
	</div>
	
	<!--
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.dateCreated}}</div>
		<div class="value">{{modelData.createdBy}}&#44; {{dateTimeFormat modelData.dateCreated}}</div>
	</div>
	<div class="pure-u-1-2 l-box">	
		{{#if modelData.dateLastEdited}}
			<div class="name">{{labels.dateLastEdited}}</div>
			<div class="value">{{modelData.lastEditedBy}}&#44;
				{{dateTimeFormat modelData.dateLastEdited}}
			</div>
		{{/if}}
	</div>
	-->
</div>