<div id="userWarnings"></div>
<form action="#none" id="userAddForm" class="pure-form pure-form-stacked">
	<fieldset>	
		{{!-- Add Person wrapper: start --}}
		<div class="pure-g-r" >
			<div class="pure-u-1 l-box">
				<label for="addUser_person">
					{{labels.person}}
				</label>
				<div id="addUser_wrapper">
				</div>
			</div>
			<div class="pure-u-1-2 l-box workMobileContact">
				<div class="name">{{labels.workMobileContactLabel}}</div>
				<div class="value"></div>
			</div>
			
			<div class="pure-u-1-2 l-box workEmailContact">
				<div class="name">{{labels.workEmailContactLabel}}</div>
				<div class="value"></div>
			</div>
			<div class="pure-u-1 l-box">
				<div class="pure-alert pure-alert-info">
					<span>{{labels.fillOutLdapOrUserPwd}}</span>
				</div>
			</div>
			<div class="pure-u-1-1 l-box">
				<label for="addUser_name">
					{{labels.name}}
					<span class="mandatory">*</span>
				</label>
				<input id="addUser_name" type="text"
				class="pure-input-1" name="name" maxlength="50" />
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="addUser_userName">
					{{labels.userName}}
				</label>
				<input id="addUser_userName" type="text"
				class="pure-input-1" name="userName" maxlength="20" />
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="addUser_ldapUserName">
					{{labels.ldapUserName}}
				</label>
				<input id="addUser_ldapUserName" type="text"
				class="pure-input-1" name="ldapUserName" maxlength="255" />
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="addUser_expiryDate">{{labels.expiryDate}}</label>
				<input id="addUser_expiryDate" type="text"
				class="pure-input-1" name="expiryDate" />
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="addUser_password">
					{{labels.password}}
					<a href="#" class="pop-up-data" data-title="{{labels.passwordPopupMessageTitle}}" data-content="{{labels.passwordPopupMessageContent}}">Help</a>
				</label>
				<input id="addUser_password" type="password"
				class="pure-input-1" name="password" autocomplete=off />
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="addUser_confirmPassword">
					{{labels.confirmPassword}}
					<span class="mandatory">*</span>
					<a href="#" class="pop-up-data" data-title="{{labels.confirmPasswordPopupMessageTitle}}" data-content="{{labels.confirmPasswordPopupMessageContent}}">Help</a>
				</label>
				<input id="addUser_confirmPassword" type="password"
				class="pure-input-1" name="confirmPassword" autocomplete=off />
			</div>			
			<div class="pure-u-1-2 l-box">
				<label for="addUser_passwordExpiryDate">{{labels.passwordExpiryDate}}</label>
				<input id="addUser_passwordExpiryDate" type="text"
				class="pure-input-1" name="passwordExpiryDate" />
			</div>
			<div class="pure-u-1-2 l-box">
				<fieldset id="authenticationFactor">
						<legend>{{labels.authenticationFactor}}</legend>
						<div class="fieldset-wrap pure-g-r">
							<div class="pure-u-1-2">
								<label class="pure-radio"><input type="radio" name="authMode" value="PASSWORD_ONLY" checked/>{{labels.authPasswordOnly}}</label>
							</div>
							<div class="pure-u-1-4">
								<label class="pure-radio"><input type="radio" name="authMode" {{#unless enableSecondaryPassword}}disabled=true{{/unless}} value="SECONDARY_PASSWORD" />{{labels.authOneAndAHalfFactor}}</label>
							</div>
							<div class="pure-u-1-4">
								<label class="pure-radio"><input type="radio" name="authMode" {{#unless enableTwoFactor}}disabled=true{{/unless}} value="TWO_FACTOR_SMS" />{{labels.authTwoFactor}}</label>
							</div>
						</div>
				</fieldset>
			</div>
		</div>
		<div class="pure-u-1-1 l-box">
			<label for="rolesPicklist">{{labels.roles}}<span class="mandatory"> *</span></label>
		</div>
		<div id="user-tabs"></div>
	</fieldset>
</form>