<div class="pure-g-r">
		<div class="pure-u-1 model-errors">
		    <div class="message contacts-warning-section user-contacts-warning-visibility message-warning">
		    		<span class="contacts-warning-summary"></span>
		    </div>
		</div>
</div>
<form action="#none" id="userEditForm" class="pure-form pure-form-stacked">
	<fieldset>
		<div class="pure-g-r">
			<div class="pure-u-1-2 l-box">
				<label for="editUser_name">{{labels.name}}</label>
				<input id="editUser_name" type="text" class="pure-input-1" name="name" value="{{modelData.name}}"/>
			</div>			
			<div class="pure-u-1-2 l-box">
			{{#if hasLdapUserName}}
				<div name="ldapUserName">{{labels.ldapUserName}}</div>
				<div class="value">{{modelData.ldapUserName}}</div>
			{{else}}
				<label for="editUser_ldapUserName">
					{{labels.ldapUserName}}
				</label>
				<input id="editUser_ldapUserName" type="text" value="{{modelData.ldapUserName}}" class="pure-input-1" name="ldapUserName" maxlength="255" />
			{{/if}}
			</div>
			
			<div class="pure-u-1-2 l-box">
				<label for="editUser_expiryDate">{{labels.expiryDate}}</label>
				<input type="text" class="pure-input-1" name="expiryDate" id="editUser_expiryDate" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.expiryDate}}" />
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="editUser_passwordExpiryDate">{{labels.passwordExpiryDate}}</label>
				<input type="text" class="pure-input-1" name="passwordExpiryDate" id="editUser_passwordExpiryDate" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.passwordExpiryDate}}" />
			</div>
			<div class="pure-u-1-2 l-box">
				<fieldset id="authenticationFactor">
						<legend>{{labels.authenticationFactor}}</legend>
						<div class="fieldset-wrap pure-g-r">
							<div class="pure-u-1-2">
								<label class="pure-radio"><input type="radio" name="authenticationMode"  value="PASSWORD_ONLY" />{{labels.authPasswordOnly}}</label>
							</div>
							<div class="pure-u-1-4">
								<label class="pure-radio"><input type="radio" name="authenticationMode" {{#unless enableSecondaryPassword}}disabled=true{{/unless}} value="SECONDARY_PASSWORD" />{{labels.authOneAndAHalfFactor}}</label>
							</div>
							<div class="pure-u-1-4">
								<label class="pure-radio"><input type="radio" name="authenticationMode" {{#unless enableTwoFactor}}disabled=true{{/unless}} value="TWO_FACTOR_SMS" />{{labels.authTwoFactor}}</label>
							</div>
						</div>
				</fieldset>
			</div>
			<div class="pure-u-1-2 l-box workMobileContact">
				<div class="name">{{labels.workMobileContactLabel}}</div>
				<div class="value"></div>
			</div>
			
			<div class="pure-u-1-2 l-box workEmailContact">
				<div class="name">{{labels.workEmailContactLabel}}</div>
				<div class="value"></div>
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="editUser_locked" class="pure-checkbox">
				<input type="checkbox" name="locked" id="editUser_locked" {{#unless modelData.locked}}disabled readonly="readonly"{{/unless}} {{#if modelData.locked }}checked{{/if}} value=true />
				<span>&nbsp;{{labels.locked}}</span></label>
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="editUser_resetSecPw" class="pure-checkbox">
				<input type="checkbox" name="resetSecondaryPassword" id="editUser_resetSecPw" value=false />
				&nbsp;{{labels.resetSecondaryPassword}}</label>
			</div>
		</div>
		<div class="pure-u-1-1 l-box">
			<label for="rolesPicklist">{{labels.roles}}<span class="mandatory"> *</span></label>
		</div>
		<div id="user-tabs"></div>

	</fieldset>
</form>