{{#if anyActive}}
  <span>{{labels.filter}}</span>
  {{#if activeFilter.nameOrUserName}}
      <span class="label">{{labels.name}} / {{labels.username}}<a href="#nameOrUserName" aria-label="Remove name / username filter"> <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  {{#if activeFilter.roleIds}}
    <span class="label">{{labels.roles}}<a href="#roleIds" aria-label="Remove roles filter"> <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  <a href="#reset" class="small" aria-label="Reset all filters">Reset all</a>
{{/if}}
