<form action="#none" id="addPersonRoleForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
  
    <div class="pure-u-1 l-box">
      <div class="pure-narrative">
        <span class="narrative-summary" id="personRoleSelectNarrative">{{#if addPersonRoles}}{{labels.addRolesNarrative}}{{else}}{{labels.addPersonRolesNarrative}}{{/if}}</span>
      </div>
    </div>
  
    <div class="pure-u-1-2 l-box" id="person_roles">
      <label for="person_roleClient-input" class="pure-checkbox">
        <input type="checkbox"  name="person_roleClient" id="person_roleClient-input" />
        <span>{{codedEntry 'CLIENT' codedEntries.personType}}</span>
      </label>
      <br /> 
      
      <label for="person_roleOther-input" class="pure-checkbox">
        <input type="checkbox"  name="person_roleOther" id="person_roleOther-input" />
        <span>{{codedEntry 'OTHER' codedEntries.personType}}</span>
      </label>
      <br />
      
      <label for="person_roleProfessional-input" class="pure-checkbox">
        <input type="checkbox"  name="person_roleProfessional" id="person_roleProfessional-input" />
        <span>{{codedEntry 'PROFESSIONAL' codedEntries.personType}}</span>
      </label>
      <br />
      
      <label for="person_roleFosterCarer-input" class="pure-checkbox">
        <input type="checkbox" name="person_roleFosterCarer" id="person_roleFosterCarer-input" />
        <span>{{codedEntry 'FOSTER_CARER' codedEntries.personType}}</span>
      </label>
      <br />
      
      <label for="person_roleAdopter-input" class="pure-checkbox">
        <input type="checkbox" name="person_roleAdopter" id="person_roleAdopter-input" />
        <span>{{codedEntry 'ADOPTER' codedEntries.personType}}</span>
      </label>
      <br />
    </div>
    
  </div>
</form>