<form action="#none" id="changePersonNameForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r" >
		<div class="pure-u-1 l-box">
			<div class="pure-narrative" id="describedby" aria-live="polite">
				<span class="narrative-summary">{{labels.changeNameSummaryBeginning}}</span>
				<span class="narrative-description">{{modelData.name}} ({{modelData.personIdentifier}})</span>
				<span class="narrative-summary">{{labels.changeNameSummaryEnding}}</span>
			</div>
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="title-input">{{labels.title}}</label>
			<select type="text" class="pure-input-1" name="title" id="title-input" maxlength="255" value="{{modelData.title}}">
					<option value=""></option>
			<select/>
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="forename-input">{{labels.forename}}<span class="mandatory"> *</span></label>
			<input type="text" class="pure-input-1" name="forename" id="forename-input" maxlength="255" value="{{modelData.forename}}"/>
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="middleNames-input">{{labels.middleNames}}</label>
			<input type="text" class="pure-input-1" name="middleNames" id="middleNames-input" maxlength="255" value="{{modelData.middleNames}}" />
		</div>
	
		<div class="pure-u-1-2 l-box">
			<label for="surname-input">{{labels.surname}}<span class="mandatory"> *</span></label>
			<input type="text" class="pure-input-1" name="surname" id="surname-input"  maxlength="255" value="{{modelData.surname}}" />
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="knownAs-input">{{labels.knownAs}}
				<a href="#" class="pop-up-data" data-title="{{labels.knownAsPopupMessageTitle}}" data-content="{{labels.knownAsPopupMessageContent}}">Help</a>
			</label>
			<input type="text" class="pure-input-1" name="knownAs" id="knownAs-input" maxlength="255" value="{{modelData.knownAs}}" />
		</div>
</form>