<form action="#none" id="changeNotCarriedForm" class="pure-form pure-form-stacked notCarried-form">
	<div class="pure-g-r" >	
		<div class="pure-u-1 l-box">
			<div class="pure-narrative" id="describedby" aria-live="polite">
				<span class="narrative-summary">{{labels.changeNotcarriedPersonSummaryHeader}}</span>
				<span class="narrative-description">{{modelData.name}} ({{modelData.personIdentifier}})</span>
			</div>
		</div>
		
		<div class="pure-u-1 l-box pregnancy-info">
			{{labels.changeNotcarriedPregnancyInfo}}
		</div>
		
		<div class="pure-u-1 l-box">

			<div class="pure-g-r change-status-container-box">
			 	<div class="pure-u-1-2 l-box">
			 			<div class="fieldset-wrap pure-g-r centreTxt">
			 				<div class="pure-u-1 l-box">
			 					<label class="pure-radio born-label">Born</label>
			 				</div>
			 				<div class="pure-u-1 l-box">
			 					 <label class="pure-radio radio-inline"><input type="radio" class="born-radio" name="outcome" value="BORN"  checked="checked"/></label>
			 				</div>
			 				
			 			</div><div class="pure-u-1 status-seperator" style='display:inline-block'></div>
			 	</div>
			 	
			  	<div class="pure-u-1-2 l-box">
			  			<div class="fieldset-wrap  pure-g-r centreTxt">
			  				<div class="pure-u-1 l-box">
			  					<label class="pure-radio">Unborn</label>
			  				</div>
			  				<div class="pure-u-1 l-box">
			 					<label class="pure-radio radio-inline"><input type="radio" class="born-radio" name="outcome" value="UNBORN" /></label>
					  		</div>
					  	</div>
			  	</div>
		
			</div>
		 		<!--Start of Born Details-->
		 		<div style="margin-left:-1em; margin-right:-1em;">
				 <div class="born-details pure-g-r">
						<div class="pure-u-1 l-box">
				       	   
							<div class="pure-u-1-1 l-box date-of-birth-box">
					       		<label for="dateOfBirth-input">{{labels.dateOfBirth}}<span class="mandatory"> *</span>
					       		<a href="#" class="pop-up-data" data-title="{{labels.dobPopupMessageTitle}}" data-content="{{labels.dobPopupMessageContent}}">Help</a>
								</label>
							</div>
						
							<div id="dateOfBirth-wrapper" class="pure-u-1-1 l-box inner-wrapper date-of-birth-wrapper-box">
								<div class="pure-u-1-2">	
								  <div id="dateOfBirth-input" class="fieldset-wrap"></div>
								  </div>
							</div>
					        
					          <div class="pure-u-1-8 l-box hidden">
				                    <div class="fieldset-wrap">
				                          <label for="age-input">{{labels.age}}</label>
				                      <input type="text" class="pure-input-1 " name="age" id="age-input" maxlength="3" value="" />
				                    </div>
				               </div>
						</div>
						<div class="pure-u-1 l-box">
							<div class="pure-info" id="pureInfoWrapper">
								<p class="estimatedInfo">{{labels.dobEstimateMessage}}</p>
								<div id="dateOfBirthEstimated" class="estimatedCheckbox">
									<label class="pure-checkbox" aria-label="{{labels.dobCheckboxMessage}}">
										<input type="checkbox" name="dateOfBirthEstimated" value=true id="dateOfBirthEstimated-input"> {{labels.dobCheckboxMessage}}</>
									</label>
								</div>
							</div>
						</div>
              
		                <div class="pure-u-1 l-box">
		                  	<fieldset id="gender">
		                    	<legend>Gender<span class="mandatory"> *</span></legend>
		                    	<div class="fieldset-wrap pure-g-r">
		                      		<div class="pure-u-1-5">
		                        		<label class="pure-radio"><input type="radio" name="gender" id="male-input" value="MALE" />Male</label>
		                      		</div>
		                        	<div class="pure-u-1-5">
		                        		<label class="pure-radio"><input type="radio" name="gender" id="female-input" value="FEMALE" />Female</label>
		                      		</div>
		                      		<div class="pure-u-1-4">
		                       	    	<label class="pure-radio"><input type="radio" name="gender" id="indeterminate-input" value="INDETERMINATE" />Indeterminate</label>
		                      		</div>
		                      		<div class="pure-u-1-5">
		                        		<label class="pure-radio"><input type="radio" name="gender" id="unknown-input" value="UNKNOWN" />Unknown</label>
		                      		</div>
		                   	    </div>
		                 	 </fieldset>
		                </div>
             
	               		<div class="pure-g-r"> 
			                <div class="pure-u-1-2 l-box">
			                 	 <label for="ethnicity-input">{{labels.ethnicity}}<span class="mandatory"> *</span></label>
			                  	 <select type="text" class="pure-input-1" name="ethnicity" id="ethnicity-input" value="{{textFormat modelData.ethnicity}}">
			                     	<option value=""></option>
			                  	 <select/>
			                </div>
	             
			                <div class="pure-u-1-2 l-box" id="nhs-wrapper">
			                  	<label for="nhs-input">{{labels.nhsNumber}}</span></label>
			                  	<div class="pure-u-4-24">
			                    	<input type="text" class="pure-input-1 nhs-field" name="nhsFirstThreeDigits" maxlength="3" id="nhsFirstThreeDigits-input" placeholder="{{labels.nhsNumberFirstPlaceholder}}" />
			                  	</div>
			                  	<span class="dash">-</span>
			                  	<div class="pure-u-4-24">
			                    	<input type="text" class="pure-input-1 nhs-field" name="nhsSecondThreeDigits" maxlength="3" id="nhsSecondThreeDigits-input" placeholder="{{labels.nhsNumberSecondPlaceholder}}" />
			                  	</div>
			                    <span class="dash">-</span>
			                  	<div class="pure-u-4-24">
			                    	<input type="text" class="pure-input-1 nhs-field" name="nhsLastFourDigits" maxlength="4" id="nhsLastFourDigits-input" placeholder="{{labels.nhsNumberThirdPlaceholder}}" />
			                  	</div>
			                </div> 
	               		 </div> 
	               		 <div id="chiNumber"class="pure-u-1-2 l-box">
                        <label for="chiNumber-input">{{labels.chiNumber}}</label>
                        <input type="text" class="pure-input-1" name="chiNumber" id="chiNumber-input" maxlength="10" value="{{modelData.chiNumber}}" />
                     </div>
          	 	 </div>
          	 	 <!--End of Born Details-->
          	 	  <!--Start of Unborn Details-->
          	 	 <div class="unborn-details" hidden="hidden">
          	 	 	
          	 	 		<div class="pure-u-1 l-box" style="margin-top:1em;">
                  			<label for="dueDate-input">{{labels.dueDate}} <span class="mandatory"> *</span>
                    		<a href="#" class="pop-up-data" data-title="{{labels.dueDatePopupMessageTitle}}" data-content="{{labels.dueDatePopupMessageContent}}">Help</a>
                  			</label>
                
                  			<div id="dueDate-wrapper" class="dueDate-wrapper">
                  				<div class="input-group input-append calendar">
                    				<input id="dueDate-input" type="text" class="pure-input-1 value" maxlength="11" placeholder="DD-MMM-YYYY" name="dueDate" value="{{dateFormat modelData.dueDate}}"/>
                  				 </div>
                  			</div>
          				</div>
          			
          	 	 </div>
          	 	  <!--End of unborn Details-->
          	</div>
      	</div>
	</div>
	</div>
	
</form>