<form action="#none" id="changeAliveForm" class="pure-form pure-form-stacked alive-form">
	<div class="pure-g-r" >	
		<div class="pure-u-1 l-box">
			<div class="pure-narrative" id="describedby" aria-live="polite">
				<span class="narrative-summary">{{labels.changeAlivePersonSummaryHeaderBeginning}}</span>
				<span class="narrative-description">{{modelData.name}} ({{modelData.personIdentifier}})</span>
				<span class="narrative-summary">{{labels.changeAlivePersonSummaryHeaderEnding}}</span>
			</div>
		</div>
		
		<!--Start of dead Details-->
		 <div class="pure-u-1-1 l-box">
	        <div class="deceased-date-details"> 
				<div class="pure-g-r">
					 <div class="pure-u-10-24">
					   <div class="pure-g-r">
					    <div class="pure-u-1-1 age-date-background">
	  					 	<div class="pure-u-1-1">
			                  <label for="deceased-dateOfBirth-input">{{labels.born}}
			                    <a href="#" class="pop-up-data" data-title="{{labels.dobPopupMessageTitle}}" data-content="{{labels.deceasedBornDiedDatePopup}}">Help</a>
			                  </label>
			                </div>
			                <div class="pure-u-1-1">
	   							 <div id="deceased-dateOfBirth-wrapper" class="inner-wrapper">
	   							     <div id="deceased-dateOfBirth-input" class="fieldset-wrap"></div>
	   							 </div>
			                </div>
		                </div>
		                <div class="pure-u-1-1 pure-info estimatedCheckbox">
		                	<div id="deceasedDobEstimated" >
			                      <label class="pure-checkbox" aria-label="{{labels.deceasedEstimatedCheckMessage}}">
			                        <input type="checkbox" name="dateOfBirthEstimated" value=true id="deceasedDobEstimated-input"> {{labels.deceasedEstimatedCheckMessage}}</>
			                      </label>
					         </div>
		                </div>
		                </div>
					 </div>
					 <div class="pure-u-4-24 deceased-date-details-l-box">
					    <div class="age-date-background">
	  					 	<div class="pure-u-1-1 age-at-death-label">
	              				<label for="age-at-death">{{labels.ageAtDeath}}</label>
	       					 </div>
	       					 <div class="pure-u-1-1">
	       					 </div>
	       					 <div class="pure-u-1-1 ageAtDeath">
	          					<input type="text" class="pure-input-1" name="age" id="age-at-death" maxlength="3" value="" readonly/>
	       					 </div>
	   					 </div>
					 </div>
					 <div class="pure-u-10-24">
					   <div class="pure-g-r">
					    <div class="pure-u-1-1 age-date-background">
					 		<div class="pure-u-1-1">
			                  <label for="diedDate-input">{{labels.died}}
			                    <a href="#" class="pop-up-data" data-title="{{labels.diedDatePopupMessageTitle}}" data-content="{{labels.deceasedBornDiedDatePopup}}">Help</a>
			                  </label>
		               		 </div>
		                	<div class="pure-u-1-1">
							 <div id="diedDate-wrapper" class="inner-wrapper">
							     <div id="diedDate-input" class="fieldset-wrap"></div>
							 </div>
		                	</div>
	                	</div>
	                	<div class="pure-u-1-1 pure-info estimatedCheckbox">
	                		<div id="deceasedDiedEstimated">
				                      <label class="pure-checkbox" aria-label="{{labels.deceasedEstimatedCheckMessage}}">
				                        <input type="checkbox" name="diedDateEstimated" value=true id="deceasedDiedEstimated-input"> {{labels.deceasedEstimatedCheckMessage}}</>
				                      </label>
				             </div>
	                	</div>
	                   </div>
					 </div>
				</div>
				 <div class="pure-g-r">
	  				 <div class="pure-u-1">
	         			 <div class="pure-info" id="pureInfoWrapper">
	           			 	<p class="deceasedEstimatedInfo">{{labels.bornAndDiedEstimateMessage}}</p>
	            		 </div>
	                 </div>
	            </div>
			</div>
	  	</div>
  	 	<!--End of dead Details-->
  	 	<div class="pure-u-1 l-box">
		    <div class="pure-alert pure-alert-block pure-alert-warning">
				<h4>{{labels.changeAliveAlertInfo}}</h4>
        	</div>
        </div>
	</div>
	
</form>