<form action="#none" id="editPersonPictureForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r" >
		<div class="pure-u-1 l-box">
			<div class="pure-narrative" id="describedby" aria-live="polite"><span class="narrative-summary">{{labels.editPersonPictureSummary}}</span><span class="narrative-description">{{personDetailsModelData.name}} ({{personDetailsModelData.personIdentifier}})</span></div>
		</div>
		<div class="pure-u-1 l-box">
				<div class="person-image-container-no-image">
					<img class="person-image" id="personImage" src="{{defaultImageUrl}}"/>
				</div>

				<div class="person-image-container">
					<canvas class="personPictureCanvas" id="personImageCanvas"></canvas>
				</div>

				<!-- canvas to hold cropped result for upload -->
				<canvas class="personPictureCanvas" id="croppingResultCanvas"></canvas>
				<input type="file" name="picture" class="file-browser pure-input-1" id="filename-input" accept="image/*"/>
		</div>
	</div>
</form>