<form action="#none" id="personAddEditWarningForm" class="pure-form pure-form-stacked
">
	<div  id="personWarningDialog">
	
		<div class="pure-g-r test-formwizard">
			<h1>Test Template </h1>
			<div class="pure-u-1 l-box">
				<div class="pure-narrative"><span class="narrative-summary">{{labels.addEditPersonWarnignMessage}} </span>
				<span class="narrative-description">
					{{modelData.name}} ({{modelData.personIdentifier}})
				</span>
				</div>
			</div>
		</div>
		
		<fieldset>
			<legend class="pure-u-1-1 l-box">{{labels.warningType}}</legend>
			<div class="fieldset-wrap pure-g-r">
	 		{{#each modelData.warnings}}
				<div class="l-box pure-u-1-3" >	             
					<label for="{{code}}" class="pure-checkbox">
						<input type="checkbox" id="{{code}}" name="warningAssignmentIds" {{#if checked}} checked {{/if}} value="{{id}}" aria-label="{{name}}"> {{name}}
					</label>
				</div>
			{{/each}}
			</div>				
		</fieldset>
		
	  	<div class="pure-g-r">	
			<div class="l-box pure-u-1" >
				<label for="warning-details">{{labels.warningDetails}}</label>
				<textarea maxlength="1500" rows="3" cols="100" id="note" name="note" class="pure-input-1">{{modelData.personWarnings.0.note.content}}</textarea>
				<span class="character-count">Characters remaining: <span id="charactersRemaining">700</span></span>
			</div>
		  	<div class="pure-u-1-1 l-box">
		  		<div class="name">{{labels.lastEdited}}</div><div class="value">{{modelData.personWarnings.0.lastEditedUser}} {{dateTimeFormat modelData.personWarnings.0.lastEditedDate}} </div>
		  	</div>
		  	
		  	<div class="pure-u-1 l-box" id="warningEmptyNote" style="display: none;">
				<div class="pure-info">
					<p>{{labels.emptyWarningNoteMessage}}</p>
				</div>		
			</div>
		</div>
	  	
	</div>

</form>
