<form action="#none" id="personViewWarningForm" class="pure-form pure-form-stacked">

	<div  id="personWarningDialog">
        <div class="pure-g-r readonly">
            <div class="pure-u-1 l-box">
                <div class="pure-g-r">
                  <div class="pure-u-1-1 l-box">
                      <div class="name">{{labels.warningCategory}}</div>
                      <div class="value">{{modelData.codedEntryVO.name}}</div>
                  </div>
                  <div class="pure-u-1-1 l-box">
                      <div class="name">{{labels.warningNote}}</div>
                      <div class="value">{{modelData.warningNote.content}}</div>
                  </div>
                  <div class="pure-u-1-2 l-box">
                      <div class="name">{{labels.warningStartDate}}</div>
                      <div class="value">{{dateFormat modelData.startDate}}</div>
                  </div>
                  <div class="pure-u-1-2 l-box">
                      <div class="name">{{labels.warningEndDate}}</div>
                      <div class="value">{{dateFormat modelData.endDate}}</div>
                  </div>
                </div>
            </div>
        </div>
	</div>

</form>
