
{{#modelData}}
  <div class="pure-g-r">
    <div class="pure-u-1 l-box">
      <div class="pure-narrative" id="describedby" aria-live="polite">
        <span class="narrative-summary">{{summary}}</span>
        {{#if description}}
          <span class="narrative-description">{{description}}</span>
        {{/if}}
        {{#unless description}}
          <span class="narrative-description">
          {{#if subjectName}}
            {{subjectName}}
            {{else}}
            {{name}}
          {{/if}} 
          {{#if subjectIdentifier}}
          ({{subjectIdentifier}})
          {{else}}
          ({{identifier}})
          {{/if}}
          </span>
        {{/unless}}
      </div>
    </div>
  </div>
{{/modelData}}