<form action="#none" class="pure-form pure-form-stacked">
  <div class="pure-g-r readonly">
      <div class="pure-u-1 l-box">
        <div id="personAlerts">
          <ul class="no-style">
            {{#each modelData.personAlerts}}
              <li class="inner-panel">
                <fieldset>
                    <legend><a data-index="{{@index}}" class="remove"><i class="fa fa-minus-circle"></i> Delete</a>{{../labels.alert}} {{add @index 1}}</legend>
                    <div class="pure-g-r">
                      <div class="pure-u-1-2 l-box">
                        <label for="alertCategory{{@index}}">{{../labels.category}} <span class="mandatory"> *</span></label>
                        <select id="alertCategory{{@index}}" data-index="{{@index}}" data-id="{{this.id}}" class="pure-input-1" name="alertCategory">
                        </select>
                      </div>
                      <div class="pure-u-1-2 l-box">
                        <label for="alertNote{{@index}}">{{../labels.note}} <span class="mandatory"> *</span></label>
                        <input id="alertNote{{@index}}" data-index="{{@index}}" data-id="{{this.id}}" type="text" class="pure-input-1" name="alertNote" maxlength="200" value="{{this.alertNote}}" />
                      </div>
                      <div class="pure-u-1-2 l-box">
                        <label for="alertStartDate{{@index}}">{{../labels.startDate}}</label>
                        <input id="alertStartDate{{@index}}" data-index="{{@index}}" data-id="{{this.id}}" type="text" class="pure-input-1" name="alertStartDate" maxlength="11" value="{{dateFormat this.startDate}}" placeholder="DD-MMM-YYYY" />
                      </div>
                      <div class="pure-u-1-2 l-box">
                         <label for="alertEndDate{{@index}}">{{../labels.endDate}}</label>
                         <input id="alertEndDate{{@index}}" data-index="{{@index}}" data-id="{{this.id}}" type="text" class="pure-input-1" name="alertEndDate" maxlength="11" value="{{dateFormat this.endDate}}" placeholder="DD-MMM-YYYY" />
                      </div>
                  </div>
                </fieldset>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="pure-u-1 l-box">
        <a href="#none" class="add">{{labels.addAlert}}</a>
      </div>
  </div>
</form>