<form action="#none" id="personAddEditWarningForm" class="pure-form pure-form-stacked">
	<div  id="personWarningDialog">

		<div class="pure-g-r">
			<div class="pure-u-1 l-box">
				<div class="pure-narrative"><span class="narrative-summary">{{labels.addEditPersonWarnignMessage}} </span>
				<span class="narrative-description">
					{{modelData.name}} ({{modelData.personIdentifier}})
				</span>
				</div>
			</div>
		</div>

		<div class="pure-g-r">
			<div class="pure-u-1-2 l-box">
				<div class="name xtra-small">{{labels.lastEdited}}</div>
				<div class="name">{{modelData.personWarnings.0.lastEditedUser}} {{dateTimeFormat modelData.personWarnings.0.lastEditedDate}} </div>
			</div>
			<div class="pure-u-1-2 l-box" style="text-align:right;">
				<a href="#none" class="add">{{labels.addWarning}}</a>
			</div>
		</div>

		<div class="pure-g-r readonly">
			<div class="pure-u-1 l-box">
				<div id="personAlerts">
				  <ul class="no-style">
				    {{#each modelData.personWarningAssignments}}
				      <li class="inner-panel">
				        <fieldset id="warningPanel_{{@index}}">
				            <legend>{{#unless this.id}}<a data-index="{{@index}}" class="remove"><i class="fa fa-minus-circle"></i> Delete</a>{{/unless}}{{../labels.warning}} {{this.index}}</legend>
				            <div class="pure-g-r">
				              <div class="pure-u-1-2 l-box">
				                <label for="warningCategory{{@index}}">{{../labels.category}} <span class="mandatory"> *</span></label>
				                <select id="warningCategory{{@index}}" data-index="{{@index}}" data-id="{{this.id}}" data-value="{{this.codedEntryId}}" class="pure-input-1" name="codedEntryId">
				                </select>
				              </div>
				              <div class="pure-u-1-2 l-box"></div>
				              <div class="pure-u-1-1 l-box">
				                <label for="warningNote{{@index}}">{{../labels.note}}</label>
				                <textarea maxlength="1500" rows="3" cols="100" id="warningNote{{@index}}" data-index="{{@index}}" data-id="{{this.id}}" name="warningNote" class="pure-input-1">{{this.warningNote}}</textarea>
				                <span class="character-count">Characters remaining: <span id="charactersRemaining" data-index="{{@index}}">700</span></span>
				              </div>
				              <div class="pure-u-1-2 l-box">
				                <label for="startDate{{@index}}">{{../labels.startDate}} <span class="mandatory"> *</span></label>
				                <input id="startDate{{@index}}" data-index="{{@index}}" data-id="{{this.id}}" type="text" class="pure-input-1" name="startDate" maxlength="11" value="{{dateFormat this.startDate}}" placeholder="DD-MMM-YYYY" />
				              </div>
				              <div class="pure-u-1-2 l-box">
				                 <label for=endDate{{@index}}">{{../labels.endDate}}</label>
				                 <input id="endDate{{@index}}" data-index="{{@index}}" data-id="{{this.id}}" type="text" class="pure-input-1" name="endDate" maxlength="11" value="{{dateFormat this.endDate}}" placeholder="DD-MMM-YYYY" />
				              </div>
				          </div>
				        </fieldset>
				      </li>
				    {{/each}}
				  </ul>
				</div>
			</div>
		</div>
	</div>

</form>
