<form action="#none" id="personEditForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r" >
		<div class="pure-u-1 l-box">
			<div class="pure-narrative" id="describedby" aria-live="polite"><span class="narrative-summary">{{labels.editPersonSummary}}</span><span class="narrative-description">{{modelData.name}} ({{modelData.personIdentifier}})</span></div>
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="title-input">{{labels.title}}</label>
			<select type="text" class="pure-input-1" name="title" id="title-input" value="{{modelData.title}}">
					<option value=""></option>
			<select/>
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="forename-input">{{labels.forename}}<span class="mandatory"> *</span></label>
			<input type="text" class="pure-input-1" name="forename" id="forename-input" maxlength="255" value="{{modelData.forename}}" />
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="middleNames-input">{{labels.middleNames}}</label>
			<input type="text" class="pure-input-1" name="middleNames" id="middleNames-input" maxlength="255" value="{{modelData.middleNames}}" />
		</div>
	
		<div class="pure-u-1-2 l-box">
			<label for="surname-input">{{labels.surname}}<span class="mandatory"> *</span></label>
			<input type="text" class="pure-input-1" name="surname" id="surname-input" maxlength="255" value="{{textFormat modelData.surname}}" />
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="knownAs-input">{{labels.knownAs}}
			<a href="#" class="pop-up-data" data-title="{{labels.knownAsPopupMessageTitle}}" data-content="{{labels.knownAsPopupMessageContent}}">Help</a>
			</label>
			<input type="text" class="pure-input-1" name="knownAs" id="knownAs-input" maxlength="255" value="{{modelData.knownAs}}" />
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="alternateNames-input">{{labels.alternateNames}}
			<a href="#" class="pop-up-data" data-title="{{labels.alternateNamesPopupMessageTitle}}" data-content="{{labels.alternateNamesPopupMessageContent}}">Help</a>
			</label>
			<input type="text" class="pure-input-1" name="alternateNames" id="alternateNames-input" maxlength="255" value="{{modelData.alternateNames}}" />
		</div>
		{{#if professionalRole}}
			<div class="pure-u-1-2 l-box">
				<label for="professionalTitle-input">{{labels.professionalTitle}}<span class="mandatory"> *</span></label>
				<select type="text" class="pure-input-1" name="professionalTitle" id="professionalTitle-input" value="">
						<option value=""></option>
				<select/>
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="organisationName-input">{{labels.organisation}}<span class="mandatory"> *</span></label>
				<input type="text" class="pure-input-1" name="organisationName" id="organisationName-input" maxlength="25" value="" />
			</div>
		{{/if}}
		{{#if unbornClient}}
                <div class="pure-u-1 l-box" style="margin-top:1em;">
                  <label for="dueDate-input">{{labels.dueDate}} <span class="mandatory"> *</span>
                    <a href="#" class="pop-up-data" data-title="{{labels.dueDatePopupMessageTitle}}" data-content="{{labels.dueDatePopupMessageContent}}">Help</a>
                  </label>
                
                  <div id="dueDate-wrapper" class="dueDate-wrapper">
                  		<div class="input-group input-append calendar">
                    		<input id="dueDate-input" type="text" class="pure-input-1 value" maxlength="11" placeholder="DD-MMM-YYYY" name="dueDate" value="{{dateFormat modelData.dueDate}}"/>
                  		 </div>
                  </div>
          		</div>
         {{/if}}
         {{#if notCarriedToTermClient}}
			<div class="pure-u-1 l-box">
					<label class="pure-radio not-carried-to-term-label">{{labels.notCarriedToTerm}}<span class="mandatory"> *</span></label>
			 			<div class="fieldset-wrap pure-g-r">
			  				<div class="pure-u-1-3">
			                   <label class="pure-radio radio-inline"><input id="termination-input" type="radio" name="outcome" value="TERMINATION" />Termination</label>
			                </div>
			                <div class="pure-u-1-3">
			                	<label class="pure-radio radio-inline"><input id="miscarriage-input" type="radio" name="outcome" value="MISCARRIAGE" />Miscarriage</label>
			                </div>
			                <div class="pure-u-1-3">
			                	<label class="pure-radio radio-inline"><input id="stillbirth-input" type="radio" name="outcome" value="STILLBIRTH" />Stillbirth</label>
			                </div>
					  	</div>
			</div>
			<div class="pure-u-1 l-box">
				<label for="notCarriedToTermDate-input">{{labels.notCarriedToTermDate}} <span class="mandatory"> *</span>
					<a href="#" class="pop-up-data" data-title="{{labels.notCarriedToTermDatePopupMessageTitle}}" data-content="{{labels.notCarriedToTermDatePopupMessageContent}}">Help</a>
				</label>
				<div id="notCarriedToTermDate-wrapper" class="notCarriedToTermDate-wrapper">
					<div class="input-group input-append calendar">
						<input id="notCarriedToTermDate-input" type="text" class="pure-input-1" maxlength="11" placeholder="DD-MMM-YYYY" name="notCarriedToTermDate" value="{{dateFormat modelData.notCarriedToTermDate}}"/>
					</div>
				</div>
			</div>
		{{/if}}
		{{#unless professionalOrUnbornOrNotCarriedOrDeceased}}
		
			<div class="pure-u-1-1 l-box">
	       		<label for="dateOfBirth-input">{{labels.dateOfBirth}}{{#if clientRole}}<span class="mandatory"> *</span>{{/if}}
	       		<a href="#" class="pop-up-data" data-title="{{labels.dobPopupMessageTitle}}" data-content="{{labels.dobPopupMessageContent}}">Help</a>
				</label>
			</div>
		
			<div id="dateOfBirth-wrapper" class="pure-u-1-1 l-box inner-wrapper">		
				<div class="pure-u-1-2">
					<div id="dateOfBirth-input" class="fieldset-wrap"></div>
				</div>
			
				<div class="pure-u-1-8 l-box">
					<div class="age-input" class="fieldset-wrap">
			       		<label for="age-input">{{labels.age}}</label>
						<input type="text" class="pure-input-1" name="age" id="age-input" maxlength="3" value="" />
					</div>
				</div>				
	        </div>

			<div class="pure-u-1 l-box">
				<div class="pure-info" id="pureInfoWrapper">
					<p class="estimatedInfo">{{labels.dobEstimateMessage}}</p>
					<div id="dateOfBirthEstimated" class="estimatedCheckbox">
						<label class="pure-checkbox" aria-label="{{labels.dobCheckboxMessage}}">
							<input type="checkbox" name="dateOfBirthEstimated" value=true id="dateOfBirthEstimated-input"> {{labels.dobCheckboxMessage}}</>
						</label>
					</div>
				</div>
			</div>
		{{/unless}}
		{{#if deceased}}
                 <div class="pure-u-1-1 l-box">
                    <div class="deceased-date-details"> 
          				<div class="pure-g-r">
          					 <div class="pure-u-10-24">
          					   <div class="pure-g-r">
          					    <div class="pure-u-1-1 age-date-background">
	          					 	<div class="pure-u-1-1">
					                  <label for="deceased-dateOfBirth-input">{{labels.born}}
					                    <a href="#" class="pop-up-data" data-title="{{labels.dobPopupMessageTitle}}" data-content="{{labels.deceasedBornDiedDatePopup}}">Help</a>
					                  </label>
					                </div>
					                <div class="pure-u-1-1">
	           							 <div id="deceased-dateOfBirth-wrapper" class="inner-wrapper">
	           							     <div id="deceased-dateOfBirth-input" class="fieldset-wrap"></div>
	           							 </div>
					                </div>
				                </div>
				                <div class="pure-u-1-1 pure-info estimatedCheckbox">
				                	<div id="deceasedDobEstimated" >
							                      <label class="pure-checkbox" aria-label="{{labels.deceasedEstimatedCheckMessage}}">
							                        <input type="checkbox" name="dateOfBirthEstimated" value=true id="deceasedDobEstimated-input"> {{labels.deceasedEstimatedCheckMessage}}</>
							                      </label>
							         </div>
				                </div>
				                </div>
          					 </div>
          					 <div class="pure-u-4-24 deceased-date-details-l-box">
          					    <div class="age-date-background">
	          					 	<div class="pure-u-1-1 age-at-death-label">
	                      				<label for="age-at-death">{{labels.ageAtDeath}}</label>
	               					 </div>
	               					 <div class="pure-u-1-1">
	               					 </div>
	               					 <div class="pure-u-1-1 ageAtDeath">
	                  					<input type="text" class="pure-input-1" name="age" id="age-at-death" maxlength="3" value="" readonly/>
	               					 </div>
               					 </div>
          					 </div>
          					 <div class="pure-u-10-24">
          					   <div class="pure-g-r">
          					    <div class="pure-u-1-1 age-date-background">
	      					 		<div class="pure-u-1-1">
					                  <label for="diedDate-input">{{labels.died}}
					                    <a href="#" class="pop-up-data" data-title="{{labels.diedDatePopupMessageTitle}}" data-content="{{labels.deceasedBornDiedDatePopup}}">Help</a>
					                  </label>
				               		 </div>
				                	<div class="pure-u-1-1">
	       							 <div id="diedDate-wrapper" class="inner-wrapper">
	       							     <div id="diedDate-input" class="fieldset-wrap"></div>
	       							 </div>
				                	</div>
			                	</div>
			                	<div class="pure-u-1-1 pure-info estimatedCheckbox">
			                		<div id="deceasedDiedEstimated">
						                      <label class="pure-checkbox" aria-label="{{labels.deceasedEstimatedCheckMessage}}">
						                        <input type="checkbox" name="diedDateEstimated" value=true id="deceasedDiedEstimated-input"> {{labels.deceasedEstimatedCheckMessage}}</>
						                      </label>
						             </div>
			                	</div>
			                   </div>
          					 </div>
          				</div>
          				 <div class="pure-g-r">
	          				 <div class="pure-u-1">
	                 			 <div class="pure-info" id="pureInfoWrapper">
	                   			 	<p class="deceasedEstimatedInfo">{{labels.bornAndDiedEstimateMessage}}</p>
	                    		 </div>
	                          </div>
	                    	</div>
          				</div>
              		</div>
               {{/if}}
		{{#unless professionalOnly}}
			
			<div class="pure-u-1 l-box">
				<fieldset id="gender">
					<legend>Gender{{#if unbornOrClient}}<span class="mandatory"> *</span>{{/if}}</legend>
					<div class="fieldset-wrap pure-g-r">
						<div class="pure-u-1-5">
							<label class="pure-radio"><input id="male-input" type="radio" name="gender" value="MALE" />Male</label>
						</div>
						<div class="pure-u-1-5">
							<label class="pure-radio"><input id="female-input" type="radio" name="gender" value="FEMALE" />Female</label>
						</div>
						<div class="pure-u-1-4">
							<label class="pure-radio"><input id="indeterminate-input" type="radio" name="gender" value="INDETERMINATE" />Indeterminate</label>
						</div>
						<div class="pure-u-1-5">
							<label class="pure-radio"><input id="unknown-input" type="radio" name="gender" value="UNKNOWN" />Unknown</label>
						</div>
					</div>
				</fieldset>
			</div>
			
      <div class="pure-u-1-2 l-box">
        <label for="genderIdentity-input">{{labels.genderIdentity}}</label>
        <select type="text" class="pure-input-1" name="genderIdentity" id="genderIdentity-input">
          <option value=""></option>
        <select/>
      </div>
      <div class="pure-u-1-2 l-box">
        <label for="sexualOrientation-input">{{labels.sexualOrientation}}</label>
        <select type="text" class="pure-input-1" name="sexualOrientation" id="sexualOrientation-input">
          <option value=""></option>
        <select/>
      </div>
      <div class="pure-u-1-1 l-box">
        <fieldset id="genderIdentitySelfDefined-container" hidden>
          <label for="genderIdentitySelfDefined-input">{{labels.genderIdentitySelfDefined}}<span class="mandatory"> *</span></label>
          <input type="text" class="pure-input-1" name="genderIdentitySelfDefined" id="genderIdentitySelfDefined-input" maxlength="255" value="{{textFormat modelData.genderIdentitySelfDefined}}" />
        </fieldset>
      </div>
      
			
			<div class="pure-u-1-2 l-box">
				<label for="ethnicity-input">{{labels.ethnicity}}{{#if clientRole}}<span class="mandatory"> *</span>{{/if}}</label>
				<select type="text" class="pure-input-1" name="ethnicity" id="ethnicity-input" value="{{textFormat modelData.ethnicity}}">
					<option value=""></option>
				<select/>
			</div>
			
		{{/unless}}
		{{#if aliveOrDeceasedClientOrCarer}}
			<div class="pure-u-1-2 l-box">
				<label for="nhs-input">{{labels.nhsNumber}}</span></label>
				<div class="pure-u-1-4">
					<input type="text" class="pure-input-1" name="nhsFirstThreeDigits" maxlength="3" id="nhsFirstThreeDigits-input" placeholder="{{labels.nhsNumberFirstPlaceholder}}" />
				</div>
				<span class="dash">-</span>
				<div class="pure-u-1-4">
					<input type="text" class="pure-input-1" name="nhsSecondThreeDigits" maxlength="3" id="nhsSecondThreeDigits-input" placeholder="{{labels.nhsNumberSecondPlaceholder}}" />
				</div>
				<span class="dash">-</span>
				<div class="pure-u-1-4">
					<input type="text" class="pure-input-1" name="nhsLastFourDigits" maxlength="4" id="nhsLastFourDigits-input" placeholder="{{labels.nhsNumberThirdPlaceholder}}" />
				</div>
			</div>
			<div id="chiNumber"class="pure-u-1-2 l-box">
					<label for="chiNumber-input">{{labels.chiNumber}}</label>
						<input type="text" class="pure-input-1" name="chiNumber" id="chiNumber-input" maxlength="10" value="{{modelData.chiNumber}}" />
			</div>
		{{/if}}

			{{#unless professionalOnly}}
			<div class="pure-u-1-2 l-box">
				<label for="religion-input">{{labels.religion}}</label>
				<select type="text" class="pure-input-1" name="religion" id="religion-input" value="{{textFormat modelData.religion}}">
					<option value=""></option>
				<select/>
			</div>
			{{/unless}}
			
			<div class="pure-u-1-2 l-box">
				<label for="countryOfBirth-input">{{labels.countryOfBirth}}</label>
				<select type="text" class="pure-input-1" name="countryOfBirth" id="countryOfBirth-input" value="{{textFormat modelData.countryOfBirth}}">
					<option value=""></option>
				<select/>
			</div>

	</div>
	<div id="citizenships-table"></div>
</form>