<form action="#none" id="updateRemoveContactForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        <div class="pure-u-1 l-box">
            <div class="pure-narrative" id="describedby" aria-live="polite">
                <span class="narrative-summary">{{labels.editContactNarrative}}</span>
                <span class="narrative-description">{{targetPersonName}} ({{targetPersonId}})</span>
            </div>
        </div>
        <div class="pure-u-1-2 l-box">

            <div class="inner-panel">
                <h4>{{labels.phoneNumber}}</h4>
                {{#if telephoneContacts}}
                    {{#each telephoneContacts}}
                        <label for="contact_{{this.id}}" id="contactLabel_{{this.id}}">{{codedEntry this.contactType ../codedEntries.contactType}}{{#if this.contactUsage}}, {{codedEntry this.contactUsage ../../codedEntries.contactUsage}} {{/if}}</label>
                        <input id="contact_{{this.id}}" name="contact_{{this.id}}" type="text" maxlength="50" class="inline-right" value="{{this.number}}"></input>
                        <a style="display:{{../canRemoveContact}}" href="#none" class="removeLink small" data-remove-id="{{this.id}}">Remove</a>

                        <div class="pure-u-1-1">
                            <div class="pure-g">
                                <div id="verifiedCheckbox_{{this.id}}" class="pure-u-1-2">
                                    <br>
                                    <label for="contactVerified-input_{{this.id}}" class="pure-checkbox">
                                        <input type="checkbox" name="contactVerified" id="contactVerified-input_{{this.id}}" data-id={{this.id}} {{#if this.verified}} checked=true {{/if}} />
                                        <span>{{../labels.contactVerified}}</span>
                                    </label>
                                </div>
                                <div id="verifiedDate_{{this.id}}" class="pure-u-1-2">
                                    <label id="contactVerifiedDate-label_{{this.id}}" for="contactVerifiedDate-input_{{this.id}}">{{../labels.contactVerifiedDate}}</label>
                                        <input id="contactVerifiedDate-input_{{this.id}}" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="contactVerifiedDate" value={{dateFormat this.verifiedDate}} />
                                </div>
                            </div>
                        </div>


                    {{/each}}
                {{else}}
                    <div class="name">None</div>
                {{/if}}
            </div>

            <div class="inner-panel">
                <h4>{{labels.mobileNumber}}</h4>
                {{#if mobileContacts}}
                    {{#each mobileContacts}}
                        <label for="contact_{{this.id}}" id="contactLabel_{{this.id}}">{{codedEntry this.contactType ../codedEntries.contactType}}{{#if this.contactUsage}}, {{codedEntry this.contactUsage ../../codedEntries.contactUsage}} {{/if}}</label>
                        <input id="contact_{{this.id}}" name="contact_{{this.id}}" type="text" maxlength="50" class="inline-right" value="{{this.number}}"></input>
                        <a style="display:{{../canRemoveContact}}" href="#none" class="removeLink small" data-remove-id="{{this.id}}">Remove</a>

                        <div class="pure-u-1-1">
                            <div class="pure-g">
                                <div id="verifiedCheckbox_{{this.id}}" class="pure-u-1-2">
                                    <br>
                                    <label for="contactVerified-input_{{this.id}}" class="pure-checkbox">
                                        <input type="checkbox" name="contactVerified" id="contactVerified-input_{{this.id}}" data-id={{this.id}} {{#if this.verified}} checked=true {{/if}} />
                                        <span>{{../labels.contactVerified}}</span>
                                    </label>
                                </div>
                                <div id="verifiedDate_{{this.id}}" class="pure-u-1-2">
                                    <label id="contactVerifiedDate-label_{{this.id}}" for="contactVerifiedDate-input_{{this.id}}">{{../labels.contactVerifiedDate}}</label>
                                        <input id="contactVerifiedDate-input_{{this.id}}" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="contactVerifiedDate" value={{dateFormat this.verifiedDate}} />
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="name">None</div>
                {{/if}}
            </div>

            <div class="inner-panel">
                <h4>{{labels.email}}</h4>
                {{#if emailContacts}}
                    {{#each emailContacts}}
                        <label for="contact_{{this.id}}" id="contactLabel_{{this.id}}">{{codedEntry this.contactType ../codedEntries.contactType}}{{#if this.contactUsage}}, {{codedEntry this.contactUsage ../../codedEntries.contactUsage}} {{/if}}</label>
                        <input id="contact_{{this.id}}" name="contact_{{this.id}}" type="text" maxlength="254" class="inline-right" value="{{this.address}}"></input>
                        <a style="display:{{../canRemoveContact}}" href="#none" class="removeLink small" data-remove-id="{{this.id}}">Remove</a>
                        <div class="pure-u-1-1">
                            <div class="pure-g">
                                <div id="verifiedCheckbox_{{this.id}}" class="pure-u-1-2">
                                    <br>
                                    <label for="contactVerified-input_{{this.id}}" class="pure-checkbox">
                                        <input type="checkbox" name="contactVerified" id="contactVerified-input_{{this.id}}" data-id={{this.id}} {{#if this.verified}} checked=true {{/if}} />
                                        <span>{{../labels.contactVerified}}</span>
                                    </label>
                                </div>
                                <div id="verifiedDate_{{this.id}}" class="pure-u-1-2">
                                    <label id="contactVerifiedDate-label_{{this.id}}" for="contactVerifiedDate-input_{{this.id}}">{{../labels.contactVerifiedDate}}</label>
                                        <input id="contactVerifiedDate-input_{{this.id}}" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="contactVerifiedDate" value={{dateFormat this.verifiedDate}} />
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="name">None</div>
                {{/if}}
            </div>

        </div>
        <div class="pure-u-1-2 l-box">

            <div class="inner-panel">
                <h4>{{labels.website}}</h4>
                {{#if webContacts}}
                    {{#each webContacts}}
                        <label for="contact_{{this.id}}" id="contactLabel_{{this.id}}">{{codedEntry this.contactType ../codedEntries.contactType}}{{#if this.contactUsage}}, {{codedEntry this.contactUsage ../../codedEntries.contactUsage}} {{/if}}</label>
                        <input id="contact_{{this.id}}" name="contact_{{this.id}}" type="text" maxlength="254" class="inline-right" value="{{this.address}}"></input>
                        <a style="display:{{../canRemoveContact}}" href="#none" class="removeLink small" data-remove-id="{{this.id}}">Remove</a>
                        <div class="pure-u-1-1">
                            <div class="pure-g">
                                <div id="verifiedCheckbox_{{this.id}}" class="pure-u-1-2">
                                    <br>
                                    <label for="contactVerified-input_{{this.id}}" class="pure-checkbox">
                                        <input type="checkbox" name="contactVerified" id="contactVerified-input_{{this.id}}" data-id={{this.id}} {{#if this.verified}} checked=true {{/if}} />
                                        <span>{{../labels.contactVerified}}</span>
                                    </label>
                                </div>
                                <div id="verifiedDate_{{this.id}}" class="pure-u-1-2">
                                    <label id="contactVerifiedDate-label_{{this.id}}" for="contactVerifiedDate-input_{{this.id}}">{{../labels.contactVerifiedDate}}</label>
                                        <input id="contactVerifiedDate-input_{{this.id}}" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="contactVerifiedDate" value={{dateFormat this.verifiedDate}} />
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="name">None</div>
                {{/if}}
            </div>

            <div class="inner-panel">
                <h4>{{labels.socialMedia}}</h4>
                {{#if socialMediaContacts}}
                    {{#each socialMediaContacts}}
                        <label for="contact_{{this.id}}" id="contactLabel_{{this.id}}">{{codedEntry this.contactType ../codedEntries.contactType}}{{#if this.contactUsage}}, {{codedEntry this.contactUsage ../../codedEntries.contactUsage}}{{/if}}</label>
                        <input id="contact_{{this.id}}" name="contact_{{this.id}}" type="text" maxlength="254" class="inline-right" value="{{this.identifier}}"></input>
                        <a style="display:{{../canRemoveContact}}" href="#none" class="removeLink small" data-remove-id="{{this.id}}">Remove</a>
                        <div class="pure-u-1-1">
                            <div class="pure-g">
                                <div id="verifiedCheckbox_{{this.id}}" class="pure-u-1-2">
                                    <br>
                                    <label for="contactVerified-input_{{this.id}}" class="pure-checkbox">
                                        <input type="checkbox" name="contactVerified" id="contactVerified-input_{{this.id}}" data-id={{this.id}} {{#if this.verified}} checked=true {{/if}} />
                                        <span>{{../labels.contactVerified}}</span>
                                    </label>
                                </div>
                                <div id="verifiedDate_{{this.id}}" class="pure-u-1-2">
                                    <label id="contactVerifiedDate-label_{{this.id}}" for="contactVerifiedDate-input_{{this.id}}">{{../labels.contactVerifiedDate}}</label>
                                        <input id="contactVerifiedDate-input_{{this.id}}" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="contactVerifiedDate" value={{dateFormat this.verifiedDate}} />
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="name">None</div>
                {{/if}}
            </div>

            <div class="inner-panel">
                <h4>{{labels.fax}}</h4>
                {{#if faxContacts}}
                    {{#each faxContacts}}
                        <label for="contact_{{this.id}}" id="contactLabel_{{this.id}}">{{codedEntry this.contactType ../codedEntries.contactType}}{{#if this.contactUsage}}, {{codedEntry this.contactUsage ../../codedEntries.contactUsage}} {{/if}}</label>
                        <input id="contact_{{this.id}}" name="contact_{{this.id}}" type="text" maxlength="50" class="inline-right" value="{{this.number}}"></input>
                        <a style="display:{{../canRemoveContact}}" href="#none" class="removeLink small" data-remove-id="{{this.id}}">Remove</a>
                        <div class="pure-u-1-1">
                            <div class="pure-g">
                                <div id="verifiedCheckbox_{{this.id}}" class="pure-u-1-2">
                                    <br>
                                    <label for="contactVerified-input_{{this.id}}" class="pure-checkbox">
                                        <input type="checkbox" name="contactVerified" id="contactVerified-input_{{this.id}}" data-id={{this.id}} {{#if this.verified}} checked=true {{/if}} />
                                        <span>{{../labels.contactVerified}}</span>
                                    </label>
                                </div>
                                <div id="verifiedDate_{{this.id}}" class="pure-u-1-2">
                                    <label id="contactVerifiedDate-label_{{this.id}}" for="contactVerifiedDate-input_{{this.id}}">{{../labels.contactVerifiedDate}}</label>
                                        <input id="contactVerifiedDate-input_{{this.id}}" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="contactVerifiedDate" value={{dateFormat this.verifiedDate}} />
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <div class="name">None</div>
                {{/if}}
            </div>

        </div>

    </div>
</form>