<div class="pure-g-r readonly flex-box">
	<div class="pure-u-2-3 flex-person-details">
		<div class="pure-g">
		<div class="pure-u-1-2 l-box">       
			<div class="name">{{labels.name}}</div>
			<div class="value">{{codedEntry modelData.title codedEntries.title}} {{modelData.forename }} {{modelData.surname }}
				<div class="linkRight" style="display:{{canEdit}}">
					<a href="#none" id="changeName" class="small edit-PersonName">{{labels.changeNameLink}}</a>
					<a href="#" class="pop-up-data" data-title="{{labels.changeNamePopupTitle}}" data-content="{{labels.changeNamePopupContent}}">Help</a>
				</div>
			</div>
			
			{{#if previousNames}}
					     
				<div class="name">{{labels.previousNames}}</div>
				{{#each previousNames}}
					<div class="value">{{name}}				       
				       <div class="linkRight" style="display:{{../canDeletePersonName}}">
                         <a href="#none" id={{id}} name="{{name}}" class="small remove-PersonName">{{../labels.previousNameRemoveLink}}</a>
                         <a href="#" class="pop-up-data" data-title="{{../labels.previousNamePopupTitle}}" data-content="{{../labels.previousNamePopupContent}}">Help</a>
                       </div>
				       
					</div>
				{{/each}}
			
			{{/if}}
			
			{{#if aliases}}		     
				<div class="name">{{labels.aliases}}</div>
				{{#each aliases}}
					<div class="value">{{this}}</div>
				{{/each}}
			
			{{/if}}
		</div>
		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{labels.middleNames}}</div><div class="value"> {{modelData.middleNames }}</div>	 	
		</div>
		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{labels.knownAs}}</div><div class="value"> {{modelData.knownAs }}</div>	 	
		</div>
		
		<div class="pure-u-1-2 l-box">
			<div class="name">{{labels.alternateNames}}</div><div class="value"> {{modelData.alternateNames }}</div>	 	
		</div>
	
	{{#if notProfessionalOnlyOrDeceased}} 
	<div class="pure-u-1-2 l-box">
		{{#if unbornPerson}}
			<div class="name">{{labels.dueDate}}</div>
		{{/if}}
		{{#if notCarriedToTermPerson}}
			<div class="name">{{labels.notCarriedToTermDateAndReason}}</div>
		{{/if}}
		{{#if alivePerson}}
			<div class="name">{{labels.dateOfBirth}}</div>
		{{/if}}
		{{#if deceasedPerson}}
			<div class="name">{{labels.dateOfBirth}}</div>
		{{/if}}
		<div class="value">
			{{#if unbornPerson}}
				{{dateFormat  modelData.dueDate}}
				<span class="unborn summary" title="Unborn"></span><span class="hidden">Due date</span>
				<div class="linkRight" style="display:{{canEdit}}">
					 <a href="#none" id="changeUnbornStatus" class="small change-Unborn">{{labels.changeUnbornStatusLink}}</a>
					<a href="#" class="pop-up-data" data-title="{{labels.changeUnbornStatusPopupTitle}}" data-content="{{labels.changeUnbornStatusPopupContent}}">Help</a>
				</div>
			{{/if}}
			{{#if notCarriedToTermPerson}}
			    {{dateFormat  modelData.notCarriedToTermDate}} {{enumType modelData.notCarriedToTermType enumTypes.notCarriedToTerm}}
				<div class="linkRight" style="display:{{canEdit}}">
					<a href="#none" id="changeNotCarriedStatus" class="small change-NotCarried">{{labels.changeNotCarriedStatusLink}}</a> 
					<a href="#" class="pop-up-data" data-title="{{labels.changeNotCarriedStatusPopupTitle}}" data-content="{{labels.changeNotCarriedStatusPopupContent}}">Help</a>
				</div>
			{{/if}}
			{{#if alivePerson}}
				{{#if modelData.dateOfBirth.calculatedDate}}
					{{fuzzyDateFormat modelData.dateOfBirth}}
					{{#if modelData.dateOfBirthEstimated}}
						<span class="estimated summary" title="Estimated"></span><span class="hidden">Estimated</span>
					{{/if}} 
					{{age}}
				{{/if}}
				<div class="linkRight" style="display:{{canEdit}}">
					<a href="#none" id="changeAliveStatus" class="small change-Alive">{{labels.changeAliveStatusLink}}</a>
					<a href="#" class="pop-up-data" data-title="{{labels.changeAliveStatusPopupTitle}}" data-content="{{labels.changeAliveStatusPopupContent}}">Help</a>
				</div>
			{{/if}}
			{{#if deceasedPerson}}
				{{#if modelData.dateOfBirth.calculatedDate}}
					{{fuzzyDateFormat modelData.dateOfBirth}}
					{{#if modelData.dateOfBirthEstimated}}
						<span class="estimated summary" title="Estimated"></span><span class="hidden">Estimated</span>
					{{/if}} 
				{{/if}}
			{{/if}}
		</div>	 	
	</div>
	
	{{#if deceasedPerson}}
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.died}}</div>
			<div class="value">
				{{#if modelData.diedDate.calculatedDate}}
					{{fuzzyDateFormat modelData.diedDate}}
					{{#if modelData.diedDateEstimated}}
						<span class="estimated summary" title="Estimated"></span><span class="hidden">Estimated</span>
					{{/if}}
					<span class="deceased summary" title="Deceased"></span><span class="hidden">Estimated</span>
					{{age}}
					{{else}}	
					<span class="deceased summary" title="Deceased"></span><span class="hidden">Estimated</span>
				{{/if}}
				{{#if canUpdateDeceasedToAlive}}
					<div class="linkRight">
					<a href="#none" id="changeDeceased" class="small edit-deceasedToAlive">{{labels.changeDeceasedToAliveLink}}</a>
					<a href="#" class="pop-up-data" data-title="{{labels.changeDeceasedToAlivePopupTitle}}" data-content="{{labels.changeDeceasedToAlivePopupContent}}">Help</a>
					</div>
				{{/if}}
			</div>
	</div>
	{{/if}}
	
	<div class="pure-u-1-2 l-box">	
		<div class="name">{{labels.gender}}</div><div class="value">{{codedEntry modelData.gender codedEntries.gender}}</div>	 	
	</div>

	<div class="pure-u-1-2 l-box">	
		<div class="name">{{labels.genderIdentity}}</div><div class="value">{{codedEntry modelData.genderIdentity codedEntries.genderIdentity}}</div>	 	
	</div>
	<div class="pure-u-1-2 l-box">	
		<div class="name">{{labels.sexualOrientation}}</div><div class="value">{{codedEntry modelData.sexualOrientation codedEntries.sexualOrientation}}</div>	 	
	</div>
	{{#if modelData.genderIdentitySelfDefined}}
		<div class="pure-u-1-1 l-box">	
			<div class="name">{{labels.genderIdentitySelfDefined}}</div><div class="value">{{modelData.genderIdentitySelfDefined}}</div>	 	
		</div>
	{{/if}}
	{{/if}}		
		
	{{#if modelData.professionalTitle}}	
		<div class="pure-u-1-2 l-box">     
				<div class="name">{{labels.professionalTitle}}</div><div class="value">
				{{codedEntry modelData.professionalTitle codedEntries.professionalTitle}}
				</div>
		</div>	
		<div class="pure-u-1-2 l-box">      
				<div class="name">{{labels.organisation}}</div><div class="value">{{modelData.organisationName}}</div>
		</div>
		
	{{/if}}
	
	<div class="pure-u-1-2 l-box">      
			<div class="name">{{labels.personType}}</div>			
			
			<div class="value">
				    <div class="linkRight" style="display:{{canEdit}}">
						{{#if otherAliveOnly}}
							<a href="#none" id="changePersonRoles" class="small change-personRoles">{{labels.changeTypeLink}}</a>
							<a href="#" class="pop-up-data" data-title="{{labels.changeTypePopupTitle}}" data-content="{{labels.changeTypePopupContent}}">Help</a>
						{{/if}}
						{{#unless allAlivePersonTypes}}
						   {{#if canAddPersonType}}
							   <a href="#none" id="addPersonRoles" class="small add-personRoles">{{labels.addTypeLink}}</a>
							   <a href="#" class="pop-up-data" data-title="{{labels.addTypePopupTitle}}" data-content="{{labels.addTypePopupContent}}">Help</a>
						   {{/if}}
						{{/unless}}
					</div>				
				{{#each modelData.personTypes}}{{#if @index}}<br>{{/if}}{{codedEntry this ../codedEntries.personType}}{{/each}}					
			</div>			
	</div>	
	
	
	{{#if notProfessionalOnly}}       
	
	<div class="pure-u-1-2 l-box">   
		<div class="name">{{labels.ethnicity}}</div><div class="value">{{codedEntry modelData.ethnicity codedEntries.ethnicity}}</div>
	</div>
	
	
	{{/if}}
	
	<div class="pure-u-1-2 l-box">          
			<div class="name">{{labels.chiNumber}}</div><div class="value">{{modelData.chiNumber}}</div>
	</div>
		
	<div class="pure-u-1-2 l-box">          
			<div class="name">{{labels.nhsNumber}}</div><div class="value">{{#if modelData.nhsNumber}}{{nhsFirstThreeDigits}}-{{nhsSecondThreeDigits}}-{{nhsLastFourDigits}}{{/if}}</div>
	</div>
	
	{{#if notProfessionalOnly}}
	<div class="pure-u-1-2 l-box">   
		<div class="name">{{labels.religion}}</div><div class="value">{{codedEntry modelData.religion codedEntries.religion}}</div>
	</div>
	{{/if}}
	<div class="pure-u-1-2 l-box">   
		<div class="name">{{labels.countryOfBirth}}</div><div class="value">{{codedEntry modelData.countryOfBirth codedEntries.country}}</div>
	</div>
  </div>
  <div id="citizenships-table"></div>
	
		</div>
		<div class="pure-u-1-3 flex-person-picture">
			<div class="person-image-container-view-only">
				<div class="person-image-view-only">
					<img class="person-image" src="img/anon.png"/>
					<div class="person-image-options" style="display:{{canEdit}}">
						<a href="#none" class="remove-picture small">Remove</a><span class="person-image-options-separator small"> | </span><a href="#none" class="edit-picture small">Edit</a>
					</div>
				</div>
			</div>
		</div>
    <div class="pure-u-1 l-box flex-button-group">
		<div class="pure-button-group pull-right">
			<button type="button" id="editPersonDetailsButton" class="pure-button pure-button-active edit-personDetails" style="display:{{canEdit}}"><i class="fa fa-pencil-square-o"></i>edit</button>
		</div>	
	</div>
</div>	
