<form action="#none" id="personContactAddForm" class="pure-form pure-form-stacked">
    <fieldset>
        <div class="pure-g-r">
            <div class="pure-u-1 l-box">
                <div class="pure-narrative">
                    <span class="narrative-summary">{{labels.addContactNarrative}}</span>
                    <span class="narrative-description">{{targetPersonName}} ({{targetPersonId}})</span>
                </div>
            </div>


            <div class="pure-u-1-2 l-box">

                <div class="inner-panel pseudo" id="contextSensitive-wrapper">

                    <div class="pure-u-1-1" id="contactFixedType-wrapper">
                        <label id="contactFixedType-label" for="contactFixedType-input">{{labels.contactFixedType}}
                            <span class="mandatory">*</span></label>
                        <select name="contactFixedType" class="pure-input-1" id="contactFixedType-input" value="">
                            <option value="" class="blank">Please choose</option>
                            <option value="TELEPHONE">Telephone</option>
                            <option value="EMAIL">Email</option>
                            <option value="SOCIALMEDIA">Social media</option>
                            <option value="WEB">Website</option>
                        </select>
                    </div>

                    <div class="pure-u-1-1" id="telephoneType-wrapper" style="display:none;">
                        <label id="telephoneType-label" for="telephoneType-input">{{labels.telephoneType}} </label>
                        <select class="pure-input-1" name="telephoneType" id="telephoneType-input" value="{{textFormat modelData.telephoneType}}">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="pure-u-1-1" id="number-wrapper" style="display:none;">
                        <label id="number-label" for="number-input">{{labels.contactNumber}} <span class="mandatory">*</span></label>
                        <input type="text" class="pure-input-1" name="number" id="number-input" maxlength="30" value="{{textFormat modelData.number}}" />
                    </div>

                    <div class="pure-u-1-1" id="address-wrapper" style="display:none;">
                        <label id="address-label" for="contactDetail-input">{{labels.contactDetail}} <span class="mandatory">*</span></label>
                        <input type="text" class="pure-input-1" name="address" id="contactDetail-input" maxlength="254" value="{{textFormat modelData.address}}" />
                    </div>

                    <div class="pure-u-1-1" id="identifier-wrapper" style="display:none;">
                        <label id="identifier-label" for="identifier-input">{{labels.contactIdentifier}} <span class="mandatory">*</span></label>
                        <input type="text" class="pure-input-1" name="identifier" id="identifier-input" maxlength="254" value="{{textFormat modelData.identifier}}" />
                    </div>

                    <div class="pure-u-1-1" id="socialMediaType-wrapper" style="display:none;">
                        <label id="contactSocialMediaType-label" for="contactSocialMediaType-input">{{labels.socialMediaType}} </label>
                        <select class="pure-input-1" name="socialMediaType" id="socialMediaType-input" value="{{textFormat modelData.socialMediaType}}">
                            <option value=""></option>
                        </select>
                    </div>

                </div>
            </div>

            <div class="pure-u-1-2 l-box">
                <div class="inner-panel pseudo">
                    <div class="pure-u-1-1">
                        <label id="contactType-label" for="contactType-input">{{labels.contactType}}</label>
                        <select name="contactType" class="pure-input-1" id="contactType-input" value="{{textFormat modelData.contactType}}">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="pure-u-1-1" id="contactUsage-wrapper" style="display:none;">
                        <label id="contactUsage-label" for="contactUsage-input">{{labels.contactUsage}}</label>
                        <select name="contactUsage" class="pure-input-1" id="contactUsage-input" value="{{textFormat modelData.contactUsage}}">
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="inner-panel pseudo">
                    <div class="pure-u-1-1">
                        <div class="pure-g">
                            <div id="verifiedCheckbox" class="pure-u-1-4">
                                <br>
                                <label id="contactVerified-label" for="contactVerified-input" class="pure-checkbox">
                                    <input type="checkbox" name="contactVerified" id="contactVerified-input">
                                    <span>{{labels.contactVerified}}</span>
                                </label>
                            </div>
                            <div id="verifiedDate" class="pure-u-3-4">
                                <label id="contactVerifiedDate-label" for="contactVerifiedDate-input">{{labels.contactVerifiedDate}}</label>
                                    <input id="contactVerifiedDate-input" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="contactVerifiedDate" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

        </div>
    </fieldset>
</form>