<form action="#none" id="updateRemovePersonReferenceNumberForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r">	
		<div class="pure-u-1 l-box">
			<div class="pure-narrative" id="describedby" aria-live="polite">
				<span class="narrative-summary">{{labels.editReferenceNumberNarrative}}</span>
				<span class="narrative-description">{{targetPersonName}} ({{targetPersonId}})</span>
			</div>
		</div>
		{{#if modelData}}
		<div id="removeRefNumLinks" class="pure-u-1 pure-g-r">
			{{#each modelData}}
			<div class="pure-u-1-2 l-box">
				<label for="referenceNumber_{{this.id}}" id="referenceNumberLabel_{{this.id}}">{{codedEntry this.type ../codedEntries.referenceNumberType}}</label>
				<input id="referenceNumber_{{this.id}}" name="referenceNumber_{{this.id}}" type="text" maxlength="30" class="inline-right type-{{this.type}}" value="{{this.referenceNumber}}"></input>
				<a style="display:{{../canRemoveReferenceNumber}}" href="#none" class="removeLink small" data-remove-id="{{this.id}}">Remove</a>
			</div>		
			{{/each}}
		</div>
		{{/if}}
	</div>
</form>

