<form action="#none" id="closeAddResidentsAddressForm" class="pure-form pure-form-stacked">
  	
  	<div class="pure-g-r">
  		<div class="pure-u-1 l-box">   	  
        	<div class="pure-narrative">
          		<span class="narrative-summary" id="relationship_summary">{{narrativeSummaryResidents}}</span>
          		<span class="narrative-description" id="relationship_description">
          				{{narrativeDescriptionReason}}{{codedEntry endReason codedEntries.endReason}}
          				{{narrativeDescriptionEnd}}{{dateFormat endDate}}
          				{{narrativeDescriptionStart}}{{dateFormat startDate}}
          		</span>
          		
        	</div>
        
        </div>
     </div>

</form>


