
{{#modelData}} 
  {{#if title}}
    {{!-- The empty title below is important because the template output is likely to exist inside an anchor tag. 
      The anchors title interferes with the popover --}}
    <span class="label warning label-small pop-up-data" title="" data-title="{{title}}" data-content="{{#warnings}}<div>{{this}}</div>{{/warnings}}">
      <i class="fa fa-exclamation-triangle">{{count}}</i>
    </span>
  {{/if}}
  <span>{{name}}</span>
{{/modelData}}