<form action="#none" id="personLanguageForm" class="pure-form pure-form-stacked">
	<fieldset>	
	 	<div class="pure-g-r">
			<div class="pure-u-1 l-box">
				<div class="pure-narrative">
					<span class="narrative-summary">{{#if modelData.personLanguageAssignmentVOs}}{{labels.updateLanguageMessage}}{{else}}{{labels.addLanguageMessage}}{{/if}}</span>
					<span class="narrative-description">{{targetPersonName}} ({{targetPersonId}})</span>
				</div>
			</div>
			
			<div class="pure-u-1-2 l-box">
				<label for="firstLanguage-input">{{labels.firstLanguage}} <span class="mandatory">*</span></label>
				<input type="text" class="pure-input-1" name="firstLanguage" id="firstLanguage-input" placeholder="Enter language" value="{{modelData.firstLanguage}}" />
          		<div class="text" id="firstLanguageList">
             		 <ul class="related-person-list"> 
              		</ul>
          		</div>
          		<label for="proficiencyInOfficialLanguage-input" id="language_proficiencyInOfficialLanguage_label">{{labels.proficiencyInOfficialLanguage}}  <span class="mandatory">*</span></label>
	      		<select name="proficiencyInOfficialLanguage" class="pure-input-1" id="proficiencyInOfficialLanguage-input">						
  					<option value=""></option>
  				</select>
  				<label for="interpreterRequired-input" class="pure-checkbox">
						<input type="checkbox"  name="interpreterRequired" id="interpreterRequired-input" />
		           		<span>{{labels.interpreterRequired}}</span>
		        	</label>
			</div>	
			
			<div class="pure-u-1-2 l-box">
				<label for="otherLanguage-input">{{labels.otherLanguage}}</label>
				<input type="text" class="pure-input-1" name="otherLanguage" id="otherLanguage-input" placeholder="Enter language" value="" />
              	<div class="text" id="otherLanguageList">    
					<ul class="related-person-list">
	          		</ul>
	          		<div  id="languageLimitInfo">
          			</div>	
				</div>
			</div>	
			
			<div class="pure-u-1-2 l-box">
				<label for="nonVerbalLanguages">{{labels.nonVerbalLanguage}}</label>
				<select id="nonVerbalLanguages-input" class="pure-input-1" name="nonVerbalLanguages" multiple>
					{{#each codedEntries.nonVerbalLanguages}}
									<option value="{{this.code}}" title="{{this.name}}" id="{{this.id}}">{{this.name}}</option>
					{{/each}}
				</select>
			</div>
			
			
		</div>
	</fieldset>
</form>