<div id="personViewDialog" class="pure-g-r readonly">

	<div class="pure-u-1 l-box">
		<div class="pure-narrative"><span class="narrative-summary">{{labels.viewPersonMessage}}</span><span class="narrative-description">{{modelData.forename }} {{modelData.surname }} ({{modelData.personIdentifier}})</span></div>
	</div>
		
	<div class="pure-u-1-2 l-box">           
		<div class="name">{{labels.name}}</div>
		<div class="value">{{#if modelData.title}} {{codedEntry modelData.title codedEntries.title}} {{/if}} {{modelData.forename }} {{modelData.surname }}</div>
	</div>
	<div class="pure-u-1-2 l-box">  
		<div class="name">{{labels.gender}}</div>
		<div id="gender-output"class="value">{{codedEntry modelData.gender codedEntries.gender}}</div>         
	</div>
	<div class="pure-u-1-2 l-box"> 
		<div class="name">{{labels.personId}}</div>
		<div class="value">{{modelData.personIdentifier}}</div>          
	</div>
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.dateOfBirth}}</div>
		<div class="value">{{fuzzyDateFormat modelData.dateOfBirth}}{{#if modelData.dateOfBirthEstimated}}<span class="estimated summary" title="Estimated"></span><span class="hidden">Estimated</span>{{/if}}</div>
	</div>
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.ethnicity}}</div>
		<div id="ethnicity-output" class="value">{{codedEntry modelData.ethnicity codedEntries.ethnicity}}</div>
	</div>
</div>