<form action="#none" id="personRoleChangeForm" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
  
    <div class="pure-u-1 l-box">
      <div class="pure-narrative">
        <span class="narrative-summary">Which type do you want to change to?</span>
      </div>
    </div>
  
    
    <div class="pure-u-1-2 l-box" id="person_roles">
      <label class="pure-radio">
        <input type="radio" id="person_roleClient" name="personRole" value="CLIENT" checked /><span class="mandatory">{{codedEntry 'CLIENT' codedEntries.personType}}</span></label>
      <br />
      <label class="pure-radio">
        <input type="radio" id="person_roleProfessional" name="personRole" value="PROFESSIONAL" /><span class="mandatory">{{codedEntry 'PROFESSIONAL' codedEntries.personType}}</span></label> 
      <br />
      <label class="pure-radio">
        <input type="radio" id="person_roleFosterCarer" name="personRole" value="FOSTER_CARER" /><span class="mandatory">{{codedEntry 'FOSTER_CARER' codedEntries.personType}} </span></label> 
      <br />
      <label class="pure-radio">
        <input type="radio" id="person_roleAdopter" name="personRole" value="ADOPTER" /><span class="mandatory">{{codedEntry 'ADOPTER' codedEntries.personType}} </span></label> 
      <br />
      
    </div>
    
  </div>
</form>