<form action="#none" id="authoriseRejectForm" class="pure-g">
      <div class="pure-u-1 l-box">
          <div class="pure-alert pure-alert-block pure-alert-warning">
            <h4>{{labels.message}} {{modelData.warningCategory}}</h4>
           </div>
       </div>
</form>