<div class="pure-g-r readonly">
{{#if isPersonEducationVisible}}
	<div class="pure-u-1-2 l-box">       
		<div class="inner-panel">   
			<h4>{{labels.nationalCurriculumYear}}</h4>
				{{#if modelData.nationalCurriculumYear}} 
					<div class="value" id="nationalCurriculumYear">{{enumType modelData.nationalCurriculumYear enumTypes.nationalCurriculumYear}}</div>
				{{else}}
					<div class="name" id="nationalCurriculumYear">None</div>
				{{/if}}
		</div>
	</div>			
	<div class="pure-u-1-2 l-box">       
		<div class="inner-panel">   
			<h4>{{labels.keyStage}}</h4>
				{{#if modelData.keyStage}} 
					<div class="value" id="keyStage">{{enumType modelData.keyStage enumTypes.keyStage}}</div>
				{{else}}
					<div class="name" id="keyStage">None</div>
				{{/if}}
		</div>
	</div>			
	<div class="pure-u-1-2 l-box">       
		<div class="inner-panel">   
			<h4>{{labels.nationalCurriculumOffset}}</h4>
				{{#if modelData.nationalCurriculumOffset}} 
					<div class="value" id="nationalCurriculumOffset">{{modelData.nationalCurriculumOffset}}</div>
				{{else}}
					<div class="name" id="nationalCurriculumOffset">0</div>
				{{/if}}
		</div>
	</div>	
		
	<div class="pure-u-1 l-box">
		<div class="pure-button-group pull-right">	
			{{#if canUpdateEducation}}
				<button type="button" id="editEducation" class="pure-button pure-button-active edit-education"><i class="fa fa-pencil-square-o"></i>edit</button>
			{{/if}}	 
		</div>
	</div>

{{else}}
	<div class="pure-u-1-1 l-box">      
		<div class="inner-panel">   
			<h4>{{errorMessage}}</h4>
		</div>
	</div>			
{{/if}}
</div>