<div class="pure-g-r readonly">
	{{#if modelData.referenceNumbers}}
		{{#each modelData.referenceNumbers}}
			<div class="pure-u-1-2 l-box">
				<div class="name">{{codedEntry this.type ../codedEntries.referenceNumberType}}</div>
				{{#if this.samePersonReference}}
			  	<div class="value"><a href="#none" class="person-link" data-type-id="{{this.referenceNumber}}">{{this.referencedPersonName}} ({{this.referencedPersonIdentifier}})</a></div>
			  {{else}}
			  	<div class="value">{{this.referenceNumber}}</div>
			  {{/if}}
			</div>		
		{{/each}}		
	{{/if}}
		<div class="pure-u-1 l-box">
			<div class="pure-button-group pull-right">
				{{#if modelData.referenceNumbers}}
					<button type="button" class="pure-button pure-button-active editRemove-referenceNumber" style="display:{{canEditReferenceNumber}}"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
				{{/if}}
				{{#if showAdd}}
					<button type="button" class="pure-button pure-button-active add-referenceNumber" style="display:{{canAddReferenceNumber}}"><i class="fa fa-plus-circle"></i>{{labels.addButton}}</button>				
				{{/if}}
	    	</div>
		</div>
</div>