<form action="#none" id="personClassificationAddForm" class="pure-form pure-form-stacked">
	<fieldset>	
	 	<div class="pure-g-r">
			<div class="pure-u-1 l-box">
				<div class="pure-narrative">
					<span class="narrative-summary">{{labels.addClassificationMessage}}</span>
					<span class="narrative-description">{{targetPersonName}} ({{targetPersonId}})</span>
				</div>
			</div>
			
			<div class="pure-u-1-2 l-box">
				<label for="topLevelClassification-input">{{labels.topLevelClassification}} <span class="mandatory">*</span></label>
				<select name="topLevelClassification" class="pure-input-1" id="topLevelClassification-input">				
					<option value=""></option>
				</select>
			</div>	
			
			<div class="pure-u-1-2 l-box">
				<label for="finalLevelClassification-input" id="classification_finalLevelClassification_label" class="label-disabled">{{labels.finalLevelClassification}} <span class="mandatory">*</span></label>
				<select name="finalLevelClassification" class="pure-input-1" id="finalLevelClassification-input" disabled>				
					<option value=""></option>
				</select>
			</div>	
			
			<div class="pure-u-1-2 l-box">
				<label for="startDate" id="classification_startDate_label">{{labels.startDate}} <span class="mandatory">*</span></label>
	      		<input type="text" class="pure-input-1" name="startDate" id="classification_startDate" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.startDate}}" />
			</div>
			
			<div class="pure-u-1-2 l-box">    	
			<label for="classification_practitioner">{{labels.practitioner}} <span class="mandatory">*</span></label>
	        <input type="text" class="pure-input-1" name="practitioner" id="classification_practitioner" maxlength="50" readonly value="{{otherData.practitioner.personName}}" />
		</div>
			
		</div>
	</fieldset>
</form>