	        		<div class="pure-g-r readonly">
	        		    <div class="pure-u-1-2 l-box">

	        		        <div class="inner-panel">
	        		            <h4>{{labels.phoneNumber}}</h4>
	        		            {{#if telephoneContacts}}
	        		                {{#each telephoneContacts}}
	        		                    <div class="name">{{codedEntry this.contactType ../codedEntries.contactType}}{{#if this.contactUsage}}, {{codedEntry this.contactUsage ../../codedEntries.contactUsage}} {{/if}}</div>
	        		                    {{#each this.contactDetails}}
	        		                        <div class="value">
	        		                            <a href="tel:{{this.value}}">{{this.value}}</a>
	        		                            {{#if this.isVerified}}
	        		                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
	        		                                <span>{{../../../labels.contactVerified}} {{dateFormat this.verifiedDate}}</span>
	        		                            {{/if}}
	        		                        </div>
	        		                    {{/each}}
	        		                {{/each}}
	        		            {{else}}
	        		                <div class="name">None</div>
	        		            {{/if}}
	        		        </div>

	        		        <div class="inner-panel">
	        		            <h4>{{labels.mobileNumber}}</h4>
	        		            {{#if mobileContacts}}
	        		                {{#each mobileContacts}}
	        		                    <div class="name">{{codedEntry this.contactType ../codedEntries.contactType}}{{#if this.contactUsage}}, {{codedEntry this.contactUsage ../../codedEntries.contactUsage}}
	        		                        {{/if}}</div>
	        		                    {{#each this.contactDetails}}
	        		                        <div class="value">
	        		                            <a href="tel:{{this.value}}">{{this.value}}</a>
	        		                            {{#if this.isVerified}}
	        		                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
	        		                                <span>{{../../../labels.contactVerified}} {{dateFormat this.verifiedDate}}</span>
	        		                            {{/if}}
	        		                        </div>
	        		                    {{/each}}
	        		                {{/each}}
	        		            {{else}}
	        		                <div class="name">None</div>
	        		            {{/if}}
	        		        </div>

	        		        <div class="inner-panel">
	        		            <h4>{{labels.email}}</h4>
	        		            {{#if emailContacts}}
	        		                {{#each emailContacts}}
	        		                    <div class="name">{{codedEntry this.contactType ../codedEntries.contactType}}{{#if this.contactUsage}}, {{codedEntry this.contactUsage ../../codedEntries.contactUsage}} {{/if}}</div>
	        		                    {{#each this.contactDetails}}
	        		                        <div class="value">
	        		                            <i title="Send email" class="fa fa-envelope-o"></i>
	        		                            <a title="Send email" href="mailto:{{this.value}}"> {{this.value}}</a>
	        		                            {{#if this.isVerified}}
	        		                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
	        		                                <span>{{../../../labels.contactVerified}} {{dateFormat this.verifiedDate}}</span>
	        		                            {{/if}}
	        		                        </div>
	        		                    {{/each}}
	        		                {{/each}}
	        		            {{else}}
	        		                <div class="name">None</div>
	        		            {{/if}}
	        		        </div>

	        		    </div>

	        		    <div class="pure-u-1-2 l-box">

	        		        <div class="inner-panel">
	        		            <h4>{{labels.website}}</h4>
	        		            {{#if webContacts}}
	        		                {{#each webContacts}}
	        		                    <div class="name">{{codedEntry this.contactType ../codedEntries.contactType}}{{#if this.contactUsage}}, {{codedEntry this.contactUsage ../../codedEntries.contactUsage}} {{/if}}</div>
	        		                    {{#each this.contactDetails}}
	        		                        <div class="value">
	        		                            <a title="Open link in new tab/window" target="_blank" href="{{urlFormat this.value}}">{{this.value}} </a>
	        		                            <i title="Open link in new tab/window" class="fa fa-external-link"></i>
	        		                            {{#if this.isVerified}}
	        		                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
	        		                                <span>{{../../../labels.contactVerified}} {{dateFormat this.verifiedDate}}</span>
	        		                            {{/if}}
	        		                        </div>
	        		                    {{/each}}
	        		                {{/each}}
	        		            {{else}}
	        		                <div class="name">None</div>
	        		            {{/if}}
	        		        </div>

	        		        <div class="inner-panel">
	        		            <h4>{{labels.socialMedia}}</h4>
	        		            {{#if socialMediaContacts}}
	        		                {{#each socialMediaContacts}}
	        		                    <div class="name">{{codedEntry this.contactType ../codedEntries.contactType}}{{#if this.contactUsage}}, {{codedEntry this.contactUsage ../../codedEntries.contactUsage}} {{/if}}</div>
	        		                    {{#each this.contactDetails}}
	        		                        <div class="value">
	        		                            <a title="Open link in new tab/window" target="_blank" href="//{{this.value}}">{{this.value}} </a>
	        		                            <i title="Open link in new tab/window" class="fa fa-external-link"></i>
	        		                            {{#if this.isVerified}}
	        		                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
	        		                                <span>{{../../../labels.contactVerified}} {{dateFormat this.verifiedDate}}</span>
	        		                            {{/if}}
	        		                        </div>
	        		                    {{/each}}
	        		                {{/each}}
	        		            {{else}}
	        		                <div class="name">None</div>
	        		            {{/if}}
	        		        </div>

	        		        <div class="inner-panel">
	        		            <h4>{{labels.fax}}</h4>
	        		            {{#if faxContacts}}
	        		                {{#each faxContacts}}
	        		                    <div class="name">{{codedEntry this.contactType ../codedEntries.contactType}}{{#if this.contactUsage}}, {{codedEntry this.contactUsage ../../codedEntries.contactUsage}} {{/if}}</div>
	        		                    {{#each this.contactDetails}}
	        		                        <div class="value">
	        		                            {{this.value}}
	        		                            {{#if this.isVerified}}
	        		                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
	        		                                <span>{{../../../labels.contactVerified}} {{dateFormat this.verifiedDate}}</span>
	        		                            {{/if}}
	        		                        </div>
	        		                    {{/each}}
	        		                {{/each}}
	        		            {{else}}
	        		                <div class="name">None</div>
	        		            {{/if}}
	        		        </div>


	        		    </div>

	        		    <div class="pure-u-1 l-box">
	        		        <div class="pure-button-group pull-right">

	        		            {{#if telephoneContacts}}
	        		                <button type="button" id="editContactDetailsButton" class="pure-button pure-button-active editRemove-contact" style="display:{{canEditContact}}"><i class="fa fa-pencil-square-o"></i>edit</button>
	        		            {{else}}
	        		                {{#if mobileContacts}}
	        		                    <button type="button" id="editContactDetailsButton" class="pure-button pure-button-active editRemove-contact" style="display:{{canEditContact}}"><i class="fa fa-pencil-square-o"></i>edit</button>
	        		                {{else}}
	        		                    {{#if faxContacts}}
	        		                        <button type="button" id="editContactDetailsButton" class="pure-button pure-button-active editRemove-contact" style="display:{{canEditContact}}"><i class="fa fa-pencil-square-o"></i>edit</button>
	        		                    {{else}}
	        		                        {{#if webContacts}}
	        		                            <button type="button" id="editContactDetailsButton" class="pure-button pure-button-active editRemove-contact" style="display:{{canEditContact}}"><i class="fa fa-pencil-square-o"></i>edit</button>
	        		                        {{else}}
	        		                            {{#if emailContacts}}
	        		                                <button type="button" id="editContactDetailsButton" class="pure-button pure-button-active editRemove-contact" style="display:{{canEditContact}}"><i class="fa fa-pencil-square-o"></i>edit</button>
	        		                            {{else}}
	        		                                {{#if socialMediaContacts}}
	        		                                    <button type="button" id="editContactDetailsButton" class="pure-button pure-button-active editRemove-contact" style="display:{{canEditContact}}"><i class="fa fa-pencil-square-o"></i>edit</button>
	        		                                {{/if}}
	        		                            {{/if}}
	        		                        {{/if}}
	        		                    {{/if}}
	        		                {{/if}}
	        		            {{/if}}

	        		            <button type="button" id="addContactDetailsButton" class="pure-button pure-button-active add-contact" style="display:{{canAddContact}}"><i class="fa fa-plus-circle"></i>add</button>
	        		        </div>
	        		    </div>

	        		</div>