<div class="pure-g-r readonly">
    <div class="pure-u-1 l-box">
      <div class="name">{{labels.alerts}}</div>
      {{#if modelData.personAlerts}}
        <div id="personAlerts" class="inner-panel">
          <ul class="no-style">
              {{#each modelData.personAlerts}}
              <li>
                <fieldset>
                  <legend>{{../labels.alert}} {{add @index 1}}</legend>
                  <div class="pure-g">
                    <div class="pure-u-1-2">
                      <div class="name">{{../labels.category}}</div>
                      <div class="value">{{codedEntry this.alertCategory codedEntries.alertsCategory}}</div>
                    </div>
                    <div class="pure-u-1-2">
                      <div class="name">{{../labels.note}}</div>
                      <div class="value">{{#each this.notes}}{{this.content}}{{/each}}</div>
                    </div>
                  </div>
                </fieldset>
              </li>
              {{/each}}
          </ul>
        </div>
      {{else}}
        <div class="inner-panel">{{labels.noAlerts}}</div>
      {{/if}}
    </div>
</div>
