<div class="pure-g-r readonly">
<div class="pure-u-1-2 l-box">       

	<div class="inner-panel">   
		<h4>{{labels.firstLanguage}}</h4>
			{{#if languages}} 
				{{#each languages}}
					{{#if this.primaryLanguage}}
				<div class="value" id="primaryLanguageValue">{{this.codedEntryVO.name}}</div>
					{{/if}}
				{{/each}}
			{{else}}
				<div class="name" id="primaryLanguageNone">None</div>
			{{/if}}
					
		
	</div>
</div>
<div class="pure-u-1-2 l-box"> 
	
	<div class="inner-panel">     
	
		<h4>{{labels.otherLanguages}}</h4>
		{{#if otherLanguages}} 
				{{#each languages}}
					{{#unless this.primaryLanguage}}
				<div class="value" id="otherLanguageValue__{{@index}}">{{this.codedEntryVO.name}}</div>
					{{/unless}}
				{{/each}}
			{{else}}
			<div class="name" id="otherLanguageNone">None</div>
		{{/if}}
	</div>
</div>
<div class="pure-u-1-2 l-box"> 
	<div class="inner-panel"> 
		<h4>{{labels.proficiencyInOfficialLanguage}}</h4>
		{{#if proficiencyInOfficialLanguage}}
			<div class="value" id="proficiencyInOfficialLanguageValue">{{proficiencyInOfficialLanguage}}</div>	
		{{/if}}
	</div> 
</div>

<div class="pure-u-1-2 l-box">
	<div class="inner-panel"> 
		<h4>{{labels.interpreterRequired}}</h4>
		{{#unless officialLanguage}}
			{{#if languages}}
				<div class="value" id="interpreterRequiredValue">{{interpreterRequired}}</div>
			{{/if}}
		{{/unless}} 	
	</div>
</div>

<div class="pure-u-1-2 l-box"> 
	<div class="inner-panel"> 
		<h4>{{labels.nonVerbalLanguages}}</h4>
			{{#each nonVerbalLanguages}}
				<div class="value" id="nonVerbalLanguageValue__{{@index}}">{{this.codedEntryVO.name}}</div>
			{{else}}
				<div class="name" id="nonVerbalLanguageNone">None</div>
			{{/each}}
	</div> 
</div>

<div class="pure-u-1 l-box">
	<div class="pure-button-group pull-right">	
	{{#if languages}}
		<button type="button" id="editLanguagesButton" class="pure-button pure-button-active edit-languages" style="display:{{canUpdateLanguage}}"><i class="fa fa-plus-circle"></i>edit</button>
	{{else}}	
		<button type="button" id="addLanguagesButton" class="pure-button pure-button-active add-languages" style="display:{{canUpdateLanguage}}"><i class="fa fa-plus-circle"></i>add</button>
	{{/if}}
	</div>
</div>

</div>



