<form method="post" action="#none" id="recentAccessRecordsForm" class="pure-form pure-form-stacked">
		<fieldset>		
		<div class="pure-g-r">
			<div class="pure-u-1 l-box">
				<div class="pure-skin-usp">
						<div id="recentPersonsTab">
						</div>
	    				<!--<div id="recentAccessRecordsTab" class="ui-tabs" >
	    				<div>
							<ul>
								<li><a href="#recenPersonsTab">{{labels.personlabel}}</a></li>
								<li><a href="#recentGroupsTab">{{labels.grouplabel}}</a></li>
								<li><a href="#recentOrganisationsTab">{{labels.organisationslabel}}</a></li>
							</ul>
						</div>
							<div>
								<div id="recenPersonsTab">
								</div>
								<!--<div id="recentGroupsTab">
								</div>
								<div id="recentOrganisationsTab">
								</div>
								
							</div>
						</div>
						 -->
        		</div>
      		</div>
		</div>
		</fieldset>
	</form>