<form action="#none" class="pure-form pure-form-stacked">
<div class="pure-g-r" >
	<div class="pure-u-1 l-box">
	<div class="pure-narrative" id="describedby" aria-live="polite">
		<span class="narrative-summary">{{labels.removePersonPictureSummary}}</span>
		<span class="narrative-description">{{personDetailsModelData.name}} ({{personDetailsModelData.personIdentifier}})</span>
	</div>
	
    	<div class="pure-alert pure-alert-block pure-alert-warning" >
			<h4>{{labels.removePersonPictureConfirmation}}</h4>
         </div>
</div>
</form>