<div class="pure-g-r">
  <div class="pure-u-1 l-box">
    <div class="pure-narrative" id="narrative">
      <span class="narrative-summary"></span>
      <span class="narrative-description"></span>
    </div>
  </div>
  <div class="pure-u-1 l-box">
    <label>{{labels.location}}</label>
    <div class="value addressLocation-wrapper">
      {{#if modelData.doNotDisclose}}
        <div class="pop-up-data" data-content="Do not disclose" data-align="bottom">
          <span class="do-not-disclose">
            <i class="fa fa-ban" aria-hidden="true"></i>
          </span>
        </div>
      {{/if}}
      {{googleMapLink addressLocationDescription}}
    </div>
  </div>
  <div class="pure-u-1-2 l-box">
    <label>{{labels.type}}</label>
    <div class="value" id="type-dd"></div>
  </div>
  <div class="pure-u-1-2 l-box">
    <label>{{labels.usage}}</label>
    <div class="value" id="usage-dd" ></div>
  </div>
  <div class="pure-u-1-2 l-box">
    <label>{{labels.addressStartDate}}</label>
    <div class="value">
      {{fuzzyDateFormat modelData.startDate}}
    </div>
  </div>
  <div class="pure-u-1-2 l-box">
    <label>{{labels.addressEndDate}}</label>
    <div class="value">
      {{fuzzyDateFormat modelData.endDate}}
    </div>
  </div> 

  {{#if modelData.endDate}}
    <div class="pure-u-1 l-box">    
      <label>{{labels.endReason}}</label>
      <div class="value" id="endReason-dd" ></div>
    </div>
  {{/if}}	

  <div class="pure-u-1 l-box">
    <div class="pure-alert pure-alert-block pure-alert-warning">
      <h4>{{labels.removeAddressConfirm}}</h4>
    </div>		
  </div>
</div>