<form action="#none" id="changeDeceasedToAliveForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r" >
	<div class="pure-u-1 l-box">
	<div class="pure-narrative" id="describedby" aria-live="polite">
		<span class="narrative-summary">{{labels.removeDeceasedPersonSummary}}</span>
		<span class="narrative-description">{{modelData.name}} ({{modelData.personIdentifier}})</span>
	</div>
	
    	<div class="pure-alert pure-alert-block pure-alert-warning" >
			<h4>Are you sure you want to remove this died date?</h4>
         </div>
	</div>

</form>