{{#if anyActive}}
  <span>{{labels.filter}}</span>

  {{#if activeFilter.warningCodes}}
    <span class="label">{{labels.warningCodes}}<a href="#none" data-reset="warningCodes" aria-label="{{labels.removeTypes}}">
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  
  <a href="#none" data-reset="reset" class="small" aria-label="{{labels.resetAllTitle}}">{{labels.resetAll}}</a>
{{/if}}
