<form action="#none" class="pure-form pure-form-stacked filter-panel">
  <div class="panel bordered">
    <div>
      <h3 class="alt2" tabindex="0">{{labels.filterBy}}</h3>
    </div>
    <div class="pure-g-r">
      <div class="pure-u-1-1 l-box">
        <div class="pure-u-1-2 l-box">
          <label for="warningResultsFilter_types">{{labels.types}}</label>
          <select name="warningCodes" class="pure-input-1" id="warningResultsFilter_types" multiple="multiple" size="5" ></select>
        </div>
      </div>
      <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
          <input type="button" data-reset="reset" class="pure-button pure-button-secondary" value="{{labels.reset}}">
        </div>
      </div>
    </div>
  </div>
</form>
