.pure-table-menu {
    &.hidden {
        display: none;
    }

    .inline-menu {
        span.pure-menu {
            position: relative;
            display: block;
            background: none;
            float: none;
            margin: 0;
            border: 0;

            &.pure-menu-open {
                margin: 0;
                width: inherit;

                .pure-menu-children {
                    left: -43px;
                }
            }

            .pure-menu-label {
                display: inline-block;
                padding: 2px 14px 3px 9px;
                background-color: #347ab7;
                color: #fff;
                text-transform: lowercase;
                border-radius: 2px;
                font-size: 0.85em;

                &:after {
                    content: '\25BE';
                    float: right;
                    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', sans-serif;
                    margin-right: -9px;
                    margin-top: 0;
                }
            }

            &>a {
                padding: 0;
                outline: 0;
                border: 0;
            }
        }

        .pure-menu-item {
            display: block;
            background: #2b5f93;
            color: #fff;
            text-transform: lowercase;

            .pure-button {
                background: #2b5f93;
                color: #fff;
                text-transform: lowercase;
                padding: 5px 20px;
                text-align: left;
                
                &:hover {
                    text-decoration: none;
                }
            }

            .pure-button:hover, .pure-button:focus {
                background: #347ab7;
            }
        }

        .pure-menu-children {
            position: absolute;
            top: 22px;
            left: -9999px;
            background-color: #2b5f93;
            border: 0;
            outline: 0;
            z-index: 999;
        }

        .pure-menu-open {
            .pure-menu-label {
                background-color: #2b5f93;
                border-radius: 2px 2px 0 0;
            }
        }
    }
}