/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

@import "../../mask//less/app.less";

.usp-datatable {
    position: relative;
}

.results-table-summary-row-enabled {
    .collapse {
        display: none;

        &.in {
            display: block;
        }
    }

    .collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        -webkit-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
        -webkit-transition-duration: .35s;
        -o-transition-duration: .35s;
        transition-duration: .35s;
        -webkit-transition-property: height, visibility;
        -o-transition-property: height, visibility;
        transition-property: height, visibility;
    }

    .pure-table-col-collapse {
        border-bottom: 1px solid #e9e9e9;
    }

    .summary-row-content {
        margin-left: 0;
    }

    .pure-table td {
        .pure-table-col-collapse {
            border-bottom: 1px solid #e9e9e9;
        }
    }
}

th {
    .pure-table-head {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}