div.mxRubberband {
	position: absolute;
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	border-color: #0000FF;
	background: #0077FF;
}
textarea.mxCellEditor {
	background: url('../images/transparent.gif');
	border-style: solid;
	border-color: black;
	border-width: 0;
	overflow: auto;
}
div.mxWindow {
	-webkit-box-shadow: 3px 3px 12px #C0C0C0;
	-moz-box-shadow: 3px 3px 12px #C0C0C0;
	box-shadow: 3px 3px 12px #C0C0C0;
	background: url('../images/window.gif');
	border-style: outset;
	border-width: 1px;
	position: absolute;
	overflow: hidden;
	z-index: 1;
}
table.mxWindow {
	border-collapse: collapse;
	table-layout: fixed;
	font-family: OpenSansRegular;
  	font-size: 0.9em;
}
td.mxWindowTitle {
	background: url('../images/window-title.gif') repeat-x;
	text-overflow: ellipsis;
	white-space: nowrap;
 	text-align: center;
 	font-weight: bold;
 	overflow: hidden;
	height: 13px;
	padding: 2px;
 	padding-top: 4px;
 	padding-bottom: 6px;
 	color: black;
}
td.mxWindowPane {
	vertical-align: top;
	padding: 0px;
}
div.mxWindowPane {
	overflow: hidden;
}
td.mxWindowPane td {
	font-family: OpenSansRegular;
  	font-size: 0.9em;
}
td.mxWindowPane input, td.mxWindowPane select, td.mxWindowPane textarea, td.mxWindowPane radio {
  	border-color: #8C8C8C;
  	border-style: solid;
  	border-width: 1px;
  	font-family: OpenSansRegular;
	font-size: 0.9em;
 	padding: 1px;
}
td.mxWindowPane button {
	background: url('../images/button.gif') repeat-x;
  	font-family: OpenSansRegular;
  	font-size: 0.9em;
  	padding: 2px;
	float: left;
}
img.mxToolbarItem {
	margin-right: 6px;
	margin-bottom: 6px;
	border-width: 1px;
}
select.mxToolbarCombo {
	vertical-align: top;
	border-style: inset;
	border-width: 2px;
}
div.mxToolbarComboContainer {
	padding: 2px;
}
img.mxToolbarMode {
	margin: 2px;
	margin-right: 4px;
	margin-bottom: 4px;
	border-width: 0px;
}
img.mxToolbarModeSelected {
	margin: 0px;
	margin-right: 2px;
	margin-bottom: 2px;
	border-width: 2px;
	border-style: inset;
}
div.mxTooltip {
	background-color: rgba(34, 34, 34, 0.8);
	border:0;
	font-family: OpenSansRegular;
	font-size: 0.9em;
	position: absolute;
	cursor: default;
	padding: 0.25em 0.5em;
	color: #fff;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
div.mxPopupMenu {
	background:#2B5F93;
	position: absolute;
	border:0;
	cursor: default;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
table.mxPopupMenu {
	border-collapse: collapse;
}
tr.mxPopupMenuItem {
	color: #fff;
	cursor: default;
}
td.mxPopupMenuItem.disabled {
	opacity: 0.2;
}
td.mxPopupMenuItem.disabled {
	_filter:alpha(opacity=20) !important;
}
tr.mxPopupMenuItemHover {
	background-color: #347AB7;
	color: #fff;
	cursor: pointer;
}
td.mxPopupMenuItem {
	padding: 0.5em 2em 0.5em 0.75em;
	white-space: nowrap;
	font-family: OpenSansRegular;
	font-size: 1em;
}
td.mxPopupMenuIcon {
	background-color: #D0D0D0;
	padding: 0;
}


div.mxPopupMenu hr {
	display:none;
}

div.mxPopupMenu table tr:nth-child(2).mxPopupMenuItemHover td:first-child {
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	border-top-left-radius: 2px;
}

div.mxPopupMenu table tr:nth-child(2).mxPopupMenuItemHover td:last-child {
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px;	
}

div.mxPopupMenu table tr:last-child.mxPopupMenuItemHover td:first-child {
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-left-radius: 2px;
}

div.mxPopupMenu table tr:last-child.mxPopupMenuItemHover td:last-child {
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	border-bottom-right-radius: 2px;	
}

	

