<form action="#none" id="prEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/modelData}}
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_health">{{labels.health}}</label>
            <div data-name="health" class="formRichTextInput" id="editPrForm_health" contenteditable="true">{{{modelData.health}}}</div>
        </div>
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_dietAndPhysicalHealth">{{labels.dietAndPhysicalHealth}}</label>
            <div data-name="dietAndPhysicalHealth" class="formRichTextInput" id="editPrForm_dietAndPhysicalHealth" contenteditable="true">{{{modelData.dietAndPhysicalHealth}}}</div>
        </div>
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_mentalHealth">{{labels.mentalHealth}}</label>
            <div data-name="mentalHealth" class="formRichTextInput" id="editPrForm_mentalHealth" contenteditable="true">{{{modelData.mentalHealth}}}</div>
        </div>
    </div>
</form>
