<form action="#none" id="prEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/modelData}}
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_selfCareSkills">{{labels.selfCareSkills}}</label>
            <div data-name="selfCareSkills" class="formRichTextInput" id="editPrForm_selfCareSkills" contenteditable="true">{{{modelData.selfCareSkills}}}</div>
        </div>
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_independentLivingSkills">{{labels.independentLivingSkills}}</label>
            <div data-name="independentLivingSkills" class="formRichTextInput" id="editPrForm_independentLivingSkills" contenteditable="true">{{{modelData.independentLivingSkills}}}</div>
        </div>
    </div>
</form>
