<form action="#none" id="prEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/modelData}}
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_education">{{labels.education}}</label>
            <div data-name="education" class="formRichTextInput" id="editPrForm_education" contenteditable="true">{{{modelData.education}}}</div>
        </div>
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_employment">{{labels.employment}}</label>
            <div data-name="employment" class="formRichTextInput" id="editPrForm_employment" contenteditable="true">{{{modelData.employment}}}</div>
        </div>
    </div>
</form>
