<form action="#none" id="prEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/modelData}}
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_identityAndContactWithFamily">{{labels.identityAndContactWithFamily}}</label>
            <div data-name="identityAndContactWithFamily" class="formRichTextInput" id="editPrForm_identityAndContactWithFamily" contenteditable="true">{{{modelData.identityAndContactWithFamily}}}</div>
        </div>
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_safeguarding">{{labels.safeguarding}}</label>
            <div data-name="safeguarding" class="formRichTextInput" id="editPrForm_safeguarding" contenteditable="true">{{{modelData.safeguarding}}}</div>
        </div>
    </div>
</form>
