<form action="#none" id="prEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/modelData}}
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_socialPresentationAndBehaviour">{{labels.socialPresentationAndBehaviour}}</label>
            <div data-name="socialPresentationAndBehaviour" class="formRichTextInput" id="editPrForm_socialPresentationAndBehaviour" contenteditable="true">{{{modelData.socialPresentationAndBehaviour}}}</div>
        </div>
    </div>
</form>