<form action="#none" id="prEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/modelData}}
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_leisureActivitiesCommunityAccess">{{labels.leisureActivitiesCommunityAccess}}</label>
            <div data-name="leisureActivitiesCommunityAccess" class="formRichTextInput" id="editPrForm_leisureActivitiesCommunityAccess" contenteditable="true">{{{modelData.leisureActivitiesCommunityAccess}}}</div>
        </div>
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_finance">{{labels.finance}}</label>
            <div data-name="finance" class="formRichTextInput" id="editPrForm_finance" contenteditable="true">{{{modelData.finance}}}</div>
        </div>
    </div>
</form>
