<form action="#none" id="prEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/modelData}}
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_summaryAndAnalysis">{{labels.summaryAndAnalysis}}</label>
            <div data-name="summaryAndAnalysis" class="formRichTextInput" id="editPrForm_summaryAndAnalysis" contenteditable="true">{{{modelData.summaryAndAnalysis}}}</div>
        </div>
    </div>
</form>