<div class="pure-g-r readonly">

	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.dateStarted}}</div>
		<div class="value">{{dateFormat modelData.dateStarted}}</div>	
	</div>
	
    <div class="pure-u-1-2 l-box"></div>
	
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.name}}</div>
		<div class="value">{{modelData.subject.name}}</div>	
	</div>
	
	<div class="pure-u-1-2 l-box">
		<div class="name">{{labels.dateOfBirth}}</div>
		<div class="value">{{fuzzyDateFormat modelData.subject.dateOfBirth}}{{#if modelData.subject.dateOfBirthEstimated}}<span class="estimated summary" title="Estimated"></span><span class="hidden">Estimated</span>{{/if}}</div>
	</div>

	<div class="pure-u-1 l-box">
		<div class="name">{{labels.placementAddress}}</div>
		<div class="value">{{#if modelData.placementAddress}}{{googleMapLink modelData.placementAddress.location}}{{/if}}</div>	
   	</div>
    		
	<div class="pure-u-1 l-box">
		<div class="name">{{labels.background}}</div>
		<div class="value">{{{modelData.background}}}</div>	
   	</div>
    		
    <div class="pure-u-1 l-box">
        <div class="pure-button-group pull-right">
            {{#if modelData.canUpdate}}
                <button type="button" class="pure-button pure-button-active edit-form"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{else}}
                <button type="button" class="pure-button pure-button-disabled" disabled="disabled"><i class="fa fa-pencil-square-o"></i>{{labels.editButton}}</button>
            {{/if}}
        </div>  
    </div> 
</div>