<form action="#none" id="prEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/modelData}}
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_forensicCommunityNurseContact">{{labels.forensicCommunityNurseContact}}</label>
            <div data-name="forensicCommunityNurseContact" class="formRichTextInput" id="editPrForm_forensicCommunityNurseContact" contenteditable="true">{{{modelData.forensicCommunityNurseContact}}}</div>
        </div>
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_socialWorkerContact">{{labels.socialWorkerContact}}</label>
            <div data-name="socialWorkerContact" class="formRichTextInput" id="editPrForm_socialWorkerContact" contenteditable="true">{{{modelData.socialWorkerContact}}}</div>
        </div>
    </div>
</form>
