<form action="#none" id="prEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/modelData}}
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_healthPromotion">{{labels.healthPromotion}}</label>
            <div data-name="healthPromotion" class="formRichTextInput" id="editPrForm_healthPromotion" contenteditable="true">{{{modelData.healthPromotion}}}</div>
        </div>
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_gpAppointmentsAndTelephoneContact">{{labels.gpAppointmentsAndTelephoneContact}}</label>
            <div data-name="gpAppointmentsAndTelephoneContact" class="formRichTextInput" id="editPrForm_gpAppointmentsAndTelephoneContact" contenteditable="true">{{{modelData.gpAppointmentsAndTelephoneContact}}}</div>
        </div>
    </div>
</form>
