<form action="#none" id="prEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        {{#modelData}}
            {{#include parent=..}}
                {{> narrative}}
            {{/include}}
        {{/modelData}}
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_medication">{{labels.medication}}</label>
            <div data-name="medication" class="formRichTextInput" id="editPrForm_medication" contenteditable="true">{{{modelData.medication}}}</div>
        </div>
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_optician">{{labels.optician}}</label>
            <div data-name="optician" class="formRichTextInput" id="editPrForm_optician" contenteditable="true">{{{modelData.optician}}}</div>
        </div>
        <div class="pure-u-1-1 l-box">
            <label for="editPrForm_dental">{{labels.dental}}</label>
            <div data-name="dental" class="formRichTextInput" id="editPrForm_dental" contenteditable="true">{{{modelData.dental}}}</div>
        </div>
    </div>
</form>