.checklist-status {
    text-align: right;
}

.checklist-status-indicator, .checklist-priority-indicator {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: text-top;
    position: relative;
    top: -5px;
}

.checklist-status-indicator.not-started {
    background: #d9d9d9;
}

.checklist-status-indicator.on-time {
    background: url(../../img/checklist-on-time.svg) no-repeat center center;
    background-size: contain;
}

.checklist-status-indicator.at-risk {
    background: url(../../img/checklist-final-reminder.svg) no-repeat center center;
    background-size: contain;
}

.checklist-status-indicator.late {
    background: url(../../img/checklist-overdue.svg) no-repeat center center;
    background-size: contain;
}

i.checklist-indicator {
    font-size: 1.4em;
    position: relative;
    top: 1px;
}

i.checklist-indicator.checklist-error {
    color: #bb0000;
}

i.checklist-indicator.checklist-complete-optional-remain {
    color: #c87dc0;
}

i.checklist-indicator.checklist-complete {
    color: #913D88;
}

i.checklist-indicator.checklist-deleted {
    color: #999;
    font-size: 1.3em
}

i.checklist-indicator.checklist-paused {
    color: #1B71CB;
}

i.checklist-priority-indicator.none {
  background: #000
}

i.checklist-priority-indicator.low {
  background: #008000
}

i.checklist-priority-indicator.medium {
  background: #ff9400
}

i.checklist-priority-indicator.high {
  background: #b00
}

.progress {
    border-radius: 4px;
    background: #fff;
    padding: 3px;
    width: auto;
    height: 12px;
    border: 1px solid #d5d5d5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.progress .progress-bar {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 4px;
}

.progress-bar-label {
    position: absolute;
    font-size: .8em;
    font-family: OpenSansSemiBold;
    padding: .15em .25em;
    top: -7px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: #fff;
    opacity: .8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.pure-table-col-percentComplete .progress-bar {
    background: repeating-linear-gradient(-55deg, #c87dc0, #c87dc0 10px, #d295cc 10px,
        #d295cc 20px);
}

.pure-table-col-percentComplete .progress-bar .progress-bar-label {
    color: #913D88;
}

#checklistResults .expanded {
    font-size: 0.95em;
    padding-top: 0.5em;
}

.card-view-mask {
    background: #fff url(../../img/loading/loading-main-32.gif) no-repeat scroll center;
    filter: alpha(opacity=60);
    opacity: 0.6;
    z-index: 99;
}

@media only screen and (max-width:768px) {
    .checklist-status {
        text-align: left;
    }

    .checklist-status-indicator, .checklist-priority-indicator {
        float: left;
        margin-left: 0;
        margin-right: .5em
    }

    #checklistResults td:nth-child(1):before, #checklistResults td.pure-table-cell-checklistDefinitionName:before {
        border-bottom: 0;
    }

    #checklistResults td.pure-table-cell-checklistDefinitionName {
        padding-top: 16px !important;
    }
}