<form action="#none" id="updateSelfSecondaryPasswordChangeForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r" >		
		<div class="pure-u-1 l-box">
			<label for="currentPassword">
				{{labels.currentPrimaryPassword}}<span class="mandatory">*</span>
			</label>
			<input id="currentPassword" type="password" class="pure-input-1" name="currentPassword" autofocus autocomplete=off />
		</div>
		<div class="pure-u-1 l-box">
			<label for="secondaryPassword">
				{{labels.secondaryPassword}}<span class="mandatory">*</span>
				<a href="#" class="pop-up-data" data-title="{{labels.secondaryPasswordPopupMessageTitle}}" data-content="{{labels.secondaryPasswordPopupMessageContent}}">Help</a>
			</label>
			<input id="secondaryPassword" type="password" class="pure-input-1" name="secondaryPassword" autocomplete=off />
		</div>
		<div class="pure-u-1 l-box">
			<label for="confirmSecondaryPassword">
				{{labels.confirmSecondaryPassword}}<span class="mandatory">*</span>
				<a href="#" class="pop-up-data" data-title="{{labels.confirmSecondaryPasswordPopupMessageTitle}}" data-content="{{labels.confirmSecondaryPasswordPopupMessageContent}}">Help</a>
			</label>
			<input id="confirmSecondaryPassword" type="password" class="pure-input-1" name="confirmSecondaryPassword" autocomplete=off />
		</div>
	</div>
</form>