<div id="browser-notification-blocked" class="model-errors" style="display:none;">
  <div class="message message-block message-info" role="alert">
    <a href="#" class="close" title="Close">Close</a>
    <h4>{{labels.browserNotificationsBlockedMessage}}</h4>
  </div>
</div>

<form action="#none" id="notificationSettingsForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r" >		

		<div class="pure-u-1 l-box">
			<fieldset id="activeChannels">
				<legend>{{labels.notificationTypesTitle}}</legend>
				<div class="fieldset-wrap pure-g-r">
          <div class="pure-u-1-3">
            <label class="pure-checkbox" aria-label="{{labels.SMS}}">
              <input id="activeChannelsms" type="checkbox" name="activeChannels" value="sms"/> {{labels.SMS}}
            </label>
          </div>
          <div class="pure-u-1-3">
            <label class="pure-checkbox" aria-label="{{labels.email}}">
              <input id="activeChannelsmtp" type="checkbox" name="activeChannels" value="smtp"/> {{labels.email}}
            </label>
          </div>
          <div class="pure-u-1-3">
            <label class="pure-checkbox" aria-label="{{labels.eclipse}}">
              <input id="activeChannelwebsocket" type="checkbox" name="activeChannels" value="websocket"/> {{labels.eclipse}}
            </label>
          </div>
        </div>
      </fieldset>
    </div>

		<div class="pure-u-1 l-box">
			<fieldset id="encompassTeam">
				<legend>{{labels.notificationOccuranceTitle}}</legend>
				<div class="fieldset-wrap pure-g-r">
					<div class="pure-u-1-2">
            <label class="pure-radio" aria-label="{{labels.inMyCases}}">
              <input id="encompassTeamFalse" type="radio" name="encompassTeam" value="false"/> {{labels.inMyCases}}
            </label>
					</div>
					<div class="pure-u-1-2">
            <label class="pure-radio" aria-label="{{labels.inMyAndTeamCases}}">
              <input id="encompassTeamTrue" type="radio" name="encompassTeam" value="true"/> {{labels.inMyAndTeamCases}}
            </label>
					</div>
				</div>
			</fieldset>
		</div>

		<div class="pure-u-1 l-box">
			<fieldset id="assignedRealms">
				<legend>{{labels.notifiableEventsTitle}}</legend>
				<div class="fieldset-wrap pure-g-r">
          {{#each realms}}
            <div class="pure-u-1">
              <label class="pure-checkbox" aria-label="{{this.description}}">
                <input id="assignedRealm{{this.sanitisedName}}" type="checkbox" name="assignedRealms" value="{{this.name}}"/> {{this.description}}
              </label>
            </div>
          {{/each}}
        </div>
      </fieldset>
    </div>
	</div>
</form>
