@import "../../../dialog/less/dialog.less";
@import "node_modules/usp-calendar/less/main.less";
@import "../../../message/less/message.less";
@import "../../../webform/less/webform.less";
@import (inline) "node_modules/usp-card/css/main.css";
@import "node_modules/usp-autocomplete/less/main.less";
@import (inline) "node_modules/usp-inline-menu/css/main.css";
@import "../../../error/less/app.less";
@calendarImgPath: "node_modules/usp-calendar/img";

.rule-dashed {
  border: none;
  border-top: 1px dashed #ccc;
}

.flag {
  color: #6a6a6a;
}

.duplicates-list {
  .dup-fade-enter {
    opacity: 0.01;
  }
  .dup-fade-enter-active {
    opacity: 1;
    -webkit-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
  }
  .dup-fade-exit {
    opacity: 1;
  }
  .dup-fade-exit-active {
    opacity: 0.01;
    -webkit-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in;
  }
  .card {
    border-left: 1px solid #e4e4e4;
  }

  .inline-menu span.pure-menu.pure-menu-open{
    margin:0;
  }

}

.person-details {
  &.inner-panel {
    margin-bottom: 0.5em;
  }
}

.identification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  .identifier {
    margin-right: 0.5em;
  }
}

.card-header {
  position: relative;
}

.card-header-menu {
  position: absolute;
  right: -0.75em;
  top: -.25em;
}

.card-header-menu .pure-menu-item a {
  text-align: left
}

.card-header-menu .pure-menu> ul {
  position: absolute;
}

.card-header .card-header-menu span.pure-menu:hover {
  background-color: #fff;
}

.card-header-menu span.pure-menu-open {
  margin: 0;
  border: 0;
}

.card-header-menu .pure-menu-open .pure-menu-children {
  right: 0;
  left: auto;
  top: 2em;
}

.card-header-menu .pure-menu-children {
  background-color: #fff;
  padding: 0.25em;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.card-header-menu .pure-menu-open .pure-menu-children .pure-menu-item {
  opacity: 1;
}

.card-header-menu .pure-menu-children .pure-menu-item {
  display: block;
  border: none;
  color: rgba(0, 0, 0, .87);
  background-color: transparent;
  margin: 0;
  padding: 0 16px;
  outline-color: #bdbdbd;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  height: 2em;
  line-height: 2em;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: opacity .2s cubic-bezier(.4, 0, .2, 1);
  transition: opacity .2s cubic-bezier(.4, 0, .2, 1);
}

.card-header-menu .pure-menu-children .pure-button {
  background-color: #fff;
}

.card-header-menu .pure-menu-children .pure-button:hover, .card-header-menu .pure-menu-children .pure-button:focus {
  background-color: #d9d9d9;
}


.nhs-input-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row
}