<form action="#none" class="pure-form pure-form-stacked" id="caseNoteEntryAddForm">
    <div class="pure-g">
        <div class="pure-u-1 l-box" id="casenoteTabs"></div>
    </div>
    <div id="tabSource">
        <ul class="yui3-tabview-list" role="tablist">
            <li class="yui3-tab yui3-widget yui3-tab-selected" role="presentation">
                <a class="yui3-tab-label yui3-tab-content" href="#caseNoteEntryDraftAddTab" role="tab" tabindex="-1">{{labels.casenoteTabName}}</a>
            </li>
            <li class="yui3-tab yui3-widget" role="presentation">
                <a class="yui3-tab-label yui3-tab-content" href="#caseNoteEntryNewAttachmentTab" role="tab" tabindex="-1">{{labels.attachmentTabName}} <span class="attachmentCount">({{modelData.attachmentsCount}})</span></a>
            </li>
            {{#if isGroup}}
            <li class="yui3-tab yui3-widget" role="presentation">
                <a href="#groupEntryMembers" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="-1">{{labels.viewEntryVisibleMembersTabLabel}}</a>
            </li>
            <li class="yui3-tab yui3-widget" role="presentation">
                <a href="#groupPeopleSeen" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="-1">{{labels.viewPeopleSeenTabLabel}}</a>
            </li>
            {{/if}} {{#if notificationEnabled}}
            <li class="yui3-tab yui3-widget" role="presentation">
                <a class="yui3-tab-label yui3-tab-content" href="#caseNoteEntryNotificationsTab" role="tab" tabindex="-1">{{labels.notificationsTabName}}</a>
            </li>
            {{/if}}
        </ul>
        <div class="yui3-tabview-panel">
            <!-- Case note edit form section-->
            <div class="yui3-tab-panel yui3-tab-panel-selected" id="caseNoteEntryDraftAddTab" role="tabpanel">
                <div id="caseNoteEntryAddForm_fuzzyEventDate"></div>
                <div class="pure-g-r">
                    <div class="l-box pure-u-1">
                        <ul class="fuzzy-current-date-link" id="preSelectDateOptions">
                            <li>
                                <a class="currentDate small" href="#">Select current date</a>
                            </li>
                            <li>
                                <a class="currentDateTime small" href="#">Select current date and time</a>
                            </li>
                        </ul>
                    </div>
                    <div id="caseNoteEntryForm_entryType" class="pure-u-1-2 l-box">
                        <label for="caseNoteEntryAddForm_entryTypeSelect">{{labels.entryType}} <span class="mandatory">*</span></label>
                        <select class="pure-u-1" id="caseNoteEntryAddForm_entryTypeSelect" name="entryType">
                          <option value=""></option>
                        </select>
                    </div>
                    <div id="caseNoteEntryAddForm_entrySubType" class="pure-u-1-2 l-box">
                        <label for="caseNoteEntryAddForm_entrySubTypeSelect">{{labels.entrySubType}}</label>
                        <select class="pure-u-1" id="caseNoteEntryAddForm_entrySubTypeSelect" name="entrySubType">
                          <option value=""></option>
                        </select>
                    </div>
                    <div class="pure-u-1 l-box">
                        <label for="caseNoteEntryAddForm_event">{{labels.event}} <span class="mandatory">*</span></label>
                        <div class="richTextInput formRichTextInput" contenteditable="" data-name="event" id="caseNoteEntryAddForm_event">
                            {{modelData.event}}
                        </div>
                    </div>
                    <div id="caseNote_source" class="pure-u-1">
                        <!--  source form content will render in here -->
                    </div>
                    <div class="pure-u-1-2 l-box">
                        <div class="name">{{labels.practitioner}}</div>
                        <div class="value">{{modelData.practitioner}}</div>
                    </div>
                    <div class="pure-u-1-2 l-box">
                        <label for="caseNoteEntryAddForm_practitionerOrganisation">{{labels.practitionerOrganisation}} <span class="mandatory">*</span></label> <input class="pure-input-1" id="caseNoteEntryAddForm_practitionerOrganisation" maxlength="50" name="practitionerOrganisation" type="text" value="{{modelData.practitionerOrganisation}}">
                    </div>
                    {{#if impactEnabled}}
                    <fieldset class="pure-u-1">
                        <legend class="l-box">{{labels.impact}}</legend>
                        <div class="pure-g-r">
                            <div class="pure-u-1-4 l-box">
                                <label class="pure-radio"><input name="impact" type="radio" {{#isEqual  modelData.impact 'POSITIVE'}}checked="checked"{{/isEqual}} value="POSITIVE">{{labels.impactPositive}}</label>
                            </div>
                            <div class="pure-u-1-4 l-box">
                                <label class="pure-radio"><input name="impact" type="radio" {{#isEqual  modelData.impact 'NEGATIVE'}}checked="checked"{{/isEqual}} value="NEGATIVE">{{labels.impactNegative}}</label>
                            </div>
                            <div class="pure-u-1-4 l-box">
                                <label class="pure-radio"><input name="impact" type="radio" {{#isEqual  modelData.impact 'NEUTRAL'}}checked="checked"{{/isEqual}} value="NEUTRAL">{{labels.impactNeutral}}</label>
                            </div>
                            <div class="pure-u-1-4 l-box">
                                <label class="pure-radio"><input name="impact" type="radio" {{#isEqual  modelData.impact 'UNKNOWN'}}checked="checked"{{/isEqual}} value="UNKNOWN">{{labels.impactUnknown}}</label>
                            </div>
                        </div>
                    </fieldset>
                    {{/if}}
                </div>
            </div>
            <!-- End case note add form tab section-->

            <!-- Start case note attachment list tab section-->
            <div class="yui3-tab-panel" id="caseNoteEntryNewAttachmentTab" role="tabpanel">
                <div class="pure-table pure-table-striped pure-table-hover results-count-hide" id="attachmentResultsView"></div>
            </div>
            <!-- End case note attachment list tab section-->

            {{#if isGroup}}
            <!-- Start Group members tab section-->
            <div class="yui3-tab-panel" id="groupEntryMembers" role="tabpanel">
                <div class="pure-g-r">
                    <div class="pure-u-1 l-box">
                        <label class="pure-checkbox" for="caseNoteEntryAddForm_visibleToAll"><input id="caseNoteEntryAddForm_visibleToAll" name="visibleToAll" type="checkbox" {{#if modelData.visibleToAll}}checked="checked"{{/if}} value="true"> <span>{{labels.visibleToAll}}</span> <a class="pop-up-data" data-content="{{labels.visibleToAllCheckboxLabelPopupMessageContent}}" data-title="{{labels.visibleToAllCheckboxLabelPopupMessageTitle}}" href="#">Help</a></label>
                    </div>
                    <div class="pure-u-1 l-box">
                        <label>{{labels.groupEntryMembers}}:</label>
                    </div>
                    <div class="pure-u-1 l-box groupMembers">
                        {{#each otherData.activeGroupMembersList}}
                        <div class="groupMember">
                            <label class="pure-checkbox"><input class="active-member" name="personVisibility" value="{{this.[personVO!id]}}" type="checkbox" {{#inArray this.[personVO!id] modelData.personVisibility}}checked="checked"{{/inArray}}> {{this.[personVO!name]}} ({{this.[personVO!personIdentifier]}})</label>
                        </div>
                        {{/each}}
                    </div>
                    <div class="pure-u-1 l-box">
                        <label class="pure-checkbox" for="select-all-members-input"><input id="select-all-members-input" name="select-all-members" type="checkbox" value="true"> <span>{{labels.selectAllMembers}}</span></label>
                    </div>
                </div>
            </div>
            <div class="yui3-tab-panel" id="groupPeopleSeen" role="tabpanel">

            </div>
            {{/if}} {{#if notificationEnabled}}
            <!-- start notification tab section -->
            <div class="yui3-tab-panel" id="#caseNoteEntryNotificationsTab" role="tabpanel">
                <div id="recipientSelection">
                    <!-- notification recipient view will render here -->
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</form>
