

<div class="yui3-widget print-view">
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box header" style="padding-left:0;">
      <div class="logo"><img src="../img/{{model.image}}"></div>
    </div>
    <div class="pure-u-1-2 l-box header">
      <div class="context pull-right">
        <span>Case Notes</span><br />
        {{model.name}} ({{model.fullId}})<br />
        {{fuzzyDateFormat model.dateOfBirth}}
      </div>
    </div>
  </div>
</div>