<div class="pure-g-r" id="peopleSeenInputs">
    <div class="pure-u-1 l-box">
        <div class="pure-u-1">
            <h1 class="pure-u-1-2">Name</h1>
            <h1 class="pure-u-4-24 personSeenRadio">Unseen</h1>
            <h1 class="pure-u-4-24 personSeenRadio">Seen</h1>
            <h1 class="pure-u-3-24 personSeenRadio">Seen Alone</h1>
        </div>
        {{#if isGroup}}
            {{#each peopleSeenList}}
            <div>
                <div class="pure-u-1-2"> {{this.personVO.name}} ({{this.personVO.personIdentifier}})</div>
                <input id="{{this.personVO.id}}_unseen" class="active-member pure-u-4-24" name="{{this.personVO.id}}" value="unseen" type="radio" checked="checked" {{#or ../isEditCompleteCaseNoteEntry ../isDeleted}} disabled="disabled" {{/or}}>
                <input id="{{this.personVO.id}}_seen" class="active-member pure-u-4-24" name="{{this.personVO.id}}" value="seen" type="radio" {{#if this.personSeen}} checked="checked" {{/if}} {{#or ../isEditCompleteCaseNoteEntry ../isDeleted}} disabled="disabled" {{/or}}>
                <input id="{{this.personVO.id}}_seenAlone" class="active-member pure-u-3-24" name="{{this.personVO.id}}" value="seenAlone" type="radio" {{#if this.personSeenAlone}} checked="checked" {{/if}} {{#or ../isEditCompleteCaseNoteEntry ../isDeleted}} disabled="disabled" {{/or}}>
            </div>
            {{/each}}
        {{/if}}
        {{#if isPersonWithPersonSeenRecord}}
            {{#each peopleSeenList}}
            <div>
                <div class="pure-u-1-2"> {{this.name}} ({{this.identifier}})</div>
                <input id="{{this.id}}_unseen" class="active-member pure-u-4-24" name="{{this.id}}" value="unseen" type="radio" checked="checked" disabled="disabled">
                <input id="{{this.id}}_seen" class="active-member pure-u-4-24" name="{{this.id}}" value="seen" type="radio" {{#if this.personSeen}} checked="checked" {{/if}} disabled="disabled">
                <input id="{{this.id}}_seenAlone" class="active-member pure-u-3-24" name="{{this.id}}" value="seenAlone" type="radio" {{#if this.personSeenAlone}} checked="checked" {{/if}} disabled="disabled">
            </div>
            {{/each}}
        {{/if}}
    </div>
</div>
