<form action="#none" id="caseNoteEntryNotificationForm" class="pure-form pure-form-stacked"> 
    <div class="pure-g-r">
        <div class="pure-u-1 l-box" id="casenoteNotification"></div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1-2 l-box">
            <p></p>
        </div>
         <div id="recipientSelection" class="pure-u-1">
            <!-- notification recipient view will render here -->
         </div>    
     </div>
</form>
