<div class="readonly" id="caseNoteEntryDialog">
    <div class="pure-g">
        <div class="pure-u-1 l-box" id="casenoteTabs"></div>
    </div>
    <div id="tabSource">
        <ul class="yui3-tabview-list" role="tablist">
            <li class="yui3-tab yui3-widget yui3-tab-selected" role="presentation">
                <a class="yui3-tab-label yui3-tab-content" href="#caseNoteEntryViewTab" role="tab" tabindex="-1">{{labels.casenoteTabName}}</a>
            </li>
            <li class="yui3-tab yui3-widget" role="presentation">
                <a class="yui3-tab-label yui3-tab-content" href="#caseNoteEntryViewAttachmentTab" role="tab" tabindex="-1">{{labels.attachmentTabName}} <span class="attachmentCount">({{modelData.attachmentsCount}})</span></a>
            </li>
            {{#if isGroup}}
              <li class="yui3-tab yui3-widget" role="presentation">
                <a href="#caseNoteEntryViewGroupMembers" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="-1">{{labels.viewEntryVisibleMembersTabLabel}}</a>
              </li>
            {{/if}}
            {{#or isPersonWithPersonSeenRecord isGroup}}
            <li class="yui3-tab yui3-widget" role="presentation">
                <a href="#groupPeopleSeen" class="yui3-tab-label yui3-tab-content" role="tab" tabindex="-1">{{labels.viewPeopleSeenTabLabel}}</a>
            </li>
            {{/or}}
        </ul>
        <div class="yui3-tabview-panel">
            <!-- Case note view form section-->
            <div class="yui3-tab-panel yui3-tab-panel-selected" id="caseNoteEntryViewTab" role="tabpanel">
                <div class="pure-g-r">
                    <div class="pure-u-1 l-box entryDate">
                        <div class="name eventDateLabel">
                            {{labels.eventDate}}
                        </div>
                        <div class="value eventDateValue">
                            {{fuzzyDateFormat modelData.eventDate}}
                        </div>
                    </div>
                    <div class="pure-u-1-2 l-box entryType">
                        <div class="name">
                            {{labels.entryType}}
                        </div>
                        <div class="value">
                            {{codedEntry modelData.entryType codedEntries.entryTypes}}
                        </div>
                    </div>
                    <div class="pure-u-1-2 l-box entrySubType">
                        <div class="name">
                            {{labels.entrySubType}}
                        </div>
                        <div class="value">
                            {{codedEntry modelData.entrySubType codedEntries.entrySubTypes}}
                        </div>
                    </div>
                    <div class="pure-u-1 l-box">
                        <div class="name eventName">
                            {{labels.event}}
                        </div>
                        <div class="value richTextInput eventValue">
                            {{{modelData.event}}}
                        </div>
                    </div>
                    <div id="caseNote_source" class="pure-u-1"><!--  source view content will render in here --></div>
                    <div class="pure-u-1-2 l-box">
                        <div class="name">{{labels.practitioner}}</div>
                        <div class="value">{{modelData.practitioner}}</div>
                    </div>
                    <div class="pure-u-1-2 l-box">
                        <div class="name">{{labels.practitionerOrganisation}}</div>
                        <div class="value">{{modelData.practitionerOrganisation}}</div>
                    </div>
                    {{#if impactEnabled}}
                      <fieldset class="pure-u-1">
                          <legend class="l-box">{{labels.impact}}</legend>
                          <div class="pure-g-r">
                              <div class="pure-u-1-4 l-box">
                                  <label class="pure-radio"><input disabled="disabled" name="impact" type="radio"  {{#isEqual  modelData.impact 'POSITIVE'}}checked="checked"{{/isEqual}} value="POSITIVE">{{labels.impactPositive}}</label>
                              </div>
                              <div class="pure-u-1-4 l-box">
                                  <label class="pure-radio"><input disabled="disabled" name="impact" type="radio"  {{#isEqual  modelData.impact 'NEGATIVE'}}checked="checked"{{/isEqual}} value="NEGATIVE">{{labels.impactNegative}}</label>
                              </div>
                              <div class="pure-u-1-4 l-box">
                                  <label class="pure-radio"><input disabled="disabled" name="impact" type="radio"  {{#isEqual  modelData.impact 'NEUTRAL'}}checked="checked"{{/isEqual}} value="NEUTRAL">{{labels.impactNeutral}}</label>
                              </div>
                              <div class="pure-u-1-4 l-box">
                                  <label class="pure-radio"><input disabled="disabled" name="impact" type="radio"  {{#isEqual  modelData.impact 'UNKNOWN'}}checked="checked"{{/isEqual}} value="UNKNOWN">{{labels.impactUnknown}}</label>
                              </div>
                          </div>
                      </fieldset>
                    {{/if}}
                    <div class="pure-u-1-2 l-box">
                        <div class="name">{{labels.recordedDate}}</div>
                        <div class="value">{{dateTimeFormat modelData.createdStamp.auditDate}}</div>
                    </div>
                    <div class="pure-u-1-2 l-box">
                        <div class="name">{{labels.editedDate}}</div>
                        <div class="value">{{dateTimeFormat modelData.lastEditedStamp.auditDate}}</div>
                    </div>
                </div>
            </div>
            <!-- End case note view form tab section-->
            <!-- Start case note attachment list tab section-->
            <div class="yui3-tab-panel" id="caseNoteEntryViewAttachmentTab" role="tabpanel">
                <div class="pure-table pure-table-striped pure-table-hover results-count-hide" id="attachmentResultsView"></div>
            </div>
            <!-- End case note attachment list tab section-->
            {{#if isGroup}}
              <!-- Case note active members list tab section-->
              <div id="caseNoteEntryViewGroupMembers">
                  <div class="pure-g-r">
                      <div class="pure-u-1 l-box">
                          <label>{{labels.groupEntryMembers}}:</label>
                      </div>
                      <div class="pure-u-1 l-box groupMembers">
                          {{#each otherData.visibleMembersList}}
                          <div class="groupMember">
                              <label class="pure-checkbox">{{this.memberName}} ({{this.memberIdentifier}})</label>
                          </div>{{/each}}
                      </div>
                  </div>
              </div>
              <div class="yui3-tab-panel" id="groupPeopleSeen" role="tabpanel">

              </div>
            {{/if}}
        </div>
    </div>
</div>