<div class="pure-g-r readonly">
	<div class="pure-u-1 l-box">
		<div class="name">{{labels.eventDate}}</div>
		<div class="value">{{fuzzyDateFormat modelData.eventDate}}</div>
		<div class="name">{{labels.event}}</div> 
		<div class="value richTextInput">{{{modelData.event}}}</div>

		<div class="pure-alert pure-alert-block pure-alert-warning">
			<h4>{{labels.uncompleteConfirm}}</h4>
		</div>
	</div>
</div>
