<div class="pure-g-r readonly">
  <div class="pure-u-1 l-box">
    <div class="name">{{labels.eventDate}}</div><div class="value">{{fuzzyDateFormat modelData.eventDate}}</div>
    <div class="name">{{labels.event}}</div>
    <div class="value richTextInput">{{{modelData.event}}}</div>
  </div>
  <div class="pure-u-1 l-box">
  	<div class="pure-alert pure-alert-block pure-alert-warning">
      {{#isEqual otherData.subject.subjectType 'person'}}
        <h4>{{labels.personDeleteConfirm}}</h4>
      {{/isEqual}}
      {{#isEqual otherData.subject.subjectType 'group'}}
        <h4>{{labels.groupDeleteConfirm}}</h4>
      {{/isEqual}}
  	</div>
  </div>
</div>
