<form id="uploadForm" method="post" action="#none" class="pure-form pure-form-stacked">
  <div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
      <label>{{labels.chooseFile}} <span class="mandatory">*</span></label>
      <input type="file" name="file" accept=".xlsx, .pptx, .docx, application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf, image/*, video/*, audio/*" class="pure-input-1" />
    </div>
    <div class="pure-u-1-2 l-box">
      <label for="docTitle">{{labels.docTitle}} <span class="mandatory">*</span></label>
      <input id="docTitle" type="text" class="pure-input-1" name="title" value="" maxlength="250" />
    </div>
    <div class="pure-u-1 l-box">
      <label for="docDescription">{{labels.docDescription}} <span class="mandatory">*</span></label> 
      <input id="docDescription" type="text" class="pure-input-1" name="description" value="" maxlength="250" />
    </div>
  </div>
</form>
