<form method="post" action="#none" id="imageUploadForm" class="pure-form pure-form-stacked">

	<div class="pure-g-r">
		<div class="pure-u-1 l-box"> 	
			<label for="upload_image">{{labels.image}} <span class="mandatory">*</span></label>										
			<input type="file" name="file" id="upload_image" />
		</div>		
	</div>
    
</form>