<div class="pure-g-r summary-block detail-visible">
    <div class="pure-u-1 l-box">
        <div class="filter-context active applied-criteria">
            {{#if filterVisible}}
            <a href="#" class="toggle-expanded search-toggle" title="Hide currently applied search criteria" aria-label="Hide currently applied search criteria">
                <i class="fa fa-chevron-circle-up"></i>
            </a>
            <button type="button" class="pure-button pure-button-text pull-right search-toggle showCriteria">Hide
                criteria</button>
            {{else}}
            <a href="#" class="toggle-expanded search-toggle" title="Show currently applied search criteria" aria-label="Show currently applied search criteria">
                <i class="fa fa-chevron-circle-down"></i>
            </a>
            <button type="button" class="pure-button pure-button-text pull-right search-toggle showCriteria">Show
                criteria</button>
            {{/if}}

            <label id="appliedCriteria_label"><span class="title">Currently applied search criteria:</span></label>

            {{#if activeFilter.nameOrId}}
            <span class="criteria-body">
                <span class=criteria-label>{{labels.nameOrId}}:</span>
                {{modelData.nameOrId}}
            </span>
            {{/if}}

            {{#if activeFilter.type}}
                <span class="criteria-body">
                    <span class=criteria-label>{{labels.type}}:</span>
                    {{#modelData.type}}
                    {{codedEntry this ../codedEntries.organisationType}}
                    {{/modelData.type}}
                </span>
            {{/if}}

            {{#if activeFilter.subType}}
            <span class="criteria-body">
                <span class=criteria-label>{{labels.subType}}:</span>
                {{#modelData.subType}}
                {{codedEntry this ../codedEntries.organisationSubType}}
                {{/modelData.subType}}
            </span>
            {{/if}}

            {{#or activeFilter.houseStreetTown activeFilter.postcode}}
            <span class="criteria-body">
                <span class=criteria-label>{{labels.address}}:</span>
                {{modelData.houseStreetTown}}
                <span> </span>
                {{modelData.postcode}}
            </span>
            {{/or}}

            {{#if activeFilter.externalReferenceNumber}}
            <span class="criteria-body">
                <span class=criteria-label>{{labels.extRefNo}}:</span>
                {{modelData.externalReferenceNumber}}
            </span>
            {{/if}}
        </div>
    </div>
</div>