<form action="#none" class="pure-form pure-form-stacked filter-panel" id="advancedSearchFilterForm">
    <div class="panel">
        <div id="advancedSearchFilterTabs">
            <div class="ui-tabs" id="advancedSearchFilterTabsSrc">
                <ul>
                    <li>
                        <a href="#mainAdvancedSearchPanel">{{labels.main}}</a>
                    </li>
                    <li>
                        <a href="#secondaryAdvancedSearchPanel">{{labels.secondary}}</a>
                    </li>
                </ul>
                <div>
                    <div id="mainAdvancedSearchPanel">
                        <div class="pure-g-r">
                            <div class="pure-u-6-24 l-box">
                                <label for="advancedSearchFilterFormNameOrId">{{labels.nameOrId}}</label>
                                <input id="advancedSearchFilterFormNameOrId" type="text" class="pure-input-1" name="nameOrId"
                                    value="{{modelData.nameOrId}}" />
                            </div>
                            <div class="pure-u-6-24 l-box">
                                <label for="organisationType">{{labels.type}}</label>
                                <select type="text" class="pure-input-1" name="type" id="organisationType"></select>
                            </div>
                            <div class="pure-u-6-24 l-box">
                                <label for="organisationSubType">{{labels.subType}}</label>
                                <select type="text" class="pure-input-1" name="subType" id="organisationSubType"></select>
                            </div>
                            <div class="pure-u-1 l-box">
                                <span style="margin-left:.25em">{{labels.address}}</span>
                            </div>
                            <div class="pure-u-5-24 l-box">
                                <label for="postcode">{{labels.postCode}}</label>
                                <input id="postcode" type="text" class="pure-input-1" style="text-transform: uppercase;"
                                    name="postcode" value="{{modelData.postcode}}" />
                            </div>
                            <div class="pure-u-19-24 l-box">
                                <label for="houseStreetTown">{{labels.houseStreetTown}}</label>
                                <input id="houseStreetTown" type="text" class="pure-input-1" name="houseStreetTown"
                                    value="{{modelData.houseStreetTown}}" />
                            </div>
                        </div>
                    </div>
                    <div id="secondaryAdvancedSearchPanel">
                        <div class="pure-g-r">
                            <div class="pure-u-1-2 l-box">
                                <label for="extexternalReferenceNumber">{{labels.extRefNo}}</label>
                                <input id="externalReferenceNumber" type="text" class="pure-input-1" name="externalReferenceNumber" value="{{modelData.externalReferenceNumber}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>