<form action="#none" class="pure-form pure-form-stacked filter-panel" id="advancedSearchFilterForm">
	<div class="panel">
		<div class="pure-g-r">
			<div class="pure-u-1">
				<fieldset>
					<div class="pure-g-r">
						<div class="pure-u-1 l-box">
							<legend>{{labels.gender}} </legend>
						</div>
						<div class="pure-u-6-24 l-box">
							<label class="pure-checkbox" for="advancedSearchFilterForm_MALE">
								<input aria-label="Male" id="advancedSearchFilterForm_MALE" name="gender" type="checkbox" value="MALE">
								Male
							</label>
						</div>
						<div class="pure-u-6-24 l-box">
							<label class="pure-checkbox" for="advancedSearchFilterForm_FEMALE">
								<input aria-label="Female" id="advancedSearchFilterForm_FEMALE" name="gender" type="checkbox" value="FEMALE">
								Female
							</label>
						</div>
						<div class="pure-u-6-24 l-box">
							<label class="pure-checkbox" for="advancedSearchFilterForm_INDETERMINATE">
								<input aria-label="Indeterminate" id="advancedSearchFilterForm_INDETERMINATE" name="gender" type="checkbox"
								 value="INDETERMINATE">
								Indeterminate
							</label>
						</div>
						<div class="pure-u-6-24 l-box">
							<label class="pure-checkbox" for="advancedSearchFilterForm_UNKNOWN">
								<input aria-label="Unknown" id="advancedSearchFilterForm_UNKNOWN" name="gender" type="checkbox" value="UNKNOWN">
								Unknown
							</label>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="pure-u-6-24 l-box">
				<label for="advancedSearchFilterFormNameOrId">{{labels.nameOrId}}</label>
				<input id="advancedSearchFilterFormNameOrId" type="text" class="pure-input-1" name="nameOrId" value="{{modelData.nameOrId}}" />
			</div>
			<div class="pure-u-10-24">
				<div id="advancedSearchFilterForm_fuzzyBirthDate"></div>
			</div>
			<div class="pure-u-8-24">
				<label class="l-box">{{labels.agedBetween}}</label>
				<div class="pure-g aged">
					<div class="pure-u-12-24 l-box">
						<div class="pure-input-1">
							<input type="number" class="pure-input-1" maxlength="3" id="advancedSearchFilterFormMinAge" name="minAge"
							 value="{{modelData.minAge}}" placeholder="{{labels.rangeBetween}}"/>
							<label class="hidden" for="advancedSearchFilterFormMinAge">{{labels.rangeBetween}}</label>
						</div>
					</div>
					<div class="pure-u-12-24 l-box">
						<div class="pure-input-1">
							<input type="number" class="pure-input-1" maxlength="3" id="advancedSearchFilterFormMaxAge" name="maxAge"
							 value="{{modelData.maxAge}}" placeholder="{{labels.rangeAnd}}"/>
							<label class="hidden" for="advancedSearchFilterFormMaxAge">{{labels.rangeAnd}}</label>
						</div>
					</div>
				</div>
			</div>
			<div class="pure-g-r">
			{{#if otherData.searchContext.nhsNumberVisible}}
				<div class="pure-u-1-2 l-box" id="nhs-wrapper">
					<label for="nhs-input">{{labels.nhsNumber}}</span></label>
					<div class="pure-u-4-24">
						<input type="text" class="pure-input-1 nhs-field" name="nhsFirstThreeDigits" maxlength="3" id="nhsFirstThreeDigits-input"
						 placeholder="123" value="{{modelData.nhsFirstThreeDigits}}" />
					</div>
					<span class="dash">-</span>
					<div class="pure-u-4-24">
						<input type="text" class="pure-input-1 nhs-field" name="nhsSecondThreeDigits" maxlength="3" id="nhsSecondThreeDigits-input"
						 placeholder="123" value="{{modelData.nhsSecondThreeDigits}}" />
					</div>
					<span class="dash">-</span>
					<div class="pure-u-4-24">
						<input type="text" class="pure-input-1 nhs-field" name="nhsLastFourDigits" maxlength="4" id="nhsLastFourDigits-input"
						 placeholder="1234" value="{{modelData.nhsLastFourDigits}}" />
					</div>
				</div>
				{{/if}}
				{{#if otherData.searchContext.chiNumberVisible}}
				<div class="pure-u-1-2 l-box">
					<label for="chiNumber">{{labels.chiNumber}}</label>
					<input id="chiNumber" type="text" class="pure-input-1" name="chiNumber" value="{{modelData.chiNumber}}"
					 maxlength="10" />
				</div>
				{{/if}}
				<div class="pure-u-1-2 l-box">
					<label for="refNo">{{labels.refNo}}</label>
					<input id="refNo" type="text" class="pure-input-1" name="refNo" value="{{modelData.refNo}}" />
				</div>
			</div>
			<div class="pure-u-1 l-box">
				<span style="margin-left:.25em">{{labels.address}}</span>
			</div>
			<div class="pure-u-5-24 l-box">
				<label for="postCode">{{labels.postCode}}</label>
				<input id="postCode" type="text" class="pure-input-1" style="text-transform: uppercase;" name="postCode" value="{{modelData.postCode}}" />
			</div>
			<div class="pure-u-19-24 l-box">
				<label for="houseStreetTown">{{labels.houseStreetTown}}</label>
				<input id="houseStreetTown" type="text" class="pure-input-1" name="houseStreetTown" value="{{modelData.houseStreetTown}}" />
			</div>
		</div>
	</div>
</form>