<div class="pure-g-r summary-block detail-visible">
    <div class="pure-u-1 l-box">
        <div class="filter-context active applied-criteria">
            {{#if filterVisible}}
            <a href="#" class="toggle-expanded search-toggle" title="Hide currently applied search criteria" aria-label="Hide currently applied search criteria">
                <i class="fa fa-chevron-circle-up"></i>
            </a>
            <button type="button" class="pure-button pure-button-text pull-right search-toggle showCriteria">Hide
                criteria</button>
            {{else}}
            <a href="#" class="toggle-expanded search-toggle" title="Show currently applied search criteria" aria-label="Show currently applied search criteria">
                <i class="fa fa-chevron-circle-down"></i>
            </a>
            <button type="button" class="pure-button pure-button-text pull-right search-toggle showCriteria">Show
                criteria</button>
            {{/if}}

            <label id="appliedCriteria_label"><span class="title">Currently applied search criteria:</span></label>

            {{#if activeFilter.nameOrId}}
            <span class="criteria-body">
                <span class=criteria-label>{{labels.nameOrId}}:</span>
                {{modelData.nameOrId}}
            </span>
            {{/if}}

            {{#or activeFilter.houseStreetTown activeFilter.postCode}}
            <span class="criteria-body">
                <span class=criteria-label>{{labels.address}}:</span>
                {{modelData.houseStreetTown}}
                <span> </span>
                {{modelData.postCode}}
            </span>
            {{/or}}

            {{#or activeFilter.minAge activeFilter.maxAge}}
            <span class="criteria-body">
                <span class=criteria-label>{{labels.aged}}:</span>
                {{modelData.minAge}}
                {{#if modelData.minAge}}
                {{#if modelData.maxAge}}
                <span> - </span>
                {{/if}}
                {{/if}}
                {{modelData.maxAge}}
            </span>
            {{/or}}

            {{#if activeFilter.gender}}
            <span class="criteria-body">
                <span class=criteria-label>{{labels.gender}}:</span>
                {{#modelData.gender}}
                {{codedEntry this ../codedEntries.gender}}
                {{/modelData.gender}}
            </span>
            {{/if}}

            {{#if activeFilter.refNo}}
            <span class="criteria-body">
                <span class=criteria-label>{{labels.refNo}}:</span>
                {{modelData.refNo}}
            </span>
            {{/if}}

            {{#if activeFilter.nhsNo}}
            <span class="criteria-body">
                <span class=criteria-label>{{labels.nhsNo}}:</span>
                {{modelData.nhsNo}}
            </span>
            {{/if}}

            {{#if activeFilter.chiNumber}}
            <span class="criteria-body">
                <span class=criteria-label>{{labels.chiNumber}}:</span>
                {{modelData.chiNumber}}
            </span>
            {{/if}}

            {{#if activeFilter.yearOfBirth}}
            <span class="criteria-body">
                <span class=criteria-label>{{labels.dob}}:</span>
                {{modelData.dayOfBirth}}
                {{#if activeFilter.monthOfBirth}}
                {{enumType modelData.dayOfBirth enumTypes.months}}
                {{/if}}
                {{modelData.yearOfBirth}}
            </span>
            {{/if}}
        </div>
    </div>
</div>