<form action="#none" id="absenceFromPlacementViewForm" class="pure-form pure-form-stacked">
		<div class="pure-g-r">
			<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.startDate}}</div>
					<div class="value">{{dateFormat modelData.startDate}}</div>
			</div>
			<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.endDate}}</div>
					<div class="value">{{dateFormat modelData.endDate}}</div>
			</div>
			<div class="pure-u-1 l-box">
					<div class="name">{{labels.absenceType}}</div>
					<div class="value">{{modelData.absenceType.name}}</div>
			</div>
			<div class="pure-u-1 l-box">
					<div class="name">{{labels.reasonMissing}}</div>
					<div class="value">{{codedEntry modelData.reasonMissing codedEntries.reasonMissing}}</div>
			</div>
			<div class="pure-u-1-2 l-box">
					<label for="childOfferedReturnInterview">{{labels.childOfferedReturnInterview}}</label>
					<div id="childOfferedReturnInterview" class="value" name="childOfferedReturnInterview">{{yesNo modelData.childOfferedReturnInterview}}</div>
			</div>
			<div class="pure-u-1-2 l-box">
					<label for="childAcceptedReturnInterview">{{labels.childAcceptedReturnInterview}}</label>
					<div id="childAcceptedReturnInterview" class="value" name="childAcceptedReturnInterview">{{yesNo modelData.childAcceptedReturnInterview}}</div>
			</div>
			<div class="pure-u-1-1 l-box">
					<div class="name">{{labels.absenceNote}}</div>
					<div class="value">{{modelData.absenceNote.content}}</div>
			</div>
		</div>
</form>  