<form action="#none" id="absenceFromPlacementAddForm" class="pure-form pure-form-stacked">
		<div class="pure-g-r">
			<div class="pure-u-1-2 l-box">
					<label for="startDateValue">{{labels.startDate}}<span class="mandatory"> *</span></label>
					<input id="startDateValue" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY HH:MM" name="startDate"/>
			</div>
			<div class="pure-u-1-2 l-box">
					<label for="endDateValue">{{labels.endDate}}</label>
					<input id="endDateValue" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY HH:MM" name="endDate"/>
			</div>
			<div class="pure-u-1-2 l-box">
					<label for="absenceType">{{labels.absenceType}}<span class="mandatory"> *</span></label>
					<select id="absenceType" class="pure-input-1" name="absenceType"></select>
			</div>
			<div class="pure-u-1-2 l-box">
					<label for="reasonMissing">{{labels.reasonMissing}}</label>
					<select id="reasonMissing" class="pure-input-1" name="reasonMissing"></select>
			</div>
			<div class="pure-u-1-2 l-box">
					<label for="childOfferedReturnInterview">{{labels.childOfferedReturnInterview}}</label>
					<div class="pure-u-1-4 l-box">
							<label class="pure-radio" >
							<input id="childOfferedReturnInterviewYes" type="radio" name="childOfferedReturnInterview" value="true" /> Yes
							</label>
						</div>
						<div class="pure-u-1-4 l-box">
							<label class="pure-radio" >
							<input id="childOfferedReturnInterviewNo" type="radio" name="childOfferedReturnInterview" value="false" /> No
							</label>
						</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<div id="childAcceptedReturnInterviewWrapper" style="display:none;">
						<label for="childAcceptedReturnInterview">{{labels.childAcceptedReturnInterview}}<span class="mandatory"> *</span></label>
						<div class="pure-u-1-4 l-box">
								<label class="pure-radio" >
								<input id="childAcceptedReturnInterviewYes" type="radio" name="childAcceptedReturnInterview" value="true" /> Yes
								</label>
							</div>
							<div class="pure-u-1-4 l-box">
								<label class="pure-radio" >
								<input id="childAcceptedReturnInterviewNo" type="radio" name="childAcceptedReturnInterview" value="false" /> No
								</label>
							</div>
				</div>
			</div>
			<div class="pure-u-1-1 l-box">
					<label for="absenceNote">{{labels.absenceNote}}</label>
					<textarea id="absenceNote" type="text" class="pure-input-1 value" name="absenceNote"></textarea>
			</div>
		</div>
</form>
