<form action="#none" id="adoptionInformationViewForm" class="pure-form pure-form-stacked">
		<div class="pure-g-r">
		  
			<div class="pure-u-1-2 l-box">
				<label for="dateShouldBePlaced">{{labels.dateShouldBePlaced}}</label>
				<div class="value">{{dateFormat modelData.dateShouldBePlaced}}</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="dateMatched">{{labels.dateMatched}}</label>
				<div class="value">{{dateFormat modelData.dateMatched}}</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="datePlaced">{{labels.datePlaced}}</label>
				<div class="value">{{dateFormat modelData.datePlaced}}</div>
			</div>
			
			<div class="pure-u-1-2 l-box">
				<label for="genderOfAdopters">{{labels.genderOfAdopters}}</label>
				<div class="value">{{codedEntry modelData.genderOfAdopters codedEntries.gender}}</div>
			</div>
			
			<div class="pure-u-1-2 l-box">
        <label for="formerFosterCarers">{{labels.formerFosterCarers}}</label>
				<div class="value">{{yesNo modelData.formerFosterCarers}}</div>
			</div>
			
			<div class="pure-u-1-2 l-box">
				<label for="legalStatusOfAdopters">{{labels.legalStatusOfAdopters}}</label>
				<div class="value">{{codedEntry modelData.legalStatusOfAdopters codedEntries.legalStatus}}</div>
			</div>
			
			<div class="pure-u-1-1 l-box">
				<h4 class="dialog-subheading">{{labels.adoptionReversedDisrupted}}</h4>
			</div>

			<div class="pure-u-1-2 l-box">
				<label for="disruptionDate">{{labels.disruptionDate}}</label>
				<div class="value">{{dateFormat modelData.disruptionDate}}</div>
			</div>
			
			<div class="pure-u-1-2 l-box">
				<label for="familyFindingActivity">{{labels.familyFindingActivity}}</label>
				<div class="value">{{codedEntry modelData.familyFindingActivity codedEntries.familyFindingActivity}}</div>
			</div>
			
			<div class="pure-u-1 l-box">
				<label for="otherDisruptionReason">{{labels.otherDisruptionReason}}</label>
				<div class="value">{{modelData.otherDisruptionReason}}</div>
			</div>
			
			<div class="pure-u-1-2 l-box">
				<label for="dateNoLongerPlanned">{{labels.dateNoLongerPlanned}}</label>
				<div class="value">{{dateFormat modelData.dateNoLongerPlanned}}</div>
			</div>
			
			<div class="pure-u-1-2 l-box">
				<label for="reasonNoLongerPlanned">{{labels.reasonNoLongerPlanned}}</label>
				<div class="value">{{codedEntry modelData.reasonNoLongerPlanned codedEntries.reasonNoLongerPlanned}}</div>
			</div>
			
		</div>
</form>
