<form action="#none" id="adoptionInformationAddForm" class="pure-form pure-form-stacked">
		<div class="pure-g-r">
		  <div id="date-warning-wrapper" class="pure-u-1 l-box" style="display: none;">
		  	<div id="date-warning-message" class="pure-info">
		  		<p>Date should be placed should be earlier than date matched.</p>
		  	</div>
		  </div>
			<div class="pure-u-1-2 l-box">
				<label for="dateShouldBePlaced">{{labels.dateShouldBePlaced}}<span class="mandatory"> *</span></label>
				<input id="dateShouldBePlaced" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="dateShouldBePlaced"/>
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="dateMatched">{{labels.dateMatched}}</label>
				<input id="dateMatched" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="dateMatched"/>
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="datePlaced">{{labels.datePlaced}}</label>
				<input id="datePlaced" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="datePlaced"/>
			</div>
			<div class="pure-u-1-2 l-box">
					<label for="genderOfAdopters">{{labels.genderOfAdopters}}</label>
					<select id="genderOfAdopters" class="pure-input-1" name="genderOfAdopters"></select>
			</div>
			<div class="pure-u-1-2 l-box">
			<fieldset>
				<legend for="formerFosterCarers">{{labels.formerFosterCarers}}</legend>
				<div class="fieldset-wrap pure-g-r">
					<div class="pure-u-1-4 l-box">
						<label class="pure-radio" >
							<input id="formerFosterCarersYes" type="radio" name="formerFosterCarers" value="true"/> Yes
						</label>
					</div>
					<div class="pure-u-1-4 l-box">
						<label class="pure-radio" >
							<input id="formerFosterCarersNo" type="radio" name="formerFosterCarers" value="false" checked/> No
						</label>
					</div>
				</div>
			</fieldset>
		</div>
			<div class="pure-u-1-2 l-box">
					<label for="legalStatusOfAdopters">{{labels.legalStatusOfAdopters}}</label>
					<select id="legalStatusOfAdopters" class="pure-input-1" name="legalStatusOfAdopters"></select>
			</div>
			<div class="pure-u-1-1 l-box">
				<h4 class="dialog-subheading">{{labels.adoptionReversedDisrupted}}</h4>
			</div>
			<div class="pure-u-1-2 l-box">
					<label for="disruptionDate">{{labels.disruptionDate}}</label>
					<input id="disruptionDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="disruptionDate"/>
			</div>
			<div class="pure-u-1-2 l-box">
					<label for="familyFindingActivity">{{labels.familyFindingActivity}}<span class="mandatory"  style="visibility: hidden"> *</span></label>
					<select id="familyFindingActivity" class="pure-input-1" name="familyFindingActivity"></select>
			</div>
			<div id="otherDisruptionReasonWrapper" class="pure-u-1 l-box" style="display: none;">
					<label for="otherDisruptionReason">{{labels.otherDisruptionReason}}<span class="mandatory"> *</span></label>
					<input id="otherDisruptionReason" type="text" class="pure-input-1" name="otherDisruptionReason"/>
			</div>
			<div class="pure-u-1-2 l-box">
					<label for="dateNoLongerPlanned">{{labels.dateNoLongerPlanned}}</label>
					<input id="dateNoLongerPlanned" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="dateNoLongerPlanned"/>
			</div>
			<div class="pure-u-1-2 l-box">
					<label for="reasonNoLongerPlanned">{{labels.reasonNoLongerPlanned}}</label>
					<select id="reasonNoLongerPlanned" class="pure-input-1" name="reasonNoLongerPlanned"></select>
			</div>
		</div>
</form>
