<form action="#none" id="episodeOfCareViewForm" class="pure-form pure-form-stacked">
		<div class="pure-g-r">
			<div class="pure-u-1-2 l-box">
				<label for="startDate">{{labels.startDate}}</label>
				<div class="value">{{dateFormat modelData.startDate}}</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="endDate">{{labels.endDate}}</label>
				<div class="value">{{dateFormat modelData.endDate}}</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="legalStatusId">{{labels.legalStatus}}</label>
        		<div class="value">{{#each modelData.legalStatuses}}{{#if @index}}<br>{{/if}}{{name}}{{/each}}</div>
			</div>
			{{#if displayProperties.showPlacementProvision}} 		
			<div class="pure-u-1-2 l-box">
				<label for="placementProvision">{{labels.placementProvision}}</label>
				<div class="value">{{codedEntry mainPlacement.placementProvision codedEntries.placementProvision}}</div>
			</div>  
			{{/if}}
			<div class="pure-u-1-2 l-box">
				<label for="startReason">{{labels.startReason}}</label>
				<div class="value">{{codedEntry modelData.startReason codedEntries.startReason}}</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="placementChangeReason">{{labels.placementChangeReason}}</label>
				<div class="value">{{codedEntry modelData.placementChangeReason codedEntries.placementChangeReason}}</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="placementTypeId">{{labels.placementType}}</label>
        		<div class="value">{{{textFormat mainPlacement.placementType.name}}}</div>
			</div>
			<div class="pure-u-1-1 l-box">
				<label for="carerSubjectType">{{labels.carerSubjectType}}</label>
        		<div class="value">
					{{textFormat mainPlacement.carerSubject.name}} ({{mainPlacement.carerSubject.identifier}}) 
				</div>
      		</div> 
			  
			<div class="pure-u-1-1 l-box">
				<label for="fosterCarerRegistration">{{labels.fosterCarerRegistration}}</label>
				<div class="value">
					{{mainPlacement.fosterCarerRegistration.organisation.name}} -
					{{mainPlacement.fosterCarerRegistration.organisation.address.location.location}}
      		</div>

			<div class="pure-u-1-2 l-box">
				<label for="typeOfCare">{{labels.typeOfCare}}</label>
				<div class="value">{{codedEntry modelData.typeOfCare codedEntries.typeOfCare}}</div>
			</div>  
			
			{{#if modelData.endReason}}				
				<div class="pure-u-1-2 l-box">
					{{#if displayProperties.showEndLabel}}					
						<label for="endDate">{{labels.endDate}}</label>
					{{else}}
						<label for="endDate">{{labels.dischargeDate}}</label>
					{{/if}}					
					<div class="value">{{dateFormat modelData.endDate}}</div>
				</div>				
				<div class="pure-u-1-2 l-box">
					{{#if displayProperties.showEndLabel}}					
						<label for="endReason">{{labels.endReason}}</label>
					{{else}}
						<label for="endReason">{{labels.dischargeReason}}</label>
					{{/if}}
					<div class="value">{{codedEntry modelData.endReason codedEntries.endReason}}</div>	
				</div>			
			{{/if}}
			
            {{#if displayProperties.showPlannedEndOfPlacement}}
      		<div class="pure-u-1-2 l-box">
        		<label for="plannedEndOfPlacement">{{labels.plannedEndOfPlacement}}</label>
        		<div class="value">{{yesNo modelData.plannedEndOfPlacement}}</div>
      		</div>
      		{{/if}}
		</div>
</form>