<form action="#none" id="episodeOfCareEditForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r">
		
		<div class="pure-u-1-2 l-box">
			<label for="startDate">{{labels.startDate}}<span class="mandatory"> *</span></label>
			<input id="startDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="startDate"  value={{dateFormat modelData.startDate}} disabled>			
		</div>
		
		<div class="pure-u-1-2 l-box">
			<label for="endDate">{{labels.endDate}}</label>
			<div class="value">{{dateFormat modelData.endDate}}</div>
		</div>

		<div class="pure-u-1-2 l-box">
			<label for="legalStatusId">{{labels.legalStatus}}</label>
			<div class="value">{{#each modelData.legalStatuses}}{{#if @index}}<br>{{/if}}{{name}}{{/each}}</div>
		</div>

		{{#if displayProperties.showPlacementProvision}} 		
		<div class="pure-u-1-2 l-box">
			<label for="placementProvision">{{labels.placementProvision}}</label>
			<div class="value">{{codedEntry mainPlacement.placementProvision codedEntries.placementProvision}}</div>
		</div>  
		{{/if}}

		<div class="pure-u-1-2 l-box">
			<label for="startReason">{{labels.startReason}}</label>
			<div class="value">{{codedEntry modelData.startReason codedEntries.startReason}}</div>
		</div>

		<div class="pure-u-1-2 l-box">
			<label for="placementChangeReason">{{labels.placementChangeReason}}</label>
			<div class="value">{{codedEntry modelData.placementChangeReason codedEntries.placementChangeReason}}</div>
		</div>

		<div class="pure-u-1-2 l-box">
			<label for="placementTypeId">{{labels.placementType}}</label>
			<div class="value">{{{mainPlacement.placementType.name}}}</div>
		</div>
		
		<div class="pure-u-1-2 l-box">
			<label for="fosterCarerRegistration">{{labels.fosterCarerRegistration}}</label>
			<div class="value">
				{{mainPlacement.fosterCarerRegistration.organisation.name}} -
				{{mainPlacement.fosterCarerRegistration.organisation.address.location.location}}</div>
		</div>
		
		<div class="pure-u-1-2 l-box">
			<label for="currentCarer">{{labels.currentCarer}}</label>
			<div class="value">
				{{mainPlacement.carerSubject.name}} ({{mainPlacement.carerSubject.identifier}}) 
			</div>
		</div> 

		<div class="pure-u-1-2 l-box currentTypeOfCareWrapper">
			<label for="currentTypeOfCare">{{labels.currentTypeOfCare}}</label>
			<div class="value">{{codedEntry modelData.typeOfCare codedEntries.typeOfCare}}</div>
		</div>  
		
		<div id="addAddressWrapper" class="pure-u-1-1">	</div>
		
		<div class="pure-u-1-2 l-box carerSubjectTypeWrapper">
			<fieldset>
				<legend>{{labels.carerSubjectType}}<span class="mandatory"> *</span></legend>
				<div class="fieldset-wrap">
					<div class=" pure-g-r">
						<div class="pure-u-1-4 inline">
							<label class="pure-radio">
								<input type="radio" name="carerSubjectType" value="PERSON" checked /> Person
							</label>
						</div>
						<div class="pure-u-1-4 inline">
							<label class="pure-radio">
								<input type="radio" name="carerSubjectType" value="ORGANISATION" /> Organisation
							</label>
						</div>
						<div class="pure-u-1 subjectSearchWrapper" id="subjectSearchWrapper" class="pure-u-1 l-box"></div>
					</div>
				</div>
			</fieldset>
		</div>
		
		<div class="addressWrapper pure-u-1 l-box">
			<div class='pure-info' style="display:none;">{{labels.warnings.noActiveHomeAddress}}</div>
		</div>
	
		<div class="pure-u-1-2 l-box typeOfCareWrapper">
			<label for="typeOfCare">{{labels.typeOfCare}}<span class="mandatory"> *</span></label>
			<select id="typeOfCare" class="pure-input-1" name="typeOfCare" ></select>
		</div>
		
		{{#if modelData.endReason}}				
			<div class="pure-u-1-2 l-box">
				{{#if displayProperties.showEndLabel}}					
					<label for="endDate">{{labels.endDate}}</label>
				{{else}}
					<label for="endDate">{{labels.dischargeDate}}</label>
				{{/if}}					
				<div class="value">{{dateFormat modelData.endDate}}</div>
			</div>				
			<div class="pure-u-1-2 l-box">
				{{#if displayProperties.showEndLabel}}					
					<label for="endReason">{{labels.endReason}}</label>
				{{else}}
					<label for="endReason">{{labels.dischargeReason}}</label>
				{{/if}}
				<div class="value">{{codedEntry modelData.endReason codedEntries.endReason}}</div>	
			</div>			
		{{/if}}
		
		{{#if displayProperties.showPlannedEndOfPlacement}}
			<div class="pure-u-1-2 l-box">
				<label for="plannedEndOfPlacement">{{labels.plannedEndOfPlacement}}</label>
				<div class="value">{{yesNo modelData.plannedEndOfPlacement}}</div>
			</div>
		{{/if}}
	</div>
</form>