<form action="#none" id="episodeOfCareAddForm" class="pure-form pure-form-stacked">
		<div class="pure-g-r">
			<div class="pure-u-1-2 l-box">
				<label for="startReason">{{labels.startReason}}<span class="mandatory"> *</span></label>
				<select id="startReason" class="pure-input-1" name="startReason"></select>
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="startDate">{{labels.startDate}}<span class="mandatory"> *</span></label>
				<input id="startDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="startDate"/>
			</div>
			<div class="pure-u-1 l-box">
				<label for="legalStatusIds">{{labels.legalStatus}}<span class="mandatory" style="visibility: hidden"> *</span></label>
				<select id="legalStatusIds" type="text" class="pure-input-1"></select>
			</div>
			<div class="pure-u-1 l-box">
				<div id="legalStatuses"></div>
			</div>
			<div id="placementProvisionContainer" class="pure-u-1-2 l-box">
				<label for="placementProvision">{{labels.placementProvision}}<span class="mandatory"> *</label>
				<select id="placementProvision" class="pure-input-1" name="placementProvision"></select>
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="placementChangeReason">{{labels.placementChangeReason}}<span class="mandatory" style="visibility: hidden"> *</span></label>
				<select id="placementChangeReason" class="pure-input-1" name="placementChangeReason"></select>
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="placementTypeId">{{labels.placementType}}<span class="mandatory"> *</label>
				<select id="placementType" class="pure-input-1" name="placementTypeId"></select>
			</div>

			<div id="addAddressWrapper" class="pure-u-1-1">
			</div>

			<div class="pure-u-1-2 l-box plannedEndOfPlacementWrapper">
				<fieldset id="plannedEndOfPlacement">
					<legend for="plannedEndOfPlacement">{{labels.plannedEndOfPlacement}}<span class="mandatory"  style="visibility: hidden"> *</span></legend>
					<div class="fieldset-wrap pure-g-r">
						<div class="pure-u-1-4 l-box">
							<label class="pure-radio" >
							<input type="radio" name="plannedEndOfPlacement" value="true" />Yes
							</label>
						</div>
						<div class="pure-u-1-4 l-box">
							<label class="pure-radio" >
							<input type="radio" name="plannedEndOfPlacement" value="false" />No
							</label>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="pure-u-1-2 l-box carerSubjectTypeWrapper">
				<fieldset>
					<legend for="carerSubjectType">{{labels.carerSubjectType}}<span class="mandatory"> *</span></legend>			
					<div class="fieldset-wrap">
						<div class=" pure-g-r">
							<div class="pure-u-1-4 inline">
								<label class="pure-radio">
									<input type="radio" name="carerSubjectType" value="PERSON" checked /> Person
								</label>
							</div>
							<div class="pure-u-1-4 inline">
								<label class="pure-radio">
									<input type="radio" name="carerSubjectType" value="ORGANISATION" /> Organisation
								</label>
							</div>
							<div class="pure-u-1 subjectSearchWrapper" id="subjectSearchWrapper" class="pure-u-1 l-box"></div>
						</div>					
					</div>
				</fieldset>				
			</div>
			<div class="parentWrapper pure-u-1 l-box">
				<div class="parentAddress">
					<label for="parent">{{labels.parent}}<span class="mandatory"> *</span></label>
					<select id="parent" class="pure-input-1" name="parent"></select>
				</div>
				<div class='pure-info' style="display:none;">{{labels.warnings.noParentExists}}</div>
			</div>
			<div class="addressWrapper pure-u-1 l-box">
				<div class='pure-info' style="display:none;">{{labels.warnings.noActiveHomeAddress}}</div>
			</div>
			<div class="personPlacementAddressWrapper pure-u-1 l-box">
				<div class="personPlacementAddress">
					<div class="name">{{labels.address}}</div>
					<div class="value" id="personPlacementAddress"></div>
				</div>
				<div class='pure-info' style="display:none;">{{labels.warnings.noActivePlacementAddress}}</div>
			</div>
			<div class="pure-u-1-2 l-box typeOfCareWrapper">
				<label for="typeOfCare">{{labels.typeOfCare}}<span class="mandatory"> *</span></label>
				<select id="typeOfCare" class="pure-input-1" name="typeOfCare"></select>
			</div>
			<div class="pure-u-1 l-box" id="episodeWarningsWrapper"></div>
		</div>
</form>  
