<div class="pure-g-r readonly">
    <div class="pure-u-1-2 l-box">
        <div class="name">{{labels.reasonForAdmission}}</div>
        <div class="value">{{modelData.startReason}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
        <div class="name">{{labels.providerType}}</div>
        <div class="value">{{modelData.placement.providerCodeDesc}}</div>
    </div>
    <div class="pure-u-1-1 l-box">
        <div class="name">{{labels.previouslyLookedAfter}}</div>
        <div class="value">{{yesNo modelData.previousPermanence.lookedAfter}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
        <div class="name">{{labels.localAuthority}}</div>
        <div class="value">{{modelData.previousPermanence.localAuthority}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
        <div class="name">{{labels.date}}</div>
        <div class="value">{{dateFormat modelData.previousPermanence.date}}</div>
    </div>
</div>