<div class="pure-g-r readonly">
    <div class="pure-u-1-2 l-box">
        <div class="name">{{labels.startReason}}</div>
        <div class="value">{{textFormat modelData.placement.startReason}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
        <div class="name">{{labels.placementProvision}}</div>
        <div class="value">{{textFormat modelData.placement.providerCodeDesc}}</div>
    </div>
    <div class="pure-u-1-1 l-box">
        <div class="name">{{labels.placementChangeReason}}</div>
        <div class="value">{{textFormat modelData.placement.changeCodeDesc}}</div>
    </div>
</div>
