<form action="#none" id="periodOfCareAddForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
		<div class="pure-u-1-2 l-box">
			<label for="startDate">{{labels.startDate}}<span class="mandatory"> *</span></label>
			<input id="startDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="startDate" />
		</div>
		<div class="pure-u-1-2 l-box">
		    {{#if showWelshView}}
			  <label for="categoryOfNeedId">{{labels.careAndSupportNeed}}<span class="mandatory"> *</span></label>
			{{else}}
			  <label for="categoryOfNeedId">{{labels.categoryOfNeed}}<span class="mandatory"> *</span></label>
			{{/if}}			
			<select id="categoryOfNeedId" class="pure-input-1" name="categoryOfNeedId"></select>
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="placementType">{{labels.placementType}}<span class="mandatory"> *</span></label>
			<select id="placementType" class="pure-input-1" name="placementTypeId"></select>
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="legalStatus">{{labels.legalStatus}}<span class="mandatory"> *</span></label>
			<select id="legalStatus" class="pure-input-1" name="legalStatusId"></select>
		</div>

		<div id="addAddressWrapper" class="pure-u-1-1">
		</div>

		<div class="pure-u-1-2 l-box carerSubjectTypeWrapper">
			<fieldset>
				<legend>{{labels.carerSubjectType}}<span class="mandatory"> *</span></legend>
				<div class="fieldset-wrap">
					<div class=" pure-g-r">
						<div class="pure-u-1-4 inline">
							<label class="pure-radio">
								<input type="radio" name="carerSubjectType" value="PERSON" checked /> Person
							</label>
						</div>
						<div class="pure-u-1-4 inline">
							<label class="pure-radio">
								<input type="radio" name="carerSubjectType" value="ORGANISATION" /> Organisation
							</label>
						</div>
						<div class="pure-u-1 subjectSearchWrapper" id="subjectSearchWrapper" class="pure-u-1 l-box"></div>
					</div>
				</div>
			</fieldset>
		</div>

		<div class="pure-u-1-2 l-box typeOfCareWrapper">
			<label for="typeOfCare">{{labels.typeOfCare}}<span class="mandatory"> *</span></label>
			<select id="typeOfCare" class="pure-input-1" name="typeOfCare"></select>
		</div>

		<div class="parentWrapper pure-u-1 l-box">
			<div class="parentAddress">
				<label for="parent">{{labels.parent}}<span class="mandatory"> *</span></label>
				<select id="parent" class="pure-input-1" name="parent"></select>
			</div>
			<div class='pure-info' style="display:none;">{{labels.warnings.noParentExists}}</div>
		</div>
		<div class="addressWrapper pure-u-1 l-box">
			<div class='pure-info' style="display:none;">{{labels.warnings.noActiveHomeAddress}}</div>
		</div>
		<div class="pure-u-1-2 l-box">
			<fieldset id="previouslyLookedAfter">
				<legend for="previouslyLookedAfter">{{labels.previouslyLookedAfter}}<span class="mandatory"> *</span></legend>
				<div class="fieldset-wrap pure-g-r">
					<div class="pure-u-1-4 l-box">
						<label class="pure-radio">
							<input id="previouslyLookedAfterYes" type="radio" name="previouslyLookedAfter" value="true" /> Yes
						</label>
					</div>
					<div class="pure-u-1-4 l-box">
						<label class="pure-radio">
							<input id="previouslyLookedAfterNo" type="radio" name="previouslyLookedAfter" value="false" checked /> No
						</label>
					</div>
				</div>
			</fieldset>
		</div>

		<div class="pure-u-1 pure-g-r" id="permanenceOrderFields" style="display: none">
			<div class="pure-u-1-2 l-box">
				<label for="previousPermanenceOption">{{labels.previousPermanenceOption}}<span class="mandatory"> *</span></label>
				<select id="previousPermanenceOption" class="pure-input-1" name="previousPermanenceOption"></select>
			</div>
			<div class="pure-u-1-2"></div>
			<div class="pure-u-1-2 l-box">
				<label for="previousPermanenceLocalAuthorityIdWrapper">{{labels.previousPermanenceLocalAuthority}}</label>
				<div class="pure-u-1" id="previousPermanenceLocalAuthorityIdWrapper" class="pure-u-1 l-box"></div>
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="previousPermanenceRegion">{{labels.previousPermanenceRegion}}</label>
				<select id="previousPermanenceRegion" class="pure-input-1" name="previousPermanenceRegion"></select>
			</div>
			<div id="permanencePlacementDate-wrapper" class="pure-u-1-1 l-box">
				<div id="permanencePlacementDate-input" class="fieldset-wrap"></div>
			</div>
		</div>

		<div class="pure-u-1-2 l-box" id="providerTypeWrapper">
			<label for="placementProvision">{{labels.placementProvision}}<span class="mandatory"> *</span></label>
			<select id="placementProvision" class="pure-input-1" name="placementProvision"></select>
		</div>

		<div class="pure-u-1-2 l-box" id="siblingGroupWrapper">
			<fieldset id="siblingGroup">
				<legend for="siblingGroup">{{labels.siblingGroup}}<span class="mandatory"> *</span></legend>
				<div class="fieldset-wrap pure-g-r">
					<div class="pure-u-1-4 l-box">
						<label class="pure-radio">
							<input id="siblingGroupYes" type="radio" name="siblingGroup" value="true" /> Yes
						</label>
					</div>
					<div class="pure-u-1-4 l-box">
						<label class="pure-radio">
							<input id="siblingGroupNo" type="radio" name="siblingGroup" value="false" checked /> No
						</label>
					</div>
				</div>
			</fieldset>
		</div>

		<div class="pure-u-1-2 l-box" id="siblingsAssessedGroupWrapper">
			<fieldset id="siblingGroup">
				<legend for="siblingsAssessed">{{labels.siblingsAssessed}}<span class="mandatory"> *</span></legend>
				<div class="fieldset-wrap pure-g-r">
					<div class="pure-u-1-4 l-box">
						<label class="pure-radio">
							<input id="siblingsAssessedYes" type="radio" name="siblingsAssessed" value="true" /> Yes
						</label>
					</div>
					<div class="pure-u-1-4 l-box">
						<label class="pure-radio">
							<input id="siblingsAssessedNo" type="radio" name="siblingsAssessed" value="false" checked /> No
						</label>
					</div>
				</div>
			</fieldset>
		</div>

	</div>
</form>