<form action="#none" id="periodOfCareEndForm" class="pure-form pure-form-stacked">
		<div class="pure-g-r">
			<div id="adoptionWarning" class="pure-alert pure-alert-info pure-u-1-1" hidden>
				<p>{{labels.adoptionWarning}}</p>
			</div>
			<div id="ageWarning" class="pure-alert pure-alert-info pure-u-1-1" hidden>
				<p>{{labels.ageWarning}}</p>
			</div>
			<div class="pure-u-1-2 l-box">
					<label for="endDate">{{labels.endDate}}<span class="mandatory"> *</span></label>
					<input id="endDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="endDate"/>
			</div>
			<div class="pure-u-1-2 l-box">
					<label for="endReaso">{{labels.endReason}}<span class="mandatory"> *</span></label>
					<select id="endReason" class="pure-input-1" name="endReason"></select>
			</div>
		</div>
</form>  
