<div class="pure-g-r">
    <div class="pure-u-1 l-box" id="location-wrapper">
        <label>{{labels.location}}<span class="mandatory">*</span>
            <a href="#" class="input-link-above" id="location_toggleAddLocation">{{labels.addLocation}}</a></label>
    </div>

    <div class="pure-u-1-1 l-box">
        <div id="overMaxResults-wrapper" class="pure-info">
            <p class="estimatedInfo">{{labels.overMaxResults}}</p>
        </div>
    </div>

    <div class="pure-u-1-2 l-box" id="postcodeSearch-wrapper">
        <label for="postcodeSearch-input" id="postcodeSearch-label">{{labels.postcode}}</label>
        <input id="postcodeSearch-input" class="pure-input-1" name="postcodeSearch" maxlength="100" type="text" />
    </div>

    <div class="pure-u-1-2 l-box" id="houseSearch-wrapper">
        <label for="houseSearch-input" id="houseSearch-label">{{labels.houseNameOrNumber}}</label>
        <input id="houseSearch-input" class="pure-input-1" name="houseSearch" maxlength="100" type="text" />
    </div>

    <div class="pure-u-1-1 l-box">
        <div id="address_search_note" class="pure-info">
            <p class="estimatedInfo">{{labels.addressNote}}</p>
        </div>
    </div>

    <div class="pure-u-1-1 l-box">
        <div id="noSearchResults-wrapper" class="pure-info">
            <p class="estimatedInfo">{{labels.noResults}} <a href="#" id="location_toggleAddLocation">{{labels.addALocation}}</a></p>
        </div>
    </div>

    <div class="pure-u-1 l-box">
        <div id="locations">
            <div class="text">
                <ul class="ac-single-selection">
                </ul>
            </div>
        </div>
    </div>

    <div class="pure-u-1-2 l-box" id="roomDescription-wrapper">
        <label for="roomDescription-input" id="roomDescription-label">{{labels.roomDescription}}</label>
        <input id="roomDescription-input" class="pure-input-1" name="roomDescription" maxlength="255" type="text" />
    </div>

    <div class="pure-u-1-2 l-box" id="floorDescription-wrapper">
        <label for="floorDescription-input" id="floorDescription-label">{{labels.floorDescription}}</label>
        <input id="floorDescription-input" class="pure-input-1" name="floorDescription" maxlength="255" type="text" />
    </div>
</div>