<form action="#none" id="periodOfCareAddForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r">
		<div class="pure-u-1-2 l-box">
			<label for="startDate">{{labels.startDate}}<span class="mandatory"> *</span></label>
			<input id="startDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="startDate" />
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="admissionReason">{{labels.admissionReason}}<span class="mandatory"> *</span></label>
			<select id="admissionReason" class="pure-input-1" name="admissionReason"></select>
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="placementType">{{labels.placementType}}<span class="mandatory"> *</span></label>
			<select id="placementType" class="pure-input-1" name="placementTypeId"></select>
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="legalStatus">{{labels.legalStatus}}<span class="mandatory"> *</span></label>
			<select id="legalStatus" class="pure-input-1" name="legalStatusId"></select>
		</div>
		<div class="pure-u-1-2 l-box carerSubjectTypeWrapper">
			<fieldset>
				<legend for="carerSubjectType">{{labels.carerSubjectType}}<span class="mandatory"> *</span></legend>
				<div class="fieldset-wrap">
					<div class=" pure-g-r">
						<div class="pure-u-1-4 inline">
							<label class="pure-radio">
								<input type="radio" name="carerSubjectType" value="PERSON" checked /> Person
							</label>
						</div>
						<div class="pure-u-1-4 inline">
							<label class="pure-radio">
								<input type="radio" name="carerSubjectType" value="ORGANISATION" /> Organisation
							</label>
						</div>
						<div class="pure-u-1 subjectSearchWrapper" id="subjectSearchWrapper" class="pure-u-1 l-box"></div>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="pure-u-1-2 l-box typeOfCareWrapper">
			<label for="typeOfCare">{{labels.typeOfCare}}<span class="mandatory"> *</span></label>
			<select id="typeOfCare" class="pure-input-1" name="typeOfCare"></select>
		</div>
		<div class="parentWrapper pure-u-1 l-box">
			<div class="parentAddress">
				<label for="parent">{{labels.parent}}<span class="mandatory"> *</span></label>
				<select id="parent" class="pure-input-1" name="parent"></select>
			</div>
			<div class='pure-info' style="display:none;">{{labels.warnings.noParentExists}}</div>
		</div>
		<div class="addressWrapper pure-u-1 l-box">
			<div class='pure-info' style="display:none;">{{labels.warnings.noActiveHomeAddress}}</div>
		</div>		
	</div>
</form>