<form action="#none" id="temporaryPlacementEditForm" class="pure-form pure-form-stacked">
    <div class="pure-g-r">
        <div class="pure-u-1-2 l-box">
            <div class="name">{{labels.startDate}}</div>
            <div class="value">{{dateFormat otherData.placement.startDate}}</div>
        </div>
        <div class="pure-u-1-2 l-box">
            <label for="endDate">{{labels.endDate}}<span class="mandatory"> *</span></label>
            <input id="endDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="endDate" value="{{dateFormat modelData.endDate}}" />
        </div>
			{{#if displayProperties.showProviderTypeField}}
        <div class="pure-u-1-2 l-box">
            <div class="name">{{labels.placementProvision}}</div>
            <div class="value">{{codedEntry otherData.placement.placementProvision codedEntries.placementProvisions}}</div>
        </div>
        <div class="pure-u-1-2 l-box">
            <div class="name">{{labels.placementType}}</div>
            <div class="value">{{codedEntry otherData.placement.placementType.code codedEntries.placementTypes}}</div>
        </div>
			{{else}}
        <div class="pure-u-1-2 l-box">
            <div class="name">{{labels.placementType}}</div>
            <div class="value">{{codedEntry otherData.placement.placementType.code codedEntries.placementTypes}}</div>
        </div>
        <div class="pure-u-1-2 l-box">
        </div>
      {{/if}}
        {{#if otherData.carerSubject}}
            <div class="pure-u-1-2 l-box">
                <div class="name">{{labels.carerType}}</div>
                <div class="value">{{codedEntry otherData.carerSubject.type codedEntries.carerTypes}}</div>
            </div>
            <div class="pure-u-1-2 l-box">
                <div class="name">{{labels.carer}}</div>
                <div class="value">{{otherData.carerSubject.identifier}} - {{otherData.carerSubject.name}}</div>
            </div>
        {{/if}}
        <div class="pure-u-1 l-box" id="tempPlacementWarningsWrapper">
        </div>
    </div>
</form>
