<div class="pure-g-r readonly">
    <div class="pure-u-1-2 l-box">
        <div class="name">{{labels.startDate}}</div>
        <div class="value">{{dateFormat modelData.placement.startDate}}</div>
    </div>
    <div class="pure-u-1-2 l-box">
        <div class="name">{{labels.endDate}}</div>
        <div class="value">{{dateFormat modelData.placement.endDate}}</div>
    </div>
    {{#if displayProperties.showProviderTypeField}}
        <div class="pure-u-1-2 l-box">
            <div class="name">{{labels.placementProvision}}</div>
            <div class="value">{{codedEntry modelData.placement.placementProvision codedEntries.placementProvisions}}</div>
        </div>
        <div class="pure-u-1-2 l-box">
            <div class="name">{{labels.placementType}}</div>
            <div class="value">{{codedEntry modelData.placement.placementType.code codedEntries.placementTypes}}</div>
        </div>
    {{else}}
        <div class="pure-u-1-2 l-box">
            <div class="name">{{labels.placementType}}</div>
            <div class="value">{{codedEntry modelData.placement.placementType.code codedEntries.placementTypes}}</div>
        </div>
        <div class="pure-u-1-2 l-box">
        </div>
    {{/if}}
    {{#if modelData.carerSubject}}
        <div class="pure-u-1-2 l-box">
            <div class="name">{{labels.carerType}}</div>
            <div class="value">{{codedEntry modelData.carerSubject.type codedEntries.carerTypes}}</div>
        </div>
        <div class="pure-u-1-2 l-box">
            <div class="name">{{labels.carer}}</div>
            <div class="value">{{modelData.carerSubject.identifier}} - {{modelData.carerSubject.name}}</div>
        </div>
    {{/if}}
</div>
