<form action="#none" id="temporaryPlacementAddForm" class="pure-form pure-form-stacked">
	<div class="pure-g-r">
		<div class="pure-u-1-2 l-box">
			<label for="startDate">{{labels.startDate}}<span class="mandatory"> *</span></label>
			<input id="startDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="startDate" />
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="endDate">{{labels.endDate}}</label>
			<input id="endDate" type="text" class="pure-input-1" placeholder="DD-MMM-YYYY" name="endDate" />
		</div>
		{{#if displayProperties.showProviderTypeField}}
		<div class="pure-u-1-2 l-box">
			<label for="placementProvision">{{labels.placementProvision}}<span class="mandatory"> *</span></label>
			<div id="placementProvision" class="value" name="placementProvision">
				{{codedEntry modelData.placementProvision codedEntries.placementProvisions}}</div>
		</div>
		<div class="pure-u-1-2 l-box">
			<label for="placementTypeId">{{labels.placementType}}<span class="mandatory"> *</span></label>
			<select id="placementType" class="pure-input-1" name="placementTypeId"></select>
		</div>
		{{else}}
		<div class="pure-u-1-2 l-box">
			<label for="placementTypeId">{{labels.placementType}}<span class="mandatory"> *</span></label>
			<select id="placementType" class="pure-input-1" name="placementTypeId"></select>
		</div>
		{{/if}}
		<div class="pure-u-1-2 l-box" id="carerControls">
			<div class="pure-g-r" id="carerTypeRadio">
				<div class="pure-u-1-2 l-box">
					<label class="pure-radio">
						<input id="carerType" type="radio" name="carerType"
							value="ORGANISATION" />{{labels.carerTypeOrganisation}}
					</label>
				</div>
				<div class="pure-u-1-2 l-box">
					<label class="pure-radio">
						<input id="carerType" type="radio" name="carerType" checked="checked"
							value="PERSON" />{{labels.carerTypePerson}}
					</label>
				</div>
			</div>
			<fieldset id="carerSubject">
				<label for="carerSubjectType" id="carerSubjectLabel">{{labels.carer}}<span class="mandatory"> *</span></label>
				<div class="fieldset-wrap pure-g-r">
					<div class="pure-u-1 subjectSearchWrapper" id="personSubjectSearchWrapper" class="pure-u-1 l-box">
					</div>
					<div class="pure-u-1 subjectSearchWrapper" id="organisationSubjectSearchWrapper"
						class="pure-u-1 l-box"></div>
				</div>
			</fieldset>
		</div>
		<div class="pure-u-1 l-box" id="tempPlacementWarningsWrapper">
		</div>
	</div>
</form>