@import (inline) "node_modules/usp-accordion-panel/css/main.css";
@import (inline) "node_modules/usp-inline-menu/css/main.css";
@import "../../childlookedafter/less/cla-accordion.less";
@import "../../childlookedafter/less/periods-of-care.less";
@import "table";
@import "../../childlookedafter/less/table-actions.less";
@import "../../error/less/app.less";

.child-looked-after-content {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
