<form action="#none" id="groupAddForm" class="pure-form pure-form-stacked">
	<fieldset>
	
	 	<div class="pure-g-r">
			<div class="pure-u-1 l-box">
				<div class="pure-narrative"><span class="narrative-summary">{{labels.addGroupMessage}}</span>
					{{#if otherData.newGroupAndMemberForm}}
						<span class="narrative-description">{{otherData.person.name}} ({{otherData.person.personId}}) {{labels.addGroupAndMemberMessage}}</span>
					{{/if}}
				</div>
			</div>
	
			<div class="pure-u-1 l-box">    			
				<label for="name-input">{{labels.name}} <span class="mandatory">*</span></label>  
	            <input type="text" class="pure-input-1" name="name" id="name-input" maxlength="50" value="{{modelData.name}}" />
	               
			</div>
			
			<div class="pure-u-1 l-box">    	
				<label for="description-input">{{labels.description}} </label>
	            <textarea name="description" class="pure-input-1" id="description-input" rowCount="5" maxlength="160" >{{modelData.description}}</textarea>
			</div>
	
    		<div class="pure-u-1-2 l-box">    			
				<label for="groupType-input">{{labels.type}} <span class="mandatory">*</span></label>
				<select name="groupType" class="pure-input-1" id="groupType-input" disable="disabled">						
					<option value=""></option>
				</select>	
			</div>
			
			<div class="pure-u-1-2 l-box">
        		<label for="startDate-input">{{labels.startDate}} <span class="mandatory">*</span></label>
        		<input type="text" class="pure-input-1" id="startDate-input" name="startDate" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.startDate}}" />
    		</div>
			

		</div>  

	</fieldset>
</form>				
