<form action="#none" id="groupCloseMembershipForm" class="pure-form pure-form-stacked">
	<fieldSet>
		<div class="pure-g-r">
        	<div class="pure-u-1 l-box">
            	<div class="pure-narrative">
            		<span class="narrative-summary">You're ending</span>
            		<span class="narrative-description">{{modelData.personVO.name}}'s membership</span>
            		<span class="narrative-summary">  of the group </span>
            		<span class="narrative-description">{{modelData.groupVO.name}} ({{modelData.groupVO.groupIdentifier}})</span>
           		</div>
            </div>
         
			<div class="pure-u-1 l-box">
				<div class="name">{{labels.membershipLabels.joinDate}}</div><div class="value">{{dateFormat  modelData.joinDate}}</div>
			</div>
			<div class="pure-u-1-2 l-box">       
				<label for="group-membership-leaveDate">{{labels.membershipLabels.leaveDate}} <span class="mandatory">*</span></label>
				<input type="text" class="pure-input-1" name="leaveDate" id="group-membership-leaveDate" maxlength="11" placeholder="DD-MMM-YYYY" min="{{dateFormat modelData.joinDate}}" max="{{dateFormat modelData.groupVO.closeDate}}" value="{{dateFormat modelData.groupVO.closeDate}}"/>
			</div>
			<div class="pure-u-1-2 l-box">
				<label for="leaveReason-input">{{labels.membershipLabels.leaveReason}}<span class="mandatory">*</span></label>
				<select type="text" class="pure-input-1" name="leaveReason" id="leaveReason-input">
					<option value=""></option>
				</select>
			</div>
			<div class="pure-u-1 l-box">
			    <div class="pure-alert pure-alert-block pure-alert-warning">
					<h4>{{labels.membershipLabels.endConfirmMainMembership}}</h4>
            	</div>
            </div>
		</div>
	<fieldSet>
</form>

