<form action="#none" id="groupEditForm" class="pure-form pure-form-stacked">
	<fieldset>
	
		<div class="pure-g-r">
			<div class="pure-u-1 l-box">
				<div class="pure-narrative"><span class="narrative-summary">{{labels.editGroupMessage}}</span><span class="narrative-description">{{modelData.name}} ({{modelData.groupIdentifier}})</span></div>
			</div>

			<div class="pure-u-1-2 l-box">   
				<div class="name">{{labels.id}}</div>
				<div class="value">{{modelData.groupIdentifier}}</div>
				
			</div>
			
			<div class="pure-u-1-2 l-box">   
				<div class="name">{{labels.startDate}}</div>
				<div class="value">{{dateFormat modelData.startDate}}</div>
			</div>
	
			<div class="pure-u-1 l-box">           
				<label for="name-input">{{labels.name}} <span class="mandatory">*</span></label>  
	            <input type="text" class="pure-input-1" name="name" id="name-input" maxlength="50" value="{{modelData.name}}" /> 
			</div>
			
			<div class="pure-u-1 l-box">    	
				<label for="description-input">{{labels.description}} </label>
	            <textarea name="description" class="pure-input-1" id="description-input" rowCount="5" maxlength="160">{{modelData.description}}</textarea>
			</div>
		
			<div class="pure-u-1-2 l-box">    			
				<label for="groupType-input">{{labels.type}} <span class="mandatory">*</span></label>
				<select name="groupType" class="pure-input-1" id="groupType-input" disable="disabled">						
					<option value=""></option>
				</select>	
			</div>			
		</div> 	

	</fieldset>    	
</form>