		<div class="pure-g-r readonly">
			<div class="pure-u-1 l-box">
				<div class="pure-narrative">
            		<span class="narrative-summary">You're removing</span>
            		<span class="narrative-description">{{modelData.personVO.name}}'s membership</span>
            		<span class="narrative-summary">  of the group </span>
            		<span class="narrative-description">{{modelData.groupVO.name}} ({{modelData.groupVO.groupIdentifier}})</span>            		
				</div>

			</div>

			<div class="pure-u-1 l-box">
				<div class="name">{{labels.membershipLabels.joinDate}}</div><div class="value">{{dateFormat  modelData.joinDate}}</div>
			</div>
			<div class="pure-u-1-2 l-box"> 
				<div class="name">{{labels.membershipLabels.leaveDate}}</div><div class="value">{{dateFormat  modelData.leaveDate}}</div>
			</div>
			{{#if modelData.leaveReason}}
				<div class="pure-u-1-2 l-box">
					<div class="name">{{labels.membershipLabels.leaveReason}}</div><div class="value">{{codedEntry modelData.leaveReason codedEntries.leaveReasons}}</div>	
				</div>
			{{/if}}
			
			<div class="pure-u-1 l-box">				
				<div class="pure-alert pure-alert-block pure-alert-warning">
					<h4>{{labels.membershipLabels.deleteConfirmMainMembership}}</h4>							
				</div>
			</div>
		</div>