	<div class="pure-g-r readonly">
			<div class="pure-u-1 l-box">
				<div class="pure-narrative">
					<span class="narrative-summary">{{labels.removeGroupMessage}}</span>
					<span class="narrative-description">{{modelData.name}} ({{modelData.groupIdentifier}})</span>
					<span class="narrative-additional">{{labels.deleteConfirmSub}}</span>
				</div>
			</div>

			<div class="pure-u-1 l-box">
				<div class="name">{{labels.name}}</div><div class="value">{{modelData.name}}</div>
			</div>		
			<div class="pure-u-1-2 l-box">				
				<div class="name">{{labels.id}}</div><div class="value">{{modelData.groupIdentifier}}</div>	
			</div>	
			<div class="pure-u-1-2 l-box">				
				<div class="name">{{labels.type}}</div><div class="value">{{codedEntry modelData.groupType codedEntries.groupTypes}}</div>	
			</div>		
			<div class="pure-u-1 l-box">
		  		<div class="name">{{labels.description}}</div><div class="value">{{textFormat modelData.description}}</div>	
			</div>		
			<div class="pure-u-1-2 l-box">
				<div class="name">{{labels.startDate}}</div><div class="value">{{dateFormat modelData.startDate}}</div>	
			</div>
			<div class="pure-u-1-2 l-box">       
				<div class="name">{{labels.closeDate}}</div><div class="value">{{dateFormat modelData.closeDate}}</div>
			</div>
			{{#if modelData.closeReason}}
				<div class="pure-u-1 l-box">
					<div class="name">{{labels.closeReason}}</div><div class="value">{{codedEntry modelData.closeReason codedEntries.closeReasons}}</div>			
				</div>		
			{{/if}}	
			
			<div class="pure-u-1 l-box">				
				<div class="pure-alert pure-alert-block pure-alert-warning">
					<h4>{{labels.deleteConfirmMain}}</h4>
					{{#if onlyPendingMembers}}
						<p><a class="memberships" href={{membershipsLink}}>There is/are {{pendingMemberSize}} pending membership(s) in this group.</a></p>
					{{/if}}
					{{#if activeMemberSize}}
						<p><a class="memberships" href={{membershipsLink}}> There is/are {{activeMemberSize}} open 
						{{#if pendingMemberSize}}
							and {{pendingMemberSize}} pending 
						{{/if}}
						membership(s) in this group.
						</a></p>		
					{{/if}}				
				</div>
			</div>
	</div>		

     

