<div class="pure-g-r readonly">
		<div class="pure-u-1 l-box">
			<div class="pure-narrative">
				<span class="narrative-summary">{{labels.openGroupSummaryMain}}</span>
				<span class="narrative-description">{{modelData.name}} ({{modelData.groupIdentifier}})</span>
				<span class="narrative-additional">{{labels.openGroupSummarySub}}</span>
			</div>
		</div>
		<div class="pure-u-1 l-box">
			<div class="name">{{labels.name}}</div><div class="value">{{modelData.name}}</div>
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{labels.id}}</div><div class="value">{{modelData.groupIdentifier}}</div>
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{labels.type}}</div><div class="value">{{codedEntry modelData.groupType codedEntries.groupTypes}}</div>
		</div>
		<div class="pure-u-1 l-box">
				<div class="name">{{labels.description}}</div><div class="value">{{textFormat modelData.description}}</div>
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{labels.startDate}}</div><div class="value">{{dateFormat modelData.startDate}}</div>
		</div>
		<div class="pure-u-1-2 l-box">
			<div class="name">{{labels.closeDate}}</div><div class="value">{{dateFormat modelData.closeDate}}</div>
		</div>
		<div class="pure-u-1 l-box">
			<div class="name">{{labels.closeReason}}</div><div class="value">{{codedEntry modelData.closeReason codedEntries.closeReasons}}</div>
		</div>
</div>
