<div id="groupViewDialog" class="pure-g-r readonly">

	<div class="pure-u-1 l-box">
		<div class="pure-narrative"><span class="narrative-summary">{{labels.viewGroupMessage}}</span><span class="narrative-description">{{modelData.name}} ({{modelData.groupIdentifier}})</span></div>
	</div>

	<div class="pure-u-1 l-box">
		<div class="name">{{labels.name}}</div><div class="value">{{modelData.name}}</div>
	</div>
	<div class="pure-u-1-2 l-box">       
		<div class="name">{{labels.id}}</div><div class="value">{{modelData.groupIdentifier}}</div>
	</div>
	<div class="pure-u-1-2 l-box">       
		<div class="name">{{labels.type}}</div><div class="value">{{codedEntry modelData.groupType codedEntries.groupTypes}}</div>
	</div>
	<div class="pure-u-1 l-box">
		<div class="name">{{labels.description}}</div><div class="value">{{{textFormat modelData.description}}}</div>
	</div>
	<div class="pure-u-1-2 l-box">       
		<div class="name">{{labels.startDate}}</div><div class="value">{{dateFormat modelData.startDate}}</div>
	</div>
	<div class="pure-u-1-2 l-box">       
		<div class="name">{{labels.closeDate}}</div><div class="value">{{dateFormat modelData.closeDate}}</div>
	</div>
	{{#if modelData.closeReason}}
		<div class="pure-u-1 l-box">       
			<div class="name">{{labels.closeReason}}</div><div class="value">{{codedEntry modelData.closeReason codedEntries.closeReasons}}</div>
		</div>
	{{/if}}
	{{#if groupMembersData}}
		<div class="pure-u-1 l-box">
			<h4 class="alt2 group-members-title">Members</h4>
		</div>
		<div class="pure-u-1 l-box group-members-section">
		    <ul>
		      {{#each groupMembersData}}
		          <li class="group-members-row">
		          		<div class="member-row"> {{this.[personVO!name]}} ({{this.[personVO!personIdentifier]}})</div>
		          		<div class="member-details-row">
		          		 <strong>Address</strong>
		          		  {{#if this.address}}
		          		  	<span class="address">{{this.address}}</span><span class="postcode">{{this.postcode}}</span>
		          		  {{else}}
		          		  	<span> None </span>
		          		  {{/if}}
		          		  
		          		  {{#if this.[personVO!dueDate]}}
		          		   <strong> Due date</strong>
		          		   <span> {{dateFormat this.[personVO!dueDate]}}</span>
		          		   <span class="unborn" title="Unborn"></span><span class="hidden">Unborn</span>       		   	
		          		  {{/if}}
		          		  
		          		  {{#if this.[personVO!dateOfBirth]}}
		          		   <strong> Born</strong>
		          		   <span> {{dateFormat this.[personVO!dateOfBirth].calculatedDate}}</span>
		          		    {{#if this.[personVO!diedDate]}}
		          		    	<span class="deceased" title="Deceased"></span><span class="hidden">Deceased</span>
		          		    {{/if}}
		          		    {{#if this.[personVO!dateOfBirthEstimated]}}
			          		   	<span class="estimated summary" title="Estimated"></span>
			          		   	<span class="hidden">Estimated</span>
		          		   	{{/if}}
		          		   	{{#greaterThanOrEqual this.[personVO!age] '2'}}
						             <span>({{this.[personVO!age]}} years) </span>
						     {{else}}
						             <span>({{this.[personVO!age]}} year) </span>
						     {{/greaterThanOrEqual}}
		          		   	
		          		  {{else}}
		          		   	 {{#if this.[personVO!diedDate]}}
		          		    	<span class="deceased" title="Deceased"></span><span class="hidden">Deceased</span>
		          		  	 {{/if}}
		          		  {{/if}}
		          		  
		          		  
		          		  {{#if this.[personVO!gender]}}
		          		  	<strong> Gender</strong> <span> {{codedEntry this.[personVO!gender] ../../codedEntries.gender}}</span>
		          		  {{/if}}
		          		  {{#if this.[personVO!ethnicity]}}
		          		  	<strong> Ethnicity</strong> {{codedEntry this.[personVO!ethnicity] ../../codedEntries.ethnicity}} </span>
		          		  {{/if}}
		          		  
		          		</div>
		          		
		          </li>
		      {{/each}}
		    </ul>
		</div>
	{{/if}}
</div>

		
		  
		  
		  