<form action="#none" class="pure-form pure-form-stacked" id="groupAddMemberForm" name="groupAddMemberForm">
    <fieldset>
        <div class="pure-g-r">
            <div class="pure-u-1 l-box">
                <div class="initialNarrative">
                    <div class="pure-narrative">
                        <span class="narrative-summary">{{labels.membershipLabels.addMembershipMessage}}</span>
                        <span class="narrative-description groupId">{{targetGroupName}} ({{targetGroupIdentifier}})</span>
                        <span class="hiddenNarrative">
                          <span class="narrative-description memberDetails">{{labels.membershipLabels.selectMembershipMessage}} {{targetGroupName}} ({{targetGroupId}})</span>
                        </span>
                    </div>
                </div>
                <div class="pure-alert pure-alert-block pure-alert-warning hiddenWarning">
                    <h4>The group start date is {{dateFormat targetGroupStartDate}}.</h4>
                    <p>The supplied membership start date is before group start date.</p>
                    <p>The application will update the supplied membership start date to be equal to group start date.</p>
                </div>
            </div>
            <div class="pure-u-1 l-box">
                <label for="personSearch">{{labels.personSearch}} <span class="mandatory">*</span></label>
                <div id="personSearch"></div>
            </div>
            <div class="pure-u-1-2 l-box">
                <label for="group-member-joinDate">{{labels.startDate}} <span class="mandatory">*</span></label>
                <input class="pure-input-1" id="group-member-joinDate" maxlength="11" name="joinDate" placeholder="DD-MMM-YYYY" type="text" value="{{dateFormat currentDate}}">
            </div>
        </div>
    </fieldset>
</form>