{{#modelData}} 
  {{#if count}}
     <strong>{{count}} {{memberTitle}} - </strong>
     {{#if securedGroup}}
    	 <span>{{securedGroupTitle}} </span>
     {{/if}}
     <span>{{membersDetails}} </span>
     {{#if moreMembers}}
     <span> and </span>
      <span  class="pop-up-data" title="" data-title="{{title}}" data-content="{{#membersOnHover}}<div>{{this}}</div>{{/membersOnHover}}">
    	  <a href="#" class="" style="display:inline-block">{{moreMembersCount}} {{otherTitle}} </a>
    	</span>
     {{/if}}
  {{else}}
  	<span>{{noMembersLabel}} </span>
  {{/if}}

{{/modelData}}			
