<form action="#none" id="groupCloseForm" class="pure-form pure-form-stacked">
		<div class="pure-g-r">
			<div class="pure-u-1 l-box">
				<div class="pure-narrative"><span class="narrative-summary">{{labels.endGroupMessage}}</span><span class="narrative-description">{{modelData.name}} ({{modelData.groupIdentifier}})</span></div>
			</div>

			<div class="pure-u-1 l-box">
				<div class="name">{{labels.name}}</div><div class="value">{{textFormat modelData.name}}</div>
			</div>		
			<div class="pure-u-1-2 l-box">				
				<div class="name">{{labels.id}}</div><div class="value">{{modelData.groupIdentifier}}</div>	
			</div>	
			<div class="pure-u-1-2 l-box">				
				<div class="name">{{labels.type}}</div><div class="value">{{codedEntry modelData.groupType codedEntries.groupTypes}}</div>
			</div>		
			<div class="pure-u-1 l-box">
		  		<div class="name">{{labels.description}}</div><div class="value">{{{textFormat modelData.description}}}</div>	
			</div>		
			<div class="pure-u-1-2 l-box">
				<div class="name">{{labels.startDate}}</div><div class="value">{{dateFormat modelData.startDate}}</div>	
			</div>	


			<div class="pure-u-1 l-box">
				<label for="closeReason-input">{{labels.closeReason}}<span class="mandatory"> *</span></label>
				<select class="pure-input-1" name="closeReason" id="closeReason-input">
					<option value=""></option>
				</select>
			</div>
			
			<div class="pure-u-1 l-box">
				<div class="pure-alert pure-alert-block pure-alert-warning">
					<h4>{{labels.endConfirmMain}}</h4>
					{{#if onlyPendingMembers}}
						<p><a class="memberships" href={{membershipsLink}}>There is/are {{pendingMemberSize}} pending membership(s) in this group.</a></p>					
					{{/if}}	
					{{#if activeMemberSize}}
						<p><a class="memberships" href={{membershipsLink}}> There is/are {{activeMemberSize}} open 
						{{#if pendingMemberSize}}
							and {{pendingMemberSize}} pending 
						{{/if}}
						membership(s) in this group.
						</a></p>		
					{{/if}}						
				</div>
			</div>		
		</div>		

	</form>
		
