.pure-alert-small {
  font-size: 80%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pure-alert {
  &.pure-alert-custom-icon {
    padding: 0.25em 0.5em;
    margin: 0;
    .pure-checkbox, .pure-radio {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }
  .info-icon {
    color: #347ab7;
    padding-right: 0.5em;
  }
}

