@import (inline) "node_modules/usp-inline-menu/css/main.css";
@import "../../../tabs//less/tabs.less";
@import "node_modules/bootstrap/less/mixins/vendor-prefixes.less";
@import "node_modules/bootstrap/less/component-animations.less";
@info-bar-left-indent: 12px;

.clientContactsList {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;

    p {
        margin: 0 0 4px 0;
    }

    li {
        display: inline-block;
        list-style: none;

        a {
            display: inline-block;
            padding: 0 6px 0 5px;
            font-size: small;
        }

        a[href^="tel"]::before {
            content: " ";
        }
    }
}

.pop-up-data {
    display: inline;
}

.data-value {
    display: inline;

    .deceased {
        display: inline;
    }

    .estimated {
        display: inline-block;
        height: 11px;
    }
}

.pageContentContainer {
    h4 {
        padding-left: 15px;
    }
}

.warnings {
    float: right;

    .warning,
    .alert,
    .duplicateStatus {
        color: #fff;
        line-height: 1;
        text-align: center;
        min-width: 10px;
        font-size: 8px;
        font-family: OpenSansSemiBold;
        padding: 3px 6px;
        border-radius: 10px;
        position: relative;
        cursor: pointer;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: inline-block;
        margin: 0 2px;

        i {
            padding-right: 0.25em;
        }
    }
}

.warning {
    background: #bb0000;
}

ul.warnings-list {
    list-style: none;
    margin: 0.5em 0;
    padding-left: 0;

    >li {
        margin-left: 0;
        margin-bottom: 0.5em;

        &:before {
            content: "–";
            padding-right: 3px;
        }
    }
}

.filterContainer {
    input[type=checkbox] {
        margin-right: 5px;
    }
}

#selectedColleaguePersonIds,
#selectedTeamIds {
    min-width: 100%;
}

.optionsError {
    color: #bb0000;
    font-style: italic;
}

.warnings-popup {
    max-width: 300px;

    .click-text {
        border-top: 1px solid #d5d5d5;
        font-size: 75%;
    }
}