// Inline SVG code images in LESS CSS
// @author Matt Scheurich <matt@lvl99.com> (http://lvl99.com)
// Github: https://github.com/lvl99/less-inline-svg-code
.inline-svg-code( @code ) {
  @-svg-code: escape(~'<?xml version="1.0" ?>@{code}');
  @-inline-svg-code: ~'data:image/svg+xml,@{-svg-code}';
}

@import (inline) "node_modules/usp-card/css/main.css";
@import (inline) "node_modules/rc-slider/assets/index.css";
@import "../../error/less/app.less";

@timelineWidth: 40%;
@eventWidth: 60%;
@widgetPadding: 3px;
@colMinWidth: 300px;
@colMaxHeight: 1000px;
@colMinHeight: 320px;
@widgetBorderRadius: .25rem;

@import "card-list";
@import "widgets";
@import "classifications";
@import "casenotes";
@import "people-cards";
@import "relationships";
@import "profile";
@import "events";
@import "timeline";
@import "../../table/less/table.less";
@import "serviceAgreements";
@import "personalBudget";
@import "keyFinancialDetails";
@import "charging";
@import "health";


.widget-frame{
  .collapsed {
  	&:after {
  		content: '';
  		position: absolute;
  		right: 0;
  		bottom: -1px;
  		left: 0;
  		height: 5em;
  		border-radius: 0 0 4px 4px;
  		background-image: -webkit-linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 100%);
  		background-image: -ms-linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 100%);
  		background-image: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 100%);
  		z-index: 1;
  		pointer-events: none;
  	}
  }

  .card-header {
  	position: relative;
  }

  .more, .empty {
  	text-align: center;
  	color: #999;
  }

  .empty-list{
  	display:-webkit-box;
  	display:-ms-flexbox;
  	display:flex;
  	-webkit-box-orient: vertical;
  	-webkit-box-direction: normal;
  	    -ms-flex-direction: column;
  	        flex-direction: column;
  	-webkit-box-align: stretch;
  	    -ms-flex-align: stretch;
  	        align-items: stretch;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;
  	height: 100%;
  	-webkit-box-flex:1;
  	    -ms-flex:1;
  	        flex:1;
  }
}
