.card-list-container {
  position: relative;
  .header-picture {
    border-radius: 50%;
  }
}

.card-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  .data-item {
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #c9c9c9;
    padding: 0 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.9em;
    &:first-child {
      border-left: 0 none;
      padding-left: 0;
    }
    .data-label {
      font-size: 0.9em;
      color: #999;
      vertical-align: middle;
      margin-right: 0.2em;
    }
    .data-value {
      vertical-align: middle;
    }
  }
  &.card-3-cols {
    .data-item {
      -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
    }
  }
  &.card-2-cols {
    .data-item {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
    }
  }
  &.card-1-cols {
    .data-item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
  }
}

.usp-model-errors {
  .usp-message-error {
    word-break: break-word;
  }
}