@import "../../tabs/less/tabs.less";
.charging-widget {
    .usp-tabview-list {
        font-size: 0.8em;
    }
    .filter {
        font-size: 0.8em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin-bottom: 0.5em;
        line-height: 14px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    .pure-table-data {
        font-size: 0.8em;
    }
    .pure-table-header {
        font-size: 0.8em;
    }
    .total {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        align-items: center;
        margin-top: 0.5em;
        min-height: auto;
        margin-bottom: 0.5em;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        .value {
            margin: 0 0 0 0.5em;
            color: #2b4764;
        }
    }
    .summary-data {
        ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            list-style: none;
            padding: 0;
            margin: 0;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap
        }
        li {
            color: #666;           
            margin-bottom:0.5em;
        }
        .data-label {
            margin-right: 0.5em;
            &:after {
                content: ':';
            }
        }
        .data-value {
            color: #2b4764;
        }
    }
}