.classification-card {
	border-width: 0;
	border-style: none;
	border-radius: 0;
	border-bottom: 2px solid #e4e4e4;
	background-color: #fff;
	padding: 0 0 0.5em;
	margin: 0 0.5em 0.5em;
	min-height: 5em;

	&:first-child {
		border-top: 2px solid #e4e4e4;
	}

	&:last-child {
		margin-bottom: 1em;
	}

	.card-header-title {
		margin-bottom: 0.25rem;

		h5 {
			text-overflow: ellipsis;
			word-break: break-word;
			margin: 0;
		}

		.current {
			color: #008000;
			font-size: 0.8em;
		}
	}

	.data-set {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.duration {
		background-color: #347ab7;
		color: #dde9f3;
		border-radius: 2px;
		display: inline-block;
		padding: 0.1em 0.4em;
		text-align: center;

		.data-label {
			display: block;
			color: #dde9f3;
			font-size: 0.7em;
			letter-spacing: -0.05em;
		}

		.data-value {
			letter-spacing: 0.3em;
		}
	}
}
