.healthsummary-container{
    flex: 1;
}

.healthsummary-content{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
}

.healthsummary-iframe{
    width: 100%;
    height: 100%;
    border: 0;
    display: flex;
}