.keydetails-widget {
    .filter {
        font-size: 0.8em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin-bottom: 0.5em;
        line-height: 14px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    .pure-table-data {
        font-size: 0.8em;
    }
    .pure-table-header {
        font-size: 0.8em;
    }
    .sub-header {
        border-top: 1px solid #cbcbcb;
        margin-top: 0.5em;
        h3 {
            margin-left: -10px;
            margin: 2px;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .reference-numbers {
        margin-left: -1em;
        margin-right: -1em;
        .name {
            padding-left: 0;
        }
        .value {
            font-size: 0.8em;
            margin-bottom: 0.5em;
            padding: 0.25em;
        }
    }
    .summary-data {
        ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            list-style: none;
            padding: 0;
            margin: 0;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap
        }
        li {
            color: #666;
            &:after {
                content: '|';
                margin-left: 0.5em;
                margin-right: 0.5em;
            }
            &:last-child {
                &:after {
                    content: '';
                }
            }
        }
        .data-label {
            margin-right: 0.5em;
            &:after {
                content: ':';
            }
        }
        .data-value {
            color: #2b4764;
        }
    }
}