.person-card {
	padding: 0.25em;
	min-height: 1.2em;
	margin-bottom: 0.5rem;
  border-left: 1px solid #e4e4e4;

	.card-header-title {
		a,
    a:active,
    a:hover,
    a:visited {
        text-decoration: none;
        color: #6a6a6a;
    }

		a:hover{
			text-decoration: underline;
		}


		h2 {
			text-overflow: ellipsis;
			word-break: break-word;
			margin: 0;
			font-size:14px;
			display:inline;

			& > * {
					width:100%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
			}
		}
	}


	.person-picture{
		border-radius: 4px;
	}

	.subject-icon{
		font-size:16px;
		&.relationship-picture{
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
		.fa-circle{
			font-size:200%;
		}
	}

	.subject-name{
		margin-left: 0.25rem;
	}

	.data-item{
		align-items: flex-start;
	}
}
