.personalbudget-widget {
    .filter {
        font-size: 0.8em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin-bottom: 0.5em;
        line-height: 14px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    .pure-table-data {
        font-size: 0.8em;
    }
    .pure-table-header {
        font-size: 0.8em;
    }
}