.relationship-widget {
	ul {
		&.usp-tabview-list {
			font-size: 0.8em;
		}
	}
	.cp-classifications {
		width: 100%;
	}
	.cp-group {
		border-bottom: 1px solid #c9c9c9;
		color: #666;
		margin-bottom: 0.25em;
		padding:0.25em 0;
		.data-item {
			padding-top: 0.25em;
			padding-bottom: 0.25em;
		}
	}
	.usp-tabview-panel {
		.card-list-container {
			margin-top: 0;
		}
	}
	.relationship-attributes {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		.attribute-icon {
			margin-left: 4px;
			position: relative;
			width: 18px;
			height: 18px;
			background-size: 18px;
		}
	}
	.relationship-picture {
		border-radius: 4px;
	}
	.estimated, .placement, .temporary {
		margin: 0 2px;
		display: inline-block
	}
	.pop-up-data {
		display: inline-block;
		&:focus {
			outline: thin dotted;
		}
	}
	.card-header-title {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: baseline;
		-ms-flex-align: baseline;
		align-items: baseline;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		.data-value {
			margin-left: 0.5em;
			color: #6a6a6a;
			font-size: 0.9em;
		}
	}
}