@timelineLeftMargin: -7px;

.chronology-widget {
	.container {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		overflow: hidden;
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		position:relative;
	}
	.timeline-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 @timelineWidth;
            flex: 1 0 @timelineWidth;
		-ms-flex-negative: 0;
		    flex-shrink: 0;

		margin-left:3px;

		.next {
			height: 1em;
			margin: 0;
		}
	}


	.event-list {
	  padding:1em 1.5em 1em 25px;
	  -webkit-box-flex: 1;
	      -ms-flex: 1 1 @eventWidth;
	          flex: 1 1 @eventWidth;
	  margin: 0 0 2.25em;

		&.empty{
			color: #999;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			text-align: center;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;

			&>div{
				    -ms-flex-item-align: center;
				        -ms-grid-row-align: center;
				        align-self: center;

						-ms-flex-negative: 1;
								flex-shrink: 1;
			}
		}

		.connector {
	    height: 15px;
	    width: 4px;
	    -ms-flex-negative: 0;
	    flex-shrink: 0;
			-ms-flex-item-align: center;
			    -ms-grid-row-align: center;
			    align-self: center;
	  }

	  .event {
			border: 3px solid #c7c7c7;
			border-radius: 4px;
			background-color: white;
			padding: 0.5em 0.75em;
			width: 85%;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			-webkit-box-flex: 0;
			/* fix IE display issue */
			-ms-flex: 0 0 auto;
			flex: 0 0 auto;
			cursor: default;
			//room for scrollbar
			margin-right:16px;

			&.positive {
				border-color: #75ca89;
			}

			&.neutral {
				border-color: #1168aa;
			}

			&.negative {
				border-color: #f56b6b;
			}

			&.unknown {
				border-color: #5a5a5a;
			}

			.header {
				padding-bottom: 0.25em;
				border-bottom: 1px solid #d7e4ed;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				-ms-flex-direction: row;
				flex-direction: row;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				font-size: 0.8em;

				.date {
					margin-right: 3px;
				}

				.time {
					margin-left: 3px;
				}
			}

			.event-subject {
				display:inline-block;
		    margin-right: 0.5em;

				.subject-name, .subject-identifier{
					font-size:85%;
				}
			}

			.event-type {
				margin-right:0.25em;
			}

			/** Transition times are referred to in code DO NOT CHANGE **/
			.text {
				padding-top:0.5em;
				overflow: hidden;
				font-size: 0.9em;
				position: relative;
				-webkit-transition: max-height 300ms;
				transition: max-height 300ms;

				&.collapsed {
					max-height: 150px;
				}
			}
		}
	}

	.empty-timeline{
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		text-align: center;
		color:#999;
		-webkit-box-flex:1;
		    -ms-flex:1;
		        flex:1;
	}

	.less-indicator,
	.more-indicator {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		color: #d7e4ed;
		margin: 3px 0;
		cursor: pointer;
	}

	.elbow {
		margin-left: -3px;
		position: absolute;
		left: @timelineWidth;
	  top:0;
	  right:0;
	  bottom:0;
		overflow: hidden;
		z-index: 0;
		/* clip off 1em for the timline control arrows */
		clip: rect(1em auto auto auto);
		transform:translate3d(0,0,0);

		svg {
			overflow: visible;
			position:absolute;
		}
	}

	.fadeIn {
		opacity: 0;
		/* make things invisible upon start */
		-webkit-animation: draw ease-in 1;
		animation: draw ease-in 1;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		-webkit-animation-duration: 350ms;
		animation-duration: 350ms;
	}

	.timeline {
		box-sizing: border-box;
		padding: 0 15px 0 0;
		overflow: hidden;
		/* turn off browser touch handling */
		-ms-touch-action: none;
		touch-action: none;
		margin-left: @timelineLeftMargin;
		cursor: move;
		-webkit-box-flex:1;
			-ms-flex:1;
					flex:1;
		z-index: 1;
	}

	.first {
		margin-left: @timelineLeftMargin;
		padding-right: 15px;
		cursor: default;

		.period {
			.header {
				margin-bottom: 0;
				padding-bottom: 2px;
			}
		}
	}

	.end{
		margin-left:@timelineLeftMargin*-1;
		font-size:0.9em;
		color:#999;
	}

	.period {
		margin-left: 25px;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: -16px;
			width: 4px;
			background: #d7e4ed;
		}

		.header {
			color: #888888;
			text-align: center;
			position: relative;
			margin: 0 -5px 2px;
			border-top: 1px solid #c9c9c9;
			font-size: 12px;

			.icon {
				position: absolute;
				z-index: 1;
				height: 16px;
				width: 16px;
				background-color: #fff;
				left: -17px;
			}
		}

	/** Transition times are referred to in code DO NOT CHANGE **/
		.entry {
			-webkit-transition: margin 250ms;
			transition: margin 250ms;
			position: relative;
			background-color: #c7c7c7;
			vertical-align: middle;
			padding: 0 2px;
			background-repeat: no-repeat;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-box-pack: start;
			-ms-flex-pack: start;
			justify-content: flex-start;
			cursor: cell;

			&.tick {
				&:before {
					content: '';
					position: absolute;
					left: -12px;
					width: 8px;
					height: 20%;
					background: #d7e4ed;
					top: 50%;
				}
			}

			&.selected {
				margin-right: -10px;
				z-index: 1;
			}

			.day {
				color: #fff;
				-webkit-box-flex: 1;
				-ms-flex: 1;
				flex: 1;
			}

			.count {
				-webkit-box-flex: 1;
				-ms-flex: 1;
				flex: 1;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;

				span {
					background-color: #e4f4e8;
					padding: 0 2px;
					border-radius: 2px;
					font-size: 80%;
					width: 1.2em;
					text-align: center;
					line-height: 1.4em;
				}
			}
		}
	}

	.zoom {
		border: 1px solid #c9c9c9;
		border-radius:  @widgetBorderRadius 0 0 0;
		border-right: 0 none;
		border-bottom: 0 none;
		overflow: hidden;
		position: absolute;
		right: 0;
		bottom: 0;
		width: 9em;
		height:1.2em;
		background-color: #d4d4d4;
		padding: 0.25em 0.5em 0.25em 1em;
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 auto;
		        flex: 1 1 auto;

		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;

		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;

		.rc-slider {
			border-radius: 0;
			-webkit-box-flex:1;
			    -ms-flex:1;
			        flex:1;
		}

		.rc-slider-rail {
			background-color: #fff;
		}

		.rc-slider-track {
			background-color: #909090;
			border-radius: 0;
			height: 5px;
		}

		.rc-slider-handle {
			background-color: #606060;
			border-color: #606060;
		}

		.level {
			text-align: center;
			font-size: 12px;
			background-color: #fff;
			color: #606060;
			padding: 0 0.25em;
			border-radius:  @widgetBorderRadius;
			padding: 0 2px;
			margin-left: 10px;
			margin-right:2px;
		}
	}

		.navigation {
			border: 1px solid #c9c9c9;
			border-top: 0 none;
			border-right: 0 none;
			border-radius: 0  @widgetBorderRadius 0  @widgetBorderRadius;
			overflow: hidden;
			background-color: #d4d4d4;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			-ms-flex-pack: distribute;
			justify-content: space-around;
			color: #606060;
			padding: 2px;
			font-size: 8px;
			height: 16px;
			-ms-flex-item-align: start;
			    align-self: flex-start;

			button {
				&.nav-button {
					padding: 4px 10px;
					line-height: 10px;
				}
			}
		}

	.key {
		border: 1px solid #c9c9c9;
		border-radius:  @widgetBorderRadius 0 0  @widgetBorderRadius;
		border-right: 0 none;
		position: absolute;
		right: 0;
		bottom: 3em;
		background-color: #fff;
		height: 7em;
	  z-index: 1;

		.control {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 1.25em;
			cursor: pointer;
			border-right: 1px solid #c9c9c9;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 0.8em;
				-webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
				-ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
				    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
				width: 7em;
			}
		}

		.key-data {
			-webkit-transition: margin-right 300ms;
			transition: margin-right 300ms;
			margin-right: -10em;
			overflow-x: hidden;
			width: 10em;
			height: 100%;
			margin-left: 1.2em;
			overflow: hidden;
			ul {
				font-size: 80%;
				list-style-type: none;
				padding: 0.5em 0;
				margin: 0 1em;

				li {
					margin: 0;
					text-align: right;

					.no-entry {
						color: #c7c7c7;
					}

					.positive {
						color: #75ca89;
					}

					.neutral {
						color: #1168aa;
					}

					.negative {
						color: #f56b6b;
					}

					.unknown {
						color: #5a5a5a;
					}

					i {
						margin-left: 1em;
					}
				}
			}

			&.expanded {
				margin-right: 0;
			}
		}
	}
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes draw {
	 0% { opacity:0 }
	 100% { opacity:1 }
 }
@keyframes draw {
	 0% { opacity:0 }
	 100% { opacity:1 }
 }
