.widget-frame {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 @widgetPadding;
}

.summary-widget-frame {
	/* defeat main content padding */
	margin: 0 -14px;
	.frame-fade-enter {
		opacity: 0.01;
	}
	.frame-fade-enter-active {
		opacity: 1;
		-webkit-transition: opacity 500ms ease-in;
		transition: opacity 500ms ease-in;
	}
	.page-selector {
		padding: 0 @widgetPadding;
		margin: 0 @widgetPadding;
		position: relative;
		ul {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			padding: 0;
			margin: 0;
			list-style: none;
			border-bottom: 1px solid #d1d1d1;
		}
		li {
			margin-bottom: -1px;
		}
		.page-switcher {
			padding: .25em .45em;
			border-radius: 2px 2px 0 0;
			border: 1px solid #d1d1d1;
			margin: 1px .2em 0 0;
			background: #eaeaea;
			font-size: 0.8em;
			text-decoration: none;
			color: #6a6a6a;
			font-family: OpenSansLight;
			display: block;
			&:hover {
				text-decoration: underline;
			}
			&:focus, &:active {
				outline: none;
				-webkit-box-shadow: 0 0 5px hsl(208, 99%, 50%);
				        box-shadow: 0 0 5px hsl(208, 99%, 50%);
				border-color: hsl(208, 99%, 50%);
				outline: none;
			}
			&.selected-page {
				background: #fff;
				border: 1px solid #c5c5c5;
				border-bottom: 1px solid #fff;
				color: #222222;
			}
		}
	}
}

.widget-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 @colMinWidth;
	flex: 1 1 @colMinWidth;
	max-height: @colMaxHeight;
	min-height: @colMinHeight;
}

.widget-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	&.widget-3-row {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
	}
	&.widget-4-row {
		-ms-flex-preferred-size: 33.3333333%;
		flex-basis: 33.3333333%;
	}
	&.widget-6-row {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
	}
	&.widget-8-row {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
	}
	&.widget-12-row {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	}
}

.widget-container {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0;
	padding: @widgetPadding;
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.widget-element {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
	        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    border: 1px solid rgba(0,0,0,.125);
	border-radius: @widgetBorderRadius;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	&.no-border {
		border: 0 none;
		-webkit-box-shadow:none;
		        box-shadow:none;
	}
	.loading {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: center;
		color: #999;
	}
}

.widget-header {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 2em;
	flex: 0 0 20px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	margin-bottom: 2px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	h3 {
		margin: 2px 4px 0;
		font-size: 14px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.widget-scrollable {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	overflow: hidden;
	padding: 1px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	&.overflow {
		&:after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: 2em;
			border-radius: 0 0  @widgetBorderRadius  @widgetBorderRadius;
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), to(#fff));
			background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
			z-index: 1;
			pointer-events: none;
		}
	}
}

.widget-scrollable-content {
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	visibility: hidden;
	padding: 0 10px;
	/* turn on browser touch handling */
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-overflow-scrolling: touch;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-track {
		background: #FFF;
		-webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
	}
	&::-webkit-scrollbar-thumb {
		background: #CCC;
		-webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #AAA;
	}
	&::-webkit-scrollbar-thumb:active {
		background: #888;
		-webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
	}
	&:hover, &:focus, .native-scroll {
		visibility: visible;
	}
	.native-scroll {
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
	}
}