{{#if anyActive}}
  {{#or activeFilter.dateFrom activeFilter.dateTo}}
    <span class="label">{{labels.date}}<a href="#none" data-reset="dateFrom,dateTo" aria-label="Remove date filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/or}}
  {{#if activeFilter.subjectId}}
    <span class="label">{{labels.clientName}}<a href="#none" data-reset="subjectId" aria-label="Remove client name filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  {{#if activeFilter.code}}
    <span class="label">{{labels.eventCode}}<a href="#none" data-reset="code" aria-label="Remove event code filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  {{#if activeFilter.userId}}
    <span class="label">{{labels.userName}}<a href="#none" data-reset="userId" aria-label="Remove user name filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  <a href="#none" data-reset="reset" class="small" aria-label="{{labels.resetAllTitle}}">{{labels.resetAll}}</a>
{{/if}}
