<form action="#none" class="pure-form pure-form-stacked filter-panel" id="eventLogFilterForm">
  <div class="bordered panel">
    <div>
        <h3 class="alt2" tabindex="0">{{labels.filterBy}}</h3>
    </div>
    <div>
      <div class="pure-g-r">
        <div class="pure-u-1-2 l-box">
          <label for="dateFrom">{{labels.dateFrom}}</label>
          <input type="text" name="dateFrom" class="pure-input-1 filterParam dateFrom" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.accessDateFrom}}" />
        </div>
        <div class="pure-u-1-2 l-box">
          <label for="dateTo">{{labels.dateTo}}</label>
          <input type="text" name="dateTo" class="pure-input-1 filterParam dateTo" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.accessDateTo}}" />
        </div>
        <div class="pure-u-1-2 l-box">
          <label for="eventLogFilter_subjectId">{{labels.clientName}}</label>
          <fieldset id="clientSubject">
              <div class="fieldset-wrap pure-g-r">
                  <div class="pure-u-1 subjectSearchWrapper clientSubjectSearchWrapper" class="pure-u-1 l-box"></div>	
              </div>
          </fieldset>
				</div>
				<div class="pure-u-1-2 l-box">
          <label for="eventLogFilter_userId">{{labels.userName}}</label>
          <fieldset id="userSubject">
              <div class="fieldset-wrap pure-g-r">
                  <div class="pure-u-1 subjectSearchWrapper userSubjectSearchWrapper" class="pure-u-1 l-box"></div>	
              </div>
          </fieldset>
        </div>
        <div class="pure-u-1-2 l-box">
          <label for="eventLogFilter_code">{{labels.eventCode}}</label>
          <input type="text" name="code" class="pure-input-1 filterParam" id="eventLogFilter_code" maxlength="255" />
        </div>
        <div class="pure-u-1 l-box">
          <div class="pure-button-group pull-right">
            <input class="pure-button pure-button-secondary filterReset" type="button" aria-label="{{labels.resetTitle}}" data-reset="dateFrom,dateTo,subjectId,code,userId" value="{{labels.reset}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>