{{#if anyActive}}
  {{#or activeFilter.accessDateFrom activeFilter.accessDateTo}}
    <span class="label">{{labels.date}}<a href="#none" data-reset="accessDateFrom,accessDateTo" aria-label="Remove date filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/or}}
  {{#if activeFilter.personId}}
    <span class="label">{{labels.clientName}}<a href="#none" data-reset="personId" aria-label="Remove client name filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  {{#if activeFilter.userId}}
    <span class="label">{{labels.userName}}<a href="#none" data-reset="userId" aria-label="Remove user name filter"> 
    <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  <a href="#none" data-reset="reset" class="small" aria-label="{{labels.resetAllTitle}}">{{labels.resetAll}}</a>
{{/if}}
