<form action="#none" class="pure-form pure-form-stacked filter-panel" id="personAccessFilterForm">
  <div class="bordered panel">
    <div>
        <h3 class="alt2" tabindex="0">{{labels.filterBy}}</h3>
    </div>
    <div>
      <div class="pure-g-r">
        <div class="pure-u-1-2 l-box">
          <label for="accessDateFrom">{{labels.dateFrom}}</label>
          <input type="text" name="accessDateFrom" class="pure-input-1 filterParam dateFrom" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.accessDateFrom}}" />
        </div>
        <div class="pure-u-1-2 l-box">
          <label for="accessDateTo">{{labels.dateTo}}</label>
          <input type="text" name="accessDateTo" class="pure-input-1 filterParam dateTo" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.accessDateTo}}" />
        </div>
        <div class="pure-u-1-2 l-box">
          <label for="personAccessFilter_personId">{{labels.clientName}}</label>
          <fieldset id="clientSubject">
              <div class="fieldset-wrap pure-g-r">
                  <div class="pure-u-1 subjectSearchWrapper clientSubjectSearchWrapper" class="pure-u-1 l-box"></div>	
              </div>
          </fieldset>
				</div>
				<div class="pure-u-1-2 l-box">
          <label for="personAccessFilter_userId">{{labels.userName}}</label>
          <fieldset id="userSubject">
              <div class="fieldset-wrap pure-g-r">
                  <div class="pure-u-1 subjectSearchWrapper userSubjectSearchWrapper" class="pure-u-1 l-box"></div>	
              </div>
          </fieldset>
        </div>
        <div class="pure-u-1 l-box">
          <div class="pure-button-group pull-right">
            <input class="pure-button pure-button-secondary filterReset" type="button" aria-label="{{labels.resetTitle}}" data-reset="accessDateFrom,accessDateTo,personId,userId" value="{{labels.reset}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>