<div class="pure-u-1 l-box">
	<div class="pure-narrative" id="describedby" aria-live="polite"><span class="narrative-summary">{{template parent.otherData.narrative parent.otherData}}</span><span class="narrative-description"></span></div>
</div>
