<div class="pure-u-1 l-box">
	<div class="pure-narrative" id="describedby" aria-live="polite"><span class="narrative-summary">{{template parent.otherData.narrative parent.modelData}}</span><span class="narrative-description">{{subject.subjectName}} ({{subject.subjectIdentifier}})</span></div>
</div>
