<form action="#none" id="personClassificationAssignmentEndForm" class="pure-form pure-form-stacked">
	<fieldset>
	
		<div class="pure-g-r">
			<div class="pure-u-1 l-box">
				<div class="pure-narrative">
					<span class="narrative-summary">{{labels.endClassificationAssignmentSummary}}</span>
					<span class="narrative-description">{{otherData.person.name}} ({{otherData.person.personId}})</span>
				</div>	
			</div>

			<div class="pure-u-1-2 l-box">   
				<div class="name">{{labels.groupName}}</div>
				<div class="value">{{modelData.classificationVO.classificationGroupName}}</div>
				
			</div>
			
			<div class="pure-u-1-2 l-box">   
				<div class="name">{{labels.finalLevel}}</div>
				<div class="value">{{modelData.classificationVO.name}}</div>
			</div>
					
			<div class="pure-u-1-2 l-box">   
				<div class="name">{{labels.startDate}}</div>
				<div class="value">{{dateFormat modelData.startDate}}</div>				
			</div>
			
			<div class="pure-u-1-2 l-box">
				<label for="endDate">{{labels.endDate}} <span class="mandatory">*</span></label>
				<input type="text" class="pure-input-1" name="endDate" id="classification_endDate" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.endDate}}" />
			</div>		
		
			<div class="pure-u-1-2 l-box">    	
				<label for="classification_practitioner">{{labels.practitioner}} </label>
	        	<input type="text" class="pure-input-1" name="practitioner" id="classification_practitioner" maxlength="50" readonly value="{{otherData.practitioner.personName}}" />
			</div>

			<div class="pure-u-1-2 l-box">    	
				<label for="classificationEndForm_endReasonSelect">{{labels.endReason}} {{#if modelData.classificationVO.endReasonMandatory}}<span class="mandatory">*</span>{{/if}}</label>
        <select class="pure-input-1" id="classificationEndForm_endReasonSelect" name="endReason">
            <option value=""></option>
        </select>
			</div>
		</div>	
	</div>
	
		<div class="pure-u-1 l-box">
			<div class="pure-alert pure-alert-block pure-alert-warning">
				<h4>{{labels.endClassificationAssignmentConfirm}}</h4>
			</div>		
		</div>
	
	</fieldset>
</form>