

{{!-- personClassificationAddDialog.handlebars now redundant --}}
<form action="#none" id="classification-add-form" class="pure-form pure-form-stacked">
  <fieldset>      
    <div id="classification-add-form-narrative"></div>   
    <div class="pure-g-r">
      <div id="classification-add-form-autocomplete" class="pure-u-1 l-box"></div>     
      <div class="pure-u-1-2 l-box">
        <label for="startDate">{{labels.startDate}} <span class="mandatory">*</span></label>
        {{!-- See defect 61682 for more details of why an unsual name is used here  --}}
        <input type="text" class="pure-input-1" id="classification-start-date" name="classification-add-form_startDate" maxlength="11" placeholder="DD-MMM-YYYY" value="{{dateFormat modelData.startDate}}" />
      </div>     
      <div class="pure-u-1-2 l-box">      
        <label for="classification_practitioner">{{labels.practitioner}} <span class="mandatory">*</span></label>
        <input type="text" class="pure-input-1" name="practitioner" maxlength="50" readonly value="{{otherData.practitioner.personName}}" />
      </div>     
    </div>
  </fieldset>
</form>