

<a href="#" data-action="clear" class="small pull-right">{{labels.link}}</a>
<label>{{labels.label}}<span> * </span><a href="#" class="pop-up-data" data-title="{{labels.popover.title}}" data-content="{{labels.popover.content}}">Help</a></label>
<input type="text" class="pure-input-1" size="40" placeholder="{{labels.placeholder}}" name="classification" style="margin-bottom:10px;"/>
