<form action="#none" id="personClassificationAssignmentDeleteForm" class="pure-form pure-form-stacked">
	<fieldset>
	
		<div class="pure-g-r">
		
			<div class="pure-u-1 l-box">
				<div class="pure-narrative">
					<span class="narrative-summary">{{labels.deleteClassificationAssignmentSummary}}</span>
					<span class="narrative-description">{{otherData.person.name}} ({{otherData.person.personId}})</span>
				</div>
			</div>

			<div class="pure-u-1-2 l-box">   
				<div class="name">{{labels.groupName}}</div>
				<div class="value">{{modelData.classificationVO.classificationGroupName}}</div>
				
			</div>
			
			<div class="pure-u-1-2 l-box">   
				<div class="name">{{labels.finalLevel}}</div>
				<div class="value">{{modelData.classificationVO.name}}</div>
			</div>
					
			<div class="pure-u-1-2 l-box">   
				<div class="name">{{labels.startDate}}</div>
				<div class="value">{{dateFormat modelData.startDate}}</div>				
			</div>
			
			<div class="pure-u-1-2 l-box">
				<div class="name">{{labels.endDate}}</div>
				<div class="value">{{dateFormat modelData.endDate}}</div>
			</div>		
		
			<div class="pure-u-1-2 l-box">    	
				<label for="classification_practitioner">{{labels.practitioner}} </label>
	        	<input type="text" class="pure-input-1" name="practitioner" id="classification_practitioner" maxlength="50" readonly value="{{otherData.practitioner.personName}}" />
			</div>
				
		</div>	
	
		<div class="pure-u-1 l-box">
			<div class="pure-alert pure-alert-block pure-alert-warning">
				<h4>{{labels.deleteClassificationAssignmentConfirm}}</h4>
			</div>		
		</div>
	
	</fieldset>
</form>