{{#if anyActive}}
  <span>{{labels.filter}}</span>
  {{#if activeFilter.nameOrId}}
      <span class="label">{{labels.nameOrId}}<a href="#nameOrId" aria-label="Remove name / id filter"> <i class="fa fa-times-circle"></i></a></span>
  {{/if}}
  <a href="#reset" class="small" aria-label="Reset all filters">Reset all</a>
{{/if}}
