<form action="#none" id="duplicateRecordsResultsFilterForm" class="pure-form pure-form-stacked filter-panel">
  <div class="panel bordered">
    <div>
      <h3 class="alt2" tabindex="0">{{labels.filterBy}}</h3>
    </div>
    <div id="duplicateRecordsResultsFilter">
      <div class="pure-g-r">
          <div class="pure-u-1-4 l-box">
            <label for="duplicateRecordsResultsFilter_nameOrId">{{labels.name}} / {{labels.id}}</label>
            <input class="pure-input-1" name="nameOrId" id="duplicateRecordsResultsFilter_nameOrId" maxlength="255" value="{{modelData.nameOrId}}" />
          </div>
      </div>
      <div class="pure-u-1">
        <div class="l-box">
          <div class="pure-button-group pull-right">
            <input type="button" id="duplicateResultsFilter_clearFilters" class="pure-button pure-button-secondary" data-reset="reset" value="Reset" aria-label="Reset all filters">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
