.pure-skin-usp 
.pure-pagebar {
    padding:0;
    margin:0;
  }	
.pure-skin-usp 
.pure-pagebar li  { 
    display: inline-block; 
  }
.pure-skin-usp 
.pure-paginator {
    letter-spacing: -0.26em !important;
}

.pure-skin-usp 
.pure-paginator 
.pure-button {
      border-radius: 0;
      padding: .6em 1em;
      vertical-align: top;
      height: 1.1em;
      line-height: 1.1;
      color:#666;
  }   
  .pure-skin-usp 
  .pure-paginator 
  .pure-button:hover {
          color:#444;
  }
  .pure-skin-usp 
  .pure-paginator 
  .pure-button-active, 
  .pure-skin-usp 
  .pure-paginator 
  .pure-button-active:hover {
          background:#666;
          color:#fff;
          border-radius: 2px;
  }	
    
  .pure-skin-usp 
  .pure-paginator 
  .yui3-paginator-disabled, 					
  .pure-skin-usp 
  .pure-paginator 
  .pure-button-disabled {
      cursor: default;
      opacity: 0.2;
      background-color: #E6E6E6;
      color: #222;
      background-image: none;
  }

  .pure-skin-usp 
  .pure-paginator 
  .pure-button:focus { 
      outline: 1px dotted #666; 
  }
  .pure-skin-usp 
  .pure-paginator li:first-child a {
       border-radius: 4px 0px 0px 4px; 
  }
  .pure-skin-usp 
  .pure-paginator li:last-child a {
       border-radius: 0px 4px 4px 0px; 
  }
  .pure-skin-usp 
  .pure-paginator 
  .yui3-paginator-more {
      font-size:16px;
      color:#555;
      padding:0 5px;
      position:relative;
      top:3px;
  } 
  .pure-skin-usp 
  .pure-perpage,
  .pure-skin-usp 
  .page-control { 
      margin: 0; 
      list-style: none; 
  }

  .pure-skin-usp 
  .pure-perpage {
      margin-top:5px;
  }	

 .paginator-select-rowsperpage {
     padding: 2px 4px;
     border-radius: 4px;
     margin-left: 1rem;
 }  
  .pure-skin-usp 
  .pure-paginator-pages { 
      padding: 6px; 
      background-color: #E6E6E6; 
  }

  .pure-skin-usp 
  .pure-paginator-pages 
  .pure-paginator-selector { 
      width: 30px; 
      margin: 0 3px; 
      text-align: center; 
  }

  .pure-skin-usp 
  .pure-paginator-mini span { 
      display: none; 
  }
  .pure-paginator-zen    { padding: 14px; }          

  .pure-paginator-zen li {
      -webkit-transition: all 0.25s ease-out 0.5s;
      -moz-transition: all 0.25s ease-out 0.5s;
      -ms-transition: all 0.25s ease-out 0.5s;
      -o-transition: all 0.25s ease-out 0.5s;
      transition: all 0.25s ease-out 0.5s;
      opacity: 0;
  }

  .pure-paginator-zen:hover li {
      opacity: 1;
      -webkit-transition-delay: 0.15s;
      transition-delay: 0.15s;
  }

  span.totalResultsCount {
      margin-left: 20px;
      padding: 0 5px;
  }
  .pure-paginator-zen:hover li  {                    
      opacity: 1;
      -webkit-transition-delay: 0.15s;
      transition-delay: 0.15s;
  }
