.usp-accordion {
  margin: 10px 0;
  padding: 0;
  border: 2px solid #dddddd;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: none;
  background: none;
}

.usp-accordion-head {
  border: 0;
  padding: 0;
}

.usp-accordion-head div {
  display: flex;
  align-items: center;
  padding-right: 1em;
}

.usp-accordion-body-content .pure-g-r{
  display: block;
}

.usp-accordion:hover {
  box-shadow: none;
}

.usp-accordion:focus {
  box-shadow: none;
  outline: 0;
}

.usp-accordion-toggle {
  padding: 14px 0 14px 14px;
}

.usp-accordion-toggle:before {
  font-size: 1.85em;
  line-height: 0.2;
  color: #867c7c;
  position: relative;
  left: 5px;
  top: 5px;
  margin-right: 0.5em;
}

.resultCount {
  font-weight: bold;
}

#care-leaver-details {
  display:flex;
  .care-leaver-column {
    width: 50%;
  }
}
